In [9]:
import requests
import json
import pandas as pd
from models import *

In [10]:
import sqlalchemy
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
engine = sqlalchemy.create_engine('sqlite:///adverse--events.db', echo=True)
Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()

2018-11-14 15:05:00,878 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-14 15:05:00,880 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,883 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-14 15:05:00,884 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,888 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("events")
2018-11-14 15:05:00,889 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,892 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("brands")
2018-11-14 15:05:00,893 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,895 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("brands_events")
2018-11-14 15:05:00,896 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,897 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("reactions")
2018-11-14 15:05:00,898 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,900 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("reactions_events")
2018-11-14 15:05:00,901 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,903 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("holidays")
2018-11-14 15:05:00,908 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,911 INFO sqlalchemy.engine.base.Engine
CREATE TABLE brands (
	id INTEGER NOT NULL,
	name TEXT,
	PRIMARY KEY (id)
)


2018-11-14 15:05:00,912 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,918 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 15:05:00,920 INFO sqlalchemy.engine.base.Engine
CREATE TABLE reactions (
	id INTEGER NOT NULL,
	name TEXT,
	PRIMARY KEY (id)
)


2018-11-14 15:05:00,921 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,924 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 15:05:00,927 INFO sqlalchemy.engine.base.Engine
CREATE TABLE holidays (
	id INTEGER NOT NULL,
	name TEXT,
	date TEXT,
	PRIMARY KEY (id)
)


2018-11-14 15:05:00,930 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,944 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 15:05:00,948 INFO sqlalchemy.engine.base.Engine
CREATE TABLE events (
	id INTEGER NOT NULL,
	sex INTEGER,
	age INTEGER,
	holiday_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(holiday_id) REFERENCES holidays (id)
)


2018-11-14 15:05:00,950 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,956 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 15:05:00,960 INFO sqlalchemy.engine.base.Engine
CREATE TABLE brands_events (
	brand_id INTEGER NOT NULL,
	event_id INTEGER NOT NULL,
	PRIMARY KEY (brand_id, event_id),
	FOREIGN KEY(brand_id) REFERENCES brands (id),
	FOREIGN KEY(event_id) REFERENCES events (id)
)


2018-11-14 15:05:00,964 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,969 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 15:05:00,970 INFO sqlalchemy.engine.base.Engine
CREATE TABLE reactions_events (
	reactions_id INTEGER NOT NULL,
	event_id INTEGER NOT NULL,
	PRIMARY KEY (reactions_id, event_id),
	FOREIGN KEY(reactions_id) REFERENCES reactions (id),
	FOREIGN KEY(event_id) REFERENCES events (id)
)


2018-11-14 15:05:00,974 INFO sqlalchemy.engine.base.Engine ()
2018-11-14 15:05:00,979 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
class Results: 
    
    def get_results(date,events):
        data = []
        for i in range(0, events, 100):
            url = 'https://api.fda.gov/drug/event.json?api_key=iQLpf10vDEd4qDbJfIXK9Tm9SYFXo2cCoy4Ghv62&search=receivedate:' + str(date) + '&limit=100'+'&skip='+str(i)
            r = requests.get(url)
            jsoning_data = r.json()
            data += list(jsoning_data['results'])
        return data

In [14]:
Results.get_results(20170101,400)

KeyError: 'results'

In [4]:
class Instantiating_Holidays: 
    
    def holidays(event): #change to holiday_json later
            if event['receiptdate'] == '20171231':
                holiday = 'New Years Eve'
            elif event['receiptdate'] == '20171031':
                 holiday = 'Halloween'
            elif event['receiptdate'] == '20170214':
                holiday = 'Valentine\'s Day'
            elif event['receiptdate'] == '20170228':
                holiday = 'Mardi Gras'
            elif event['receiptdate'] == '20170317':
                holiday = 'St. Patrick\'s Day'
            elif event['receiptdate'] == '20170420':
                holiday = 'Cannabis Day'
            elif event['receiptdate'] == '20170505':
                holiday = 'Cinco de Mayo'
            elif event['receiptdate'] == '20170704':
                holiday = 'Independence Day'
            elif event['receiptdate'] == '20171123':
                holiday = 'Thanksgiving'
            elif event['receiptdate'] == '20171225':
                holiday = 'Christmas'
                
            holiday_name = Holidays(name=holiday,date=str('receiptdate'))
            return holiday_name

In [5]:
## GLOBAL FUNCTIONS

def sex(event):
    patients = []
    sex = []
    if 'patient' in event:
        sex.append(event['patient'])
    else: 
        sex.append('None')
    for i in sex:
        if 'patientsex' in i: 
            patients.append(int(i['patientsex']))
        else: 
            patients.append("None")
    return patients[0]

    
def age(event):
    patients = []
    ages = []
    if 'patient' in event:
        ages.append(event['patient'])
    else: 
        ages.append('None')
    for i in ages:
        if 'patientonsetage' in i: 
            patients.append(int(i['patientonsetage']))
        else: 
            patients.append('None')
    return patients[0]

In [6]:
class Instantiating_Events:

    def event_object(date,events):
        holiday_json = Results.get_results(date,events)
        our_holiday = Instantiating_Holidays.holidays(holiday_json[0])

        for event in holiday_json:
            sex_func = sex(event) 
            age_func = age(event)
            new_event = Adverse_Events(sex=sex_func, age=age_func, holidays = our_holiday)
            
            
            b = []
            if 'openfda' in event['patient']['drug'][0]:
                    if 'brand_name' in event['patient']['drug'][0]['openfda']:
                        b.extend(event['patient']['drug'][0]['openfda']['brand_name'])
                    else:
                        b.extend('None')
                        
            brand_list = []
            for brand in b: 
                brand_result = session.query(Brands).filter(Brands.name == brand).first()
                if brand_result: 
                    brand_list.append(brand_result)
                else: 
                    brand_list.append(Brands(name=brand))
            new_event.brands = brand_list
            
            
            
        
            reactions =  event['patient']['reaction']
            list_of_reactions = []
            for reaction in reactions: 
                list_of_reactions.append(reaction['reactionmeddrapt'])
            
            reaction_list = []
            for reaction in list_of_reactions: 
                reaction_result = session.query(Reactions).filter(Reactions.name == reaction).first()
                if reaction_result: 
                    reaction_list.append(reaction_result)
                else: 
                    reaction_list.append(Reactions(name=reaction))
            new_event.reactions = list(set(reaction_list))
            
            
            session.add(new_event)
            session.commit()

In [7]:
Instantiating_Events.event_object(20171225,1000)

2018-11-14 11:29:14,247 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:14,248 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,249 INFO sqlalchemy.engine.base.Engine ('PAROXETINE', 1, 0)
2018-11-14 11:29:14,253 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,254 INFO sqlalchemy.engine.base.Engine ('BRISDELLE', 1, 0)
2018-11-14 11:29:14,258 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,259 INFO sqlalchemy.engine.base.Engine ('Paraesthesia', 1, 0)
2018-11-14 11:29:14,263 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,265 INFO sqlalchemy.engine.base.Engine ('Urticaria', 1, 0)
2018-11-14 11:29:14,267 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,268 INFO sqlalchemy.engine.base.Engine ('Prescription drug used without a prescription', 1, 0)
2018-11-14 11:29:14,271 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,273 INFO sqlalchemy.engine.base.Engine ('Cervical cord compression', 1, 0)
2018-11-14 11:29:14,276 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,278 INFO sqlalchemy.engine.base.Engine ('Depression', 1, 0)
2018-11-14 11:29:14,288 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,290 INFO sqlalchemy.engine.base.Engine ('Intervertebral disc degeneration', 1, 0)
2018-11-14 11:29:14,293 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,295 INFO sqlalchemy.engine.base.Engine ('Drug intolerance', 1, 0)
2018-11-14 11:29:14,298 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,300 INFO sqlalchemy.engine.base.Engine ('Hangover', 1, 0)
2018-11-14 11:29:14,302 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,305 INFO sqlalchemy.engine.base.Engine ('Hypoaesthesia', 1, 0)
2018-11-14 11:29:14,309 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,312 INFO sqlalchemy.engine.base.Engine ('Weight increased', 1, 0)
2018-11-14 11:29:14,319 INFO sqlalchemy.engine.base.Engine INSERT INTO holidays (name, date) VALUES (?, ?)
2018-11-14 11:29:14,321 INFO sqlalchemy.engine.base.Engine ('Christmas', 'receiptdate')
2018-11-14 11:29:14,325 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:14,331 INFO sqlalchemy.engine.base.Engine ('PAROXETINE',)
2018-11-14 11:29:14,334 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:14,337 INFO sqlalchemy.engine.base.Engine ('BRISDELLE',)
2018-11-14 11:29:14,341 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,343 INFO sqlalchemy.engine.base.Engine ('Hypoaesthesia',)
2018-11-14 11:29:14,345 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,347 INFO sqlalchemy.engine.base.Engine ('Prescription drug used without a prescription',)
2018-11-14 11:29:14,350 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,352 INFO sqlalchemy.engine.base.Engine ('Paraesthesia',)
2018-11-14 11:29:14,358 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,361 INFO sqlalchemy.engine.base.Engine ('Urticaria',)
2018-11-14 11:29:14,364 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,366 INFO sqlalchemy.engine.base.Engine ('Cervical cord compression',)
2018-11-14 11:29:14,370 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,374 INFO sqlalchemy.engine.base.Engine ('Intervertebral disc degeneration',)
2018-11-14 11:29:14,438 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,448 INFO sqlalchemy.engine.base.Engine ('Drug intolerance',)
2018-11-14 11:29:14,458 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,462 INFO sqlalchemy.engine.base.Engine ('Weight increased',)
2018-11-14 11:29:14,466 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,470 INFO sqlalchemy.engine.base.Engine ('Hangover',)
2018-11-14 11:29:14,476 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,481 INFO sqlalchemy.engine.base.Engine ('Depression',)
2018-11-14 11:29:14,484 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:14,486 INFO sqlalchemy.engine.base.Engine (2, 49, 1)
2018-11-14 11:29:14,495 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:14,497 INFO sqlalchemy.engine.base.Engine ((1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1), (8, 1), (9, 1), (10, 1))
2018-11-14 11:29:14,510 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:14,511 INFO sqlalchemy.engine.base.Engine ((1, 1), (2, 1))
2018-11-14 11:29:14,516 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:14,531 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:14,533 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:14,537 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:14,541 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:14,546 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:29:14,552 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,554 INFO sqlalchemy.engine.base.Engine ('SOVALDI', 1, 0)
2018-11-14 11:29:14,565 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:14,574 INFO sqlalchemy.engine.base.Engine (2,)
2018-11-14 11:29:14,581 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:14,582 INFO sqlalchemy.engine.base.Engine ('SOVALDI',)
2018-11-14 11:29:14,588 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:14,591 INFO sqlalchemy.engine.base.Engine (3, 2)
2018-11-14 11:29:14,598 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,601 INFO sqlalchemy.engine.base.Engine ('Acute kidney injury', 1, 0)
2018-11-14 11:29:14,616 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:14,617 INFO sqlalchemy.engine.base.Engine ('Urinary tract infection', 1, 0)
2018-11-14 11:29:14,628 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,633 INFO sqlalchemy.engine.base.Engine ('Pain in extremity', 1, 0)
2018-11-14 11:29:14,637 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,639 INFO sqlalchemy.engine.base.Engine ('Treatment failure', 1, 0)
2018-11-14 11:29:14,641 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,643 INFO sqlalchemy.engine.base.Engine ('Headache', 1, 0)
2018-11-14 11:29:14,648 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,650 INFO sqlalchemy.engine.base.Engine ('Haemoglobin decreased', 1, 0)
2018-11-14 11:29:14,655 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,658 INFO sqlalchemy.engine.base.Engine ('Insomnia', 1, 0)
2018-11-14 11:29:14,662 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,663 INFO sqlalchemy.engine.base.Engine ('Abdominal pain', 1, 0)
2018-11-14 11:29:14,666 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,669 INFO sqlalchemy.engine.base.Engine ('Decreased appetite', 1, 0)
2018-11-14 11:29:14,677 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,678 INFO sqlalchemy.engine.base.Engine ('Pruritus', 1, 0)
2018-11-14 11:29:14,683 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,685 INFO sqlalchemy.engine.base.Engine ('Leukopenia', 1, 0)
2018-11-14 11:29:14,687 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,689 INFO sqlalchemy.engine.base.Engine ('Depression', 1, 0)
2018-11-14 11:29:14,691 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,693 INFO sqlalchemy.engine.base.Engine ('Somnolence', 1, 0)
2018-11-14 11:29:14,695 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,697 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:29:14,700 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,701 INFO sqlalchemy.engine.base.Engine ('Dizziness', 1, 0)
2018-11-14 11:29:14,703 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,709 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:29:14,715 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,717 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:29:14,722 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:14,724 INFO sqlalchemy.engine.base.Engine (2,)
2018-11-14 11:29:14,730 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,733 INFO sqlalchemy.engine.base.Engine ('Headache',)
2018-11-14 11:29:14,736 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,737 INFO sqlalchemy.engine.base.Engine ('Decreased appetite',)
2018-11-14 11:29:14,742 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,745 INFO sqlalchemy.engine.base.Engine ('Pruritus',)
2018-11-14 11:29:14,747 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,750 INFO sqlalchemy.engine.base.Engine ('Acute kidney injury',)
2018-11-14 11:29:14,752 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,753 INFO sqlalchemy.engine.base.Engine ('Rash',)
2018-11-14 11:29:14,755 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,757 INFO sqlalchemy.engine.base.Engine ('Dizziness',)
2018-11-14 11:29:14,759 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,760 INFO sqlalchemy.engine.base.Engine ('Leukopenia',)
2018-11-14 11:29:14,762 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,764 INFO sqlalchemy.engine.base.Engine ('Pain in extremity',)
2018-11-14 11:29:14,766 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,767 INFO sqlalchemy.engine.base.Engine ('Urinary tract infection',)
2018-11-14 11:29:14,769 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,770 INFO sqlalchemy.engine.base.Engine ('Abdominal pain',)
2018-11-14 11:29:14,771 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,772 INFO sqlalchemy.engine.base.Engine ('Somnolence',)
2018-11-14 11:29:14,774 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,776 INFO sqlalchemy.engine.base.Engine ('Treatment failure',)
2018-11-14 11:29:14,778 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,779 INFO sqlalchemy.engine.base.Engine ('Haemoglobin decreased',)
2018-11-14 11:29:14,784 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,786 INFO sqlalchemy.engine.base.Engine ('Fatigue',)
2018-11-14 11:29:14,788 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,790 INFO sqlalchemy.engine.base.Engine ('Insomnia',)
2018-11-14 11:29:14,792 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,794 INFO sqlalchemy.engine.base.Engine ('Diarrhoea',)
2018-11-14 11:29:14,797 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:14,799 INFO sqlalchemy.engine.base.Engine ((26, 2), (19, 2), (17, 2), (23, 2), (14, 2), (20, 2), (25, 2), (18, 2)  ... displaying 10 of 16 total bound parameter sets ...  (21, 2), (22, 2))
2018-11-14 11:29:14,801 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:14,802 INFO sqlalchemy.engine.base.Engine (10, 2)
2018-11-14 11:29:14,805 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:14,811 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:14,814 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:14,816 INFO sqlalchemy.engine.base.Engine (1,)

2018-11-14 11:29:14,818 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:14,820 INFO sqlalchemy.engine.base.Engine (2, 56, 1)
2018-11-14 11:29:14,823 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,825 INFO sqlalchemy.engine.base.Engine ('LEVOXYL', 1, 0)
2018-11-14 11:29:14,827 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:14,830 INFO sqlalchemy.engine.base.Engine (3,)
2018-11-14 11:29:14,834 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:14,837 INFO sqlalchemy.engine.base.Engine ('LEVOXYL',)
2018-11-14 11:29:14,841 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:14,845 INFO sqlalchemy.engine.base.Engine (4, 3)
2018-11-14 11:29:14,848 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,849 INFO sqlalchemy.engine.base.Engine ('Thyroid cancer', 1, 0)
2018-11-14 11:29:14,851 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:14,852 INFO sqlalchemy.engine.base.Engine (3,)
2018-11-14 11:29:14,856 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,857 INFO sqlalchemy.engine.base.Engine ('Thyroid cancer',)
2018-11-14 11:29:14,859 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:14,861 INFO sqlalchemy.engine.base.Engine (27, 3)
2018-11-14 11:29:14,864 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:14,872 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:14,874 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:14,877 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:14,882 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:14,883 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:14,903 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,910 INFO sqlalchemy.engine.base.Engine ('AVASTIN', 1, 0)
2018-11-14 11:29:14,916 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:14,919 INFO sqlalchemy.engine.base.Engine (4,)
2018-11-14 11:29:14,925 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:14,927 INFO sqlalchemy.engine.base.Engine ('AVASTIN',)
2018-11-14 11:29:14,930 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:14,932 INFO sqlalchemy.engine.base.Engine (5, 4)
2018-11-14 11:29:14,935 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,938 INFO sqlalchemy.engine.base.Engine ('Nasopharyngitis', 1, 0)
2018-11-14 11:29:14,942 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,945 INFO sqlalchemy.engine.base.Engine ('Transaminases increased', 1, 0)
2018-11-14 11:29:14,948 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:14,951 INFO sqlalchemy.engine.base.Engine ('Liver injury', 1, 0)
2018-11-14 11:29:14,953 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:14,954 INFO sqlalchemy.engine.base.Engine (4,)
2018-11-14 11:29:14,959 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,962 INFO sqlalchemy.engine.base.Engine ('Transaminases increased',)
2018-11-14 11:29:14,967 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,970 INFO sqlalchemy.engine.base.Engine ('Liver injury',)
2018-11-14 11:29:14,971 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:14,973 INFO sqlalchemy.engine.base.Engine ('Nasopharyngitis',)
2018-11-14 11:29:14,976 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:14,978 INFO sqlalchemy.engine.base.Engine ((28, 4), (29, 4), (30, 4))
2018-11-14 11:29:14,981 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:14,991 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:14,998 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:15,001 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:15,016 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:15,019 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:15,022 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,024 INFO sqlalchemy.engine.base.Engine ('ENTRESTO', 1, 0)
2018-11-14 11:29:15,028 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:15,030 INFO sqlalchemy.engine.base.Engine (5,)
2018-11-14 11:29:15,033 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,035 INFO sqlalchemy.engine.base.Engine ('ENTRESTO',)
2018-11-14 11:29:15,037 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,039 INFO sqlalchemy.engine.base.Engine (6, 5)
2018-11-14 11:29:15,042 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,043 INFO sqlalchemy.engine.base.Engine ('Cardiac failure', 1, 0)
2018-11-14 11:29:15,047 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:15,051 INFO sqlalchemy.engine.base.Engine (5,)
2018-11-14 11:29:15,055 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,061 INFO sqlalchemy.engine.base.Engine ('Cardiac failure',)
2018-11-14 11:29:15,065 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,066 INFO sqlalchemy.engine.base.Engine (31, 5)
2018-11-14 11:29:15,069 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:15,075 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:15,077 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:15,080 INFO sqlalchemy.engine.base.Engine (1,)

2018-11-14 11:29:15,083 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:15,085 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:29:15,090 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,092 INFO sqlalchemy.engine.base.Engine ('ENTRESTO', 1, 0)
2018-11-14 11:29:15,094 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:15,096 INFO sqlalchemy.engine.base.Engine (6,)
2018-11-14 11:29:15,100 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,102 INFO sqlalchemy.engine.base.Engine (6, 6)
2018-11-14 11:29:15,105 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,109 INFO sqlalchemy.engine.base.Engine ('Hyperkalaemia', 1, 0)
2018-11-14 11:29:15,111 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:15,113 INFO sqlalchemy.engine.base.Engine (6,)
2018-11-14 11:29:15,116 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,118 INFO sqlalchemy.engine.base.Engine ('Hyperkalaemia',)
2018-11-14 11:29:15,120 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,121 INFO sqlalchemy.engine.base.Engine (32, 6)
2018-11-14 11:29:15,125 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:15,133 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:15,136 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:15,138 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:15,141 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:15,142 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:15,147 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,148 INFO sqlalchemy.engine.base.Engine ('VIVELLE-DOT', 1, 0)
2018-11-14 11:29:15,151 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:15,152 INFO sqlalchemy.engine.base.Engine (7,)
2018-11-14 11:29:15,156 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,159 INFO sqlalchemy.engine.base.Engine ('VIVELLE-DOT',)
2018-11-14 11:29:15,161 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,165 INFO sqlalchemy.engine.base.Engine (7, 7)
2018-11-14 11:29:15,169 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,169 INFO sqlalchemy.engine.base.Engine ('Insomnia', 1, 0)
2018-11-14 11:29:15,172 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,173 INFO sqlalchemy.engine.base.Engine ('Wrong technique in product usage process', 1, 0)
2018-11-14 11:29:15,175 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,177 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:15,181 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,183 INFO sqlalchemy.engine.base.Engine ('Hot flush', 1, 0)
2018-11-14 11:29:15,186 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,187 INFO sqlalchemy.engine.base.Engine ('Feeling abnormal', 1, 0)
2018-11-14 11:29:15,191 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,193 INFO sqlalchemy.engine.base.Engine ('Epistaxis', 1, 0)
2018-11-14 11:29:15,196 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:15,197 INFO sqlalchemy.engine.base.Engine (7,)
2018-11-14 11:29:15,203 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,204 INFO sqlalchemy.engine.base.Engine ('Epistaxis',)
2018-11-14 11:29:15,207 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,209 INFO sqlalchemy.engine.base.Engine ('Hot flush',)
2018-11-14 11:29:15,214 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,215 INFO sqlalchemy.engine.base.Engine ('Feeling abnormal',)
2018-11-14 11:29:15,217 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,218 INFO sqlalchemy.engine.base.Engine ('Drug ineffective',)
2018-11-14 11:29:15,219 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,228 INFO sqlalchemy.engine.base.Engine ('Wrong technique in product usage process',)
2018-11-14 11:29:15,233 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,236 INFO sqlalchemy.engine.base.Engine ((34, 7), (36, 7), (37, 7), (35, 7), (33, 7))
2018-11-14 11:29:15,238 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,239 INFO sqlalchemy.engine.base.Engine (25, 7)
2018-11-14 11:29:15,241 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:15,247 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:15,251 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:15,252 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:15,255 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:15,256 INFO sqlalchemy.engine.base.Engine (1, 39, 1)
2018-11-14 11:29:15,261 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,262 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:29:15,264 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:15,266 INFO sqlalchemy.engine.base.Engine (8,)
2018-11-14 11:29:15,270 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,275 INFO sqlalchemy.engine.base.Engine ('HUMIRA',)
2018-11-14 11:29:15,278 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,279 INFO sqlalchemy.engine.base.Engine (8, 8)
2018-11-14 11:29:15,282 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:15,284 INFO sqlalchemy.engine.base.Engine ('Generalised tonic-clonic seizure', 1, 0)
2018-11-14 11:29:15,287 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,289 INFO sqlalchemy.engine.base.Engine ('Psoriatic arthropathy', 1, 0)
2018-11-14 11:29:15,293 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:15,295 INFO sqlalchemy.engine.base.Engine (8,)
2018-11-14 11:29:15,299 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,300 INFO sqlalchemy.engine.base.Engine ('Generalised tonic-clonic seizure',)
2018-11-14 11:29:15,302 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,306 INFO sqlalchemy.engine.base.Engine ('Psoriatic arthropathy',)
2018-11-14 11:29:15,321 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,323 INFO sqlalchemy.engine.base.Engine ((38, 8), (39, 8))
2018-11-14 11:29:15,331 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:15,337 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:15,339 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:15,341 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:15,346 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:15,347 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:15,351 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,360 INFO sqlalchemy.engine.base.Engine ('N', 1, 0)
2018-11-14 11:29:15,364 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,365 INFO sqlalchemy.engine.base.Engine ('o', 1, 0)
2018-11-14 11:29:15,369 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,371 INFO sqlalchemy.engine.base.Engine ('n', 1, 0)
2018-11-14 11:29:15,373 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,374 INFO sqlalchemy.engine.base.Engine ('e', 1, 0)
2018-11-14 11:29:15,376 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:15,379 INFO sqlalchemy.engine.base.Engine (9,)
2018-11-14 11:29:15,388 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,389 INFO sqlalchemy.engine.base.Engine ('N',)
2018-11-14 11:29:15,396 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,401 INFO sqlalchemy.engine.base.Engine ('o',)
2018-11-14 11:29:15,407 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,408 INFO sqlalchemy.engine.base.Engine ('n',)
2018-11-14 11:29:15,415 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,419 INFO sqlalchemy.engine.base.Engine ('e',)
2018-11-14 11:29:15,425 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,427 INFO sqlalchemy.engine.base.Engine ((10, 9), (12, 9), (9, 9), (11, 9))
2018-11-14 11:29:15,430 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,433 INFO sqlalchemy.engine.base.Engine ('Drug intolerance', 1, 0)
2018-11-14 11:29:15,436 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:15,437 INFO sqlalchemy.engine.base.Engine (9,)
2018-11-14 11:29:15,440 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,442 INFO sqlalchemy.engine.base.Engine (7, 9)
2018-11-14 11:29:15,445 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:15,452 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:15,455 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:15,457 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:15,463 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:15,464 INFO sqlalchemy.engine.base.Engine (1, 64, 1)
2018-11-14 11:29:15,468 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,469 INFO sqlalchemy.engine.base.Engine ('SPIRIVA', 1, 0)
2018-11-14 11:29:15,472 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:15,473 INFO sqlalchemy.engine.base.Engine (10,)
2018-11-14 11:29:15,476 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,477 INFO sqlalchemy.engine.base.Engine ('SPIRIVA',)
2018-11-14 11:29:15,481 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,484 INFO sqlalchemy.engine.base.Engine (13, 10)
2018-11-14 11:29:15,487 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,491 INFO sqlalchemy.engine.base.Engine ('Lung neoplasm malignant', 1, 0)
2018-11-14 11:29:15,496 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:15,500 INFO sqlalchemy.engine.base.Engine (10,)
2018-11-14 11:29:15,503 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,505 INFO sqlalchemy.engine.base.Engine ('Lung neoplasm malignant',)
2018-11-14 11:29:15,511 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,513 INFO sqlalchemy.engine.base.Engine (40, 10)
2018-11-14 11:29:15,522 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:15,531 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:15,534 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:15,536 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:15,539 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:15,541 INFO sqlalchemy.engine.base.Engine (2, 62, 1)
2018-11-14 11:29:15,544 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,546 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal disorder', 1, 0)
2018-11-14 11:29:15,551 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id

2018-11-14 11:29:15,556 INFO sqlalchemy.engine.base.Engine (11,)
2018-11-14 11:29:15,563 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,565 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal disorder',)
2018-11-14 11:29:15,566 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,568 INFO sqlalchemy.engine.base.Engine (41, 11)
2018-11-14 11:29:15,570 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:15,577 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:15,581 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:15,583 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:15,589 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:15,592 INFO sqlalchemy.engine.base.Engine (2, 68, 1)
2018-11-14 11:29:15,595 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,598 INFO sqlalchemy.engine.base.Engine ('NEXIUM', 1, 0)
2018-11-14 11:29:15,601 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,609 INFO sqlalchemy.engine.base.Engine ('NEXIUM I.V.', 1, 0)
2018-11-14 11:29:15,612 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:15,614 INFO sqlalchemy.engine.base.Engine (12,)
2018-11-14 11:29:15,617 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,628 INFO sqlalchemy.engine.base.Engine ('NEXIUM',)
2018-11-14 11:29:15,634 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,635 INFO sqlalchemy.engine.base.Engine ('NEXIUM I.V.',)
2018-11-14 11:29:15,638 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,640 INFO sqlalchemy.engine.base.Engine ((15, 12), (14, 12))
2018-11-14 11:29:15,644 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,645 INFO sqlalchemy.engine.base.Engine ('Body height decreased', 1, 0)
2018-11-14 11:29:15,648 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,649 INFO sqlalchemy.engine.base.Engine ('Feeling abnormal', 1, 0)
2018-11-14 11:29:15,653 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,654 INFO sqlalchemy.engine.base.Engine ('Abdominal distension', 1, 0)
2018-11-14 11:29:15,658 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,660 INFO sqlalchemy.engine.base.Engine ('Spinal deformity', 1, 0)
2018-11-14 11:29:15,664 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,666 INFO sqlalchemy.engine.base.Engine ('Faeces discoloured', 1, 0)
2018-11-14 11:29:15,668 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,672 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:29:15,677 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,679 INFO sqlalchemy.engine.base.Engine ('Frequent bowel movements', 1, 0)
2018-11-14 11:29:15,683 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,686 INFO sqlalchemy.engine.base.Engine ('Arthritis', 1, 0)
2018-11-14 11:29:15,689 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,692 INFO sqlalchemy.engine.base.Engine ('Flatulence', 1, 0)
2018-11-14 11:29:15,699 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,700 INFO sqlalchemy.engine.base.Engine ('Renal disorder', 1, 0)
2018-11-14 11:29:15,703 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,705 INFO sqlalchemy.engine.base.Engine ('Back pain', 1, 0)
2018-11-14 11:29:15,708 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,709 INFO sqlalchemy.engine.base.Engine ('Product use issue', 1, 0)
2018-11-14 11:29:15,712 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,714 INFO sqlalchemy.engine.base.Engine ('Meniscus injury', 1, 0)
2018-11-14 11:29:15,716 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,718 INFO sqlalchemy.engine.base.Engine ('Productive cough', 1, 0)
2018-11-14 11:29:15,720 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,722 INFO sqlalchemy.engine.base.Engine ('Weight increased', 1, 0)
2018-11-14 11:29:15,725 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,726 INFO sqlalchemy.engine.base.Engine ('Bone pain', 1, 0)
2018-11-14 11:29:15,729 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,731 INFO sqlalchemy.engine.base.Engine ('Abdominal pain upper', 1, 0)
2018-11-14 11:29:15,734 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,736 INFO sqlalchemy.engine.base.Engine ('Constipation', 1, 0)
2018-11-14 11:29:15,739 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,741 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:29:15,744 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,745 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:29:15,748 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,750 INFO sqlalchemy.engine.base.Engine ('Swelling', 1, 0)
2018-11-14 11:29:15,753 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:15,755 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:15,758 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,760 INFO sqlalchemy.engine.base.Engine ('Bladder discomfort', 1, 0)
2018-11-14 11:29:15,762 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:15,763 INFO sqlalchemy.engine.base.Engine (12,)
2018-11-14 11:29:15,768 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,771 INFO sqlalchemy.engine.base.Engine ('Abdominal distension',)
2018-11-14 11:29:15,777 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,778 INFO sqlalchemy.engine.base.Engine ('Spinal deformity',)
2018-11-14 11:29:15,780 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,781 INFO sqlalchemy.engine.base.Engine ('Back pain',)
2018-11-14 11:29:15,782 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,783 INFO sqlalchemy.engine.base.Engine ('Frequent bowel movements',)
2018-11-14 11:29:15,785 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,786 INFO sqlalchemy.engine.base.Engine ('Swelling',)
2018-11-14 11:29:15,788 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,789 INFO sqlalchemy.engine.base.Engine ('Product use issue',)
2018-11-14 11:29:15,793 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,796 INFO sqlalchemy.engine.base.Engine ('Vomiting',)
2018-11-14 11:29:15,797 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,797 INFO sqlalchemy.engine.base.Engine ('Body height decreased',)
2018-11-14 11:29:15,799 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,800 INFO sqlalchemy.engine.base.Engine ('Constipation',)
2018-11-14 11:29:15,801 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,802 INFO sqlalchemy.engine.base.Engine ('Faeces discoloured',)
2018-11-14 11:29:15,804 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,805 INFO sqlalchemy.engine.base.Engine ('Bone pain',)
2018-11-14 11:29:15,808 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,813 INFO sqlalchemy.engine.base.Engine ('Bladder discomfort',)
2018-11-14 11:29:15,814 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,815 INFO sqlalchemy.engine.base.Engine ('Flatulence',)
2018-11-14 11:29:15,816 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,818 INFO sqlalchemy.engine.base.Engine ('Meniscus injury',)
2018-11-14 11:29:15,819 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,820 INFO sqlalchemy.engine.base.Engine ('Productive cough',)
2018-11-14 11:29:15,821 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,822 INFO sqlalchemy.engine.base.Engine ('Off label use',)
2018-11-14 11:29:15,823 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,825 INFO sqlalchemy.engine.base.Engine ('Arthritis',)
2018-11-14 11:29:15,827 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,828 INFO sqlalchemy.engine.base.Engine ('Renal disorder',)
2018-11-14 11:29:15,829 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,831 INFO sqlalchemy.engine.base.Engine ('Abdominal pain upper',)
2018-11-14 11:29:15,835 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,838 INFO sqlalchemy.engine.base.Engine ((45, 12), (52, 12), (43, 12), (55, 12), (44, 12), (50, 12), (57, 12), (60, 12)  ... displaying 10 of 19 total bound parameter sets ...  (42, 12), (49, 12))
2018-11-14 11:29:15,839 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,840 INFO sqlalchemy.engine.base.Engine ((26, 12), (8, 12), (24, 12), (35, 12))
2018-11-14 11:29:15,845 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:15,860 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:15,863 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:15,864 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:15,866 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:15,867 INFO sqlalchemy.engine.base.Engine (2, 46, 1)
2018-11-14 11:29:15,871 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,873 INFO sqlalchemy.engine.base.Engine ('NEULASTA', 1, 0)
2018-11-14 11:29:15,875 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:15,876 INFO sqlalchemy.engine.base.Engine (13,)
2018-11-14 11:29:15,881 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,883 INFO sqlalchemy.engine.base.Engine ('NEULASTA',)
2018-11-14 11:29:15,886 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,889 INFO sqlalchemy.engine.base.Engine (16, 13)
2018-11-14 11:29:15,892 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,896 INFO sqlalchemy.engine.base.Engine ('Bone pain', 1, 0)
2018-11-14 11:29:15,900 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,902 INFO sqlalchemy.engine.base.Engine ('Loss of consciousness', 1, 0)
2018-11-14 11:29:15,904 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:15,905 INFO sqlalchemy.engine.base.Engine (13,)
2018-11-14 11:29:15,910 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:15,912 INFO sqlalchemy.engine.base.Engine ('Loss of consciousness',)
2018-11-14 11:29:15,915 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,917 INFO sqlalchemy.engine.base.Engine (61, 13)
2018-11-14 11:29:15,919 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,921 INFO sqlalchemy.engine.base.Engine (52, 13)
2018-11-14 11:29:15,923 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:15,938 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:15,942 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:15,944 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:15,946 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:15,948 INFO sqlalchemy.engine.base.Engine (2, 20, 1)
2018-11-14 11:29:15,951 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:15,954 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:15,957 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:15,962 INFO sqlalchemy.engine.base.Engine (14,)
2018-11-14 11:29:15,967 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:15,969 INFO sqlalchemy.engine.base.Engine ('ENBREL',)
2018-11-14 11:29:15,971 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,974 INFO sqlalchemy.engine.base.Engine (17, 14)
2018-11-14 11:29:15,980 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:15,982 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:15,984 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:15,986 INFO sqlalchemy.engine.base.Engine (14,)
2018-11-14 11:29:15,990 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:15,991 INFO sqlalchemy.engine.base.Engine (57, 14)
2018-11-14 11:29:15,993 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:15,999 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,002 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,005 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,009 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,011 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:29:16,017 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,018 INFO sqlalchemy.engine.base.Engine ('NESINA', 1, 0)
2018-11-14 11:29:16,022 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:16,023 INFO sqlalchemy.engine.base.Engine (15,)
2018-11-14 11:29:16,029 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:16,030 INFO sqlalchemy.engine.base.Engine ('NESINA',)
2018-11-14 11:29:16,036 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,038 INFO sqlalchemy.engine.base.Engine (18, 15)
2018-11-14 11:29:16,042 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,044 INFO sqlalchemy.engine.base.Engine ('Pemphigoid', 1, 0)
2018-11-14 11:29:16,046 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,048 INFO sqlalchemy.engine.base.Engine (15,)
2018-11-14 11:29:16,052 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,055 INFO sqlalchemy.engine.base.Engine ('Pemphigoid',)
2018-11-14 11:29:16,057 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,061 INFO sqlalchemy.engine.base.Engine (62, 15)
2018-11-14 11:29:16,065 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,071 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,073 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,074 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,079 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,081 INFO sqlalchemy.engine.base.Engine (2, 80, 1)
2018-11-14 11:29:16,084 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,086 INFO sqlalchemy.engine.base.Engine ('LUCENTIS', 1, 0)
2018-11-14 11:29:16,089 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:16,091 INFO sqlalchemy.engine.base.Engine (16,)
2018-11-14 11:29:16,096 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:16,098 INFO sqlalchemy.engine.base.Engine ('LUCENTIS',)
2018-11-14 11:29:16,103 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,104 INFO sqlalchemy.engine.base.Engine (19, 16)
2018-11-14 11:29:16,108 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,111 INFO sqlalchemy.engine.base.Engine ('Detachment of retinal pigment epithelium', 1, 0)
2018-11-14 11:29:16,113 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,116 INFO sqlalchemy.engine.base.Engine ('Neovascular age-related macular degeneration', 1, 0)
2018-11-14 11:29:16,120 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,125 INFO sqlalchemy.engine.base.Engine (16,)
2018-11-14 11:29:16,133 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,136 INFO sqlalchemy.engine.base.Engine ('Detachment of retinal pigment epithelium',)
2018-11-14 11:29:16,144 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,146 INFO sqlalchemy.engine.base.Engine ('Neovascular age-related macular degeneration',)
2018-11-14 11:29:16,149 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,151 INFO sqlalchemy.engine.base.Engine ((63, 16), (64, 16))
2018-11-14 11:29:16,156 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,167 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,169 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,171 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,174 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,177 INFO sqlalchemy.engine.base.Engine (2, 46, 1)
2018-11-14 11:29:16,181 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,182 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:29:16,183 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:16,185 INFO sqlalchemy.engine.base.Engine (17,)
2018-11-14 11:29:16,189 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,190 INFO sqlalchemy.engine.base.Engine (8, 17)

2018-11-14 11:29:16,192 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,194 INFO sqlalchemy.engine.base.Engine ('Diabetes mellitus', 1, 0)
2018-11-14 11:29:16,196 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,198 INFO sqlalchemy.engine.base.Engine (17,)
2018-11-14 11:29:16,205 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,206 INFO sqlalchemy.engine.base.Engine ('Diabetes mellitus',)
2018-11-14 11:29:16,219 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,221 INFO sqlalchemy.engine.base.Engine (65, 17)
2018-11-14 11:29:16,222 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,234 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,238 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,239 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,241 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,255 INFO sqlalchemy.engine.base.Engine (2, 72, 1)
2018-11-14 11:29:16,260 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,268 INFO sqlalchemy.engine.base.Engine ('ELIQUIS', 1, 0)
2018-11-14 11:29:16,274 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,284 INFO sqlalchemy.engine.base.Engine ('ELIQUIS 30-DAY STARTER PACK', 1, 0)
2018-11-14 11:29:16,288 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:16,290 INFO sqlalchemy.engine.base.Engine (18,)
2018-11-14 11:29:16,294 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:16,297 INFO sqlalchemy.engine.base.Engine ('ELIQUIS',)
2018-11-14 11:29:16,301 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:16,305 INFO sqlalchemy.engine.base.Engine ('ELIQUIS 30-DAY STARTER PACK',)
2018-11-14 11:29:16,313 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,314 INFO sqlalchemy.engine.base.Engine ((20, 18), (21, 18))
2018-11-14 11:29:16,318 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,322 INFO sqlalchemy.engine.base.Engine ('Neuropathy peripheral', 1, 0)
2018-11-14 11:29:16,324 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,326 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:29:16,329 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,331 INFO sqlalchemy.engine.base.Engine (18,)
2018-11-14 11:29:16,335 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,336 INFO sqlalchemy.engine.base.Engine ('Dyspnoea',)
2018-11-14 11:29:16,341 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,350 INFO sqlalchemy.engine.base.Engine ('Neuropathy peripheral',)
2018-11-14 11:29:16,352 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,354 INFO sqlalchemy.engine.base.Engine ((67, 18), (66, 18))
2018-11-14 11:29:16,356 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,367 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,371 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,373 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,375 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,377 INFO sqlalchemy.engine.base.Engine (1, 25, 1)
2018-11-14 11:29:16,382 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,384 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:29:16,388 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:16,389 INFO sqlalchemy.engine.base.Engine (19,)
2018-11-14 11:29:16,394 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,396 INFO sqlalchemy.engine.base.Engine (8, 19)
2018-11-14 11:29:16,398 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,400 INFO sqlalchemy.engine.base.Engine ('Crohn^s disease', 1, 0)
2018-11-14 11:29:16,403 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,404 INFO sqlalchemy.engine.base.Engine ('Pancreatic neoplasm', 1, 0)
2018-11-14 11:29:16,409 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,419 INFO sqlalchemy.engine.base.Engine ('Somnolence', 1, 0)
2018-11-14 11:29:16,423 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,429 INFO sqlalchemy.engine.base.Engine (19,)
2018-11-14 11:29:16,436 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,437 INFO sqlalchemy.engine.base.Engine ('Crohn^s disease',)
2018-11-14 11:29:16,438 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,439 INFO sqlalchemy.engine.base.Engine ('Pancreatic neoplasm',)
2018-11-14 11:29:16,444 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,448 INFO sqlalchemy.engine.base.Engine ((69, 19), (68, 19))
2018-11-14 11:29:16,449 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,451 INFO sqlalchemy.engine.base.Engine (21, 19)
2018-11-14 11:29:16,454 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,463 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,466 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,468 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,470 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,473 INFO sqlalchemy.engine.base.Engine (2, 71, 1)
2018-11-14 11:29:16,476 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:16,478 INFO sqlalchemy.engine.base.Engine ('Liver disorder', 1, 0)
2018-11-14 11:29:16,482 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,483 INFO sqlalchemy.engine.base.Engine ('Fixed eruption', 1, 0)
2018-11-14 11:29:16,487 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,489 INFO sqlalchemy.engine.base.Engine ('Cytomegalovirus enterocolitis', 1, 0)
2018-11-14 11:29:16,491 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,492 INFO sqlalchemy.engine.base.Engine (20,)
2018-11-14 11:29:16,497 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,498 INFO sqlalchemy.engine.base.Engine ('Cytomegalovirus enterocolitis',)
2018-11-14 11:29:16,502 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,503 INFO sqlalchemy.engine.base.Engine ('Fixed eruption',)
2018-11-14 11:29:16,509 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,513 INFO sqlalchemy.engine.base.Engine ('Liver disorder',)
2018-11-14 11:29:16,515 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,516 INFO sqlalchemy.engine.base.Engine ((72, 20), (70, 20), (71, 20))
2018-11-14 11:29:16,518 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,525 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,529 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,531 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,535 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,538 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:16,542 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,545 INFO sqlalchemy.engine.base.Engine ('HERCEPTIN', 1, 0)
2018-11-14 11:29:16,548 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:16,549 INFO sqlalchemy.engine.base.Engine (21,)
2018-11-14 11:29:16,553 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:16,555 INFO sqlalchemy.engine.base.Engine ('HERCEPTIN',)
2018-11-14 11:29:16,557 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,560 INFO sqlalchemy.engine.base.Engine (22, 21)
2018-11-14 11:29:16,563 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,565 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:29:16,568 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,570 INFO sqlalchemy.engine.base.Engine ('Mood altered', 1, 0)
2018-11-14 11:29:16,572 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,573 INFO sqlalchemy.engine.base.Engine (21,)
2018-11-14 11:29:16,576 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,578 INFO sqlalchemy.engine.base.Engine ('Mood altered',)
2018-11-14 11:29:16,580 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,580 INFO sqlalchemy.engine.base.Engine ('Asthenia',)
2018-11-14 11:29:16,582 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,583 INFO sqlalchemy.engine.base.Engine ((73, 21), (74, 21))
2018-11-14 11:29:16,585 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,591 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,594 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,596 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,598 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,600 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:16,605 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,607 INFO sqlalchemy.engine.base.Engine ('HERCEPTIN', 1, 0)
2018-11-14 11:29:16,611 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:16,615 INFO sqlalchemy.engine.base.Engine (22,)
2018-11-14 11:29:16,618 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,625 INFO sqlalchemy.engine.base.Engine (22, 22)
2018-11-14 11:29:16,628 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,630 INFO sqlalchemy.engine.base.Engine ('Affective disorder', 1, 0)
2018-11-14 11:29:16,635 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,636 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:29:16,639 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,640 INFO sqlalchemy.engine.base.Engine ('Depression', 1, 0)
2018-11-14 11:29:16,642 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,646 INFO sqlalchemy.engine.base.Engine (22,)
2018-11-14 11:29:16,649 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,651 INFO sqlalchemy.engine.base.Engine ('Affective disorder',)
2018-11-14 11:29:16,654 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,656 INFO sqlalchemy.engine.base.Engine (75, 22)
2018-11-14 11:29:16,660 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,662 INFO sqlalchemy.engine.base.Engine ((10, 22), (74, 22))
2018-11-14 11:29:16,664 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,671 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,674 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,676 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,681 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,682 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)

2018-11-14 11:29:16,686 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,688 INFO sqlalchemy.engine.base.Engine ('METHYLPREDNISOLONE SODIUM SUCCINATE', 1, 0)
2018-11-14 11:29:16,690 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,693 INFO sqlalchemy.engine.base.Engine ('MEDROL', 1, 0)
2018-11-14 11:29:16,697 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,698 INFO sqlalchemy.engine.base.Engine ('METHYLPREDNISOLONE', 1, 0)
2018-11-14 11:29:16,700 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:16,703 INFO sqlalchemy.engine.base.Engine (23,)
2018-11-14 11:29:16,707 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:16,716 INFO sqlalchemy.engine.base.Engine ('METHYLPREDNISOLONE SODIUM SUCCINATE',)
2018-11-14 11:29:16,718 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:16,720 INFO sqlalchemy.engine.base.Engine ('MEDROL',)
2018-11-14 11:29:16,726 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:16,730 INFO sqlalchemy.engine.base.Engine ('METHYLPREDNISOLONE',)
2018-11-14 11:29:16,733 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,734 INFO sqlalchemy.engine.base.Engine ((23, 23), (24, 23), (25, 23))
2018-11-14 11:29:16,737 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,739 INFO sqlalchemy.engine.base.Engine ('Encephalitis autoimmune', 1, 0)
2018-11-14 11:29:16,741 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,743 INFO sqlalchemy.engine.base.Engine ('Factor XIII deficiency', 1, 0)
2018-11-14 11:29:16,747 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,750 INFO sqlalchemy.engine.base.Engine ('Hemiparesis', 1, 0)
2018-11-14 11:29:16,754 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,755 INFO sqlalchemy.engine.base.Engine ('Haematoma', 1, 0)
2018-11-14 11:29:16,757 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,760 INFO sqlalchemy.engine.base.Engine ('Serratia infection', 1, 0)
2018-11-14 11:29:16,765 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,767 INFO sqlalchemy.engine.base.Engine (23,)
2018-11-14 11:29:16,771 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,772 INFO sqlalchemy.engine.base.Engine ('Encephalitis autoimmune',)
2018-11-14 11:29:16,774 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,776 INFO sqlalchemy.engine.base.Engine ('Hemiparesis',)
2018-11-14 11:29:16,777 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,778 INFO sqlalchemy.engine.base.Engine ('Serratia infection',)
2018-11-14 11:29:16,779 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,781 INFO sqlalchemy.engine.base.Engine ('Haematoma',)
2018-11-14 11:29:16,783 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:16,783 INFO sqlalchemy.engine.base.Engine ('Factor XIII deficiency',)
2018-11-14 11:29:16,785 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,788 INFO sqlalchemy.engine.base.Engine ((78, 23), (76, 23), (80, 23), (79, 23), (77, 23))
2018-11-14 11:29:16,791 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,798 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,801 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,802 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,804 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,807 INFO sqlalchemy.engine.base.Engine (2, 35, 1)
2018-11-14 11:29:16,810 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,812 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:16,814 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:16,816 INFO sqlalchemy.engine.base.Engine (24,)
2018-11-14 11:29:16,823 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,825 INFO sqlalchemy.engine.base.Engine (17, 24)
2018-11-14 11:29:16,829 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,831 INFO sqlalchemy.engine.base.Engine ('Wrong technique in product usage process', 1, 0)
2018-11-14 11:29:16,834 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,839 INFO sqlalchemy.engine.base.Engine (24,)
2018-11-14 11:29:16,842 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,844 INFO sqlalchemy.engine.base.Engine (37, 24)
2018-11-14 11:29:16,847 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,852 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,855 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,857 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,859 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,863 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:16,869 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,872 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:16,876 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:16,911 INFO sqlalchemy.engine.base.Engine (25,)
2018-11-14 11:29:16,921 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,926 INFO sqlalchemy.engine.base.Engine (17, 25)
2018-11-14 11:29:16,929 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:16,931 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:16,934 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:16,935 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:16,936 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:16,937 INFO sqlalchemy.engine.base.Engine (25,)
2018-11-14 11:29:16,941 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:16,949 INFO sqlalchemy.engine.base.Engine ((36, 25), (57, 25))
2018-11-14 11:29:16,952 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:16,963 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:16,967 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:16,970 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:16,974 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:16,990 INFO sqlalchemy.engine.base.Engine (1, 68, 1)
2018-11-14 11:29:17,004 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,005 INFO sqlalchemy.engine.base.Engine ('HALOPERIDOL', 1, 0)
2018-11-14 11:29:17,008 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,010 INFO sqlalchemy.engine.base.Engine ('HALDOL', 1, 0)
2018-11-14 11:29:17,014 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:17,015 INFO sqlalchemy.engine.base.Engine (26,)
2018-11-14 11:29:17,020 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,022 INFO sqlalchemy.engine.base.Engine ('HALOPERIDOL',)
2018-11-14 11:29:17,024 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,026 INFO sqlalchemy.engine.base.Engine ('HALDOL',)
2018-11-14 11:29:17,028 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,030 INFO sqlalchemy.engine.base.Engine ((26, 26), (27, 26))
2018-11-14 11:29:17,033 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,034 INFO sqlalchemy.engine.base.Engine ('Electrocardiogram QT prolonged', 1, 0)
2018-11-14 11:29:17,037 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,039 INFO sqlalchemy.engine.base.Engine (26,)
2018-11-14 11:29:17,042 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,043 INFO sqlalchemy.engine.base.Engine ('Electrocardiogram QT prolonged',)
2018-11-14 11:29:17,045 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,047 INFO sqlalchemy.engine.base.Engine (81, 26)
2018-11-14 11:29:17,049 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,055 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,059 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,060 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,065 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,066 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:17,071 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,073 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:17,075 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:17,076 INFO sqlalchemy.engine.base.Engine (27,)
2018-11-14 11:29:17,085 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,087 INFO sqlalchemy.engine.base.Engine (17, 27)
2018-11-14 11:29:17,092 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,094 INFO sqlalchemy.engine.base.Engine ('Rash pruritic', 1, 0)
2018-11-14 11:29:17,097 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,098 INFO sqlalchemy.engine.base.Engine (27,)
2018-11-14 11:29:17,102 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,104 INFO sqlalchemy.engine.base.Engine ('Rash pruritic',)
2018-11-14 11:29:17,106 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,107 INFO sqlalchemy.engine.base.Engine (82, 27)
2018-11-14 11:29:17,110 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,117 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,120 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,122 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,124 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,125 INFO sqlalchemy.engine.base.Engine (2, 70, 1)
2018-11-14 11:29:17,130 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,132 INFO sqlalchemy.engine.base.Engine ('PERJETA', 1, 0)
2018-11-14 11:29:17,135 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:17,137 INFO sqlalchemy.engine.base.Engine (28,)
2018-11-14 11:29:17,141 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,143 INFO sqlalchemy.engine.base.Engine ('PERJETA',)
2018-11-14 11:29:17,145 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,147 INFO sqlalchemy.engine.base.Engine (28, 28)
2018-11-14 11:29:17,153 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,155 INFO sqlalchemy.engine.base.Engine ('Infusion related reaction', 1, 0)
2018-11-14 11:29:17,159 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,160 INFO sqlalchemy.engine.base.Engine (28,)
2018-11-14 11:29:17,164 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)

2018-11-14 11:29:17,167 INFO sqlalchemy.engine.base.Engine ('Infusion related reaction',)
2018-11-14 11:29:17,169 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,170 INFO sqlalchemy.engine.base.Engine (83, 28)
2018-11-14 11:29:17,178 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,189 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,191 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,194 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,199 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,207 INFO sqlalchemy.engine.base.Engine (1, 30, 1)
2018-11-14 11:29:17,214 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,216 INFO sqlalchemy.engine.base.Engine ('Prescribed overdose', 1, 0)
2018-11-14 11:29:17,219 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,222 INFO sqlalchemy.engine.base.Engine ('Hepatitis', 1, 0)
2018-11-14 11:29:17,224 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,226 INFO sqlalchemy.engine.base.Engine (29,)
2018-11-14 11:29:17,233 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,234 INFO sqlalchemy.engine.base.Engine ('Prescribed overdose',)
2018-11-14 11:29:17,236 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,238 INFO sqlalchemy.engine.base.Engine ('Hepatitis',)
2018-11-14 11:29:17,240 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,242 INFO sqlalchemy.engine.base.Engine ((84, 29), (85, 29))
2018-11-14 11:29:17,245 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,255 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,257 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,259 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,263 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,264 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:17,267 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,269 INFO sqlalchemy.engine.base.Engine ('CYMBALTA', 1, 0)
2018-11-14 11:29:17,272 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:17,274 INFO sqlalchemy.engine.base.Engine (30,)
2018-11-14 11:29:17,282 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,283 INFO sqlalchemy.engine.base.Engine ('CYMBALTA',)
2018-11-14 11:29:17,290 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,292 INFO sqlalchemy.engine.base.Engine (29, 30)
2018-11-14 11:29:17,298 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,310 INFO sqlalchemy.engine.base.Engine ('Ventricular septal defect', 1, 0)
2018-11-14 11:29:17,322 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,324 INFO sqlalchemy.engine.base.Engine ('Femur-fibula-ulna complex', 1, 0)
2018-11-14 11:29:17,329 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,332 INFO sqlalchemy.engine.base.Engine ('Heart disease congenital', 1, 0)
2018-11-14 11:29:17,334 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,336 INFO sqlalchemy.engine.base.Engine ('Limb malformation', 1, 0)
2018-11-14 11:29:17,338 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,341 INFO sqlalchemy.engine.base.Engine ('Exposure during pregnancy', 1, 0)
2018-11-14 11:29:17,345 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,348 INFO sqlalchemy.engine.base.Engine ('Congenital foot malformation', 1, 0)
2018-11-14 11:29:17,350 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,351 INFO sqlalchemy.engine.base.Engine (30,)
2018-11-14 11:29:17,358 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,360 INFO sqlalchemy.engine.base.Engine ('Congenital foot malformation',)
2018-11-14 11:29:17,364 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,367 INFO sqlalchemy.engine.base.Engine ('Femur-fibula-ulna complex',)
2018-11-14 11:29:17,369 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,370 INFO sqlalchemy.engine.base.Engine ('Ventricular septal defect',)
2018-11-14 11:29:17,372 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,374 INFO sqlalchemy.engine.base.Engine ('Heart disease congenital',)
2018-11-14 11:29:17,376 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,377 INFO sqlalchemy.engine.base.Engine ('Limb malformation',)
2018-11-14 11:29:17,380 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,383 INFO sqlalchemy.engine.base.Engine ('Exposure during pregnancy',)
2018-11-14 11:29:17,385 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,386 INFO sqlalchemy.engine.base.Engine ((86, 30), (87, 30), (88, 30), (89, 30), (90, 30), (91, 30))
2018-11-14 11:29:17,402 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,416 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,419 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,421 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,423 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,425 INFO sqlalchemy.engine.base.Engine (2, 67, 1)
2018-11-14 11:29:17,428 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,430 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:17,433 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:29:17,434 INFO sqlalchemy.engine.base.Engine (31,)
2018-11-14 11:29:17,438 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,440 INFO sqlalchemy.engine.base.Engine (17, 31)
2018-11-14 11:29:17,442 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,444 INFO sqlalchemy.engine.base.Engine ('Wrong technique in product usage process', 1, 0)
2018-11-14 11:29:17,448 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,450 INFO sqlalchemy.engine.base.Engine (31,)
2018-11-14 11:29:17,454 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,456 INFO sqlalchemy.engine.base.Engine (37, 31)
2018-11-14 11:29:17,458 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,464 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,468 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,469 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,473 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,475 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:17,479 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,481 INFO sqlalchemy.engine.base.Engine ('LAMICTAL XR', 1, 0)
2018-11-14 11:29:17,484 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,485 INFO sqlalchemy.engine.base.Engine ('SUBVENITE', 1, 0)
2018-11-14 11:29:17,491 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,492 INFO sqlalchemy.engine.base.Engine ('LAMOTRIGINE KIT', 1, 0)
2018-11-14 11:29:17,495 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,497 INFO sqlalchemy.engine.base.Engine ('LAMICTAL', 1, 0)
2018-11-14 11:29:17,499 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,501 INFO sqlalchemy.engine.base.Engine ('LAMICTAL ODT', 1, 0)
2018-11-14 11:29:17,507 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,509 INFO sqlalchemy.engine.base.Engine ('LAMOTRIGINE', 1, 0)
2018-11-14 11:29:17,517 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:17,519 INFO sqlalchemy.engine.base.Engine (32,)
2018-11-14 11:29:17,524 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,526 INFO sqlalchemy.engine.base.Engine ('LAMICTAL XR',)
2018-11-14 11:29:17,528 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,533 INFO sqlalchemy.engine.base.Engine ('SUBVENITE',)
2018-11-14 11:29:17,538 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,540 INFO sqlalchemy.engine.base.Engine ('LAMOTRIGINE KIT',)
2018-11-14 11:29:17,542 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,544 INFO sqlalchemy.engine.base.Engine ('LAMICTAL',)
2018-11-14 11:29:17,546 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,548 INFO sqlalchemy.engine.base.Engine ('LAMICTAL ODT',)
2018-11-14 11:29:17,549 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,550 INFO sqlalchemy.engine.base.Engine ('LAMOTRIGINE',)
2018-11-14 11:29:17,552 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,553 INFO sqlalchemy.engine.base.Engine ((30, 32), (31, 32), (32, 32), (33, 32), (34, 32), (35, 32))
2018-11-14 11:29:17,555 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,557 INFO sqlalchemy.engine.base.Engine ('Autism spectrum disorder', 1, 0)
2018-11-14 11:29:17,560 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,562 INFO sqlalchemy.engine.base.Engine ('Foetal exposure during pregnancy', 1, 0)
2018-11-14 11:29:17,565 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,566 INFO sqlalchemy.engine.base.Engine ('Attention deficit/hyperactivity disorder', 1, 0)
2018-11-14 11:29:17,569 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,570 INFO sqlalchemy.engine.base.Engine (32,)
2018-11-14 11:29:17,579 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,586 INFO sqlalchemy.engine.base.Engine ('Autism spectrum disorder',)
2018-11-14 11:29:17,588 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,589 INFO sqlalchemy.engine.base.Engine ('Foetal exposure during pregnancy',)
2018-11-14 11:29:17,590 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,592 INFO sqlalchemy.engine.base.Engine ('Attention deficit/hyperactivity disorder',)
2018-11-14 11:29:17,594 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,595 INFO sqlalchemy.engine.base.Engine ((93, 32), (94, 32), (92, 32))
2018-11-14 11:29:17,598 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,603 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,608 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,610 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,614 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,616 INFO sqlalchemy.engine.base.Engine (1, 58, 1)
2018-11-14 11:29:17,619 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,620 INFO sqlalchemy.engine.base.Engine ('Left ventricular hypertrophy', 1, 0)
2018-11-14 11:29:17,624 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,626 INFO sqlalchemy.engine.base.Engine ('Focal dyscognitive seizures', 1, 0)
2018-11-14 11:29:17,629 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,631 INFO sqlalchemy.engine.base.Engine ('Aphasia', 1, 0)
2018-11-14 11:29:17,634 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:17,635 INFO sqlalchemy.engine.base.Engine ('Diastolic dysfunction', 1, 0)
2018-11-14 11:29:17,638 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,640 INFO sqlalchemy.engine.base.Engine ('Seizure', 1, 0)
2018-11-14 11:29:17,641 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,642 INFO sqlalchemy.engine.base.Engine (33,)
2018-11-14 11:29:17,645 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,648 INFO sqlalchemy.engine.base.Engine ('Left ventricular hypertrophy',)
2018-11-14 11:29:17,649 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,651 INFO sqlalchemy.engine.base.Engine ('Diastolic dysfunction',)
2018-11-14 11:29:17,654 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,655 INFO sqlalchemy.engine.base.Engine ('Focal dyscognitive seizures',)
2018-11-14 11:29:17,657 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,661 INFO sqlalchemy.engine.base.Engine ('Aphasia',)
2018-11-14 11:29:17,663 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,665 INFO sqlalchemy.engine.base.Engine ('Seizure',)
2018-11-14 11:29:17,667 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,669 INFO sqlalchemy.engine.base.Engine ((98, 33), (99, 33), (96, 33), (95, 33), (97, 33))
2018-11-14 11:29:17,673 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,687 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,689 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,690 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,698 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,700 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:29:17,716 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,717 INFO sqlalchemy.engine.base.Engine ('PRADAXA', 1, 0)
2018-11-14 11:29:17,724 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:17,727 INFO sqlalchemy.engine.base.Engine (34,)
2018-11-14 11:29:17,733 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:17,737 INFO sqlalchemy.engine.base.Engine ('PRADAXA',)
2018-11-14 11:29:17,740 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,742 INFO sqlalchemy.engine.base.Engine (36, 34)
2018-11-14 11:29:17,744 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,745 INFO sqlalchemy.engine.base.Engine ('Procoagulant therapy', 1, 0)
2018-11-14 11:29:17,747 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,752 INFO sqlalchemy.engine.base.Engine (34,)
2018-11-14 11:29:17,756 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,757 INFO sqlalchemy.engine.base.Engine ('Procoagulant therapy',)
2018-11-14 11:29:17,759 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,760 INFO sqlalchemy.engine.base.Engine (100, 34)
2018-11-14 11:29:17,763 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,769 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,772 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,774 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,776 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,779 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:17,782 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,784 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:29:17,787 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:17,789 INFO sqlalchemy.engine.base.Engine (35,)
2018-11-14 11:29:17,793 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,795 INFO sqlalchemy.engine.base.Engine (8, 35)
2018-11-14 11:29:17,799 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,801 INFO sqlalchemy.engine.base.Engine ('Malaise', 1, 0)
2018-11-14 11:29:17,805 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,808 INFO sqlalchemy.engine.base.Engine (35,)
2018-11-14 11:29:17,814 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,819 INFO sqlalchemy.engine.base.Engine ('Malaise',)
2018-11-14 11:29:17,823 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,824 INFO sqlalchemy.engine.base.Engine (101, 35)
2018-11-14 11:29:17,826 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,833 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,836 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,838 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,841 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,842 INFO sqlalchemy.engine.base.Engine (2, 74, 1)
2018-11-14 11:29:17,849 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,851 INFO sqlalchemy.engine.base.Engine ('AVASTIN', 1, 0)
2018-11-14 11:29:17,854 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:17,855 INFO sqlalchemy.engine.base.Engine (36,)
2018-11-14 11:29:17,860 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,862 INFO sqlalchemy.engine.base.Engine (5, 36)
2018-11-14 11:29:17,864 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,866 INFO sqlalchemy.engine.base.Engine ('Epilepsy', 1, 0)
2018-11-14 11:29:17,870 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:17,871 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:29:17,873 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,874 INFO sqlalchemy.engine.base.Engine (36,)
2018-11-14 11:29:17,881 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,882 INFO sqlalchemy.engine.base.Engine ('Epilepsy',)
2018-11-14 11:29:17,884 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,885 INFO sqlalchemy.engine.base.Engine ('Pyrexia',)
2018-11-14 11:29:17,889 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,890 INFO sqlalchemy.engine.base.Engine ((102, 36), (103, 36))
2018-11-14 11:29:17,892 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,899 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,902 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,904 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,906 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,907 INFO sqlalchemy.engine.base.Engine (1, 52, 1)
2018-11-14 11:29:17,923 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,924 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:17,926 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:17,929 INFO sqlalchemy.engine.base.Engine (37,)
2018-11-14 11:29:17,933 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,935 INFO sqlalchemy.engine.base.Engine (17, 37)
2018-11-14 11:29:17,937 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,939 INFO sqlalchemy.engine.base.Engine ('Drug dose omission', 1, 0)
2018-11-14 11:29:17,944 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,946 INFO sqlalchemy.engine.base.Engine ('Wrong technique in product usage process', 1, 0)
2018-11-14 11:29:17,950 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:17,953 INFO sqlalchemy.engine.base.Engine (37,)
2018-11-14 11:29:17,957 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:17,959 INFO sqlalchemy.engine.base.Engine ('Drug dose omission',)
2018-11-14 11:29:17,961 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,961 INFO sqlalchemy.engine.base.Engine (104, 37)
2018-11-14 11:29:17,964 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:17,965 INFO sqlalchemy.engine.base.Engine (37, 37)
2018-11-14 11:29:17,967 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:17,972 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:17,974 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:17,976 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:17,978 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:17,980 INFO sqlalchemy.engine.base.Engine (2, 87, 1)
2018-11-14 11:29:17,985 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,986 INFO sqlalchemy.engine.base.Engine ('ESCITALOPRAM OXALATE', 1, 0)
2018-11-14 11:29:17,989 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:17,990 INFO sqlalchemy.engine.base.Engine ('ESCITALOPRAM', 1, 0)
2018-11-14 11:29:17,993 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:17,995 INFO sqlalchemy.engine.base.Engine (38,)
2018-11-14 11:29:18,003 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,004 INFO sqlalchemy.engine.base.Engine ('ESCITALOPRAM OXALATE',)
2018-11-14 11:29:18,010 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,011 INFO sqlalchemy.engine.base.Engine ('ESCITALOPRAM',)
2018-11-14 11:29:18,015 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,019 INFO sqlalchemy.engine.base.Engine ((37, 38), (38, 38))
2018-11-14 11:29:18,028 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,035 INFO sqlalchemy.engine.base.Engine ('Anaemia', 1, 0)
2018-11-14 11:29:18,038 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,040 INFO sqlalchemy.engine.base.Engine ('Pallor', 1, 0)
2018-11-14 11:29:18,043 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,045 INFO sqlalchemy.engine.base.Engine ('Melaena', 1, 0)
2018-11-14 11:29:18,048 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,051 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal haemorrhage', 1, 0)
2018-11-14 11:29:18,053 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,055 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:29:18,057 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,058 INFO sqlalchemy.engine.base.Engine (38,)
2018-11-14 11:29:18,064 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,067 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal haemorrhage',)
2018-11-14 11:29:18,069 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,070 INFO sqlalchemy.engine.base.Engine ('Pallor',)
2018-11-14 11:29:18,072 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,074 INFO sqlalchemy.engine.base.Engine ('Melaena',)
2018-11-14 11:29:18,075 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,076 INFO sqlalchemy.engine.base.Engine ('Anaemia',)
2018-11-14 11:29:18,078 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,079 INFO sqlalchemy.engine.base.Engine ((105, 38), (106, 38), (107, 38), (108, 38), (74, 38))

2018-11-14 11:29:18,083 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,096 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,099 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,102 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,105 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,107 INFO sqlalchemy.engine.base.Engine (2, 7, 1)
2018-11-14 11:29:18,111 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,113 INFO sqlalchemy.engine.base.Engine ('FLUOXETINE', 1, 0)
2018-11-14 11:29:18,117 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:18,119 INFO sqlalchemy.engine.base.Engine (39,)
2018-11-14 11:29:18,123 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,125 INFO sqlalchemy.engine.base.Engine ('FLUOXETINE',)
2018-11-14 11:29:18,128 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,130 INFO sqlalchemy.engine.base.Engine (39, 39)
2018-11-14 11:29:18,134 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,136 INFO sqlalchemy.engine.base.Engine ('Inappropriate antidiuretic hormone secretion', 1, 0)
2018-11-14 11:29:18,139 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,141 INFO sqlalchemy.engine.base.Engine ('Drug interaction', 1, 0)
2018-11-14 11:29:18,144 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,146 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:18,148 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,149 INFO sqlalchemy.engine.base.Engine (39,)
2018-11-14 11:29:18,156 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,158 INFO sqlalchemy.engine.base.Engine ('Inappropriate antidiuretic hormone secretion',)
2018-11-14 11:29:18,160 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,162 INFO sqlalchemy.engine.base.Engine ('Drug interaction',)
2018-11-14 11:29:18,166 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,170 INFO sqlalchemy.engine.base.Engine ((109, 39), (110, 39))
2018-11-14 11:29:18,171 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,174 INFO sqlalchemy.engine.base.Engine (57, 39)
2018-11-14 11:29:18,176 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,183 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,188 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,193 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,197 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,200 INFO sqlalchemy.engine.base.Engine (1, 67, 1)
2018-11-14 11:29:18,204 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,206 INFO sqlalchemy.engine.base.Engine ('ACTEMRA', 1, 0)
2018-11-14 11:29:18,208 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:18,211 INFO sqlalchemy.engine.base.Engine (40,)
2018-11-14 11:29:18,217 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,221 INFO sqlalchemy.engine.base.Engine ('ACTEMRA',)
2018-11-14 11:29:18,230 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,233 INFO sqlalchemy.engine.base.Engine (40, 40)
2018-11-14 11:29:18,244 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,246 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:29:18,249 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,253 INFO sqlalchemy.engine.base.Engine (40,)
2018-11-14 11:29:18,256 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,258 INFO sqlalchemy.engine.base.Engine ('Death',)
2018-11-14 11:29:18,261 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,262 INFO sqlalchemy.engine.base.Engine (111, 40)
2018-11-14 11:29:18,265 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,270 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,277 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,280 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,285 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,288 INFO sqlalchemy.engine.base.Engine (1, 54, 1)
2018-11-14 11:29:18,290 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,292 INFO sqlalchemy.engine.base.Engine ('LORAZEPAM', 1, 0)
2018-11-14 11:29:18,298 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,302 INFO sqlalchemy.engine.base.Engine ('ATIVAN', 1, 0)
2018-11-14 11:29:18,304 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:18,314 INFO sqlalchemy.engine.base.Engine (41,)
2018-11-14 11:29:18,319 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,320 INFO sqlalchemy.engine.base.Engine ('LORAZEPAM',)
2018-11-14 11:29:18,321 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,322 INFO sqlalchemy.engine.base.Engine ('ATIVAN',)
2018-11-14 11:29:18,329 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,331 INFO sqlalchemy.engine.base.Engine ((41, 41), (42, 41))
2018-11-14 11:29:18,335 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,337 INFO sqlalchemy.engine.base.Engine ('Failure to thrive', 1, 0)
2018-11-14 11:29:18,340 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:18,342 INFO sqlalchemy.engine.base.Engine ('Catatonia', 1, 0)
2018-11-14 11:29:18,345 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,350 INFO sqlalchemy.engine.base.Engine ('Condition aggravated', 1, 0)
2018-11-14 11:29:18,355 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,357 INFO sqlalchemy.engine.base.Engine ('Drug withdrawal syndrome', 1, 0)
2018-11-14 11:29:18,360 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,361 INFO sqlalchemy.engine.base.Engine (41,)
2018-11-14 11:29:18,366 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,367 INFO sqlalchemy.engine.base.Engine ('Condition aggravated',)
2018-11-14 11:29:18,371 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,372 INFO sqlalchemy.engine.base.Engine ('Drug withdrawal syndrome',)
2018-11-14 11:29:18,373 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,374 INFO sqlalchemy.engine.base.Engine ('Failure to thrive',)
2018-11-14 11:29:18,376 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,377 INFO sqlalchemy.engine.base.Engine ('Catatonia',)
2018-11-14 11:29:18,379 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,380 INFO sqlalchemy.engine.base.Engine ((113, 41), (112, 41), (115, 41), (114, 41))
2018-11-14 11:29:18,382 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,391 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,393 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,395 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,401 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,402 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:18,411 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,418 INFO sqlalchemy.engine.base.Engine ('AVASTIN', 1, 0)
2018-11-14 11:29:18,420 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:18,421 INFO sqlalchemy.engine.base.Engine (42,)
2018-11-14 11:29:18,431 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,433 INFO sqlalchemy.engine.base.Engine (5, 42)
2018-11-14 11:29:18,436 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,437 INFO sqlalchemy.engine.base.Engine ('Nasopharyngitis', 1, 0)
2018-11-14 11:29:18,440 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,442 INFO sqlalchemy.engine.base.Engine ('Malaise', 1, 0)
2018-11-14 11:29:18,444 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,446 INFO sqlalchemy.engine.base.Engine ('Intestinal obstruction', 1, 0)
2018-11-14 11:29:18,449 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,451 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:29:18,453 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,455 INFO sqlalchemy.engine.base.Engine ('Ascites', 1, 0)
2018-11-14 11:29:18,457 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,459 INFO sqlalchemy.engine.base.Engine (42,)
2018-11-14 11:29:18,462 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,463 INFO sqlalchemy.engine.base.Engine ('Intestinal obstruction',)
2018-11-14 11:29:18,465 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,467 INFO sqlalchemy.engine.base.Engine ('Ascites',)
2018-11-14 11:29:18,469 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,471 INFO sqlalchemy.engine.base.Engine ((116, 42), (101, 42), (103, 42), (30, 42), (117, 42))
2018-11-14 11:29:18,473 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,483 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,485 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,486 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,488 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,492 INFO sqlalchemy.engine.base.Engine (2, 89, 1)
2018-11-14 11:29:18,495 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,497 INFO sqlalchemy.engine.base.Engine ('VIMPAT', 1, 0)
2018-11-14 11:29:18,502 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:18,503 INFO sqlalchemy.engine.base.Engine (43,)
2018-11-14 11:29:18,517 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,519 INFO sqlalchemy.engine.base.Engine ('VIMPAT',)
2018-11-14 11:29:18,521 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,525 INFO sqlalchemy.engine.base.Engine (43, 43)
2018-11-14 11:29:18,527 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,528 INFO sqlalchemy.engine.base.Engine ('Condition aggravated', 1, 0)
2018-11-14 11:29:18,531 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,533 INFO sqlalchemy.engine.base.Engine ('Confusional state', 1, 0)
2018-11-14 11:29:18,536 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,537 INFO sqlalchemy.engine.base.Engine (43,)
2018-11-14 11:29:18,541 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,543 INFO sqlalchemy.engine.base.Engine ('Confusional state',)
2018-11-14 11:29:18,546 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,547 INFO sqlalchemy.engine.base.Engine ((118, 43), (112, 43))

2018-11-14 11:29:18,550 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,556 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,559 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,561 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,564 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,565 INFO sqlalchemy.engine.base.Engine (2, 48, 1)
2018-11-14 11:29:18,569 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,571 INFO sqlalchemy.engine.base.Engine ('PREDNISONE', 1, 0)
2018-11-14 11:29:18,574 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,576 INFO sqlalchemy.engine.base.Engine ('DELTASONE', 1, 0)
2018-11-14 11:29:18,577 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,579 INFO sqlalchemy.engine.base.Engine ('RAYOS', 1, 0)
2018-11-14 11:29:18,580 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:18,583 INFO sqlalchemy.engine.base.Engine (44,)
2018-11-14 11:29:18,586 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,588 INFO sqlalchemy.engine.base.Engine ('PREDNISONE',)
2018-11-14 11:29:18,592 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,595 INFO sqlalchemy.engine.base.Engine ('DELTASONE',)
2018-11-14 11:29:18,597 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,600 INFO sqlalchemy.engine.base.Engine ('RAYOS',)
2018-11-14 11:29:18,604 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,606 INFO sqlalchemy.engine.base.Engine ((44, 44), (45, 44), (46, 44))
2018-11-14 11:29:18,612 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,613 INFO sqlalchemy.engine.base.Engine ('Hepatic cirrhosis', 1, 0)
2018-11-14 11:29:18,617 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,618 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:18,620 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,622 INFO sqlalchemy.engine.base.Engine ('Pain in extremity', 1, 0)
2018-11-14 11:29:18,624 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,625 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:29:18,627 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,629 INFO sqlalchemy.engine.base.Engine (44,)
2018-11-14 11:29:18,633 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,635 INFO sqlalchemy.engine.base.Engine ('Hepatic cirrhosis',)
2018-11-14 11:29:18,637 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,639 INFO sqlalchemy.engine.base.Engine ('Pain',)
2018-11-14 11:29:18,641 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,642 INFO sqlalchemy.engine.base.Engine ((119, 44), (36, 44), (120, 44), (18, 44))
2018-11-14 11:29:18,646 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,652 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,655 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,657 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,659 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,661 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:18,664 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,666 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:18,668 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:18,670 INFO sqlalchemy.engine.base.Engine (45,)
2018-11-14 11:29:18,673 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,676 INFO sqlalchemy.engine.base.Engine (17, 45)
2018-11-14 11:29:18,678 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,679 INFO sqlalchemy.engine.base.Engine ('Wrong technique in product usage process', 1, 0)
2018-11-14 11:29:18,681 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,683 INFO sqlalchemy.engine.base.Engine ('Drug dose omission', 1, 0)
2018-11-14 11:29:18,689 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,692 INFO sqlalchemy.engine.base.Engine (45,)
2018-11-14 11:29:18,696 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,698 INFO sqlalchemy.engine.base.Engine ((37, 45), (104, 45))
2018-11-14 11:29:18,703 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,713 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,717 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,718 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,721 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,724 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:18,727 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,728 INFO sqlalchemy.engine.base.Engine ('PREDNISONE', 1, 0)
2018-11-14 11:29:18,731 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,733 INFO sqlalchemy.engine.base.Engine ('DELTASONE', 1, 0)
2018-11-14 11:29:18,736 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,738 INFO sqlalchemy.engine.base.Engine ('RAYOS', 1, 0)
2018-11-14 11:29:18,740 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:29:18,743 INFO sqlalchemy.engine.base.Engine (46,)
2018-11-14 11:29:18,747 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,748 INFO sqlalchemy.engine.base.Engine ((44, 46), (45, 46), (46, 46))
2018-11-14 11:29:18,752 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,753 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:18,756 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,759 INFO sqlalchemy.engine.base.Engine ('Eye irritation', 1, 0)
2018-11-14 11:29:18,761 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,762 INFO sqlalchemy.engine.base.Engine (46,)
2018-11-14 11:29:18,766 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,769 INFO sqlalchemy.engine.base.Engine ('Eye irritation',)
2018-11-14 11:29:18,771 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,772 INFO sqlalchemy.engine.base.Engine (121, 46)
2018-11-14 11:29:18,775 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,776 INFO sqlalchemy.engine.base.Engine (36, 46)
2018-11-14 11:29:18,777 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,783 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,786 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,788 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,790 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,792 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:18,795 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,802 INFO sqlalchemy.engine.base.Engine ('SIMBRINZA', 1, 0)
2018-11-14 11:29:18,805 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:18,809 INFO sqlalchemy.engine.base.Engine (47,)
2018-11-14 11:29:18,820 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,824 INFO sqlalchemy.engine.base.Engine ('SIMBRINZA',)
2018-11-14 11:29:18,827 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,830 INFO sqlalchemy.engine.base.Engine (47, 47)
2018-11-14 11:29:18,835 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,836 INFO sqlalchemy.engine.base.Engine ('Tremor', 1, 0)
2018-11-14 11:29:18,839 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,841 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal disorder', 1, 0)
2018-11-14 11:29:18,844 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,845 INFO sqlalchemy.engine.base.Engine ('Dizziness', 1, 0)
2018-11-14 11:29:18,849 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,850 INFO sqlalchemy.engine.base.Engine (47,)
2018-11-14 11:29:18,853 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,854 INFO sqlalchemy.engine.base.Engine ('Tremor',)
2018-11-14 11:29:18,856 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,857 INFO sqlalchemy.engine.base.Engine (122, 47)
2018-11-14 11:29:18,859 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,859 INFO sqlalchemy.engine.base.Engine ((16, 47), (41, 47))
2018-11-14 11:29:18,861 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,870 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,873 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,875 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,878 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,879 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:18,882 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,885 INFO sqlalchemy.engine.base.Engine ('SANDOSTATIN LAR DEPOT', 1, 0)
2018-11-14 11:29:18,888 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:18,889 INFO sqlalchemy.engine.base.Engine (48,)
2018-11-14 11:29:18,894 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,896 INFO sqlalchemy.engine.base.Engine ('SANDOSTATIN LAR DEPOT',)
2018-11-14 11:29:18,899 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,902 INFO sqlalchemy.engine.base.Engine (48, 48)
2018-11-14 11:29:18,904 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,905 INFO sqlalchemy.engine.base.Engine ('Malignant neoplasm progression', 1, 0)
2018-11-14 11:29:18,907 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,910 INFO sqlalchemy.engine.base.Engine (48,)
2018-11-14 11:29:18,912 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,914 INFO sqlalchemy.engine.base.Engine ('Malignant neoplasm progression',)
2018-11-14 11:29:18,916 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,917 INFO sqlalchemy.engine.base.Engine (123, 48)
2018-11-14 11:29:18,920 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:18,926 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:18,928 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:18,930 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:18,937 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:18,938 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:18,943 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,946 INFO sqlalchemy.engine.base.Engine ('ARAVA', 1, 0)

2018-11-14 11:29:18,948 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:18,949 INFO sqlalchemy.engine.base.Engine (49,)
2018-11-14 11:29:18,954 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:18,956 INFO sqlalchemy.engine.base.Engine ('ARAVA',)
2018-11-14 11:29:18,958 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:18,959 INFO sqlalchemy.engine.base.Engine (49, 49)
2018-11-14 11:29:18,963 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,965 INFO sqlalchemy.engine.base.Engine ('Hypertension', 1, 0)
2018-11-14 11:29:18,969 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,973 INFO sqlalchemy.engine.base.Engine ('Adverse drug reaction', 1, 0)
2018-11-14 11:29:18,976 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,977 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:18,979 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:18,986 INFO sqlalchemy.engine.base.Engine ('Abdominal discomfort', 1, 0)
2018-11-14 11:29:18,989 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:18,992 INFO sqlalchemy.engine.base.Engine (49,)
2018-11-14 11:29:18,996 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:18,997 INFO sqlalchemy.engine.base.Engine ('Adverse drug reaction',)
2018-11-14 11:29:19,003 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,005 INFO sqlalchemy.engine.base.Engine ('Abdominal discomfort',)
2018-11-14 11:29:19,006 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,007 INFO sqlalchemy.engine.base.Engine ('Hypertension',)
2018-11-14 11:29:19,009 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,011 INFO sqlalchemy.engine.base.Engine ((126, 49), (125, 49), (124, 49))
2018-11-14 11:29:19,012 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,014 INFO sqlalchemy.engine.base.Engine (36, 49)
2018-11-14 11:29:19,016 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:19,027 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:19,030 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:19,033 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:19,037 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:19,038 INFO sqlalchemy.engine.base.Engine (1, 68, 1)
2018-11-14 11:29:19,042 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,045 INFO sqlalchemy.engine.base.Engine ('AVASTIN', 1, 0)
2018-11-14 11:29:19,048 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:19,049 INFO sqlalchemy.engine.base.Engine (50,)
2018-11-14 11:29:19,055 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,056 INFO sqlalchemy.engine.base.Engine (5, 50)
2018-11-14 11:29:19,059 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,060 INFO sqlalchemy.engine.base.Engine ('Circulatory collapse', 1, 0)
2018-11-14 11:29:19,063 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:19,064 INFO sqlalchemy.engine.base.Engine (50,)
2018-11-14 11:29:19,068 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,070 INFO sqlalchemy.engine.base.Engine ('Circulatory collapse',)
2018-11-14 11:29:19,073 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,074 INFO sqlalchemy.engine.base.Engine (127, 50)
2018-11-14 11:29:19,077 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:19,084 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:19,088 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:19,089 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:19,093 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:19,096 INFO sqlalchemy.engine.base.Engine (2, 53, 1)
2018-11-14 11:29:19,099 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,102 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:19,106 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:19,110 INFO sqlalchemy.engine.base.Engine (51,)
2018-11-14 11:29:19,114 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,116 INFO sqlalchemy.engine.base.Engine (17, 51)
2018-11-14 11:29:19,120 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,121 INFO sqlalchemy.engine.base.Engine ('Fungal infection', 1, 0)
2018-11-14 11:29:19,123 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:19,125 INFO sqlalchemy.engine.base.Engine (51,)
2018-11-14 11:29:19,127 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,130 INFO sqlalchemy.engine.base.Engine ('Fungal infection',)
2018-11-14 11:29:19,132 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,134 INFO sqlalchemy.engine.base.Engine (128, 51)
2018-11-14 11:29:19,136 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:19,142 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:19,144 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:19,146 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:19,149 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:19,152 INFO sqlalchemy.engine.base.Engine (2, 23, 1)
2018-11-14 11:29:19,157 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:19,159 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:19,161 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:19,163 INFO sqlalchemy.engine.base.Engine (52,)
2018-11-14 11:29:19,166 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,168 INFO sqlalchemy.engine.base.Engine (17, 52)
2018-11-14 11:29:19,173 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,174 INFO sqlalchemy.engine.base.Engine ('Headache', 1, 0)
2018-11-14 11:29:19,177 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:19,179 INFO sqlalchemy.engine.base.Engine (52,)
2018-11-14 11:29:19,183 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,185 INFO sqlalchemy.engine.base.Engine (11, 52)
2018-11-14 11:29:19,188 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:19,193 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:19,196 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:19,198 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:19,201 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:19,203 INFO sqlalchemy.engine.base.Engine (1, 67, 1)
2018-11-14 11:29:19,207 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,208 INFO sqlalchemy.engine.base.Engine ('CAPECITABINE', 1, 0)
2018-11-14 11:29:19,214 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,224 INFO sqlalchemy.engine.base.Engine ('XELODA', 1, 0)
2018-11-14 11:29:19,227 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:19,228 INFO sqlalchemy.engine.base.Engine (53,)
2018-11-14 11:29:19,232 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:19,233 INFO sqlalchemy.engine.base.Engine ('CAPECITABINE',)
2018-11-14 11:29:19,236 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:19,237 INFO sqlalchemy.engine.base.Engine ('XELODA',)
2018-11-14 11:29:19,240 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,241 INFO sqlalchemy.engine.base.Engine ((51, 53), (50, 53))
2018-11-14 11:29:19,245 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,247 INFO sqlalchemy.engine.base.Engine ('Agitation', 1, 0)
2018-11-14 11:29:19,250 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:19,252 INFO sqlalchemy.engine.base.Engine (53,)
2018-11-14 11:29:19,256 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,258 INFO sqlalchemy.engine.base.Engine ('Agitation',)
2018-11-14 11:29:19,261 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,263 INFO sqlalchemy.engine.base.Engine (129, 53)
2018-11-14 11:29:19,265 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:19,275 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:19,278 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:19,280 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:19,288 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:19,289 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:19,293 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,295 INFO sqlalchemy.engine.base.Engine ('ENTRESTO', 1, 0)
2018-11-14 11:29:19,296 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:19,299 INFO sqlalchemy.engine.base.Engine (54,)
2018-11-14 11:29:19,304 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,305 INFO sqlalchemy.engine.base.Engine (6, 54)
2018-11-14 11:29:19,308 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,309 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:29:19,311 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,313 INFO sqlalchemy.engine.base.Engine ('Impaired healing', 1, 0)
2018-11-14 11:29:19,315 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,319 INFO sqlalchemy.engine.base.Engine ('Hypertension', 1, 0)
2018-11-14 11:29:19,322 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,323 INFO sqlalchemy.engine.base.Engine ('Fall', 1, 0)
2018-11-14 11:29:19,325 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,327 INFO sqlalchemy.engine.base.Engine ('Cough', 1, 0)
2018-11-14 11:29:19,329 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,336 INFO sqlalchemy.engine.base.Engine ('Panic attack', 1, 0)
2018-11-14 11:29:19,340 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,342 INFO sqlalchemy.engine.base.Engine ('Balance disorder', 1, 0)
2018-11-14 11:29:19,344 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,346 INFO sqlalchemy.engine.base.Engine ('Fluid retention', 1, 0)
2018-11-14 11:29:19,349 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,350 INFO sqlalchemy.engine.base.Engine ('Mobility decreased', 1, 0)
2018-11-14 11:29:19,354 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,355 INFO sqlalchemy.engine.base.Engine ('Aneurysm', 1, 0)

2018-11-14 11:29:19,357 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,360 INFO sqlalchemy.engine.base.Engine ('Abdominal discomfort', 1, 0)
2018-11-14 11:29:19,362 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:19,364 INFO sqlalchemy.engine.base.Engine (54,)
2018-11-14 11:29:19,369 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,370 INFO sqlalchemy.engine.base.Engine ('Aneurysm',)
2018-11-14 11:29:19,371 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,372 INFO sqlalchemy.engine.base.Engine ('Impaired healing',)
2018-11-14 11:29:19,374 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,375 INFO sqlalchemy.engine.base.Engine ('Fluid retention',)
2018-11-14 11:29:19,376 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,377 INFO sqlalchemy.engine.base.Engine ('Mobility decreased',)
2018-11-14 11:29:19,381 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,384 INFO sqlalchemy.engine.base.Engine ('Cough',)
2018-11-14 11:29:19,388 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,389 INFO sqlalchemy.engine.base.Engine ('Panic attack',)
2018-11-14 11:29:19,391 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,393 INFO sqlalchemy.engine.base.Engine ('Balance disorder',)
2018-11-14 11:29:19,396 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:19,398 INFO sqlalchemy.engine.base.Engine ('Fall',)
2018-11-14 11:29:19,402 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:19,403 INFO sqlalchemy.engine.base.Engine ((66, 54), (130, 54), (131, 54), (125, 54), (132, 54), (133, 54), (134, 54), (135, 54)  ... displaying 10 of 11 total bound parameter sets ...  (126, 54), (137, 54))
2018-11-14 11:29:19,407 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:19,422 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:19,425 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:19,427 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:19,429 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:19,431 INFO sqlalchemy.engine.base.Engine (2, 55, 1)
2018-11-14 11:29:19,439 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,441 INFO sqlalchemy.engine.base.Engine ('HENRY SCHEIN ASPIRIN', 1, 0)
2018-11-14 11:29:19,446 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,448 INFO sqlalchemy.engine.base.Engine ('HEALTH MART ASPIRIN', 1, 0)
2018-11-14 11:29:19,455 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,456 INFO sqlalchemy.engine.base.Engine ('PHARBEST ASPIRIN 325MG', 1, 0)
2018-11-14 11:29:19,461 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,463 INFO sqlalchemy.engine.base.Engine ('ASPIRIN THIN COATED', 1, 0)
2018-11-14 11:29:19,465 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,468 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH TRI-BUFFERED ASPIRIN', 1, 0)
2018-11-14 11:29:19,471 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,472 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ASPIRIN ORANGE FLAVOR CHEWABLE', 1, 0)
2018-11-14 11:29:19,475 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,477 INFO sqlalchemy.engine.base.Engine ('BAYER ASPIRIN REGIMEN CHEWABLE LOW DOSE ASPIRIN ORANGE', 1, 0)
2018-11-14 11:29:19,480 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,482 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS LOW DOSE CHEWABLE ASPIRIN CHERRY FLAVOR', 1, 0)
2018-11-14 11:29:19,488 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,491 INFO sqlalchemy.engine.base.Engine ('ASSURED ASPIRIN', 1, 0)
2018-11-14 11:29:19,494 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,496 INFO sqlalchemy.engine.base.Engine ('PHARBEST REGULAR STRENGTH ASPIRIN', 1, 0)
2018-11-14 11:29:19,498 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,500 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW STRENGTH', 1, 0)
2018-11-14 11:29:19,506 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,508 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF ASPIRIN LOW DOSE', 1, 0)
2018-11-14 11:29:19,512 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,513 INFO sqlalchemy.engine.base.Engine ('CARE ONE ASPIRIN', 1, 0)
2018-11-14 11:29:19,516 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,517 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE ECPIRIN', 1, 0)
2018-11-14 11:29:19,524 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,525 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81 MG LOW DOSE', 1, 0)
2018-11-14 11:29:19,527 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,529 INFO sqlalchemy.engine.base.Engine ('BAYER PLUS EXTRA STRENGTH', 1, 0)
2018-11-14 11:29:19,531 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,533 INFO sqlalchemy.engine.base.Engine ('EQUATE ASPIRIN', 1, 0)
2018-11-14 11:29:19,542 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,543 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE CHEWABLE ORANGE', 1, 0)
2018-11-14 11:29:19,546 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,547 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ASPIRIN', 1, 0)
2018-11-14 11:29:19,549 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:19,552 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325 MG EC', 1, 0)
2018-11-14 11:29:19,556 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,557 INFO sqlalchemy.engine.base.Engine ('EQUALINE ASPIRIN', 1, 0)
2018-11-14 11:29:19,561 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,562 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC COATED LOW DOSE', 1, 0)
2018-11-14 11:29:19,566 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,568 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE SAFETY COATED', 1, 0)
2018-11-14 11:29:19,571 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,573 INFO sqlalchemy.engine.base.Engine ('ASPIRIN SAFETY COATED ADULT LOW DOSE', 1, 0)
2018-11-14 11:29:19,575 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,576 INFO sqlalchemy.engine.base.Engine ('ENTERIC COATED ASPIRIN', 1, 0)
2018-11-14 11:29:19,578 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,579 INFO sqlalchemy.engine.base.Engine ('365 EVERYDAY VALUE ASPIRIN', 1, 0)
2018-11-14 11:29:19,580 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,582 INFO sqlalchemy.engine.base.Engine ('GERITREX ASPIRIN', 1, 0)
2018-11-14 11:29:19,584 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,589 INFO sqlalchemy.engine.base.Engine ('VALUE PHARMA ASPIRIN PAIN RELIEVER', 1, 0)
2018-11-14 11:29:19,591 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,593 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN ENTERIC SAFETY COATED', 1, 0)
2018-11-14 11:29:19,595 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,596 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE ASPIRIN', 1, 0)
2018-11-14 11:29:19,598 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,599 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW STRENGTH ADULT', 1, 0)
2018-11-14 11:29:19,601 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,603 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH PAIN RELIEF', 1, 0)
2018-11-14 11:29:19,607 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,608 INFO sqlalchemy.engine.base.Engine ('BUFFERIN LOW DOSE BUFFERED ASPIRIN', 1, 0)
2018-11-14 11:29:19,609 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,610 INFO sqlalchemy.engine.base.Engine ('ASPIRIN SAFETY COATED', 1, 0)
2018-11-14 11:29:19,612 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,613 INFO sqlalchemy.engine.base.Engine ('ADULTS LOW STRENGTH ASPIRIN', 1, 0)
2018-11-14 11:29:19,619 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,621 INFO sqlalchemy.engine.base.Engine ('ST. JOSEPH LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:29:19,623 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,624 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81 MG ENTERIC COATED', 1, 0)
2018-11-14 11:29:19,626 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,627 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325 MG', 1, 0)
2018-11-14 11:29:19,629 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,630 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC COATED, REGULAR STRENGTH', 1, 0)
2018-11-14 11:29:19,632 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,633 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN ASPIRIN', 1, 0)
2018-11-14 11:29:19,635 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,639 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE CHEWABLE', 1, 0)
2018-11-14 11:29:19,641 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,642 INFO sqlalchemy.engine.base.Engine ('DIRECT SAFETY ASPIRIN', 1, 0)
2018-11-14 11:29:19,648 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,650 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ADULT LOW STRENGTH', 1, 0)
2018-11-14 11:29:19,652 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,655 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ASPIRIN ADULT LOW DOSE', 1, 0)
2018-11-14 11:29:19,657 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,658 INFO sqlalchemy.engine.base.Engine ('CAREALL ASPIRIN', 1, 0)
2018-11-14 11:29:19,660 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,662 INFO sqlalchemy.engine.base.Engine ('ENTERIC COATED ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:29:19,664 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,665 INFO sqlalchemy.engine.base.Engine ('BAYER GENUINE ASPIRIN', 1, 0)
2018-11-14 11:29:19,668 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,670 INFO sqlalchemy.engine.base.Engine ('BUFFERIN ARTHRITIS', 1, 0)
2018-11-14 11:29:19,676 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,678 INFO sqlalchemy.engine.base.Engine ('TOPCARE ASPIRIN', 1, 0)
2018-11-14 11:29:19,680 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,682 INFO sqlalchemy.engine.base.Engine ('ASPIRIN DELAYED RELEASE', 1, 0)
2018-11-14 11:29:19,684 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:19,685 INFO sqlalchemy.engine.base.Engine ('ASPIRIN SAFETY COATED ENTERIC, REGULAR STRENGTH', 1, 0)
2018-11-14 11:29:19,688 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,689 INFO sqlalchemy.engine.base.Engine ('ADULT LOW DOSE ASPIRIN ENTERIC SAFETY COATED', 1, 0)
2018-11-14 11:29:19,693 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,694 INFO sqlalchemy.engine.base.Engine ('BAYER CHEWABLE - ASPIRIN REGIMEN LOW DOSE ASPIRIN CHERRY FLAVORED', 1, 0)
2018-11-14 11:29:19,696 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,697 INFO sqlalchemy.engine.base.Engine ('CAREONE ASPIRIN', 1, 0)
2018-11-14 11:29:19,699 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,700 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE ASPIRIN', 1, 0)
2018-11-14 11:29:19,703 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,704 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ASPIRIN', 1, 0)
2018-11-14 11:29:19,706 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,707 INFO sqlalchemy.engine.base.Engine ('ASPIRIN EXTRA STRENGTH', 1, 0)
2018-11-14 11:29:19,710 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,711 INFO sqlalchemy.engine.base.Engine ('EQUATE ASPIRIN CHEWABLE', 1, 0)
2018-11-14 11:29:19,714 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,716 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN 81 MG SAFETY COATED', 1, 0)
2018-11-14 11:29:19,718 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,721 INFO sqlalchemy.engine.base.Engine ('UNCOATED ASPIRIN', 1, 0)
2018-11-14 11:29:19,725 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,726 INFO sqlalchemy.engine.base.Engine ('DG HEALTH ASPIRIN', 1, 0)
2018-11-14 11:29:19,728 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,729 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE SUGAR FREE', 1, 0)
2018-11-14 11:29:19,731 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,732 INFO sqlalchemy.engine.base.Engine ('SUNMARK ASPIRIN ADULT LOW STRENGTH', 1, 0)
2018-11-14 11:29:19,734 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,736 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81MG ADULT LOW DOSE', 1, 0)
2018-11-14 11:29:19,739 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,740 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC COATED', 1, 0)
2018-11-14 11:29:19,741 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,744 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:29:19,747 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,748 INFO sqlalchemy.engine.base.Engine ('REXALL ASPIRIN', 1, 0)
2018-11-14 11:29:19,750 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,754 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:29:19,757 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,759 INFO sqlalchemy.engine.base.Engine ('ST. JOSEPH CHEWABLE LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:29:19,762 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,763 INFO sqlalchemy.engine.base.Engine ('COATED ASPIRIN', 1, 0)
2018-11-14 11:29:19,764 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,766 INFO sqlalchemy.engine.base.Engine ('SAFETY COATED LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:29:19,768 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,769 INFO sqlalchemy.engine.base.Engine ('ENTERIC ASPIRIN', 1, 0)
2018-11-14 11:29:19,775 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,779 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325MG', 1, 0)
2018-11-14 11:29:19,781 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,782 INFO sqlalchemy.engine.base.Engine ('CRITICAL CARE ASPIRIN TO GO', 1, 0)
2018-11-14 11:29:19,784 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,786 INFO sqlalchemy.engine.base.Engine ('HANDY SOLUTIONS GENUINE ASPIRIN BAYER', 1, 0)
2018-11-14 11:29:19,790 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,791 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE ENTERIC COATED', 1, 0)
2018-11-14 11:29:19,793 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,794 INFO sqlalchemy.engine.base.Engine ('UP AND UP ASPIRIN', 1, 0)
2018-11-14 11:29:19,796 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,798 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ADULT LOW DOSE', 1, 0)
2018-11-14 11:29:19,800 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,803 INFO sqlalchemy.engine.base.Engine ('BUFFERED ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:29:19,808 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,809 INFO sqlalchemy.engine.base.Engine ('LOW DOSE MINIPRIN ENTERIC SAFETY COATED', 1, 0)
2018-11-14 11:29:19,811 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,812 INFO sqlalchemy.engine.base.Engine ('BAYER LOW DOSE', 1, 0)
2018-11-14 11:29:19,814 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:19,816 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ASPIRIN', 1, 0)
2018-11-14 11:29:19,818 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,820 INFO sqlalchemy.engine.base.Engine ('LOW STRENGTH CHEWABLE ASPIRIN', 1, 0)
2018-11-14 11:29:19,823 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,824 INFO sqlalchemy.engine.base.Engine ('VALUMEDS ASPIRIN', 1, 0)
2018-11-14 11:29:19,827 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,828 INFO sqlalchemy.engine.base.Engine ('MINIPRIN', 1, 0)
2018-11-14 11:29:19,833 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,833 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 5 GRAIN', 1, 0)
2018-11-14 11:29:19,836 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,837 INFO sqlalchemy.engine.base.Engine ('GENUINE ASPIRIN', 1, 0)
2018-11-14 11:29:19,840 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,841 INFO sqlalchemy.engine.base.Engine ('ASPIRIN CHEWABLE', 1, 0)
2018-11-14 11:29:19,843 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,843 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ASPIRIN EC', 1, 0)
2018-11-14 11:29:19,846 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,847 INFO sqlalchemy.engine.base.Engine ('ASPIRIN NSAID', 1, 0)
2018-11-14 11:29:19,849 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,850 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS ASPIRIN', 1, 0)
2018-11-14 11:29:19,856 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,857 INFO sqlalchemy.engine.base.Engine ('SHOPRITE ASPIRIN', 1, 0)
2018-11-14 11:29:19,860 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,861 INFO sqlalchemy.engine.base.Engine ('ASPIRIN', 1, 0)
2018-11-14 11:29:19,864 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,865 INFO sqlalchemy.engine.base.Engine ('UP AND UP CHEWABLE ASPIRIN', 1, 0)
2018-11-14 11:29:19,867 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,868 INFO sqlalchemy.engine.base.Engine ('ADULT LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:29:19,871 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,875 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ADULT, REGIMEN', 1, 0)
2018-11-14 11:29:19,877 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,878 INFO sqlalchemy.engine.base.Engine ('LEADER ASPIRIN', 1, 0)
2018-11-14 11:29:19,882 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,885 INFO sqlalchemy.engine.base.Engine ('SMART SENSE CHEWABLE ASPIRIN', 1, 0)
2018-11-14 11:29:19,890 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,891 INFO sqlalchemy.engine.base.Engine ('ECOTRIN', 1, 0)
2018-11-14 11:29:19,892 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,894 INFO sqlalchemy.engine.base.Engine ('TRI-BUFFERED ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:29:19,897 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,898 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE ASPIRIN 81', 1, 0)
2018-11-14 11:29:19,900 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,901 INFO sqlalchemy.engine.base.Engine ('ENTERIC ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:29:19,904 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,905 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN CHEWABLE', 1, 0)
2018-11-14 11:29:19,907 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,908 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC SAFETY-COATED', 1, 0)
2018-11-14 11:29:19,910 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,911 INFO sqlalchemy.engine.base.Engine ('BUFFERIN', 1, 0)
2018-11-14 11:29:19,914 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,915 INFO sqlalchemy.engine.base.Engine ('BASIC CARE ASPIRIN', 1, 0)
2018-11-14 11:29:19,917 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,918 INFO sqlalchemy.engine.base.Engine ('RUGBY ASPIRIN', 1, 0)
2018-11-14 11:29:19,921 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,923 INFO sqlalchemy.engine.base.Engine ('COATED ASPIRIN LOW-DOSE', 1, 0)
2018-11-14 11:29:19,925 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,926 INFO sqlalchemy.engine.base.Engine ('RAPID COMFORT ASPIRIN', 1, 0)
2018-11-14 11:29:19,928 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,929 INFO sqlalchemy.engine.base.Engine ('TRI-BUFFERED ASPIRIN', 1, 0)
2018-11-14 11:29:19,931 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,932 INFO sqlalchemy.engine.base.Engine ('ASPIRIN CHEWABLE, LOW DOSE', 1, 0)
2018-11-14 11:29:19,934 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,935 INFO sqlalchemy.engine.base.Engine ('ZEE ASPIRIN', 1, 0)
2018-11-14 11:29:19,937 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,938 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF ASPIRIN', 1, 0)
2018-11-14 11:29:19,940 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:19,941 INFO sqlalchemy.engine.base.Engine ('ASPI-COR', 1, 0)
2018-11-14 11:29:19,942 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,943 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC SAFETY COATED', 1, 0)
2018-11-14 11:29:19,945 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,946 INFO sqlalchemy.engine.base.Engine ('7 SELECT ASPIRIN', 1, 0)
2018-11-14 11:29:19,948 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,950 INFO sqlalchemy.engine.base.Engine ('PLUS PHARMA NSAID ASPIRIN', 1, 0)
2018-11-14 11:29:19,953 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,954 INFO sqlalchemy.engine.base.Engine ('SUNMARK ASPIRIN', 1, 0)
2018-11-14 11:29:19,957 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,958 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS ASPIRIN', 1, 0)
2018-11-14 11:29:19,960 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,961 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ASPIRIN LOW DOSE', 1, 0)
2018-11-14 11:29:19,963 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,964 INFO sqlalchemy.engine.base.Engine ('CHEWABLE LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:29:19,966 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,967 INFO sqlalchemy.engine.base.Engine ('VALUE PHARMAPAIN RELIEVER EXTRA STRENGTH', 1, 0)
2018-11-14 11:29:19,970 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,971 INFO sqlalchemy.engine.base.Engine ('BAYER ASPIRIN REGIMEN ENTERIC COATED', 1, 0)
2018-11-14 11:29:19,974 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,975 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE ADULT CHEWABLE LOW STRENGTH ASPIRIN', 1, 0)
2018-11-14 11:29:19,977 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,978 INFO sqlalchemy.engine.base.Engine ('MICRO-COATED ASPIRIN', 1, 0)
2018-11-14 11:29:19,980 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,981 INFO sqlalchemy.engine.base.Engine ('SMART SENSE ASPIRIN', 1, 0)
2018-11-14 11:29:19,983 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,984 INFO sqlalchemy.engine.base.Engine ('BAYER', 1, 0)
2018-11-14 11:29:19,986 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,988 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN LOW DOSE', 1, 0)
2018-11-14 11:29:19,990 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,991 INFO sqlalchemy.engine.base.Engine ('HEALTH MART REGULAR STRENGTH ENTERIC COATED ASPIRIN', 1, 0)
2018-11-14 11:29:19,993 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,994 INFO sqlalchemy.engine.base.Engine ('BUFFERED ASPIRIN', 1, 0)
2018-11-14 11:29:19,998 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:19,999 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW STRENGTH, ENTERIC', 1, 0)
2018-11-14 11:29:20,002 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,003 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325', 1, 0)
2018-11-14 11:29:20,007 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,013 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS LOW DOSE CHEWABLE ASPIRIN ORANGE FLAVOR', 1, 0)
2018-11-14 11:29:20,017 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,021 INFO sqlalchemy.engine.base.Engine ('SOLVES - ASPIRIN CHERRY', 1, 0)
2018-11-14 11:29:20,025 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,026 INFO sqlalchemy.engine.base.Engine ('SUNMARK ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:29:20,028 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,029 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ADULT LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:29:20,031 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,035 INFO sqlalchemy.engine.base.Engine ('ADVANCED ASPIRIN', 1, 0)
2018-11-14 11:29:20,039 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,041 INFO sqlalchemy.engine.base.Engine ('LEADER LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:29:20,043 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,045 INFO sqlalchemy.engine.base.Engine ('BAYER WOMENS', 1, 0)
2018-11-14 11:29:20,047 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,048 INFO sqlalchemy.engine.base.Engine ('ECOTRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:29:20,053 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,057 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ENTERIC COATED ASPIRIN', 1, 0)
2018-11-14 11:29:20,065 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,066 INFO sqlalchemy.engine.base.Engine ('ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:29:20,071 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,073 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE', 1, 0)
2018-11-14 11:29:20,075 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,076 INFO sqlalchemy.engine.base.Engine ('SAFETY COATED ASPIRIN', 1, 0)
2018-11-14 11:29:20,078 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:20,079 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81 MG', 1, 0)
2018-11-14 11:29:20,081 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,088 INFO sqlalchemy.engine.base.Engine ('ASPIRIN CHEWABLE LOW DOSE', 1, 0)
2018-11-14 11:29:20,093 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:20,094 INFO sqlalchemy.engine.base.Engine (55,)
2018-11-14 11:29:20,114 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,117 INFO sqlalchemy.engine.base.Engine ('HENRY SCHEIN ASPIRIN',)
2018-11-14 11:29:20,118 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,119 INFO sqlalchemy.engine.base.Engine ('HEALTH MART ASPIRIN',)
2018-11-14 11:29:20,123 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,124 INFO sqlalchemy.engine.base.Engine ('PHARBEST ASPIRIN 325MG',)
2018-11-14 11:29:20,124 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,127 INFO sqlalchemy.engine.base.Engine ('ASPIRIN THIN COATED',)
2018-11-14 11:29:20,130 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,131 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH TRI-BUFFERED ASPIRIN',)
2018-11-14 11:29:20,133 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,135 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ASPIRIN ORANGE FLAVOR CHEWABLE',)
2018-11-14 11:29:20,137 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,140 INFO sqlalchemy.engine.base.Engine ('BAYER ASPIRIN REGIMEN CHEWABLE LOW DOSE ASPIRIN ORANGE',)
2018-11-14 11:29:20,141 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,142 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS LOW DOSE CHEWABLE ASPIRIN CHERRY FLAVOR',)
2018-11-14 11:29:20,143 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,144 INFO sqlalchemy.engine.base.Engine ('ASSURED ASPIRIN',)
2018-11-14 11:29:20,145 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,146 INFO sqlalchemy.engine.base.Engine ('PHARBEST REGULAR STRENGTH ASPIRIN',)
2018-11-14 11:29:20,147 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,149 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW STRENGTH',)
2018-11-14 11:29:20,150 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,151 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF ASPIRIN LOW DOSE',)
2018-11-14 11:29:20,153 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,156 INFO sqlalchemy.engine.base.Engine ('CARE ONE ASPIRIN',)
2018-11-14 11:29:20,157 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,158 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE ECPIRIN',)
2018-11-14 11:29:20,160 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,161 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81 MG LOW DOSE',)
2018-11-14 11:29:20,163 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,164 INFO sqlalchemy.engine.base.Engine ('BAYER PLUS EXTRA STRENGTH',)
2018-11-14 11:29:20,165 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,166 INFO sqlalchemy.engine.base.Engine ('EQUATE ASPIRIN',)
2018-11-14 11:29:20,167 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,168 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE CHEWABLE ORANGE',)
2018-11-14 11:29:20,170 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,171 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ASPIRIN',)
2018-11-14 11:29:20,173 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,174 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325 MG EC',)
2018-11-14 11:29:20,175 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,176 INFO sqlalchemy.engine.base.Engine ('EQUALINE ASPIRIN',)
2018-11-14 11:29:20,177 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,178 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC COATED LOW DOSE',)
2018-11-14 11:29:20,178 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,179 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE SAFETY COATED',)
2018-11-14 11:29:20,180 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,181 INFO sqlalchemy.engine.base.Engine ('ASPIRIN SAFETY COATED ADULT LOW DOSE',)
2018-11-14 11:29:20,182 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,183 INFO sqlalchemy.engine.base.Engine ('ENTERIC COATED ASPIRIN',)
2018-11-14 11:29:20,184 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,185 INFO sqlalchemy.engine.base.Engine ('365 EVERYDAY VALUE ASPIRIN',)
2018-11-14 11:29:20,186 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,187 INFO sqlalchemy.engine.base.Engine ('GERITREX ASPIRIN',)
2018-11-14 11:29:20,188 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,189 INFO sqlalchemy.engine.base.Engine ('VALUE PHARMA ASPIRIN PAIN RELIEVER',)
2018-11-14 11:29:20,190 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,191 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN ENTERIC SAFETY COATED',)
2018-11-14 11:29:20,192 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,193 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE ASPIRIN',)
2018-11-14 11:29:20,195 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,196 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW STRENGTH ADULT',)
2018-11-14 11:29:20,198 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,199 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH PAIN RELIEF',)
2018-11-14 11:29:20,201 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,202 INFO sqlalchemy.engine.base.Engine ('BUFFERIN LOW DOSE BUFFERED ASPIRIN',)
2018-11-14 11:29:20,204 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,205 INFO sqlalchemy.engine.base.Engine ('ASPIRIN SAFETY COATED',)
2018-11-14 11:29:20,207 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,208 INFO sqlalchemy.engine.base.Engine ('ADULTS LOW STRENGTH ASPIRIN',)
2018-11-14 11:29:20,209 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,210 INFO sqlalchemy.engine.base.Engine ('ST. JOSEPH LOW DOSE ASPIRIN',)
2018-11-14 11:29:20,211 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,212 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81 MG ENTERIC COATED',)
2018-11-14 11:29:20,213 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,214 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325 MG',)
2018-11-14 11:29:20,215 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,216 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC COATED, REGULAR STRENGTH',)
2018-11-14 11:29:20,218 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,218 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN ASPIRIN',)

2018-11-14 11:29:20,220 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,221 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE CHEWABLE',)
2018-11-14 11:29:20,222 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,223 INFO sqlalchemy.engine.base.Engine ('DIRECT SAFETY ASPIRIN',)
2018-11-14 11:29:20,224 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,225 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ADULT LOW STRENGTH',)
2018-11-14 11:29:20,226 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,227 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ASPIRIN ADULT LOW DOSE',)
2018-11-14 11:29:20,229 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,230 INFO sqlalchemy.engine.base.Engine ('CAREALL ASPIRIN',)
2018-11-14 11:29:20,232 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,233 INFO sqlalchemy.engine.base.Engine ('ENTERIC COATED ASPIRIN REGULAR STRENGTH',)
2018-11-14 11:29:20,234 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,234 INFO sqlalchemy.engine.base.Engine ('BAYER GENUINE ASPIRIN',)
2018-11-14 11:29:20,236 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,237 INFO sqlalchemy.engine.base.Engine ('BUFFERIN ARTHRITIS',)
2018-11-14 11:29:20,238 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,240 INFO sqlalchemy.engine.base.Engine ('TOPCARE ASPIRIN',)
2018-11-14 11:29:20,241 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,242 INFO sqlalchemy.engine.base.Engine ('ASPIRIN DELAYED RELEASE',)
2018-11-14 11:29:20,243 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,244 INFO sqlalchemy.engine.base.Engine ('ASPIRIN SAFETY COATED ENTERIC, REGULAR STRENGTH',)
2018-11-14 11:29:20,245 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,246 INFO sqlalchemy.engine.base.Engine ('ADULT LOW DOSE ASPIRIN ENTERIC SAFETY COATED',)
2018-11-14 11:29:20,247 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,248 INFO sqlalchemy.engine.base.Engine ('BAYER CHEWABLE - ASPIRIN REGIMEN LOW DOSE ASPIRIN CHERRY FLAVORED',)
2018-11-14 11:29:20,250 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,251 INFO sqlalchemy.engine.base.Engine ('CAREONE ASPIRIN',)
2018-11-14 11:29:20,252 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,253 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE ASPIRIN',)
2018-11-14 11:29:20,254 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,255 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ASPIRIN',)
2018-11-14 11:29:20,256 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,258 INFO sqlalchemy.engine.base.Engine ('ASPIRIN EXTRA STRENGTH',)
2018-11-14 11:29:20,259 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,260 INFO sqlalchemy.engine.base.Engine ('EQUATE ASPIRIN CHEWABLE',)
2018-11-14 11:29:20,261 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,263 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN 81 MG SAFETY COATED',)
2018-11-14 11:29:20,268 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,271 INFO sqlalchemy.engine.base.Engine ('UNCOATED ASPIRIN',)
2018-11-14 11:29:20,275 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,276 INFO sqlalchemy.engine.base.Engine ('DG HEALTH ASPIRIN',)
2018-11-14 11:29:20,277 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,278 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE SUGAR FREE',)
2018-11-14 11:29:20,279 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,281 INFO sqlalchemy.engine.base.Engine ('SUNMARK ASPIRIN ADULT LOW STRENGTH',)
2018-11-14 11:29:20,283 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,284 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81MG ADULT LOW DOSE',)
2018-11-14 11:29:20,286 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,287 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC COATED',)
2018-11-14 11:29:20,291 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,292 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS LOW DOSE ASPIRIN',)
2018-11-14 11:29:20,293 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,294 INFO sqlalchemy.engine.base.Engine ('REXALL ASPIRIN',)
2018-11-14 11:29:20,296 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,296 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN',)
2018-11-14 11:29:20,298 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,299 INFO sqlalchemy.engine.base.Engine ('ST. JOSEPH CHEWABLE LOW DOSE ASPIRIN',)
2018-11-14 11:29:20,300 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,301 INFO sqlalchemy.engine.base.Engine ('COATED ASPIRIN',)
2018-11-14 11:29:20,302 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,305 INFO sqlalchemy.engine.base.Engine ('SAFETY COATED LOW DOSE ASPIRIN',)
2018-11-14 11:29:20,307 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,310 INFO sqlalchemy.engine.base.Engine ('ENTERIC ASPIRIN',)
2018-11-14 11:29:20,312 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,313 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325MG',)
2018-11-14 11:29:20,314 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,315 INFO sqlalchemy.engine.base.Engine ('CRITICAL CARE ASPIRIN TO GO',)
2018-11-14 11:29:20,316 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,317 INFO sqlalchemy.engine.base.Engine ('HANDY SOLUTIONS GENUINE ASPIRIN BAYER',)
2018-11-14 11:29:20,318 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,320 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE ENTERIC COATED',)
2018-11-14 11:29:20,323 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,328 INFO sqlalchemy.engine.base.Engine ('UP AND UP ASPIRIN',)
2018-11-14 11:29:20,329 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,330 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ADULT LOW DOSE',)
2018-11-14 11:29:20,331 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,332 INFO sqlalchemy.engine.base.Engine ('BUFFERED ASPIRIN REGULAR STRENGTH',)
2018-11-14 11:29:20,341 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,342 INFO sqlalchemy.engine.base.Engine ('LOW DOSE MINIPRIN ENTERIC SAFETY COATED',)
2018-11-14 11:29:20,343 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,344 INFO sqlalchemy.engine.base.Engine ('BAYER LOW DOSE',)
2018-11-14 11:29:20,345 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,346 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ASPIRIN',)
2018-11-14 11:29:20,348 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,348 INFO sqlalchemy.engine.base.Engine ('LOW STRENGTH CHEWABLE ASPIRIN',)
2018-11-14 11:29:20,350 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,350 INFO sqlalchemy.engine.base.Engine ('VALUMEDS ASPIRIN',)

2018-11-14 11:29:20,352 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,353 INFO sqlalchemy.engine.base.Engine ('MINIPRIN',)
2018-11-14 11:29:20,357 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,358 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 5 GRAIN',)
2018-11-14 11:29:20,361 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,362 INFO sqlalchemy.engine.base.Engine ('GENUINE ASPIRIN',)
2018-11-14 11:29:20,365 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,365 INFO sqlalchemy.engine.base.Engine ('ASPIRIN CHEWABLE',)
2018-11-14 11:29:20,367 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,368 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ASPIRIN EC',)
2018-11-14 11:29:20,369 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,372 INFO sqlalchemy.engine.base.Engine ('ASPIRIN NSAID',)
2018-11-14 11:29:20,374 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,378 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS ASPIRIN',)
2018-11-14 11:29:20,379 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,380 INFO sqlalchemy.engine.base.Engine ('SHOPRITE ASPIRIN',)
2018-11-14 11:29:20,381 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,382 INFO sqlalchemy.engine.base.Engine ('ASPIRIN',)
2018-11-14 11:29:20,386 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,390 INFO sqlalchemy.engine.base.Engine ('UP AND UP CHEWABLE ASPIRIN',)
2018-11-14 11:29:20,392 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,393 INFO sqlalchemy.engine.base.Engine ('ADULT LOW DOSE ASPIRIN',)
2018-11-14 11:29:20,394 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,395 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ADULT, REGIMEN',)
2018-11-14 11:29:20,396 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,397 INFO sqlalchemy.engine.base.Engine ('LEADER ASPIRIN',)
2018-11-14 11:29:20,398 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,399 INFO sqlalchemy.engine.base.Engine ('SMART SENSE CHEWABLE ASPIRIN',)
2018-11-14 11:29:20,401 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,401 INFO sqlalchemy.engine.base.Engine ('ECOTRIN',)
2018-11-14 11:29:20,403 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,407 INFO sqlalchemy.engine.base.Engine ('TRI-BUFFERED ASPIRIN REGULAR STRENGTH',)
2018-11-14 11:29:20,408 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,409 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE ASPIRIN 81',)
2018-11-14 11:29:20,410 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,414 INFO sqlalchemy.engine.base.Engine ('ENTERIC ASPIRIN REGULAR STRENGTH',)
2018-11-14 11:29:20,416 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,418 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN CHEWABLE',)
2018-11-14 11:29:20,419 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,423 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC SAFETY-COATED',)
2018-11-14 11:29:20,424 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,425 INFO sqlalchemy.engine.base.Engine ('BUFFERIN',)
2018-11-14 11:29:20,427 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,428 INFO sqlalchemy.engine.base.Engine ('BASIC CARE ASPIRIN',)
2018-11-14 11:29:20,429 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,430 INFO sqlalchemy.engine.base.Engine ('RUGBY ASPIRIN',)
2018-11-14 11:29:20,435 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,436 INFO sqlalchemy.engine.base.Engine ('COATED ASPIRIN LOW-DOSE',)
2018-11-14 11:29:20,437 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,438 INFO sqlalchemy.engine.base.Engine ('RAPID COMFORT ASPIRIN',)
2018-11-14 11:29:20,441 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,445 INFO sqlalchemy.engine.base.Engine ('TRI-BUFFERED ASPIRIN',)
2018-11-14 11:29:20,447 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,447 INFO sqlalchemy.engine.base.Engine ('ASPIRIN CHEWABLE, LOW DOSE',)
2018-11-14 11:29:20,449 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,450 INFO sqlalchemy.engine.base.Engine ('ZEE ASPIRIN',)
2018-11-14 11:29:20,451 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,452 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF ASPIRIN',)
2018-11-14 11:29:20,456 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,457 INFO sqlalchemy.engine.base.Engine ('ASPI-COR',)
2018-11-14 11:29:20,460 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,461 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC SAFETY COATED',)
2018-11-14 11:29:20,462 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,465 INFO sqlalchemy.engine.base.Engine ('7 SELECT ASPIRIN',)
2018-11-14 11:29:20,466 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,467 INFO sqlalchemy.engine.base.Engine ('PLUS PHARMA NSAID ASPIRIN',)
2018-11-14 11:29:20,468 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,469 INFO sqlalchemy.engine.base.Engine ('SUNMARK ASPIRIN',)
2018-11-14 11:29:20,471 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,475 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS ASPIRIN',)
2018-11-14 11:29:20,480 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,481 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ASPIRIN LOW DOSE',)
2018-11-14 11:29:20,482 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,483 INFO sqlalchemy.engine.base.Engine ('CHEWABLE LOW DOSE ASPIRIN',)
2018-11-14 11:29:20,485 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,486 INFO sqlalchemy.engine.base.Engine ('VALUE PHARMAPAIN RELIEVER EXTRA STRENGTH',)
2018-11-14 11:29:20,490 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,491 INFO sqlalchemy.engine.base.Engine ('BAYER ASPIRIN REGIMEN ENTERIC COATED',)
2018-11-14 11:29:20,492 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,493 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE ADULT CHEWABLE LOW STRENGTH ASPIRIN',)
2018-11-14 11:29:20,494 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,495 INFO sqlalchemy.engine.base.Engine ('MICRO-COATED ASPIRIN',)
2018-11-14 11:29:20,496 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,497 INFO sqlalchemy.engine.base.Engine ('SMART SENSE ASPIRIN',)
2018-11-14 11:29:20,498 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,498 INFO sqlalchemy.engine.base.Engine ('BAYER',)
2018-11-14 11:29:20,499 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,500 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN LOW DOSE',)
2018-11-14 11:29:20,501 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,502 INFO sqlalchemy.engine.base.Engine ('HEALTH MART REGULAR STRENGTH ENTERIC COATED ASPIRIN',)

2018-11-14 11:29:20,504 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,505 INFO sqlalchemy.engine.base.Engine ('BUFFERED ASPIRIN',)
2018-11-14 11:29:20,506 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,507 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW STRENGTH, ENTERIC',)
2018-11-14 11:29:20,509 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,510 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325',)
2018-11-14 11:29:20,513 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,515 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS LOW DOSE CHEWABLE ASPIRIN ORANGE FLAVOR',)
2018-11-14 11:29:20,517 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,518 INFO sqlalchemy.engine.base.Engine ('SOLVES - ASPIRIN CHERRY',)
2018-11-14 11:29:20,527 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,528 INFO sqlalchemy.engine.base.Engine ('SUNMARK ASPIRIN REGULAR STRENGTH',)
2018-11-14 11:29:20,529 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,530 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ADULT LOW DOSE ASPIRIN',)
2018-11-14 11:29:20,531 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,533 INFO sqlalchemy.engine.base.Engine ('ADVANCED ASPIRIN',)
2018-11-14 11:29:20,534 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,537 INFO sqlalchemy.engine.base.Engine ('LEADER LOW DOSE ASPIRIN',)
2018-11-14 11:29:20,539 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,540 INFO sqlalchemy.engine.base.Engine ('BAYER WOMENS',)
2018-11-14 11:29:20,542 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,543 INFO sqlalchemy.engine.base.Engine ('ECOTRIN REGULAR STRENGTH',)
2018-11-14 11:29:20,544 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,545 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ENTERIC COATED ASPIRIN',)
2018-11-14 11:29:20,546 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,547 INFO sqlalchemy.engine.base.Engine ('ASPIRIN REGULAR STRENGTH',)
2018-11-14 11:29:20,549 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,549 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE',)
2018-11-14 11:29:20,551 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,552 INFO sqlalchemy.engine.base.Engine ('SAFETY COATED ASPIRIN',)
2018-11-14 11:29:20,556 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,557 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81 MG',)
2018-11-14 11:29:20,559 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,560 INFO sqlalchemy.engine.base.Engine ('ASPIRIN CHEWABLE LOW DOSE',)
2018-11-14 11:29:20,566 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:20,570 INFO sqlalchemy.engine.base.Engine ((166, 55), (82, 55), (119, 55), (137, 55), (125, 55), (114, 55), (179, 55), (96, 55)  ... displaying 10 of 146 total bound parameter sets ...  (174, 55), (55, 55))
2018-11-14 11:29:20,580 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,584 INFO sqlalchemy.engine.base.Engine ('Nasopharyngitis', 1, 0)
2018-11-14 11:29:20,587 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:20,592 INFO sqlalchemy.engine.base.Engine (55,)
2018-11-14 11:29:20,595 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:20,597 INFO sqlalchemy.engine.base.Engine (30, 55)
2018-11-14 11:29:20,599 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:20,617 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:20,619 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:20,621 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:20,628 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:20,632 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:20,634 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,635 INFO sqlalchemy.engine.base.Engine ('AUSTEDO', 1, 0)
2018-11-14 11:29:20,637 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:20,638 INFO sqlalchemy.engine.base.Engine (56,)
2018-11-14 11:29:20,642 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,644 INFO sqlalchemy.engine.base.Engine ('AUSTEDO',)
2018-11-14 11:29:20,646 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:20,648 INFO sqlalchemy.engine.base.Engine (198, 56)
2018-11-14 11:29:20,650 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,651 INFO sqlalchemy.engine.base.Engine ('Hypersensitivity', 1, 0)
2018-11-14 11:29:20,653 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:20,655 INFO sqlalchemy.engine.base.Engine (56,)
2018-11-14 11:29:20,658 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:20,662 INFO sqlalchemy.engine.base.Engine ('Hypersensitivity',)
2018-11-14 11:29:20,664 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:20,665 INFO sqlalchemy.engine.base.Engine (138, 56)
2018-11-14 11:29:20,667 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:20,674 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:20,676 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:20,677 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:20,679 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:20,682 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:20,685 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,686 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:20,689 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:20,690 INFO sqlalchemy.engine.base.Engine (57,)
2018-11-14 11:29:20,693 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:20,695 INFO sqlalchemy.engine.base.Engine (17, 57)
2018-11-14 11:29:20,698 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:20,699 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:20,701 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:20,702 INFO sqlalchemy.engine.base.Engine (57,)
2018-11-14 11:29:20,705 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:20,706 INFO sqlalchemy.engine.base.Engine (57, 57)
2018-11-14 11:29:20,708 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:20,714 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:20,716 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:20,717 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:20,719 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:20,720 INFO sqlalchemy.engine.base.Engine (2, 78, 1)
2018-11-14 11:29:20,723 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,725 INFO sqlalchemy.engine.base.Engine ('XOLAIR', 1, 0)
2018-11-14 11:29:20,727 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:20,728 INFO sqlalchemy.engine.base.Engine (58,)
2018-11-14 11:29:20,730 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,732 INFO sqlalchemy.engine.base.Engine ('XOLAIR',)
2018-11-14 11:29:20,734 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:20,735 INFO sqlalchemy.engine.base.Engine (199, 58)
2018-11-14 11:29:20,736 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,740 INFO sqlalchemy.engine.base.Engine ('Limb deformity', 1, 0)
2018-11-14 11:29:20,743 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,745 INFO sqlalchemy.engine.base.Engine ('Musculoskeletal stiffness', 1, 0)
2018-11-14 11:29:20,747 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,748 INFO sqlalchemy.engine.base.Engine ('Rheumatoid arthritis', 1, 0)
2018-11-14 11:29:20,750 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:20,751 INFO sqlalchemy.engine.base.Engine (58,)
2018-11-14 11:29:20,754 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:20,790 INFO sqlalchemy.engine.base.Engine ('Limb deformity',)
2018-11-14 11:29:20,792 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:20,796 INFO sqlalchemy.engine.base.Engine ('Rheumatoid arthritis',)
2018-11-14 11:29:20,803 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:20,804 INFO sqlalchemy.engine.base.Engine ('Musculoskeletal stiffness',)
2018-11-14 11:29:20,810 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:20,811 INFO sqlalchemy.engine.base.Engine ((139, 58), (140, 58), (141, 58))
2018-11-14 11:29:20,813 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:20,820 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:20,824 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:20,826 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:20,829 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:20,830 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:20,833 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,836 INFO sqlalchemy.engine.base.Engine ('RIBASPHERE RIBAPAK', 1, 0)
2018-11-14 11:29:20,841 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,843 INFO sqlalchemy.engine.base.Engine ('RIBASPHERE', 1, 0)
2018-11-14 11:29:20,845 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,850 INFO sqlalchemy.engine.base.Engine ('REBETOL', 1, 0)
2018-11-14 11:29:20,853 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,855 INFO sqlalchemy.engine.base.Engine ('VIRAZOLE', 1, 0)
2018-11-14 11:29:20,860 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,861 INFO sqlalchemy.engine.base.Engine ('RIBAVIRIN', 1, 0)
2018-11-14 11:29:20,863 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,865 INFO sqlalchemy.engine.base.Engine ('MODERIBA', 1, 0)
2018-11-14 11:29:20,867 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:20,868 INFO sqlalchemy.engine.base.Engine (59,)
2018-11-14 11:29:20,873 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,874 INFO sqlalchemy.engine.base.Engine ('RIBASPHERE RIBAPAK',)
2018-11-14 11:29:20,878 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,879 INFO sqlalchemy.engine.base.Engine ('RIBASPHERE',)
2018-11-14 11:29:20,881 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,882 INFO sqlalchemy.engine.base.Engine ('REBETOL',)
2018-11-14 11:29:20,885 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,886 INFO sqlalchemy.engine.base.Engine ('VIRAZOLE',)
2018-11-14 11:29:20,888 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,890 INFO sqlalchemy.engine.base.Engine ('RIBAVIRIN',)
2018-11-14 11:29:20,891 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,894 INFO sqlalchemy.engine.base.Engine ('MODERIBA',)
2018-11-14 11:29:20,896 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:20,898 INFO sqlalchemy.engine.base.Engine ((200, 59), (201, 59), (202, 59), (203, 59), (204, 59), (205, 59))
2018-11-14 11:29:20,901 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,910 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:29:20,913 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,914 INFO sqlalchemy.engine.base.Engine ('Nausea', 1, 0)
2018-11-14 11:29:20,917 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:20,918 INFO sqlalchemy.engine.base.Engine ('Hyperammonaemia', 1, 0)
2018-11-14 11:29:20,920 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,923 INFO sqlalchemy.engine.base.Engine ('Mental status changes', 1, 0)
2018-11-14 11:29:20,927 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,928 INFO sqlalchemy.engine.base.Engine ('Dizziness', 1, 0)
2018-11-14 11:29:20,930 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,931 INFO sqlalchemy.engine.base.Engine ('Shock', 1, 0)
2018-11-14 11:29:20,933 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:20,936 INFO sqlalchemy.engine.base.Engine (59,)
2018-11-14 11:29:20,939 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:20,940 INFO sqlalchemy.engine.base.Engine ('Shock',)
2018-11-14 11:29:20,941 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:20,943 INFO sqlalchemy.engine.base.Engine ('Nausea',)
2018-11-14 11:29:20,944 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:20,945 INFO sqlalchemy.engine.base.Engine ('Mental status changes',)
2018-11-14 11:29:20,947 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:20,947 INFO sqlalchemy.engine.base.Engine ('Hyperammonaemia',)
2018-11-14 11:29:20,952 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:20,955 INFO sqlalchemy.engine.base.Engine ((142, 59), (143, 59), (144, 59), (16, 59), (145, 59), (48, 59))
2018-11-14 11:29:20,957 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:20,962 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:20,965 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:20,967 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:20,970 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:20,973 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:20,978 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,979 INFO sqlalchemy.engine.base.Engine ('AMOXICILLIN', 1, 0)
2018-11-14 11:29:20,982 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:20,984 INFO sqlalchemy.engine.base.Engine ('MOXATAG', 1, 0)
2018-11-14 11:29:20,986 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:20,988 INFO sqlalchemy.engine.base.Engine (60,)
2018-11-14 11:29:20,993 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,994 INFO sqlalchemy.engine.base.Engine ('AMOXICILLIN',)
2018-11-14 11:29:20,995 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:20,996 INFO sqlalchemy.engine.base.Engine ('MOXATAG',)
2018-11-14 11:29:20,998 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,000 INFO sqlalchemy.engine.base.Engine ((206, 60), (207, 60))
2018-11-14 11:29:21,003 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,005 INFO sqlalchemy.engine.base.Engine ('Anaphylactic shock', 1, 0)
2018-11-14 11:29:21,009 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,012 INFO sqlalchemy.engine.base.Engine ('Hypersensitivity', 1, 0)
2018-11-14 11:29:21,017 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,021 INFO sqlalchemy.engine.base.Engine (60,)
2018-11-14 11:29:21,025 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,027 INFO sqlalchemy.engine.base.Engine ('Anaphylactic shock',)
2018-11-14 11:29:21,029 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,030 INFO sqlalchemy.engine.base.Engine ((146, 60), (138, 60))
2018-11-14 11:29:21,032 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,041 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,044 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:21,047 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,051 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,053 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:21,058 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,059 INFO sqlalchemy.engine.base.Engine ('Drug interaction', 1, 0)
2018-11-14 11:29:21,062 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,064 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:29:21,066 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,068 INFO sqlalchemy.engine.base.Engine (61,)
2018-11-14 11:29:21,071 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,073 INFO sqlalchemy.engine.base.Engine ((110, 61), (66, 61))
2018-11-14 11:29:21,076 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,082 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,085 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:21,086 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,090 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,092 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:21,096 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,098 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:21,099 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:21,101 INFO sqlalchemy.engine.base.Engine (62,)
2018-11-14 11:29:21,105 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)

2018-11-14 11:29:21,108 INFO sqlalchemy.engine.base.Engine (17, 62)
2018-11-14 11:29:21,111 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,115 INFO sqlalchemy.engine.base.Engine ('Nasopharyngitis', 1, 0)
2018-11-14 11:29:21,117 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,119 INFO sqlalchemy.engine.base.Engine (62,)
2018-11-14 11:29:21,126 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,128 INFO sqlalchemy.engine.base.Engine (30, 62)
2018-11-14 11:29:21,130 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,136 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,143 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:21,145 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,147 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,150 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:21,156 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,157 INFO sqlalchemy.engine.base.Engine ('GILENYA', 1, 0)
2018-11-14 11:29:21,160 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:21,161 INFO sqlalchemy.engine.base.Engine (63,)
2018-11-14 11:29:21,165 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,167 INFO sqlalchemy.engine.base.Engine ('GILENYA',)
2018-11-14 11:29:21,169 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,170 INFO sqlalchemy.engine.base.Engine (208, 63)
2018-11-14 11:29:21,173 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,174 INFO sqlalchemy.engine.base.Engine ('Bladder disorder', 1, 0)
2018-11-14 11:29:21,178 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,179 INFO sqlalchemy.engine.base.Engine ('Malaise', 1, 0)
2018-11-14 11:29:21,182 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,183 INFO sqlalchemy.engine.base.Engine ('Multiple sclerosis relapse', 1, 0)
2018-11-14 11:29:21,186 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,187 INFO sqlalchemy.engine.base.Engine ('Gastric disorder', 1, 0)
2018-11-14 11:29:21,188 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,192 INFO sqlalchemy.engine.base.Engine (63,)
2018-11-14 11:29:21,195 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,197 INFO sqlalchemy.engine.base.Engine ('Bladder disorder',)
2018-11-14 11:29:21,198 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,200 INFO sqlalchemy.engine.base.Engine ('Multiple sclerosis relapse',)
2018-11-14 11:29:21,202 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,204 INFO sqlalchemy.engine.base.Engine ('Gastric disorder',)
2018-11-14 11:29:21,209 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,214 INFO sqlalchemy.engine.base.Engine ((101, 63), (147, 63), (148, 63), (149, 63))
2018-11-14 11:29:21,220 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,226 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,229 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:21,230 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,232 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,235 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:21,238 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,240 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:21,242 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:21,245 INFO sqlalchemy.engine.base.Engine (64,)
2018-11-14 11:29:21,251 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,253 INFO sqlalchemy.engine.base.Engine (17, 64)
2018-11-14 11:29:21,255 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,259 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:21,261 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,264 INFO sqlalchemy.engine.base.Engine ('Dry skin', 1, 0)
2018-11-14 11:29:21,267 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,267 INFO sqlalchemy.engine.base.Engine (64,)
2018-11-14 11:29:21,273 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,275 INFO sqlalchemy.engine.base.Engine ('Dry skin',)
2018-11-14 11:29:21,278 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,279 INFO sqlalchemy.engine.base.Engine (150, 64)
2018-11-14 11:29:21,281 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,281 INFO sqlalchemy.engine.base.Engine (36, 64)
2018-11-14 11:29:21,283 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,291 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,294 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:21,295 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,300 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,301 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:29:21,304 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,305 INFO sqlalchemy.engine.base.Engine ('RIBASPHERE RIBAPAK', 1, 0)
2018-11-14 11:29:21,309 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:21,310 INFO sqlalchemy.engine.base.Engine ('RIBASPHERE', 1, 0)
2018-11-14 11:29:21,313 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,316 INFO sqlalchemy.engine.base.Engine ('REBETOL', 1, 0)
2018-11-14 11:29:21,320 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,324 INFO sqlalchemy.engine.base.Engine ('VIRAZOLE', 1, 0)
2018-11-14 11:29:21,327 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,328 INFO sqlalchemy.engine.base.Engine ('RIBAVIRIN', 1, 0)
2018-11-14 11:29:21,331 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,332 INFO sqlalchemy.engine.base.Engine ('MODERIBA', 1, 0)
2018-11-14 11:29:21,334 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:21,336 INFO sqlalchemy.engine.base.Engine (65,)
2018-11-14 11:29:21,341 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,345 INFO sqlalchemy.engine.base.Engine ((200, 65), (201, 65), (202, 65), (203, 65), (204, 65), (205, 65))
2018-11-14 11:29:21,347 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,349 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:29:21,351 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,352 INFO sqlalchemy.engine.base.Engine ('Mental status changes', 1, 0)
2018-11-14 11:29:21,354 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,355 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:29:21,359 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,360 INFO sqlalchemy.engine.base.Engine ('Abdominal pain', 1, 0)
2018-11-14 11:29:21,364 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,366 INFO sqlalchemy.engine.base.Engine ('Irritability', 1, 0)
2018-11-14 11:29:21,369 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,370 INFO sqlalchemy.engine.base.Engine ('Anaemia', 1, 0)
2018-11-14 11:29:21,372 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,373 INFO sqlalchemy.engine.base.Engine ('Upper respiratory tract infection', 1, 0)
2018-11-14 11:29:21,375 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,379 INFO sqlalchemy.engine.base.Engine ('Wheezing', 1, 0)
2018-11-14 11:29:21,384 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,385 INFO sqlalchemy.engine.base.Engine ('Hyperbilirubinaemia', 1, 0)
2018-11-14 11:29:21,387 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,388 INFO sqlalchemy.engine.base.Engine ('Mood altered', 1, 0)
2018-11-14 11:29:21,391 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,392 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:29:21,395 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,396 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:29:21,401 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,404 INFO sqlalchemy.engine.base.Engine ('Photosensitivity reaction', 1, 0)
2018-11-14 11:29:21,406 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,408 INFO sqlalchemy.engine.base.Engine ('Nausea', 1, 0)
2018-11-14 11:29:21,417 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,418 INFO sqlalchemy.engine.base.Engine ('Syncope', 1, 0)
2018-11-14 11:29:21,421 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,422 INFO sqlalchemy.engine.base.Engine ('Dizziness', 1, 0)
2018-11-14 11:29:21,424 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,426 INFO sqlalchemy.engine.base.Engine (65,)
2018-11-14 11:29:21,433 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,435 INFO sqlalchemy.engine.base.Engine ('Irritability',)
2018-11-14 11:29:21,437 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,438 INFO sqlalchemy.engine.base.Engine ('Wheezing',)
2018-11-14 11:29:21,440 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,441 INFO sqlalchemy.engine.base.Engine ('Syncope',)
2018-11-14 11:29:21,444 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,445 INFO sqlalchemy.engine.base.Engine ('Hyperbilirubinaemia',)
2018-11-14 11:29:21,447 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,448 INFO sqlalchemy.engine.base.Engine ('Photosensitivity reaction',)
2018-11-14 11:29:21,450 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,451 INFO sqlalchemy.engine.base.Engine ('Upper respiratory tract infection',)
2018-11-14 11:29:21,454 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,455 INFO sqlalchemy.engine.base.Engine ((154, 65), (151, 65), (156, 65), (152, 65), (153, 65), (155, 65))
2018-11-14 11:29:21,459 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,460 INFO sqlalchemy.engine.base.Engine ((15, 65), (73, 65), (143, 65), (48, 65), (20, 65), (144, 65), (108, 65), (16, 65), (66, 65), (24, 65))
2018-11-14 11:29:21,463 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,468 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,472 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:29:21,473 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,478 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,479 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:21,482 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,484 INFO sqlalchemy.engine.base.Engine ('LEVETIRACETAM LEVETIRACETAM', 1, 0)
2018-11-14 11:29:21,487 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,488 INFO sqlalchemy.engine.base.Engine ('ROWEEPRA', 1, 0)
2018-11-14 11:29:21,492 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,495 INFO sqlalchemy.engine.base.Engine ('ELEPSIA XR', 1, 0)
2018-11-14 11:29:21,497 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,499 INFO sqlalchemy.engine.base.Engine ('LEVETIRACETAM EXTENDED-RELEASE', 1, 0)
2018-11-14 11:29:21,501 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,504 INFO sqlalchemy.engine.base.Engine ('KEPPRA XR', 1, 0)
2018-11-14 11:29:21,510 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,512 INFO sqlalchemy.engine.base.Engine ('LEVETIRACETAM', 1, 0)
2018-11-14 11:29:21,515 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,518 INFO sqlalchemy.engine.base.Engine ('KEPPRA', 1, 0)
2018-11-14 11:29:21,521 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,522 INFO sqlalchemy.engine.base.Engine ('ROWEEPRA XR', 1, 0)
2018-11-14 11:29:21,529 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,531 INFO sqlalchemy.engine.base.Engine ('SPRITAM', 1, 0)
2018-11-14 11:29:21,534 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:21,535 INFO sqlalchemy.engine.base.Engine (66,)
2018-11-14 11:29:21,539 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,542 INFO sqlalchemy.engine.base.Engine ('LEVETIRACETAM LEVETIRACETAM',)
2018-11-14 11:29:21,543 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,545 INFO sqlalchemy.engine.base.Engine ('ROWEEPRA',)
2018-11-14 11:29:21,550 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,551 INFO sqlalchemy.engine.base.Engine ('ELEPSIA XR',)
2018-11-14 11:29:21,557 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,559 INFO sqlalchemy.engine.base.Engine ('LEVETIRACETAM EXTENDED-RELEASE',)
2018-11-14 11:29:21,561 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,563 INFO sqlalchemy.engine.base.Engine ('KEPPRA XR',)
2018-11-14 11:29:21,567 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,569 INFO sqlalchemy.engine.base.Engine ('LEVETIRACETAM',)
2018-11-14 11:29:21,570 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,572 INFO sqlalchemy.engine.base.Engine ('KEPPRA',)
2018-11-14 11:29:21,573 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,575 INFO sqlalchemy.engine.base.Engine ('ROWEEPRA XR',)
2018-11-14 11:29:21,577 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,579 INFO sqlalchemy.engine.base.Engine ('SPRITAM',)
2018-11-14 11:29:21,581 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,582 INFO sqlalchemy.engine.base.Engine ((209, 66), (210, 66), (211, 66), (212, 66), (213, 66), (214, 66), (215, 66), (216, 66), (217, 66))
2018-11-14 11:29:21,586 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,588 INFO sqlalchemy.engine.base.Engine ('Epilepsy', 1, 0)
2018-11-14 11:29:21,591 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,593 INFO sqlalchemy.engine.base.Engine (66,)
2018-11-14 11:29:21,596 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,598 INFO sqlalchemy.engine.base.Engine (102, 66)
2018-11-14 11:29:21,600 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,605 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,610 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:21,612 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,615 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,617 INFO sqlalchemy.engine.base.Engine (2, 78, 1)
2018-11-14 11:29:21,620 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,621 INFO sqlalchemy.engine.base.Engine ('Fracture', 1, 0)
2018-11-14 11:29:21,624 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,626 INFO sqlalchemy.engine.base.Engine (67,)
2018-11-14 11:29:21,630 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,632 INFO sqlalchemy.engine.base.Engine ('Fracture',)
2018-11-14 11:29:21,634 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,635 INFO sqlalchemy.engine.base.Engine (157, 67)
2018-11-14 11:29:21,637 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,644 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,647 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:21,648 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,651 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,653 INFO sqlalchemy.engine.base.Engine (1, 66, 1)
2018-11-14 11:29:21,656 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,658 INFO sqlalchemy.engine.base.Engine ('AMLODIPINE', 1, 0)
2018-11-14 11:29:21,661 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:21,663 INFO sqlalchemy.engine.base.Engine (68,)
2018-11-14 11:29:21,668 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)

2018-11-14 11:29:21,670 INFO sqlalchemy.engine.base.Engine ('AMLODIPINE',)
2018-11-14 11:29:21,672 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,675 INFO sqlalchemy.engine.base.Engine (218, 68)
2018-11-14 11:29:21,679 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,680 INFO sqlalchemy.engine.base.Engine ('Chorioretinopathy', 1, 0)
2018-11-14 11:29:21,682 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,683 INFO sqlalchemy.engine.base.Engine (68,)
2018-11-14 11:29:21,692 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,693 INFO sqlalchemy.engine.base.Engine ('Chorioretinopathy',)
2018-11-14 11:29:21,700 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,702 INFO sqlalchemy.engine.base.Engine (158, 68)
2018-11-14 11:29:21,704 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,713 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,715 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:21,717 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,721 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,723 INFO sqlalchemy.engine.base.Engine (2, 33, 1)
2018-11-14 11:29:21,726 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,728 INFO sqlalchemy.engine.base.Engine ('COSENTYX', 1, 0)
2018-11-14 11:29:21,730 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:21,732 INFO sqlalchemy.engine.base.Engine (69,)
2018-11-14 11:29:21,735 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,736 INFO sqlalchemy.engine.base.Engine ('COSENTYX',)
2018-11-14 11:29:21,741 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,743 INFO sqlalchemy.engine.base.Engine (219, 69)
2018-11-14 11:29:21,746 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,748 INFO sqlalchemy.engine.base.Engine ('Wrong technique in product usage process', 1, 0)
2018-11-14 11:29:21,751 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,752 INFO sqlalchemy.engine.base.Engine ('Pruritus generalised', 1, 0)
2018-11-14 11:29:21,755 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,757 INFO sqlalchemy.engine.base.Engine ('Device failure', 1, 0)
2018-11-14 11:29:21,760 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,761 INFO sqlalchemy.engine.base.Engine (69,)
2018-11-14 11:29:21,764 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,766 INFO sqlalchemy.engine.base.Engine ('Device failure',)
2018-11-14 11:29:21,767 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,768 INFO sqlalchemy.engine.base.Engine ('Pruritus generalised',)
2018-11-14 11:29:21,770 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,772 INFO sqlalchemy.engine.base.Engine ((37, 69), (159, 69), (160, 69))
2018-11-14 11:29:21,782 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,794 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,796 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:21,797 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,802 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,803 INFO sqlalchemy.engine.base.Engine (2, 37, 1)
2018-11-14 11:29:21,806 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,808 INFO sqlalchemy.engine.base.Engine ('AZELASTINE', 1, 0)
2018-11-14 11:29:21,811 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,812 INFO sqlalchemy.engine.base.Engine ('AZELASTINE HYDROCHLORIDE', 1, 0)
2018-11-14 11:29:21,815 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:21,816 INFO sqlalchemy.engine.base.Engine (70,)
2018-11-14 11:29:21,821 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,823 INFO sqlalchemy.engine.base.Engine ('AZELASTINE',)
2018-11-14 11:29:21,827 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,830 INFO sqlalchemy.engine.base.Engine ('AZELASTINE HYDROCHLORIDE',)
2018-11-14 11:29:21,832 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,834 INFO sqlalchemy.engine.base.Engine ((220, 70), (221, 70))
2018-11-14 11:29:21,836 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,837 INFO sqlalchemy.engine.base.Engine ('Systemic lupus erythematosus', 1, 0)
2018-11-14 11:29:21,839 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,840 INFO sqlalchemy.engine.base.Engine ('Vertigo positional', 1, 0)
2018-11-14 11:29:21,846 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,848 INFO sqlalchemy.engine.base.Engine ('Persistent postural-perceptual dizziness', 1, 0)
2018-11-14 11:29:21,850 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,851 INFO sqlalchemy.engine.base.Engine ('Hypoaesthesia', 1, 0)
2018-11-14 11:29:21,853 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,854 INFO sqlalchemy.engine.base.Engine ('Heart rate increased', 1, 0)
2018-11-14 11:29:21,856 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,859 INFO sqlalchemy.engine.base.Engine ('Urinary tract infection', 1, 0)
2018-11-14 11:29:21,864 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:21,865 INFO sqlalchemy.engine.base.Engine ('Arthralgia', 1, 0)
2018-11-14 11:29:21,866 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,867 INFO sqlalchemy.engine.base.Engine (70,)
2018-11-14 11:29:21,871 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,872 INFO sqlalchemy.engine.base.Engine ('Heart rate increased',)
2018-11-14 11:29:21,876 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,879 INFO sqlalchemy.engine.base.Engine ('Persistent postural-perceptual dizziness',)
2018-11-14 11:29:21,881 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,891 INFO sqlalchemy.engine.base.Engine ('Systemic lupus erythematosus',)
2018-11-14 11:29:21,893 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,895 INFO sqlalchemy.engine.base.Engine ('Arthralgia',)
2018-11-14 11:29:21,897 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:21,899 INFO sqlalchemy.engine.base.Engine ('Vertigo positional',)
2018-11-14 11:29:21,901 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,902 INFO sqlalchemy.engine.base.Engine ((162, 70), (163, 70), (164, 70), (165, 70), (161, 70))
2018-11-14 11:29:21,903 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,904 INFO sqlalchemy.engine.base.Engine ((1, 70), (19, 70))
2018-11-14 11:29:21,907 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,920 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:21,923 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:21,925 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:21,929 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:21,931 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:21,937 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,939 INFO sqlalchemy.engine.base.Engine ('NEULASTA', 1, 0)
2018-11-14 11:29:21,942 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,943 INFO sqlalchemy.engine.base.Engine ('FULPHILA', 1, 0)
2018-11-14 11:29:21,948 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:21,949 INFO sqlalchemy.engine.base.Engine (71,)
2018-11-14 11:29:21,952 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:21,953 INFO sqlalchemy.engine.base.Engine ('FULPHILA',)
2018-11-14 11:29:21,955 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,956 INFO sqlalchemy.engine.base.Engine (222, 71)
2018-11-14 11:29:21,959 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,960 INFO sqlalchemy.engine.base.Engine (16, 71)
2018-11-14 11:29:21,964 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,965 INFO sqlalchemy.engine.base.Engine ('Insomnia', 1, 0)
2018-11-14 11:29:21,968 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:21,970 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:29:21,972 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:21,972 INFO sqlalchemy.engine.base.Engine (71,)
2018-11-14 11:29:21,976 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:21,980 INFO sqlalchemy.engine.base.Engine ((25, 71), (26, 71))
2018-11-14 11:29:21,982 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:21,996 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:22,002 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:22,003 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:22,007 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:22,016 INFO sqlalchemy.engine.base.Engine (1, 4, 1)
2018-11-14 11:29:22,020 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,022 INFO sqlalchemy.engine.base.Engine ('TAMIFLU', 1, 0)
2018-11-14 11:29:22,025 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:22,028 INFO sqlalchemy.engine.base.Engine (72,)
2018-11-14 11:29:22,032 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,034 INFO sqlalchemy.engine.base.Engine ('TAMIFLU',)
2018-11-14 11:29:22,037 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,038 INFO sqlalchemy.engine.base.Engine (223, 72)
2018-11-14 11:29:22,043 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,044 INFO sqlalchemy.engine.base.Engine ('Haematemesis', 1, 0)
2018-11-14 11:29:22,047 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,049 INFO sqlalchemy.engine.base.Engine ('Gastric ulcer', 1, 0)
2018-11-14 11:29:22,051 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:22,052 INFO sqlalchemy.engine.base.Engine (72,)
2018-11-14 11:29:22,055 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:22,056 INFO sqlalchemy.engine.base.Engine ('Gastric ulcer',)
2018-11-14 11:29:22,059 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:22,060 INFO sqlalchemy.engine.base.Engine ('Haematemesis',)
2018-11-14 11:29:22,061 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,063 INFO sqlalchemy.engine.base.Engine ((167, 72), (166, 72))
2018-11-14 11:29:22,065 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:22,072 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:22,075 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:22,077 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:22,080 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:22,084 INFO sqlalchemy.engine.base.Engine (1, 33, 1)

2018-11-14 11:29:22,088 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,091 INFO sqlalchemy.engine.base.Engine ('GLUCOPHAGE', 1, 0)
2018-11-14 11:29:22,094 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,096 INFO sqlalchemy.engine.base.Engine ('METFORMIN HYDROCHLORIDE ER', 1, 0)
2018-11-14 11:29:22,099 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,101 INFO sqlalchemy.engine.base.Engine ('METFORMIN HYDROCHLORIDE', 1, 0)
2018-11-14 11:29:22,105 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,108 INFO sqlalchemy.engine.base.Engine ('RIOMET', 1, 0)
2018-11-14 11:29:22,110 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,112 INFO sqlalchemy.engine.base.Engine ('DM2', 1, 0)
2018-11-14 11:29:22,114 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,116 INFO sqlalchemy.engine.base.Engine ('METFORMIN HYDROCHLORIDE EXTENDED RELEASE', 1, 0)
2018-11-14 11:29:22,119 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,120 INFO sqlalchemy.engine.base.Engine ('GLUCOPHAGE XR', 1, 0)
2018-11-14 11:29:22,124 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,126 INFO sqlalchemy.engine.base.Engine ('GLUMETZA', 1, 0)
2018-11-14 11:29:22,129 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,130 INFO sqlalchemy.engine.base.Engine ('FORTAMET', 1, 0)
2018-11-14 11:29:22,133 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:22,134 INFO sqlalchemy.engine.base.Engine (73,)
2018-11-14 11:29:22,144 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,147 INFO sqlalchemy.engine.base.Engine ('GLUCOPHAGE',)
2018-11-14 11:29:22,148 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,149 INFO sqlalchemy.engine.base.Engine ('METFORMIN HYDROCHLORIDE ER',)
2018-11-14 11:29:22,150 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,151 INFO sqlalchemy.engine.base.Engine ('METFORMIN HYDROCHLORIDE',)
2018-11-14 11:29:22,153 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,154 INFO sqlalchemy.engine.base.Engine ('RIOMET',)
2018-11-14 11:29:22,155 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,156 INFO sqlalchemy.engine.base.Engine ('DM2',)
2018-11-14 11:29:22,158 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,161 INFO sqlalchemy.engine.base.Engine ('METFORMIN HYDROCHLORIDE EXTENDED RELEASE',)
2018-11-14 11:29:22,162 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,163 INFO sqlalchemy.engine.base.Engine ('GLUCOPHAGE XR',)
2018-11-14 11:29:22,165 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,166 INFO sqlalchemy.engine.base.Engine ('GLUMETZA',)
2018-11-14 11:29:22,167 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,168 INFO sqlalchemy.engine.base.Engine ('FORTAMET',)
2018-11-14 11:29:22,170 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,171 INFO sqlalchemy.engine.base.Engine ((231, 73), (232, 73), (229, 73), (225, 73), (226, 73), (228, 73), (227, 73), (224, 73), (230, 73))
2018-11-14 11:29:22,174 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,176 INFO sqlalchemy.engine.base.Engine ('Intentional overdose', 1, 0)
2018-11-14 11:29:22,181 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,187 INFO sqlalchemy.engine.base.Engine ('Lactic acidosis', 1, 0)
2018-11-14 11:29:22,189 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:22,204 INFO sqlalchemy.engine.base.Engine (73,)
2018-11-14 11:29:22,211 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:22,215 INFO sqlalchemy.engine.base.Engine ('Intentional overdose',)
2018-11-14 11:29:22,216 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:22,218 INFO sqlalchemy.engine.base.Engine ('Lactic acidosis',)
2018-11-14 11:29:22,222 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,224 INFO sqlalchemy.engine.base.Engine ((169, 73), (168, 73))
2018-11-14 11:29:22,229 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:22,239 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:22,242 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:22,245 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:22,248 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:22,250 INFO sqlalchemy.engine.base.Engine (2, 48, 1)
2018-11-14 11:29:22,255 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,256 INFO sqlalchemy.engine.base.Engine ('XOLAIR', 1, 0)
2018-11-14 11:29:22,261 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:22,264 INFO sqlalchemy.engine.base.Engine (74,)
2018-11-14 11:29:22,271 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,272 INFO sqlalchemy.engine.base.Engine (199, 74)
2018-11-14 11:29:22,278 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,279 INFO sqlalchemy.engine.base.Engine ('Asthma', 1, 0)
2018-11-14 11:29:22,284 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:22,285 INFO sqlalchemy.engine.base.Engine (74,)
2018-11-14 11:29:22,289 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:22,293 INFO sqlalchemy.engine.base.Engine ('Asthma',)
2018-11-14 11:29:22,295 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,297 INFO sqlalchemy.engine.base.Engine (170, 74)
2018-11-14 11:29:22,300 INFO sqlalchemy.engine.base.Engine COMMIT

2018-11-14 11:29:22,315 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:22,320 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:22,321 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:22,325 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:22,328 INFO sqlalchemy.engine.base.Engine (2, 48, 1)
2018-11-14 11:29:22,331 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,333 INFO sqlalchemy.engine.base.Engine ('AVASTIN', 1, 0)
2018-11-14 11:29:22,337 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:22,339 INFO sqlalchemy.engine.base.Engine (75,)
2018-11-14 11:29:22,345 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,349 INFO sqlalchemy.engine.base.Engine (5, 75)
2018-11-14 11:29:22,352 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,354 INFO sqlalchemy.engine.base.Engine ('Intestinal obstruction', 1, 0)
2018-11-14 11:29:22,357 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:22,358 INFO sqlalchemy.engine.base.Engine (75,)
2018-11-14 11:29:22,364 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,366 INFO sqlalchemy.engine.base.Engine (116, 75)
2018-11-14 11:29:22,371 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:22,378 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:22,381 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:22,383 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:22,387 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:22,389 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:29:22,398 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,399 INFO sqlalchemy.engine.base.Engine ('NEXIUM', 1, 0)
2018-11-14 11:29:22,404 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,405 INFO sqlalchemy.engine.base.Engine ('NEXIUM I.V.', 1, 0)
2018-11-14 11:29:22,411 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:22,412 INFO sqlalchemy.engine.base.Engine (76,)
2018-11-14 11:29:22,424 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,425 INFO sqlalchemy.engine.base.Engine ((14, 76), (15, 76))
2018-11-14 11:29:22,428 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,431 INFO sqlalchemy.engine.base.Engine ('Musculoskeletal pain', 1, 0)
2018-11-14 11:29:22,433 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:22,434 INFO sqlalchemy.engine.base.Engine (76,)
2018-11-14 11:29:22,438 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:22,439 INFO sqlalchemy.engine.base.Engine ('Musculoskeletal pain',)
2018-11-14 11:29:22,443 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,445 INFO sqlalchemy.engine.base.Engine (171, 76)
2018-11-14 11:29:22,450 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:22,459 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:22,461 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:22,464 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:22,467 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:22,469 INFO sqlalchemy.engine.base.Engine (2, 62, 1)
2018-11-14 11:29:22,472 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,474 INFO sqlalchemy.engine.base.Engine ('COSENTYX', 1, 0)
2018-11-14 11:29:22,477 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:22,479 INFO sqlalchemy.engine.base.Engine (77,)
2018-11-14 11:29:22,483 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,485 INFO sqlalchemy.engine.base.Engine (219, 77)
2018-11-14 11:29:22,489 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,493 INFO sqlalchemy.engine.base.Engine ('Meniscus injury', 1, 0)
2018-11-14 11:29:22,498 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,499 INFO sqlalchemy.engine.base.Engine ('Arthritis', 1, 0)
2018-11-14 11:29:22,503 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,505 INFO sqlalchemy.engine.base.Engine ('Arthralgia', 1, 0)
2018-11-14 11:29:22,507 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:22,510 INFO sqlalchemy.engine.base.Engine (77,)
2018-11-14 11:29:22,514 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,515 INFO sqlalchemy.engine.base.Engine ((55, 77), (58, 77), (164, 77))
2018-11-14 11:29:22,517 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:22,524 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:22,527 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:22,529 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:22,531 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:22,532 INFO sqlalchemy.engine.base.Engine (2, 35, 1)
2018-11-14 11:29:22,535 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,536 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:22,543 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:29:22,544 INFO sqlalchemy.engine.base.Engine (78,)
2018-11-14 11:29:22,548 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,549 INFO sqlalchemy.engine.base.Engine (17, 78)
2018-11-14 11:29:22,553 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,554 INFO sqlalchemy.engine.base.Engine ('Drug dose omission', 1, 0)
2018-11-14 11:29:22,556 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:22,557 INFO sqlalchemy.engine.base.Engine (78,)
2018-11-14 11:29:22,561 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:22,562 INFO sqlalchemy.engine.base.Engine (104, 78)
2018-11-14 11:29:22,565 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:22,571 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:22,573 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:22,575 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:22,582 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:22,584 INFO sqlalchemy.engine.base.Engine (2, 54, 1)
2018-11-14 11:29:22,587 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,589 INFO sqlalchemy.engine.base.Engine ('BEING WELL HEARTBURN RELIEF', 1, 0)
2018-11-14 11:29:22,593 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,596 INFO sqlalchemy.engine.base.Engine ('ZANTAC 75', 1, 0)
2018-11-14 11:29:22,599 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,602 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER ACID REDUCER', 1, 0)
2018-11-14 11:29:22,607 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,608 INFO sqlalchemy.engine.base.Engine ('LEADER ACID CONTROL', 1, 0)
2018-11-14 11:29:22,612 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,614 INFO sqlalchemy.engine.base.Engine ('WAL-ZAN', 1, 0)
2018-11-14 11:29:22,616 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,618 INFO sqlalchemy.engine.base.Engine ('EQUALINE ACID REDUCER', 1, 0)
2018-11-14 11:29:22,621 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,622 INFO sqlalchemy.engine.base.Engine ('ZANTAC 150 ACID REDUCER', 1, 0)
2018-11-14 11:29:22,625 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,626 INFO sqlalchemy.engine.base.Engine ('ZANTAC 150', 1, 0)
2018-11-14 11:29:22,629 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,630 INFO sqlalchemy.engine.base.Engine ('MEDIQUE MEDI-ACID REDUCER 150', 1, 0)
2018-11-14 11:29:22,633 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,634 INFO sqlalchemy.engine.base.Engine ('ZANTAC MAXIMUM STRENGTH 150 COOL MINT', 1, 0)
2018-11-14 11:29:22,638 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,639 INFO sqlalchemy.engine.base.Engine ('SHOPRITE ACID REDUCER MAXIMUM STRENGTH', 1, 0)
2018-11-14 11:29:22,643 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,644 INFO sqlalchemy.engine.base.Engine ('7 SELECT ACID REDUCER', 1, 0)
2018-11-14 11:29:22,646 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,647 INFO sqlalchemy.engine.base.Engine ('COOL MINT ACID REDUCER', 1, 0)
2018-11-14 11:29:22,650 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,652 INFO sqlalchemy.engine.base.Engine ('EQUATE RANITIDINE ACID REDUCER', 1, 0)
2018-11-14 11:29:22,658 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,660 INFO sqlalchemy.engine.base.Engine ('RANITIDINE IMMEDIATE RELEASE', 1, 0)
2018-11-14 11:29:22,665 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,667 INFO sqlalchemy.engine.base.Engine ('RANITIDINE', 1, 0)
2018-11-14 11:29:22,669 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,670 INFO sqlalchemy.engine.base.Engine ('BASIC CARE ACID REDUCER', 1, 0)
2018-11-14 11:29:22,672 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,673 INFO sqlalchemy.engine.base.Engine ('RANITIDINE 75', 1, 0)
2018-11-14 11:29:22,675 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,676 INFO sqlalchemy.engine.base.Engine ('ACID REDUCER MAXIMUM STRENGTH', 1, 0)
2018-11-14 11:29:22,679 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,680 INFO sqlalchemy.engine.base.Engine ('UP AND UP RANITIDINE', 1, 0)
2018-11-14 11:29:22,683 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,684 INFO sqlalchemy.engine.base.Engine ('TOPCARE HEARTBURN RELIEF 150', 1, 0)
2018-11-14 11:29:22,686 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,688 INFO sqlalchemy.engine.base.Engine ('RANITIDINE ACID REDUCER', 1, 0)
2018-11-14 11:29:22,699 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,700 INFO sqlalchemy.engine.base.Engine ('UP AND UP RANITIDINE 150', 1, 0)
2018-11-14 11:29:22,707 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,709 INFO sqlalchemy.engine.base.Engine ('EQUALINE HEARTBURN RELIEF', 1, 0)
2018-11-14 11:29:22,714 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,716 INFO sqlalchemy.engine.base.Engine ('HEALTH MART ACID REDUCER', 1, 0)

2018-11-14 11:29:22,718 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,720 INFO sqlalchemy.engine.base.Engine ('RANITIDINE 75 MG', 1, 0)
2018-11-14 11:29:22,722 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,724 INFO sqlalchemy.engine.base.Engine ('EXCHANGE SELECT ACID REDUCER', 1, 0)
2018-11-14 11:29:22,726 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,731 INFO sqlalchemy.engine.base.Engine ('WAL ZAN 150', 1, 0)
2018-11-14 11:29:22,734 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,736 INFO sqlalchemy.engine.base.Engine ('LEADER RANITIDINE', 1, 0)
2018-11-14 11:29:22,739 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,741 INFO sqlalchemy.engine.base.Engine ('CAREONE ACID RELIEF', 1, 0)
2018-11-14 11:29:22,745 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,747 INFO sqlalchemy.engine.base.Engine ('RANITIDINE COOL MINT', 1, 0)
2018-11-14 11:29:22,749 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,750 INFO sqlalchemy.engine.base.Engine ('EQUATE ACID REDUCER', 1, 0)
2018-11-14 11:29:22,753 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,756 INFO sqlalchemy.engine.base.Engine ('FAMILY WELLNESS ACID REDUCER', 1, 0)
2018-11-14 11:29:22,762 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,764 INFO sqlalchemy.engine.base.Engine ('ACID RELIEF', 1, 0)
2018-11-14 11:29:22,769 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,770 INFO sqlalchemy.engine.base.Engine ('SUNMARK ACID REDUCER', 1, 0)
2018-11-14 11:29:22,772 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,774 INFO sqlalchemy.engine.base.Engine ('MAJOR RANITIDINE MAXIMUM STRENGTH', 1, 0)
2018-11-14 11:29:22,778 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,785 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS RANITIDINE', 1, 0)
2018-11-14 11:29:22,788 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,788 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN RANITIDINE', 1, 0)
2018-11-14 11:29:22,790 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,795 INFO sqlalchemy.engine.base.Engine ('RANITIDINE 150 MG', 1, 0)
2018-11-14 11:29:22,798 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,801 INFO sqlalchemy.engine.base.Engine ('FAMILY WELLNESS ACID REDUCER 150', 1, 0)
2018-11-14 11:29:22,806 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,809 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ACID CONTROL 150', 1, 0)
2018-11-14 11:29:22,814 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,820 INFO sqlalchemy.engine.base.Engine ('DG HEALTH ACID REDUCER', 1, 0)
2018-11-14 11:29:22,824 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,825 INFO sqlalchemy.engine.base.Engine ('HEARTBURN RELIEF', 1, 0)
2018-11-14 11:29:22,828 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,830 INFO sqlalchemy.engine.base.Engine ('DG HEALTH HEARTBURN RELIEF', 1, 0)
2018-11-14 11:29:22,835 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,838 INFO sqlalchemy.engine.base.Engine ('MAXIMUM STRENGTH RANITIDINE', 1, 0)
2018-11-14 11:29:22,843 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,847 INFO sqlalchemy.engine.base.Engine ('CAREONE ACID REDUCER', 1, 0)
2018-11-14 11:29:22,850 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,851 INFO sqlalchemy.engine.base.Engine ('MAXIMUM STRENGTH ZANTAC', 1, 0)
2018-11-14 11:29:22,853 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,857 INFO sqlalchemy.engine.base.Engine ('ACID REDUCER', 1, 0)
2018-11-14 11:29:22,864 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,868 INFO sqlalchemy.engine.base.Engine ('BASIC CARE ACID REDUCER 150', 1, 0)
2018-11-14 11:29:22,872 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,873 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE ACID REDUCER', 1, 0)
2018-11-14 11:29:22,876 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,878 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE ACID CONTROL', 1, 0)
2018-11-14 11:29:22,883 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,885 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ACID REDUCER', 1, 0)
2018-11-14 11:29:22,889 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,891 INFO sqlalchemy.engine.base.Engine ('KIRKLAND SIGNATURE ACID REDUCER', 1, 0)
2018-11-14 11:29:22,896 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,896 INFO sqlalchemy.engine.base.Engine ('SMART SENSE RANITIDINE', 1, 0)
2018-11-14 11:29:22,899 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,900 INFO sqlalchemy.engine.base.Engine ('SHOPRITE ACID REDUCER', 1, 0)
2018-11-14 11:29:22,902 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,903 INFO sqlalchemy.engine.base.Engine ('EQUATE RANITIDINE', 1, 0)
2018-11-14 11:29:22,906 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:22,907 INFO sqlalchemy.engine.base.Engine ('HEARTBURN RELIEF 150', 1, 0)
2018-11-14 11:29:22,909 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,915 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ACID CONTROL', 1, 0)
2018-11-14 11:29:22,919 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,921 INFO sqlalchemy.engine.base.Engine ('EQUALINE', 1, 0)
2018-11-14 11:29:22,923 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:22,924 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER ACID REDUCER 150', 1, 0)
2018-11-14 11:29:22,926 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:22,927 INFO sqlalchemy.engine.base.Engine (79,)
2018-11-14 11:29:22,938 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,939 INFO sqlalchemy.engine.base.Engine ('BEING WELL HEARTBURN RELIEF',)
2018-11-14 11:29:22,940 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,941 INFO sqlalchemy.engine.base.Engine ('ZANTAC 75',)
2018-11-14 11:29:22,942 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,943 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER ACID REDUCER',)
2018-11-14 11:29:22,945 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,946 INFO sqlalchemy.engine.base.Engine ('LEADER ACID CONTROL',)
2018-11-14 11:29:22,948 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,949 INFO sqlalchemy.engine.base.Engine ('WAL-ZAN',)
2018-11-14 11:29:22,950 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,951 INFO sqlalchemy.engine.base.Engine ('EQUALINE ACID REDUCER',)
2018-11-14 11:29:22,954 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,955 INFO sqlalchemy.engine.base.Engine ('ZANTAC 150 ACID REDUCER',)
2018-11-14 11:29:22,957 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,958 INFO sqlalchemy.engine.base.Engine ('ZANTAC 150',)
2018-11-14 11:29:22,959 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,960 INFO sqlalchemy.engine.base.Engine ('MEDIQUE MEDI-ACID REDUCER 150',)
2018-11-14 11:29:22,961 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,962 INFO sqlalchemy.engine.base.Engine ('ZANTAC MAXIMUM STRENGTH 150 COOL MINT',)
2018-11-14 11:29:22,964 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,965 INFO sqlalchemy.engine.base.Engine ('SHOPRITE ACID REDUCER MAXIMUM STRENGTH',)
2018-11-14 11:29:22,967 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,968 INFO sqlalchemy.engine.base.Engine ('7 SELECT ACID REDUCER',)
2018-11-14 11:29:22,969 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,970 INFO sqlalchemy.engine.base.Engine ('COOL MINT ACID REDUCER',)
2018-11-14 11:29:22,971 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,972 INFO sqlalchemy.engine.base.Engine ('EQUATE RANITIDINE ACID REDUCER',)
2018-11-14 11:29:22,973 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,974 INFO sqlalchemy.engine.base.Engine ('RANITIDINE IMMEDIATE RELEASE',)
2018-11-14 11:29:22,975 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,976 INFO sqlalchemy.engine.base.Engine ('RANITIDINE',)
2018-11-14 11:29:22,978 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,978 INFO sqlalchemy.engine.base.Engine ('BASIC CARE ACID REDUCER',)
2018-11-14 11:29:22,979 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,981 INFO sqlalchemy.engine.base.Engine ('RANITIDINE 75',)
2018-11-14 11:29:22,982 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,983 INFO sqlalchemy.engine.base.Engine ('ACID REDUCER MAXIMUM STRENGTH',)
2018-11-14 11:29:22,984 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,985 INFO sqlalchemy.engine.base.Engine ('UP AND UP RANITIDINE',)
2018-11-14 11:29:22,986 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,987 INFO sqlalchemy.engine.base.Engine ('TOPCARE HEARTBURN RELIEF 150',)
2018-11-14 11:29:22,989 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,990 INFO sqlalchemy.engine.base.Engine ('RANITIDINE ACID REDUCER',)
2018-11-14 11:29:22,992 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,993 INFO sqlalchemy.engine.base.Engine ('UP AND UP RANITIDINE 150',)
2018-11-14 11:29:22,995 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,996 INFO sqlalchemy.engine.base.Engine ('EQUALINE HEARTBURN RELIEF',)
2018-11-14 11:29:22,998 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:22,999 INFO sqlalchemy.engine.base.Engine ('HEALTH MART ACID REDUCER',)
2018-11-14 11:29:23,000 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,001 INFO sqlalchemy.engine.base.Engine ('RANITIDINE 75 MG',)
2018-11-14 11:29:23,002 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,004 INFO sqlalchemy.engine.base.Engine ('EXCHANGE SELECT ACID REDUCER',)
2018-11-14 11:29:23,005 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,006 INFO sqlalchemy.engine.base.Engine ('WAL ZAN 150',)
2018-11-14 11:29:23,007 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,008 INFO sqlalchemy.engine.base.Engine ('LEADER RANITIDINE',)
2018-11-14 11:29:23,009 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,010 INFO sqlalchemy.engine.base.Engine ('CAREONE ACID RELIEF',)
2018-11-14 11:29:23,011 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,014 INFO sqlalchemy.engine.base.Engine ('RANITIDINE COOL MINT',)
2018-11-14 11:29:23,016 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,017 INFO sqlalchemy.engine.base.Engine ('EQUATE ACID REDUCER',)
2018-11-14 11:29:23,018 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,019 INFO sqlalchemy.engine.base.Engine ('FAMILY WELLNESS ACID REDUCER',)
2018-11-14 11:29:23,020 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,020 INFO sqlalchemy.engine.base.Engine ('ACID RELIEF',)
2018-11-14 11:29:23,021 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,022 INFO sqlalchemy.engine.base.Engine ('SUNMARK ACID REDUCER',)
2018-11-14 11:29:23,023 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,024 INFO sqlalchemy.engine.base.Engine ('MAJOR RANITIDINE MAXIMUM STRENGTH',)
2018-11-14 11:29:23,025 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,026 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS RANITIDINE',)
2018-11-14 11:29:23,027 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,028 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN RANITIDINE',)
2018-11-14 11:29:23,030 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)

2018-11-14 11:29:23,031 INFO sqlalchemy.engine.base.Engine ('RANITIDINE 150 MG',)
2018-11-14 11:29:23,032 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,034 INFO sqlalchemy.engine.base.Engine ('FAMILY WELLNESS ACID REDUCER 150',)
2018-11-14 11:29:23,036 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,038 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ACID CONTROL 150',)
2018-11-14 11:29:23,040 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,042 INFO sqlalchemy.engine.base.Engine ('DG HEALTH ACID REDUCER',)
2018-11-14 11:29:23,044 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,045 INFO sqlalchemy.engine.base.Engine ('HEARTBURN RELIEF',)
2018-11-14 11:29:23,046 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,047 INFO sqlalchemy.engine.base.Engine ('DG HEALTH HEARTBURN RELIEF',)
2018-11-14 11:29:23,048 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,049 INFO sqlalchemy.engine.base.Engine ('MAXIMUM STRENGTH RANITIDINE',)
2018-11-14 11:29:23,050 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,051 INFO sqlalchemy.engine.base.Engine ('CAREONE ACID REDUCER',)
2018-11-14 11:29:23,052 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,053 INFO sqlalchemy.engine.base.Engine ('MAXIMUM STRENGTH ZANTAC',)
2018-11-14 11:29:23,054 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,055 INFO sqlalchemy.engine.base.Engine ('ACID REDUCER',)
2018-11-14 11:29:23,056 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,058 INFO sqlalchemy.engine.base.Engine ('BASIC CARE ACID REDUCER 150',)
2018-11-14 11:29:23,059 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,060 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE ACID REDUCER',)
2018-11-14 11:29:23,064 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,065 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE ACID CONTROL',)
2018-11-14 11:29:23,066 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,067 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ACID REDUCER',)
2018-11-14 11:29:23,069 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,070 INFO sqlalchemy.engine.base.Engine ('KIRKLAND SIGNATURE ACID REDUCER',)
2018-11-14 11:29:23,071 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,072 INFO sqlalchemy.engine.base.Engine ('SMART SENSE RANITIDINE',)
2018-11-14 11:29:23,074 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,080 INFO sqlalchemy.engine.base.Engine ('SHOPRITE ACID REDUCER',)
2018-11-14 11:29:23,082 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,084 INFO sqlalchemy.engine.base.Engine ('EQUATE RANITIDINE',)
2018-11-14 11:29:23,087 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,088 INFO sqlalchemy.engine.base.Engine ('HEARTBURN RELIEF 150',)
2018-11-14 11:29:23,089 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,091 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ACID CONTROL',)
2018-11-14 11:29:23,093 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,094 INFO sqlalchemy.engine.base.Engine ('EQUALINE',)
2018-11-14 11:29:23,097 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,100 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER ACID REDUCER 150',)
2018-11-14 11:29:23,106 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,111 INFO sqlalchemy.engine.base.Engine ((264, 79), (273, 79), (286, 79), (263, 79), (249, 79), (265, 79), (278, 79), (240, 79)  ... displaying 10 of 60 total bound parameter sets ...  (252, 79), (276, 79))
2018-11-14 11:29:23,117 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,118 INFO sqlalchemy.engine.base.Engine ('Haemorrhoids', 1, 0)
2018-11-14 11:29:23,123 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,125 INFO sqlalchemy.engine.base.Engine ('Umbilical hernia', 1, 0)
2018-11-14 11:29:23,129 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,130 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:29:23,131 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,133 INFO sqlalchemy.engine.base.Engine ('Dizziness', 1, 0)
2018-11-14 11:29:23,134 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,139 INFO sqlalchemy.engine.base.Engine ('Epistaxis', 1, 0)
2018-11-14 11:29:23,144 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,145 INFO sqlalchemy.engine.base.Engine ('Hypoaesthesia', 1, 0)
2018-11-14 11:29:23,151 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,153 INFO sqlalchemy.engine.base.Engine ('Insomnia', 1, 0)
2018-11-14 11:29:23,163 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,167 INFO sqlalchemy.engine.base.Engine ('Weight decreased', 1, 0)
2018-11-14 11:29:23,170 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,172 INFO sqlalchemy.engine.base.Engine ('Eczema', 1, 0)
2018-11-14 11:29:23,174 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,175 INFO sqlalchemy.engine.base.Engine ('Blood test abnormal', 1, 0)
2018-11-14 11:29:23,183 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,184 INFO sqlalchemy.engine.base.Engine ('Onychomadesis', 1, 0)
2018-11-14 11:29:23,190 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,192 INFO sqlalchemy.engine.base.Engine ('Skin burning sensation', 1, 0)
2018-11-14 11:29:23,194 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,195 INFO sqlalchemy.engine.base.Engine ('Dry skin', 1, 0)
2018-11-14 11:29:23,200 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,201 INFO sqlalchemy.engine.base.Engine ('Constipation', 1, 0)
2018-11-14 11:29:23,203 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:23,206 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:29:23,212 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,214 INFO sqlalchemy.engine.base.Engine ('Anxiety', 1, 0)
2018-11-14 11:29:23,216 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:23,217 INFO sqlalchemy.engine.base.Engine (79,)
2018-11-14 11:29:23,221 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,222 INFO sqlalchemy.engine.base.Engine ('Skin burning sensation',)
2018-11-14 11:29:23,224 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,225 INFO sqlalchemy.engine.base.Engine ('Onychomadesis',)
2018-11-14 11:29:23,226 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,227 INFO sqlalchemy.engine.base.Engine ('Haemorrhoids',)
2018-11-14 11:29:23,233 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,236 INFO sqlalchemy.engine.base.Engine ('Anxiety',)
2018-11-14 11:29:23,237 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,238 INFO sqlalchemy.engine.base.Engine ('Weight decreased',)
2018-11-14 11:29:23,240 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,241 INFO sqlalchemy.engine.base.Engine ('Umbilical hernia',)
2018-11-14 11:29:23,242 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,243 INFO sqlalchemy.engine.base.Engine ('Blood test abnormal',)
2018-11-14 11:29:23,244 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,247 INFO sqlalchemy.engine.base.Engine ('Eczema',)
2018-11-14 11:29:23,249 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,251 INFO sqlalchemy.engine.base.Engine ((173, 79), (176, 79), (174, 79), (172, 79), (179, 79), (177, 79), (178, 79), (175, 79))
2018-11-14 11:29:23,253 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,254 INFO sqlalchemy.engine.base.Engine ((25, 79), (120, 79), (16, 79), (50, 79), (150, 79), (24, 79), (33, 79), (1, 79))
2018-11-14 11:29:23,256 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:23,284 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:23,286 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:23,289 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:23,294 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:23,295 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:23,302 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,323 INFO sqlalchemy.engine.base.Engine ('ENTRESTO', 1, 0)
2018-11-14 11:29:23,342 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:23,343 INFO sqlalchemy.engine.base.Engine (80,)
2018-11-14 11:29:23,350 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,350 INFO sqlalchemy.engine.base.Engine (6, 80)
2018-11-14 11:29:23,363 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,367 INFO sqlalchemy.engine.base.Engine ('Nasopharyngitis', 1, 0)
2018-11-14 11:29:23,369 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,372 INFO sqlalchemy.engine.base.Engine ('Malaise', 1, 0)
2018-11-14 11:29:23,374 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:23,375 INFO sqlalchemy.engine.base.Engine (80,)
2018-11-14 11:29:23,378 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,381 INFO sqlalchemy.engine.base.Engine ((101, 80), (30, 80))
2018-11-14 11:29:23,386 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:23,397 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:23,402 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:23,403 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:23,405 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:23,408 INFO sqlalchemy.engine.base.Engine (2, 59, 1)
2018-11-14 11:29:23,411 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,419 INFO sqlalchemy.engine.base.Engine ('HERCEPTIN', 1, 0)
2018-11-14 11:29:23,423 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:23,428 INFO sqlalchemy.engine.base.Engine (81,)
2018-11-14 11:29:23,432 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,433 INFO sqlalchemy.engine.base.Engine (22, 81)
2018-11-14 11:29:23,435 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,437 INFO sqlalchemy.engine.base.Engine ('Neuropathy peripheral', 1, 0)
2018-11-14 11:29:23,441 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,442 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:29:23,445 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,446 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:29:23,449 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,455 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:29:23,458 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,460 INFO sqlalchemy.engine.base.Engine ('Cardiac failure', 1, 0)
2018-11-14 11:29:23,464 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:23,466 INFO sqlalchemy.engine.base.Engine (81,)
2018-11-14 11:29:23,470 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,471 INFO sqlalchemy.engine.base.Engine ((74, 81), (31, 81), (26, 81), (67, 81))

2018-11-14 11:29:23,473 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:23,479 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:23,482 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:23,483 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:23,486 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:23,489 INFO sqlalchemy.engine.base.Engine (1, 28, 1)
2018-11-14 11:29:23,492 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,494 INFO sqlalchemy.engine.base.Engine ('XOLAIR', 1, 0)
2018-11-14 11:29:23,497 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:23,498 INFO sqlalchemy.engine.base.Engine (82,)
2018-11-14 11:29:23,503 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,504 INFO sqlalchemy.engine.base.Engine (199, 82)
2018-11-14 11:29:23,509 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,511 INFO sqlalchemy.engine.base.Engine ('Blood calcium decreased', 1, 0)
2018-11-14 11:29:23,517 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,519 INFO sqlalchemy.engine.base.Engine ('Type I hypersensitivity', 1, 0)
2018-11-14 11:29:23,525 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,526 INFO sqlalchemy.engine.base.Engine ('Monoparesis', 1, 0)
2018-11-14 11:29:23,531 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,533 INFO sqlalchemy.engine.base.Engine ('Injection site dermatitis', 1, 0)
2018-11-14 11:29:23,535 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,537 INFO sqlalchemy.engine.base.Engine ('Muscle spasms', 1, 0)
2018-11-14 11:29:23,539 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,544 INFO sqlalchemy.engine.base.Engine ('Arthralgia', 1, 0)
2018-11-14 11:29:23,548 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,550 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:23,554 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,555 INFO sqlalchemy.engine.base.Engine ('Flushing', 1, 0)
2018-11-14 11:29:23,558 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,560 INFO sqlalchemy.engine.base.Engine ('Erythema', 1, 0)
2018-11-14 11:29:23,564 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:23,565 INFO sqlalchemy.engine.base.Engine (82,)
2018-11-14 11:29:23,571 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,572 INFO sqlalchemy.engine.base.Engine ('Type I hypersensitivity',)
2018-11-14 11:29:23,574 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,577 INFO sqlalchemy.engine.base.Engine ('Blood calcium decreased',)
2018-11-14 11:29:23,581 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,586 INFO sqlalchemy.engine.base.Engine ('Injection site dermatitis',)
2018-11-14 11:29:23,588 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,592 INFO sqlalchemy.engine.base.Engine ('Muscle spasms',)
2018-11-14 11:29:23,594 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,595 INFO sqlalchemy.engine.base.Engine ('Erythema',)
2018-11-14 11:29:23,599 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,601 INFO sqlalchemy.engine.base.Engine ('Flushing',)
2018-11-14 11:29:23,602 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,604 INFO sqlalchemy.engine.base.Engine ('Monoparesis',)
2018-11-14 11:29:23,607 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,610 INFO sqlalchemy.engine.base.Engine ((180, 82), (181, 82), (164, 82), (182, 82), (183, 82), (36, 82), (184, 82), (185, 82), (186, 82))
2018-11-14 11:29:23,614 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:23,620 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:23,622 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:23,623 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:23,625 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:23,627 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:23,630 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,633 INFO sqlalchemy.engine.base.Engine ('ILARIS', 1, 0)
2018-11-14 11:29:23,636 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:23,639 INFO sqlalchemy.engine.base.Engine (83,)
2018-11-14 11:29:23,643 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,644 INFO sqlalchemy.engine.base.Engine ('ILARIS',)
2018-11-14 11:29:23,651 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,654 INFO sqlalchemy.engine.base.Engine (293, 83)
2018-11-14 11:29:23,657 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,659 INFO sqlalchemy.engine.base.Engine ('Inappropriate schedule of drug administration', 1, 0)
2018-11-14 11:29:23,662 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,664 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:23,669 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,673 INFO sqlalchemy.engine.base.Engine ('Therapeutic response shortened', 1, 0)
2018-11-14 11:29:23,674 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id

2018-11-14 11:29:23,676 INFO sqlalchemy.engine.base.Engine (83,)
2018-11-14 11:29:23,680 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,681 INFO sqlalchemy.engine.base.Engine ('Inappropriate schedule of drug administration',)
2018-11-14 11:29:23,683 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,684 INFO sqlalchemy.engine.base.Engine ('Therapeutic response shortened',)
2018-11-14 11:29:23,686 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,688 INFO sqlalchemy.engine.base.Engine ((188, 83), (187, 83))
2018-11-14 11:29:23,690 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,692 INFO sqlalchemy.engine.base.Engine (36, 83)
2018-11-14 11:29:23,694 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:23,700 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:23,702 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:23,704 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:23,707 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:23,709 INFO sqlalchemy.engine.base.Engine (2, 15, 1)
2018-11-14 11:29:23,717 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,719 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE SR', 1, 0)
2018-11-14 11:29:23,722 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,724 INFO sqlalchemy.engine.base.Engine ('QUILLIVANT XR', 1, 0)
2018-11-14 11:29:23,727 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,728 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE EXTENDED-RELEASE', 1, 0)
2018-11-14 11:29:23,732 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,735 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HCL ORAL SOLUTION', 1, 0)
2018-11-14 11:29:23,739 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,740 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE', 1, 0)
2018-11-14 11:29:23,743 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,745 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE CD', 1, 0)
2018-11-14 11:29:23,748 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,749 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE (CD)', 1, 0)
2018-11-14 11:29:23,753 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,756 INFO sqlalchemy.engine.base.Engine ('METADATE CD', 1, 0)
2018-11-14 11:29:23,759 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,763 INFO sqlalchemy.engine.base.Engine ('QUILLICHEW ER', 1, 0)
2018-11-14 11:29:23,767 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,769 INFO sqlalchemy.engine.base.Engine ('METADATE ER', 1, 0)
2018-11-14 11:29:23,772 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,773 INFO sqlalchemy.engine.base.Engine ('METHYLIN', 1, 0)
2018-11-14 11:29:23,776 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,777 INFO sqlalchemy.engine.base.Engine ('RITALIN LA', 1, 0)
2018-11-14 11:29:23,781 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,782 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE', 1, 0)
2018-11-14 11:29:23,785 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,786 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE (LA)', 1, 0)
2018-11-14 11:29:23,789 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,790 INFO sqlalchemy.engine.base.Engine ('RITALIN', 1, 0)
2018-11-14 11:29:23,793 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,794 INFO sqlalchemy.engine.base.Engine ('CONCERTA', 1, 0)
2018-11-14 11:29:23,798 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,799 INFO sqlalchemy.engine.base.Engine ('APTENSIO XR', 1, 0)
2018-11-14 11:29:23,802 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:23,805 INFO sqlalchemy.engine.base.Engine (84,)
2018-11-14 11:29:23,814 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,816 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE SR',)
2018-11-14 11:29:23,818 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,820 INFO sqlalchemy.engine.base.Engine ('QUILLIVANT XR',)
2018-11-14 11:29:23,821 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,823 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE EXTENDED-RELEASE',)
2018-11-14 11:29:23,825 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,826 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HCL ORAL SOLUTION',)
2018-11-14 11:29:23,827 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,828 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE',)
2018-11-14 11:29:23,830 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,832 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE CD',)
2018-11-14 11:29:23,834 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,835 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE (CD)',)
2018-11-14 11:29:23,836 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,838 INFO sqlalchemy.engine.base.Engine ('METADATE CD',)
2018-11-14 11:29:23,839 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,841 INFO sqlalchemy.engine.base.Engine ('QUILLICHEW ER',)
2018-11-14 11:29:23,848 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,852 INFO sqlalchemy.engine.base.Engine ('METADATE ER',)
2018-11-14 11:29:23,853 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,854 INFO sqlalchemy.engine.base.Engine ('METHYLIN',)

2018-11-14 11:29:23,856 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,858 INFO sqlalchemy.engine.base.Engine ('RITALIN LA',)
2018-11-14 11:29:23,861 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,862 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE',)
2018-11-14 11:29:23,866 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,868 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE (LA)',)
2018-11-14 11:29:23,870 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,871 INFO sqlalchemy.engine.base.Engine ('RITALIN',)
2018-11-14 11:29:23,872 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,873 INFO sqlalchemy.engine.base.Engine ('CONCERTA',)
2018-11-14 11:29:23,875 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,876 INFO sqlalchemy.engine.base.Engine ('APTENSIO XR',)
2018-11-14 11:29:23,879 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,880 INFO sqlalchemy.engine.base.Engine ((305, 84), (306, 84), (308, 84), (296, 84), (297, 84), (299, 84), (310, 84), (302, 84)  ... displaying 10 of 17 total bound parameter sets ...  (294, 84), (300, 84))
2018-11-14 11:29:23,882 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,883 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:23,887 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,889 INFO sqlalchemy.engine.base.Engine ('Drug administered to patient of inappropriate age', 1, 0)
2018-11-14 11:29:23,892 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,894 INFO sqlalchemy.engine.base.Engine ('Serotonin syndrome', 1, 0)
2018-11-14 11:29:23,896 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:23,899 INFO sqlalchemy.engine.base.Engine (84,)
2018-11-14 11:29:23,903 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,904 INFO sqlalchemy.engine.base.Engine ('Serotonin syndrome',)
2018-11-14 11:29:23,907 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:23,908 INFO sqlalchemy.engine.base.Engine ('Drug administered to patient of inappropriate age',)
2018-11-14 11:29:23,911 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,913 INFO sqlalchemy.engine.base.Engine ((189, 84), (190, 84), (57, 84))
2018-11-14 11:29:23,916 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:23,922 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:23,925 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:23,926 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:23,930 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:23,933 INFO sqlalchemy.engine.base.Engine (1, 3, 1)
2018-11-14 11:29:23,938 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,940 INFO sqlalchemy.engine.base.Engine ('CLARITHROMYCIN 500 MG', 1, 0)
2018-11-14 11:29:23,944 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,945 INFO sqlalchemy.engine.base.Engine ('CLARITHROMYCIN 250 MG', 1, 0)
2018-11-14 11:29:23,951 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,952 INFO sqlalchemy.engine.base.Engine ('CLARITHROMYCIN', 1, 0)
2018-11-14 11:29:23,954 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:23,956 INFO sqlalchemy.engine.base.Engine (85,)
2018-11-14 11:29:23,959 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,962 INFO sqlalchemy.engine.base.Engine ('CLARITHROMYCIN 500 MG',)
2018-11-14 11:29:23,970 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,972 INFO sqlalchemy.engine.base.Engine ('CLARITHROMYCIN 250 MG',)
2018-11-14 11:29:23,973 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:23,975 INFO sqlalchemy.engine.base.Engine ('CLARITHROMYCIN',)
2018-11-14 11:29:23,977 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:23,978 INFO sqlalchemy.engine.base.Engine ((311, 85), (312, 85), (313, 85))
2018-11-14 11:29:23,982 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,984 INFO sqlalchemy.engine.base.Engine ('Oropharyngeal blistering', 1, 0)
2018-11-14 11:29:23,990 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,993 INFO sqlalchemy.engine.base.Engine ('Tongue blistering', 1, 0)
2018-11-14 11:29:23,995 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:23,996 INFO sqlalchemy.engine.base.Engine ('Product taste abnormal', 1, 0)
2018-11-14 11:29:24,000 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,001 INFO sqlalchemy.engine.base.Engine ('Burning sensation', 1, 0)
2018-11-14 11:29:24,004 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,005 INFO sqlalchemy.engine.base.Engine (85,)
2018-11-14 11:29:24,009 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,011 INFO sqlalchemy.engine.base.Engine ('Tongue blistering',)
2018-11-14 11:29:24,013 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,015 INFO sqlalchemy.engine.base.Engine ('Oropharyngeal blistering',)
2018-11-14 11:29:24,019 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,020 INFO sqlalchemy.engine.base.Engine ('Burning sensation',)
2018-11-14 11:29:24,022 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,023 INFO sqlalchemy.engine.base.Engine ('Product taste abnormal',)
2018-11-14 11:29:24,025 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,026 INFO sqlalchemy.engine.base.Engine ((191, 85), (192, 85), (193, 85), (194, 85))
2018-11-14 11:29:24,029 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,036 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,038 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:29:24,040 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,043 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,045 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:24,048 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,050 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:29:24,053 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:24,055 INFO sqlalchemy.engine.base.Engine (86,)
2018-11-14 11:29:24,060 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,062 INFO sqlalchemy.engine.base.Engine (8, 86)
2018-11-14 11:29:24,066 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,068 INFO sqlalchemy.engine.base.Engine ('Spinal column stenosis', 1, 0)
2018-11-14 11:29:24,071 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,072 INFO sqlalchemy.engine.base.Engine ('Dermatitis acneiform', 1, 0)
2018-11-14 11:29:24,076 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,077 INFO sqlalchemy.engine.base.Engine ('Limb operation', 1, 0)
2018-11-14 11:29:24,079 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,082 INFO sqlalchemy.engine.base.Engine ('Postoperative adhesion', 1, 0)
2018-11-14 11:29:24,085 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,086 INFO sqlalchemy.engine.base.Engine ('Diabetes mellitus', 1, 0)
2018-11-14 11:29:24,089 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,090 INFO sqlalchemy.engine.base.Engine ('Sciatica', 1, 0)
2018-11-14 11:29:24,092 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,093 INFO sqlalchemy.engine.base.Engine ('Intervertebral disc protrusion', 1, 0)
2018-11-14 11:29:24,095 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,098 INFO sqlalchemy.engine.base.Engine (86,)
2018-11-14 11:29:24,103 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,104 INFO sqlalchemy.engine.base.Engine ('Dermatitis acneiform',)
2018-11-14 11:29:24,107 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,108 INFO sqlalchemy.engine.base.Engine ('Postoperative adhesion',)
2018-11-14 11:29:24,110 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,111 INFO sqlalchemy.engine.base.Engine ('Intervertebral disc protrusion',)
2018-11-14 11:29:24,112 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,114 INFO sqlalchemy.engine.base.Engine ('Spinal column stenosis',)
2018-11-14 11:29:24,115 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,116 INFO sqlalchemy.engine.base.Engine ('Sciatica',)
2018-11-14 11:29:24,117 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,122 INFO sqlalchemy.engine.base.Engine ('Limb operation',)
2018-11-14 11:29:24,124 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,125 INFO sqlalchemy.engine.base.Engine ((195, 86), (196, 86), (197, 86), (198, 86), (199, 86), (200, 86), (65, 86))
2018-11-14 11:29:24,128 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,133 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,137 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,138 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,141 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,142 INFO sqlalchemy.engine.base.Engine (1, 53, 1)
2018-11-14 11:29:24,146 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,148 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:24,151 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:24,153 INFO sqlalchemy.engine.base.Engine (87,)
2018-11-14 11:29:24,157 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,159 INFO sqlalchemy.engine.base.Engine (17, 87)
2018-11-14 11:29:24,160 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,162 INFO sqlalchemy.engine.base.Engine ('Product storage error', 1, 0)
2018-11-14 11:29:24,165 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,167 INFO sqlalchemy.engine.base.Engine ('Wrong technique in product usage process', 1, 0)
2018-11-14 11:29:24,170 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,171 INFO sqlalchemy.engine.base.Engine (87,)
2018-11-14 11:29:24,179 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,191 INFO sqlalchemy.engine.base.Engine ('Product storage error',)
2018-11-14 11:29:24,193 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,194 INFO sqlalchemy.engine.base.Engine (201, 87)
2018-11-14 11:29:24,196 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,198 INFO sqlalchemy.engine.base.Engine (37, 87)
2018-11-14 11:29:24,203 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,214 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,217 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,222 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,229 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,235 INFO sqlalchemy.engine.base.Engine (1, 79, 1)
2018-11-14 11:29:24,240 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,242 INFO sqlalchemy.engine.base.Engine ('Haemorrhage subcutaneous', 1, 0)

2018-11-14 11:29:24,246 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,249 INFO sqlalchemy.engine.base.Engine ('Angina unstable', 1, 0)
2018-11-14 11:29:24,253 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,254 INFO sqlalchemy.engine.base.Engine (88,)
2018-11-14 11:29:24,257 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,258 INFO sqlalchemy.engine.base.Engine ('Angina unstable',)
2018-11-14 11:29:24,260 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,261 INFO sqlalchemy.engine.base.Engine ('Haemorrhage subcutaneous',)
2018-11-14 11:29:24,263 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,264 INFO sqlalchemy.engine.base.Engine ((202, 88), (203, 88))
2018-11-14 11:29:24,268 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,275 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,278 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,285 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,287 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,292 INFO sqlalchemy.engine.base.Engine (1, 31, 1)
2018-11-14 11:29:24,296 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,302 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:29:24,316 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:24,319 INFO sqlalchemy.engine.base.Engine (89,)
2018-11-14 11:29:24,323 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,325 INFO sqlalchemy.engine.base.Engine (8, 89)
2018-11-14 11:29:24,329 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,332 INFO sqlalchemy.engine.base.Engine ('Pruritus generalised', 1, 0)
2018-11-14 11:29:24,335 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,336 INFO sqlalchemy.engine.base.Engine ('Fall', 1, 0)
2018-11-14 11:29:24,340 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,341 INFO sqlalchemy.engine.base.Engine ('Autoimmune disorder', 1, 0)
2018-11-14 11:29:24,344 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,344 INFO sqlalchemy.engine.base.Engine ('Intervertebral disc protrusion', 1, 0)
2018-11-14 11:29:24,347 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,350 INFO sqlalchemy.engine.base.Engine ('Drug effect decreased', 1, 0)
2018-11-14 11:29:24,352 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,354 INFO sqlalchemy.engine.base.Engine (89,)
2018-11-14 11:29:24,357 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,358 INFO sqlalchemy.engine.base.Engine ('Drug effect decreased',)
2018-11-14 11:29:24,363 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,366 INFO sqlalchemy.engine.base.Engine ('Autoimmune disorder',)
2018-11-14 11:29:24,371 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,375 INFO sqlalchemy.engine.base.Engine ((205, 89), (204, 89))
2018-11-14 11:29:24,382 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,385 INFO sqlalchemy.engine.base.Engine ((197, 89), (160, 89), (137, 89))
2018-11-14 11:29:24,387 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,400 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,402 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,404 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,406 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,410 INFO sqlalchemy.engine.base.Engine (2, 73, 1)
2018-11-14 11:29:24,413 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,415 INFO sqlalchemy.engine.base.Engine ('GLEEVEC', 1, 0)
2018-11-14 11:29:24,418 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:24,419 INFO sqlalchemy.engine.base.Engine (90,)
2018-11-14 11:29:24,424 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:24,430 INFO sqlalchemy.engine.base.Engine ('GLEEVEC',)
2018-11-14 11:29:24,434 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,436 INFO sqlalchemy.engine.base.Engine (314, 90)
2018-11-14 11:29:24,443 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,448 INFO sqlalchemy.engine.base.Engine ('Sunburn', 1, 0)
2018-11-14 11:29:24,453 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,455 INFO sqlalchemy.engine.base.Engine ('Malaise', 1, 0)
2018-11-14 11:29:24,460 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,462 INFO sqlalchemy.engine.base.Engine ('Acute febrile neutrophilic dermatosis', 1, 0)
2018-11-14 11:29:24,466 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,472 INFO sqlalchemy.engine.base.Engine ('Pruritus', 1, 0)
2018-11-14 11:29:24,474 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,477 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:29:24,480 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,483 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:29:24,487 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:24,489 INFO sqlalchemy.engine.base.Engine ('Visual impairment', 1, 0)
2018-11-14 11:29:24,490 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,493 INFO sqlalchemy.engine.base.Engine (90,)
2018-11-14 11:29:24,496 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,507 INFO sqlalchemy.engine.base.Engine ('Sunburn',)
2018-11-14 11:29:24,509 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,511 INFO sqlalchemy.engine.base.Engine ('Acute febrile neutrophilic dermatosis',)
2018-11-14 11:29:24,513 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,515 INFO sqlalchemy.engine.base.Engine ('Visual impairment',)
2018-11-14 11:29:24,519 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,521 INFO sqlalchemy.engine.base.Engine ((206, 90), (26, 90), (101, 90), (15, 90), (207, 90), (208, 90), (13, 90))
2018-11-14 11:29:24,524 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,553 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,556 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,560 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,564 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,566 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:24,570 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,572 INFO sqlalchemy.engine.base.Engine ('XELJANZ XR', 1, 0)
2018-11-14 11:29:24,574 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:24,576 INFO sqlalchemy.engine.base.Engine (91,)
2018-11-14 11:29:24,579 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:24,582 INFO sqlalchemy.engine.base.Engine ('XELJANZ XR',)
2018-11-14 11:29:24,587 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,589 INFO sqlalchemy.engine.base.Engine (315, 91)
2018-11-14 11:29:24,603 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,605 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:24,606 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,608 INFO sqlalchemy.engine.base.Engine (91,)
2018-11-14 11:29:24,611 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,612 INFO sqlalchemy.engine.base.Engine (36, 91)
2018-11-14 11:29:24,643 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,658 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,662 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,664 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,667 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,669 INFO sqlalchemy.engine.base.Engine (2, 47, 1)
2018-11-14 11:29:24,674 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,676 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:24,678 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:24,679 INFO sqlalchemy.engine.base.Engine (92,)
2018-11-14 11:29:24,682 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,683 INFO sqlalchemy.engine.base.Engine (17, 92)
2018-11-14 11:29:24,686 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,687 INFO sqlalchemy.engine.base.Engine ('Drug effect incomplete', 1, 0)
2018-11-14 11:29:24,689 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,693 INFO sqlalchemy.engine.base.Engine (92,)
2018-11-14 11:29:24,696 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,697 INFO sqlalchemy.engine.base.Engine ('Drug effect incomplete',)
2018-11-14 11:29:24,700 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,701 INFO sqlalchemy.engine.base.Engine (209, 92)
2018-11-14 11:29:24,702 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,717 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,720 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,722 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,724 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,727 INFO sqlalchemy.engine.base.Engine (2, 70, 1)
2018-11-14 11:29:24,730 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,731 INFO sqlalchemy.engine.base.Engine ('GLUCOPHAGE XR', 1, 0)
2018-11-14 11:29:24,735 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,736 INFO sqlalchemy.engine.base.Engine ('GLUCOPHAGE', 1, 0)
2018-11-14 11:29:24,741 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:24,742 INFO sqlalchemy.engine.base.Engine (93,)
2018-11-14 11:29:24,750 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,751 INFO sqlalchemy.engine.base.Engine ((230, 93), (224, 93))
2018-11-14 11:29:24,755 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,757 INFO sqlalchemy.engine.base.Engine ('Intestinal gangrene', 1, 0)
2018-11-14 11:29:24,760 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,761 INFO sqlalchemy.engine.base.Engine ('Systemic lupus erythematosus', 1, 0)
2018-11-14 11:29:24,763 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,764 INFO sqlalchemy.engine.base.Engine (93,)

2018-11-14 11:29:24,768 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,769 INFO sqlalchemy.engine.base.Engine ('Intestinal gangrene',)
2018-11-14 11:29:24,771 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,772 INFO sqlalchemy.engine.base.Engine ((163, 93), (210, 93))
2018-11-14 11:29:24,776 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,788 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,791 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,794 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,796 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,802 INFO sqlalchemy.engine.base.Engine (1, 54, 1)
2018-11-14 11:29:24,804 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,806 INFO sqlalchemy.engine.base.Engine ('Skin lesion', 1, 0)
2018-11-14 11:29:24,808 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,810 INFO sqlalchemy.engine.base.Engine ('Squamous cell carcinoma of skin', 1, 0)
2018-11-14 11:29:24,818 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,819 INFO sqlalchemy.engine.base.Engine (94,)
2018-11-14 11:29:24,823 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,825 INFO sqlalchemy.engine.base.Engine ('Skin lesion',)
2018-11-14 11:29:24,826 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:24,828 INFO sqlalchemy.engine.base.Engine ('Squamous cell carcinoma of skin',)
2018-11-14 11:29:24,830 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,832 INFO sqlalchemy.engine.base.Engine ((212, 94), (211, 94))
2018-11-14 11:29:24,835 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,842 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,844 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,846 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,850 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,854 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:24,864 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,866 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:29:24,872 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:24,874 INFO sqlalchemy.engine.base.Engine (95,)
2018-11-14 11:29:24,878 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,880 INFO sqlalchemy.engine.base.Engine (8, 95)
2018-11-14 11:29:24,888 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,892 INFO sqlalchemy.engine.base.Engine ('Treatment failure', 1, 0)
2018-11-14 11:29:24,894 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,900 INFO sqlalchemy.engine.base.Engine (95,)
2018-11-14 11:29:24,904 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,906 INFO sqlalchemy.engine.base.Engine (22, 95)
2018-11-14 11:29:24,908 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,916 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,919 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,920 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,922 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,925 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:24,928 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,929 INFO sqlalchemy.engine.base.Engine ('OCREVUS', 1, 0)
2018-11-14 11:29:24,935 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:24,939 INFO sqlalchemy.engine.base.Engine (96,)
2018-11-14 11:29:24,942 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:24,945 INFO sqlalchemy.engine.base.Engine ('OCREVUS',)
2018-11-14 11:29:24,947 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,948 INFO sqlalchemy.engine.base.Engine (316, 96)
2018-11-14 11:29:24,953 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,955 INFO sqlalchemy.engine.base.Engine ('Multiple sclerosis relapse', 1, 0)
2018-11-14 11:29:24,957 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:24,959 INFO sqlalchemy.engine.base.Engine (96,)
2018-11-14 11:29:24,963 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:24,964 INFO sqlalchemy.engine.base.Engine (148, 96)
2018-11-14 11:29:24,967 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:24,974 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:24,979 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:24,981 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:24,989 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:24,990 INFO sqlalchemy.engine.base.Engine (2, 59, 1)
2018-11-14 11:29:24,994 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:24,997 INFO sqlalchemy.engine.base.Engine ('GLATOPA', 1, 0)
2018-11-14 11:29:25,000 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:25,001 INFO sqlalchemy.engine.base.Engine (97,)
2018-11-14 11:29:25,006 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:25,008 INFO sqlalchemy.engine.base.Engine ('GLATOPA',)
2018-11-14 11:29:25,010 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)

2018-11-14 11:29:25,012 INFO sqlalchemy.engine.base.Engine (317, 97)
2018-11-14 11:29:25,015 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,018 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:29:25,021 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,024 INFO sqlalchemy.engine.base.Engine ('Urticaria', 1, 0)
2018-11-14 11:29:25,026 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:25,029 INFO sqlalchemy.engine.base.Engine (97,)
2018-11-14 11:29:25,035 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:25,036 INFO sqlalchemy.engine.base.Engine ((4, 97), (120, 97))
2018-11-14 11:29:25,038 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:25,043 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:25,046 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:25,048 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:25,052 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:25,054 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:25,059 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,062 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:25,068 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:25,071 INFO sqlalchemy.engine.base.Engine (98,)
2018-11-14 11:29:25,076 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:25,077 INFO sqlalchemy.engine.base.Engine (17, 98)
2018-11-14 11:29:25,080 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,083 INFO sqlalchemy.engine.base.Engine ('Drug effect decreased', 1, 0)
2018-11-14 11:29:25,087 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,089 INFO sqlalchemy.engine.base.Engine ('Cyst', 1, 0)
2018-11-14 11:29:25,092 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,093 INFO sqlalchemy.engine.base.Engine ('Nodule', 1, 0)
2018-11-14 11:29:25,096 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:25,098 INFO sqlalchemy.engine.base.Engine (98,)
2018-11-14 11:29:25,104 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,105 INFO sqlalchemy.engine.base.Engine ('Cyst',)
2018-11-14 11:29:25,107 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,108 INFO sqlalchemy.engine.base.Engine ('Nodule',)
2018-11-14 11:29:25,110 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:25,111 INFO sqlalchemy.engine.base.Engine ((204, 98), (213, 98), (214, 98))
2018-11-14 11:29:25,113 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:25,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:25,121 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:25,123 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:25,125 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:25,127 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:25,131 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,133 INFO sqlalchemy.engine.base.Engine ('REVLIMID', 1, 0)
2018-11-14 11:29:25,135 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:25,137 INFO sqlalchemy.engine.base.Engine (99,)
2018-11-14 11:29:25,143 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:25,149 INFO sqlalchemy.engine.base.Engine ('REVLIMID',)
2018-11-14 11:29:25,152 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:25,154 INFO sqlalchemy.engine.base.Engine (318, 99)
2018-11-14 11:29:25,158 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,160 INFO sqlalchemy.engine.base.Engine ('Pneumonia', 1, 0)
2018-11-14 11:29:25,162 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:25,163 INFO sqlalchemy.engine.base.Engine (99,)
2018-11-14 11:29:25,167 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,169 INFO sqlalchemy.engine.base.Engine ('Pneumonia',)
2018-11-14 11:29:25,173 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:25,174 INFO sqlalchemy.engine.base.Engine (215, 99)
2018-11-14 11:29:25,176 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:25,185 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:25,189 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:25,191 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:25,194 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:25,196 INFO sqlalchemy.engine.base.Engine (2, 77, 1)
2018-11-14 11:29:25,201 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,203 INFO sqlalchemy.engine.base.Engine ('Platelet count decreased', 1, 0)
2018-11-14 11:29:25,206 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,207 INFO sqlalchemy.engine.base.Engine ('Haematochezia', 1, 0)
2018-11-14 11:29:25,212 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,214 INFO sqlalchemy.engine.base.Engine ('Reticulocyte percentage decreased', 1, 0)
2018-11-14 11:29:25,216 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,219 INFO sqlalchemy.engine.base.Engine ('Nasopharyngitis', 1, 0)

2018-11-14 11:29:25,222 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,228 INFO sqlalchemy.engine.base.Engine ('Haematochezia', 1, 0)
2018-11-14 11:29:25,233 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,237 INFO sqlalchemy.engine.base.Engine ('Ligamentitis', 1, 0)
2018-11-14 11:29:25,240 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,242 INFO sqlalchemy.engine.base.Engine ('Blood alkaline phosphatase increased', 1, 0)
2018-11-14 11:29:25,247 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,249 INFO sqlalchemy.engine.base.Engine ('Blood parathyroid hormone increased', 1, 0)
2018-11-14 11:29:25,256 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:25,257 INFO sqlalchemy.engine.base.Engine (100,)
2018-11-14 11:29:25,263 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,264 INFO sqlalchemy.engine.base.Engine ('Blood alkaline phosphatase increased',)
2018-11-14 11:29:25,266 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,271 INFO sqlalchemy.engine.base.Engine ('Blood parathyroid hormone increased',)
2018-11-14 11:29:25,272 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,274 INFO sqlalchemy.engine.base.Engine ('Haematochezia',)
2018-11-14 11:29:25,276 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,278 INFO sqlalchemy.engine.base.Engine ('Platelet count decreased',)
2018-11-14 11:29:25,280 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,281 INFO sqlalchemy.engine.base.Engine ('Ligamentitis',)
2018-11-14 11:29:25,286 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,288 INFO sqlalchemy.engine.base.Engine ('Haematochezia',)
2018-11-14 11:29:25,290 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,295 INFO sqlalchemy.engine.base.Engine ('Reticulocyte percentage decreased',)
2018-11-14 11:29:25,304 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:25,305 INFO sqlalchemy.engine.base.Engine ((216, 100), (217, 100), (218, 100), (30, 100), (219, 100), (220, 100), (221, 100), (222, 100))
2018-11-14 11:29:25,880 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,882 INFO sqlalchemy.engine.base.Engine ('Cerebrovascular accident', 1, 0)
2018-11-14 11:29:25,884 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:25,886 INFO sqlalchemy.engine.base.Engine (107,)
2018-11-14 11:29:25,890 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,891 INFO sqlalchemy.engine.base.Engine ('Gastroenteritis',)
2018-11-14 11:29:25,892 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,893 INFO sqlalchemy.engine.base.Engine ('Cerebrovascular accident',)
2018-11-14 11:29:25,894 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,895 INFO sqlalchemy.engine.base.Engine ('Cerebral amyloid angiopathy',)
2018-11-14 11:29:25,896 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:25,898 INFO sqlalchemy.engine.base.Engine ('Hydrocephalus',)
2018-11-14 11:29:25,899 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:25,901 INFO sqlalchemy.engine.base.Engine ((230, 107), (231, 107), (232, 107), (233, 107), (102, 107))
2018-11-14 11:29:25,914 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:25,928 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:25,932 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:25,933 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:25,937 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:25,941 INFO sqlalchemy.engine.base.Engine (2, 38, 1)
2018-11-14 11:29:25,945 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,946 INFO sqlalchemy.engine.base.Engine ('GILENYA', 1, 0)
2018-11-14 11:29:25,949 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:25,950 INFO sqlalchemy.engine.base.Engine (108,)
2018-11-14 11:29:25,954 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:25,955 INFO sqlalchemy.engine.base.Engine (208, 108)
2018-11-14 11:29:25,957 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,958 INFO sqlalchemy.engine.base.Engine ('Dizziness', 1, 0)
2018-11-14 11:29:25,960 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:25,962 INFO sqlalchemy.engine.base.Engine ('Nausea', 1, 0)
2018-11-14 11:29:25,969 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:25,972 INFO sqlalchemy.engine.base.Engine (108,)
2018-11-14 11:29:25,977 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:25,979 INFO sqlalchemy.engine.base.Engine ((16, 108), (143, 108))
2018-11-14 11:29:25,980 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:25,986 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:25,990 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:25,992 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:25,995 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:25,996 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:26,001 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,003 INFO sqlalchemy.engine.base.Engine ('PROMACTA', 1, 0)
2018-11-14 11:29:26,006 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:26,007 INFO sqlalchemy.engine.base.Engine (109,)
2018-11-14 11:29:26,011 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)

2018-11-14 11:29:26,015 INFO sqlalchemy.engine.base.Engine ('PROMACTA',)
2018-11-14 11:29:26,019 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,021 INFO sqlalchemy.engine.base.Engine (323, 109)
2018-11-14 11:29:26,022 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,024 INFO sqlalchemy.engine.base.Engine ('Platelet count decreased', 1, 0)
2018-11-14 11:29:26,026 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,030 INFO sqlalchemy.engine.base.Engine (109,)
2018-11-14 11:29:26,046 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,048 INFO sqlalchemy.engine.base.Engine (219, 109)
2018-11-14 11:29:26,049 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,059 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,061 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,064 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,069 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:26,071 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:26,074 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,075 INFO sqlalchemy.engine.base.Engine ('ILARIS', 1, 0)
2018-11-14 11:29:26,078 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:26,079 INFO sqlalchemy.engine.base.Engine (110,)
2018-11-14 11:29:26,082 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,087 INFO sqlalchemy.engine.base.Engine (293, 110)
2018-11-14 11:29:26,090 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,091 INFO sqlalchemy.engine.base.Engine ('Anxiety', 1, 0)
2018-11-14 11:29:26,093 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,094 INFO sqlalchemy.engine.base.Engine (110,)
2018-11-14 11:29:26,097 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,098 INFO sqlalchemy.engine.base.Engine (175, 110)
2018-11-14 11:29:26,099 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,111 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,113 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,115 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,120 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:26,122 INFO sqlalchemy.engine.base.Engine (2, 38, 1)
2018-11-14 11:29:26,124 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,125 INFO sqlalchemy.engine.base.Engine ('GILENYA', 1, 0)
2018-11-14 11:29:26,127 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:26,128 INFO sqlalchemy.engine.base.Engine (111,)
2018-11-14 11:29:26,137 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,138 INFO sqlalchemy.engine.base.Engine (208, 111)
2018-11-14 11:29:26,141 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,144 INFO sqlalchemy.engine.base.Engine ('Somnolence', 1, 0)
2018-11-14 11:29:26,148 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,150 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:29:26,153 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,155 INFO sqlalchemy.engine.base.Engine ('Abdominal discomfort', 1, 0)
2018-11-14 11:29:26,158 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,162 INFO sqlalchemy.engine.base.Engine ('Feeling abnormal', 1, 0)
2018-11-14 11:29:26,164 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,165 INFO sqlalchemy.engine.base.Engine ('Chest discomfort', 1, 0)
2018-11-14 11:29:26,167 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,168 INFO sqlalchemy.engine.base.Engine ('Malaise', 1, 0)
2018-11-14 11:29:26,173 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,175 INFO sqlalchemy.engine.base.Engine ('Hyperhidrosis', 1, 0)
2018-11-14 11:29:26,178 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,179 INFO sqlalchemy.engine.base.Engine ('Discomfort', 1, 0)
2018-11-14 11:29:26,183 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,185 INFO sqlalchemy.engine.base.Engine ('Abdominal distension', 1, 0)
2018-11-14 11:29:26,189 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,190 INFO sqlalchemy.engine.base.Engine ('Heart rate decreased', 1, 0)
2018-11-14 11:29:26,192 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,193 INFO sqlalchemy.engine.base.Engine (111,)
2018-11-14 11:29:26,196 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,198 INFO sqlalchemy.engine.base.Engine ('Heart rate decreased',)
2018-11-14 11:29:26,199 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,201 INFO sqlalchemy.engine.base.Engine ('Chest discomfort',)
2018-11-14 11:29:26,203 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,206 INFO sqlalchemy.engine.base.Engine ('Discomfort',)
2018-11-14 11:29:26,214 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,216 INFO sqlalchemy.engine.base.Engine ('Hyperhidrosis',)

2018-11-14 11:29:26,218 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,219 INFO sqlalchemy.engine.base.Engine ((235, 111), (237, 111), (234, 111), (236, 111))
2018-11-14 11:29:26,224 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,225 INFO sqlalchemy.engine.base.Engine ((101, 111), (42, 111), (24, 111), (35, 111), (125, 111), (21, 111))
2018-11-14 11:29:26,227 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,233 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,235 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,237 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,240 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:26,241 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:29:26,245 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,246 INFO sqlalchemy.engine.base.Engine ('OCREVUS', 1, 0)
2018-11-14 11:29:26,248 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:26,249 INFO sqlalchemy.engine.base.Engine (112,)
2018-11-14 11:29:26,256 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,257 INFO sqlalchemy.engine.base.Engine (316, 112)
2018-11-14 11:29:26,261 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,262 INFO sqlalchemy.engine.base.Engine ('Infection', 1, 0)
2018-11-14 11:29:26,264 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,266 INFO sqlalchemy.engine.base.Engine (112,)
2018-11-14 11:29:26,273 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,275 INFO sqlalchemy.engine.base.Engine ('Infection',)
2018-11-14 11:29:26,277 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,279 INFO sqlalchemy.engine.base.Engine (238, 112)
2018-11-14 11:29:26,283 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,288 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,291 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,292 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,295 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:26,297 INFO sqlalchemy.engine.base.Engine (2, 72, 1)
2018-11-14 11:29:26,301 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,302 INFO sqlalchemy.engine.base.Engine ('OMEGA 3', 1, 0)
2018-11-14 11:29:26,304 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:26,306 INFO sqlalchemy.engine.base.Engine (113,)
2018-11-14 11:29:26,312 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:26,313 INFO sqlalchemy.engine.base.Engine ('OMEGA 3',)
2018-11-14 11:29:26,318 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,321 INFO sqlalchemy.engine.base.Engine (324, 113)
2018-11-14 11:29:26,325 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,326 INFO sqlalchemy.engine.base.Engine ('Hypertension', 1, 0)
2018-11-14 11:29:26,328 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,331 INFO sqlalchemy.engine.base.Engine ('Paraesthesia', 1, 0)
2018-11-14 11:29:26,334 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,335 INFO sqlalchemy.engine.base.Engine ('Spinal column stenosis', 1, 0)
2018-11-14 11:29:26,338 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,339 INFO sqlalchemy.engine.base.Engine ('Neuropathy peripheral', 1, 0)
2018-11-14 11:29:26,341 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,342 INFO sqlalchemy.engine.base.Engine ('Osteoarthritis', 1, 0)
2018-11-14 11:29:26,344 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,349 INFO sqlalchemy.engine.base.Engine ('Dislocation of vertebra', 1, 0)
2018-11-14 11:29:26,351 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,353 INFO sqlalchemy.engine.base.Engine ('Nerve compression', 1, 0)
2018-11-14 11:29:26,356 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,359 INFO sqlalchemy.engine.base.Engine ('Spinal pain', 1, 0)
2018-11-14 11:29:26,364 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,367 INFO sqlalchemy.engine.base.Engine ('Spinal column stenosis', 1, 0)
2018-11-14 11:29:26,370 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,372 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:29:26,374 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,375 INFO sqlalchemy.engine.base.Engine (113,)
2018-11-14 11:29:26,379 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,380 INFO sqlalchemy.engine.base.Engine ('Nerve compression',)
2018-11-14 11:29:26,381 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,382 INFO sqlalchemy.engine.base.Engine ('Spinal pain',)
2018-11-14 11:29:26,383 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,385 INFO sqlalchemy.engine.base.Engine ('Dislocation of vertebra',)
2018-11-14 11:29:26,387 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,388 INFO sqlalchemy.engine.base.Engine ('Osteoarthritis',)
2018-11-14 11:29:26,389 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,391 INFO sqlalchemy.engine.base.Engine ((126, 113), (239, 113), (198, 113), (240, 113), (241, 113), (242, 113), (120, 113), (67, 113), (3, 113))

2018-11-14 11:29:26,395 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,407 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,409 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,413 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,415 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:26,416 INFO sqlalchemy.engine.base.Engine (2, 68, 1)
2018-11-14 11:29:26,424 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,426 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:29:26,428 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:26,432 INFO sqlalchemy.engine.base.Engine (114,)
2018-11-14 11:29:26,435 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,437 INFO sqlalchemy.engine.base.Engine (8, 114)
2018-11-14 11:29:26,440 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,441 INFO sqlalchemy.engine.base.Engine ('Dysphagia', 1, 0)
2018-11-14 11:29:26,445 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,447 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:29:26,449 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,451 INFO sqlalchemy.engine.base.Engine ('Drug level decreased', 1, 0)
2018-11-14 11:29:26,454 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,456 INFO sqlalchemy.engine.base.Engine ('Abdominal pain', 1, 0)
2018-11-14 11:29:26,459 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,461 INFO sqlalchemy.engine.base.Engine ('Small intestinal obstruction', 1, 0)
2018-11-14 11:29:26,464 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,467 INFO sqlalchemy.engine.base.Engine (114,)
2018-11-14 11:29:26,471 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,473 INFO sqlalchemy.engine.base.Engine ('Dysphagia',)
2018-11-14 11:29:26,476 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,478 INFO sqlalchemy.engine.base.Engine ('Small intestinal obstruction',)
2018-11-14 11:29:26,480 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,481 INFO sqlalchemy.engine.base.Engine ('Drug level decreased',)
2018-11-14 11:29:26,483 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,485 INFO sqlalchemy.engine.base.Engine ((244, 114), (245, 114), (243, 114))
2018-11-14 11:29:26,491 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,492 INFO sqlalchemy.engine.base.Engine ((20, 114), (48, 114))
2018-11-14 11:29:26,493 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,498 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,501 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,502 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,506 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:26,507 INFO sqlalchemy.engine.base.Engine (2, 81, 1)
2018-11-14 11:29:26,511 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,512 INFO sqlalchemy.engine.base.Engine ('ALPRAZOLAM', 1, 0)
2018-11-14 11:29:26,516 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,517 INFO sqlalchemy.engine.base.Engine ('XANAX XR', 1, 0)
2018-11-14 11:29:26,520 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,529 INFO sqlalchemy.engine.base.Engine ('ALPRAZOLAM XR', 1, 0)
2018-11-14 11:29:26,531 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,532 INFO sqlalchemy.engine.base.Engine ('ALPRAZOLAM EXTENDED RELEASE', 1, 0)
2018-11-14 11:29:26,534 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,539 INFO sqlalchemy.engine.base.Engine ('XANAX', 1, 0)
2018-11-14 11:29:26,541 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:26,542 INFO sqlalchemy.engine.base.Engine (115,)
2018-11-14 11:29:26,548 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:26,551 INFO sqlalchemy.engine.base.Engine ('ALPRAZOLAM',)
2018-11-14 11:29:26,553 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:26,554 INFO sqlalchemy.engine.base.Engine ('XANAX XR',)
2018-11-14 11:29:26,556 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:26,559 INFO sqlalchemy.engine.base.Engine ('ALPRAZOLAM XR',)
2018-11-14 11:29:26,561 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:26,563 INFO sqlalchemy.engine.base.Engine ('ALPRAZOLAM EXTENDED RELEASE',)
2018-11-14 11:29:26,565 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:26,567 INFO sqlalchemy.engine.base.Engine ('XANAX',)
2018-11-14 11:29:26,569 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,570 INFO sqlalchemy.engine.base.Engine ((326, 115), (329, 115), (327, 115), (325, 115), (328, 115))
2018-11-14 11:29:26,575 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,576 INFO sqlalchemy.engine.base.Engine ('Completed suicide', 1, 0)
2018-11-14 11:29:26,578 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,580 INFO sqlalchemy.engine.base.Engine (115,)
2018-11-14 11:29:26,585 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,587 INFO sqlalchemy.engine.base.Engine ('Completed suicide',)
2018-11-14 11:29:26,589 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,590 INFO sqlalchemy.engine.base.Engine (246, 115)

2018-11-14 11:29:26,592 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,603 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,606 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,608 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,610 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:26,611 INFO sqlalchemy.engine.base.Engine (2, 33, 1)
2018-11-14 11:29:26,615 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,617 INFO sqlalchemy.engine.base.Engine ('BRINTELLIX', 1, 0)
2018-11-14 11:29:26,622 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,624 INFO sqlalchemy.engine.base.Engine ('TRINTELLIX', 1, 0)
2018-11-14 11:29:26,627 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:26,628 INFO sqlalchemy.engine.base.Engine (116,)
2018-11-14 11:29:26,635 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:26,636 INFO sqlalchemy.engine.base.Engine ('BRINTELLIX',)
2018-11-14 11:29:26,638 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:26,640 INFO sqlalchemy.engine.base.Engine ('TRINTELLIX',)
2018-11-14 11:29:26,642 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,643 INFO sqlalchemy.engine.base.Engine ((330, 116), (331, 116))
2018-11-14 11:29:26,645 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,647 INFO sqlalchemy.engine.base.Engine ('Transferrin saturation decreased', 1, 0)
2018-11-14 11:29:26,649 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,651 INFO sqlalchemy.engine.base.Engine ('Platelet count decreased', 1, 0)
2018-11-14 11:29:26,655 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,657 INFO sqlalchemy.engine.base.Engine ('Serum ferritin decreased', 1, 0)
2018-11-14 11:29:26,661 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,662 INFO sqlalchemy.engine.base.Engine ('Iron deficiency anaemia', 1, 0)
2018-11-14 11:29:26,665 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,667 INFO sqlalchemy.engine.base.Engine ('Blood iron decreased', 1, 0)
2018-11-14 11:29:26,669 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,671 INFO sqlalchemy.engine.base.Engine (116,)
2018-11-14 11:29:26,675 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,676 INFO sqlalchemy.engine.base.Engine ('Blood iron decreased',)
2018-11-14 11:29:26,678 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,678 INFO sqlalchemy.engine.base.Engine ('Serum ferritin decreased',)
2018-11-14 11:29:26,680 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,681 INFO sqlalchemy.engine.base.Engine ('Transferrin saturation decreased',)
2018-11-14 11:29:26,682 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,683 INFO sqlalchemy.engine.base.Engine ('Iron deficiency anaemia',)
2018-11-14 11:29:26,685 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,687 INFO sqlalchemy.engine.base.Engine ((248, 116), (250, 116), (247, 116), (249, 116))
2018-11-14 11:29:26,689 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,690 INFO sqlalchemy.engine.base.Engine (219, 116)
2018-11-14 11:29:26,691 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,699 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,703 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,704 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,709 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:26,711 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:26,714 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,716 INFO sqlalchemy.engine.base.Engine ('Splenomegaly', 1, 0)
2018-11-14 11:29:26,719 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,721 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:29:26,724 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,726 INFO sqlalchemy.engine.base.Engine ('Treatment noncompliance', 1, 0)
2018-11-14 11:29:26,729 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,731 INFO sqlalchemy.engine.base.Engine ('Alanine aminotransferase increased', 1, 0)
2018-11-14 11:29:26,734 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,735 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:29:26,739 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,742 INFO sqlalchemy.engine.base.Engine ('Blast crisis in myelogenous leukaemia', 1, 0)
2018-11-14 11:29:26,745 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,747 INFO sqlalchemy.engine.base.Engine (117,)
2018-11-14 11:29:26,750 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,752 INFO sqlalchemy.engine.base.Engine ('Splenomegaly',)
2018-11-14 11:29:26,753 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,755 INFO sqlalchemy.engine.base.Engine ('Blast crisis in myelogenous leukaemia',)
2018-11-14 11:29:26,758 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,760 INFO sqlalchemy.engine.base.Engine ('Treatment noncompliance',)
2018-11-14 11:29:26,761 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,763 INFO sqlalchemy.engine.base.Engine ('Alanine aminotransferase increased',)
2018-11-14 11:29:26,765 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)

2018-11-14 11:29:26,767 INFO sqlalchemy.engine.base.Engine ((251, 117), (252, 117), (253, 117), (254, 117))
2018-11-14 11:29:26,769 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,770 INFO sqlalchemy.engine.base.Engine ((111, 117), (24, 117))
2018-11-14 11:29:26,773 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,778 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,781 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,783 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,790 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:26,791 INFO sqlalchemy.engine.base.Engine (2, 94, 1)
2018-11-14 11:29:26,794 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,795 INFO sqlalchemy.engine.base.Engine ('TRINTELLIX', 1, 0)
2018-11-14 11:29:26,798 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:26,799 INFO sqlalchemy.engine.base.Engine (118,)
2018-11-14 11:29:26,804 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,806 INFO sqlalchemy.engine.base.Engine (331, 118)
2018-11-14 11:29:26,809 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,810 INFO sqlalchemy.engine.base.Engine ('Blood sodium decreased', 1, 0)
2018-11-14 11:29:26,813 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,815 INFO sqlalchemy.engine.base.Engine ('Impaired self-care', 1, 0)
2018-11-14 11:29:26,820 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,824 INFO sqlalchemy.engine.base.Engine ('Pain in extremity', 1, 0)
2018-11-14 11:29:26,827 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,830 INFO sqlalchemy.engine.base.Engine ('Dysstasia', 1, 0)
2018-11-14 11:29:26,833 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,834 INFO sqlalchemy.engine.base.Engine (118,)
2018-11-14 11:29:26,840 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,841 INFO sqlalchemy.engine.base.Engine ('Blood sodium decreased',)
2018-11-14 11:29:26,844 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,845 INFO sqlalchemy.engine.base.Engine ('Impaired self-care',)
2018-11-14 11:29:26,846 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,847 INFO sqlalchemy.engine.base.Engine ('Dysstasia',)
2018-11-14 11:29:26,849 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,851 INFO sqlalchemy.engine.base.Engine ((18, 118), (255, 118), (256, 118), (257, 118))
2018-11-14 11:29:26,853 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,860 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,862 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,864 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,868 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:26,871 INFO sqlalchemy.engine.base.Engine (2, 57, 1)
2018-11-14 11:29:26,876 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,877 INFO sqlalchemy.engine.base.Engine ('ARANESP', 1, 0)
2018-11-14 11:29:26,880 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:26,883 INFO sqlalchemy.engine.base.Engine (119,)
2018-11-14 11:29:26,889 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,893 INFO sqlalchemy.engine.base.Engine (322, 119)
2018-11-14 11:29:26,896 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,897 INFO sqlalchemy.engine.base.Engine ('Oral herpes', 1, 0)
2018-11-14 11:29:26,900 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,902 INFO sqlalchemy.engine.base.Engine ('Hypoaesthesia', 1, 0)
2018-11-14 11:29:26,905 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,907 INFO sqlalchemy.engine.base.Engine ('Shunt infection', 1, 0)
2018-11-14 11:29:26,909 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,909 INFO sqlalchemy.engine.base.Engine ('Stomatitis', 1, 0)
2018-11-14 11:29:26,911 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,912 INFO sqlalchemy.engine.base.Engine ('Scratch', 1, 0)
2018-11-14 11:29:26,914 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,916 INFO sqlalchemy.engine.base.Engine ('Skin exfoliation', 1, 0)
2018-11-14 11:29:26,917 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,918 INFO sqlalchemy.engine.base.Engine ('Petechiae', 1, 0)
2018-11-14 11:29:26,923 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,926 INFO sqlalchemy.engine.base.Engine ('Back pain', 1, 0)
2018-11-14 11:29:26,941 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,944 INFO sqlalchemy.engine.base.Engine ('Shunt infection', 1, 0)
2018-11-14 11:29:26,947 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:26,948 INFO sqlalchemy.engine.base.Engine ('Dermatitis contact', 1, 0)
2018-11-14 11:29:26,950 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:26,951 INFO sqlalchemy.engine.base.Engine (119,)
2018-11-14 11:29:26,956 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)

2018-11-14 11:29:26,957 INFO sqlalchemy.engine.base.Engine ('Skin exfoliation',)
2018-11-14 11:29:26,959 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,961 INFO sqlalchemy.engine.base.Engine ('Dermatitis contact',)
2018-11-14 11:29:26,963 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,964 INFO sqlalchemy.engine.base.Engine ('Oral herpes',)
2018-11-14 11:29:26,966 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,967 INFO sqlalchemy.engine.base.Engine ('Scratch',)
2018-11-14 11:29:26,968 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,969 INFO sqlalchemy.engine.base.Engine ('Petechiae',)
2018-11-14 11:29:26,971 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:26,973 INFO sqlalchemy.engine.base.Engine ('Stomatitis',)
2018-11-14 11:29:26,975 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:26,976 INFO sqlalchemy.engine.base.Engine ((258, 119), (229, 119), (259, 119), (260, 119), (261, 119), (1, 119), (44, 119), (262, 119), (263, 119))
2018-11-14 11:29:26,980 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:26,992 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:26,995 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:26,997 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:26,999 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:27,000 INFO sqlalchemy.engine.base.Engine (1, 60, 1)
2018-11-14 11:29:27,004 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,006 INFO sqlalchemy.engine.base.Engine ('Non-Hodgkin^s lymphoma', 1, 0)
2018-11-14 11:29:27,009 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,011 INFO sqlalchemy.engine.base.Engine ('Balanitis candida', 1, 0)
2018-11-14 11:29:27,014 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,015 INFO sqlalchemy.engine.base.Engine ('Balanoposthitis', 1, 0)
2018-11-14 11:29:27,017 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:27,019 INFO sqlalchemy.engine.base.Engine (120,)
2018-11-14 11:29:27,022 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:27,023 INFO sqlalchemy.engine.base.Engine ('Balanoposthitis',)
2018-11-14 11:29:27,027 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:27,029 INFO sqlalchemy.engine.base.Engine ('Non-Hodgkin^s lymphoma',)
2018-11-14 11:29:27,031 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:27,034 INFO sqlalchemy.engine.base.Engine ('Balanitis candida',)
2018-11-14 11:29:27,037 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:27,040 INFO sqlalchemy.engine.base.Engine ((264, 120), (265, 120), (266, 120))
2018-11-14 11:29:27,044 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:27,053 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:27,059 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:27,061 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:27,067 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:27,068 INFO sqlalchemy.engine.base.Engine (2, 74, 1)
2018-11-14 11:29:27,073 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,075 INFO sqlalchemy.engine.base.Engine ('KYPROLIS', 1, 0)
2018-11-14 11:29:27,079 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:27,080 INFO sqlalchemy.engine.base.Engine (121,)
2018-11-14 11:29:27,084 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:27,088 INFO sqlalchemy.engine.base.Engine ('KYPROLIS',)
2018-11-14 11:29:27,093 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:27,094 INFO sqlalchemy.engine.base.Engine (332, 121)
2018-11-14 11:29:27,096 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,097 INFO sqlalchemy.engine.base.Engine ('Encephalopathy', 1, 0)
2018-11-14 11:29:27,099 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:27,100 INFO sqlalchemy.engine.base.Engine (121,)
2018-11-14 11:29:27,105 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:27,108 INFO sqlalchemy.engine.base.Engine ('Encephalopathy',)
2018-11-14 11:29:27,111 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:27,112 INFO sqlalchemy.engine.base.Engine (267, 121)
2018-11-14 11:29:27,114 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:27,123 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:27,127 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:27,129 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:27,134 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:27,136 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:27,144 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,146 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:27,156 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:27,158 INFO sqlalchemy.engine.base.Engine (122,)
2018-11-14 11:29:27,161 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:27,162 INFO sqlalchemy.engine.base.Engine (17, 122)
2018-11-14 11:29:27,165 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,166 INFO sqlalchemy.engine.base.Engine ('Injection site pain', 1, 0)
2018-11-14 11:29:27,169 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,170 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:29:27,176 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:27,177 INFO sqlalchemy.engine.base.Engine ('Feeling hot', 1, 0)
2018-11-14 11:29:27,182 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,183 INFO sqlalchemy.engine.base.Engine ('Hypersomnia', 1, 0)
2018-11-14 11:29:27,185 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:27,186 INFO sqlalchemy.engine.base.Engine (122,)
2018-11-14 11:29:27,189 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:27,194 INFO sqlalchemy.engine.base.Engine ('Hypersomnia',)
2018-11-14 11:29:27,195 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:27,197 INFO sqlalchemy.engine.base.Engine ('Feeling hot',)
2018-11-14 11:29:27,200 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:27,201 INFO sqlalchemy.engine.base.Engine ('Injection site pain',)
2018-11-14 11:29:27,204 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:27,207 INFO sqlalchemy.engine.base.Engine ((269, 122), (268, 122), (270, 122))
2018-11-14 11:29:27,211 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:27,212 INFO sqlalchemy.engine.base.Engine (24, 122)
2018-11-14 11:29:27,214 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:27,219 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:27,222 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:27,224 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:27,229 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:27,230 INFO sqlalchemy.engine.base.Engine (2, 53, 1)
2018-11-14 11:29:27,235 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,237 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND - WITCHS BREW AND SCAREDY CAT', 1, 0)
2018-11-14 11:29:27,246 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,248 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER SWEET PAPAYA MANGO', 1, 0)
2018-11-14 11:29:27,250 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:27,252 INFO sqlalchemy.engine.base.Engine ('SIMPLE HYGIENE HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,251 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,253 INFO sqlalchemy.engine.base.Engine ('HES CLEAN EVE', 1, 0)
2018-11-14 11:29:28,254 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,255 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER INSPIRING ISLAND GETAWAY', 1, 0)
2018-11-14 11:29:28,257 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,259 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER APPLE MANGO', 1, 0)
2018-11-14 11:29:28,261 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,262 INFO sqlalchemy.engine.base.Engine ('ALCOGEL', 1, 0)
2018-11-14 11:29:28,263 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,264 INFO sqlalchemy.engine.base.Engine ('AMERICAN INFECTION CONTROL ANTISEPTIC HAND WIPES', 1, 0)
2018-11-14 11:29:28,266 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,270 INFO sqlalchemy.engine.base.Engine ('JUSTICE VERY BERRY GRAPE SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,273 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,275 INFO sqlalchemy.engine.base.Engine ('PURRFECT RASBERRY HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,278 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,279 INFO sqlalchemy.engine.base.Engine ('HOLIDAY WONDERS WINTER BERRIES ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,281 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,281 INFO sqlalchemy.engine.base.Engine ('AMOVEO 80%', 1, 0)
2018-11-14 11:29:28,285 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,286 INFO sqlalchemy.engine.base.Engine ('LEMON SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,287 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,289 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SPRAY SWEET PEA', 1, 0)
2018-11-14 11:29:28,291 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,292 INFO sqlalchemy.engine.base.Engine ('ONE STEP HAND SANITIZER ALOE', 1, 0)
2018-11-14 11:29:28,294 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,295 INFO sqlalchemy.engine.base.Engine ('2 PACK ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS (VITAMIN E AND ALOE) LEMON SCENTED', 1, 0)
2018-11-14 11:29:28,298 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,299 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS MELON AND MINT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,300 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,301 INFO sqlalchemy.engine.base.Engine ('HOLIDAY WONDERS FROSTED MARSHMALLOW ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,304 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,304 INFO sqlalchemy.engine.base.Engine ('WITCHS BREW ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:28,310 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,311 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER R BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,313 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,314 INFO sqlalchemy.engine.base.Engine ('HANSAN SPRAY', 1, 0)
2018-11-14 11:29:28,316 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:28,317 INFO sqlalchemy.engine.base.Engine ('BODYCOLOGY MOISTURIZING HAND SANITIZER CUCUMBER MELON', 1, 0)
2018-11-14 11:29:28,320 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,321 INFO sqlalchemy.engine.base.Engine ('JUSTICE WILD MELON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,323 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,324 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER OVEN-BAKED APPLES', 1, 0)
2018-11-14 11:29:28,325 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,327 INFO sqlalchemy.engine.base.Engine ('VANILLA HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,329 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,330 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SANITIZER FRESH STRAWBERRIES', 1, 0)
2018-11-14 11:29:28,332 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,333 INFO sqlalchemy.engine.base.Engine ('PURELL PROFESSIONAL ADVANCED HAND SANITIZER FOAM', 1, 0)
2018-11-14 11:29:28,335 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,336 INFO sqlalchemy.engine.base.Engine ('KIDZSTUFF HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,339 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,340 INFO sqlalchemy.engine.base.Engine ('ONE STEP HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,342 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,343 INFO sqlalchemy.engine.base.Engine ('ONE STEP WIPES', 1, 0)
2018-11-14 11:29:28,345 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,346 INFO sqlalchemy.engine.base.Engine ('PINK GRAPE FRUIT WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,348 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,349 INFO sqlalchemy.engine.base.Engine ('TOKYO HAND SANITIZER VANILLA SCENT', 1, 0)
2018-11-14 11:29:28,351 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,352 INFO sqlalchemy.engine.base.Engine ('PURELL INSTANT HAND SANITIZER FOAM (ETHYL ALCOHOL)', 1, 0)
2018-11-14 11:29:28,354 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,357 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND TCHRS SURVIVAL KIT CRISP APPLE', 1, 0)
2018-11-14 11:29:28,361 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,362 INFO sqlalchemy.engine.base.Engine ('ORANGE BLOSSOM ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:28,364 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,366 INFO sqlalchemy.engine.base.Engine ('VISIBLY CLEAN HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,368 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,370 INFO sqlalchemy.engine.base.Engine ('PHARMACYS PRESCRIPTION 1.8OZ HAND SANITIZER ORIGINAL SCENT', 1, 0)
2018-11-14 11:29:28,372 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,373 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER CITRUS COCONUT', 1, 0)
2018-11-14 11:29:28,376 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,380 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER PAMEGRANATE APPLE', 1, 0)
2018-11-14 11:29:28,383 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,385 INFO sqlalchemy.engine.base.Engine ('JUSTICE BERRY BLAST SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,387 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,389 INFO sqlalchemy.engine.base.Engine ('WYANDOTTE SANIFECT E3', 1, 0)
2018-11-14 11:29:28,391 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,392 INFO sqlalchemy.engine.base.Engine ('HANSAN FOAM', 1, 0)
2018-11-14 11:29:28,396 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,398 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E VANILLA SCENT', 1, 0)
2018-11-14 11:29:28,402 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,403 INFO sqlalchemy.engine.base.Engine ('ENVIROKLEEN INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,405 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,406 INFO sqlalchemy.engine.base.Engine ('HILLYARD FOAMING INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,408 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,410 INFO sqlalchemy.engine.base.Engine ('BODYCOLOGY MOISTURIZING HAND SANITZER WHITE GARDENIA', 1, 0)
2018-11-14 11:29:28,411 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,412 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER FOREST BERRY SCENTED', 1, 0)
2018-11-14 11:29:28,414 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,415 INFO sqlalchemy.engine.base.Engine ('LISA FRANK BUBBLEGUM ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:29:28,417 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,418 INFO sqlalchemy.engine.base.Engine ('JUSTICE PEACE LOVE LEMONADE SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,421 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,422 INFO sqlalchemy.engine.base.Engine ('XTRACARE INSTANT HAND SANITIZER COCOA BUTTER', 1, 0)
2018-11-14 11:29:28,423 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:28,424 INFO sqlalchemy.engine.base.Engine ('APRIL BATH AND SHOWER SWEET PEA SCENTED ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,426 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,427 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER APPLE', 1, 0)
2018-11-14 11:29:28,430 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,431 INFO sqlalchemy.engine.base.Engine ('SIMPLEPLEASURES SCENTED ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,433 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,435 INFO sqlalchemy.engine.base.Engine ('DERMAGEL HAND SANITIZING', 1, 0)
2018-11-14 11:29:28,439 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,440 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SANITIZER SUMMER ESCAPE', 1, 0)
2018-11-14 11:29:28,442 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,446 INFO sqlalchemy.engine.base.Engine ('BEA-SILKY', 1, 0)
2018-11-14 11:29:28,448 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,449 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SANITIZER SWEET PEA', 1, 0)
2018-11-14 11:29:28,452 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,452 INFO sqlalchemy.engine.base.Engine ('RUE21 ISLAND FRUITS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,457 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,457 INFO sqlalchemy.engine.base.Engine ('LEMON SPLASH ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,460 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,461 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER AVOCADO', 1, 0)
2018-11-14 11:29:28,463 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,464 INFO sqlalchemy.engine.base.Engine ('THE AMAZING SPIDER-MAN HAND SANITIZER MOISTURIZING WITH VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:29:28,467 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,470 INFO sqlalchemy.engine.base.Engine ('HEALTH AND BEYOND GREEN', 1, 0)
2018-11-14 11:29:28,472 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,473 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WITH ALOE VERA', 1, 0)
2018-11-14 11:29:28,475 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,479 INFO sqlalchemy.engine.base.Engine ('SKIN PROTECTANT SWEET PEA', 1, 0)
2018-11-14 11:29:28,481 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,482 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:29:28,484 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,485 INFO sqlalchemy.engine.base.Engine ('ROYAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,487 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,488 INFO sqlalchemy.engine.base.Engine ('NU SKIN EPOCH', 1, 0)
2018-11-14 11:29:28,490 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,490 INFO sqlalchemy.engine.base.Engine ('PEPPERMINT ICE ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,494 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,495 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,499 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,500 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER P BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,503 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,504 INFO sqlalchemy.engine.base.Engine ('HES CLEAN PLUS', 1, 0)
2018-11-14 11:29:28,506 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,507 INFO sqlalchemy.engine.base.Engine ('PRO ADVANTAGE INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,509 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,511 INFO sqlalchemy.engine.base.Engine ('CVS HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,513 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,514 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WATERMELLON', 1, 0)
2018-11-14 11:29:28,516 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,517 INFO sqlalchemy.engine.base.Engine ('OCEAN BREEZE ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:28,519 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,521 INFO sqlalchemy.engine.base.Engine ('SANI MOUSSE', 1, 0)
2018-11-14 11:29:28,523 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,524 INFO sqlalchemy.engine.base.Engine ('SWEET GRAPE ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:28,526 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,527 INFO sqlalchemy.engine.base.Engine ('JUSTICE MIXED BERRY SCENT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,529 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,530 INFO sqlalchemy.engine.base.Engine ('SOFTSAN', 1, 0)
2018-11-14 11:29:28,533 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,535 INFO sqlalchemy.engine.base.Engine ('GERM BULLET', 1, 0)
2018-11-14 11:29:28,537 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:28,538 INFO sqlalchemy.engine.base.Engine ('STERILLIUM COMFORT', 1, 0)
2018-11-14 11:29:28,541 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,542 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PREVAIL', 1, 0)
2018-11-14 11:29:28,544 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,545 INFO sqlalchemy.engine.base.Engine ('ALGONQUIN HANSAN', 1, 0)
2018-11-14 11:29:28,548 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,549 INFO sqlalchemy.engine.base.Engine ('HOLIDAY WONDERS VANILLA PEPPERMINT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,551 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,552 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS PASSION FRUIT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,554 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,554 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER CHOCOLATE', 1, 0)
2018-11-14 11:29:28,556 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,558 INFO sqlalchemy.engine.base.Engine ('PEACH MANGO ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,561 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,562 INFO sqlalchemy.engine.base.Engine ('JUSTICE BFF COTTON CANDY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,564 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,567 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS VIOLET ROSE HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,572 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,573 INFO sqlalchemy.engine.base.Engine ('CRAZY COCONUT', 1, 0)
2018-11-14 11:29:28,575 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,578 INFO sqlalchemy.engine.base.Engine ('JUSTICE PINAPPLE PIZAZZ SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,581 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,581 INFO sqlalchemy.engine.base.Engine ('HANDY SOLUTIONS INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E', 1, 0)
2018-11-14 11:29:28,584 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,584 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E BEAD VANILLA SCENT', 1, 0)
2018-11-14 11:29:28,586 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,587 INFO sqlalchemy.engine.base.Engine ('SOFT CARE INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,592 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,592 INFO sqlalchemy.engine.base.Engine ('KLEENEX HAND SANITIZER, GREEN CERTIFIED', 1, 0)
2018-11-14 11:29:28,594 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,595 INFO sqlalchemy.engine.base.Engine ('STAT-RINSE', 1, 0)
2018-11-14 11:29:28,596 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,598 INFO sqlalchemy.engine.base.Engine ('XTRACARE INSTANT HAND SANITIZER ORIGINAL', 1, 0)
2018-11-14 11:29:28,600 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,601 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER POCKET SPRAYER', 1, 0)
2018-11-14 11:29:28,603 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,604 INFO sqlalchemy.engine.base.Engine ('SUNNY TROPICOLADA', 1, 0)
2018-11-14 11:29:28,608 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,610 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING UNSCENTED', 1, 0)
2018-11-14 11:29:28,612 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,615 INFO sqlalchemy.engine.base.Engine ('SANI PROFESSIONAL BRAND SANI-HANDS', 1, 0)
2018-11-14 11:29:28,617 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,617 INFO sqlalchemy.engine.base.Engine ('BODY BLENDS APPLE ATTRACTION ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,619 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,620 INFO sqlalchemy.engine.base.Engine ('HEALTHY HANDS ALOE INSTANT HAND ANTIBACTERIAL', 1, 0)
2018-11-14 11:29:28,622 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,623 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH MOISTURIZERS ALOE VERA AND MOISTURIZERS', 1, 0)
2018-11-14 11:29:28,625 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,627 INFO sqlalchemy.engine.base.Engine ('ENCHANTED MOMENTS CANDY APPLE HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,633 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,645 INFO sqlalchemy.engine.base.Engine ('SANI PROFESSIONAL BRAND SANI-HANDS INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:29:28,648 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,649 INFO sqlalchemy.engine.base.Engine ('JUSTICE FRUIT PUNCH SCENT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,652 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,653 INFO sqlalchemy.engine.base.Engine ('ENCHANTED MOMENTS VANILLA SNOW HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,661 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,663 INFO sqlalchemy.engine.base.Engine ('GBGF', 1, 0)
2018-11-14 11:29:28,665 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,666 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER BOTTLE WITH CARABINER', 1, 0)

2018-11-14 11:29:28,668 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,669 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SANITIZER EUCALYPTUS SPEARMINT', 1, 0)
2018-11-14 11:29:28,671 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,674 INFO sqlalchemy.engine.base.Engine ('AFASSCO HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,678 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,680 INFO sqlalchemy.engine.base.Engine ('GERM SOS SANITIZING WIPES', 1, 0)
2018-11-14 11:29:28,687 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,690 INFO sqlalchemy.engine.base.Engine ('HAND-AID', 1, 0)
2018-11-14 11:29:28,692 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,696 INFO sqlalchemy.engine.base.Engine ('PUMPKIN SPICE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,698 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,701 INFO sqlalchemy.engine.base.Engine ('TRISEPTIN', 1, 0)
2018-11-14 11:29:28,706 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,708 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES STRAWBERRY SCENTED WATERLESS ANTI BACTERIAL HAND GEL', 1, 0)
2018-11-14 11:29:28,711 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,717 INFO sqlalchemy.engine.base.Engine ('ANTIMICROBIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,721 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,722 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WINTER WONDERLAND SPICE', 1, 0)
2018-11-14 11:29:28,724 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,725 INFO sqlalchemy.engine.base.Engine ('RITE AID INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,819 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,820 INFO sqlalchemy.engine.base.Engine ('KINDRED GOODS HAND SANITIZER ORANGE BLOSSOM TEA', 1, 0)
2018-11-14 11:29:28,832 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,833 INFO sqlalchemy.engine.base.Engine ('GERIGENTLE HAND WIPES', 1, 0)
2018-11-14 11:29:28,837 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,839 INFO sqlalchemy.engine.base.Engine ('PERSONAL CARE HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,843 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,844 INFO sqlalchemy.engine.base.Engine ('AVANT ORIGINAL INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,846 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,848 INFO sqlalchemy.engine.base.Engine ('RECENS A', 1, 0)
2018-11-14 11:29:28,851 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,853 INFO sqlalchemy.engine.base.Engine ('ESCA HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:29:28,857 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,859 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PASSIONFRUIT POMEGRANATE', 1, 0)
2018-11-14 11:29:28,862 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,865 INFO sqlalchemy.engine.base.Engine ('KONG HANDIPOD', 1, 0)
2018-11-14 11:29:28,867 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,868 INFO sqlalchemy.engine.base.Engine ('PURELL COTTONY SOFT', 1, 0)
2018-11-14 11:29:28,872 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,873 INFO sqlalchemy.engine.base.Engine ('ICEE BLUE RASPBERRY SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,876 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,878 INFO sqlalchemy.engine.base.Engine ('ENMOTION HAND SANITIZER WITH MOISTURIZERS, FRAGRANCE FREE, DYE FREE', 1, 0)
2018-11-14 11:29:28,882 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,883 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SPRAYING', 1, 0)
2018-11-14 11:29:28,886 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,887 INFO sqlalchemy.engine.base.Engine ('INSTAFRESH', 1, 0)
2018-11-14 11:29:28,890 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,891 INFO sqlalchemy.engine.base.Engine ('COCONUT LIME ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,894 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,895 INFO sqlalchemy.engine.base.Engine ('HIBISCUS BREEZE', 1, 0)
2018-11-14 11:29:28,899 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,899 INFO sqlalchemy.engine.base.Engine ('BST99 INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,902 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,904 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER BLUE RASPBERRY', 1, 0)
2018-11-14 11:29:28,908 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,909 INFO sqlalchemy.engine.base.Engine ('TRAILWAYS HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,912 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,913 INFO sqlalchemy.engine.base.Engine ('SCOTT MOISTURIZING INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,916 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,918 INFO sqlalchemy.engine.base.Engine ('SANI SPRITZ', 1, 0)
2018-11-14 11:29:28,921 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:28,923 INFO sqlalchemy.engine.base.Engine ('JUSTICE BFF GO TOGETHER LIKE UNICORNS GLITTER BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,928 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,930 INFO sqlalchemy.engine.base.Engine ('EQUATE ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,933 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,934 INFO sqlalchemy.engine.base.Engine ('3 PACK ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS (VITAMIN E AND MOISTURIZERS) LAVENDER SCENTED', 1, 0)
2018-11-14 11:29:28,937 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,937 INFO sqlalchemy.engine.base.Engine ('ADVANCED HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,940 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,941 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WITH MOISTURIZERS AND VITAMIN E', 1, 0)
2018-11-14 11:29:28,944 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,945 INFO sqlalchemy.engine.base.Engine ('ALCOHOL', 1, 0)
2018-11-14 11:29:28,947 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,949 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER PASSION FLOWER', 1, 0)
2018-11-14 11:29:28,951 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,954 INFO sqlalchemy.engine.base.Engine ('3M AVAGARD FOAMING INSTANT HAND ANTISEPTIC', 1, 0)
2018-11-14 11:29:28,957 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,959 INFO sqlalchemy.engine.base.Engine ('RUE21 DOUGHNUT SPRINKLES ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,964 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,965 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WINTERGREEN MINT', 1, 0)
2018-11-14 11:29:28,967 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,968 INFO sqlalchemy.engine.base.Engine ('ANTIACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,971 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,972 INFO sqlalchemy.engine.base.Engine ('KROGER WATERLESS HAND SANITIZER CITRUS SCENT WITH MOISTURIZERS AND VITAMIN E', 1, 0)
2018-11-14 11:29:28,974 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,975 INFO sqlalchemy.engine.base.Engine ('ADRIANA 12OZ HAND SANITIZER -ALOE VERA', 1, 0)
2018-11-14 11:29:28,979 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,980 INFO sqlalchemy.engine.base.Engine ('JUSTICE BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,983 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,984 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES TIHITIAN VANILLA ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:28,986 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,987 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES FRENCH LAVENDER SCENTED WATERLESS ANTI BACTERIAL HAND GEL', 1, 0)
2018-11-14 11:29:28,989 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,990 INFO sqlalchemy.engine.base.Engine ('EPOCH', 1, 0)
2018-11-14 11:29:28,996 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:28,997 INFO sqlalchemy.engine.base.Engine ('FOAM SAN HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,003 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,004 INFO sqlalchemy.engine.base.Engine ('ALCO SAN', 1, 0)
2018-11-14 11:29:29,006 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,008 INFO sqlalchemy.engine.base.Engine ('AVAGARD D', 1, 0)
2018-11-14 11:29:29,010 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,012 INFO sqlalchemy.engine.base.Engine ('CLARIO FOAMING ALCOHOL INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,015 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,016 INFO sqlalchemy.engine.base.Engine ('HER LT279 VANILLA LIMITED TOO HAND SANITIZER KIT', 1, 0)
2018-11-14 11:29:29,018 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,020 INFO sqlalchemy.engine.base.Engine ('GOOD TO GO HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,022 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,023 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER LAVENDER SCENTED', 1, 0)
2018-11-14 11:29:29,027 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,030 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES DAHLIA BLOSSOM SCENTED WATERLESS ANTI BACTERIAL HAND GEL', 1, 0)
2018-11-14 11:29:29,034 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,034 INFO sqlalchemy.engine.base.Engine ('MADA', 1, 0)
2018-11-14 11:29:29,037 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,038 INFO sqlalchemy.engine.base.Engine ('MOMMY TILLIA ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:29,040 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,040 INFO sqlalchemy.engine.base.Engine ('ALCARE OR FOAMED ANTISEPTIC HANDRUB', 1, 0)
2018-11-14 11:29:29,043 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,047 INFO sqlalchemy.engine.base.Engine ('MYTERRA HAND SANITIZER FOAM', 1, 0)
2018-11-14 11:29:29,049 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:29,051 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES FRENCH LAVENDER WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,053 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,055 INFO sqlalchemy.engine.base.Engine ('SOFTSOAP INSTANT HAND SANITIZER WITH MOISTURIZERS', 1, 0)
2018-11-14 11:29:29,057 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,060 INFO sqlalchemy.engine.base.Engine ('GLOBAL CARE INSTANT HAND SANITIZER 1.8OZ', 1, 0)
2018-11-14 11:29:29,063 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,065 INFO sqlalchemy.engine.base.Engine ('TRADER JOES HAND SANITIZER GRAPEFRUIT LEMON', 1, 0)
2018-11-14 11:29:29,068 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,070 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER - VANILLA SCENTED', 1, 0)
2018-11-14 11:29:29,073 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,074 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER CONVENIENCE PACK', 1, 0)
2018-11-14 11:29:29,077 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,080 INFO sqlalchemy.engine.base.Engine ('ALCOHOL WIPES', 1, 0)
2018-11-14 11:29:29,083 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,085 INFO sqlalchemy.engine.base.Engine ('SAFEGUARD HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,087 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,089 INFO sqlalchemy.engine.base.Engine ('SKIN PROTECTANT ORIGINAL', 1, 0)
2018-11-14 11:29:29,092 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,093 INFO sqlalchemy.engine.base.Engine ('3 PACK ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS (VITAMIN E AND ALOE) LEMON SCENTED', 1, 0)
2018-11-14 11:29:29,096 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,098 INFO sqlalchemy.engine.base.Engine ('DR TICHENORS FIRST AID ANTISPETIC', 1, 0)
2018-11-14 11:29:29,102 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,104 INFO sqlalchemy.engine.base.Engine ('MINI HAND SANITIZER - ORANGE AND LEMON', 1, 0)
2018-11-14 11:29:29,107 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,108 INFO sqlalchemy.engine.base.Engine ('RUE21 RUNWAY 21 ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,112 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,113 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SANITIZER SUGAR LEMON FIZZ', 1, 0)
2018-11-14 11:29:29,116 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,118 INFO sqlalchemy.engine.base.Engine ('HER LH2475 VANILLA SCENTED HAND SANITIZER KIT', 1, 0)
2018-11-14 11:29:29,120 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,121 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WARM HOLIDAY TREATS', 1, 0)
2018-11-14 11:29:29,123 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,124 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER WITH VITAMINE E', 1, 0)
2018-11-14 11:29:29,127 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,129 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E BEAD STRAWBERRY SCENT', 1, 0)
2018-11-14 11:29:29,131 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,132 INFO sqlalchemy.engine.base.Engine ('PURELL WATERLESS SURGICAL SCRUB', 1, 0)
2018-11-14 11:29:29,134 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,135 INFO sqlalchemy.engine.base.Engine ('WATERMELON ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,139 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,141 INFO sqlalchemy.engine.base.Engine ('FRIUTS AND FLOWERS CLEAN COTTON WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,144 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,147 INFO sqlalchemy.engine.base.Engine ('FRESH BREEZE', 1, 0)
2018-11-14 11:29:29,150 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,150 INFO sqlalchemy.engine.base.Engine ('BODYCOLOGY MOISTURIZING HAND SANITIZER CHERRY BLOSSOM', 1, 0)
2018-11-14 11:29:29,152 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,154 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS LILY BLOSSOM ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,156 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,157 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER CRANBERRY TART', 1, 0)
2018-11-14 11:29:29,159 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,161 INFO sqlalchemy.engine.base.Engine ('AIRE-MASTER', 1, 0)
2018-11-14 11:29:29,163 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,164 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER CIRCLE K', 1, 0)
2018-11-14 11:29:29,166 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,167 INFO sqlalchemy.engine.base.Engine ('WHISKCARE 371', 1, 0)
2018-11-14 11:29:29,169 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,171 INFO sqlalchemy.engine.base.Engine ('PURELL PROFESSIONAL ADVANCED HAND SANITIZER FRAGRANCE FREE FOAM', 1, 0)
2018-11-14 11:29:29,173 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,180 INFO sqlalchemy.engine.base.Engine ('LOVE YOU BERRY MUCH', 1, 0)

2018-11-14 11:29:29,182 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,183 INFO sqlalchemy.engine.base.Engine ('ENMOTION FOAM HAND SANITIZER W-MOISTURIZERS, FRAGRANCE FREE', 1, 0)
2018-11-14 11:29:29,186 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,187 INFO sqlalchemy.engine.base.Engine ('SWISS HAND GUARD ANTISEPTIC HANDWASH ANTIBACTERIAL', 1, 0)
2018-11-14 11:29:29,188 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,190 INFO sqlalchemy.engine.base.Engine ('BODY BLENDS VANILLA SUGAR ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,192 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,194 INFO sqlalchemy.engine.base.Engine ('ULTA FRESHWATER MIST ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,199 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,200 INFO sqlalchemy.engine.base.Engine ('PURELL INSTANT HAND SANITIZER OCEAN MIST', 1, 0)
2018-11-14 11:29:29,202 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,203 INFO sqlalchemy.engine.base.Engine ('ASSURED INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,206 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,206 INFO sqlalchemy.engine.base.Engine ('7-11 INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E', 1, 0)
2018-11-14 11:29:29,209 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,210 INFO sqlalchemy.engine.base.Engine ('STAPLES HAND SANITIZER ALOE', 1, 0)
2018-11-14 11:29:29,217 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,218 INFO sqlalchemy.engine.base.Engine ('ISAGEL', 1, 0)
2018-11-14 11:29:29,220 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,221 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER J BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,223 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,224 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER VITAMIN E', 1, 0)
2018-11-14 11:29:29,227 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,229 INFO sqlalchemy.engine.base.Engine ('UNITED LABORATORIES 464 PUMP AND PROTECT ALCOHOL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,234 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,236 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY LAVENDER JASMINE', 1, 0)
2018-11-14 11:29:29,239 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,240 INFO sqlalchemy.engine.base.Engine ('RUE21 COCO BREEZE ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,244 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,246 INFO sqlalchemy.engine.base.Engine ('BLOCKOUT FOOT WIPES', 1, 0)
2018-11-14 11:29:29,251 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,255 INFO sqlalchemy.engine.base.Engine ('ULTA LAVENDER WOODS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,260 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,264 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS', 1, 0)
2018-11-14 11:29:29,266 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,267 INFO sqlalchemy.engine.base.Engine ('PHARMACY PRESCRIPTION 1.8OZ HAND SANITIZER - SWEET PEA', 1, 0)
2018-11-14 11:29:29,273 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,275 INFO sqlalchemy.engine.base.Engine ('RUE21 SUGAR COOKIE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,277 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,279 INFO sqlalchemy.engine.base.Engine ('RECENS ULTRA', 1, 0)
2018-11-14 11:29:29,282 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,283 INFO sqlalchemy.engine.base.Engine ('JUSTICE MERMAID MIX BERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,285 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,286 INFO sqlalchemy.engine.base.Engine ('PREFERENCE HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,289 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,292 INFO sqlalchemy.engine.base.Engine ('ALCO-SAN INSTANT SKIN SANITIZER', 1, 0)
2018-11-14 11:29:29,296 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,298 INFO sqlalchemy.engine.base.Engine ('JUSTICE SUGAR SWIRL SCENT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,300 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,301 INFO sqlalchemy.engine.base.Engine ('GBG', 1, 0)
2018-11-14 11:29:29,303 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,305 INFO sqlalchemy.engine.base.Engine ('BODYCOLOGY MOISTURIZING HAND SANITIZER SWEET PETALS', 1, 0)
2018-11-14 11:29:29,307 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,309 INFO sqlalchemy.engine.base.Engine ('3 HAND SANITIZERS KIT', 1, 0)
2018-11-14 11:29:29,311 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,317 INFO sqlalchemy.engine.base.Engine ('PRIME SOURCE HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,321 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,325 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER VANILLA', 1, 0)
2018-11-14 11:29:29,327 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:29,328 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER ORANGE TANGERINE', 1, 0)
2018-11-14 11:29:29,331 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,332 INFO sqlalchemy.engine.base.Engine ('ALCOHOL FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,334 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,335 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER LEMON', 1, 0)
2018-11-14 11:29:29,338 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,341 INFO sqlalchemy.engine.base.Engine ('MOJITO SUN', 1, 0)
2018-11-14 11:29:29,343 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,346 INFO sqlalchemy.engine.base.Engine ('SYMMETRY FOAMING HAND SANITIZER-FRAGRANCE FREE WITH ALOE AND VITAMIN E', 1, 0)
2018-11-14 11:29:29,350 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,352 INFO sqlalchemy.engine.base.Engine ('BATMAN BERRY SCENTED ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:29:29,354 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,355 INFO sqlalchemy.engine.base.Engine ('RUE 21 FALLEN VIXEN ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,357 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,358 INFO sqlalchemy.engine.base.Engine ('MUELLER INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,360 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,363 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER STRAWBERRY', 1, 0)
2018-11-14 11:29:29,365 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,366 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER PEACH', 1, 0)
2018-11-14 11:29:29,369 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,369 INFO sqlalchemy.engine.base.Engine ('REGULAR ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,372 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,375 INFO sqlalchemy.engine.base.Engine ('PRIME-CIDE', 1, 0)
2018-11-14 11:29:29,378 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,380 INFO sqlalchemy.engine.base.Engine ('SANITEX MVP INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,382 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,384 INFO sqlalchemy.engine.base.Engine ('PRETTY PUNCH', 1, 0)
2018-11-14 11:29:29,386 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,387 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND WARM VANILLA SUGAR', 1, 0)
2018-11-14 11:29:29,389 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,390 INFO sqlalchemy.engine.base.Engine ('ISOPROPYL ALCOHOL', 1, 0)
2018-11-14 11:29:29,393 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,395 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER NIGHTIME WINTERBERRY', 1, 0)
2018-11-14 11:29:29,398 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,400 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER ANTICEPTIC', 1, 0)
2018-11-14 11:29:29,402 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,403 INFO sqlalchemy.engine.base.Engine ('TRISEPTIN HAND AND BODY ANTISEPTIC', 1, 0)
2018-11-14 11:29:29,406 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,407 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER ALOE VERA (62%)', 1, 0)
2018-11-14 11:29:29,412 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,415 INFO sqlalchemy.engine.base.Engine ('HOLIDAY WONDERS SUGARED PLUMS ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,417 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,418 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E', 1, 0)
2018-11-14 11:29:29,420 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,421 INFO sqlalchemy.engine.base.Engine ('ONE STEP SANITIZER', 1, 0)
2018-11-14 11:29:29,423 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,426 INFO sqlalchemy.engine.base.Engine ('HANDI-SANI', 1, 0)
2018-11-14 11:29:29,429 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,431 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER VANILLA CINNAMON SCENTED', 1, 0)
2018-11-14 11:29:29,433 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,434 INFO sqlalchemy.engine.base.Engine ('DYNAREX GREEN', 1, 0)
2018-11-14 11:29:29,437 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,440 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E LAVENDER', 1, 0)
2018-11-14 11:29:29,442 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,443 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER FRESH PEPPERMINT CHEER', 1, 0)
2018-11-14 11:29:29,446 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,447 INFO sqlalchemy.engine.base.Engine ('WINTER VANILLA HAND SANITIZER BODYCOLOGY', 1, 0)
2018-11-14 11:29:29,453 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,454 INFO sqlalchemy.engine.base.Engine ('SANI-SILK', 1, 0)
2018-11-14 11:29:29,457 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?

 LIMIT ? OFFSET ?
2018-11-14 11:29:29,459 INFO sqlalchemy.engine.base.Engine ('JUSTICE TRIBAL TANGERINE SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,461 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,464 INFO sqlalchemy.engine.base.Engine ('FAMILY DOLLAR INSTANT HAND SANITIZER WITH MOISTURIZERS AND VITAMIN E', 1, 0)
2018-11-14 11:29:29,466 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,467 INFO sqlalchemy.engine.base.Engine ('COCONUT LIME', 1, 0)
2018-11-14 11:29:29,470 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,472 INFO sqlalchemy.engine.base.Engine ('HAND GUARD FOAMING INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,476 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,478 INFO sqlalchemy.engine.base.Engine ('CITRUS SUNSHINE', 1, 0)
2018-11-14 11:29:29,482 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,483 INFO sqlalchemy.engine.base.Engine ('FAITH FAMILY DUCKS ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:29:29,487 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,490 INFO sqlalchemy.engine.base.Engine ('CREDIT CARD SHAPE HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,493 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,498 INFO sqlalchemy.engine.base.Engine ('LA BODIES PURITA ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,504 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,510 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER M BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,514 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,515 INFO sqlalchemy.engine.base.Engine ('MY LITTLE PONY ANTIBACTERIAL HAND SANITIZER WITH MOISTURIZERS', 1, 0)
2018-11-14 11:29:29,518 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,519 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS UNSCENTED', 1, 0)
2018-11-14 11:29:29,521 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,522 INFO sqlalchemy.engine.base.Engine ('INFECTIGUARD FAST ACTING ANTISEPTIC HAND SANITIZER WITH MOISTURIZER', 1, 0)
2018-11-14 11:29:29,524 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,525 INFO sqlalchemy.engine.base.Engine ('JUST 4 GIRL WATERLESS ANTI BACTERIAL HAND SANITIZER BERRY BLAST', 1, 0)
2018-11-14 11:29:29,531 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,537 INFO sqlalchemy.engine.base.Engine ('PURRFECT CHERRY', 1, 0)
2018-11-14 11:29:29,539 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,541 INFO sqlalchemy.engine.base.Engine ('CARE', 1, 0)
2018-11-14 11:29:29,544 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,546 INFO sqlalchemy.engine.base.Engine ('JUSTICE CACTUS VANILLA SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,550 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,551 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WARM FIREPLACE GATHERING', 1, 0)
2018-11-14 11:29:29,554 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,556 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND AROMATHERAPY STRESS RELIEF EUCALYPTUS SPEARMINT', 1, 0)
2018-11-14 11:29:29,560 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,561 INFO sqlalchemy.engine.base.Engine ('KINDRED GOODS HAND SANITIZER ISLAND ORCHARD COCONUT', 1, 0)
2018-11-14 11:29:29,564 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,566 INFO sqlalchemy.engine.base.Engine ('MICROBAN UNSCENTED', 1, 0)
2018-11-14 11:29:29,569 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,571 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER ULTRA NOURISHING FOAM', 1, 0)
2018-11-14 11:29:29,573 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,575 INFO sqlalchemy.engine.base.Engine ('APRIL BATH AND SHOWER CUCUMBER MELON SCENTED ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,578 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,580 INFO sqlalchemy.engine.base.Engine ('FRESH HAND SANITIZER WITH VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:29:29,584 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,585 INFO sqlalchemy.engine.base.Engine ('COCONUT LIME ANTIBACTERIAL SANITIZER', 1, 0)
2018-11-14 11:29:29,588 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,590 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER RAZZ', 1, 0)
2018-11-14 11:29:29,592 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,594 INFO sqlalchemy.engine.base.Engine ('HAND-E XL', 1, 0)
2018-11-14 11:29:29,596 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,598 INFO sqlalchemy.engine.base.Engine ('ALCARE EXTRA HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,602 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,604 INFO sqlalchemy.engine.base.Engine ('PROCURE HAND SANITIZING', 1, 0)
2018-11-14 11:29:29,606 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,607 INFO sqlalchemy.engine.base.Engine ('TRITON HS-777', 1, 0)
2018-11-14 11:29:29,610 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,613 INFO sqlalchemy.engine.base.Engine ('JUSTICE BEAUTIFUL BERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)

2018-11-14 11:29:29,615 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,618 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND FIZZY FRUIT POP', 1, 0)
2018-11-14 11:29:29,621 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,622 INFO sqlalchemy.engine.base.Engine ('GBG ALOEGEL', 1, 0)
2018-11-14 11:29:29,626 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,627 INFO sqlalchemy.engine.base.Engine ('FOREVER HAND SANITIZER HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,631 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,633 INFO sqlalchemy.engine.base.Engine ('HER LH2473 VANILLA SCENTED HAND SANITIZER KIT', 1, 0)
2018-11-14 11:29:29,635 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,636 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER WATERMELON SCENTED', 1, 0)
2018-11-14 11:29:29,639 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,640 INFO sqlalchemy.engine.base.Engine ('KUB CARTRIDGE REFEEL ANTISEPTIC HAND SANITIZER UNSCENTED', 1, 0)
2018-11-14 11:29:29,644 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,646 INFO sqlalchemy.engine.base.Engine ('BELLA MAISON TROPICAL VANILLA ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,650 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,652 INFO sqlalchemy.engine.base.Engine ('IRRESISTIBLE APPLE SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,654 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,655 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER BIOBASED CONTENT', 1, 0)
2018-11-14 11:29:29,658 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,659 INFO sqlalchemy.engine.base.Engine ('ISO-QUIN', 1, 0)
2018-11-14 11:29:29,663 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,665 INFO sqlalchemy.engine.base.Engine ('XOXO KIT BODYCOLOGY', 1, 0)
2018-11-14 11:29:29,669 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,671 INFO sqlalchemy.engine.base.Engine ('ANTIMICROBIAL ALCOHOL HAND', 1, 0)
2018-11-14 11:29:29,674 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,676 INFO sqlalchemy.engine.base.Engine ('JUSTICE DANCE ORANGE SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,678 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,679 INFO sqlalchemy.engine.base.Engine ('ANGEL FOODCAKE HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,682 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,685 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SUGARED BERRY', 1, 0)
2018-11-14 11:29:29,687 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,689 INFO sqlalchemy.engine.base.Engine ('JUSTICE MAGICAL MELON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,694 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,696 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER ORIGINAL WITH ALOE VERA AND VITAMIN E', 1, 0)
2018-11-14 11:29:29,700 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,701 INFO sqlalchemy.engine.base.Engine ('HER LT289 VANILLA LIMITED TOO HAND SANITIZER KIT', 1, 0)
2018-11-14 11:29:29,704 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,706 INFO sqlalchemy.engine.base.Engine ('FOAMFRESH ALCO-FOAM HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,709 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,710 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E BEAD LEMON FRESH SCENT', 1, 0)
2018-11-14 11:29:29,712 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,713 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER LEMON LIME', 1, 0)
2018-11-14 11:29:29,716 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,717 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER - STRAWBERRY SCENTED', 1, 0)
2018-11-14 11:29:29,719 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,720 INFO sqlalchemy.engine.base.Engine ('RUE BEAUTE CHERRY HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,722 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,725 INFO sqlalchemy.engine.base.Engine ('MOUSSE VITE', 1, 0)
2018-11-14 11:29:29,728 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,730 INFO sqlalchemy.engine.base.Engine ('GINGERBREAD JUBILEE', 1, 0)
2018-11-14 11:29:29,736 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,737 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SOUR APPLE', 1, 0)
2018-11-14 11:29:29,740 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,741 INFO sqlalchemy.engine.base.Engine ('DEHYDRATED', 1, 0)
2018-11-14 11:29:29,743 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,744 INFO sqlalchemy.engine.base.Engine ('AVANT ECO-PREMIUM INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,747 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,749 INFO sqlalchemy.engine.base.Engine ('TOUGH GUY INSTANT HAND SANITIZER WITH MOISTURIZERS AND VITAMIN E', 1, 0)
2018-11-14 11:29:29,752 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?

 LIMIT ? OFFSET ?
2018-11-14 11:29:29,753 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND GINGERBREAD', 1, 0)
2018-11-14 11:29:29,755 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,758 INFO sqlalchemy.engine.base.Engine ('MICROBAN 80', 1, 0)
2018-11-14 11:29:29,760 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,761 INFO sqlalchemy.engine.base.Engine ('SWEET DAISY ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,764 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,765 INFO sqlalchemy.engine.base.Engine ('TORK PREMIUM HAND SANITIZER FOAM', 1, 0)
2018-11-14 11:29:29,770 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,770 INFO sqlalchemy.engine.base.Engine ('JUSTICE LAVENDER DREAM SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,774 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,776 INFO sqlalchemy.engine.base.Engine ('GLOBAL CLEAN INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,779 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,781 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER LEMON', 1, 0)
2018-11-14 11:29:29,784 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,785 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER BE PEACEFUL', 1, 0)
2018-11-14 11:29:29,787 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,788 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER PUMPKIN DELIGHT', 1, 0)
2018-11-14 11:29:29,790 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,792 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES POMEGRANATE SCENT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,793 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,794 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES WARM VANILLA SUGAR SCENT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,797 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,800 INFO sqlalchemy.engine.base.Engine ('SATSUMA ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,803 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,805 INFO sqlalchemy.engine.base.Engine ('RAYMOND WAITES GERBER DAISY WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,807 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,808 INFO sqlalchemy.engine.base.Engine ('ALGONQUIN FOAMSAN', 1, 0)
2018-11-14 11:29:29,810 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,811 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER FRESH PEACH BLOSSOMS', 1, 0)
2018-11-14 11:29:29,813 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,815 INFO sqlalchemy.engine.base.Engine ('ACQUA AROMA HAND SANITIZER GEL', 1, 0)
2018-11-14 11:29:29,818 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,819 INFO sqlalchemy.engine.base.Engine ('SANI-SMOOTH', 1, 0)
2018-11-14 11:29:29,821 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,824 INFO sqlalchemy.engine.base.Engine ('QC 2OZ INSTANT HAND SANITIZER (ORIGINAL)', 1, 0)
2018-11-14 11:29:29,826 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,829 INFO sqlalchemy.engine.base.Engine ('SOFT CARE FOAM INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,833 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,835 INFO sqlalchemy.engine.base.Engine ('COMMON SENSE', 1, 0)
2018-11-14 11:29:29,838 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,839 INFO sqlalchemy.engine.base.Engine ('MANGO PAPAYA ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,841 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,842 INFO sqlalchemy.engine.base.Engine ('SCAREDY CAT ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:29,844 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,847 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING BLUEBERRY', 1, 0)
2018-11-14 11:29:29,851 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,853 INFO sqlalchemy.engine.base.Engine ('ASSURED HAND SANITIZER WITH MOISTURIZERS', 1, 0)
2018-11-14 11:29:29,855 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,856 INFO sqlalchemy.engine.base.Engine ('ANTIMICROBIAL', 1, 0)
2018-11-14 11:29:29,861 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,863 INFO sqlalchemy.engine.base.Engine ('ANTISEPTIC', 1, 0)
2018-11-14 11:29:29,867 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,868 INFO sqlalchemy.engine.base.Engine ('PUMPKIN PIE ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,871 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,872 INFO sqlalchemy.engine.base.Engine ('VINDICATOR INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,875 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,878 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER CHERRY BLOSSOM', 1, 0)
2018-11-14 11:29:29,881 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,883 INFO sqlalchemy.engine.base.Engine ('ENCHANTED MOMENTS BERRIES AND CREAM HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,885 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:29,886 INFO sqlalchemy.engine.base.Engine ('PINEAPPLE PARADISE', 1, 0)
2018-11-14 11:29:29,889 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,890 INFO sqlalchemy.engine.base.Engine ('VIAMED ALCOHOL PREP PAD', 1, 0)
2018-11-14 11:29:29,892 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,893 INFO sqlalchemy.engine.base.Engine ('JUSTICE RABBIT STRAWBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,895 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,896 INFO sqlalchemy.engine.base.Engine ('PURELL FOODSERVICE ADVANCED HAND SANITIZER VF481 GEL', 1, 0)
2018-11-14 11:29:29,898 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,899 INFO sqlalchemy.engine.base.Engine ('JUSTICE PINEAPPLE SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,901 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,902 INFO sqlalchemy.engine.base.Engine ('AOGEL HAND SANITIZER KIDS', 1, 0)
2018-11-14 11:29:29,904 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,906 INFO sqlalchemy.engine.base.Engine ('VANILLA BEAN ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:29,908 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,909 INFO sqlalchemy.engine.base.Engine ('GBG ALOEGEL INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,911 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,912 INFO sqlalchemy.engine.base.Engine ('RUE BEAUTE GRAPEFRUIT HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,918 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,920 INFO sqlalchemy.engine.base.Engine ('EQUATE ANTI BACTERIAL HAND SANITIZER BEACH', 1, 0)
2018-11-14 11:29:29,921 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,924 INFO sqlalchemy.engine.base.Engine ('WINNING HANDS ALCOHOL FOAMING', 1, 0)
2018-11-14 11:29:29,926 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,927 INFO sqlalchemy.engine.base.Engine ('RUE21 OCEAN BREEZE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,929 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,932 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER SUNBLOSSOM', 1, 0)
2018-11-14 11:29:29,935 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,936 INFO sqlalchemy.engine.base.Engine ('GLITTER RITZ GOLDEN VANILLA EMBERS', 1, 0)
2018-11-14 11:29:29,938 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,939 INFO sqlalchemy.engine.base.Engine ('DIGISAN', 1, 0)
2018-11-14 11:29:29,941 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,943 INFO sqlalchemy.engine.base.Engine ('HER LH2484 STRAWBERRY SCENTED HAND SANITIZER KIT', 1, 0)
2018-11-14 11:29:29,946 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,947 INFO sqlalchemy.engine.base.Engine ('PARIS HAND SANITIZER VANILLA SCENT', 1, 0)
2018-11-14 11:29:29,950 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,952 INFO sqlalchemy.engine.base.Engine ('JUSTICE LOVE HUGS ME AND YOU COTTON CANDY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,956 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,957 INFO sqlalchemy.engine.base.Engine ('ALCO HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,959 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,960 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND POLAR MINT AND ARCTIC BLAST', 1, 0)
2018-11-14 11:29:29,963 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,964 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER (62%)', 1, 0)
2018-11-14 11:29:29,969 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,970 INFO sqlalchemy.engine.base.Engine ('ENERGY INFUSION HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,972 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,973 INFO sqlalchemy.engine.base.Engine ('AIRE-MASTER SANITIZER GEL VIT E/A', 1, 0)
2018-11-14 11:29:29,975 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,976 INFO sqlalchemy.engine.base.Engine ('PREVAIL HAND SANITIZER WHITE TEA', 1, 0)
2018-11-14 11:29:29,979 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,980 INFO sqlalchemy.engine.base.Engine ('PDI ALCOHOL PREP PAD LARGE AND MEDIUM', 1, 0)
2018-11-14 11:29:29,983 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,984 INFO sqlalchemy.engine.base.Engine ('FRIUTS AND FLOWERS GRAPEFRUIT WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,986 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,990 INFO sqlalchemy.engine.base.Engine ('ORANGE SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,993 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,994 INFO sqlalchemy.engine.base.Engine ('JELLY BEAN HAND SANITIZER', 1, 0)
2018-11-14 11:29:29,997 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:29,999 INFO sqlalchemy.engine.base.Engine ('PAW PATROL JKYE HAND SANITIZER (BERRY SCENT)', 1, 0)
2018-11-14 11:29:30,001 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,005 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER O CHRISTMAS TREE', 1, 0)
2018-11-14 11:29:30,008 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:30,010 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS GINGER PEACH ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,013 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,015 INFO sqlalchemy.engine.base.Engine ('JUSTICE POP CORN VANILLA SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,017 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,022 INFO sqlalchemy.engine.base.Engine ('DECON HAND INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,026 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,027 INFO sqlalchemy.engine.base.Engine ('HES CLEAN ADAM', 1, 0)
2018-11-14 11:29:30,029 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,030 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES ENGLISH PEAR SCENTED WATERLESS ANTI BACTERIAL HAND GEL', 1, 0)
2018-11-14 11:29:30,033 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,034 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS ALL IN ONE', 1, 0)
2018-11-14 11:29:30,040 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,042 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING LAVENDER', 1, 0)
2018-11-14 11:29:30,044 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,046 INFO sqlalchemy.engine.base.Engine ('FIVE PHOTO BRAND FIRST AID ANTISEPTIC', 1, 0)
2018-11-14 11:29:30,052 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,055 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SPICY PEPPERMINT', 1, 0)
2018-11-14 11:29:30,058 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,059 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,061 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,066 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER LEMON', 1, 0)
2018-11-14 11:29:30,068 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,069 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WATERMELON', 1, 0)
2018-11-14 11:29:30,072 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,074 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER PEPPERMINT', 1, 0)
2018-11-14 11:29:30,078 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,081 INFO sqlalchemy.engine.base.Engine ('HEALTHCARE INSTANT HAND SANITIZER VANILLA SCENT', 1, 0)
2018-11-14 11:29:30,084 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,085 INFO sqlalchemy.engine.base.Engine ('COTTON BLOSSOM WATERLESS ANTI-ANTIBATERIA HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,087 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,089 INFO sqlalchemy.engine.base.Engine ('FRESH FRIES HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,091 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,094 INFO sqlalchemy.engine.base.Engine ('GAME DAY MSC MAINSTREET COLLECTION HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,098 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,100 INFO sqlalchemy.engine.base.Engine ('JUSTICE BFF BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,102 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,103 INFO sqlalchemy.engine.base.Engine ('REFRESHER', 1, 0)
2018-11-14 11:29:30,105 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,106 INFO sqlalchemy.engine.base.Engine ('HER LT297 STRAWBERRY LIMITED TOO SANITIZER KIT', 1, 0)
2018-11-14 11:29:30,108 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,109 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ROSE', 1, 0)
2018-11-14 11:29:30,111 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,113 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER GEL', 1, 0)
2018-11-14 11:29:30,117 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,118 INFO sqlalchemy.engine.base.Engine ('CARE BEARS COTTON CANDY ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:29:30,121 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,123 INFO sqlalchemy.engine.base.Engine ('HEALTH CARE INSTANT HAND SANITIZER ICE CLEAR', 1, 0)
2018-11-14 11:29:30,126 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,128 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS SWEET PEA LILY HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,134 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,135 INFO sqlalchemy.engine.base.Engine ('BERRY HAND SANITIZER WITH VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:29:30,138 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,139 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER I BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,142 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,142 INFO sqlalchemy.engine.base.Engine ('SANI PROFESSIONAL BRAND SANI-HANDSINSTANT HAND SANI INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:29:30,144 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,146 INFO sqlalchemy.engine.base.Engine ('IRIS ANTIMICROBIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,149 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,150 INFO sqlalchemy.engine.base.Engine ('BURGER TIME HAND SANITIZER', 1, 0)

2018-11-14 11:29:30,155 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,157 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER HOLIDAY SPICE', 1, 0)
2018-11-14 11:29:30,158 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,161 INFO sqlalchemy.engine.base.Engine ('HEALTH SMART INSTANT HAND SANITIZER WITH ALOE VERA AND VITAMIN E SWEET PEA', 1, 0)
2018-11-14 11:29:30,164 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,167 INFO sqlalchemy.engine.base.Engine ('JUSTICE VANILLA LATTE SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,169 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,169 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES BLUEBERRY SCENTED WATERLESS ANTI BACTERIAL HAND GEL', 1, 0)
2018-11-14 11:29:30,172 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,172 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WINTERBERRY DELIGHT', 1, 0)
2018-11-14 11:29:30,175 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,176 INFO sqlalchemy.engine.base.Engine ('SOFT CARE IMPACT MINI INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,179 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,180 INFO sqlalchemy.engine.base.Engine ('ICEE WHITE CHERRY SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,182 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,185 INFO sqlalchemy.engine.base.Engine ('CLINICAL WORKS PINK GRAPEFRUIT WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,189 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,190 INFO sqlalchemy.engine.base.Engine ('ENCHANTED MOMENTS MISTLETOE KISSES HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,192 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,194 INFO sqlalchemy.engine.base.Engine ('BLUE RASBERRY HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,196 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,198 INFO sqlalchemy.engine.base.Engine ('SERVO-STAT BALM', 1, 0)
2018-11-14 11:29:30,201 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,202 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER CALENDULA', 1, 0)
2018-11-14 11:29:30,204 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,206 INFO sqlalchemy.engine.base.Engine ('NOVACLENZ INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,207 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,211 INFO sqlalchemy.engine.base.Engine ('SANITIZER', 1, 0)
2018-11-14 11:29:30,213 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,215 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WINTER JELLY BEAN', 1, 0)
2018-11-14 11:29:30,218 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,219 INFO sqlalchemy.engine.base.Engine ('JUSTICE TUCAN STRAWBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,223 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,226 INFO sqlalchemy.engine.base.Engine ('RECENS HAND SANITIZER WIPES', 1, 0)
2018-11-14 11:29:30,229 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,232 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND STUDENT SNOT', 1, 0)
2018-11-14 11:29:30,235 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,236 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER MOONLIT MOMENTS', 1, 0)
2018-11-14 11:29:30,239 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,240 INFO sqlalchemy.engine.base.Engine ('T-CHEM ANTIMICROBIAL HAND', 1, 0)
2018-11-14 11:29:30,242 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,244 INFO sqlalchemy.engine.base.Engine ('SUSAN WINGET MANGO ORANGE HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,246 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,248 INFO sqlalchemy.engine.base.Engine ('JURLIQUE MOISTURIZING HAND SANITIZER NATURAL ANTIBACTERIAL', 1, 0)
2018-11-14 11:29:30,250 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,251 INFO sqlalchemy.engine.base.Engine ('SANI-SPRITZ', 1, 0)
2018-11-14 11:29:30,253 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,254 INFO sqlalchemy.engine.base.Engine ('JUSTICE SWEET CINNAMON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,256 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,257 INFO sqlalchemy.engine.base.Engine ('MANDARIN ORANGE AND LEMON ANTIBACTERIAL SANITIZER', 1, 0)
2018-11-14 11:29:30,259 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,263 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SUGAR COATED PLUM', 1, 0)
2018-11-14 11:29:30,268 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,269 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER BLUSHING PINK ORCHID', 1, 0)
2018-11-14 11:29:30,271 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,273 INFO sqlalchemy.engine.base.Engine ('TRICK OR TREAT ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:30,275 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,276 INFO sqlalchemy.engine.base.Engine ('JOHN DEERE INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,278 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?

 LIMIT ? OFFSET ?
2018-11-14 11:29:30,285 INFO sqlalchemy.engine.base.Engine ('DERMACEN INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,289 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,289 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND RED HEART FACE', 1, 0)
2018-11-14 11:29:30,292 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,293 INFO sqlalchemy.engine.base.Engine ('GLOBAL CARE 2 PACK HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,297 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,299 INFO sqlalchemy.engine.base.Engine ('JUSTICE STRAWBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,304 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,305 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER ASPEN RETREAT', 1, 0)
2018-11-14 11:29:30,307 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,308 INFO sqlalchemy.engine.base.Engine ('ADRIANA 8OZ HAND SANITIZER - ALOE VERA', 1, 0)
2018-11-14 11:29:30,311 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,312 INFO sqlalchemy.engine.base.Engine ('ALOE SCENT A B HAND SANITIZING', 1, 0)
2018-11-14 11:29:30,315 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,317 INFO sqlalchemy.engine.base.Engine ('FREEMAN PACKAGING HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,319 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,321 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS CHERRY BLOSSOM SCENTED WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,324 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,325 INFO sqlalchemy.engine.base.Engine ('SANI-HANDS FOR KIDS', 1, 0)
2018-11-14 11:29:30,330 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,334 INFO sqlalchemy.engine.base.Engine ('ALCOHOL DISINFECTING WIPE', 1, 0)
2018-11-14 11:29:30,339 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,341 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER UNSCENTED', 1, 0)
2018-11-14 11:29:30,344 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,346 INFO sqlalchemy.engine.base.Engine ('JUSTICE PARIS PUNCH SCENT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,350 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,352 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER SWEET PLUM', 1, 0)
2018-11-14 11:29:30,353 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,354 INFO sqlalchemy.engine.base.Engine ('JUSTICE COOL CANDY PINK SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,356 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,357 INFO sqlalchemy.engine.base.Engine ('REFRESH FOAMING INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,359 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,360 INFO sqlalchemy.engine.base.Engine ('3 HAND SANITIZERS', 1, 0)
2018-11-14 11:29:30,362 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,363 INFO sqlalchemy.engine.base.Engine ('AOGEL', 1, 0)
2018-11-14 11:29:30,369 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,370 INFO sqlalchemy.engine.base.Engine ('SWEET PEA ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,373 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,377 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND COCONUT LIME VERBENA', 1, 0)
2018-11-14 11:29:30,380 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,382 INFO sqlalchemy.engine.base.Engine ('AL CAFOAM', 1, 0)
2018-11-14 11:29:30,386 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,387 INFO sqlalchemy.engine.base.Engine ('JUSTICE ANTI BAC HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,389 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,390 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL', 1, 0)
2018-11-14 11:29:30,391 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,393 INFO sqlalchemy.engine.base.Engine ('FACILIPRO WATERLESS HAND RINSE', 1, 0)
2018-11-14 11:29:30,395 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,397 INFO sqlalchemy.engine.base.Engine ('3 PACK ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS (ALOE VERA AND MOISTURIZERS)', 1, 0)
2018-11-14 11:29:30,400 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,404 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E ORIGINAL', 1, 0)
2018-11-14 11:29:30,407 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,407 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND PINEAPPLE MANGO', 1, 0)
2018-11-14 11:29:30,409 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,410 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER CITRUS', 1, 0)
2018-11-14 11:29:30,413 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,414 INFO sqlalchemy.engine.base.Engine ('FRESHORIZE HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,419 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,420 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ROSEMARY', 1, 0)
2018-11-14 11:29:30,422 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:30,423 INFO sqlalchemy.engine.base.Engine ('PURELL PERSONAL PACK SANITIZING', 1, 0)
2018-11-14 11:29:30,425 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,428 INFO sqlalchemy.engine.base.Engine ('RUE21 APPLE SPICE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,431 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,432 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES HAND SANITIZER SPRAY', 1, 0)
2018-11-14 11:29:30,435 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,436 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WIPES', 1, 0)
2018-11-14 11:29:30,438 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,440 INFO sqlalchemy.engine.base.Engine ('PDI ALCOHOL PREP PAD STERILE LARGE AND MEDIUM', 1, 0)
2018-11-14 11:29:30,442 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,443 INFO sqlalchemy.engine.base.Engine ('NATURALS VANILLA ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:30,445 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,446 INFO sqlalchemy.engine.base.Engine ('THARIO INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,451 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,454 INFO sqlalchemy.engine.base.Engine ('EVERYONE HAND SANITIZER LAVENDER ALOE', 1, 0)
2018-11-14 11:29:30,458 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,459 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER T FROSTED BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,464 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,465 INFO sqlalchemy.engine.base.Engine ('DIGISAN HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,467 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,470 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND FRESH MARKET APPLE', 1, 0)
2018-11-14 11:29:30,471 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,473 INFO sqlalchemy.engine.base.Engine ('MINI HAND SANITIZER - COCONUT AND LIME', 1, 0)
2018-11-14 11:29:30,474 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,475 INFO sqlalchemy.engine.base.Engine ('CUCUMBER MELON SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,477 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,478 INFO sqlalchemy.engine.base.Engine ('RUE 21 SUGAR COOKIE ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,481 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,484 INFO sqlalchemy.engine.base.Engine ('QUIK-CARE', 1, 0)
2018-11-14 11:29:30,486 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,486 INFO sqlalchemy.engine.base.Engine ('JUSTICE PUPPY LOVE COTTON CANDY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,488 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,490 INFO sqlalchemy.engine.base.Engine ('MOISTURIZING INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,492 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,494 INFO sqlalchemy.engine.base.Engine ('PUREFORCE', 1, 0)
2018-11-14 11:29:30,496 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,499 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER RASPBERRY', 1, 0)
2018-11-14 11:29:30,503 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,505 INFO sqlalchemy.engine.base.Engine ('FREEMAN PACKING ALCOHOL WIPE', 1, 0)
2018-11-14 11:29:30,507 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,509 INFO sqlalchemy.engine.base.Engine ('RUE 21 ASIAN SPICE ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,511 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,513 INFO sqlalchemy.engine.base.Engine ('VIRX INSTANT HAND SANITIZER WITH SECURITY CLIP', 1, 0)
2018-11-14 11:29:30,518 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,520 INFO sqlalchemy.engine.base.Engine ('JUSTICE BERRY TWIST SCENT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,524 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,525 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS VANILLA MINT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,530 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,531 INFO sqlalchemy.engine.base.Engine ('MEDICHOICE HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,538 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,540 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER FRESH LEMON SCENTED', 1, 0)
2018-11-14 11:29:30,543 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,545 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS SUGARED PLUM ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,546 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,548 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E STRAWBERRY SCENT', 1, 0)
2018-11-14 11:29:30,552 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,553 INFO sqlalchemy.engine.base.Engine ('PURELL PROFESSIONAL ADVANCED HAND SANITIZER FRAGRANCE FREE GEL', 1, 0)
2018-11-14 11:29:30,557 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,560 INFO sqlalchemy.engine.base.Engine ('HEALING WATER AMBER FLOWER ANTI-BACTERIAL HAND SANITIZER', 1, 0)

2018-11-14 11:29:30,562 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,563 INFO sqlalchemy.engine.base.Engine ('RED HOT CINNAMON HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,567 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,570 INFO sqlalchemy.engine.base.Engine ('PAW PATROL MASHALL HAND SANITIZER (BERRY SCENT)', 1, 0)
2018-11-14 11:29:30,572 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,574 INFO sqlalchemy.engine.base.Engine ('JASMINE AND GREEN TEA ANTIBACTERIAL SANITIZER', 1, 0)
2018-11-14 11:29:30,578 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,582 INFO sqlalchemy.engine.base.Engine ('ETHYL ALCOHOL', 1, 0)
2018-11-14 11:29:30,585 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,586 INFO sqlalchemy.engine.base.Engine ('SOFT CARE IMPACT ALCOHOL INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,588 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,589 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER ORIGINAL', 1, 0)
2018-11-14 11:29:30,593 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,594 INFO sqlalchemy.engine.base.Engine ('MRS. MEYERS CLEAN DAY HAND SANITIZER LAVENDER SCENT', 1, 0)
2018-11-14 11:29:30,598 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,599 INFO sqlalchemy.engine.base.Engine ('CELLEANSER SECRET MIST', 1, 0)
2018-11-14 11:29:30,604 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,605 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH SHEA BUTTER BEADS', 1, 0)
2018-11-14 11:29:30,607 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,608 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND FRENCH LAVENDER', 1, 0)
2018-11-14 11:29:30,612 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,615 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER BE BLISSFUL', 1, 0)
2018-11-14 11:29:30,620 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,621 INFO sqlalchemy.engine.base.Engine ('LAVENDER VANILLA ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,623 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,625 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,627 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,630 INFO sqlalchemy.engine.base.Engine ('PHARMACYS PRESCRIPTION 1.8OZ HAND SANITIZER CUCUMBER MELON', 1, 0)
2018-11-14 11:29:30,633 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,635 INFO sqlalchemy.engine.base.Engine ('TC ENRICHEDFOAM ALCOHOL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,638 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,639 INFO sqlalchemy.engine.base.Engine ('CITRUS SPARKLE', 1, 0)
2018-11-14 11:29:30,642 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,643 INFO sqlalchemy.engine.base.Engine ('LOVE AND BEAUTY PEACH MANGO ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,645 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,646 INFO sqlalchemy.engine.base.Engine ('3M AVAGARD D', 1, 0)
2018-11-14 11:29:30,648 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,650 INFO sqlalchemy.engine.base.Engine ('SOFT N SURE ANTISEPTIC', 1, 0)
2018-11-14 11:29:30,652 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,655 INFO sqlalchemy.engine.base.Engine ('CITRUS HAND SANITIZER WITH VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:29:30,659 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,660 INFO sqlalchemy.engine.base.Engine ('CLINICAL WORKS LAVENDER BLOSSOM WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,662 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,664 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER NEUTRAL', 1, 0)
2018-11-14 11:29:30,669 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,670 INFO sqlalchemy.engine.base.Engine ('PURELL FOODSERVICE ADVANCED HAND SANITIZER FOAM', 1, 0)
2018-11-14 11:29:30,672 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,673 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND CANDY CANE', 1, 0)
2018-11-14 11:29:30,675 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,676 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER RASPBERRY', 1, 0)
2018-11-14 11:29:30,679 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,681 INFO sqlalchemy.engine.base.Engine ('MICROBAN', 1, 0)
2018-11-14 11:29:30,684 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,685 INFO sqlalchemy.engine.base.Engine ('KLEENEX MOISTURIZING HAND SANITIZER, HYDRATES SKIN', 1, 0)
2018-11-14 11:29:30,688 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,691 INFO sqlalchemy.engine.base.Engine ('IRIS HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:29:30,694 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,696 INFO sqlalchemy.engine.base.Engine ('XTRACARE INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,698 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:30,700 INFO sqlalchemy.engine.base.Engine ('JUSTICE PLUM BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,703 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,704 INFO sqlalchemy.engine.base.Engine ('JUSTICE ELECTRIC LIME BRIGHT CITRUS SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,706 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,707 INFO sqlalchemy.engine.base.Engine ('JUSTICE AZTEC APPLE SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,709 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,710 INFO sqlalchemy.engine.base.Engine ('CHARLIE GIRL GRAPE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,712 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,714 INFO sqlalchemy.engine.base.Engine ('QUICK SAN LL HAND SANITIZER WIPES', 1, 0)
2018-11-14 11:29:30,716 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,719 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER VANILLA SCENT', 1, 0)
2018-11-14 11:29:30,723 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,724 INFO sqlalchemy.engine.base.Engine ('MOIST SURE', 1, 0)
2018-11-14 11:29:30,726 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,728 INFO sqlalchemy.engine.base.Engine ('WHISKCARE 375 FRAGRANCE FREE', 1, 0)
2018-11-14 11:29:30,730 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,736 INFO sqlalchemy.engine.base.Engine ('KLEENEX REVEAL MOISTURIZING FOAM HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,741 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,742 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED WITH ALOE INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,744 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,746 INFO sqlalchemy.engine.base.Engine ('ECOLAB FACILIPRO', 1, 0)
2018-11-14 11:29:30,753 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,756 INFO sqlalchemy.engine.base.Engine ('SYMMETRY FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,758 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,759 INFO sqlalchemy.engine.base.Engine ('DAWNMIST ALCOHOL GEL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,761 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,762 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER CAMELLIA', 1, 0)
2018-11-14 11:29:30,769 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,770 INFO sqlalchemy.engine.base.Engine ('COMFORT', 1, 0)
2018-11-14 11:29:30,773 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,775 INFO sqlalchemy.engine.base.Engine ('VANILLA SUGAR ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,777 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,778 INFO sqlalchemy.engine.base.Engine ('SPOOKY VANILLA ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,780 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,782 INFO sqlalchemy.engine.base.Engine ('CLAIRES FANCY NANCY ANTIBACTERIAL STRAWBERRY PARFAIT', 1, 0)
2018-11-14 11:29:30,788 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,789 INFO sqlalchemy.engine.base.Engine ('FIRST AID PLUS MORE ALCOHOL PREP PAD', 1, 0)
2018-11-14 11:29:30,791 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,792 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS CLEAN COTTON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,794 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,795 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING SPECIAL TEACHER GREEN APPLE', 1, 0)
2018-11-14 11:29:30,797 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,799 INFO sqlalchemy.engine.base.Engine ('I LOVE NY HAND SANITIZER VANILLA SCENT', 1, 0)
2018-11-14 11:29:30,802 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,805 INFO sqlalchemy.engine.base.Engine ('GLOBAL CARE 8OZ HAND SANITIZER -ORIGINAL', 1, 0)
2018-11-14 11:29:30,808 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,809 INFO sqlalchemy.engine.base.Engine ('BOOLICIOUS ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:30,813 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,814 INFO sqlalchemy.engine.base.Engine ('CLOROX HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,818 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,819 INFO sqlalchemy.engine.base.Engine ('CVS PHARMACY INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:29:30,823 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,824 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER SPONGEBOB SPLASH', 1, 0)
2018-11-14 11:29:30,829 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,831 INFO sqlalchemy.engine.base.Engine ('LYNX SAN A FOAM', 1, 0)
2018-11-14 11:29:30,836 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,837 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ALOE', 1, 0)
2018-11-14 11:29:30,840 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,841 INFO sqlalchemy.engine.base.Engine ('CARDINAL HEALTH HAND SANITIZER WITH ALOE', 1, 0)

2018-11-14 11:29:30,843 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,844 INFO sqlalchemy.engine.base.Engine ('GERM FREE ZONE SANITIZING WIPE', 1, 0)
2018-11-14 11:29:30,848 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,850 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES CUCUMBER MELON SCENT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,853 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,856 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND CRANBERRY SPICE', 1, 0)
2018-11-14 11:29:30,861 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,862 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS ISLAND NECTAR SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,865 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,867 INFO sqlalchemy.engine.base.Engine ('COCONUT ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,870 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,872 INFO sqlalchemy.engine.base.Engine ('AMOVEO ORIGINAL', 1, 0)
2018-11-14 11:29:30,875 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,877 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER KIWI', 1, 0)
2018-11-14 11:29:30,880 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,882 INFO sqlalchemy.engine.base.Engine ('CLOROX CARE CONCEPTS HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,886 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,887 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER BIRTHDAY CAKE', 1, 0)
2018-11-14 11:29:30,890 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,891 INFO sqlalchemy.engine.base.Engine ('JUSTICE OUTTA THIS WORLD VANILLA SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,894 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,896 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING A PLUS TEACHER UNSCENTED', 1, 0)
2018-11-14 11:29:30,899 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,900 INFO sqlalchemy.engine.base.Engine ('SERVO STAT-FOAM', 1, 0)
2018-11-14 11:29:30,903 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,904 INFO sqlalchemy.engine.base.Engine ('2 PACK ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS (VITAMIN E AND ALOE)', 1, 0)
2018-11-14 11:29:30,909 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,911 INFO sqlalchemy.engine.base.Engine ('JUSTICE COTTON CANDY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,913 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,915 INFO sqlalchemy.engine.base.Engine ('CLAIRES FANCY NANCY ANTIBACTERIAL GLAMOUROUS GRAPE', 1, 0)
2018-11-14 11:29:30,918 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,920 INFO sqlalchemy.engine.base.Engine ('SYSCO RELIANCE', 1, 0)
2018-11-14 11:29:30,922 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,923 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER H BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,927 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,928 INFO sqlalchemy.engine.base.Engine ('MELLOW HAND SANITIZER (ORIGINAL) WITH MOISTURIZER AND VITAMIN E', 1, 0)
2018-11-14 11:29:30,931 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,932 INFO sqlalchemy.engine.base.Engine ('HES CLEAN', 1, 0)
2018-11-14 11:29:30,935 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,937 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,940 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,942 INFO sqlalchemy.engine.base.Engine ('JUSTICE VANILLA SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,944 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,946 INFO sqlalchemy.engine.base.Engine ('ANTIMICROBIAL HAND WIPE', 1, 0)
2018-11-14 11:29:30,948 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,949 INFO sqlalchemy.engine.base.Engine ('A.B.H.C. INSTANT HAND SANITIZER CITRUS SCENT', 1, 0)
2018-11-14 11:29:30,953 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,955 INFO sqlalchemy.engine.base.Engine ('LUCKY SANITIZING HAND TOWELS', 1, 0)
2018-11-14 11:29:30,956 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,957 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER BLOWPOP CHERRY', 1, 0)
2018-11-14 11:29:30,959 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,960 INFO sqlalchemy.engine.base.Engine ('ULTA ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,963 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,964 INFO sqlalchemy.engine.base.Engine ('AVANT EX', 1, 0)
2018-11-14 11:29:30,966 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,968 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER HAND SANITIZER WITH VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:29:30,970 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,971 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED GREEN CERTIFIED INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,975 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?

 LIMIT ? OFFSET ?
2018-11-14 11:29:30,977 INFO sqlalchemy.engine.base.Engine ('RITZ SPRITZ MULLED CRANBERRY', 1, 0)
2018-11-14 11:29:30,979 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,981 INFO sqlalchemy.engine.base.Engine ('PHARMACYS PRESCRIPTION 1.8OZ HAND SANITIZER SWEET PEA', 1, 0)
2018-11-14 11:29:30,986 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,987 INFO sqlalchemy.engine.base.Engine ('LEAP FROG FRESH HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,989 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,990 INFO sqlalchemy.engine.base.Engine ('AVANT FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,992 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,992 INFO sqlalchemy.engine.base.Engine ('TC INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:30,995 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:30,996 INFO sqlalchemy.engine.base.Engine ('WATERLESS ANTI-BACTERIAL HAND CLEANSER', 1, 0)
2018-11-14 11:29:30,999 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,000 INFO sqlalchemy.engine.base.Engine ('BODY BLENDS CITRUS AWAKENING ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,002 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,007 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND BLACK CHERRY MERLOT', 1, 0)
2018-11-14 11:29:31,010 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,012 INFO sqlalchemy.engine.base.Engine ('RED HOT CINNAMON', 1, 0)
2018-11-14 11:29:31,015 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,018 INFO sqlalchemy.engine.base.Engine ('JUSTICE STRAWBERRY SWIRL SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,023 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,025 INFO sqlalchemy.engine.base.Engine ('CLAIRES BEYOUTIFUL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,027 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,029 INFO sqlalchemy.engine.base.Engine ('CLINICAL WORKS CUCUMBER MELON WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,031 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,032 INFO sqlalchemy.engine.base.Engine ('PROTECTEAV', 1, 0)
2018-11-14 11:29:31,035 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,036 INFO sqlalchemy.engine.base.Engine ('JUSTICE BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,038 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,040 INFO sqlalchemy.engine.base.Engine ('RUE BEAUTE STRAWBERRY HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,042 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,042 INFO sqlalchemy.engine.base.Engine ('SUPERMAN BERRY SCENTED ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:29:31,045 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,046 INFO sqlalchemy.engine.base.Engine ('THUMBS-UP LIME HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,050 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,051 INFO sqlalchemy.engine.base.Engine ('STERILLIUM RUB FRAGRANCE FREE', 1, 0)
2018-11-14 11:29:31,054 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,056 INFO sqlalchemy.engine.base.Engine ('BORTONS ETHYL RUBBING ALCOHOL', 1, 0)
2018-11-14 11:29:31,059 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,061 INFO sqlalchemy.engine.base.Engine ('ADRIANA 8OZ HAND SANITIZER -ORIGINAL', 1, 0)
2018-11-14 11:29:31,064 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,067 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND FRESH WATERMELON', 1, 0)
2018-11-14 11:29:31,071 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,073 INFO sqlalchemy.engine.base.Engine ('CLEAN N FRESH INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,076 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,077 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER ALOE VERA', 1, 0)
2018-11-14 11:29:31,079 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,080 INFO sqlalchemy.engine.base.Engine ('BODY BLENDS COCONUT LIME ESCAPE ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,084 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,086 INFO sqlalchemy.engine.base.Engine ('SOFT CARE HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,090 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,091 INFO sqlalchemy.engine.base.Engine ('JUSTICE BE STRONG BRIGHT CITRUS SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,093 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,093 INFO sqlalchemy.engine.base.Engine ('ALCOSCRUB HAND CLEANER', 1, 0)
2018-11-14 11:29:31,096 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,097 INFO sqlalchemy.engine.base.Engine ('JUSTICE RHINESTONE RASPBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,100 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,103 INFO sqlalchemy.engine.base.Engine ('OSCEOLA SKIN CARE SANI-GEL INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,106 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,108 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER SPRAY', 1, 0)

2018-11-14 11:29:31,113 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,114 INFO sqlalchemy.engine.base.Engine ('STAPLES INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,117 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,120 INFO sqlalchemy.engine.base.Engine ('WILDE ORCHID', 1, 0)
2018-11-14 11:29:31,123 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,125 INFO sqlalchemy.engine.base.Engine ('MANGO ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,127 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,129 INFO sqlalchemy.engine.base.Engine ('MRS. MEYERS CLEAN DAY HAND SANITIZER BASIL SCENT', 1, 0)
2018-11-14 11:29:31,133 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,134 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS WHITE TEA PEAR HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,138 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,139 INFO sqlalchemy.engine.base.Engine ('PERSONAL CARE', 1, 0)
2018-11-14 11:29:31,141 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,142 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY EUCALYPTUS MINT', 1, 0)
2018-11-14 11:29:31,145 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,146 INFO sqlalchemy.engine.base.Engine ('EVERGREEN SNOWMAN', 1, 0)
2018-11-14 11:29:31,150 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,152 INFO sqlalchemy.engine.base.Engine ('GREEN TEA ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,155 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,156 INFO sqlalchemy.engine.base.Engine ('KLEENEX ULTRA MOISTURIZING HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,159 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,160 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER BANANA SPLIT', 1, 0)
2018-11-14 11:29:31,162 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,163 INFO sqlalchemy.engine.base.Engine ('AMORAY PREMIUM INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E STRAWBERRY', 1, 0)
2018-11-14 11:29:31,166 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,170 INFO sqlalchemy.engine.base.Engine ('JUSTICE SPARKLING VANILLA SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,173 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,176 INFO sqlalchemy.engine.base.Engine ('BD E-Z CARE', 1, 0)
2018-11-14 11:29:31,179 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,180 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER ORIGINAL WITH MOISTURIZER AND VITAMIN E', 1, 0)
2018-11-14 11:29:31,182 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,185 INFO sqlalchemy.engine.base.Engine ('SUKANG ALCOHOL PREP PADS MEDIUM', 1, 0)
2018-11-14 11:29:31,188 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,189 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ALMOND', 1, 0)
2018-11-14 11:29:31,192 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,193 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY', 1, 0)
2018-11-14 11:29:31,195 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,196 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED SKIN NOURISHING INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,201 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,202 INFO sqlalchemy.engine.base.Engine ('KEYSTONE LIQUID HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,205 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,206 INFO sqlalchemy.engine.base.Engine ('GENUINE HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,209 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,210 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND HELLO IM A MERMAID OCEAN BREEZE', 1, 0)
2018-11-14 11:29:31,212 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,213 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES FRESH WATERS SCENT HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,216 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,218 INFO sqlalchemy.engine.base.Engine ('JUSTICE DANCE BERRY BLAST SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,220 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,221 INFO sqlalchemy.engine.base.Engine ('HYGIENE', 1, 0)
2018-11-14 11:29:31,224 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,228 INFO sqlalchemy.engine.base.Engine ('GERM SAFE', 1, 0)
2018-11-14 11:29:31,231 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,237 INFO sqlalchemy.engine.base.Engine ('PACIFIC GARDEN FOAM HAND SANITIZER, FRAGRANCE FREE, DYE FREE', 1, 0)
2018-11-14 11:29:31,238 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,239 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER NEUTRAL SCENTED', 1, 0)
2018-11-14 11:29:31,241 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,242 INFO sqlalchemy.engine.base.Engine ('DOTS ASIAN SPICE ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,244 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:31,245 INFO sqlalchemy.engine.base.Engine ('MEDISOFT', 1, 0)
2018-11-14 11:29:31,247 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,248 INFO sqlalchemy.engine.base.Engine ('HANDFUL SANITIZER', 1, 0)
2018-11-14 11:29:31,251 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,252 INFO sqlalchemy.engine.base.Engine ('PDI SANI-HANDS INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:29:31,254 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,255 INFO sqlalchemy.engine.base.Engine ('ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS ALOE VERA AND MOISTURIZERS', 1, 0)
2018-11-14 11:29:31,259 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,262 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS ICED COOKIE ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,264 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,265 INFO sqlalchemy.engine.base.Engine ('JUSTICE ELEPHANT MANGO SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,271 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,274 INFO sqlalchemy.engine.base.Engine ('PURELL INSTANT ULTRA', 1, 0)
2018-11-14 11:29:31,276 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,277 INFO sqlalchemy.engine.base.Engine ('ULTA VANILLA SUGAR ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,279 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,280 INFO sqlalchemy.engine.base.Engine ('RUE21 CHERRY ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,282 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,284 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER SPRINKLED WITH LOVE', 1, 0)
2018-11-14 11:29:31,286 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,287 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING MANDARIN', 1, 0)
2018-11-14 11:29:31,289 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,291 INFO sqlalchemy.engine.base.Engine ('PURELL FOOD PROCESSING ADVANCED HAND SANITIZER E3 FOAM', 1, 0)
2018-11-14 11:29:31,295 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,296 INFO sqlalchemy.engine.base.Engine ('RUE21 OCEAN ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,299 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,303 INFO sqlalchemy.engine.base.Engine ('JUSTICE TORTOISE GREEN APPLE SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,305 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,306 INFO sqlalchemy.engine.base.Engine ('SAFE HANDS HAND SANITIZER WITH ALCOHOL', 1, 0)
2018-11-14 11:29:31,308 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,309 INFO sqlalchemy.engine.base.Engine ('RUE BEAUTE VANILLA CUPCAKE HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,311 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,312 INFO sqlalchemy.engine.base.Engine ('PURELL HEALTHCARE ADVANCED HAND SANITIZER ULTRA NOURISHING FOAM', 1, 0)
2018-11-14 11:29:31,314 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,315 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND HELLO IM A UNICORN BERRY LEMONADE', 1, 0)
2018-11-14 11:29:31,318 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,319 INFO sqlalchemy.engine.base.Engine ('NATURALS CUCUMBER MELON ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:29:31,321 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,322 INFO sqlalchemy.engine.base.Engine ('BELLA MAISON COCONUT PINEAPPLE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,324 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,326 INFO sqlalchemy.engine.base.Engine ('PHARMACY PRESCRIPTION 1.8OZ HAND SANITIZER - SWEET PEACH', 1, 0)
2018-11-14 11:29:31,334 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,335 INFO sqlalchemy.engine.base.Engine ('SCOTT MOISTURIZING FOAM HAND SANITIZER (ULTRA)', 1, 0)
2018-11-14 11:29:31,337 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,338 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING TEACHERS RULE MANDARIN', 1, 0)
2018-11-14 11:29:31,340 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,342 INFO sqlalchemy.engine.base.Engine ('COCONUT TUBEROSE', 1, 0)
2018-11-14 11:29:31,344 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,345 INFO sqlalchemy.engine.base.Engine ('TRISEPTIN WATER AIDED', 1, 0)
2018-11-14 11:29:31,347 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,348 INFO sqlalchemy.engine.base.Engine ('AMOVEO UNSCENTED', 1, 0)
2018-11-14 11:29:31,358 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,360 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND OCEAN FOR MEN', 1, 0)
2018-11-14 11:29:31,363 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,364 INFO sqlalchemy.engine.base.Engine ('CHEEKY FRESH', 1, 0)
2018-11-14 11:29:31,368 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,371 INFO sqlalchemy.engine.base.Engine ('VANILLA CUPCAKE ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,375 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,376 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER', 1, 0)

2018-11-14 11:29:31,378 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,379 INFO sqlalchemy.engine.base.Engine ('3M AVAGARD INSTANT HAND ANTISEPTIC WITH MOISTURIZERS', 1, 0)
2018-11-14 11:29:31,380 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,382 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS ALOE SCENTED', 1, 0)
2018-11-14 11:29:31,385 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,387 INFO sqlalchemy.engine.base.Engine ('SWEET PEA WATERLESS ANTI-ANTIBATERIA HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,391 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,392 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES ENGLISH PEAR ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,394 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,396 INFO sqlalchemy.engine.base.Engine ('FOAM AID', 1, 0)
2018-11-14 11:29:31,400 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,403 INFO sqlalchemy.engine.base.Engine ('HEALTHY HANDS INSTANT ANTISEPTIC HAND CLEANSER', 1, 0)
2018-11-14 11:29:31,405 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,406 INFO sqlalchemy.engine.base.Engine ('SCOTT MOISTURIZING FOAM HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,409 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,410 INFO sqlalchemy.engine.base.Engine ('NORTHSIDE HOSPITAL AMENITY KIT--GI DEPT', 1, 0)
2018-11-14 11:29:31,411 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,413 INFO sqlalchemy.engine.base.Engine ('SELECT ANTISEPTIC HAND GEL WITH ALOE', 1, 0)
2018-11-14 11:29:31,415 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,417 INFO sqlalchemy.engine.base.Engine ('CUCUMBER MELON ANTIBACTERIAL SANITIZER', 1, 0)
2018-11-14 11:29:31,420 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,422 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E LEMON FRESH SCENT', 1, 0)
2018-11-14 11:29:31,426 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,427 INFO sqlalchemy.engine.base.Engine ('FROSTED CRANBERRY ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,429 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,430 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND HELLO BEAUTIFUL', 1, 0)
2018-11-14 11:29:31,433 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,436 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER REVITALIZING RAIN', 1, 0)
2018-11-14 11:29:31,438 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,440 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER MANDARIN MEDLEY', 1, 0)
2018-11-14 11:29:31,442 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,444 INFO sqlalchemy.engine.base.Engine ('INFECTIGUARD FAST ACTING ANTISEPTIC HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,448 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,449 INFO sqlalchemy.engine.base.Engine ('PURELL HEALTHCARE ADVANCED HAND SANITIZER GEL', 1, 0)
2018-11-14 11:29:31,453 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,454 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER CITRUS SCENTED', 1, 0)
2018-11-14 11:29:31,457 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,458 INFO sqlalchemy.engine.base.Engine ('RUE21 VANILLA SPICE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,460 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,461 INFO sqlalchemy.engine.base.Engine ('HAND SAN', 1, 0)
2018-11-14 11:29:31,463 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,464 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER GRAPE', 1, 0)
2018-11-14 11:29:31,467 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,471 INFO sqlalchemy.engine.base.Engine ('AMORAY PREMIUM INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E ORIGINAL', 1, 0)
2018-11-14 11:29:31,476 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,477 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ORANCE', 1, 0)
2018-11-14 11:29:31,479 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,480 INFO sqlalchemy.engine.base.Engine ('ALCARE FOAMED ANTISEPTIC HANDRUB', 1, 0)
2018-11-14 11:29:31,482 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,486 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER GRAPEFRUIT', 1, 0)
2018-11-14 11:29:31,869 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,872 INFO sqlalchemy.engine.base.Engine ('WATERLESS FRAGRANCE FREE HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,878 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,881 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SPRAY WARM VANILLA SUGAR', 1, 0)
2018-11-14 11:29:31,885 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,888 INFO sqlalchemy.engine.base.Engine ('GINGERHEAD GIRL ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,891 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,892 INFO sqlalchemy.engine.base.Engine ('PURE GEL', 1, 0)

2018-11-14 11:29:31,894 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,894 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER COTTON CANDY', 1, 0)
2018-11-14 11:29:31,898 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,898 INFO sqlalchemy.engine.base.Engine ('PURE FOAM', 1, 0)
2018-11-14 11:29:31,901 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,905 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED REFRESHING ALOE', 1, 0)
2018-11-14 11:29:31,908 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,910 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER WHITE MUSK', 1, 0)
2018-11-14 11:29:31,911 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,912 INFO sqlalchemy.engine.base.Engine ('CHERRY BLOSSOM WATERLESS ANTI-ANTIBATERIA HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,914 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,918 INFO sqlalchemy.engine.base.Engine ('RUE 21 LEGEND BLUEBERRY ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,922 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,923 INFO sqlalchemy.engine.base.Engine ('INSTANT FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,925 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,926 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER N BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,928 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,931 INFO sqlalchemy.engine.base.Engine ('SANISUDS FOAM INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,933 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,936 INFO sqlalchemy.engine.base.Engine ('RUE21 COTTON CANDY ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,938 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,939 INFO sqlalchemy.engine.base.Engine ('RUE 21 PARIS CREAMSICLE ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,941 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,943 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER UNSCENTED', 1, 0)
2018-11-14 11:29:31,946 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,947 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS CUCUMBER MELON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,950 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,952 INFO sqlalchemy.engine.base.Engine ('PINK LEMONADE HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,957 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,958 INFO sqlalchemy.engine.base.Engine ('HER LH2476 CITRUS SCENTED HAND SANITIZER KIT', 1, 0)
2018-11-14 11:29:31,961 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,963 INFO sqlalchemy.engine.base.Engine ('HES CLEAN FOR WOMAN', 1, 0)
2018-11-14 11:29:31,966 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,967 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER ORIGINAL', 1, 0)
2018-11-14 11:29:31,972 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,973 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER T BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,976 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,977 INFO sqlalchemy.engine.base.Engine ('JUSTICE TWIST PEPPERMINT SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,979 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,980 INFO sqlalchemy.engine.base.Engine ('TOASTED VANILLA SUGAR KIT BODYCOLOGY', 1, 0)
2018-11-14 11:29:31,982 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,983 INFO sqlalchemy.engine.base.Engine ('PERFECT PURITY ADVANCED HAND SANITIZER REFRESHING', 1, 0)
2018-11-14 11:29:31,986 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,988 INFO sqlalchemy.engine.base.Engine ('3M AVAGARD FOAM', 1, 0)
2018-11-14 11:29:31,992 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,995 INFO sqlalchemy.engine.base.Engine ('PINK MACAROON HAND SANITIZER', 1, 0)
2018-11-14 11:29:31,997 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:31,998 INFO sqlalchemy.engine.base.Engine ('HAN-I-FOAM', 1, 0)
2018-11-14 11:29:32,000 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,003 INFO sqlalchemy.engine.base.Engine ('CVS DECOLORIZED IODINE', 1, 0)
2018-11-14 11:29:32,005 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,007 INFO sqlalchemy.engine.base.Engine ('PURELL INSTANT HAND SANITIZER MOISTURE THERAPY', 1, 0)
2018-11-14 11:29:32,010 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,010 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PINK STRAWBERRY LOLLIPOP', 1, 0)
2018-11-14 11:29:32,012 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,013 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER SWEET ORANGE', 1, 0)
2018-11-14 11:29:32,015 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,017 INFO sqlalchemy.engine.base.Engine ('PASSION FRUIT KISS', 1, 0)
2018-11-14 11:29:32,021 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:32,021 INFO sqlalchemy.engine.base.Engine ('FAST', 1, 0)
2018-11-14 11:29:32,024 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,026 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND JAPANESE CHERRY BLOSSOM', 1, 0)
2018-11-14 11:29:32,029 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,031 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PEACH', 1, 0)
2018-11-14 11:29:32,033 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,037 INFO sqlalchemy.engine.base.Engine ('RUE 21 QUEEN CHERRY ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,040 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,041 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER SPRING BLOOM GEL', 1, 0)
2018-11-14 11:29:32,043 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,044 INFO sqlalchemy.engine.base.Engine ('STERILLIUM MED', 1, 0)
2018-11-14 11:29:32,046 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,047 INFO sqlalchemy.engine.base.Engine ('TAKE CARE CLINIC INSTANT HAND SANITIZER SPRAY', 1, 0)
2018-11-14 11:29:32,049 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,050 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS COTTON BLOSSOM HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,053 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,056 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER TRANQUIL SUNSET', 1, 0)
2018-11-14 11:29:32,058 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,060 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES VANILLA FROSTING ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,062 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,063 INFO sqlalchemy.engine.base.Engine ('FENGLIAOXING FENGSHI DIEDA YAOJIU', 1, 0)
2018-11-14 11:29:32,068 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,070 INFO sqlalchemy.engine.base.Engine ('FROSTED SUGAR PLUM HAND SANITIZER BODYCOLOGY', 1, 0)
2018-11-14 11:29:32,072 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,074 INFO sqlalchemy.engine.base.Engine ('SANNYTIZE HAND SANITIZER WIPE', 1, 0)
2018-11-14 11:29:32,077 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,078 INFO sqlalchemy.engine.base.Engine ('HAWAIIAN PASSION HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,080 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,083 INFO sqlalchemy.engine.base.Engine ('HEALTH MART IODIDES', 1, 0)
2018-11-14 11:29:32,089 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,091 INFO sqlalchemy.engine.base.Engine ('ALCARE PLUS FOAMED ANTISEPTIC HANDRUB', 1, 0)
2018-11-14 11:29:32,095 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,096 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS LEMON VERBENA HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,098 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,100 INFO sqlalchemy.engine.base.Engine ('HIBISCUS COCONUT HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,108 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,110 INFO sqlalchemy.engine.base.Engine ('JUSTICE STRAWBERRY MACAROON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,112 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,113 INFO sqlalchemy.engine.base.Engine ('WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,116 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,121 INFO sqlalchemy.engine.base.Engine ('TOASTED VANILLA KIT BODYCOLOGY', 1, 0)
2018-11-14 11:29:32,125 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,126 INFO sqlalchemy.engine.base.Engine ('INSTACLEAN HAND SANITIZING', 1, 0)
2018-11-14 11:29:32,129 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,131 INFO sqlalchemy.engine.base.Engine ('AP HANSAN', 1, 0)
2018-11-14 11:29:32,133 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,134 INFO sqlalchemy.engine.base.Engine ('PURELL HEALTHCARE ADVANCED HAND SANITIZER FOAM', 1, 0)
2018-11-14 11:29:32,139 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,140 INFO sqlalchemy.engine.base.Engine ('DOTS APPLE CINNAMON ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,145 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,146 INFO sqlalchemy.engine.base.Engine ('RUE21 POSH ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,148 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,149 INFO sqlalchemy.engine.base.Engine ('3 PACK INSTANT HAND SANITIZER WITH MOISTURIZERS LAVENDER SCENTED', 1, 0)
2018-11-14 11:29:32,151 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,152 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES FRESH COTTON HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,156 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,157 INFO sqlalchemy.engine.base.Engine ('JANITECH JAN-HS-40 INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,159 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,160 INFO sqlalchemy.engine.base.Engine ('SANI-GEL', 1, 0)
2018-11-14 11:29:32,165 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:32,167 INFO sqlalchemy.engine.base.Engine ('HANDEX INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,171 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,172 INFO sqlalchemy.engine.base.Engine ('CANDY COATED APPLE ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,175 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,176 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER KURETEK', 1, 0)
2018-11-14 11:29:32,177 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,178 INFO sqlalchemy.engine.base.Engine ('ADRIANA CLIP ON HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,180 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,181 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS BLUEBERRY PARFAIT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,184 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,187 INFO sqlalchemy.engine.base.Engine ('SANIGUARD-SF', 1, 0)
2018-11-14 11:29:32,191 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,194 INFO sqlalchemy.engine.base.Engine ('MEGAFRESH HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,196 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,197 INFO sqlalchemy.engine.base.Engine ('REDEEM', 1, 0)
2018-11-14 11:29:32,198 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,199 INFO sqlalchemy.engine.base.Engine ('MAYFAIR ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,201 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,202 INFO sqlalchemy.engine.base.Engine ('PDI SANI-HANDS ALC ANTIMICROBIAL ALCOHOL GEL HAND WIPES', 1, 0)
2018-11-14 11:29:32,204 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,206 INFO sqlalchemy.engine.base.Engine ('ICI ALCOHOL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,208 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,208 INFO sqlalchemy.engine.base.Engine ('FRISKY CINNAMON', 1, 0)
2018-11-14 11:29:32,210 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,210 INFO sqlalchemy.engine.base.Engine ('EXTENDED CARE FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,212 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,213 INFO sqlalchemy.engine.base.Engine ('HEALTH SMART INSTANT HAND SANITIZER WITH ALOE VERA AND VITAMIN E', 1, 0)
2018-11-14 11:29:32,215 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,216 INFO sqlalchemy.engine.base.Engine ('EXOTIC CHERRY BLOSSOM KIT BODYCOLOGY', 1, 0)
2018-11-14 11:29:32,220 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,221 INFO sqlalchemy.engine.base.Engine ('SKIN PROTECTANT', 1, 0)
2018-11-14 11:29:32,223 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,225 INFO sqlalchemy.engine.base.Engine ('SOFT CARE IMPACT FOAM ALCOHOL FOAM INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,227 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,228 INFO sqlalchemy.engine.base.Engine ('JUSTICE BOHO BERRY SCENT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,230 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,231 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND BEAUTIFUL DAY', 1, 0)
2018-11-14 11:29:32,233 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,234 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER LAVENDER', 1, 0)
2018-11-14 11:29:32,236 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,237 INFO sqlalchemy.engine.base.Engine ('ETHYL RUBBING ALCOHOL', 1, 0)
2018-11-14 11:29:32,240 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,241 INFO sqlalchemy.engine.base.Engine ('HAND GEL PROLIM INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,243 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,244 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH MOISTURIZEERS VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:29:32,247 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,248 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER VANILLA', 1, 0)
2018-11-14 11:29:32,250 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,252 INFO sqlalchemy.engine.base.Engine ('EQUATE ANTI BACTERIAL HAND SANITIZER STRAWBERRY', 1, 0)
2018-11-14 11:29:32,254 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,256 INFO sqlalchemy.engine.base.Engine ('BACTEX ANTISEPTIC HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,258 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,259 INFO sqlalchemy.engine.base.Engine ('HIGH FIVE', 1, 0)
2018-11-14 11:29:32,261 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,262 INFO sqlalchemy.engine.base.Engine ('FUNKY MONKEY HAWAIIAN HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,264 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,265 INFO sqlalchemy.engine.base.Engine ('APRIL BATH AND SHOWER WARM VANILLA SUGAR SCENTED ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,266 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,267 INFO sqlalchemy.engine.base.Engine ('ICEE STRAWBERRY SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,269 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:32,270 INFO sqlalchemy.engine.base.Engine ('SANI PROFESSIONAL BRAND SANI-HANDS WITH TENCEL INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:29:32,272 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,273 INFO sqlalchemy.engine.base.Engine ('JUSTICE WATERMELON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,275 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,276 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER GRAPE', 1, 0)
2018-11-14 11:29:32,279 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,280 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND LEMON', 1, 0)
2018-11-14 11:29:32,282 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,284 INFO sqlalchemy.engine.base.Engine ('SOFT N SURE FOAMED ANTISEPTIC HANDRUB', 1, 0)
2018-11-14 11:29:32,287 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,288 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER (70% V/V)', 1, 0)
2018-11-14 11:29:32,290 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,292 INFO sqlalchemy.engine.base.Engine ('PREVAIL HAND SANITIZER LEMONGRASS', 1, 0)
2018-11-14 11:29:32,294 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,295 INFO sqlalchemy.engine.base.Engine ('HEALTHCARE INSTANT HAND SANITIZER STRAWBERRY SCENT', 1, 0)
2018-11-14 11:29:32,297 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,298 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES SWEET LAVENDER HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,300 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,301 INFO sqlalchemy.engine.base.Engine ('SANI-HANDS II INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:29:32,304 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,306 INFO sqlalchemy.engine.base.Engine ('DEFENDER FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,309 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,310 INFO sqlalchemy.engine.base.Engine ('WATERLESS ALOE SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,312 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,313 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING STRAWBERRY', 1, 0)
2018-11-14 11:29:32,315 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,316 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED REFRESHING', 1, 0)
2018-11-14 11:29:32,319 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,321 INFO sqlalchemy.engine.base.Engine ('EQUATE ANTI BACTERIAL HAND SANITIZER COCONUT', 1, 0)
2018-11-14 11:29:32,324 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,325 INFO sqlalchemy.engine.base.Engine ('HAND RECOVERY', 1, 0)
2018-11-14 11:29:32,327 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,328 INFO sqlalchemy.engine.base.Engine ('ANTISEPTIC HAND GEL', 1, 0)
2018-11-14 11:29:32,330 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,331 INFO sqlalchemy.engine.base.Engine ('DAISY BLOSSOM ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,333 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,334 INFO sqlalchemy.engine.base.Engine ('AMORAY PREMIUM INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E LAVENDER', 1, 0)
2018-11-14 11:29:32,336 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,338 INFO sqlalchemy.engine.base.Engine ('GEL INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,342 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,342 INFO sqlalchemy.engine.base.Engine ('1.8OZ ARMSTRONG HAND SANITIZER WITH ALOE VERA AND VITAMIN E', 1, 0)
2018-11-14 11:29:32,344 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,345 INFO sqlalchemy.engine.base.Engine ('PURELL VF481 HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,347 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,349 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ACACIA', 1, 0)
2018-11-14 11:29:32,351 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,352 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES PINEAPPLE MANGO WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,354 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,355 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER ALOE VERA SCENTED', 1, 0)
2018-11-14 11:29:32,357 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,359 INFO sqlalchemy.engine.base.Engine ('RAYMOND WAITES HONEYSUCKLE ROSE WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,362 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,364 INFO sqlalchemy.engine.base.Engine ('JUSTICE HAMBURGER GREEN APPLE SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,366 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,368 INFO sqlalchemy.engine.base.Engine ('GREEN EARTH ALCOHOL GEL SANITIZER', 1, 0)
2018-11-14 11:29:32,370 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,371 INFO sqlalchemy.engine.base.Engine ('WILD STRAWBERRY ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,374 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:32,375 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED E3 RATED INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,377 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,378 INFO sqlalchemy.engine.base.Engine ('SANI-CARE', 1, 0)
2018-11-14 11:29:32,380 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,381 INFO sqlalchemy.engine.base.Engine ('ALCOHOL EXTRA-THICK', 1, 0)
2018-11-14 11:29:32,383 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,385 INFO sqlalchemy.engine.base.Engine ('GEORGIA-PACIFIC ALCOHOL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,388 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,389 INFO sqlalchemy.engine.base.Engine ('CARDINAL HEALTH SANITIZER', 1, 0)
2018-11-14 11:29:32,391 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,392 INFO sqlalchemy.engine.base.Engine ('SANI PROFESSIONAL BRAND SANI-HANDS FOR KIDS INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:29:32,395 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,396 INFO sqlalchemy.engine.base.Engine ('VIONEXUS', 1, 0)
2018-11-14 11:29:32,398 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,399 INFO sqlalchemy.engine.base.Engine ('MY LITTLE PONY GRAPE ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:29:32,401 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,402 INFO sqlalchemy.engine.base.Engine ('KLEENEX INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,405 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,407 INFO sqlalchemy.engine.base.Engine ('PDI SANI-HANDS FOR KIDS ANTIMICROBIAL ALCOHOL GEL HAND WIPES', 1, 0)
2018-11-14 11:29:32,410 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,411 INFO sqlalchemy.engine.base.Engine ('ZOONO ULTRA HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,413 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,414 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND COOL COCONUT', 1, 0)
2018-11-14 11:29:32,416 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,417 INFO sqlalchemy.engine.base.Engine ('PURELL EDUCATION ADVANCED HAND SANITIZER GENTLE AND FREE FOAM', 1, 0)
2018-11-14 11:29:32,420 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,421 INFO sqlalchemy.engine.base.Engine ('HEALTH SMART INSTANT HAND SANITIZER WITH ALOE VERA AND VITAMIN E CUCUMBER MELON', 1, 0)
2018-11-14 11:29:32,424 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,425 INFO sqlalchemy.engine.base.Engine ('3 PACK INSTANT HAND SANITIZER WITH MOISTURIZERS ALOE SCENTED', 1, 0)
2018-11-14 11:29:32,428 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,429 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND AMERICAN PEACE SIGN', 1, 0)
2018-11-14 11:29:32,432 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,433 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER CITRUS SCENT', 1, 0)
2018-11-14 11:29:32,435 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,436 INFO sqlalchemy.engine.base.Engine ('RUE 21 DREAM DANCE LOVE VANILLA SPICE ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,439 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,441 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS CHERRY ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,443 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,444 INFO sqlalchemy.engine.base.Engine ('PERFECT PURITY ADVANCED HAND REFRESHING ALOE', 1, 0)
2018-11-14 11:29:32,446 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,447 INFO sqlalchemy.engine.base.Engine ('EVERYONE HAND SANITIZER PEPPERMINT CITRUS', 1, 0)
2018-11-14 11:29:32,450 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,451 INFO sqlalchemy.engine.base.Engine ('FRAIS HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,454 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,456 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES CHERRY BLOSSOM SCENT HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,458 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,459 INFO sqlalchemy.engine.base.Engine ('CHARLIE GIRL BLUEBERRY ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,462 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,463 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER ORANGE', 1, 0)
2018-11-14 11:29:32,465 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,466 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND GOOD AT NAPS DEWY LAVENDER', 1, 0)
2018-11-14 11:29:32,468 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,469 INFO sqlalchemy.engine.base.Engine ('HER LT288 CITRUS LIMITED TOO HAND SANITIZER KIT', 1, 0)
2018-11-14 11:29:32,473 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,474 INFO sqlalchemy.engine.base.Engine ('LAUGHING LINEN', 1, 0)
2018-11-14 11:29:32,476 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,478 INFO sqlalchemy.engine.base.Engine ('BOARDWALK HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,480 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,481 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER ALOE VERA', 1, 0)

2018-11-14 11:29:32,483 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:32,485 INFO sqlalchemy.engine.base.Engine ('JUSTICE CREATE INSPIRE EXPLORE BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:29:32,487 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:32,489 INFO sqlalchemy.engine.base.Engine (123,)
2018-11-14 11:29:32,610 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,611 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND - WITCHS BREW AND SCAREDY CAT',)
2018-11-14 11:29:32,612 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,613 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER SWEET PAPAYA MANGO',)
2018-11-14 11:29:32,619 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,622 INFO sqlalchemy.engine.base.Engine ('SIMPLE HYGIENE HAND SANITIZER',)
2018-11-14 11:29:32,623 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,624 INFO sqlalchemy.engine.base.Engine ('MANGO MADNESS HAND SANITIZER',)
2018-11-14 11:29:32,626 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,627 INFO sqlalchemy.engine.base.Engine ('LAUGHING LINEN HAND SANITIZER',)
2018-11-14 11:29:32,630 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,631 INFO sqlalchemy.engine.base.Engine ('NATURAL EXTENSIONS FRAGRANCE- FREE INSTANT HAND SANITIZER',)
2018-11-14 11:29:32,632 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,633 INFO sqlalchemy.engine.base.Engine ('TOUGH GUY INSTANT HAND SANITIZER',)
2018-11-14 11:29:32,641 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,643 INFO sqlalchemy.engine.base.Engine ('LONDON HAND SANITIZER VANILLA SCENT',)
2018-11-14 11:29:32,644 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,647 INFO sqlalchemy.engine.base.Engine ('SWEET LOVE HAND SANITIZER BODYCOLOGY',)
2018-11-14 11:29:32,648 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,649 INFO sqlalchemy.engine.base.Engine ('ULTA MANDARIN MINT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,652 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,653 INFO sqlalchemy.engine.base.Engine ('HAN-I-SIZE',)
2018-11-14 11:29:32,656 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,657 INFO sqlalchemy.engine.base.Engine ('FIKES INSTANT HAND SANITIZER',)
2018-11-14 11:29:32,659 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,660 INFO sqlalchemy.engine.base.Engine ('SANIFOAM HAND SANITIZER',)
2018-11-14 11:29:32,661 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,663 INFO sqlalchemy.engine.base.Engine ('SANNYTIZE HAND SANITIZER',)
2018-11-14 11:29:32,673 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,674 INFO sqlalchemy.engine.base.Engine ('JUSTICE LATTE COTTON CANDY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,676 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,677 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WATERMELON SPLASH',)
2018-11-14 11:29:32,679 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,680 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PINK LEMON',)
2018-11-14 11:29:32,686 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,691 INFO sqlalchemy.engine.base.Engine ('VIRX HAND SANITIZER LIQUID',)
2018-11-14 11:29:32,692 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,693 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES STRAWBERRY SHORTCAKE ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,695 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,696 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER STRAWBERRY SCENTED',)
2018-11-14 11:29:32,697 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,703 INFO sqlalchemy.engine.base.Engine ('RUE21 MIDNIGHT MUSK ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,708 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,709 INFO sqlalchemy.engine.base.Engine ('SKIN-LUBE',)
2018-11-14 11:29:32,710 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,711 INFO sqlalchemy.engine.base.Engine ('MYRRH WOMAN ESSENCE',)
2018-11-14 11:29:32,718 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,718 INFO sqlalchemy.engine.base.Engine ('SAFEWAY INSTANT HAND SANITIZING WIPES',)
2018-11-14 11:29:32,720 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,723 INFO sqlalchemy.engine.base.Engine ('KUB CARTRIDGE REFILL ANTISEPTIC HAND SANITIZER UNSCENTED',)
2018-11-14 11:29:32,724 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,725 INFO sqlalchemy.engine.base.Engine ('DEB INSTANTFOAM COMPLETE',)
2018-11-14 11:29:32,726 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,732 INFO sqlalchemy.engine.base.Engine ('VANILLA SUGAR HAND SANITIZER',)
2018-11-14 11:29:32,734 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,735 INFO sqlalchemy.engine.base.Engine ('SIGNATURE ALCOHOL FOAMING HAND SANITIZER',)
2018-11-14 11:29:32,739 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,740 INFO sqlalchemy.engine.base.Engine ('SANIFOAM',)
2018-11-14 11:29:32,744 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,745 INFO sqlalchemy.engine.base.Engine ('SANELL HAND SANITIZER',)
2018-11-14 11:29:32,746 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,747 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER S BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,748 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,749 INFO sqlalchemy.engine.base.Engine ('RAINBOW BERRY HAND SANITIZER',)
2018-11-14 11:29:32,750 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,751 INFO sqlalchemy.engine.base.Engine ('JUSTICE PEPPERMINT TWIST SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,752 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,757 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER NATURALS GEL',)
2018-11-14 11:29:32,758 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,759 INFO sqlalchemy.engine.base.Engine ('FRESH UP ANTISEPTIC HAND',)
2018-11-14 11:29:32,760 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,761 INFO sqlalchemy.engine.base.Engine ('SANIKLEAN E3 HAND SANITIZER',)
2018-11-14 11:29:32,762 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,764 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER BE VIBRANT',)
2018-11-14 11:29:32,765 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,766 INFO sqlalchemy.engine.base.Engine ('ALLURING ENCOUNTER HAND SANITIZER',)
2018-11-14 11:29:32,769 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,772 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED E3 RATED INSTANT HAND SANITIZER FOAM',)

2018-11-14 11:29:32,774 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,775 INFO sqlalchemy.engine.base.Engine ('ASSURED ALOE SCENTED INSTANT HAND SANITIZER',)
2018-11-14 11:29:32,777 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,778 INFO sqlalchemy.engine.base.Engine ('SANI-HANDS INSTANT HAND SANITIZING WIPES',)
2018-11-14 11:29:32,779 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,780 INFO sqlalchemy.engine.base.Engine ('FOAMING HAND SANITIZER',)
2018-11-14 11:29:32,781 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,782 INFO sqlalchemy.engine.base.Engine ('SMILEPLUS ALCOHOL PAD',)
2018-11-14 11:29:32,784 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,786 INFO sqlalchemy.engine.base.Engine ('THIEVES WATERLESS HAND SANITIZER WITH PEPPERMINT OIL',)
2018-11-14 11:29:32,791 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,792 INFO sqlalchemy.engine.base.Engine ('AZURO',)
2018-11-14 11:29:32,794 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,795 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SANITIZER JAPANESE CHERRY BLOSSOM',)
2018-11-14 11:29:32,799 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,802 INFO sqlalchemy.engine.base.Engine ('ANTISEPTIC HAND GEL WITH ALOE',)
2018-11-14 11:29:32,803 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,805 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER G BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,808 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,808 INFO sqlalchemy.engine.base.Engine ('JUSTICE BRIGHT CITRUS SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,810 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,810 INFO sqlalchemy.engine.base.Engine ('PANROSA INSTANT ANTISEPTIC HAND SANITIZER WITH MOISTURIZERS',)
2018-11-14 11:29:32,811 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,812 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER W/CARABINER',)
2018-11-14 11:29:32,814 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,815 INFO sqlalchemy.engine.base.Engine ('CLEAN ALL',)
2018-11-14 11:29:32,816 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,817 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES LOTUS FLOWER SCENTED WATERLESS ANTI BACTERIAL HAND GEL',)
2018-11-14 11:29:32,819 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,820 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER B BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,824 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,829 INFO sqlalchemy.engine.base.Engine ('KLEENEX MOISTURIZING INSTANT HAND SANITIZER',)
2018-11-14 11:29:32,830 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,838 INFO sqlalchemy.engine.base.Engine ('70% ALCOHOL HAND SANITIZER',)
2018-11-14 11:29:32,843 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,843 INFO sqlalchemy.engine.base.Engine ('JUSTICE STRAWBERRY STARDUST SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,845 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,846 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER D BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,847 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,850 INFO sqlalchemy.engine.base.Engine ('JUSTICE MEOW MINT SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,851 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,852 INFO sqlalchemy.engine.base.Engine ('PHARMACY PRESCRIPTION 1.8OZ HAND SANITIZER - CUCUMBER MELON',)
2018-11-14 11:29:32,856 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,857 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND DANCING WATERS',)
2018-11-14 11:29:32,859 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,864 INFO sqlalchemy.engine.base.Engine ('RASPBERRY VANILLA SCENTED WATERLESS HAND SANITIZER',)
2018-11-14 11:29:32,866 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,867 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WINTER JUBILEE',)
2018-11-14 11:29:32,869 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,871 INFO sqlalchemy.engine.base.Engine ('RUE 21 YOUNG STRAWBERRY ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,873 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,874 INFO sqlalchemy.engine.base.Engine ('SANI WIPES',)
2018-11-14 11:29:32,876 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,878 INFO sqlalchemy.engine.base.Engine ('PDI SANI-HANDSINSTANT HAND SANI INSTANT HAND SANITIZING WIPES',)
2018-11-14 11:29:32,879 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,882 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS VANILLA ORCHID ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:32,885 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,887 INFO sqlalchemy.engine.base.Engine ('HANDI SANI',)
2018-11-14 11:29:32,889 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,891 INFO sqlalchemy.engine.base.Engine ('WHISKCARE 373',)
2018-11-14 11:29:32,892 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,894 INFO sqlalchemy.engine.base.Engine ('SANI SOFT',)
2018-11-14 11:29:32,895 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,896 INFO sqlalchemy.engine.base.Engine ('WHISKCARE 375',)
2018-11-14 11:29:32,898 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,899 INFO sqlalchemy.engine.base.Engine ('KINDRED GOODS HAND SANITIZER SEA SALT FIG',)
2018-11-14 11:29:32,901 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,904 INFO sqlalchemy.engine.base.Engine ('NICKELODEON JOJO SIWA HAND SANITIZER BERRY SWEET SCENT',)
2018-11-14 11:29:32,907 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,908 INFO sqlalchemy.engine.base.Engine ('THE FRESH MARKET HAND SANITIZER WITH MOISTURIZERS ALOE AND VITAMIN E',)
2018-11-14 11:29:32,910 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:32,911 INFO sqlalchemy.engine.base.Engine ('ILI HAND SANITIZER INSTANT',)
2018-11-14 11:29:33,684 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,685 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER P BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,688 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,691 INFO sqlalchemy.engine.base.Engine ('HES CLEAN PLUS',)
2018-11-14 11:29:33,694 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,696 INFO sqlalchemy.engine.base.Engine ('PRO ADVANTAGE INSTANT HAND SANITIZER',)
2018-11-14 11:29:33,697 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,699 INFO sqlalchemy.engine.base.Engine ('CVS HAND SANITIZER',)
2018-11-14 11:29:33,701 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,703 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WATERMELLON',)

2018-11-14 11:29:33,705 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,707 INFO sqlalchemy.engine.base.Engine ('OCEAN BREEZE ANTIBACTERIAL HAND',)
2018-11-14 11:29:33,711 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,712 INFO sqlalchemy.engine.base.Engine ('SANI MOUSSE',)
2018-11-14 11:29:33,715 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,718 INFO sqlalchemy.engine.base.Engine ('SWEET GRAPE ANTIBACTERIAL HAND',)
2018-11-14 11:29:33,720 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,721 INFO sqlalchemy.engine.base.Engine ('JUSTICE MIXED BERRY SCENT ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,725 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,728 INFO sqlalchemy.engine.base.Engine ('SOFTSAN',)
2018-11-14 11:29:33,730 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,731 INFO sqlalchemy.engine.base.Engine ('GERM BULLET',)
2018-11-14 11:29:33,733 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,734 INFO sqlalchemy.engine.base.Engine ('STERILLIUM COMFORT',)
2018-11-14 11:29:33,736 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,737 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PREVAIL',)
2018-11-14 11:29:33,739 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,741 INFO sqlalchemy.engine.base.Engine ('ALGONQUIN HANSAN',)
2018-11-14 11:29:33,744 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,746 INFO sqlalchemy.engine.base.Engine ('HOLIDAY WONDERS VANILLA PEPPERMINT ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,748 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,750 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS PASSION FRUIT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,751 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,754 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER CHOCOLATE',)
2018-11-14 11:29:33,755 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,756 INFO sqlalchemy.engine.base.Engine ('PEACH MANGO ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,759 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,762 INFO sqlalchemy.engine.base.Engine ('JUSTICE BFF COTTON CANDY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,764 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,765 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS VIOLET ROSE HAND SANITIZER',)
2018-11-14 11:29:33,767 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,769 INFO sqlalchemy.engine.base.Engine ('CRAZY COCONUT',)
2018-11-14 11:29:33,770 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,771 INFO sqlalchemy.engine.base.Engine ('JUSTICE PINAPPLE PIZAZZ SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,773 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,775 INFO sqlalchemy.engine.base.Engine ('HANDY SOLUTIONS INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E',)
2018-11-14 11:29:33,776 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,781 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E BEAD VANILLA SCENT',)
2018-11-14 11:29:33,782 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,783 INFO sqlalchemy.engine.base.Engine ('SOFT CARE INSTANT HAND SANITIZER',)
2018-11-14 11:29:33,785 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,786 INFO sqlalchemy.engine.base.Engine ('KLEENEX HAND SANITIZER, GREEN CERTIFIED',)
2018-11-14 11:29:33,787 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,788 INFO sqlalchemy.engine.base.Engine ('STAT-RINSE',)
2018-11-14 11:29:33,789 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,792 INFO sqlalchemy.engine.base.Engine ('XTRACARE INSTANT HAND SANITIZER ORIGINAL',)
2018-11-14 11:29:33,793 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,794 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER POCKET SPRAYER',)
2018-11-14 11:29:33,796 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,796 INFO sqlalchemy.engine.base.Engine ('SUNNY TROPICOLADA',)
2018-11-14 11:29:33,798 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,799 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING UNSCENTED',)
2018-11-14 11:29:33,802 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,804 INFO sqlalchemy.engine.base.Engine ('SANI PROFESSIONAL BRAND SANI-HANDS',)
2018-11-14 11:29:33,807 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,810 INFO sqlalchemy.engine.base.Engine ('BODY BLENDS APPLE ATTRACTION ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,812 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,813 INFO sqlalchemy.engine.base.Engine ('HEALTHY HANDS ALOE INSTANT HAND ANTIBACTERIAL',)
2018-11-14 11:29:33,815 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,816 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH MOISTURIZERS ALOE VERA AND MOISTURIZERS',)
2018-11-14 11:29:33,817 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,818 INFO sqlalchemy.engine.base.Engine ('ENCHANTED MOMENTS CANDY APPLE HAND SANITIZER',)
2018-11-14 11:29:33,819 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,823 INFO sqlalchemy.engine.base.Engine ('SANI PROFESSIONAL BRAND SANI-HANDS INSTANT HAND SANITIZING WIPES',)
2018-11-14 11:29:33,824 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,825 INFO sqlalchemy.engine.base.Engine ('JUSTICE FRUIT PUNCH SCENT ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,827 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,830 INFO sqlalchemy.engine.base.Engine ('ENCHANTED MOMENTS VANILLA SNOW HAND SANITIZER',)
2018-11-14 11:29:33,833 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,835 INFO sqlalchemy.engine.base.Engine ('GBGF',)
2018-11-14 11:29:33,839 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,840 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER BOTTLE WITH CARABINER',)
2018-11-14 11:29:33,843 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,844 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SANITIZER EUCALYPTUS SPEARMINT',)
2018-11-14 11:29:33,846 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,847 INFO sqlalchemy.engine.base.Engine ('AFASSCO HAND SANITIZER',)
2018-11-14 11:29:33,848 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,848 INFO sqlalchemy.engine.base.Engine ('GERM SOS SANITIZING WIPES',)
2018-11-14 11:29:33,849 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,851 INFO sqlalchemy.engine.base.Engine ('HAND-AID',)
2018-11-14 11:29:33,853 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,854 INFO sqlalchemy.engine.base.Engine ('PUMPKIN SPICE ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,855 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)

2018-11-14 11:29:33,857 INFO sqlalchemy.engine.base.Engine ('TRISEPTIN',)
2018-11-14 11:29:33,858 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,859 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES STRAWBERRY SCENTED WATERLESS ANTI BACTERIAL HAND GEL',)
2018-11-14 11:29:33,860 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,861 INFO sqlalchemy.engine.base.Engine ('ANTIMICROBIAL HAND SANITIZER',)
2018-11-14 11:29:33,862 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,863 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WINTER WONDERLAND SPICE',)
2018-11-14 11:29:33,865 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,866 INFO sqlalchemy.engine.base.Engine ('RITE AID INSTANT HAND SANITIZER',)
2018-11-14 11:29:33,869 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,870 INFO sqlalchemy.engine.base.Engine ('KINDRED GOODS HAND SANITIZER ORANGE BLOSSOM TEA',)
2018-11-14 11:29:33,873 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,874 INFO sqlalchemy.engine.base.Engine ('GERIGENTLE HAND WIPES',)
2018-11-14 11:29:33,876 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,877 INFO sqlalchemy.engine.base.Engine ('PERSONAL CARE HAND SANITIZER',)
2018-11-14 11:29:33,879 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,881 INFO sqlalchemy.engine.base.Engine ('AVANT ORIGINAL INSTANT HAND SANITIZER',)
2018-11-14 11:29:33,883 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,884 INFO sqlalchemy.engine.base.Engine ('RECENS A',)
2018-11-14 11:29:33,886 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,887 INFO sqlalchemy.engine.base.Engine ('ESCA HAND SANITIZING WIPES',)
2018-11-14 11:29:33,888 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,889 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PASSIONFRUIT POMEGRANATE',)
2018-11-14 11:29:33,890 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,892 INFO sqlalchemy.engine.base.Engine ('KONG HANDIPOD',)
2018-11-14 11:29:33,894 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,895 INFO sqlalchemy.engine.base.Engine ('PURELL COTTONY SOFT',)
2018-11-14 11:29:33,896 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,897 INFO sqlalchemy.engine.base.Engine ('ICEE BLUE RASPBERRY SCENTED HAND SANITIZER',)
2018-11-14 11:29:33,898 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,900 INFO sqlalchemy.engine.base.Engine ('ENMOTION HAND SANITIZER WITH MOISTURIZERS, FRAGRANCE FREE, DYE FREE',)
2018-11-14 11:29:33,901 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,902 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SPRAYING',)
2018-11-14 11:29:33,906 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,908 INFO sqlalchemy.engine.base.Engine ('INSTAFRESH',)
2018-11-14 11:29:33,912 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,914 INFO sqlalchemy.engine.base.Engine ('COCONUT LIME ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,916 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,918 INFO sqlalchemy.engine.base.Engine ('HIBISCUS BREEZE',)
2018-11-14 11:29:33,919 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,920 INFO sqlalchemy.engine.base.Engine ('BST99 INSTANT HAND SANITIZER',)
2018-11-14 11:29:33,921 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,923 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER BLUE RASPBERRY',)
2018-11-14 11:29:33,926 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,928 INFO sqlalchemy.engine.base.Engine ('TRAILWAYS HAND SANITIZER',)
2018-11-14 11:29:33,930 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,932 INFO sqlalchemy.engine.base.Engine ('SCOTT MOISTURIZING INSTANT HAND SANITIZER',)
2018-11-14 11:29:33,937 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,940 INFO sqlalchemy.engine.base.Engine ('SANI SPRITZ',)
2018-11-14 11:29:33,942 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,943 INFO sqlalchemy.engine.base.Engine ('JUSTICE BFF GO TOGETHER LIKE UNICORNS GLITTER BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,945 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,946 INFO sqlalchemy.engine.base.Engine ('EQUATE ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,948 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,952 INFO sqlalchemy.engine.base.Engine ('3 PACK ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS (VITAMIN E AND MOISTURIZERS) LAVENDER SCENTED',)
2018-11-14 11:29:33,954 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,955 INFO sqlalchemy.engine.base.Engine ('ADVANCED HAND SANITIZER',)
2018-11-14 11:29:33,957 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,959 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WITH MOISTURIZERS AND VITAMIN E',)
2018-11-14 11:29:33,961 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,963 INFO sqlalchemy.engine.base.Engine ('ALCOHOL',)
2018-11-14 11:29:33,965 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,966 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER PASSION FLOWER',)
2018-11-14 11:29:33,970 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,971 INFO sqlalchemy.engine.base.Engine ('3M AVAGARD FOAMING INSTANT HAND ANTISEPTIC',)
2018-11-14 11:29:33,973 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,975 INFO sqlalchemy.engine.base.Engine ('RUE21 DOUGHNUT SPRINKLES ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,977 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,979 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WINTERGREEN MINT',)
2018-11-14 11:29:33,981 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,982 INFO sqlalchemy.engine.base.Engine ('ANTIACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,985 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,988 INFO sqlalchemy.engine.base.Engine ('KROGER WATERLESS HAND SANITIZER CITRUS SCENT WITH MOISTURIZERS AND VITAMIN E',)
2018-11-14 11:29:33,991 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,993 INFO sqlalchemy.engine.base.Engine ('ADRIANA 12OZ HAND SANITIZER -ALOE VERA',)
2018-11-14 11:29:33,994 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,996 INFO sqlalchemy.engine.base.Engine ('JUSTICE BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:33,997 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:33,999 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES TIHITIAN VANILLA ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,001 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,002 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES FRENCH LAVENDER SCENTED WATERLESS ANTI BACTERIAL HAND GEL',)
2018-11-14 11:29:34,003 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,004 INFO sqlalchemy.engine.base.Engine ('EPOCH',)

2018-11-14 11:29:34,006 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,008 INFO sqlalchemy.engine.base.Engine ('FOAM SAN HAND SANITIZER',)
2018-11-14 11:29:34,012 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,013 INFO sqlalchemy.engine.base.Engine ('ALCO SAN',)
2018-11-14 11:29:34,015 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,015 INFO sqlalchemy.engine.base.Engine ('AVAGARD D',)
2018-11-14 11:29:34,017 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,018 INFO sqlalchemy.engine.base.Engine ('CLARIO FOAMING ALCOHOL INSTANT HAND SANITIZER',)
2018-11-14 11:29:34,019 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,020 INFO sqlalchemy.engine.base.Engine ('HER LT279 VANILLA LIMITED TOO HAND SANITIZER KIT',)
2018-11-14 11:29:34,023 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,024 INFO sqlalchemy.engine.base.Engine ('GOOD TO GO HAND SANITIZER',)
2018-11-14 11:29:34,026 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,028 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER LAVENDER SCENTED',)
2018-11-14 11:29:34,029 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,032 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES DAHLIA BLOSSOM SCENTED WATERLESS ANTI BACTERIAL HAND GEL',)
2018-11-14 11:29:34,034 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,039 INFO sqlalchemy.engine.base.Engine ('MADA',)
2018-11-14 11:29:34,044 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,044 INFO sqlalchemy.engine.base.Engine ('MOMMY TILLIA ANTIBACTERIAL HAND',)
2018-11-14 11:29:34,045 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,046 INFO sqlalchemy.engine.base.Engine ('ALCARE OR FOAMED ANTISEPTIC HANDRUB',)
2018-11-14 11:29:34,048 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,048 INFO sqlalchemy.engine.base.Engine ('MYTERRA HAND SANITIZER FOAM',)
2018-11-14 11:29:34,049 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,052 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES FRENCH LAVENDER WATERLESS ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,054 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,056 INFO sqlalchemy.engine.base.Engine ('SOFTSOAP INSTANT HAND SANITIZER WITH MOISTURIZERS',)
2018-11-14 11:29:34,058 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,061 INFO sqlalchemy.engine.base.Engine ('GLOBAL CARE INSTANT HAND SANITIZER 1.8OZ',)
2018-11-14 11:29:34,062 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,063 INFO sqlalchemy.engine.base.Engine ('TRADER JOES HAND SANITIZER GRAPEFRUIT LEMON',)
2018-11-14 11:29:34,064 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,064 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER - VANILLA SCENTED',)
2018-11-14 11:29:34,066 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,067 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER CONVENIENCE PACK',)
2018-11-14 11:29:34,068 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,070 INFO sqlalchemy.engine.base.Engine ('ALCOHOL WIPES',)
2018-11-14 11:29:34,071 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,072 INFO sqlalchemy.engine.base.Engine ('SAFEGUARD HAND SANITIZER',)
2018-11-14 11:29:34,077 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,078 INFO sqlalchemy.engine.base.Engine ('SKIN PROTECTANT ORIGINAL',)
2018-11-14 11:29:34,080 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,080 INFO sqlalchemy.engine.base.Engine ('3 PACK ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS (VITAMIN E AND ALOE) LEMON SCENTED',)
2018-11-14 11:29:34,082 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,083 INFO sqlalchemy.engine.base.Engine ('DR TICHENORS FIRST AID ANTISPETIC',)
2018-11-14 11:29:34,085 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,087 INFO sqlalchemy.engine.base.Engine ('MINI HAND SANITIZER - ORANGE AND LEMON',)
2018-11-14 11:29:34,088 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,090 INFO sqlalchemy.engine.base.Engine ('RUE21 RUNWAY 21 ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,092 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,093 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SANITIZER SUGAR LEMON FIZZ',)
2018-11-14 11:29:34,094 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,095 INFO sqlalchemy.engine.base.Engine ('HER LH2475 VANILLA SCENTED HAND SANITIZER KIT',)
2018-11-14 11:29:34,097 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,098 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WARM HOLIDAY TREATS',)
2018-11-14 11:29:34,099 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,100 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER WITH VITAMINE E',)
2018-11-14 11:29:34,101 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,103 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E BEAD STRAWBERRY SCENT',)
2018-11-14 11:29:34,106 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,108 INFO sqlalchemy.engine.base.Engine ('PURELL WATERLESS SURGICAL SCRUB',)
2018-11-14 11:29:34,109 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,111 INFO sqlalchemy.engine.base.Engine ('WATERMELON ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,113 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,115 INFO sqlalchemy.engine.base.Engine ('FRIUTS AND FLOWERS CLEAN COTTON WATERLESS HAND SANITIZER',)
2018-11-14 11:29:34,116 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,117 INFO sqlalchemy.engine.base.Engine ('FRESH BREEZE',)
2018-11-14 11:29:34,118 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,119 INFO sqlalchemy.engine.base.Engine ('BODYCOLOGY MOISTURIZING HAND SANITIZER CHERRY BLOSSOM',)
2018-11-14 11:29:34,120 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,121 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS LILY BLOSSOM ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,122 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,123 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER CRANBERRY TART',)
2018-11-14 11:29:34,127 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,129 INFO sqlalchemy.engine.base.Engine ('AIRE-MASTER',)
2018-11-14 11:29:34,130 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,131 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER CIRCLE K',)
2018-11-14 11:29:34,132 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,133 INFO sqlalchemy.engine.base.Engine ('WHISKCARE 371',)
2018-11-14 11:29:34,134 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,139 INFO sqlalchemy.engine.base.Engine ('PURELL PROFESSIONAL ADVANCED HAND SANITIZER FRAGRANCE FREE FOAM',)
2018-11-14 11:29:34,142 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)

2018-11-14 11:29:34,144 INFO sqlalchemy.engine.base.Engine ('LOVE YOU BERRY MUCH',)
2018-11-14 11:29:34,145 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,146 INFO sqlalchemy.engine.base.Engine ('ENMOTION FOAM HAND SANITIZER W-MOISTURIZERS, FRAGRANCE FREE',)
2018-11-14 11:29:34,147 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,148 INFO sqlalchemy.engine.base.Engine ('SWISS HAND GUARD ANTISEPTIC HANDWASH ANTIBACTERIAL',)
2018-11-14 11:29:34,149 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,150 INFO sqlalchemy.engine.base.Engine ('BODY BLENDS VANILLA SUGAR ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,151 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,159 INFO sqlalchemy.engine.base.Engine ('ULTA FRESHWATER MIST ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,162 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,163 INFO sqlalchemy.engine.base.Engine ('PURELL INSTANT HAND SANITIZER OCEAN MIST',)
2018-11-14 11:29:34,164 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,165 INFO sqlalchemy.engine.base.Engine ('ASSURED INSTANT HAND SANITIZER',)
2018-11-14 11:29:34,166 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,167 INFO sqlalchemy.engine.base.Engine ('7-11 INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E',)
2018-11-14 11:29:34,168 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,169 INFO sqlalchemy.engine.base.Engine ('STAPLES HAND SANITIZER ALOE',)
2018-11-14 11:29:34,170 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,172 INFO sqlalchemy.engine.base.Engine ('ISAGEL',)
2018-11-14 11:29:34,176 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,179 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER J BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,180 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,184 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER VITAMIN E',)
2018-11-14 11:29:34,185 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,186 INFO sqlalchemy.engine.base.Engine ('UNITED LABORATORIES 464 PUMP AND PROTECT ALCOHOL HAND SANITIZER',)
2018-11-14 11:29:34,187 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,188 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY LAVENDER JASMINE',)
2018-11-14 11:29:34,189 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,190 INFO sqlalchemy.engine.base.Engine ('RUE21 COCO BREEZE ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,193 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,194 INFO sqlalchemy.engine.base.Engine ('BLOCKOUT FOOT WIPES',)
2018-11-14 11:29:34,195 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,196 INFO sqlalchemy.engine.base.Engine ('ULTA LAVENDER WOODS ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,200 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,201 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS',)
2018-11-14 11:29:34,203 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,209 INFO sqlalchemy.engine.base.Engine ('PHARMACY PRESCRIPTION 1.8OZ HAND SANITIZER - SWEET PEA',)
2018-11-14 11:29:34,210 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,212 INFO sqlalchemy.engine.base.Engine ('RUE21 SUGAR COOKIE ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,213 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,214 INFO sqlalchemy.engine.base.Engine ('RECENS ULTRA',)
2018-11-14 11:29:34,218 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,219 INFO sqlalchemy.engine.base.Engine ('JUSTICE MERMAID MIX BERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,222 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,223 INFO sqlalchemy.engine.base.Engine ('PREFERENCE HAND SANITIZER',)
2018-11-14 11:29:34,227 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,228 INFO sqlalchemy.engine.base.Engine ('ALCO-SAN INSTANT SKIN SANITIZER',)
2018-11-14 11:29:34,230 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,231 INFO sqlalchemy.engine.base.Engine ('JUSTICE SUGAR SWIRL SCENT ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,232 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,233 INFO sqlalchemy.engine.base.Engine ('GBG',)
2018-11-14 11:29:34,234 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,236 INFO sqlalchemy.engine.base.Engine ('BODYCOLOGY MOISTURIZING HAND SANITIZER SWEET PETALS',)
2018-11-14 11:29:34,237 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,238 INFO sqlalchemy.engine.base.Engine ('3 HAND SANITIZERS KIT',)
2018-11-14 11:29:34,241 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,244 INFO sqlalchemy.engine.base.Engine ('PRIME SOURCE HAND SANITIZER',)
2018-11-14 11:29:34,247 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,248 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER VANILLA',)
2018-11-14 11:29:34,249 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,250 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER ORANGE TANGERINE',)
2018-11-14 11:29:34,251 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,252 INFO sqlalchemy.engine.base.Engine ('ALCOHOL FOAMING HAND SANITIZER',)
2018-11-14 11:29:34,253 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,255 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER LEMON',)
2018-11-14 11:29:34,256 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,259 INFO sqlalchemy.engine.base.Engine ('MOJITO SUN',)
2018-11-14 11:29:34,264 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,265 INFO sqlalchemy.engine.base.Engine ('SYMMETRY FOAMING HAND SANITIZER-FRAGRANCE FREE WITH ALOE AND VITAMIN E',)
2018-11-14 11:29:34,266 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,268 INFO sqlalchemy.engine.base.Engine ('BATMAN BERRY SCENTED ANTISEPTIC HAND CLEANSING',)
2018-11-14 11:29:34,269 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,270 INFO sqlalchemy.engine.base.Engine ('RUE 21 FALLEN VIXEN ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,271 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,272 INFO sqlalchemy.engine.base.Engine ('MUELLER INSTANT HAND SANITIZER',)
2018-11-14 11:29:34,273 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,275 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER STRAWBERRY',)
2018-11-14 11:29:34,277 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,278 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER PEACH',)
2018-11-14 11:29:34,280 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,282 INFO sqlalchemy.engine.base.Engine ('REGULAR ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,286 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,288 INFO sqlalchemy.engine.base.Engine ('PRIME-CIDE',)

2018-11-14 11:29:34,289 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,290 INFO sqlalchemy.engine.base.Engine ('SANITEX MVP INSTANT HAND SANITIZER',)
2018-11-14 11:29:34,293 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,295 INFO sqlalchemy.engine.base.Engine ('PRETTY PUNCH',)
2018-11-14 11:29:34,296 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,296 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND WARM VANILLA SUGAR',)
2018-11-14 11:29:34,299 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,300 INFO sqlalchemy.engine.base.Engine ('ISOPROPYL ALCOHOL',)
2018-11-14 11:29:34,300 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,302 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER NIGHTIME WINTERBERRY',)
2018-11-14 11:29:34,304 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,305 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER ANTICEPTIC',)
2018-11-14 11:29:34,309 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,312 INFO sqlalchemy.engine.base.Engine ('TRISEPTIN HAND AND BODY ANTISEPTIC',)
2018-11-14 11:29:34,313 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,316 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER ALOE VERA (62%)',)
2018-11-14 11:29:34,317 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,318 INFO sqlalchemy.engine.base.Engine ('HOLIDAY WONDERS SUGARED PLUMS ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,319 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,321 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E',)
2018-11-14 11:29:34,323 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,324 INFO sqlalchemy.engine.base.Engine ('ONE STEP SANITIZER',)
2018-11-14 11:29:34,327 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,329 INFO sqlalchemy.engine.base.Engine ('HANDI-SANI',)
2018-11-14 11:29:34,330 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,330 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER VANILLA CINNAMON SCENTED',)
2018-11-14 11:29:34,332 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,332 INFO sqlalchemy.engine.base.Engine ('DYNAREX GREEN',)
2018-11-14 11:29:34,334 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,335 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E LAVENDER',)
2018-11-14 11:29:34,336 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,337 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER FRESH PEPPERMINT CHEER',)
2018-11-14 11:29:34,338 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,340 INFO sqlalchemy.engine.base.Engine ('WINTER VANILLA HAND SANITIZER BODYCOLOGY',)
2018-11-14 11:29:34,342 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,344 INFO sqlalchemy.engine.base.Engine ('SANI-SILK',)
2018-11-14 11:29:34,345 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,346 INFO sqlalchemy.engine.base.Engine ('JUSTICE TRIBAL TANGERINE SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,347 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,348 INFO sqlalchemy.engine.base.Engine ('FAMILY DOLLAR INSTANT HAND SANITIZER WITH MOISTURIZERS AND VITAMIN E',)
2018-11-14 11:29:34,349 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,350 INFO sqlalchemy.engine.base.Engine ('COCONUT LIME',)
2018-11-14 11:29:34,352 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,353 INFO sqlalchemy.engine.base.Engine ('HAND GUARD FOAMING INSTANT HAND SANITIZER',)
2018-11-14 11:29:34,354 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,354 INFO sqlalchemy.engine.base.Engine ('CITRUS SUNSHINE',)
2018-11-14 11:29:34,355 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,356 INFO sqlalchemy.engine.base.Engine ('FAITH FAMILY DUCKS ANTISEPTIC HAND CLEANSING',)
2018-11-14 11:29:34,356 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,357 INFO sqlalchemy.engine.base.Engine ('CREDIT CARD SHAPE HAND SANITIZER',)
2018-11-14 11:29:34,358 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,359 INFO sqlalchemy.engine.base.Engine ('LA BODIES PURITA ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,361 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,362 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER M BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,363 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,364 INFO sqlalchemy.engine.base.Engine ('MY LITTLE PONY ANTIBACTERIAL HAND SANITIZER WITH MOISTURIZERS',)
2018-11-14 11:29:34,365 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,366 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS UNSCENTED',)
2018-11-14 11:29:34,366 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,367 INFO sqlalchemy.engine.base.Engine ('INFECTIGUARD FAST ACTING ANTISEPTIC HAND SANITIZER WITH MOISTURIZER',)
2018-11-14 11:29:34,368 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,369 INFO sqlalchemy.engine.base.Engine ('JUST 4 GIRL WATERLESS ANTI BACTERIAL HAND SANITIZER BERRY BLAST',)
2018-11-14 11:29:34,370 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,371 INFO sqlalchemy.engine.base.Engine ('PURRFECT CHERRY',)
2018-11-14 11:29:34,372 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,373 INFO sqlalchemy.engine.base.Engine ('CARE',)
2018-11-14 11:29:34,374 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,375 INFO sqlalchemy.engine.base.Engine ('JUSTICE CACTUS VANILLA SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,376 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,377 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WARM FIREPLACE GATHERING',)
2018-11-14 11:29:34,378 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,379 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND AROMATHERAPY STRESS RELIEF EUCALYPTUS SPEARMINT',)
2018-11-14 11:29:34,380 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,381 INFO sqlalchemy.engine.base.Engine ('KINDRED GOODS HAND SANITIZER ISLAND ORCHARD COCONUT',)
2018-11-14 11:29:34,383 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,384 INFO sqlalchemy.engine.base.Engine ('MICROBAN UNSCENTED',)
2018-11-14 11:29:34,385 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,386 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER ULTRA NOURISHING FOAM',)
2018-11-14 11:29:34,388 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,389 INFO sqlalchemy.engine.base.Engine ('APRIL BATH AND SHOWER CUCUMBER MELON SCENTED ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,390 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,392 INFO sqlalchemy.engine.base.Engine ('FRESH HAND SANITIZER WITH VITAMIN E AND ALOE',)

2018-11-14 11:29:34,393 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,395 INFO sqlalchemy.engine.base.Engine ('COCONUT LIME ANTIBACTERIAL SANITIZER',)
2018-11-14 11:29:34,397 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,398 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER RAZZ',)
2018-11-14 11:29:34,400 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,401 INFO sqlalchemy.engine.base.Engine ('HAND-E XL',)
2018-11-14 11:29:34,403 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,404 INFO sqlalchemy.engine.base.Engine ('ALCARE EXTRA HAND SANITIZER',)
2018-11-14 11:29:34,405 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,406 INFO sqlalchemy.engine.base.Engine ('PROCURE HAND SANITIZING',)
2018-11-14 11:29:34,407 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,408 INFO sqlalchemy.engine.base.Engine ('TRITON HS-777',)
2018-11-14 11:29:34,409 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,414 INFO sqlalchemy.engine.base.Engine ('JUSTICE BEAUTIFUL BERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,415 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,416 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND FIZZY FRUIT POP',)
2018-11-14 11:29:34,417 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,418 INFO sqlalchemy.engine.base.Engine ('GBG ALOEGEL',)
2018-11-14 11:29:34,421 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,422 INFO sqlalchemy.engine.base.Engine ('FOREVER HAND SANITIZER HAND SANITIZER',)
2018-11-14 11:29:34,423 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,424 INFO sqlalchemy.engine.base.Engine ('HER LH2473 VANILLA SCENTED HAND SANITIZER KIT',)
2018-11-14 11:29:34,425 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,426 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER WATERMELON SCENTED',)
2018-11-14 11:29:34,427 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,428 INFO sqlalchemy.engine.base.Engine ('KUB CARTRIDGE REFEEL ANTISEPTIC HAND SANITIZER UNSCENTED',)
2018-11-14 11:29:34,433 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,436 INFO sqlalchemy.engine.base.Engine ('BELLA MAISON TROPICAL VANILLA ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,437 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,438 INFO sqlalchemy.engine.base.Engine ('IRRESISTIBLE APPLE SCENTED HAND SANITIZER',)
2018-11-14 11:29:34,439 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,440 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER BIOBASED CONTENT',)
2018-11-14 11:29:34,441 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,443 INFO sqlalchemy.engine.base.Engine ('ISO-QUIN',)
2018-11-14 11:29:34,445 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,446 INFO sqlalchemy.engine.base.Engine ('XOXO KIT BODYCOLOGY',)
2018-11-14 11:29:34,447 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,451 INFO sqlalchemy.engine.base.Engine ('ANTIMICROBIAL ALCOHOL HAND',)
2018-11-14 11:29:34,455 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,456 INFO sqlalchemy.engine.base.Engine ('JUSTICE DANCE ORANGE SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,458 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,461 INFO sqlalchemy.engine.base.Engine ('ANGEL FOODCAKE HAND SANITIZER',)
2018-11-14 11:29:34,462 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,465 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SUGARED BERRY',)
2018-11-14 11:29:34,467 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,468 INFO sqlalchemy.engine.base.Engine ('JUSTICE MAGICAL MELON SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:34,470 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,471 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER ORIGINAL WITH ALOE VERA AND VITAMIN E',)
2018-11-14 11:29:34,472 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,472 INFO sqlalchemy.engine.base.Engine ('HER LT289 VANILLA LIMITED TOO HAND SANITIZER KIT',)
2018-11-14 11:29:34,473 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:34,474 INFO sqlalchemy.engine.base.Engine ('FOAMFRESH ALCO-FOAM HAND SANITIZER',)
2018-11-14 11:29:34,475 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,526 INFO sqlalchemy.engine.base.Engine ('DOTS ASIAN SPICE ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,532 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,533 INFO sqlalchemy.engine.base.Engine ('MEDISOFT',)
2018-11-14 11:29:35,534 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,535 INFO sqlalchemy.engine.base.Engine ('HANDFUL SANITIZER',)
2018-11-14 11:29:35,536 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,537 INFO sqlalchemy.engine.base.Engine ('PDI SANI-HANDS INSTANT HAND SANITIZING WIPES',)
2018-11-14 11:29:35,539 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,541 INFO sqlalchemy.engine.base.Engine ('ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS ALOE VERA AND MOISTURIZERS',)
2018-11-14 11:29:35,542 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,544 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS ICED COOKIE ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,546 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,549 INFO sqlalchemy.engine.base.Engine ('JUSTICE ELEPHANT MANGO SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,550 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,551 INFO sqlalchemy.engine.base.Engine ('PURELL INSTANT ULTRA',)
2018-11-14 11:29:35,553 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,553 INFO sqlalchemy.engine.base.Engine ('ULTA VANILLA SUGAR ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,554 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,555 INFO sqlalchemy.engine.base.Engine ('RUE21 CHERRY ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,557 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,557 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER SPRINKLED WITH LOVE',)
2018-11-14 11:29:35,559 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,560 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING MANDARIN',)
2018-11-14 11:29:35,562 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,566 INFO sqlalchemy.engine.base.Engine ('PURELL FOOD PROCESSING ADVANCED HAND SANITIZER E3 FOAM',)
2018-11-14 11:29:35,568 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,569 INFO sqlalchemy.engine.base.Engine ('RUE21 OCEAN ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,571 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,572 INFO sqlalchemy.engine.base.Engine ('JUSTICE TORTOISE GREEN APPLE SCENT ANTI-BACTERIAL HAND SANITIZER',)

2018-11-14 11:29:35,573 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,573 INFO sqlalchemy.engine.base.Engine ('SAFE HANDS HAND SANITIZER WITH ALCOHOL',)
2018-11-14 11:29:35,574 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,575 INFO sqlalchemy.engine.base.Engine ('RUE BEAUTE VANILLA CUPCAKE HAND SANITIZER',)
2018-11-14 11:29:35,576 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,577 INFO sqlalchemy.engine.base.Engine ('PURELL HEALTHCARE ADVANCED HAND SANITIZER ULTRA NOURISHING FOAM',)
2018-11-14 11:29:35,578 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,579 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND HELLO IM A UNICORN BERRY LEMONADE',)
2018-11-14 11:29:35,581 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,582 INFO sqlalchemy.engine.base.Engine ('NATURALS CUCUMBER MELON ANTIBACTERIAL HAND',)
2018-11-14 11:29:35,584 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,584 INFO sqlalchemy.engine.base.Engine ('BELLA MAISON COCONUT PINEAPPLE ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,586 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,587 INFO sqlalchemy.engine.base.Engine ('PHARMACY PRESCRIPTION 1.8OZ HAND SANITIZER - SWEET PEACH',)
2018-11-14 11:29:35,589 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,590 INFO sqlalchemy.engine.base.Engine ('SCOTT MOISTURIZING FOAM HAND SANITIZER (ULTRA)',)
2018-11-14 11:29:35,592 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,593 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING TEACHERS RULE MANDARIN',)
2018-11-14 11:29:35,595 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,596 INFO sqlalchemy.engine.base.Engine ('COCONUT TUBEROSE',)
2018-11-14 11:29:35,597 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,599 INFO sqlalchemy.engine.base.Engine ('TRISEPTIN WATER AIDED',)
2018-11-14 11:29:35,600 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,601 INFO sqlalchemy.engine.base.Engine ('AMOVEO UNSCENTED',)
2018-11-14 11:29:35,602 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,603 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND OCEAN FOR MEN',)
2018-11-14 11:29:35,603 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,604 INFO sqlalchemy.engine.base.Engine ('CHEEKY FRESH',)
2018-11-14 11:29:35,605 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,606 INFO sqlalchemy.engine.base.Engine ('VANILLA CUPCAKE ANTI-BACTERIAL SCENTED HAND SANITIZER',)
2018-11-14 11:29:35,607 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,608 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER',)
2018-11-14 11:29:35,609 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,610 INFO sqlalchemy.engine.base.Engine ('3M AVAGARD INSTANT HAND ANTISEPTIC WITH MOISTURIZERS',)
2018-11-14 11:29:35,611 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,612 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS ALOE SCENTED',)
2018-11-14 11:29:35,614 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,616 INFO sqlalchemy.engine.base.Engine ('SWEET PEA WATERLESS ANTI-ANTIBATERIA HAND SANITIZER',)
2018-11-14 11:29:35,618 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,619 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES ENGLISH PEAR ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,620 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,622 INFO sqlalchemy.engine.base.Engine ('FOAM AID',)
2018-11-14 11:29:35,624 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,625 INFO sqlalchemy.engine.base.Engine ('HEALTHY HANDS INSTANT ANTISEPTIC HAND CLEANSER',)
2018-11-14 11:29:35,626 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,629 INFO sqlalchemy.engine.base.Engine ('SCOTT MOISTURIZING FOAM HAND SANITIZER',)
2018-11-14 11:29:35,631 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,635 INFO sqlalchemy.engine.base.Engine ('NORTHSIDE HOSPITAL AMENITY KIT--GI DEPT',)
2018-11-14 11:29:35,640 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,644 INFO sqlalchemy.engine.base.Engine ('SELECT ANTISEPTIC HAND GEL WITH ALOE',)
2018-11-14 11:29:35,648 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,650 INFO sqlalchemy.engine.base.Engine ('CUCUMBER MELON ANTIBACTERIAL SANITIZER',)
2018-11-14 11:29:35,653 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,654 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E LEMON FRESH SCENT',)
2018-11-14 11:29:35,656 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,664 INFO sqlalchemy.engine.base.Engine ('FROSTED CRANBERRY ANTI-BACTERIAL SCENTED HAND SANITIZER',)
2018-11-14 11:29:35,666 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,668 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND HELLO BEAUTIFUL',)
2018-11-14 11:29:35,670 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,670 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER REVITALIZING RAIN',)
2018-11-14 11:29:35,672 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,672 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER MANDARIN MEDLEY',)
2018-11-14 11:29:35,676 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,677 INFO sqlalchemy.engine.base.Engine ('INFECTIGUARD FAST ACTING ANTISEPTIC HAND SANITIZER',)
2018-11-14 11:29:35,678 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,679 INFO sqlalchemy.engine.base.Engine ('PURELL HEALTHCARE ADVANCED HAND SANITIZER GEL',)
2018-11-14 11:29:35,685 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,687 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER CITRUS SCENTED',)
2018-11-14 11:29:35,690 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,690 INFO sqlalchemy.engine.base.Engine ('RUE21 VANILLA SPICE ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,694 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,695 INFO sqlalchemy.engine.base.Engine ('HAND SAN',)
2018-11-14 11:29:35,705 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,709 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER GRAPE',)
2018-11-14 11:29:35,711 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,712 INFO sqlalchemy.engine.base.Engine ('AMORAY PREMIUM INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E ORIGINAL',)
2018-11-14 11:29:35,713 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,714 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ORANCE',)
2018-11-14 11:29:35,715 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,717 INFO sqlalchemy.engine.base.Engine ('ALCARE FOAMED ANTISEPTIC HANDRUB',)
2018-11-14 11:29:35,717 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,718 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER GRAPEFRUIT',)

2018-11-14 11:29:35,720 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,722 INFO sqlalchemy.engine.base.Engine ('APPLE ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,723 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,724 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER MINT',)
2018-11-14 11:29:35,725 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,728 INFO sqlalchemy.engine.base.Engine ('QSR HAND SANITIZER',)
2018-11-14 11:29:35,731 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,734 INFO sqlalchemy.engine.base.Engine ('JUSTICE SPARKLING BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,736 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,737 INFO sqlalchemy.engine.base.Engine ('BLACKBERRY VANILLA HAND SANITIZER BODYCOLOGY',)
2018-11-14 11:29:35,738 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,739 INFO sqlalchemy.engine.base.Engine ('KAY ALPHASAN HAND SANITIZER',)
2018-11-14 11:29:35,741 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,743 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS ALOE CUCUMBER HAND SANITIZER',)
2018-11-14 11:29:35,744 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,747 INFO sqlalchemy.engine.base.Engine ('FACILITY MAINTENANCE INSTANT HAND SANITIZER HS-67',)
2018-11-14 11:29:35,750 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,751 INFO sqlalchemy.engine.base.Engine ('SWEET CANDY KISS SANITIZER PEN',)
2018-11-14 11:29:35,754 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,754 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND ARCTIC BLAST',)
2018-11-14 11:29:35,757 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,759 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER STRAWBERRY',)
2018-11-14 11:29:35,760 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,762 INFO sqlalchemy.engine.base.Engine ('ANTIMICROBIAL ALCOHOL HAND WIPES',)
2018-11-14 11:29:35,765 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,766 INFO sqlalchemy.engine.base.Engine ('STAT-FOAM',)
2018-11-14 11:29:35,767 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,769 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS SWEET PEA SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,772 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,774 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER OCEAN KISS',)
2018-11-14 11:29:35,777 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,779 INFO sqlalchemy.engine.base.Engine ('PDI ALCOHOL SWABSTICK THREES AND ONES',)
2018-11-14 11:29:35,782 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,783 INFO sqlalchemy.engine.base.Engine ('CLEAR DEFENSE HAND SANITIZING WIPES',)
2018-11-14 11:29:35,787 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,789 INFO sqlalchemy.engine.base.Engine ('SANI',)
2018-11-14 11:29:35,792 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,793 INFO sqlalchemy.engine.base.Engine ('PIZZA PARTY HAND SANITIZER',)
2018-11-14 11:29:35,794 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,798 INFO sqlalchemy.engine.base.Engine ('FROSTED BERRIES AND CREAM SANITIZER PEN',)
2018-11-14 11:29:35,800 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,801 INFO sqlalchemy.engine.base.Engine ('MIX BERRIES ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,802 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,803 INFO sqlalchemy.engine.base.Engine ('PHARMACY PRESCRIPTION 1.8OZ HAND SANITIZER - ORIGINAL SCENT',)
2018-11-14 11:29:35,805 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,810 INFO sqlalchemy.engine.base.Engine ('JUSTICE FROSTED CUPCAKE SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,812 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,814 INFO sqlalchemy.engine.base.Engine ('PHARMACYS PRESCRIPTION 1.8OZ HAND SANITIZER SWEET PEACH',)
2018-11-14 11:29:35,817 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,818 INFO sqlalchemy.engine.base.Engine ('QC 8OZ INSTANT HAND SANITIZER (ORIGINAL)',)
2018-11-14 11:29:35,820 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,820 INFO sqlalchemy.engine.base.Engine ('VANILLA SUGAR ANTIBACTERIAL HAND',)
2018-11-14 11:29:35,822 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,823 INFO sqlalchemy.engine.base.Engine ('TAMPA GENERAL HOSPITAL INSTANT HAND DEGERMER',)
2018-11-14 11:29:35,825 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,826 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER TOMATO',)
2018-11-14 11:29:35,827 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,829 INFO sqlalchemy.engine.base.Engine ('ANTISEPTIC HAND SANITIZER',)
2018-11-14 11:29:35,831 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,832 INFO sqlalchemy.engine.base.Engine ('RECENS',)
2018-11-14 11:29:35,835 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,837 INFO sqlalchemy.engine.base.Engine ('CHARLIE GIRL STRAWBERRY ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,839 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,840 INFO sqlalchemy.engine.base.Engine ('SOFT CARE FRAGRANCE FREE INSTANT HAND SANITIZER',)
2018-11-14 11:29:35,841 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,842 INFO sqlalchemy.engine.base.Engine ('ALTITUDEMEDICAL HAND ANTIBACTERIAL',)
2018-11-14 11:29:35,843 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,844 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER PEACH 250ML',)
2018-11-14 11:29:35,845 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,848 INFO sqlalchemy.engine.base.Engine ('GERM-X',)
2018-11-14 11:29:35,850 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,852 INFO sqlalchemy.engine.base.Engine ('MARSHMALLOW ANTIBACTERIAL HAND',)
2018-11-14 11:29:35,854 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,855 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER ALOE VERA (70% V/V)',)
2018-11-14 11:29:35,858 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,860 INFO sqlalchemy.engine.base.Engine ('ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS VITAMIN E AND ALOE',)
2018-11-14 11:29:35,862 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,864 INFO sqlalchemy.engine.base.Engine ('SOFT N SURE ANTISEPTIC HAND',)
2018-11-14 11:29:35,866 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,867 INFO sqlalchemy.engine.base.Engine ('AMERICAN INFECTION CONTROL ANTISEPTIC BODY WIPES',)
2018-11-14 11:29:35,868 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,870 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY RASPBERRY BRULEE',)
2018-11-14 11:29:35,871 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)

2018-11-14 11:29:35,872 INFO sqlalchemy.engine.base.Engine ('COOL CLEMENTINE ANTI-BACTERIAL SCENTED HAND SANITIZER',)
2018-11-14 11:29:35,873 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,874 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER HAND SANITIZER BEACH',)
2018-11-14 11:29:35,877 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,879 INFO sqlalchemy.engine.base.Engine ('3 PACK INSTANT HAND SANITIZER WITH MOISTURIZERS',)
2018-11-14 11:29:35,880 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,884 INFO sqlalchemy.engine.base.Engine ('ICING WINTERBERRY ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,886 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,887 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER C BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,888 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,890 INFO sqlalchemy.engine.base.Engine ('FREE HAND',)
2018-11-14 11:29:35,892 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,893 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND GIFT SET ICY MINT AND CANDY CANE',)
2018-11-14 11:29:35,894 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,897 INFO sqlalchemy.engine.base.Engine ('PRO-LINK HAND SANITIZER',)
2018-11-14 11:29:35,899 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,900 INFO sqlalchemy.engine.base.Engine ('CVS PHARMACY INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E',)
2018-11-14 11:29:35,901 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,902 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E BERRIES',)
2018-11-14 11:29:35,903 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,904 INFO sqlalchemy.engine.base.Engine ('EVERYONE HAND SANITIZER COCONUT LEMON',)
2018-11-14 11:29:35,905 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,906 INFO sqlalchemy.engine.base.Engine ('KROGER WATERLESS HAND SANITIZER WITH ALOE WITH MOISTURIZERS AND VITAMIN E',)
2018-11-14 11:29:35,908 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,909 INFO sqlalchemy.engine.base.Engine ('ECOLAB',)
2018-11-14 11:29:35,910 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,911 INFO sqlalchemy.engine.base.Engine ('HANITIZER',)
2018-11-14 11:29:35,912 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,913 INFO sqlalchemy.engine.base.Engine ('CLINICAL WORKS OCEAN BREEZE WATERLESS HAND SANITIZER',)
2018-11-14 11:29:35,914 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,915 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND MISTLETOE AND MINT',)
2018-11-14 11:29:35,916 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,917 INFO sqlalchemy.engine.base.Engine ('INSTANT FOAM',)
2018-11-14 11:29:35,917 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,918 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS CRISP BAMBOO ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,918 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,919 INFO sqlalchemy.engine.base.Engine ('JUSTICE DAZZLING BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,920 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,921 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER CHERRY',)
2018-11-14 11:29:35,922 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,923 INFO sqlalchemy.engine.base.Engine ('SPOOKY VANILLA ANTIBACTERIAL HAND',)
2018-11-14 11:29:35,924 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,926 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER GIFT SET 3-PACK',)
2018-11-14 11:29:35,927 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,929 INFO sqlalchemy.engine.base.Engine ('WATERLESS LAVENDER SCENTED HAND SANITIZER',)
2018-11-14 11:29:35,930 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,931 INFO sqlalchemy.engine.base.Engine ('JUSTICE SUGARED DONUT SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,932 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,933 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND OH SNAP COTTON CANDY',)
2018-11-14 11:29:35,934 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,935 INFO sqlalchemy.engine.base.Engine ('COMPACT HAND SANITIZER',)
2018-11-14 11:29:35,936 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,937 INFO sqlalchemy.engine.base.Engine ('CLEARLY BETTER',)
2018-11-14 11:29:35,938 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,939 INFO sqlalchemy.engine.base.Engine ('MADA 70% ALCOHOL',)
2018-11-14 11:29:35,941 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,941 INFO sqlalchemy.engine.base.Engine ('KLEENEX ANTISEPTIC HAND RUB WITH MOISTURIZERS',)
2018-11-14 11:29:35,943 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,944 INFO sqlalchemy.engine.base.Engine ('JUSTICE FROSTED VANILLA SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,945 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,947 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER NOURISHING',)
2018-11-14 11:29:35,949 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,950 INFO sqlalchemy.engine.base.Engine ('RAW SUGAR HAND SANITIZER- COCONUT AND LEMON VERBENA',)
2018-11-14 11:29:35,951 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,952 INFO sqlalchemy.engine.base.Engine ('CVS PHARMACY INSTANT HAND SANITIZER WITH MOISTURIZERS AND VITAMIN E',)
2018-11-14 11:29:35,953 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,954 INFO sqlalchemy.engine.base.Engine ('FOAM HAND SANITIZER',)
2018-11-14 11:29:35,956 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,956 INFO sqlalchemy.engine.base.Engine ('MIST',)
2018-11-14 11:29:35,957 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,958 INFO sqlalchemy.engine.base.Engine ('GLITTER RITZ ICED BERRY',)
2018-11-14 11:29:35,960 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,960 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER COCONUT BEACH SIESTA',)
2018-11-14 11:29:35,961 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,961 INFO sqlalchemy.engine.base.Engine ('ON GUARD SANITIZING MIST',)
2018-11-14 11:29:35,963 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,964 INFO sqlalchemy.engine.base.Engine ('AVANT ORIGINAL - FRAGRANCE FREE',)
2018-11-14 11:29:35,965 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,966 INFO sqlalchemy.engine.base.Engine ('SWEET BERRY HAND SANITIZER',)
2018-11-14 11:29:35,967 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,968 INFO sqlalchemy.engine.base.Engine ('RUE 21 APPLE ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:35,969 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,971 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER REFRESHING FLORALS',)

2018-11-14 11:29:35,972 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,973 INFO sqlalchemy.engine.base.Engine ('JELLY BEAN ANTIBACTERIAL HAND',)
2018-11-14 11:29:35,974 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,975 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER MINT SCENTED',)
2018-11-14 11:29:35,976 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,977 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER LAVENDER',)
2018-11-14 11:29:35,978 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,979 INFO sqlalchemy.engine.base.Engine ('LALALOOPSY WATERMELON ANTISEPTIC HAND CLEANSING',)
2018-11-14 11:29:35,982 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,983 INFO sqlalchemy.engine.base.Engine ('OCEAN BREEZE SCENTED HAND SANITIZER',)
2018-11-14 11:29:35,984 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,985 INFO sqlalchemy.engine.base.Engine ('CELOX ANTISEPTIC',)
2018-11-14 11:29:35,986 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,987 INFO sqlalchemy.engine.base.Engine ('WATERLESS FRAGRANCE FREE HAND SANITIZER',)
2018-11-14 11:29:35,988 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,988 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SPRAY WARM VANILLA SUGAR',)
2018-11-14 11:29:35,990 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,991 INFO sqlalchemy.engine.base.Engine ('GINGERHEAD GIRL ANTI-BACTERIAL SCENTED HAND SANITIZER',)
2018-11-14 11:29:35,992 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,993 INFO sqlalchemy.engine.base.Engine ('PURE GEL',)
2018-11-14 11:29:35,994 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,995 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER COTTON CANDY',)
2018-11-14 11:29:35,996 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:35,997 INFO sqlalchemy.engine.base.Engine ('PURE FOAM',)
2018-11-14 11:29:35,999 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,000 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED REFRESHING ALOE',)
2018-11-14 11:29:36,001 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,002 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER WHITE MUSK',)
2018-11-14 11:29:36,004 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,006 INFO sqlalchemy.engine.base.Engine ('CHERRY BLOSSOM WATERLESS ANTI-ANTIBATERIA HAND SANITIZER',)
2018-11-14 11:29:36,008 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,008 INFO sqlalchemy.engine.base.Engine ('RUE 21 LEGEND BLUEBERRY ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,010 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,011 INFO sqlalchemy.engine.base.Engine ('INSTANT FOAMING HAND SANITIZER',)
2018-11-14 11:29:36,012 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,015 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER N BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,017 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,018 INFO sqlalchemy.engine.base.Engine ('SANISUDS FOAM INSTANT HAND SANITIZER',)
2018-11-14 11:29:36,019 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,020 INFO sqlalchemy.engine.base.Engine ('RUE21 COTTON CANDY ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,021 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,022 INFO sqlalchemy.engine.base.Engine ('RUE 21 PARIS CREAMSICLE ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,023 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,024 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER UNSCENTED',)
2018-11-14 11:29:36,025 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,027 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS CUCUMBER MELON SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,028 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,030 INFO sqlalchemy.engine.base.Engine ('PINK LEMONADE HAND SANITIZER',)
2018-11-14 11:29:36,032 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,033 INFO sqlalchemy.engine.base.Engine ('HER LH2476 CITRUS SCENTED HAND SANITIZER KIT',)
2018-11-14 11:29:36,034 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,035 INFO sqlalchemy.engine.base.Engine ('HES CLEAN FOR WOMAN',)
2018-11-14 11:29:36,035 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,036 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER ORIGINAL',)
2018-11-14 11:29:36,036 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,037 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER T BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,038 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,039 INFO sqlalchemy.engine.base.Engine ('JUSTICE TWIST PEPPERMINT SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,040 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,041 INFO sqlalchemy.engine.base.Engine ('TOASTED VANILLA SUGAR KIT BODYCOLOGY',)
2018-11-14 11:29:36,041 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,042 INFO sqlalchemy.engine.base.Engine ('PERFECT PURITY ADVANCED HAND SANITIZER REFRESHING',)
2018-11-14 11:29:36,043 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,044 INFO sqlalchemy.engine.base.Engine ('3M AVAGARD FOAM',)
2018-11-14 11:29:36,045 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,046 INFO sqlalchemy.engine.base.Engine ('PINK MACAROON HAND SANITIZER',)
2018-11-14 11:29:36,047 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,048 INFO sqlalchemy.engine.base.Engine ('HAN-I-FOAM',)
2018-11-14 11:29:36,050 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,051 INFO sqlalchemy.engine.base.Engine ('CVS DECOLORIZED IODINE',)
2018-11-14 11:29:36,053 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,054 INFO sqlalchemy.engine.base.Engine ('PURELL INSTANT HAND SANITIZER MOISTURE THERAPY',)
2018-11-14 11:29:36,055 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,056 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PINK STRAWBERRY LOLLIPOP',)
2018-11-14 11:29:36,057 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,058 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER SWEET ORANGE',)
2018-11-14 11:29:36,060 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,061 INFO sqlalchemy.engine.base.Engine ('PASSION FRUIT KISS',)
2018-11-14 11:29:36,062 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,062 INFO sqlalchemy.engine.base.Engine ('FAST',)
2018-11-14 11:29:36,063 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,065 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND JAPANESE CHERRY BLOSSOM',)
2018-11-14 11:29:36,066 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,067 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PEACH',)

2018-11-14 11:29:36,068 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,069 INFO sqlalchemy.engine.base.Engine ('RUE 21 QUEEN CHERRY ANTI BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,070 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,071 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER SPRING BLOOM GEL',)
2018-11-14 11:29:36,072 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,074 INFO sqlalchemy.engine.base.Engine ('STERILLIUM MED',)
2018-11-14 11:29:36,075 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,077 INFO sqlalchemy.engine.base.Engine ('TAKE CARE CLINIC INSTANT HAND SANITIZER SPRAY',)
2018-11-14 11:29:36,078 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,079 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS COTTON BLOSSOM HAND SANITIZER',)
2018-11-14 11:29:36,081 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,082 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER TRANQUIL SUNSET',)
2018-11-14 11:29:36,083 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,084 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES VANILLA FROSTING ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,085 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,086 INFO sqlalchemy.engine.base.Engine ('FENGLIAOXING FENGSHI DIEDA YAOJIU',)
2018-11-14 11:29:36,087 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,087 INFO sqlalchemy.engine.base.Engine ('FROSTED SUGAR PLUM HAND SANITIZER BODYCOLOGY',)
2018-11-14 11:29:36,088 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,089 INFO sqlalchemy.engine.base.Engine ('SANNYTIZE HAND SANITIZER WIPE',)
2018-11-14 11:29:36,090 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,091 INFO sqlalchemy.engine.base.Engine ('HAWAIIAN PASSION HAND SANITIZER',)
2018-11-14 11:29:36,092 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,093 INFO sqlalchemy.engine.base.Engine ('HEALTH MART IODIDES',)
2018-11-14 11:29:36,094 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,095 INFO sqlalchemy.engine.base.Engine ('ALCARE PLUS FOAMED ANTISEPTIC HANDRUB',)
2018-11-14 11:29:36,097 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,098 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS LEMON VERBENA HAND SANITIZER',)
2018-11-14 11:29:36,099 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,101 INFO sqlalchemy.engine.base.Engine ('HIBISCUS COCONUT HAND SANITIZER',)
2018-11-14 11:29:36,102 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,103 INFO sqlalchemy.engine.base.Engine ('JUSTICE STRAWBERRY MACAROON SCENTED ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,105 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,106 INFO sqlalchemy.engine.base.Engine ('WATERLESS HAND SANITIZER',)
2018-11-14 11:29:36,107 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,108 INFO sqlalchemy.engine.base.Engine ('TOASTED VANILLA KIT BODYCOLOGY',)
2018-11-14 11:29:36,109 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,109 INFO sqlalchemy.engine.base.Engine ('INSTACLEAN HAND SANITIZING',)
2018-11-14 11:29:36,110 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,111 INFO sqlalchemy.engine.base.Engine ('AP HANSAN',)
2018-11-14 11:29:36,112 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,112 INFO sqlalchemy.engine.base.Engine ('PURELL HEALTHCARE ADVANCED HAND SANITIZER FOAM',)
2018-11-14 11:29:36,115 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,116 INFO sqlalchemy.engine.base.Engine ('DOTS APPLE CINNAMON ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,118 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,119 INFO sqlalchemy.engine.base.Engine ('RUE21 POSH ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,120 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,120 INFO sqlalchemy.engine.base.Engine ('3 PACK INSTANT HAND SANITIZER WITH MOISTURIZERS LAVENDER SCENTED',)
2018-11-14 11:29:36,121 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,121 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES FRESH COTTON HAND SANITIZER',)
2018-11-14 11:29:36,122 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,123 INFO sqlalchemy.engine.base.Engine ('JANITECH JAN-HS-40 INSTANT HAND SANITIZER',)
2018-11-14 11:29:36,124 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,125 INFO sqlalchemy.engine.base.Engine ('SANI-GEL',)
2018-11-14 11:29:36,126 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,127 INFO sqlalchemy.engine.base.Engine ('HANDEX INSTANT HAND SANITIZER',)
2018-11-14 11:29:36,128 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,130 INFO sqlalchemy.engine.base.Engine ('CANDY COATED APPLE ANTI-BACTERIAL SCENTED HAND SANITIZER',)
2018-11-14 11:29:36,131 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,132 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER KURETEK',)
2018-11-14 11:29:36,134 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,135 INFO sqlalchemy.engine.base.Engine ('ADRIANA CLIP ON HAND SANITIZER',)
2018-11-14 11:29:36,137 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,138 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS BLUEBERRY PARFAIT ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,140 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,141 INFO sqlalchemy.engine.base.Engine ('SANIGUARD-SF',)
2018-11-14 11:29:36,142 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,143 INFO sqlalchemy.engine.base.Engine ('MEGAFRESH HAND SANITIZER',)
2018-11-14 11:29:36,144 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,145 INFO sqlalchemy.engine.base.Engine ('REDEEM',)
2018-11-14 11:29:36,146 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,148 INFO sqlalchemy.engine.base.Engine ('MAYFAIR ANTI-BACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,150 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,151 INFO sqlalchemy.engine.base.Engine ('PDI SANI-HANDS ALC ANTIMICROBIAL ALCOHOL GEL HAND WIPES',)
2018-11-14 11:29:36,152 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,153 INFO sqlalchemy.engine.base.Engine ('ICI ALCOHOL HAND SANITIZER',)
2018-11-14 11:29:36,155 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,156 INFO sqlalchemy.engine.base.Engine ('FRISKY CINNAMON',)
2018-11-14 11:29:36,157 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,158 INFO sqlalchemy.engine.base.Engine ('EXTENDED CARE FOAMING HAND SANITIZER',)
2018-11-14 11:29:36,159 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,159 INFO sqlalchemy.engine.base.Engine ('HEALTH SMART INSTANT HAND SANITIZER WITH ALOE VERA AND VITAMIN E',)
2018-11-14 11:29:36,161 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,162 INFO sqlalchemy.engine.base.Engine ('EXOTIC CHERRY BLOSSOM KIT BODYCOLOGY',)

2018-11-14 11:29:36,163 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,164 INFO sqlalchemy.engine.base.Engine ('SKIN PROTECTANT',)
2018-11-14 11:29:36,165 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,166 INFO sqlalchemy.engine.base.Engine ('SOFT CARE IMPACT FOAM ALCOHOL FOAM INSTANT HAND SANITIZER',)
2018-11-14 11:29:36,167 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,169 INFO sqlalchemy.engine.base.Engine ('JUSTICE BOHO BERRY SCENT ANTIBACTERIAL HAND SANITIZER',)
2018-11-14 11:29:36,171 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,172 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND BEAUTIFUL DAY',)
2018-11-14 11:29:36,173 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,174 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER LAVENDER',)
2018-11-14 11:29:36,175 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,176 INFO sqlalchemy.engine.base.Engine ('ETHYL RUBBING ALCOHOL',)
2018-11-14 11:29:36,178 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,179 INFO sqlalchemy.engine.base.Engine ('HAND GEL PROLIM INSTANT HAND SANITIZER',)
2018-11-14 11:29:36,180 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,181 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH MOISTURIZEERS VITAMIN E AND ALOE',)
2018-11-14 11:29:36,183 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,184 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER VANILLA',)
2018-11-14 11:29:36,186 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,187 INFO sqlalchemy.engine.base.Engine ('EQUATE ANTI BACTERIAL HAND SANITIZER STRAWBERRY',)
2018-11-14 11:29:36,188 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,190 INFO sqlalchemy.engine.base.Engine ('BACTEX ANTISEPTIC HAND SANITIZER',)
2018-11-14 11:29:36,191 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:36,192 INFO sqlalchemy.engine.base.Engine ('HIGH FIVE',)
2018-11-14 11:29:37,927 INFO sqlalchemy.engine.base.Engine ('Pancreatitis',)
2018-11-14 11:29:37,928 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:37,929 INFO sqlalchemy.engine.base.Engine ('Cyst rupture',)
2018-11-14 11:29:37,933 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:37,935 INFO sqlalchemy.engine.base.Engine ('Pancreatic pseudocyst',)
2018-11-14 11:29:37,939 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:37,941 INFO sqlalchemy.engine.base.Engine ((292, 139), (294, 139), (293, 139))
2018-11-14 11:29:37,943 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:37,945 INFO sqlalchemy.engine.base.Engine (67, 139)
2018-11-14 11:29:37,947 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:37,955 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:37,957 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:37,958 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:37,962 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:37,963 INFO sqlalchemy.engine.base.Engine (2, 56, 1)
2018-11-14 11:29:37,965 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:37,968 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:37,970 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:37,972 INFO sqlalchemy.engine.base.Engine (140,)
2018-11-14 11:29:37,976 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:37,977 INFO sqlalchemy.engine.base.Engine (17, 140)
2018-11-14 11:29:37,981 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:37,984 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:29:37,987 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:37,988 INFO sqlalchemy.engine.base.Engine (140,)
2018-11-14 11:29:37,991 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:37,992 INFO sqlalchemy.engine.base.Engine (24, 140)
2018-11-14 11:29:37,993 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,000 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,003 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,004 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,006 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,007 INFO sqlalchemy.engine.base.Engine (2, 68, 1)
2018-11-14 11:29:38,012 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,013 INFO sqlalchemy.engine.base.Engine ('Cystitis', 1, 0)
2018-11-14 11:29:38,015 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,016 INFO sqlalchemy.engine.base.Engine ('Blood urine present', 1, 0)
2018-11-14 11:29:38,020 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,022 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:29:38,025 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,028 INFO sqlalchemy.engine.base.Engine ('Headache', 1, 0)
2018-11-14 11:29:38,032 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,034 INFO sqlalchemy.engine.base.Engine ('Pruritus', 1, 0)
2018-11-14 11:29:38,037 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,040 INFO sqlalchemy.engine.base.Engine ('Vision blurred', 1, 0)
2018-11-14 11:29:38,041 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,048 INFO sqlalchemy.engine.base.Engine (141,)
2018-11-14 11:29:38,052 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,053 INFO sqlalchemy.engine.base.Engine ('Cystitis',)
2018-11-14 11:29:38,054 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,055 INFO sqlalchemy.engine.base.Engine ('Blood urine present',)

2018-11-14 11:29:38,056 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,059 INFO sqlalchemy.engine.base.Engine ((296, 141), (295, 141))
2018-11-14 11:29:38,063 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,065 INFO sqlalchemy.engine.base.Engine ((11, 141), (282, 141), (13, 141), (48, 141))
2018-11-14 11:29:38,068 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,074 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,077 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,078 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,080 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,083 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:38,087 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,088 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:29:38,091 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,092 INFO sqlalchemy.engine.base.Engine (142,)
2018-11-14 11:29:38,096 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,098 INFO sqlalchemy.engine.base.Engine (8, 142)
2018-11-14 11:29:38,101 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,103 INFO sqlalchemy.engine.base.Engine ('Haematocrit decreased', 1, 0)
2018-11-14 11:29:38,106 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,108 INFO sqlalchemy.engine.base.Engine ('Haemoglobin decreased', 1, 0)
2018-11-14 11:29:38,110 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,111 INFO sqlalchemy.engine.base.Engine (142,)
2018-11-14 11:29:38,117 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,118 INFO sqlalchemy.engine.base.Engine ('Haematocrit decreased',)
2018-11-14 11:29:38,123 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,124 INFO sqlalchemy.engine.base.Engine (297, 142)
2018-11-14 11:29:38,125 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,127 INFO sqlalchemy.engine.base.Engine (23, 142)
2018-11-14 11:29:38,128 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,134 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,137 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,138 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,141 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,143 INFO sqlalchemy.engine.base.Engine (2, 52, 1)
2018-11-14 11:29:38,149 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,151 INFO sqlalchemy.engine.base.Engine ('DR. THROWERS BETA', 1, 0)
2018-11-14 11:29:38,154 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,155 INFO sqlalchemy.engine.base.Engine (143,)
2018-11-14 11:29:38,161 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:38,162 INFO sqlalchemy.engine.base.Engine ('DR. THROWERS BETA',)
2018-11-14 11:29:38,164 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,166 INFO sqlalchemy.engine.base.Engine (1517, 143)
2018-11-14 11:29:38,169 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,173 INFO sqlalchemy.engine.base.Engine ('Cutaneous leishmaniasis', 1, 0)
2018-11-14 11:29:38,177 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,178 INFO sqlalchemy.engine.base.Engine (143,)
2018-11-14 11:29:38,181 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,183 INFO sqlalchemy.engine.base.Engine ('Cutaneous leishmaniasis',)
2018-11-14 11:29:38,186 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,188 INFO sqlalchemy.engine.base.Engine (298, 143)
2018-11-14 11:29:38,191 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,197 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,199 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,200 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,203 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,204 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:38,207 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,209 INFO sqlalchemy.engine.base.Engine ('OCREVUS', 1, 0)
2018-11-14 11:29:38,212 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,214 INFO sqlalchemy.engine.base.Engine (144,)
2018-11-14 11:29:38,222 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,223 INFO sqlalchemy.engine.base.Engine (316, 144)
2018-11-14 11:29:38,227 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,229 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:29:38,232 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,233 INFO sqlalchemy.engine.base.Engine ('Hypoaesthesia', 1, 0)
2018-11-14 11:29:38,236 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,238 INFO sqlalchemy.engine.base.Engine ('Multiple sclerosis relapse', 1, 0)
2018-11-14 11:29:38,243 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,244 INFO sqlalchemy.engine.base.Engine ('Muscle spasms', 1, 0)
2018-11-14 11:29:38,246 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id

2018-11-14 11:29:38,247 INFO sqlalchemy.engine.base.Engine (144,)
2018-11-14 11:29:38,252 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,255 INFO sqlalchemy.engine.base.Engine ((183, 144), (74, 144), (1, 144), (148, 144))
2018-11-14 11:29:38,257 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,263 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,265 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,266 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,269 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,271 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:38,283 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,287 INFO sqlalchemy.engine.base.Engine ('Malignant neoplasm progression', 1, 0)
2018-11-14 11:29:38,289 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,291 INFO sqlalchemy.engine.base.Engine (145,)
2018-11-14 11:29:38,294 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,296 INFO sqlalchemy.engine.base.Engine (123, 145)
2018-11-14 11:29:38,298 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,307 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,309 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,311 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,313 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,315 INFO sqlalchemy.engine.base.Engine (1, 67, 1)
2018-11-14 11:29:38,319 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,321 INFO sqlalchemy.engine.base.Engine ('Hypotension', 1, 0)
2018-11-14 11:29:38,326 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,328 INFO sqlalchemy.engine.base.Engine ('Coma', 1, 0)
2018-11-14 11:29:38,330 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,331 INFO sqlalchemy.engine.base.Engine (146,)
2018-11-14 11:29:38,334 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,337 INFO sqlalchemy.engine.base.Engine ('Hypotension',)
2018-11-14 11:29:38,340 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,342 INFO sqlalchemy.engine.base.Engine ('Coma',)
2018-11-14 11:29:38,344 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,349 INFO sqlalchemy.engine.base.Engine ((300, 146), (299, 146))
2018-11-14 11:29:38,353 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,358 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,361 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,362 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,367 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,371 INFO sqlalchemy.engine.base.Engine (1, 64, 1)
2018-11-14 11:29:38,373 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,374 INFO sqlalchemy.engine.base.Engine ('BRILINTA', 1, 0)
2018-11-14 11:29:38,380 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,381 INFO sqlalchemy.engine.base.Engine (147,)
2018-11-14 11:29:38,385 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:38,391 INFO sqlalchemy.engine.base.Engine ('BRILINTA',)
2018-11-14 11:29:38,394 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,395 INFO sqlalchemy.engine.base.Engine (1518, 147)
2018-11-14 11:29:38,398 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,399 INFO sqlalchemy.engine.base.Engine ('Chest pain', 1, 0)
2018-11-14 11:29:38,403 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,406 INFO sqlalchemy.engine.base.Engine ('Vascular stent occlusion', 1, 0)
2018-11-14 11:29:38,409 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,411 INFO sqlalchemy.engine.base.Engine (147,)
2018-11-14 11:29:38,415 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,416 INFO sqlalchemy.engine.base.Engine ('Chest pain',)
2018-11-14 11:29:38,417 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,418 INFO sqlalchemy.engine.base.Engine ('Vascular stent occlusion',)
2018-11-14 11:29:38,421 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,426 INFO sqlalchemy.engine.base.Engine ((301, 147), (302, 147))
2018-11-14 11:29:38,428 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,433 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,437 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,438 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,442 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,445 INFO sqlalchemy.engine.base.Engine (2, 89, 1)
2018-11-14 11:29:38,451 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,453 INFO sqlalchemy.engine.base.Engine ('NEBIVOLOL', 1, 0)
2018-11-14 11:29:38,457 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,459 INFO sqlalchemy.engine.base.Engine (148,)
2018-11-14 11:29:38,462 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:38,466 INFO sqlalchemy.engine.base.Engine ('NEBIVOLOL',)
2018-11-14 11:29:38,469 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,471 INFO sqlalchemy.engine.base.Engine (1519, 148)
2018-11-14 11:29:38,473 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:38,474 INFO sqlalchemy.engine.base.Engine ('Hallucination, visual', 1, 0)
2018-11-14 11:29:38,477 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,478 INFO sqlalchemy.engine.base.Engine ('Conduct disorder', 1, 0)
2018-11-14 11:29:38,480 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,481 INFO sqlalchemy.engine.base.Engine ('Confusional state', 1, 0)
2018-11-14 11:29:38,484 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,487 INFO sqlalchemy.engine.base.Engine ('Disorientation', 1, 0)
2018-11-14 11:29:38,489 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,491 INFO sqlalchemy.engine.base.Engine (148,)
2018-11-14 11:29:38,495 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,496 INFO sqlalchemy.engine.base.Engine ('Disorientation',)
2018-11-14 11:29:38,498 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,499 INFO sqlalchemy.engine.base.Engine ('Hallucination, visual',)
2018-11-14 11:29:38,500 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,501 INFO sqlalchemy.engine.base.Engine ('Conduct disorder',)
2018-11-14 11:29:38,506 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,507 INFO sqlalchemy.engine.base.Engine ((305, 148), (303, 148), (304, 148))
2018-11-14 11:29:38,509 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,509 INFO sqlalchemy.engine.base.Engine (118, 148)
2018-11-14 11:29:38,511 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,516 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,520 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,522 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,525 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,526 INFO sqlalchemy.engine.base.Engine (2, 31, 1)
2018-11-14 11:29:38,529 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,530 INFO sqlalchemy.engine.base.Engine ('OCREVUS', 1, 0)
2018-11-14 11:29:38,532 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,533 INFO sqlalchemy.engine.base.Engine (149,)
2018-11-14 11:29:38,540 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,541 INFO sqlalchemy.engine.base.Engine (316, 149)
2018-11-14 11:29:38,545 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,547 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:29:38,549 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,551 INFO sqlalchemy.engine.base.Engine ('Throat tightness', 1, 0)
2018-11-14 11:29:38,557 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,558 INFO sqlalchemy.engine.base.Engine ('Swollen tongue', 1, 0)
2018-11-14 11:29:38,561 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,562 INFO sqlalchemy.engine.base.Engine ('Chest discomfort', 1, 0)
2018-11-14 11:29:38,565 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,567 INFO sqlalchemy.engine.base.Engine (149,)
2018-11-14 11:29:38,571 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,573 INFO sqlalchemy.engine.base.Engine ('Throat tightness',)
2018-11-14 11:29:38,575 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,576 INFO sqlalchemy.engine.base.Engine ('Swollen tongue',)
2018-11-14 11:29:38,578 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,579 INFO sqlalchemy.engine.base.Engine ((235, 149), (66, 149), (306, 149), (307, 149))
2018-11-14 11:29:38,581 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,589 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,592 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,593 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,596 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,598 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:38,601 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,602 INFO sqlalchemy.engine.base.Engine ('MONTELUKAST SODIUM CHEWABLE', 1, 0)
2018-11-14 11:29:38,606 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,608 INFO sqlalchemy.engine.base.Engine ('MONTELUKAST SODIUM', 1, 0)
2018-11-14 11:29:38,611 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,613 INFO sqlalchemy.engine.base.Engine ('SINGULAIR', 1, 0)
2018-11-14 11:29:38,615 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,616 INFO sqlalchemy.engine.base.Engine (150,)
2018-11-14 11:29:38,621 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:38,625 INFO sqlalchemy.engine.base.Engine ('MONTELUKAST SODIUM CHEWABLE',)
2018-11-14 11:29:38,628 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:38,630 INFO sqlalchemy.engine.base.Engine ('MONTELUKAST SODIUM',)
2018-11-14 11:29:38,632 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:38,633 INFO sqlalchemy.engine.base.Engine ('SINGULAIR',)
2018-11-14 11:29:38,636 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,640 INFO sqlalchemy.engine.base.Engine ((1520, 150), (1521, 150), (1522, 150))
2018-11-14 11:29:38,643 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,644 INFO sqlalchemy.engine.base.Engine ('Prostate cancer', 1, 0)
2018-11-14 11:29:38,647 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:38,648 INFO sqlalchemy.engine.base.Engine ('Intentional product use issue', 1, 0)
2018-11-14 11:29:38,649 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,652 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:38,655 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,656 INFO sqlalchemy.engine.base.Engine ('Haematological malignancy', 1, 0)
2018-11-14 11:29:38,658 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,663 INFO sqlalchemy.engine.base.Engine (150,)
2018-11-14 11:29:38,666 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,680 INFO sqlalchemy.engine.base.Engine ('Prostate cancer',)
2018-11-14 11:29:38,684 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,685 INFO sqlalchemy.engine.base.Engine ('Intentional product use issue',)
2018-11-14 11:29:38,689 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,691 INFO sqlalchemy.engine.base.Engine ('Haematological malignancy',)
2018-11-14 11:29:38,694 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,696 INFO sqlalchemy.engine.base.Engine ((308, 150), (57, 150), (309, 150), (310, 150))
2018-11-14 11:29:38,699 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,708 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,711 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,713 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,715 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,716 INFO sqlalchemy.engine.base.Engine (2, 77, 1)
2018-11-14 11:29:38,719 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,722 INFO sqlalchemy.engine.base.Engine ('ELIQUIS', 1, 0)
2018-11-14 11:29:38,726 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,728 INFO sqlalchemy.engine.base.Engine ('ELIQUIS 30-DAY STARTER PACK', 1, 0)
2018-11-14 11:29:38,730 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,732 INFO sqlalchemy.engine.base.Engine (151,)
2018-11-14 11:29:38,738 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,739 INFO sqlalchemy.engine.base.Engine ((20, 151), (21, 151))
2018-11-14 11:29:38,741 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,742 INFO sqlalchemy.engine.base.Engine ('Atrial fibrillation', 1, 0)
2018-11-14 11:29:38,744 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,745 INFO sqlalchemy.engine.base.Engine (151,)
2018-11-14 11:29:38,751 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,753 INFO sqlalchemy.engine.base.Engine ('Atrial fibrillation',)
2018-11-14 11:29:38,757 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,759 INFO sqlalchemy.engine.base.Engine (311, 151)
2018-11-14 11:29:38,762 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,767 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,771 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,773 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,776 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,778 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:38,782 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,784 INFO sqlalchemy.engine.base.Engine ('LENVIMA', 1, 0)
2018-11-14 11:29:38,789 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,790 INFO sqlalchemy.engine.base.Engine (152,)
2018-11-14 11:29:38,796 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:38,798 INFO sqlalchemy.engine.base.Engine ('LENVIMA',)
2018-11-14 11:29:38,801 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,803 INFO sqlalchemy.engine.base.Engine (1523, 152)
2018-11-14 11:29:38,806 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,807 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:29:38,810 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,811 INFO sqlalchemy.engine.base.Engine ('Epistaxis', 1, 0)
2018-11-14 11:29:38,817 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,818 INFO sqlalchemy.engine.base.Engine ('Platelet count decreased', 1, 0)
2018-11-14 11:29:38,820 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,822 INFO sqlalchemy.engine.base.Engine (152,)
2018-11-14 11:29:38,826 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,828 INFO sqlalchemy.engine.base.Engine ((33, 152), (219, 152), (26, 152))
2018-11-14 11:29:38,831 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,838 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,842 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,844 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,847 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,849 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:38,851 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,853 INFO sqlalchemy.engine.base.Engine ('AVASTIN', 1, 0)
2018-11-14 11:29:38,856 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:29:38,857 INFO sqlalchemy.engine.base.Engine (153,)
2018-11-14 11:29:38,862 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,864 INFO sqlalchemy.engine.base.Engine (5, 153)
2018-11-14 11:29:38,867 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,873 INFO sqlalchemy.engine.base.Engine ('Malnutrition', 1, 0)
2018-11-14 11:29:38,875 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,877 INFO sqlalchemy.engine.base.Engine ('Cholecystitis acute', 1, 0)
2018-11-14 11:29:38,879 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,880 INFO sqlalchemy.engine.base.Engine (153,)
2018-11-14 11:29:38,883 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,884 INFO sqlalchemy.engine.base.Engine ('Cholecystitis acute',)
2018-11-14 11:29:38,888 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,890 INFO sqlalchemy.engine.base.Engine ('Malnutrition',)
2018-11-14 11:29:38,892 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,894 INFO sqlalchemy.engine.base.Engine ((313, 153), (312, 153))
2018-11-14 11:29:38,895 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,904 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,907 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,909 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,913 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,915 INFO sqlalchemy.engine.base.Engine (2, 67, 1)
2018-11-14 11:29:38,917 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,918 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:38,925 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,926 INFO sqlalchemy.engine.base.Engine (154,)
2018-11-14 11:29:38,931 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,933 INFO sqlalchemy.engine.base.Engine (17, 154)
2018-11-14 11:29:38,935 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,936 INFO sqlalchemy.engine.base.Engine ('Hypoacusis', 1, 0)
2018-11-14 11:29:38,940 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,941 INFO sqlalchemy.engine.base.Engine (154,)
2018-11-14 11:29:38,944 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:38,945 INFO sqlalchemy.engine.base.Engine ('Hypoacusis',)
2018-11-14 11:29:38,947 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,948 INFO sqlalchemy.engine.base.Engine (314, 154)
2018-11-14 11:29:38,950 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:38,958 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:38,961 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:38,963 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:38,966 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:38,967 INFO sqlalchemy.engine.base.Engine (2, 63, 1)
2018-11-14 11:29:38,976 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,977 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:38,979 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:38,980 INFO sqlalchemy.engine.base.Engine (155,)
2018-11-14 11:29:38,984 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:38,988 INFO sqlalchemy.engine.base.Engine (17, 155)
2018-11-14 11:29:38,990 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:38,992 INFO sqlalchemy.engine.base.Engine ('Rheumatoid arthritis', 1, 0)
2018-11-14 11:29:38,994 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:38,995 INFO sqlalchemy.engine.base.Engine (155,)
2018-11-14 11:29:38,999 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,001 INFO sqlalchemy.engine.base.Engine (140, 155)
2018-11-14 11:29:39,004 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,009 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,012 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,013 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,016 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,017 INFO sqlalchemy.engine.base.Engine (1, 65, 1)
2018-11-14 11:29:39,020 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,022 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:39,025 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,026 INFO sqlalchemy.engine.base.Engine (156,)
2018-11-14 11:29:39,031 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,034 INFO sqlalchemy.engine.base.Engine (17, 156)
2018-11-14 11:29:39,036 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,039 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:39,043 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,045 INFO sqlalchemy.engine.base.Engine (156,)
2018-11-14 11:29:39,048 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,050 INFO sqlalchemy.engine.base.Engine (36, 156)

2018-11-14 11:29:39,052 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,060 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,064 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,065 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,068 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,071 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:39,076 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,077 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:39,084 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,085 INFO sqlalchemy.engine.base.Engine (157,)
2018-11-14 11:29:39,092 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,095 INFO sqlalchemy.engine.base.Engine (17, 157)
2018-11-14 11:29:39,098 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,100 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:39,102 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,103 INFO sqlalchemy.engine.base.Engine (157,)
2018-11-14 11:29:39,108 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,110 INFO sqlalchemy.engine.base.Engine (57, 157)
2018-11-14 11:29:39,112 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,123 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,126 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,129 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,131 INFO sqlalchemy.engine.base.Engine (1, 44, 1)
2018-11-14 11:29:39,135 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,138 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE SR', 1, 0)
2018-11-14 11:29:39,142 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,144 INFO sqlalchemy.engine.base.Engine ('QUILLIVANT XR', 1, 0)
2018-11-14 11:29:39,148 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,150 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE EXTENDED-RELEASE', 1, 0)
2018-11-14 11:29:39,153 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,156 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HCL ORAL SOLUTION', 1, 0)
2018-11-14 11:29:39,160 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,161 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE', 1, 0)
2018-11-14 11:29:39,165 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,167 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE CD', 1, 0)
2018-11-14 11:29:39,173 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,177 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE (CD)', 1, 0)
2018-11-14 11:29:39,181 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,182 INFO sqlalchemy.engine.base.Engine ('METADATE CD', 1, 0)
2018-11-14 11:29:39,185 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,186 INFO sqlalchemy.engine.base.Engine ('QUILLICHEW ER', 1, 0)
2018-11-14 11:29:39,189 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,191 INFO sqlalchemy.engine.base.Engine ('METADATE ER', 1, 0)
2018-11-14 11:29:39,198 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,200 INFO sqlalchemy.engine.base.Engine ('METHYLIN', 1, 0)
2018-11-14 11:29:39,204 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,206 INFO sqlalchemy.engine.base.Engine ('RITALIN LA', 1, 0)
2018-11-14 11:29:39,210 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,211 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE', 1, 0)
2018-11-14 11:29:39,216 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,217 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE HYDROCHLORIDE (LA)', 1, 0)
2018-11-14 11:29:39,220 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,223 INFO sqlalchemy.engine.base.Engine ('RITALIN', 1, 0)
2018-11-14 11:29:39,226 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,229 INFO sqlalchemy.engine.base.Engine ('CONCERTA', 1, 0)
2018-11-14 11:29:39,231 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,232 INFO sqlalchemy.engine.base.Engine ('APTENSIO XR', 1, 0)
2018-11-14 11:29:39,234 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,235 INFO sqlalchemy.engine.base.Engine (158,)
2018-11-14 11:29:39,238 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,241 INFO sqlalchemy.engine.base.Engine ((294, 158), (295, 158), (296, 158), (297, 158), (298, 158), (299, 158), (300, 158), (301, 158)  ... displaying 10 of 17 total bound parameter sets ...  (309, 158), (310, 158))
2018-11-14 11:29:39,244 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,246 INFO sqlalchemy.engine.base.Engine ('Completed suicide', 1, 0)
2018-11-14 11:29:39,249 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id

2018-11-14 11:29:39,251 INFO sqlalchemy.engine.base.Engine (158,)
2018-11-14 11:29:39,255 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,257 INFO sqlalchemy.engine.base.Engine (246, 158)
2018-11-14 11:29:39,259 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,265 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,268 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,270 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,273 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,274 INFO sqlalchemy.engine.base.Engine (2, 69, 1)
2018-11-14 11:29:39,279 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,280 INFO sqlalchemy.engine.base.Engine ('ACTEMRA', 1, 0)
2018-11-14 11:29:39,283 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,284 INFO sqlalchemy.engine.base.Engine (159,)
2018-11-14 11:29:39,289 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,290 INFO sqlalchemy.engine.base.Engine (40, 159)
2018-11-14 11:29:39,294 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,298 INFO sqlalchemy.engine.base.Engine ('Productive cough', 1, 0)
2018-11-14 11:29:39,301 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,302 INFO sqlalchemy.engine.base.Engine ('Oropharyngeal pain', 1, 0)
2018-11-14 11:29:39,306 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,307 INFO sqlalchemy.engine.base.Engine ('Disorientation', 1, 0)
2018-11-14 11:29:39,311 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,314 INFO sqlalchemy.engine.base.Engine ('Headache', 1, 0)
2018-11-14 11:29:39,316 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,319 INFO sqlalchemy.engine.base.Engine ('Nausea', 1, 0)
2018-11-14 11:29:39,324 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,325 INFO sqlalchemy.engine.base.Engine ('Lower respiratory tract infection', 1, 0)
2018-11-14 11:29:39,330 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,331 INFO sqlalchemy.engine.base.Engine ('Vascular rupture', 1, 0)
2018-11-14 11:29:39,334 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,335 INFO sqlalchemy.engine.base.Engine ('Blood pressure increased', 1, 0)
2018-11-14 11:29:39,338 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,342 INFO sqlalchemy.engine.base.Engine ('Nasopharyngitis', 1, 0)
2018-11-14 11:29:39,345 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,346 INFO sqlalchemy.engine.base.Engine (159,)
2018-11-14 11:29:39,351 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,352 INFO sqlalchemy.engine.base.Engine ('Vascular rupture',)
2018-11-14 11:29:39,354 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,356 INFO sqlalchemy.engine.base.Engine ('Lower respiratory tract infection',)
2018-11-14 11:29:39,360 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,362 INFO sqlalchemy.engine.base.Engine ('Oropharyngeal pain',)
2018-11-14 11:29:39,364 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,365 INFO sqlalchemy.engine.base.Engine ('Blood pressure increased',)
2018-11-14 11:29:39,366 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,367 INFO sqlalchemy.engine.base.Engine ((315, 159), (316, 159), (11, 159), (317, 159), (56, 159), (318, 159), (143, 159), (30, 159), (303, 159))
2018-11-14 11:29:39,370 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,376 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,378 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,380 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,384 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,385 INFO sqlalchemy.engine.base.Engine (2, 49, 1)
2018-11-14 11:29:39,389 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,392 INFO sqlalchemy.engine.base.Engine ('RITUXAN', 1, 0)
2018-11-14 11:29:39,394 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,396 INFO sqlalchemy.engine.base.Engine (160,)
2018-11-14 11:29:39,400 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:39,401 INFO sqlalchemy.engine.base.Engine ('RITUXAN',)
2018-11-14 11:29:39,403 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,405 INFO sqlalchemy.engine.base.Engine (1524, 160)
2018-11-14 11:29:39,408 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,409 INFO sqlalchemy.engine.base.Engine ('Hypokalaemia', 1, 0)
2018-11-14 11:29:39,412 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,412 INFO sqlalchemy.engine.base.Engine ('Abdominal pain', 1, 0)
2018-11-14 11:29:39,415 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,418 INFO sqlalchemy.engine.base.Engine ('Back pain', 1, 0)
2018-11-14 11:29:39,423 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,425 INFO sqlalchemy.engine.base.Engine (160,)
2018-11-14 11:29:39,428 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,430 INFO sqlalchemy.engine.base.Engine ('Hypokalaemia',)
2018-11-14 11:29:39,434 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)

2018-11-14 11:29:39,435 INFO sqlalchemy.engine.base.Engine (319, 160)
2018-11-14 11:29:39,440 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,442 INFO sqlalchemy.engine.base.Engine ((20, 160), (44, 160))
2018-11-14 11:29:39,444 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,456 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,459 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,461 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,465 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,466 INFO sqlalchemy.engine.base.Engine (2, 27, 1)
2018-11-14 11:29:39,469 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,470 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:39,474 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,475 INFO sqlalchemy.engine.base.Engine (161,)
2018-11-14 11:29:39,478 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,480 INFO sqlalchemy.engine.base.Engine (17, 161)
2018-11-14 11:29:39,484 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,486 INFO sqlalchemy.engine.base.Engine ('Drug dose omission', 1, 0)
2018-11-14 11:29:39,488 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,491 INFO sqlalchemy.engine.base.Engine ('Product storage error', 1, 0)
2018-11-14 11:29:39,493 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,494 INFO sqlalchemy.engine.base.Engine (161,)
2018-11-14 11:29:39,497 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,499 INFO sqlalchemy.engine.base.Engine ((201, 161), (104, 161))
2018-11-14 11:29:39,502 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,509 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,512 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,513 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,516 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,519 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:39,525 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,527 INFO sqlalchemy.engine.base.Engine ('ELIQUIS', 1, 0)
2018-11-14 11:29:39,530 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,531 INFO sqlalchemy.engine.base.Engine ('ELIQUIS 30-DAY STARTER PACK', 1, 0)
2018-11-14 11:29:39,545 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,546 INFO sqlalchemy.engine.base.Engine (162,)
2018-11-14 11:29:39,550 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,551 INFO sqlalchemy.engine.base.Engine ((20, 162), (21, 162))
2018-11-14 11:29:39,553 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,555 INFO sqlalchemy.engine.base.Engine ('Wrong technique in product usage process', 1, 0)
2018-11-14 11:29:39,558 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,560 INFO sqlalchemy.engine.base.Engine ('Haemorrhage', 1, 0)
2018-11-14 11:29:39,563 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,566 INFO sqlalchemy.engine.base.Engine ('Product use in unapproved indication', 1, 0)
2018-11-14 11:29:39,571 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,573 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:39,576 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,577 INFO sqlalchemy.engine.base.Engine (162,)
2018-11-14 11:29:39,583 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,586 INFO sqlalchemy.engine.base.Engine ('Product use in unapproved indication',)
2018-11-14 11:29:39,589 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,590 INFO sqlalchemy.engine.base.Engine ('Haemorrhage',)
2018-11-14 11:29:39,593 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,594 INFO sqlalchemy.engine.base.Engine ((321, 162), (320, 162))
2018-11-14 11:29:39,597 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,598 INFO sqlalchemy.engine.base.Engine ((57, 162), (37, 162))
2018-11-14 11:29:39,600 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,607 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,610 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,612 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,614 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,616 INFO sqlalchemy.engine.base.Engine (2, 62, 1)
2018-11-14 11:29:39,620 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,621 INFO sqlalchemy.engine.base.Engine ('GLEEVEC', 1, 0)
2018-11-14 11:29:39,624 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,626 INFO sqlalchemy.engine.base.Engine (163,)
2018-11-14 11:29:39,632 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,634 INFO sqlalchemy.engine.base.Engine (314, 163)
2018-11-14 11:29:39,637 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,640 INFO sqlalchemy.engine.base.Engine ('Rash pustular', 1, 0)
2018-11-14 11:29:39,643 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:39,644 INFO sqlalchemy.engine.base.Engine ('Malignant neoplasm progression', 1, 0)
2018-11-14 11:29:39,646 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,648 INFO sqlalchemy.engine.base.Engine ('Metastatic malignant melanoma', 1, 0)
2018-11-14 11:29:39,650 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,651 INFO sqlalchemy.engine.base.Engine ('Herpes zoster disseminated', 1, 0)
2018-11-14 11:29:39,653 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,654 INFO sqlalchemy.engine.base.Engine (163,)
2018-11-14 11:29:39,658 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,659 INFO sqlalchemy.engine.base.Engine ('Herpes zoster disseminated',)
2018-11-14 11:29:39,660 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,662 INFO sqlalchemy.engine.base.Engine ('Rash pustular',)
2018-11-14 11:29:39,663 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,664 INFO sqlalchemy.engine.base.Engine ('Metastatic malignant melanoma',)
2018-11-14 11:29:39,667 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,668 INFO sqlalchemy.engine.base.Engine ((322, 163), (324, 163), (323, 163))
2018-11-14 11:29:39,670 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,672 INFO sqlalchemy.engine.base.Engine (123, 163)
2018-11-14 11:29:39,673 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,679 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,682 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,685 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,687 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,690 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:39,694 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,695 INFO sqlalchemy.engine.base.Engine ('METHYLPHENIDATE', 1, 0)
2018-11-14 11:29:39,698 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,700 INFO sqlalchemy.engine.base.Engine ('DAYTRANA', 1, 0)
2018-11-14 11:29:39,703 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,705 INFO sqlalchemy.engine.base.Engine ('COTEMPLA XR-ODT', 1, 0)
2018-11-14 11:29:39,708 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,711 INFO sqlalchemy.engine.base.Engine (164,)
2018-11-14 11:29:39,714 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:39,716 INFO sqlalchemy.engine.base.Engine ('DAYTRANA',)
2018-11-14 11:29:39,717 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:39,718 INFO sqlalchemy.engine.base.Engine ('COTEMPLA XR-ODT',)
2018-11-14 11:29:39,719 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,720 INFO sqlalchemy.engine.base.Engine ((1525, 164), (1526, 164))
2018-11-14 11:29:39,722 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,724 INFO sqlalchemy.engine.base.Engine (298, 164)
2018-11-14 11:29:39,727 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,728 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:39,731 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,734 INFO sqlalchemy.engine.base.Engine (164,)
2018-11-14 11:29:39,738 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,741 INFO sqlalchemy.engine.base.Engine (36, 164)
2018-11-14 11:29:39,743 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,748 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,750 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,752 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,754 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,755 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:39,758 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,759 INFO sqlalchemy.engine.base.Engine ('GLEEVEC', 1, 0)
2018-11-14 11:29:39,761 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,763 INFO sqlalchemy.engine.base.Engine (165,)
2018-11-14 11:29:39,768 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,769 INFO sqlalchemy.engine.base.Engine (314, 165)
2018-11-14 11:29:39,772 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,774 INFO sqlalchemy.engine.base.Engine ('Muscle spasms', 1, 0)
2018-11-14 11:29:39,779 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,781 INFO sqlalchemy.engine.base.Engine ('Cardiac disorder', 1, 0)
2018-11-14 11:29:39,784 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,787 INFO sqlalchemy.engine.base.Engine ('Palpitations', 1, 0)
2018-11-14 11:29:39,788 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,789 INFO sqlalchemy.engine.base.Engine (165,)
2018-11-14 11:29:39,794 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,796 INFO sqlalchemy.engine.base.Engine ('Cardiac disorder',)
2018-11-14 11:29:39,798 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,800 INFO sqlalchemy.engine.base.Engine ('Palpitations',)
2018-11-14 11:29:39,801 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,803 INFO sqlalchemy.engine.base.Engine ((183, 165), (325, 165), (326, 165))
2018-11-14 11:29:39,806 INFO sqlalchemy.engine.base.Engine COMMIT

2018-11-14 11:29:39,812 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,814 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,816 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,820 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,824 INFO sqlalchemy.engine.base.Engine (1, 68, 1)
2018-11-14 11:29:39,828 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,830 INFO sqlalchemy.engine.base.Engine ('LEVETIRACETAM LEVETIRACETAM', 1, 0)
2018-11-14 11:29:39,832 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,834 INFO sqlalchemy.engine.base.Engine ('ROWEEPRA', 1, 0)
2018-11-14 11:29:39,837 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,840 INFO sqlalchemy.engine.base.Engine ('ELEPSIA XR', 1, 0)
2018-11-14 11:29:39,843 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,845 INFO sqlalchemy.engine.base.Engine ('LEVETIRACETAM EXTENDED-RELEASE', 1, 0)
2018-11-14 11:29:39,848 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,849 INFO sqlalchemy.engine.base.Engine ('KEPPRA XR', 1, 0)
2018-11-14 11:29:39,851 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,853 INFO sqlalchemy.engine.base.Engine ('LEVETIRACETAM', 1, 0)
2018-11-14 11:29:39,855 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,857 INFO sqlalchemy.engine.base.Engine ('KEPPRA', 1, 0)
2018-11-14 11:29:39,859 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,861 INFO sqlalchemy.engine.base.Engine ('ROWEEPRA XR', 1, 0)
2018-11-14 11:29:39,863 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,865 INFO sqlalchemy.engine.base.Engine ('SPRITAM', 1, 0)
2018-11-14 11:29:39,867 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,872 INFO sqlalchemy.engine.base.Engine (166,)
2018-11-14 11:29:39,878 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,879 INFO sqlalchemy.engine.base.Engine ((209, 166), (210, 166), (211, 166), (212, 166), (213, 166), (214, 166), (215, 166), (216, 166), (217, 166))
2018-11-14 11:29:39,882 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,884 INFO sqlalchemy.engine.base.Engine ('Pneumonia', 1, 0)
2018-11-14 11:29:39,887 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,888 INFO sqlalchemy.engine.base.Engine (166,)
2018-11-14 11:29:39,893 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,895 INFO sqlalchemy.engine.base.Engine (215, 166)
2018-11-14 11:29:39,897 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,903 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,905 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,907 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,910 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,912 INFO sqlalchemy.engine.base.Engine (2, 49, 1)
2018-11-14 11:29:39,918 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,919 INFO sqlalchemy.engine.base.Engine ('OCREVUS', 1, 0)
2018-11-14 11:29:39,922 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,924 INFO sqlalchemy.engine.base.Engine (167,)
2018-11-14 11:29:39,929 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,931 INFO sqlalchemy.engine.base.Engine (316, 167)
2018-11-14 11:29:39,935 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,936 INFO sqlalchemy.engine.base.Engine ('Lymphopenia', 1, 0)
2018-11-14 11:29:39,939 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:39,944 INFO sqlalchemy.engine.base.Engine (167,)
2018-11-14 11:29:39,948 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:39,950 INFO sqlalchemy.engine.base.Engine ('Lymphopenia',)
2018-11-14 11:29:39,952 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:39,953 INFO sqlalchemy.engine.base.Engine (327, 167)
2018-11-14 11:29:39,955 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:39,962 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:39,964 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:39,967 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:39,973 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:39,975 INFO sqlalchemy.engine.base.Engine (2, 80, 1)
2018-11-14 11:29:39,978 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:39,979 INFO sqlalchemy.engine.base.Engine ('SYNTHROID', 1, 0)
2018-11-14 11:29:39,983 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:39,986 INFO sqlalchemy.engine.base.Engine (168,)
2018-11-14 11:29:39,991 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:39,995 INFO sqlalchemy.engine.base.Engine ('SYNTHROID',)
2018-11-14 11:29:39,998 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:40,000 INFO sqlalchemy.engine.base.Engine (1527, 168)
2018-11-14 11:29:40,002 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,004 INFO sqlalchemy.engine.base.Engine ('Flatulence', 1, 0)
2018-11-14 11:29:40,008 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:40,010 INFO sqlalchemy.engine.base.Engine ('Cervical radiculopathy', 1, 0)
2018-11-14 11:29:40,013 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,014 INFO sqlalchemy.engine.base.Engine ('Radiculopathy', 1, 0)
2018-11-14 11:29:40,016 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,017 INFO sqlalchemy.engine.base.Engine ('Gravitational oedema', 1, 0)
2018-11-14 11:29:40,020 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,023 INFO sqlalchemy.engine.base.Engine ('Dry mouth', 1, 0)
2018-11-14 11:29:40,029 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,031 INFO sqlalchemy.engine.base.Engine ('Depressed mood', 1, 0)
2018-11-14 11:29:40,035 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,036 INFO sqlalchemy.engine.base.Engine ('Muscle disorder', 1, 0)
2018-11-14 11:29:40,039 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,043 INFO sqlalchemy.engine.base.Engine ('Candida infection', 1, 0)
2018-11-14 11:29:40,046 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,048 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:29:40,049 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,051 INFO sqlalchemy.engine.base.Engine ('Arthralgia', 1, 0)
2018-11-14 11:29:40,053 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,054 INFO sqlalchemy.engine.base.Engine ('Bursitis', 1, 0)
2018-11-14 11:29:40,057 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,059 INFO sqlalchemy.engine.base.Engine ('Enthesopathy', 1, 0)
2018-11-14 11:29:40,066 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,073 INFO sqlalchemy.engine.base.Engine ('Paraesthesia', 1, 0)
2018-11-14 11:29:40,078 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,080 INFO sqlalchemy.engine.base.Engine ('Meniscus injury', 1, 0)
2018-11-14 11:29:40,082 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,084 INFO sqlalchemy.engine.base.Engine ('Gastritis', 1, 0)
2018-11-14 11:29:40,086 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,088 INFO sqlalchemy.engine.base.Engine ('Rash pruritic', 1, 0)
2018-11-14 11:29:40,091 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,094 INFO sqlalchemy.engine.base.Engine ('Pelvic pain', 1, 0)
2018-11-14 11:29:40,096 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,098 INFO sqlalchemy.engine.base.Engine ('Pollakiuria', 1, 0)
2018-11-14 11:29:40,103 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,104 INFO sqlalchemy.engine.base.Engine ('Snoring', 1, 0)
2018-11-14 11:29:40,106 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,109 INFO sqlalchemy.engine.base.Engine ('Respiratory disorder', 1, 0)
2018-11-14 11:29:40,111 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,113 INFO sqlalchemy.engine.base.Engine ('Cerumen impaction', 1, 0)
2018-11-14 11:29:40,115 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,115 INFO sqlalchemy.engine.base.Engine ('Dysuria', 1, 0)
2018-11-14 11:29:40,118 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,119 INFO sqlalchemy.engine.base.Engine ('Skin disorder', 1, 0)
2018-11-14 11:29:40,121 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,122 INFO sqlalchemy.engine.base.Engine ('Arthralgia', 1, 0)
2018-11-14 11:29:40,126 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,128 INFO sqlalchemy.engine.base.Engine ('Nocturnal dyspnoea', 1, 0)
2018-11-14 11:29:40,130 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,132 INFO sqlalchemy.engine.base.Engine ('Increased tendency to bruise', 1, 0)
2018-11-14 11:29:40,134 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,135 INFO sqlalchemy.engine.base.Engine ('Osteoarthritis', 1, 0)
2018-11-14 11:29:40,137 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,138 INFO sqlalchemy.engine.base.Engine ('Ligament disorder', 1, 0)
2018-11-14 11:29:40,142 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,143 INFO sqlalchemy.engine.base.Engine ('Duodenitis', 1, 0)
2018-11-14 11:29:40,146 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,147 INFO sqlalchemy.engine.base.Engine ('Acute sinusitis', 1, 0)
2018-11-14 11:29:40,149 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,151 INFO sqlalchemy.engine.base.Engine ('Skin papilloma', 1, 0)
2018-11-14 11:29:40,153 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,157 INFO sqlalchemy.engine.base.Engine ('Abdominal pain', 1, 0)

2018-11-14 11:29:40,160 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,161 INFO sqlalchemy.engine.base.Engine ('Anorectal disorder', 1, 0)
2018-11-14 11:29:40,163 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,165 INFO sqlalchemy.engine.base.Engine ('Vaginal discharge', 1, 0)
2018-11-14 11:29:40,167 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,169 INFO sqlalchemy.engine.base.Engine ('Chills', 1, 0)
2018-11-14 11:29:40,171 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,172 INFO sqlalchemy.engine.base.Engine ('Cough', 1, 0)
2018-11-14 11:29:40,175 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,176 INFO sqlalchemy.engine.base.Engine ('Weight decreased', 1, 0)
2018-11-14 11:29:40,179 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,179 INFO sqlalchemy.engine.base.Engine ('Helicobacter infection', 1, 0)
2018-11-14 11:29:40,184 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,185 INFO sqlalchemy.engine.base.Engine ('Palpitations', 1, 0)
2018-11-14 11:29:40,189 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,192 INFO sqlalchemy.engine.base.Engine ('Dyspnoea exertional', 1, 0)
2018-11-14 11:29:40,195 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,196 INFO sqlalchemy.engine.base.Engine ('Dermal cyst', 1, 0)
2018-11-14 11:29:40,198 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,199 INFO sqlalchemy.engine.base.Engine ('Postmenopausal haemorrhage', 1, 0)
2018-11-14 11:29:40,203 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,205 INFO sqlalchemy.engine.base.Engine ('Animal bite', 1, 0)
2018-11-14 11:29:40,212 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,214 INFO sqlalchemy.engine.base.Engine ('Cataract', 1, 0)
2018-11-14 11:29:40,216 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,217 INFO sqlalchemy.engine.base.Engine ('Gastrooesophageal reflux disease', 1, 0)
2018-11-14 11:29:40,221 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,228 INFO sqlalchemy.engine.base.Engine ('Skin lesion', 1, 0)
2018-11-14 11:29:40,230 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,231 INFO sqlalchemy.engine.base.Engine ('Actinic keratosis', 1, 0)
2018-11-14 11:29:40,233 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,235 INFO sqlalchemy.engine.base.Engine ('Middle insomnia', 1, 0)
2018-11-14 11:29:40,237 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,239 INFO sqlalchemy.engine.base.Engine ('Hypoaesthesia', 1, 0)
2018-11-14 11:29:40,241 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,244 INFO sqlalchemy.engine.base.Engine ('Vertigo CNS origin', 1, 0)
2018-11-14 11:29:40,248 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,250 INFO sqlalchemy.engine.base.Engine ('Leukocytosis', 1, 0)
2018-11-14 11:29:40,252 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,255 INFO sqlalchemy.engine.base.Engine ('Abdominal pain', 1, 0)
2018-11-14 11:29:40,258 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,261 INFO sqlalchemy.engine.base.Engine ('Chest pain', 1, 0)
2018-11-14 11:29:40,263 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,265 INFO sqlalchemy.engine.base.Engine ('Radiculitis brachial', 1, 0)
2018-11-14 11:29:40,268 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,270 INFO sqlalchemy.engine.base.Engine ('Road traffic accident', 1, 0)
2018-11-14 11:29:40,273 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,277 INFO sqlalchemy.engine.base.Engine ('Night sweats', 1, 0)
2018-11-14 11:29:40,279 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,280 INFO sqlalchemy.engine.base.Engine ('Nystagmus', 1, 0)
2018-11-14 11:29:40,282 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,283 INFO sqlalchemy.engine.base.Engine ('Haematochezia', 1, 0)
2018-11-14 11:29:40,287 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,288 INFO sqlalchemy.engine.base.Engine ('Peptic ulcer', 1, 0)
2018-11-14 11:29:40,292 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:40,294 INFO sqlalchemy.engine.base.Engine ('Connective tissue disorder', 1, 0)
2018-11-14 11:29:40,295 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:40,296 INFO sqlalchemy.engine.base.Engine (168,)
2018-11-14 11:29:40,303 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,305 INFO sqlalchemy.engine.base.Engine ('Depressed mood',)
2018-11-14 11:29:40,307 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)

2018-11-14 11:29:40,310 INFO sqlalchemy.engine.base.Engine ('Respiratory disorder',)
2018-11-14 11:29:40,313 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,314 INFO sqlalchemy.engine.base.Engine ('Actinic keratosis',)
2018-11-14 11:29:40,315 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,316 INFO sqlalchemy.engine.base.Engine ('Dermal cyst',)
2018-11-14 11:29:40,318 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,318 INFO sqlalchemy.engine.base.Engine ('Vertigo CNS origin',)
2018-11-14 11:29:40,320 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,321 INFO sqlalchemy.engine.base.Engine ('Pollakiuria',)
2018-11-14 11:29:40,322 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,323 INFO sqlalchemy.engine.base.Engine ('Skin disorder',)
2018-11-14 11:29:40,328 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,329 INFO sqlalchemy.engine.base.Engine ('Radiculopathy',)
2018-11-14 11:29:40,330 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,333 INFO sqlalchemy.engine.base.Engine ('Candida infection',)
2018-11-14 11:29:40,335 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,336 INFO sqlalchemy.engine.base.Engine ('Acute sinusitis',)
2018-11-14 11:29:40,338 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,338 INFO sqlalchemy.engine.base.Engine ('Anorectal disorder',)
2018-11-14 11:29:40,340 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,342 INFO sqlalchemy.engine.base.Engine ('Chills',)
2018-11-14 11:29:40,344 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,346 INFO sqlalchemy.engine.base.Engine ('Road traffic accident',)
2018-11-14 11:29:40,348 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,348 INFO sqlalchemy.engine.base.Engine ('Ligament disorder',)
2018-11-14 11:29:40,349 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,350 INFO sqlalchemy.engine.base.Engine ('Leukocytosis',)
2018-11-14 11:29:40,356 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,357 INFO sqlalchemy.engine.base.Engine ('Night sweats',)
2018-11-14 11:29:40,360 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,361 INFO sqlalchemy.engine.base.Engine ('Nocturnal dyspnoea',)
2018-11-14 11:29:40,363 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,364 INFO sqlalchemy.engine.base.Engine ('Increased tendency to bruise',)
2018-11-14 11:29:40,365 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,369 INFO sqlalchemy.engine.base.Engine ('Cervical radiculopathy',)
2018-11-14 11:29:40,370 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,371 INFO sqlalchemy.engine.base.Engine ('Gravitational oedema',)
2018-11-14 11:29:40,372 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,374 INFO sqlalchemy.engine.base.Engine ('Middle insomnia',)
2018-11-14 11:29:40,378 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,379 INFO sqlalchemy.engine.base.Engine ('Nystagmus',)
2018-11-14 11:29:40,380 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,380 INFO sqlalchemy.engine.base.Engine ('Dyspnoea exertional',)
2018-11-14 11:29:40,381 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,382 INFO sqlalchemy.engine.base.Engine ('Peptic ulcer',)
2018-11-14 11:29:40,383 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,385 INFO sqlalchemy.engine.base.Engine ('Dry mouth',)
2018-11-14 11:29:40,386 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,387 INFO sqlalchemy.engine.base.Engine ('Animal bite',)
2018-11-14 11:29:40,389 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,390 INFO sqlalchemy.engine.base.Engine ('Radiculitis brachial',)
2018-11-14 11:29:40,391 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,392 INFO sqlalchemy.engine.base.Engine ('Skin papilloma',)
2018-11-14 11:29:40,393 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,395 INFO sqlalchemy.engine.base.Engine ('Helicobacter infection',)
2018-11-14 11:29:40,396 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,397 INFO sqlalchemy.engine.base.Engine ('Cataract',)
2018-11-14 11:29:40,398 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,398 INFO sqlalchemy.engine.base.Engine ('Gastritis',)
2018-11-14 11:29:40,399 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,399 INFO sqlalchemy.engine.base.Engine ('Dysuria',)
2018-11-14 11:29:40,400 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,401 INFO sqlalchemy.engine.base.Engine ('Muscle disorder',)
2018-11-14 11:29:40,402 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,403 INFO sqlalchemy.engine.base.Engine ('Gastrooesophageal reflux disease',)
2018-11-14 11:29:40,403 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,404 INFO sqlalchemy.engine.base.Engine ('Connective tissue disorder',)
2018-11-14 11:29:40,405 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,406 INFO sqlalchemy.engine.base.Engine ('Duodenitis',)
2018-11-14 11:29:40,407 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,408 INFO sqlalchemy.engine.base.Engine ('Vaginal discharge',)
2018-11-14 11:29:40,409 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,410 INFO sqlalchemy.engine.base.Engine ('Cerumen impaction',)
2018-11-14 11:29:40,411 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,415 INFO sqlalchemy.engine.base.Engine ('Snoring',)
2018-11-14 11:29:40,417 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,420 INFO sqlalchemy.engine.base.Engine ('Pelvic pain',)
2018-11-14 11:29:40,422 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,423 INFO sqlalchemy.engine.base.Engine ('Enthesopathy',)
2018-11-14 11:29:40,428 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,431 INFO sqlalchemy.engine.base.Engine ('Bursitis',)
2018-11-14 11:29:40,434 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:40,435 INFO sqlalchemy.engine.base.Engine ('Postmenopausal haemorrhage',)
2018-11-14 11:29:40,438 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:40,440 INFO sqlalchemy.engine.base.Engine ((218, 168), (328, 168), (329, 168), (176, 168), (330, 168), (331, 168), (332, 168), (333, 168)  ... displaying 10 of 58 total bound parameter sets ...  (370, 168), (164, 168))
2018-11-14 11:29:40,452 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:40,460 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:40,463 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:40,465 INFO sqlalchemy.engine.base.Engine (1,)

2018-11-14 11:29:40,468 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:40,469 INFO sqlalchemy.engine.base.Engine (2, 29, 1)
2018-11-14 11:29:44,231 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,233 INFO sqlalchemy.engine.base.Engine ('ENTYVIO', 1, 0)
2018-11-14 11:29:44,236 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:44,238 INFO sqlalchemy.engine.base.Engine (223,)
2018-11-14 11:29:44,245 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,247 INFO sqlalchemy.engine.base.Engine (1499, 223)
2018-11-14 11:29:44,250 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,252 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:44,257 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,259 INFO sqlalchemy.engine.base.Engine ('Hip surgery', 1, 0)
2018-11-14 11:29:44,261 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,262 INFO sqlalchemy.engine.base.Engine ('Stress', 1, 0)
2018-11-14 11:29:44,264 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,265 INFO sqlalchemy.engine.base.Engine ('Blood pressure increased', 1, 0)
2018-11-14 11:29:44,268 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:44,276 INFO sqlalchemy.engine.base.Engine (223,)
2018-11-14 11:29:44,281 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,282 INFO sqlalchemy.engine.base.Engine ('Stress',)
2018-11-14 11:29:44,286 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,288 INFO sqlalchemy.engine.base.Engine ('Hip surgery',)
2018-11-14 11:29:44,290 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,291 INFO sqlalchemy.engine.base.Engine ((432, 223), (433, 223), (318, 223), (57, 223))
2018-11-14 11:29:44,293 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:44,300 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:44,303 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:44,307 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:44,310 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:44,311 INFO sqlalchemy.engine.base.Engine (2, 47, 1)
2018-11-14 11:29:44,314 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,316 INFO sqlalchemy.engine.base.Engine ('DEXILANT', 1, 0)
2018-11-14 11:29:44,319 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:44,321 INFO sqlalchemy.engine.base.Engine (224,)
2018-11-14 11:29:44,325 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:44,327 INFO sqlalchemy.engine.base.Engine ('DEXILANT',)
2018-11-14 11:29:44,329 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,331 INFO sqlalchemy.engine.base.Engine (1562, 224)
2018-11-14 11:29:44,337 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,338 INFO sqlalchemy.engine.base.Engine ('Pulmonary hypertension', 1, 0)
2018-11-14 11:29:44,342 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,343 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:44,346 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,348 INFO sqlalchemy.engine.base.Engine ('Back pain', 1, 0)
2018-11-14 11:29:44,350 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,351 INFO sqlalchemy.engine.base.Engine ('Back pain', 1, 0)
2018-11-14 11:29:44,355 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,357 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:44,359 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:44,360 INFO sqlalchemy.engine.base.Engine (224,)
2018-11-14 11:29:44,363 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,364 INFO sqlalchemy.engine.base.Engine ('Pulmonary hypertension',)
2018-11-14 11:29:44,366 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,367 INFO sqlalchemy.engine.base.Engine ((44, 224), (57, 224), (36, 224), (434, 224))
2018-11-14 11:29:44,374 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:44,381 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:44,383 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:44,384 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:44,392 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:44,393 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:44,400 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,403 INFO sqlalchemy.engine.base.Engine ('SYSTANE LUBRICANT', 1, 0)
2018-11-14 11:29:44,405 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:44,408 INFO sqlalchemy.engine.base.Engine (225,)
2018-11-14 11:29:44,413 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:44,414 INFO sqlalchemy.engine.base.Engine ('SYSTANE LUBRICANT',)
2018-11-14 11:29:44,416 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,419 INFO sqlalchemy.engine.base.Engine (1563, 225)
2018-11-14 11:29:44,422 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,424 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)

2018-11-14 11:29:44,428 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,429 INFO sqlalchemy.engine.base.Engine ('Product odour abnormal', 1, 0)
2018-11-14 11:29:44,433 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,436 INFO sqlalchemy.engine.base.Engine ('Ocular hyperaemia', 1, 0)
2018-11-14 11:29:44,439 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:44,440 INFO sqlalchemy.engine.base.Engine (225,)
2018-11-14 11:29:44,443 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,446 INFO sqlalchemy.engine.base.Engine ('Ocular hyperaemia',)
2018-11-14 11:29:44,449 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,452 INFO sqlalchemy.engine.base.Engine ('Product odour abnormal',)
2018-11-14 11:29:44,456 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,457 INFO sqlalchemy.engine.base.Engine ((435, 225), (436, 225))
2018-11-14 11:29:44,459 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,461 INFO sqlalchemy.engine.base.Engine (36, 225)
2018-11-14 11:29:44,462 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:44,468 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:44,471 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:44,474 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:44,477 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:44,484 INFO sqlalchemy.engine.base.Engine (2, 48, 1)
2018-11-14 11:29:44,511 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,513 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:44,515 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:44,516 INFO sqlalchemy.engine.base.Engine (226,)
2018-11-14 11:29:44,520 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,523 INFO sqlalchemy.engine.base.Engine (17, 226)
2018-11-14 11:29:44,526 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,528 INFO sqlalchemy.engine.base.Engine ('Injection site pain', 1, 0)
2018-11-14 11:29:44,531 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:44,533 INFO sqlalchemy.engine.base.Engine (226,)
2018-11-14 11:29:44,537 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,538 INFO sqlalchemy.engine.base.Engine (270, 226)
2018-11-14 11:29:44,541 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:44,546 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:44,549 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:44,550 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:44,553 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:44,554 INFO sqlalchemy.engine.base.Engine (2, 24, 1)
2018-11-14 11:29:44,559 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,561 INFO sqlalchemy.engine.base.Engine ('ABILIFY MAINTENA', 1, 0)
2018-11-14 11:29:44,564 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,566 INFO sqlalchemy.engine.base.Engine ('ABILIFY MYCITE', 1, 0)
2018-11-14 11:29:44,570 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,572 INFO sqlalchemy.engine.base.Engine ('ARIPIPRAZOLE', 1, 0)
2018-11-14 11:29:44,576 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,578 INFO sqlalchemy.engine.base.Engine ('ABILIFY', 1, 0)
2018-11-14 11:29:44,581 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:44,583 INFO sqlalchemy.engine.base.Engine (227,)
2018-11-14 11:29:44,588 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:44,589 INFO sqlalchemy.engine.base.Engine ('ABILIFY MAINTENA',)
2018-11-14 11:29:44,591 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:44,592 INFO sqlalchemy.engine.base.Engine ('ABILIFY MYCITE',)
2018-11-14 11:29:44,594 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:44,595 INFO sqlalchemy.engine.base.Engine ('ARIPIPRAZOLE',)
2018-11-14 11:29:44,599 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:44,600 INFO sqlalchemy.engine.base.Engine ('ABILIFY',)
2018-11-14 11:29:44,606 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,608 INFO sqlalchemy.engine.base.Engine ((1567, 227), (1566, 227), (1564, 227), (1565, 227))
2018-11-14 11:29:44,610 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,611 INFO sqlalchemy.engine.base.Engine ('Paradoxical drug reaction', 1, 0)
2018-11-14 11:29:44,614 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,615 INFO sqlalchemy.engine.base.Engine ('Psychotic disorder', 1, 0)
2018-11-14 11:29:44,617 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,620 INFO sqlalchemy.engine.base.Engine ('Treatment failure', 1, 0)
2018-11-14 11:29:44,622 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,625 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:44,627 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,629 INFO sqlalchemy.engine.base.Engine ('Delirium', 1, 0)
2018-11-14 11:29:44,631 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:44,633 INFO sqlalchemy.engine.base.Engine (227,)

2018-11-14 11:29:44,637 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,640 INFO sqlalchemy.engine.base.Engine ('Paradoxical drug reaction',)
2018-11-14 11:29:44,643 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,645 INFO sqlalchemy.engine.base.Engine ('Delirium',)
2018-11-14 11:29:44,646 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,647 INFO sqlalchemy.engine.base.Engine ('Psychotic disorder',)
2018-11-14 11:29:44,649 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,650 INFO sqlalchemy.engine.base.Engine ((439, 227), (438, 227), (437, 227))
2018-11-14 11:29:44,653 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,656 INFO sqlalchemy.engine.base.Engine ((22, 227), (57, 227))
2018-11-14 11:29:44,659 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:44,664 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:44,667 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:44,668 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:44,672 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:44,675 INFO sqlalchemy.engine.base.Engine (1, 36, 1)
2018-11-14 11:29:44,678 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,680 INFO sqlalchemy.engine.base.Engine ('ADASUVE', 1, 0)
2018-11-14 11:29:44,691 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,692 INFO sqlalchemy.engine.base.Engine ('LOXAPINE', 1, 0)
2018-11-14 11:29:44,695 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:44,696 INFO sqlalchemy.engine.base.Engine (228,)
2018-11-14 11:29:44,700 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:44,701 INFO sqlalchemy.engine.base.Engine ('ADASUVE',)
2018-11-14 11:29:44,705 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:44,706 INFO sqlalchemy.engine.base.Engine ('LOXAPINE',)
2018-11-14 11:29:44,727 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,729 INFO sqlalchemy.engine.base.Engine ((1568, 228), (1569, 228))
2018-11-14 11:29:44,732 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,740 INFO sqlalchemy.engine.base.Engine ('Pneumonia aspiration', 1, 0)
2018-11-14 11:29:44,744 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,745 INFO sqlalchemy.engine.base.Engine ('Hyperhidrosis', 1, 0)
2018-11-14 11:29:44,748 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,749 INFO sqlalchemy.engine.base.Engine ('Extrapyramidal disorder', 1, 0)
2018-11-14 11:29:44,752 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,754 INFO sqlalchemy.engine.base.Engine ('Depressed level of consciousness', 1, 0)
2018-11-14 11:29:44,758 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,759 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:44,761 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,762 INFO sqlalchemy.engine.base.Engine ('Apathy', 1, 0)
2018-11-14 11:29:44,764 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,765 INFO sqlalchemy.engine.base.Engine ('Dysphagia', 1, 0)
2018-11-14 11:29:44,767 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,768 INFO sqlalchemy.engine.base.Engine ('Catatonia', 1, 0)
2018-11-14 11:29:44,770 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:44,772 INFO sqlalchemy.engine.base.Engine (228,)
2018-11-14 11:29:44,777 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,781 INFO sqlalchemy.engine.base.Engine ('Extrapyramidal disorder',)
2018-11-14 11:29:44,784 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,787 INFO sqlalchemy.engine.base.Engine ('Apathy',)
2018-11-14 11:29:44,793 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,801 INFO sqlalchemy.engine.base.Engine ('Depressed level of consciousness',)
2018-11-14 11:29:44,803 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,805 INFO sqlalchemy.engine.base.Engine ('Pneumonia aspiration',)
2018-11-14 11:29:44,808 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,810 INFO sqlalchemy.engine.base.Engine ((440, 228), (115, 228), (237, 228), (441, 228), (442, 228), (57, 228), (443, 228), (243, 228))
2018-11-14 11:29:44,812 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:44,825 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:44,828 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:44,830 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:44,833 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:44,836 INFO sqlalchemy.engine.base.Engine (1, 52, 1)
2018-11-14 11:29:44,841 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,843 INFO sqlalchemy.engine.base.Engine ('ABILIFY', 1, 0)
2018-11-14 11:29:44,846 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:44,848 INFO sqlalchemy.engine.base.Engine (229,)
2018-11-14 11:29:44,854 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,855 INFO sqlalchemy.engine.base.Engine (1567, 229)
2018-11-14 11:29:44,861 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,862 INFO sqlalchemy.engine.base.Engine ('Myocardial infarction', 1, 0)
2018-11-14 11:29:44,865 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?

 LIMIT ? OFFSET ?
2018-11-14 11:29:44,867 INFO sqlalchemy.engine.base.Engine ('Septic shock', 1, 0)
2018-11-14 11:29:44,871 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,874 INFO sqlalchemy.engine.base.Engine ('Pneumonia', 1, 0)
2018-11-14 11:29:44,877 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,880 INFO sqlalchemy.engine.base.Engine ('Multiple organ dysfunction syndrome', 1, 0)
2018-11-14 11:29:44,883 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,887 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:29:44,890 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,892 INFO sqlalchemy.engine.base.Engine ('Colitis ischaemic', 1, 0)
2018-11-14 11:29:44,895 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,901 INFO sqlalchemy.engine.base.Engine ('Stent placement', 1, 0)
2018-11-14 11:29:44,905 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:44,908 INFO sqlalchemy.engine.base.Engine (229,)
2018-11-14 11:29:44,913 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,915 INFO sqlalchemy.engine.base.Engine ('Stent placement',)
2018-11-14 11:29:44,916 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,918 INFO sqlalchemy.engine.base.Engine ('Septic shock',)
2018-11-14 11:29:44,920 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,921 INFO sqlalchemy.engine.base.Engine ('Multiple organ dysfunction syndrome',)
2018-11-14 11:29:44,924 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:44,925 INFO sqlalchemy.engine.base.Engine ('Myocardial infarction',)
2018-11-14 11:29:44,928 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,932 INFO sqlalchemy.engine.base.Engine ((444, 229), (446, 229), (447, 229), (445, 229))
2018-11-14 11:29:44,935 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,937 INFO sqlalchemy.engine.base.Engine ((57, 229), (395, 229), (215, 229))
2018-11-14 11:29:44,941 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:44,947 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:44,949 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:44,951 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:44,954 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:44,955 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:44,959 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,961 INFO sqlalchemy.engine.base.Engine ('NITRO-DUR', 1, 0)
2018-11-14 11:29:44,964 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:44,966 INFO sqlalchemy.engine.base.Engine (230,)
2018-11-14 11:29:44,971 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:44,973 INFO sqlalchemy.engine.base.Engine ('NITRO-DUR',)
2018-11-14 11:29:44,975 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,976 INFO sqlalchemy.engine.base.Engine (1570, 230)
2018-11-14 11:29:44,980 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:44,982 INFO sqlalchemy.engine.base.Engine ('Stent placement', 1, 0)
2018-11-14 11:29:44,986 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:44,990 INFO sqlalchemy.engine.base.Engine (230,)
2018-11-14 11:29:44,994 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:44,995 INFO sqlalchemy.engine.base.Engine (444, 230)
2018-11-14 11:29:44,998 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:45,006 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:45,008 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:45,010 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:45,014 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:45,016 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:45,018 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,019 INFO sqlalchemy.engine.base.Engine ('ILEVRO', 1, 0)
2018-11-14 11:29:45,022 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:45,024 INFO sqlalchemy.engine.base.Engine (231,)
2018-11-14 11:29:45,029 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,031 INFO sqlalchemy.engine.base.Engine ('ILEVRO',)
2018-11-14 11:29:45,035 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,036 INFO sqlalchemy.engine.base.Engine (1571, 231)
2018-11-14 11:29:45,040 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,042 INFO sqlalchemy.engine.base.Engine ('Incorrect dose administered', 1, 0)
2018-11-14 11:29:45,044 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:45,046 INFO sqlalchemy.engine.base.Engine (231,)
2018-11-14 11:29:45,049 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:45,051 INFO sqlalchemy.engine.base.Engine ('Incorrect dose administered',)
2018-11-14 11:29:45,053 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,055 INFO sqlalchemy.engine.base.Engine (448, 231)
2018-11-14 11:29:45,058 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:45,064 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:45,065 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:45,067 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:45,071 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)

2018-11-14 11:29:45,074 INFO sqlalchemy.engine.base.Engine (2, 50, 1)
2018-11-14 11:29:45,076 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,078 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:45,081 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:45,083 INFO sqlalchemy.engine.base.Engine (232,)
2018-11-14 11:29:45,092 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,093 INFO sqlalchemy.engine.base.Engine (17, 232)
2018-11-14 11:29:45,098 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,099 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:29:45,101 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,102 INFO sqlalchemy.engine.base.Engine ('Injection site pain', 1, 0)
2018-11-14 11:29:45,105 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:45,107 INFO sqlalchemy.engine.base.Engine (232,)
2018-11-14 11:29:45,110 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,113 INFO sqlalchemy.engine.base.Engine ((270, 232), (15, 232))
2018-11-14 11:29:45,116 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:45,122 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:45,125 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:45,126 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:45,131 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:45,133 INFO sqlalchemy.engine.base.Engine (2, 69, 1)
2018-11-14 11:29:45,136 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,138 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:45,141 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:45,143 INFO sqlalchemy.engine.base.Engine (233,)
2018-11-14 11:29:45,147 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,149 INFO sqlalchemy.engine.base.Engine (17, 233)
2018-11-14 11:29:45,152 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,154 INFO sqlalchemy.engine.base.Engine ('Visual impairment', 1, 0)
2018-11-14 11:29:45,157 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,159 INFO sqlalchemy.engine.base.Engine ('Rheumatoid arthritis', 1, 0)
2018-11-14 11:29:45,162 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,162 INFO sqlalchemy.engine.base.Engine ('Dry eye', 1, 0)
2018-11-14 11:29:45,165 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,166 INFO sqlalchemy.engine.base.Engine ('Eye irritation', 1, 0)
2018-11-14 11:29:45,170 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:45,172 INFO sqlalchemy.engine.base.Engine (233,)
2018-11-14 11:29:45,176 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:45,177 INFO sqlalchemy.engine.base.Engine ('Dry eye',)
2018-11-14 11:29:45,179 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,180 INFO sqlalchemy.engine.base.Engine (449, 233)
2018-11-14 11:29:45,183 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,184 INFO sqlalchemy.engine.base.Engine ((140, 233), (121, 233), (208, 233))
2018-11-14 11:29:45,188 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:45,194 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:45,197 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:45,199 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:45,201 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:45,202 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:45,205 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,209 INFO sqlalchemy.engine.base.Engine ('TYLENOL EXTRA STRENGTH', 1, 0)
2018-11-14 11:29:45,212 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,213 INFO sqlalchemy.engine.base.Engine ('TYLENOL EXTRA STRENGTH CAPLET', 1, 0)
2018-11-14 11:29:45,215 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:45,217 INFO sqlalchemy.engine.base.Engine (234,)
2018-11-14 11:29:45,224 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,227 INFO sqlalchemy.engine.base.Engine ('TYLENOL EXTRA STRENGTH',)
2018-11-14 11:29:45,229 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,231 INFO sqlalchemy.engine.base.Engine ('TYLENOL EXTRA STRENGTH CAPLET',)
2018-11-14 11:29:45,234 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,235 INFO sqlalchemy.engine.base.Engine ((1572, 234), (1573, 234))
2018-11-14 11:29:45,239 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,240 INFO sqlalchemy.engine.base.Engine ('Ulcer haemorrhage', 1, 0)
2018-11-14 11:29:45,243 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:45,244 INFO sqlalchemy.engine.base.Engine (234,)
2018-11-14 11:29:45,250 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:45,252 INFO sqlalchemy.engine.base.Engine ('Ulcer haemorrhage',)
2018-11-14 11:29:45,255 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,257 INFO sqlalchemy.engine.base.Engine (450, 234)
2018-11-14 11:29:45,260 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:45,265 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2018-11-14 11:29:45,267 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:45,268 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:45,270 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:45,272 INFO sqlalchemy.engine.base.Engine (2, 34, 1)
2018-11-14 11:29:45,277 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,280 INFO sqlalchemy.engine.base.Engine ('SUFENTANIL CITRATE', 1, 0)
2018-11-14 11:29:45,282 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:45,283 INFO sqlalchemy.engine.base.Engine (235,)
2018-11-14 11:29:45,288 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,291 INFO sqlalchemy.engine.base.Engine ('SUFENTANIL CITRATE',)
2018-11-14 11:29:45,295 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,296 INFO sqlalchemy.engine.base.Engine (1574, 235)
2018-11-14 11:29:45,301 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,302 INFO sqlalchemy.engine.base.Engine ('Peripheral nerve injury', 1, 0)
2018-11-14 11:29:45,307 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,314 INFO sqlalchemy.engine.base.Engine ('Paraesthesia', 1, 0)
2018-11-14 11:29:45,316 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,318 INFO sqlalchemy.engine.base.Engine ('Maternal exposure during pregnancy', 1, 0)
2018-11-14 11:29:45,320 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,322 INFO sqlalchemy.engine.base.Engine ('Spinal epidural haemorrhage', 1, 0)
2018-11-14 11:29:45,326 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,331 INFO sqlalchemy.engine.base.Engine ('Gait disturbance', 1, 0)
2018-11-14 11:29:45,334 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:45,335 INFO sqlalchemy.engine.base.Engine (235,)
2018-11-14 11:29:45,341 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:45,343 INFO sqlalchemy.engine.base.Engine ('Maternal exposure during pregnancy',)
2018-11-14 11:29:45,345 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:45,346 INFO sqlalchemy.engine.base.Engine ('Gait disturbance',)
2018-11-14 11:29:45,348 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:45,349 INFO sqlalchemy.engine.base.Engine ('Peripheral nerve injury',)
2018-11-14 11:29:45,350 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:45,351 INFO sqlalchemy.engine.base.Engine ('Spinal epidural haemorrhage',)
2018-11-14 11:29:45,353 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,354 INFO sqlalchemy.engine.base.Engine ((451, 235), (452, 235), (453, 235), (454, 235), (3, 235))
2018-11-14 11:29:45,359 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:45,366 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:45,369 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:45,371 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:45,374 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:45,377 INFO sqlalchemy.engine.base.Engine (1, 30, 1)
2018-11-14 11:29:45,379 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,380 INFO sqlalchemy.engine.base.Engine ('SERTRALINE', 1, 0)
2018-11-14 11:29:45,384 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,385 INFO sqlalchemy.engine.base.Engine ('SERTRALINE HYDROCHLORIDE', 1, 0)
2018-11-14 11:29:45,388 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:45,389 INFO sqlalchemy.engine.base.Engine (236,)
2018-11-14 11:29:45,394 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,396 INFO sqlalchemy.engine.base.Engine ('SERTRALINE',)
2018-11-14 11:29:45,398 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,401 INFO sqlalchemy.engine.base.Engine ('SERTRALINE HYDROCHLORIDE',)
2018-11-14 11:29:45,403 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,405 INFO sqlalchemy.engine.base.Engine ((1575, 236), (1576, 236))
2018-11-14 11:29:45,410 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,412 INFO sqlalchemy.engine.base.Engine ('Acute psychosis', 1, 0)
2018-11-14 11:29:45,415 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:45,416 INFO sqlalchemy.engine.base.Engine (236,)
2018-11-14 11:29:45,419 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:45,421 INFO sqlalchemy.engine.base.Engine ('Acute psychosis',)
2018-11-14 11:29:45,423 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,425 INFO sqlalchemy.engine.base.Engine (455, 236)
2018-11-14 11:29:45,429 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:45,438 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:45,441 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:45,443 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:45,446 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:45,448 INFO sqlalchemy.engine.base.Engine (1, 58, 1)
2018-11-14 11:29:45,451 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,453 INFO sqlalchemy.engine.base.Engine ('DICLOFENAC SODIUM TOPICAL SOLUTION', 1, 0)
2018-11-14 11:29:45,456 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,458 INFO sqlalchemy.engine.base.Engine ('PENNSAID', 1, 0)
2018-11-14 11:29:45,461 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:45,462 INFO sqlalchemy.engine.base.Engine ('XRYLIX', 1, 0)
2018-11-14 11:29:45,466 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,467 INFO sqlalchemy.engine.base.Engine ('DICLOZOR', 1, 0)
2018-11-14 11:29:45,472 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,475 INFO sqlalchemy.engine.base.Engine ('DICLOFENAC SODIUM', 1, 0)
2018-11-14 11:29:45,478 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,480 INFO sqlalchemy.engine.base.Engine ('DICLO GEL 1% WITH XRYLIX SHEETS', 1, 0)
2018-11-14 11:29:45,483 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,484 INFO sqlalchemy.engine.base.Engine ('DICLOFENAC SODIUM DELAYED RELEASE', 1, 0)
2018-11-14 11:29:45,486 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,489 INFO sqlalchemy.engine.base.Engine ('VOLTAREN', 1, 0)
2018-11-14 11:29:45,493 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,494 INFO sqlalchemy.engine.base.Engine ('DICLOFENAC', 1, 0)
2018-11-14 11:29:45,499 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,501 INFO sqlalchemy.engine.base.Engine ('PREVIDOLRX PLUS ANALGESIC PAK', 1, 0)
2018-11-14 11:29:45,504 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,507 INFO sqlalchemy.engine.base.Engine ('KLOFENSAID II', 1, 0)
2018-11-14 11:29:45,510 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,512 INFO sqlalchemy.engine.base.Engine ('LEXIXRYL', 1, 0)
2018-11-14 11:29:45,516 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,518 INFO sqlalchemy.engine.base.Engine ('SOLARAZE', 1, 0)
2018-11-14 11:29:45,520 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:45,522 INFO sqlalchemy.engine.base.Engine (237,)
2018-11-14 11:29:45,527 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,529 INFO sqlalchemy.engine.base.Engine ('DICLOFENAC SODIUM TOPICAL SOLUTION',)
2018-11-14 11:29:45,530 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,531 INFO sqlalchemy.engine.base.Engine ('PENNSAID',)
2018-11-14 11:29:45,533 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,534 INFO sqlalchemy.engine.base.Engine ('XRYLIX',)
2018-11-14 11:29:45,537 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,541 INFO sqlalchemy.engine.base.Engine ('DICLOZOR',)
2018-11-14 11:29:45,543 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,545 INFO sqlalchemy.engine.base.Engine ('DICLOFENAC SODIUM',)
2018-11-14 11:29:45,547 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,549 INFO sqlalchemy.engine.base.Engine ('DICLO GEL 1% WITH XRYLIX SHEETS',)
2018-11-14 11:29:45,552 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,553 INFO sqlalchemy.engine.base.Engine ('DICLOFENAC SODIUM DELAYED RELEASE',)
2018-11-14 11:29:45,556 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,557 INFO sqlalchemy.engine.base.Engine ('VOLTAREN',)
2018-11-14 11:29:45,559 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,560 INFO sqlalchemy.engine.base.Engine ('DICLOFENAC',)
2018-11-14 11:29:45,561 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,563 INFO sqlalchemy.engine.base.Engine ('PREVIDOLRX PLUS ANALGESIC PAK',)
2018-11-14 11:29:45,565 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,567 INFO sqlalchemy.engine.base.Engine ('KLOFENSAID II',)
2018-11-14 11:29:45,568 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,570 INFO sqlalchemy.engine.base.Engine ('LEXIXRYL',)
2018-11-14 11:29:45,576 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:45,577 INFO sqlalchemy.engine.base.Engine ('SOLARAZE',)
2018-11-14 11:29:45,580 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,581 INFO sqlalchemy.engine.base.Engine ((1585, 237), (1584, 237), (1580, 237), (1582, 237), (1588, 237), (1578, 237), (1577, 237), (1586, 237)  ... displaying 10 of 13 total bound parameter sets ...  (1579, 237), (1587, 237))
2018-11-14 11:29:45,587 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,589 INFO sqlalchemy.engine.base.Engine ('Infection', 1, 0)
2018-11-14 11:29:45,591 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:45,592 INFO sqlalchemy.engine.base.Engine (237,)
2018-11-14 11:29:45,595 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:45,596 INFO sqlalchemy.engine.base.Engine (238, 237)
2018-11-14 11:29:45,599 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:45,605 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:45,609 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:45,612 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:45,615 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:45,618 INFO sqlalchemy.engine.base.Engine (1, 70, 1)
2018-11-14 11:29:45,621 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:45,625 INFO sqlalchemy.engine.base.Engine ('ELOXATIN', 1, 0)
2018-11-14 11:29:45,629 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,759 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,760 INFO sqlalchemy.engine.base.Engine ('Agitation', 1, 0)
2018-11-14 11:29:46,764 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,765 INFO sqlalchemy.engine.base.Engine ('Hallucination', 1, 0)
2018-11-14 11:29:46,768 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:46,769 INFO sqlalchemy.engine.base.Engine (242,)

2018-11-14 11:29:46,773 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:46,774 INFO sqlalchemy.engine.base.Engine ('Hallucination',)
2018-11-14 11:29:46,776 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:46,777 INFO sqlalchemy.engine.base.Engine ((461, 242), (129, 242))
2018-11-14 11:29:46,780 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:46,787 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:46,790 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:46,791 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:46,796 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:46,797 INFO sqlalchemy.engine.base.Engine (1, 43, 1)
2018-11-14 11:29:46,800 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,802 INFO sqlalchemy.engine.base.Engine ('Drug intolerance', 1, 0)
2018-11-14 11:29:46,806 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:46,807 INFO sqlalchemy.engine.base.Engine (243,)
2018-11-14 11:29:46,812 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:46,814 INFO sqlalchemy.engine.base.Engine (7, 243)
2018-11-14 11:29:46,816 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:46,825 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:46,828 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:46,830 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:46,833 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:46,834 INFO sqlalchemy.engine.base.Engine (1, 59, 1)
2018-11-14 11:29:46,837 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,839 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:29:46,841 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:46,843 INFO sqlalchemy.engine.base.Engine (244,)
2018-11-14 11:29:46,847 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:46,849 INFO sqlalchemy.engine.base.Engine (74, 244)
2018-11-14 11:29:46,853 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:46,862 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:46,864 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:46,866 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:46,871 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:46,873 INFO sqlalchemy.engine.base.Engine (2, 20, 1)
2018-11-14 11:29:46,876 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,877 INFO sqlalchemy.engine.base.Engine ('IMODIUM A-D', 1, 0)
2018-11-14 11:29:46,880 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,881 INFO sqlalchemy.engine.base.Engine ('IMODIUM MULTI-SYMPTOM RELIEF', 1, 0)
2018-11-14 11:29:46,886 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:46,888 INFO sqlalchemy.engine.base.Engine (245,)
2018-11-14 11:29:46,891 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:46,894 INFO sqlalchemy.engine.base.Engine ('IMODIUM A-D',)
2018-11-14 11:29:46,896 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:46,897 INFO sqlalchemy.engine.base.Engine ('IMODIUM MULTI-SYMPTOM RELIEF',)
2018-11-14 11:29:46,900 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:46,901 INFO sqlalchemy.engine.base.Engine ((1695, 245), (1696, 245))
2018-11-14 11:29:46,905 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,906 INFO sqlalchemy.engine.base.Engine ('Cardiac arrest', 1, 0)
2018-11-14 11:29:46,910 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,913 INFO sqlalchemy.engine.base.Engine ('Drug abuse', 1, 0)
2018-11-14 11:29:46,916 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,916 INFO sqlalchemy.engine.base.Engine ('Electrocardiogram QRS complex prolonged', 1, 0)
2018-11-14 11:29:46,919 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,920 INFO sqlalchemy.engine.base.Engine ('Torsade de pointes', 1, 0)
2018-11-14 11:29:46,922 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,925 INFO sqlalchemy.engine.base.Engine ('Tachycardia', 1, 0)
2018-11-14 11:29:46,929 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,931 INFO sqlalchemy.engine.base.Engine ('Arrhythmia', 1, 0)
2018-11-14 11:29:46,934 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,936 INFO sqlalchemy.engine.base.Engine ('Electrocardiogram QT prolonged', 1, 0)
2018-11-14 11:29:46,939 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:46,941 INFO sqlalchemy.engine.base.Engine ('Overdose', 1, 0)
2018-11-14 11:29:46,946 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:46,947 INFO sqlalchemy.engine.base.Engine (245,)
2018-11-14 11:29:46,951 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:46,953 INFO sqlalchemy.engine.base.Engine ('Drug abuse',)
2018-11-14 11:29:46,957 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:46,962 INFO sqlalchemy.engine.base.Engine ('Tachycardia',)
2018-11-14 11:29:46,964 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:46,965 INFO sqlalchemy.engine.base.Engine ('Electrocardiogram QRS complex prolonged',)
2018-11-14 11:29:46,967 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)

2018-11-14 11:29:46,968 INFO sqlalchemy.engine.base.Engine ('Arrhythmia',)
2018-11-14 11:29:46,971 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:46,972 INFO sqlalchemy.engine.base.Engine ('Torsade de pointes',)
2018-11-14 11:29:46,973 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:46,975 INFO sqlalchemy.engine.base.Engine ('Overdose',)
2018-11-14 11:29:46,977 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:46,980 INFO sqlalchemy.engine.base.Engine ((462, 245), (463, 245), (291, 245), (81, 245), (464, 245), (465, 245), (466, 245), (467, 245))
2018-11-14 11:29:46,990 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:46,999 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,002 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,003 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,006 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,008 INFO sqlalchemy.engine.base.Engine (2, 4, 1)
2018-11-14 11:29:47,013 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,014 INFO sqlalchemy.engine.base.Engine ('CIMZIA', 1, 0)
2018-11-14 11:29:47,017 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,019 INFO sqlalchemy.engine.base.Engine (246,)
2018-11-14 11:29:47,026 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:47,029 INFO sqlalchemy.engine.base.Engine ('CIMZIA',)
2018-11-14 11:29:47,031 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,032 INFO sqlalchemy.engine.base.Engine (1697, 246)
2018-11-14 11:29:47,034 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,035 INFO sqlalchemy.engine.base.Engine ('Cervix disorder', 1, 0)
2018-11-14 11:29:47,038 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,039 INFO sqlalchemy.engine.base.Engine (246,)
2018-11-14 11:29:47,042 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,047 INFO sqlalchemy.engine.base.Engine ('Cervix disorder',)
2018-11-14 11:29:47,050 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,052 INFO sqlalchemy.engine.base.Engine (468, 246)
2018-11-14 11:29:47,054 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,061 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,065 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,067 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,069 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,072 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:47,078 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,079 INFO sqlalchemy.engine.base.Engine ('VIMPAT', 1, 0)
2018-11-14 11:29:47,082 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,083 INFO sqlalchemy.engine.base.Engine (247,)
2018-11-14 11:29:47,090 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,092 INFO sqlalchemy.engine.base.Engine (43, 247)
2018-11-14 11:29:47,095 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,096 INFO sqlalchemy.engine.base.Engine ('Fall', 1, 0)
2018-11-14 11:29:47,100 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,102 INFO sqlalchemy.engine.base.Engine ('Seizure', 1, 0)
2018-11-14 11:29:47,105 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,106 INFO sqlalchemy.engine.base.Engine ('Rash pruritic', 1, 0)
2018-11-14 11:29:47,111 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,113 INFO sqlalchemy.engine.base.Engine ('Urticaria', 1, 0)
2018-11-14 11:29:47,115 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,116 INFO sqlalchemy.engine.base.Engine (247,)
2018-11-14 11:29:47,120 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,121 INFO sqlalchemy.engine.base.Engine ((4, 247), (82, 247), (99, 247), (137, 247))
2018-11-14 11:29:47,123 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,129 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,132 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,133 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,136 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,138 INFO sqlalchemy.engine.base.Engine (2, 20, 1)
2018-11-14 11:29:47,140 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,143 INFO sqlalchemy.engine.base.Engine ('CITALOPRAM', 1, 0)
2018-11-14 11:29:47,147 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,150 INFO sqlalchemy.engine.base.Engine ('CELEXA', 1, 0)
2018-11-14 11:29:47,153 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,155 INFO sqlalchemy.engine.base.Engine ('CITALOPRAM HYDROBROMIDE', 1, 0)
2018-11-14 11:29:47,158 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,162 INFO sqlalchemy.engine.base.Engine (248,)
2018-11-14 11:29:47,167 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:47,168 INFO sqlalchemy.engine.base.Engine ('CITALOPRAM',)
2018-11-14 11:29:47,170 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:47,171 INFO sqlalchemy.engine.base.Engine ('CELEXA',)
2018-11-14 11:29:47,172 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:47,173 INFO sqlalchemy.engine.base.Engine ('CITALOPRAM HYDROBROMIDE',)

2018-11-14 11:29:47,178 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,179 INFO sqlalchemy.engine.base.Engine ((1700, 248), (1698, 248), (1699, 248))
2018-11-14 11:29:47,184 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,185 INFO sqlalchemy.engine.base.Engine ('Completed suicide', 1, 0)
2018-11-14 11:29:47,187 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,188 INFO sqlalchemy.engine.base.Engine (248,)
2018-11-14 11:29:47,192 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,194 INFO sqlalchemy.engine.base.Engine (246, 248)
2018-11-14 11:29:47,196 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,202 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,204 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,207 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,212 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,214 INFO sqlalchemy.engine.base.Engine (1, 58, 1)
2018-11-14 11:29:47,217 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,219 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:47,221 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,223 INFO sqlalchemy.engine.base.Engine (249,)
2018-11-14 11:29:47,227 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,230 INFO sqlalchemy.engine.base.Engine (17, 249)
2018-11-14 11:29:47,233 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,234 INFO sqlalchemy.engine.base.Engine ('Paronychia', 1, 0)
2018-11-14 11:29:47,237 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,238 INFO sqlalchemy.engine.base.Engine (249,)
2018-11-14 11:29:47,241 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,242 INFO sqlalchemy.engine.base.Engine ('Paronychia',)
2018-11-14 11:29:47,245 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,248 INFO sqlalchemy.engine.base.Engine (469, 249)
2018-11-14 11:29:47,251 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,258 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,263 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,265 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,267 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,271 INFO sqlalchemy.engine.base.Engine (2, 58, 1)
2018-11-14 11:29:47,275 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,278 INFO sqlalchemy.engine.base.Engine ('DECADRON', 1, 0)
2018-11-14 11:29:47,281 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,282 INFO sqlalchemy.engine.base.Engine (250,)
2018-11-14 11:29:47,288 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:47,289 INFO sqlalchemy.engine.base.Engine ('DECADRON',)
2018-11-14 11:29:47,291 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,292 INFO sqlalchemy.engine.base.Engine (1701, 250)
2018-11-14 11:29:47,295 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,297 INFO sqlalchemy.engine.base.Engine ('Neutrophil count decreased', 1, 0)
2018-11-14 11:29:47,299 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,301 INFO sqlalchemy.engine.base.Engine (250,)
2018-11-14 11:29:47,305 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,307 INFO sqlalchemy.engine.base.Engine ('Neutrophil count decreased',)
2018-11-14 11:29:47,312 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,313 INFO sqlalchemy.engine.base.Engine (470, 250)
2018-11-14 11:29:47,318 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,324 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,328 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,331 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,333 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,334 INFO sqlalchemy.engine.base.Engine (2, 51, 1)
2018-11-14 11:29:47,338 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,339 INFO sqlalchemy.engine.base.Engine ('Accidental exposure to product', 1, 0)
2018-11-14 11:29:47,342 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,344 INFO sqlalchemy.engine.base.Engine (251,)
2018-11-14 11:29:47,347 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,349 INFO sqlalchemy.engine.base.Engine ('Accidental exposure to product',)
2018-11-14 11:29:47,353 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,354 INFO sqlalchemy.engine.base.Engine (471, 251)
2018-11-14 11:29:47,357 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,364 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,366 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,368 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,370 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,380 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:47,382 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,384 INFO sqlalchemy.engine.base.Engine ('BACTRIM DS', 1, 0)
2018-11-14 11:29:47,386 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:29:47,388 INFO sqlalchemy.engine.base.Engine (252,)
2018-11-14 11:29:47,391 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:47,392 INFO sqlalchemy.engine.base.Engine ('BACTRIM DS',)
2018-11-14 11:29:47,400 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,404 INFO sqlalchemy.engine.base.Engine (1702, 252)
2018-11-14 11:29:47,406 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,408 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:47,411 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,413 INFO sqlalchemy.engine.base.Engine (252,)
2018-11-14 11:29:47,417 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,419 INFO sqlalchemy.engine.base.Engine (36, 252)
2018-11-14 11:29:47,421 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,427 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,429 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,431 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,434 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,435 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:47,439 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,440 INFO sqlalchemy.engine.base.Engine ('FERRUM METALLICUM', 1, 0)
2018-11-14 11:29:47,446 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,448 INFO sqlalchemy.engine.base.Engine ('BILIOUSNESS DIARRHEA', 1, 0)
2018-11-14 11:29:47,451 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,453 INFO sqlalchemy.engine.base.Engine (253,)
2018-11-14 11:29:47,456 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:47,458 INFO sqlalchemy.engine.base.Engine ('FERRUM METALLICUM',)
2018-11-14 11:29:47,460 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:47,463 INFO sqlalchemy.engine.base.Engine ('BILIOUSNESS DIARRHEA',)
2018-11-14 11:29:47,465 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,467 INFO sqlalchemy.engine.base.Engine ((1703, 253), (1704, 253))
2018-11-14 11:29:47,470 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,471 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:29:47,474 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,475 INFO sqlalchemy.engine.base.Engine ('Headache', 1, 0)
2018-11-14 11:29:47,480 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,484 INFO sqlalchemy.engine.base.Engine ('Chills', 1, 0)
2018-11-14 11:29:47,487 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,488 INFO sqlalchemy.engine.base.Engine ('Oropharyngeal pain', 1, 0)
2018-11-14 11:29:47,491 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,495 INFO sqlalchemy.engine.base.Engine (253,)
2018-11-14 11:29:47,499 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,501 INFO sqlalchemy.engine.base.Engine ((317, 253), (339, 253), (103, 253), (11, 253))
2018-11-14 11:29:47,504 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,512 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,516 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,518 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,520 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,522 INFO sqlalchemy.engine.base.Engine (1, 66, 1)
2018-11-14 11:29:47,527 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,529 INFO sqlalchemy.engine.base.Engine ('Dyskinesia', 1, 0)
2018-11-14 11:29:47,533 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,535 INFO sqlalchemy.engine.base.Engine ('Gait disturbance', 1, 0)
2018-11-14 11:29:47,539 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,540 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:29:47,542 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,543 INFO sqlalchemy.engine.base.Engine ('Balance disorder', 1, 0)
2018-11-14 11:29:47,549 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,552 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:47,554 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,557 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:29:47,559 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,562 INFO sqlalchemy.engine.base.Engine (254,)
2018-11-14 11:29:47,566 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,568 INFO sqlalchemy.engine.base.Engine ('Dyskinesia',)
2018-11-14 11:29:47,570 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,571 INFO sqlalchemy.engine.base.Engine ((136, 254), (74, 254), (24, 254), (36, 254), (452, 254), (472, 254))
2018-11-14 11:29:47,574 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,586 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,588 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,590 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,593 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)

2018-11-14 11:29:47,594 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:47,597 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,598 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:47,600 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,601 INFO sqlalchemy.engine.base.Engine (255,)
2018-11-14 11:29:47,605 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,607 INFO sqlalchemy.engine.base.Engine (17, 255)
2018-11-14 11:29:47,611 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,613 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:29:47,615 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,617 INFO sqlalchemy.engine.base.Engine (255,)
2018-11-14 11:29:47,621 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,622 INFO sqlalchemy.engine.base.Engine (15, 255)
2018-11-14 11:29:47,625 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,631 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,634 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,635 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,638 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,640 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:47,644 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,646 INFO sqlalchemy.engine.base.Engine ('Injection site reaction', 1, 0)
2018-11-14 11:29:47,648 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,649 INFO sqlalchemy.engine.base.Engine ('Liver function test increased', 1, 0)
2018-11-14 11:29:47,654 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,656 INFO sqlalchemy.engine.base.Engine (256,)
2018-11-14 11:29:47,658 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,659 INFO sqlalchemy.engine.base.Engine ('Injection site reaction',)
2018-11-14 11:29:47,661 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,663 INFO sqlalchemy.engine.base.Engine ('Liver function test increased',)
2018-11-14 11:29:47,668 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,670 INFO sqlalchemy.engine.base.Engine ((473, 256), (474, 256))
2018-11-14 11:29:47,673 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,682 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,684 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,686 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,688 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,689 INFO sqlalchemy.engine.base.Engine (2, 29727, 1)
2018-11-14 11:29:47,692 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,694 INFO sqlalchemy.engine.base.Engine ('ZOCOR', 1, 0)
2018-11-14 11:29:47,697 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,698 INFO sqlalchemy.engine.base.Engine (257,)
2018-11-14 11:29:47,703 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:47,705 INFO sqlalchemy.engine.base.Engine ('ZOCOR',)
2018-11-14 11:29:47,710 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,712 INFO sqlalchemy.engine.base.Engine (1705, 257)
2018-11-14 11:29:47,715 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,717 INFO sqlalchemy.engine.base.Engine ('Traumatic intracranial haemorrhage', 1, 0)
2018-11-14 11:29:47,719 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,720 INFO sqlalchemy.engine.base.Engine (257,)
2018-11-14 11:29:47,722 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,723 INFO sqlalchemy.engine.base.Engine ('Traumatic intracranial haemorrhage',)
2018-11-14 11:29:47,725 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,725 INFO sqlalchemy.engine.base.Engine (475, 257)
2018-11-14 11:29:47,728 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,734 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,735 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,736 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,737 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,738 INFO sqlalchemy.engine.base.Engine (2, 24064, 1)
2018-11-14 11:29:47,746 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,749 INFO sqlalchemy.engine.base.Engine ('Cellulitis', 1, 0)
2018-11-14 11:29:47,752 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,754 INFO sqlalchemy.engine.base.Engine (258,)
2018-11-14 11:29:47,757 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,758 INFO sqlalchemy.engine.base.Engine ('Cellulitis',)
2018-11-14 11:29:47,760 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,763 INFO sqlalchemy.engine.base.Engine (476, 258)
2018-11-14 11:29:47,766 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,772 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,774 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,776 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,782 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,783 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)

2018-11-14 11:29:47,789 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,791 INFO sqlalchemy.engine.base.Engine ('AFINITOR', 1, 0)
2018-11-14 11:29:47,797 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,798 INFO sqlalchemy.engine.base.Engine ('AFINITOR DISPERZ', 1, 0)
2018-11-14 11:29:47,800 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,801 INFO sqlalchemy.engine.base.Engine (259,)
2018-11-14 11:29:47,808 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,811 INFO sqlalchemy.engine.base.Engine ((320, 259), (321, 259))
2018-11-14 11:29:47,815 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,817 INFO sqlalchemy.engine.base.Engine ('Neuroendocrine tumour', 1, 0)
2018-11-14 11:29:47,819 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,821 INFO sqlalchemy.engine.base.Engine ('Malignant neoplasm progression', 1, 0)
2018-11-14 11:29:47,824 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,825 INFO sqlalchemy.engine.base.Engine (259,)
2018-11-14 11:29:47,830 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,830 INFO sqlalchemy.engine.base.Engine ('Neuroendocrine tumour',)
2018-11-14 11:29:47,833 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,836 INFO sqlalchemy.engine.base.Engine ((477, 259), (123, 259))
2018-11-14 11:29:47,838 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,843 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,845 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,847 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,849 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,852 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:47,855 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,857 INFO sqlalchemy.engine.base.Engine ('AUSTEDO', 1, 0)
2018-11-14 11:29:47,858 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,862 INFO sqlalchemy.engine.base.Engine (260,)
2018-11-14 11:29:47,867 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,869 INFO sqlalchemy.engine.base.Engine (198, 260)
2018-11-14 11:29:47,872 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,875 INFO sqlalchemy.engine.base.Engine ('Dizziness', 1, 0)
2018-11-14 11:29:47,877 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,880 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:29:47,883 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,884 INFO sqlalchemy.engine.base.Engine (260,)
2018-11-14 11:29:47,890 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,891 INFO sqlalchemy.engine.base.Engine ((16, 260), (24, 260))
2018-11-14 11:29:47,893 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,900 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,905 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,907 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:47,910 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,912 INFO sqlalchemy.engine.base.Engine (2, 40, 1)
2018-11-14 11:29:47,915 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,916 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:29:47,919 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:47,920 INFO sqlalchemy.engine.base.Engine (261,)
2018-11-14 11:29:47,924 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,926 INFO sqlalchemy.engine.base.Engine (17, 261)
2018-11-14 11:29:47,934 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,935 INFO sqlalchemy.engine.base.Engine ('Rheumatoid arthritis', 1, 0)
2018-11-14 11:29:47,938 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,939 INFO sqlalchemy.engine.base.Engine ('Conjunctivitis', 1, 0)
2018-11-14 11:29:47,941 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,942 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal disorder', 1, 0)
2018-11-14 11:29:47,944 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,947 INFO sqlalchemy.engine.base.Engine ('Nasopharyngitis', 1, 0)
2018-11-14 11:29:47,949 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,951 INFO sqlalchemy.engine.base.Engine (261,)
2018-11-14 11:29:47,954 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,958 INFO sqlalchemy.engine.base.Engine ('Conjunctivitis',)
2018-11-14 11:29:47,959 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:47,960 INFO sqlalchemy.engine.base.Engine ((41, 261), (30, 261), (140, 261), (478, 261))
2018-11-14 11:29:47,963 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:47,969 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:47,973 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:47,975 INFO sqlalchemy.engine.base.Engine (1,)

2018-11-14 11:29:47,980 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:47,983 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:29:47,986 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:47,988 INFO sqlalchemy.engine.base.Engine ('Femur fracture', 1, 0)
2018-11-14 11:29:47,990 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:47,992 INFO sqlalchemy.engine.base.Engine (262,)
2018-11-14 11:29:47,997 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:47,999 INFO sqlalchemy.engine.base.Engine ('Femur fracture',)
2018-11-14 11:29:48,001 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:48,004 INFO sqlalchemy.engine.base.Engine (479, 262)
2018-11-14 11:29:48,006 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:48,014 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:48,017 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:48,018 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:48,023 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:48,024 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:48,031 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:48,034 INFO sqlalchemy.engine.base.Engine ('SYMBICORT', 1, 0)
2018-11-14 11:29:48,036 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:48,038 INFO sqlalchemy.engine.base.Engine (263,)
2018-11-14 11:29:48,042 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:48,045 INFO sqlalchemy.engine.base.Engine ('SYMBICORT',)
2018-11-14 11:29:48,053 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:48,055 INFO sqlalchemy.engine.base.Engine (1706, 263)
2018-11-14 11:29:48,057 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:48,059 INFO sqlalchemy.engine.base.Engine ('Asthma', 1, 0)
2018-11-14 11:29:48,062 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:48,065 INFO sqlalchemy.engine.base.Engine ('Drug dose omission', 1, 0)
2018-11-14 11:29:48,071 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:48,074 INFO sqlalchemy.engine.base.Engine ('Intentional product misuse', 1, 0)
2018-11-14 11:29:48,079 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:48,082 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:29:48,084 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:48,085 INFO sqlalchemy.engine.base.Engine (263,)
2018-11-14 11:29:48,088 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:48,089 INFO sqlalchemy.engine.base.Engine ('Intentional product misuse',)
2018-11-14 11:29:48,091 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:48,093 INFO sqlalchemy.engine.base.Engine (480, 263)
2018-11-14 11:29:48,096 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:48,097 INFO sqlalchemy.engine.base.Engine ((66, 263), (104, 263), (170, 263))
2018-11-14 11:29:48,099 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:48,104 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:48,107 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:48,108 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:48,111 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:48,114 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:48,117 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:48,118 INFO sqlalchemy.engine.base.Engine ('Abscess limb', 1, 0)
2018-11-14 11:29:48,121 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:48,123 INFO sqlalchemy.engine.base.Engine ('Anal fistula', 1, 0)
2018-11-14 11:29:48,127 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:48,128 INFO sqlalchemy.engine.base.Engine ('Proctitis', 1, 0)
2018-11-14 11:29:48,133 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:48,135 INFO sqlalchemy.engine.base.Engine (264,)
2018-11-14 11:29:48,138 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:48,140 INFO sqlalchemy.engine.base.Engine ('Proctitis',)
2018-11-14 11:29:49,807 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:49,808 INFO sqlalchemy.engine.base.Engine (1739, 285)
2018-11-14 11:29:49,812 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:49,814 INFO sqlalchemy.engine.base.Engine ('Alopecia', 1, 0)
2018-11-14 11:29:49,819 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:49,822 INFO sqlalchemy.engine.base.Engine (285,)
2018-11-14 11:29:49,825 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:49,826 INFO sqlalchemy.engine.base.Engine (400, 285)
2018-11-14 11:29:49,828 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:49,838 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:49,840 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:49,843 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:49,848 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:49,850 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:49,853 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:49,855 INFO sqlalchemy.engine.base.Engine ('KYPROLIS', 1, 0)
2018-11-14 11:29:49,858 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:49,859 INFO sqlalchemy.engine.base.Engine (286,)
2018-11-14 11:29:49,863 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:49,864 INFO sqlalchemy.engine.base.Engine (332, 286)
2018-11-14 11:29:49,868 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:49,870 INFO sqlalchemy.engine.base.Engine ('Injection site swelling', 1, 0)
2018-11-14 11:29:49,875 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:49,877 INFO sqlalchemy.engine.base.Engine (286,)
2018-11-14 11:29:49,879 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:49,880 INFO sqlalchemy.engine.base.Engine ('Injection site swelling',)
2018-11-14 11:29:49,882 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:49,884 INFO sqlalchemy.engine.base.Engine (507, 286)
2018-11-14 11:29:49,887 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:49,892 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:49,895 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:49,896 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:49,899 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:49,901 INFO sqlalchemy.engine.base.Engine (2, 73, 1)
2018-11-14 11:29:49,904 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:49,906 INFO sqlalchemy.engine.base.Engine ('REMICADE', 1, 0)
2018-11-14 11:29:49,909 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:49,911 INFO sqlalchemy.engine.base.Engine (287,)
2018-11-14 11:29:49,915 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:49,917 INFO sqlalchemy.engine.base.Engine ('REMICADE',)
2018-11-14 11:29:49,920 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:49,925 INFO sqlalchemy.engine.base.Engine (1740, 287)
2018-11-14 11:29:49,929 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:49,930 INFO sqlalchemy.engine.base.Engine ('Mouth ulceration', 1, 0)
2018-11-14 11:29:49,933 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:49,935 INFO sqlalchemy.engine.base.Engine ('Nasopharyngitis', 1, 0)
2018-11-14 11:29:49,936 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:49,938 INFO sqlalchemy.engine.base.Engine (287,)
2018-11-14 11:29:49,941 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:49,943 INFO sqlalchemy.engine.base.Engine ('Mouth ulceration',)
2018-11-14 11:29:49,945 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:49,946 INFO sqlalchemy.engine.base.Engine ((30, 287), (508, 287))
2018-11-14 11:29:49,949 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:49,961 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:49,963 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:49,965 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:49,967 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:49,970 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:49,975 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:49,976 INFO sqlalchemy.engine.base.Engine ('PROAIR HFA', 1, 0)
2018-11-14 11:29:49,979 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:49,980 INFO sqlalchemy.engine.base.Engine (288,)
2018-11-14 11:29:49,985 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:49,987 INFO sqlalchemy.engine.base.Engine ('PROAIR HFA',)
2018-11-14 11:29:49,991 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:49,992 INFO sqlalchemy.engine.base.Engine (1741, 288)
2018-11-14 11:29:49,994 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:49,997 INFO sqlalchemy.engine.base.Engine ('Wheezing', 1, 0)
2018-11-14 11:29:50,001 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,003 INFO sqlalchemy.engine.base.Engine (288,)
2018-11-14 11:29:50,008 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,010 INFO sqlalchemy.engine.base.Engine (152, 288)
2018-11-14 11:29:50,011 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,016 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,019 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,021 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,025 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,027 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:50,033 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,035 INFO sqlalchemy.engine.base.Engine ('PROAIR HFA', 1, 0)
2018-11-14 11:29:50,037 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:50,038 INFO sqlalchemy.engine.base.Engine (289,)
2018-11-14 11:29:50,044 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,045 INFO sqlalchemy.engine.base.Engine (1741, 289)
2018-11-14 11:29:50,047 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,048 INFO sqlalchemy.engine.base.Engine ('Eye degenerative disorder', 1, 0)
2018-11-14 11:29:50,050 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id

2018-11-14 11:29:50,051 INFO sqlalchemy.engine.base.Engine (289,)
2018-11-14 11:29:50,062 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,066 INFO sqlalchemy.engine.base.Engine ('Eye degenerative disorder',)
2018-11-14 11:29:50,072 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,074 INFO sqlalchemy.engine.base.Engine (509, 289)
2018-11-14 11:29:50,076 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,081 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,083 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,086 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,088 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,090 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:50,093 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,096 INFO sqlalchemy.engine.base.Engine ('Cardiac function test abnormal', 1, 0)
2018-11-14 11:29:50,098 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,100 INFO sqlalchemy.engine.base.Engine (290,)
2018-11-14 11:29:50,105 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,108 INFO sqlalchemy.engine.base.Engine ('Cardiac function test abnormal',)
2018-11-14 11:29:50,111 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,113 INFO sqlalchemy.engine.base.Engine (510, 290)
2018-11-14 11:29:50,115 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,126 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,129 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,132 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,136 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,138 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:50,140 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,142 INFO sqlalchemy.engine.base.Engine ('Product taste abnormal', 1, 0)
2018-11-14 11:29:50,144 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,146 INFO sqlalchemy.engine.base.Engine ('Chest discomfort', 1, 0)
2018-11-14 11:29:50,151 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,153 INFO sqlalchemy.engine.base.Engine ('Urinary tract infection', 1, 0)
2018-11-14 11:29:50,155 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,156 INFO sqlalchemy.engine.base.Engine ('Feeling hot', 1, 0)
2018-11-14 11:29:50,158 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,159 INFO sqlalchemy.engine.base.Engine (291,)
2018-11-14 11:29:50,163 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,165 INFO sqlalchemy.engine.base.Engine ((19, 291), (194, 291), (269, 291), (235, 291))
2018-11-14 11:29:50,169 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,177 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,181 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,182 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,185 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,187 INFO sqlalchemy.engine.base.Engine (2, 84, 1)
2018-11-14 11:29:50,190 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,191 INFO sqlalchemy.engine.base.Engine ('Respiratory failure', 1, 0)
2018-11-14 11:29:50,197 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,199 INFO sqlalchemy.engine.base.Engine ('Dehydration', 1, 0)
2018-11-14 11:29:50,202 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,205 INFO sqlalchemy.engine.base.Engine ('Hypotension', 1, 0)
2018-11-14 11:29:50,207 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,209 INFO sqlalchemy.engine.base.Engine (292,)
2018-11-14 11:29:50,213 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,214 INFO sqlalchemy.engine.base.Engine ('Respiratory failure',)
2018-11-14 11:29:50,215 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,218 INFO sqlalchemy.engine.base.Engine (511, 292)
2018-11-14 11:29:50,222 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,226 INFO sqlalchemy.engine.base.Engine ((299, 292), (495, 292))
2018-11-14 11:29:50,227 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,237 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,240 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,241 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,243 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,244 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:50,247 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,248 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:29:50,250 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,252 INFO sqlalchemy.engine.base.Engine (293,)
2018-11-14 11:29:50,265 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,266 INFO sqlalchemy.engine.base.Engine (111, 293)
2018-11-14 11:29:50,269 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,278 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,281 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:29:50,283 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,289 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,290 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:50,293 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,295 INFO sqlalchemy.engine.base.Engine ('SANDOSTATIN LAR DEPOT', 1, 0)
2018-11-14 11:29:50,299 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:50,304 INFO sqlalchemy.engine.base.Engine (294,)
2018-11-14 11:29:50,308 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,309 INFO sqlalchemy.engine.base.Engine (48, 294)
2018-11-14 11:29:50,313 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,315 INFO sqlalchemy.engine.base.Engine ('Feeling abnormal', 1, 0)
2018-11-14 11:29:50,319 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,321 INFO sqlalchemy.engine.base.Engine (294,)
2018-11-14 11:29:50,326 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,328 INFO sqlalchemy.engine.base.Engine (35, 294)
2018-11-14 11:29:50,330 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,337 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,340 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,341 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,344 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,345 INFO sqlalchemy.engine.base.Engine (2, 87, 1)
2018-11-14 11:29:50,348 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,349 INFO sqlalchemy.engine.base.Engine ('BISOPROLOL FUMARATE', 1, 0)
2018-11-14 11:29:50,355 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:50,356 INFO sqlalchemy.engine.base.Engine (295,)
2018-11-14 11:29:50,361 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:50,361 INFO sqlalchemy.engine.base.Engine ('BISOPROLOL FUMARATE',)
2018-11-14 11:29:50,363 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,365 INFO sqlalchemy.engine.base.Engine (1742, 295)
2018-11-14 11:29:50,368 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,369 INFO sqlalchemy.engine.base.Engine ('Pulmonary embolism', 1, 0)
2018-11-14 11:29:50,371 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,371 INFO sqlalchemy.engine.base.Engine (295,)
2018-11-14 11:29:50,374 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,375 INFO sqlalchemy.engine.base.Engine ('Pulmonary embolism',)
2018-11-14 11:29:50,376 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,376 INFO sqlalchemy.engine.base.Engine (512, 295)
2018-11-14 11:29:50,378 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,383 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,385 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,386 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,389 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,390 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:50,392 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,393 INFO sqlalchemy.engine.base.Engine ('SANDOSTATIN LAR DEPOT', 1, 0)
2018-11-14 11:29:50,395 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:50,397 INFO sqlalchemy.engine.base.Engine (296,)
2018-11-14 11:29:50,402 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,403 INFO sqlalchemy.engine.base.Engine (48, 296)
2018-11-14 11:29:50,406 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,408 INFO sqlalchemy.engine.base.Engine ('Malignant neoplasm progression', 1, 0)
2018-11-14 11:29:50,410 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,411 INFO sqlalchemy.engine.base.Engine (296,)
2018-11-14 11:29:50,418 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,420 INFO sqlalchemy.engine.base.Engine (123, 296)
2018-11-14 11:29:50,424 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,430 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,439 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,451 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,454 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,456 INFO sqlalchemy.engine.base.Engine (1, 22, 1)
2018-11-14 11:29:50,465 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,467 INFO sqlalchemy.engine.base.Engine ('Helicobacter gastritis', 1, 0)
2018-11-14 11:29:50,472 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,473 INFO sqlalchemy.engine.base.Engine ('Bicytopenia', 1, 0)
2018-11-14 11:29:50,475 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,476 INFO sqlalchemy.engine.base.Engine (297,)
2018-11-14 11:29:50,479 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,480 INFO sqlalchemy.engine.base.Engine ('Bicytopenia',)
2018-11-14 11:29:50,481 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,482 INFO sqlalchemy.engine.base.Engine ('Helicobacter gastritis',)

2018-11-14 11:29:50,484 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,486 INFO sqlalchemy.engine.base.Engine ((514, 297), (513, 297))
2018-11-14 11:29:50,488 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,494 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,497 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,498 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,501 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,503 INFO sqlalchemy.engine.base.Engine (2, 45, 1)
2018-11-14 11:29:50,507 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,509 INFO sqlalchemy.engine.base.Engine ('COPAXONE', 1, 0)
2018-11-14 11:29:50,513 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:50,513 INFO sqlalchemy.engine.base.Engine (298,)
2018-11-14 11:29:50,517 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:50,520 INFO sqlalchemy.engine.base.Engine ('COPAXONE',)
2018-11-14 11:29:50,522 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,524 INFO sqlalchemy.engine.base.Engine (1743, 298)
2018-11-14 11:29:50,527 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,529 INFO sqlalchemy.engine.base.Engine ('Pharyngeal oedema', 1, 0)
2018-11-14 11:29:50,533 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,534 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:29:50,541 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,544 INFO sqlalchemy.engine.base.Engine ('Injection site pain', 1, 0)
2018-11-14 11:29:50,546 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,547 INFO sqlalchemy.engine.base.Engine (298,)
2018-11-14 11:29:50,550 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,555 INFO sqlalchemy.engine.base.Engine ('Pharyngeal oedema',)
2018-11-14 11:29:50,558 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,561 INFO sqlalchemy.engine.base.Engine ((515, 298), (270, 298), (48, 298))
2018-11-14 11:29:50,567 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,574 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,577 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,580 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,582 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,584 INFO sqlalchemy.engine.base.Engine (1, 61, 1)
2018-11-14 11:29:50,587 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,589 INFO sqlalchemy.engine.base.Engine ('ICLUSIG', 1, 0)
2018-11-14 11:29:50,593 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:50,595 INFO sqlalchemy.engine.base.Engine (299,)
2018-11-14 11:29:50,600 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,602 INFO sqlalchemy.engine.base.Engine (1561, 299)
2018-11-14 11:29:50,608 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,611 INFO sqlalchemy.engine.base.Engine ('Hyponatraemia', 1, 0)
2018-11-14 11:29:50,613 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,614 INFO sqlalchemy.engine.base.Engine ('Inappropriate antidiuretic hormone secretion', 1, 0)
2018-11-14 11:29:50,616 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,617 INFO sqlalchemy.engine.base.Engine (299,)
2018-11-14 11:29:50,623 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,625 INFO sqlalchemy.engine.base.Engine ((109, 299), (390, 299))
2018-11-14 11:29:50,627 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,634 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,638 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,639 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,642 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,643 INFO sqlalchemy.engine.base.Engine (2, 45, 1)
2018-11-14 11:29:50,646 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,647 INFO sqlalchemy.engine.base.Engine ('FLUOXETINE', 1, 0)
2018-11-14 11:29:50,651 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:50,660 INFO sqlalchemy.engine.base.Engine (300,)
2018-11-14 11:29:50,665 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,666 INFO sqlalchemy.engine.base.Engine (39, 300)
2018-11-14 11:29:50,670 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,671 INFO sqlalchemy.engine.base.Engine ('Anxiety', 1, 0)
2018-11-14 11:29:50,675 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,677 INFO sqlalchemy.engine.base.Engine ('Drug effect incomplete', 1, 0)
2018-11-14 11:29:50,679 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,680 INFO sqlalchemy.engine.base.Engine ('Tendonitis', 1, 0)
2018-11-14 11:29:50,682 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,683 INFO sqlalchemy.engine.base.Engine ('Restlessness', 1, 0)
2018-11-14 11:29:50,686 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id

2018-11-14 11:29:50,688 INFO sqlalchemy.engine.base.Engine (300,)
2018-11-14 11:29:50,690 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,691 INFO sqlalchemy.engine.base.Engine ('Restlessness',)
2018-11-14 11:29:50,692 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,693 INFO sqlalchemy.engine.base.Engine (516, 300)
2018-11-14 11:29:50,696 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,697 INFO sqlalchemy.engine.base.Engine ((175, 300), (375, 300), (209, 300))
2018-11-14 11:29:50,700 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,709 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,711 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,713 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,716 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,717 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:29:50,720 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,723 INFO sqlalchemy.engine.base.Engine ('VALPROIC ACID', 1, 0)
2018-11-14 11:29:50,726 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,730 INFO sqlalchemy.engine.base.Engine ('DEPAKENE', 1, 0)
2018-11-14 11:29:50,738 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,740 INFO sqlalchemy.engine.base.Engine ('VALPROIC', 1, 0)
2018-11-14 11:29:50,743 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:50,744 INFO sqlalchemy.engine.base.Engine (301,)
2018-11-14 11:29:50,748 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,749 INFO sqlalchemy.engine.base.Engine ((1528, 301), (1529, 301), (1530, 301))
2018-11-14 11:29:50,752 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,754 INFO sqlalchemy.engine.base.Engine ('Developmental delay', 1, 0)
2018-11-14 11:29:50,756 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,758 INFO sqlalchemy.engine.base.Engine ('Autism spectrum disorder', 1, 0)
2018-11-14 11:29:50,760 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,761 INFO sqlalchemy.engine.base.Engine ('Dysmorphism', 1, 0)
2018-11-14 11:29:50,763 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,765 INFO sqlalchemy.engine.base.Engine (301,)
2018-11-14 11:29:50,768 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,770 INFO sqlalchemy.engine.base.Engine ('Developmental delay',)
2018-11-14 11:29:50,771 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,773 INFO sqlalchemy.engine.base.Engine ('Dysmorphism',)
2018-11-14 11:29:50,776 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,778 INFO sqlalchemy.engine.base.Engine ((517, 301), (92, 301), (518, 301))
2018-11-14 11:29:50,780 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,786 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,788 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,790 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,794 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,797 INFO sqlalchemy.engine.base.Engine (1, 69, 1)
2018-11-14 11:29:50,800 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,801 INFO sqlalchemy.engine.base.Engine ('Sinoatrial block', 1, 0)
2018-11-14 11:29:50,804 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,807 INFO sqlalchemy.engine.base.Engine (302,)
2018-11-14 11:29:50,811 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,813 INFO sqlalchemy.engine.base.Engine ('Sinoatrial block',)
2018-11-14 11:29:50,814 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,815 INFO sqlalchemy.engine.base.Engine (519, 302)
2018-11-14 11:29:50,817 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,823 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,826 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,828 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,830 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,832 INFO sqlalchemy.engine.base.Engine (1, 79, 1)
2018-11-14 11:29:50,837 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,838 INFO sqlalchemy.engine.base.Engine ('NIH stroke scale score increased', 1, 0)
2018-11-14 11:29:50,841 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,843 INFO sqlalchemy.engine.base.Engine ('Cerebral artery occlusion', 1, 0)
2018-11-14 11:29:50,847 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,848 INFO sqlalchemy.engine.base.Engine ('Carotid arteriosclerosis', 1, 0)
2018-11-14 11:29:50,854 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,858 INFO sqlalchemy.engine.base.Engine ('Aphasia', 1, 0)
2018-11-14 11:29:50,860 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,861 INFO sqlalchemy.engine.base.Engine ('Hemiplegia', 1, 0)
2018-11-14 11:29:50,863 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,865 INFO sqlalchemy.engine.base.Engine (303,)
2018-11-14 11:29:50,872 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)

2018-11-14 11:29:50,874 INFO sqlalchemy.engine.base.Engine ('NIH stroke scale score increased',)
2018-11-14 11:29:50,876 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,877 INFO sqlalchemy.engine.base.Engine ('Hemiplegia',)
2018-11-14 11:29:50,879 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,881 INFO sqlalchemy.engine.base.Engine ('Carotid arteriosclerosis',)
2018-11-14 11:29:50,882 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:50,884 INFO sqlalchemy.engine.base.Engine ('Cerebral artery occlusion',)
2018-11-14 11:29:50,885 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,887 INFO sqlalchemy.engine.base.Engine ((520, 303), (521, 303), (522, 303), (98, 303), (523, 303))
2018-11-14 11:29:50,888 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,893 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,895 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,897 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,900 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,901 INFO sqlalchemy.engine.base.Engine (1, 43, 1)
2018-11-14 11:29:50,905 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,907 INFO sqlalchemy.engine.base.Engine ('PANTOPRAZOLE SODIUM', 1, 0)
2018-11-14 11:29:50,910 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,912 INFO sqlalchemy.engine.base.Engine ('PANTOPRAZOLE', 1, 0)
2018-11-14 11:29:50,915 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:50,917 INFO sqlalchemy.engine.base.Engine (304,)
2018-11-14 11:29:50,921 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:50,924 INFO sqlalchemy.engine.base.Engine ('PANTOPRAZOLE SODIUM',)
2018-11-14 11:29:50,925 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:50,927 INFO sqlalchemy.engine.base.Engine ('PANTOPRAZOLE',)
2018-11-14 11:29:50,929 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,931 INFO sqlalchemy.engine.base.Engine ((1744, 304), (1745, 304))
2018-11-14 11:29:50,933 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,934 INFO sqlalchemy.engine.base.Engine ('Hepatic failure', 1, 0)
2018-11-14 11:29:50,938 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,940 INFO sqlalchemy.engine.base.Engine ('Abdominal pain', 1, 0)
2018-11-14 11:29:50,948 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,950 INFO sqlalchemy.engine.base.Engine ('Insomnia', 1, 0)
2018-11-14 11:29:50,952 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,955 INFO sqlalchemy.engine.base.Engine ('Dry skin', 1, 0)
2018-11-14 11:29:50,958 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,959 INFO sqlalchemy.engine.base.Engine ('Fluid retention', 1, 0)
2018-11-14 11:29:50,961 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:50,964 INFO sqlalchemy.engine.base.Engine ('Renal failure', 1, 0)
2018-11-14 11:29:50,972 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:50,974 INFO sqlalchemy.engine.base.Engine (304,)
2018-11-14 11:29:50,978 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:50,980 INFO sqlalchemy.engine.base.Engine ((418, 304), (25, 304), (132, 304), (20, 304), (150, 304), (384, 304))
2018-11-14 11:29:50,982 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:50,988 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:50,991 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:50,992 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:50,996 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:50,999 INFO sqlalchemy.engine.base.Engine (1, 39, 1)
2018-11-14 11:29:51,002 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,005 INFO sqlalchemy.engine.base.Engine ('Sudden death', 1, 0)
2018-11-14 11:29:51,009 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,010 INFO sqlalchemy.engine.base.Engine ('Pain in extremity', 1, 0)
2018-11-14 11:29:51,013 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,014 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:29:51,017 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,018 INFO sqlalchemy.engine.base.Engine ('Cardio-respiratory arrest', 1, 0)
2018-11-14 11:29:51,022 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,024 INFO sqlalchemy.engine.base.Engine ('Acute pulmonary oedema', 1, 0)
2018-11-14 11:29:51,026 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:51,027 INFO sqlalchemy.engine.base.Engine (305,)
2018-11-14 11:29:51,030 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:51,034 INFO sqlalchemy.engine.base.Engine ('Acute pulmonary oedema',)
2018-11-14 11:29:51,045 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:51,047 INFO sqlalchemy.engine.base.Engine ('Cardio-respiratory arrest',)
2018-11-14 11:29:51,049 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:51,051 INFO sqlalchemy.engine.base.Engine ('Sudden death',)
2018-11-14 11:29:51,053 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:51,054 INFO sqlalchemy.engine.base.Engine ((103, 305), (524, 305), (525, 305), (526, 305), (18, 305))
2018-11-14 11:29:51,057 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:51,074 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2018-11-14 11:29:51,078 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:51,080 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:51,083 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:51,085 INFO sqlalchemy.engine.base.Engine (1, 69, 1)
2018-11-14 11:29:51,088 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,089 INFO sqlalchemy.engine.base.Engine ('ALOPRIM', 1, 0)
2018-11-14 11:29:51,092 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,093 INFO sqlalchemy.engine.base.Engine ('ALLOPURINOL', 1, 0)
2018-11-14 11:29:51,098 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,101 INFO sqlalchemy.engine.base.Engine ('ZYLOPRIM', 1, 0)
2018-11-14 11:29:51,104 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:51,106 INFO sqlalchemy.engine.base.Engine (306,)
2018-11-14 11:29:51,111 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:51,111 INFO sqlalchemy.engine.base.Engine ((1543, 306), (1544, 306), (1545, 306))
2018-11-14 11:29:51,113 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,114 INFO sqlalchemy.engine.base.Engine ('Hyperaesthesia', 1, 0)
2018-11-14 11:29:51,117 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,119 INFO sqlalchemy.engine.base.Engine ('Rash erythematous', 1, 0)
2018-11-14 11:29:51,122 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:51,124 INFO sqlalchemy.engine.base.Engine (306,)
2018-11-14 11:29:51,127 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:51,128 INFO sqlalchemy.engine.base.Engine ('Rash erythematous',)
2018-11-14 11:29:51,130 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:51,131 INFO sqlalchemy.engine.base.Engine ('Hyperaesthesia',)
2018-11-14 11:29:51,132 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:51,135 INFO sqlalchemy.engine.base.Engine ((527, 306), (528, 306))
2018-11-14 11:29:51,139 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:51,146 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:51,149 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:51,151 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:51,154 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:51,157 INFO sqlalchemy.engine.base.Engine (2, 29, 1)
2018-11-14 11:29:51,160 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,161 INFO sqlalchemy.engine.base.Engine ('Suicide attempt', 1, 0)
2018-11-14 11:29:51,164 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,165 INFO sqlalchemy.engine.base.Engine ('Intentional overdose', 1, 0)
2018-11-14 11:29:51,171 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:51,175 INFO sqlalchemy.engine.base.Engine (307,)
2018-11-14 11:29:51,180 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:51,182 INFO sqlalchemy.engine.base.Engine ('Suicide attempt',)
2018-11-14 11:29:51,185 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:51,188 INFO sqlalchemy.engine.base.Engine ((529, 307), (168, 307))
2018-11-14 11:29:51,192 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:51,198 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:51,201 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:51,202 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:51,207 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:51,209 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:51,212 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,214 INFO sqlalchemy.engine.base.Engine ('Euglycaemic diabetic ketoacidosis', 1, 0)
2018-11-14 11:29:51,217 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:51,220 INFO sqlalchemy.engine.base.Engine ('Appendicitis', 1, 0)
2018-11-14 11:29:53,403 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,404 INFO sqlalchemy.engine.base.Engine ((571, 336), (572, 336))
2018-11-14 11:29:53,406 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,407 INFO sqlalchemy.engine.base.Engine (20, 336)
2018-11-14 11:29:53,409 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:53,418 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:53,421 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:53,422 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:53,426 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:53,429 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:29:53,433 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,434 INFO sqlalchemy.engine.base.Engine ('AFINITOR', 1, 0)
2018-11-14 11:29:53,437 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,438 INFO sqlalchemy.engine.base.Engine ('AFINITOR DISPERZ', 1, 0)
2018-11-14 11:29:53,445 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:53,446 INFO sqlalchemy.engine.base.Engine (337,)
2018-11-14 11:29:53,451 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,452 INFO sqlalchemy.engine.base.Engine ((320, 337), (321, 337))
2018-11-14 11:29:53,454 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:53,457 INFO sqlalchemy.engine.base.Engine ('Product use in unapproved indication', 1, 0)
2018-11-14 11:29:53,460 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,461 INFO sqlalchemy.engine.base.Engine ('Retinal tear', 1, 0)
2018-11-14 11:29:53,463 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:53,464 INFO sqlalchemy.engine.base.Engine (337,)
2018-11-14 11:29:53,471 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:53,472 INFO sqlalchemy.engine.base.Engine ('Retinal tear',)
2018-11-14 11:29:53,475 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,477 INFO sqlalchemy.engine.base.Engine (573, 337)
2018-11-14 11:29:53,482 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,483 INFO sqlalchemy.engine.base.Engine (320, 337)
2018-11-14 11:29:53,485 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:53,489 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:53,491 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:53,493 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:53,495 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:53,498 INFO sqlalchemy.engine.base.Engine (1, 63, 1)
2018-11-14 11:29:53,503 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,505 INFO sqlalchemy.engine.base.Engine ('VOTRIENT', 1, 0)
2018-11-14 11:29:53,508 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:53,510 INFO sqlalchemy.engine.base.Engine (338,)
2018-11-14 11:29:53,515 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:53,518 INFO sqlalchemy.engine.base.Engine ('VOTRIENT',)
2018-11-14 11:29:53,521 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,523 INFO sqlalchemy.engine.base.Engine (1764, 338)
2018-11-14 11:29:53,526 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,527 INFO sqlalchemy.engine.base.Engine ('Musculoskeletal stiffness', 1, 0)
2018-11-14 11:29:53,533 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,535 INFO sqlalchemy.engine.base.Engine ('Scar', 1, 0)
2018-11-14 11:29:53,538 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:53,539 INFO sqlalchemy.engine.base.Engine (338,)
2018-11-14 11:29:53,542 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:53,545 INFO sqlalchemy.engine.base.Engine ('Scar',)
2018-11-14 11:29:53,547 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,549 INFO sqlalchemy.engine.base.Engine ((141, 338), (574, 338))
2018-11-14 11:29:53,550 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:53,555 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:53,557 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:53,562 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:53,565 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:53,569 INFO sqlalchemy.engine.base.Engine (2, 45, 1)
2018-11-14 11:29:53,572 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,574 INFO sqlalchemy.engine.base.Engine ('COSENTYX', 1, 0)
2018-11-14 11:29:53,578 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:53,580 INFO sqlalchemy.engine.base.Engine (339,)
2018-11-14 11:29:53,585 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,587 INFO sqlalchemy.engine.base.Engine (219, 339)
2018-11-14 11:29:53,590 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,592 INFO sqlalchemy.engine.base.Engine ('Swelling face', 1, 0)
2018-11-14 11:29:53,597 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,598 INFO sqlalchemy.engine.base.Engine ('Liver function test increased', 1, 0)
2018-11-14 11:29:53,601 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,602 INFO sqlalchemy.engine.base.Engine ('Dysarthria', 1, 0)
2018-11-14 11:29:53,605 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,606 INFO sqlalchemy.engine.base.Engine ('Headache', 1, 0)
2018-11-14 11:29:53,610 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,612 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:29:53,614 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,615 INFO sqlalchemy.engine.base.Engine ('Blood creatinine increased', 1, 0)
2018-11-14 11:29:53,618 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,619 INFO sqlalchemy.engine.base.Engine ('Burning sensation', 1, 0)
2018-11-14 11:29:53,621 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:53,621 INFO sqlalchemy.engine.base.Engine (339,)
2018-11-14 11:29:53,628 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:53,633 INFO sqlalchemy.engine.base.Engine ('Swelling face',)
2018-11-14 11:29:53,637 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,639 INFO sqlalchemy.engine.base.Engine ((575, 339), (474, 339), (120, 339), (11, 339), (193, 339), (501, 339), (287, 339))
2018-11-14 11:29:53,641 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:53,649 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:53,659 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:29:53,662 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:53,664 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:53,666 INFO sqlalchemy.engine.base.Engine ('None', 63, 1)
2018-11-14 11:29:53,668 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,670 INFO sqlalchemy.engine.base.Engine ('COSENTYX', 1, 0)
2018-11-14 11:29:53,673 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:53,675 INFO sqlalchemy.engine.base.Engine (340,)
2018-11-14 11:29:53,679 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,681 INFO sqlalchemy.engine.base.Engine (219, 340)
2018-11-14 11:29:53,684 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,685 INFO sqlalchemy.engine.base.Engine ('Upper respiratory tract infection', 1, 0)
2018-11-14 11:29:53,687 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:53,689 INFO sqlalchemy.engine.base.Engine (340,)
2018-11-14 11:29:53,692 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,693 INFO sqlalchemy.engine.base.Engine (156, 340)
2018-11-14 11:29:53,696 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:53,701 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:53,704 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:53,706 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:53,713 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:53,714 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:53,716 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,718 INFO sqlalchemy.engine.base.Engine ('DESFERAL', 1, 0)
2018-11-14 11:29:53,721 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:53,722 INFO sqlalchemy.engine.base.Engine (341,)
2018-11-14 11:29:53,728 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:53,731 INFO sqlalchemy.engine.base.Engine ('DESFERAL',)
2018-11-14 11:29:53,734 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,736 INFO sqlalchemy.engine.base.Engine (1765, 341)
2018-11-14 11:29:53,739 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,740 INFO sqlalchemy.engine.base.Engine ('Pneumonia', 1, 0)
2018-11-14 11:29:53,742 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:53,745 INFO sqlalchemy.engine.base.Engine (341,)
2018-11-14 11:29:53,749 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,750 INFO sqlalchemy.engine.base.Engine (215, 341)
2018-11-14 11:29:53,752 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:53,758 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:53,768 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:53,770 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:53,773 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:53,775 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:53,780 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,781 INFO sqlalchemy.engine.base.Engine ('ALTACE', 1, 0)
2018-11-14 11:29:53,784 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,785 INFO sqlalchemy.engine.base.Engine ('RAMIPRIL', 1, 0)
2018-11-14 11:29:53,787 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:53,788 INFO sqlalchemy.engine.base.Engine (342,)
2018-11-14 11:29:53,792 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:53,793 INFO sqlalchemy.engine.base.Engine ('ALTACE',)
2018-11-14 11:29:53,797 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:53,799 INFO sqlalchemy.engine.base.Engine ('RAMIPRIL',)
2018-11-14 11:29:53,802 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,803 INFO sqlalchemy.engine.base.Engine ((1766, 342), (1767, 342))
2018-11-14 11:29:53,806 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,807 INFO sqlalchemy.engine.base.Engine ('Mouth swelling', 1, 0)
2018-11-14 11:29:53,810 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,812 INFO sqlalchemy.engine.base.Engine ('Throat tightness', 1, 0)
2018-11-14 11:29:53,814 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,815 INFO sqlalchemy.engine.base.Engine ('Speech disorder', 1, 0)
2018-11-14 11:29:53,819 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,821 INFO sqlalchemy.engine.base.Engine ('Angioedema', 1, 0)
2018-11-14 11:29:53,823 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,824 INFO sqlalchemy.engine.base.Engine ('Dysphagia', 1, 0)
2018-11-14 11:29:53,826 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:53,830 INFO sqlalchemy.engine.base.Engine (342,)
2018-11-14 11:29:53,834 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:53,836 INFO sqlalchemy.engine.base.Engine ('Speech disorder',)
2018-11-14 11:29:53,841 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:53,845 INFO sqlalchemy.engine.base.Engine ('Mouth swelling',)
2018-11-14 11:29:53,848 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,852 INFO sqlalchemy.engine.base.Engine ((576, 342), (577, 342))

2018-11-14 11:29:53,854 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:53,855 INFO sqlalchemy.engine.base.Engine ((306, 342), (286, 342), (243, 342))
2018-11-14 11:29:53,866 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:53,874 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:53,876 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:53,878 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:53,882 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:53,883 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:53,885 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,892 INFO sqlalchemy.engine.base.Engine ('Back pain', 1, 0)
2018-11-14 11:29:53,896 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,899 INFO sqlalchemy.engine.base.Engine ('Lactose intolerance', 1, 0)
2018-11-14 11:29:53,902 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,904 INFO sqlalchemy.engine.base.Engine ('Abdominal pain upper', 1, 0)
2018-11-14 11:29:53,908 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,909 INFO sqlalchemy.engine.base.Engine ('Deafness', 1, 0)
2018-11-14 11:29:53,915 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,916 INFO sqlalchemy.engine.base.Engine ('Body height decreased', 1, 0)
2018-11-14 11:29:53,919 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,920 INFO sqlalchemy.engine.base.Engine ('Gastritis', 1, 0)
2018-11-14 11:29:53,922 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,923 INFO sqlalchemy.engine.base.Engine ('Macular degeneration', 1, 0)
2018-11-14 11:29:53,929 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,933 INFO sqlalchemy.engine.base.Engine ('Bone pain', 1, 0)
2018-11-14 11:29:53,936 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,939 INFO sqlalchemy.engine.base.Engine ('Reflux gastritis', 1, 0)
2018-11-14 11:29:53,942 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,944 INFO sqlalchemy.engine.base.Engine ('Depression', 1, 0)
2018-11-14 11:29:53,947 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,949 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:29:53,951 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,953 INFO sqlalchemy.engine.base.Engine ('Pain in extremity', 1, 0)
2018-11-14 11:29:53,955 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,956 INFO sqlalchemy.engine.base.Engine ('Skeletal injury', 1, 0)
2018-11-14 11:29:53,959 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,960 INFO sqlalchemy.engine.base.Engine ('Oesophagitis', 1, 0)
2018-11-14 11:29:53,963 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,969 INFO sqlalchemy.engine.base.Engine ('Arthralgia', 1, 0)
2018-11-14 11:29:53,973 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,975 INFO sqlalchemy.engine.base.Engine ('Insomnia', 1, 0)
2018-11-14 11:29:53,977 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:53,979 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:53,982 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:53,984 INFO sqlalchemy.engine.base.Engine (343,)
2018-11-14 11:29:53,987 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:53,988 INFO sqlalchemy.engine.base.Engine ('Oesophagitis',)
2018-11-14 11:29:53,989 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:53,991 INFO sqlalchemy.engine.base.Engine ('Lactose intolerance',)
2018-11-14 11:29:53,993 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:53,994 INFO sqlalchemy.engine.base.Engine ('Macular degeneration',)
2018-11-14 11:29:53,998 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:53,999 INFO sqlalchemy.engine.base.Engine ('Deafness',)
2018-11-14 11:29:54,000 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:54,002 INFO sqlalchemy.engine.base.Engine ('Skeletal injury',)
2018-11-14 11:29:54,003 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:54,004 INFO sqlalchemy.engine.base.Engine ('Reflux gastritis',)
2018-11-14 11:29:54,006 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:54,007 INFO sqlalchemy.engine.base.Engine ((578, 343), (49, 343), (579, 343), (580, 343), (120, 343), (52, 343), (581, 343), (164, 343)  ... displaying 10 of 17 total bound parameter sets ...  (583, 343), (358, 343))
2018-11-14 11:29:54,013 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:54,020 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:54,023 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:54,024 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:54,027 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:54,030 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:54,034 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,036 INFO sqlalchemy.engine.base.Engine ('PRADAXA', 1, 0)
2018-11-14 11:29:54,037 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:29:54,038 INFO sqlalchemy.engine.base.Engine (344,)
2018-11-14 11:29:54,041 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:54,042 INFO sqlalchemy.engine.base.Engine (36, 344)
2018-11-14 11:29:54,045 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,047 INFO sqlalchemy.engine.base.Engine ('Anaemia', 1, 0)
2018-11-14 11:29:54,051 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,054 INFO sqlalchemy.engine.base.Engine ('Arterial stenosis', 1, 0)
2018-11-14 11:29:54,057 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,058 INFO sqlalchemy.engine.base.Engine ('Angina pectoris', 1, 0)
2018-11-14 11:29:54,060 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:54,061 INFO sqlalchemy.engine.base.Engine (344,)
2018-11-14 11:29:54,065 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:54,067 INFO sqlalchemy.engine.base.Engine ('Arterial stenosis',)
2018-11-14 11:29:54,069 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:54,070 INFO sqlalchemy.engine.base.Engine ('Angina pectoris',)
2018-11-14 11:29:54,072 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:54,073 INFO sqlalchemy.engine.base.Engine ((584, 344), (585, 344), (108, 344))
2018-11-14 11:29:54,076 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:54,083 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:54,086 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:54,089 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:54,093 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:54,094 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:54,099 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,102 INFO sqlalchemy.engine.base.Engine ('Drug dependence', 1, 0)
2018-11-14 11:29:54,105 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,110 INFO sqlalchemy.engine.base.Engine ('Affect lability', 1, 0)
2018-11-14 11:29:54,113 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,115 INFO sqlalchemy.engine.base.Engine ('Anxiety', 1, 0)
2018-11-14 11:29:54,118 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,119 INFO sqlalchemy.engine.base.Engine ('Product quality issue', 1, 0)
2018-11-14 11:29:54,121 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,122 INFO sqlalchemy.engine.base.Engine ('Tension', 1, 0)
2018-11-14 11:29:54,126 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,127 INFO sqlalchemy.engine.base.Engine ('Device malfunction', 1, 0)
2018-11-14 11:29:54,130 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,132 INFO sqlalchemy.engine.base.Engine ('Chronic obstructive pulmonary disease', 1, 0)
2018-11-14 11:29:54,135 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,137 INFO sqlalchemy.engine.base.Engine ('Insomnia', 1, 0)
2018-11-14 11:29:54,139 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,140 INFO sqlalchemy.engine.base.Engine ('Device breakage', 1, 0)
2018-11-14 11:29:54,143 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:54,145 INFO sqlalchemy.engine.base.Engine (345,)
2018-11-14 11:29:54,149 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:54,150 INFO sqlalchemy.engine.base.Engine ('Tension',)
2018-11-14 11:29:54,156 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:54,159 INFO sqlalchemy.engine.base.Engine ('Affect lability',)
2018-11-14 11:29:54,161 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:54,163 INFO sqlalchemy.engine.base.Engine ('Device breakage',)
2018-11-14 11:29:54,164 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:54,165 INFO sqlalchemy.engine.base.Engine ('Device malfunction',)
2018-11-14 11:29:54,168 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:54,169 INFO sqlalchemy.engine.base.Engine ('Chronic obstructive pulmonary disease',)
2018-11-14 11:29:54,170 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:54,171 INFO sqlalchemy.engine.base.Engine ('Drug dependence',)
2018-11-14 11:29:54,173 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:54,176 INFO sqlalchemy.engine.base.Engine ((590, 345), (591, 345), (589, 345), (588, 345), (587, 345), (586, 345))
2018-11-14 11:29:54,178 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:54,179 INFO sqlalchemy.engine.base.Engine ((175, 345), (25, 345), (531, 345))
2018-11-14 11:29:54,183 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:54,187 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:54,192 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:54,196 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:54,202 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:54,204 INFO sqlalchemy.engine.base.Engine (2, 16, 1)
2018-11-14 11:29:54,208 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,216 INFO sqlalchemy.engine.base.Engine ('BASIC CARE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,218 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,220 INFO sqlalchemy.engine.base.Engine ('365 EVERYDAY VALUE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,225 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:54,226 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF ANTI INFLAMMATORY', 1, 0)
2018-11-14 11:29:54,233 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,235 INFO sqlalchemy.engine.base.Engine ('ADVIL', 1, 0)
2018-11-14 11:29:54,237 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,239 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE INFANTS IBUPROFEN ORAL SUSPENSION', 1, 0)
2018-11-14 11:29:54,241 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,243 INFO sqlalchemy.engine.base.Engine ('LIL DRUG STORE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,247 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,248 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,251 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,253 INFO sqlalchemy.engine.base.Engine ('PHARMAPURERX IBU 600-EZS', 1, 0)
2018-11-14 11:29:54,337 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,338 INFO sqlalchemy.engine.base.Engine ('CLEAR CHOICE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,342 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,344 INFO sqlalchemy.engine.base.Engine ('JUNIOR STRENGTH ADVIL', 1, 0)
2018-11-14 11:29:54,347 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,352 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,355 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,357 INFO sqlalchemy.engine.base.Engine ('DG HEALTH CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,359 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,361 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN PM', 1, 0)
2018-11-14 11:29:54,364 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,365 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN DYE-FREE', 1, 0)
2018-11-14 11:29:54,367 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,369 INFO sqlalchemy.engine.base.Engine ('UP AND UP DYE FREE INFANTS CONCENTRATED IBUPROFEN', 1, 0)
2018-11-14 11:29:54,373 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,374 INFO sqlalchemy.engine.base.Engine ('ADVIL MIGRAINE', 1, 0)
2018-11-14 11:29:54,377 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,378 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN SODIUM', 1, 0)
2018-11-14 11:29:54,383 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,384 INFO sqlalchemy.engine.base.Engine ('HUMANA PHARMACY CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,387 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,388 INFO sqlalchemy.engine.base.Engine ('SUNMARK IBUPROFEN IB', 1, 0)
2018-11-14 11:29:54,390 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,393 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,398 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,399 INFO sqlalchemy.engine.base.Engine ('CAREONE IBUPROFEN JUNIOR STRENGTH', 1, 0)
2018-11-14 11:29:54,402 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,403 INFO sqlalchemy.engine.base.Engine ('7 SELECT CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,406 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,406 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE IBUPROFEN INFANTS', 1, 0)
2018-11-14 11:29:54,409 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,410 INFO sqlalchemy.engine.base.Engine ('TOPCARE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,414 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,416 INFO sqlalchemy.engine.base.Engine ('ZEE IBUTAB', 1, 0)
2018-11-14 11:29:54,419 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,421 INFO sqlalchemy.engine.base.Engine ('INFANTS DYE FREE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,426 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,426 INFO sqlalchemy.engine.base.Engine ('KIRKLAND SIGNATURE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,430 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,431 INFO sqlalchemy.engine.base.Engine ('PARENTS CHOICE INFANTS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,434 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,437 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN DYE FREE', 1, 0)
2018-11-14 11:29:54,439 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,441 INFO sqlalchemy.engine.base.Engine ('INFANTS ADVIL', 1, 0)
2018-11-14 11:29:54,444 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,445 INFO sqlalchemy.engine.base.Engine ('CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,450 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,451 INFO sqlalchemy.engine.base.Engine ('TOPCARE CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,455 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,456 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN IBUPROFEN CHILDRENS DYE FREE', 1, 0)
2018-11-14 11:29:54,459 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:54,460 INFO sqlalchemy.engine.base.Engine ('MEMBERS MARK IBUPROFEN', 1, 0)
2018-11-14 11:29:54,462 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,464 INFO sqlalchemy.engine.base.Engine ('JUNIOR STRENGTH IBUPROFEN', 1, 0)
2018-11-14 11:29:54,467 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,469 INFO sqlalchemy.engine.base.Engine ('ASSURED IBUPROFEN', 1, 0)
2018-11-14 11:29:54,470 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,471 INFO sqlalchemy.engine.base.Engine ('QUALITY CHOICE IBUPROFEN 200', 1, 0)
2018-11-14 11:29:54,473 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,474 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,476 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,477 INFO sqlalchemy.engine.base.Engine ('SHOPRITE CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,479 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,480 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,483 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,486 INFO sqlalchemy.engine.base.Engine ('SMART SENSE IBUPROFEN GLUTEN FREE', 1, 0)
2018-11-14 11:29:54,491 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,492 INFO sqlalchemy.engine.base.Engine ('LEADER IBUPROFEN', 1, 0)
2018-11-14 11:29:54,494 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,495 INFO sqlalchemy.engine.base.Engine ('CIRCLE K IBUPROFEN', 1, 0)
2018-11-14 11:29:54,498 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,500 INFO sqlalchemy.engine.base.Engine ('SUNMARK IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,502 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,505 INFO sqlalchemy.engine.base.Engine ('HEALTH MART IBUPROFEN IB', 1, 0)
2018-11-14 11:29:54,508 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,508 INFO sqlalchemy.engine.base.Engine ('CARE ONE IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,510 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,512 INFO sqlalchemy.engine.base.Engine ('CHILDRENS IBUPROFEN 100 DYE FREE', 1, 0)
2018-11-14 11:29:54,516 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,517 INFO sqlalchemy.engine.base.Engine ('PREFERRED PLUS IBUPROFEN 200', 1, 0)
2018-11-14 11:29:54,522 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,524 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN INFANTS', 1, 0)
2018-11-14 11:29:54,527 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,529 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN PAIN RELIEVER/ FEVER REDUCER', 1, 0)
2018-11-14 11:29:54,533 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,534 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS IBUPROFEN INFANTS', 1, 0)
2018-11-14 11:29:54,536 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,537 INFO sqlalchemy.engine.base.Engine ('DOLEX', 1, 0)
2018-11-14 11:29:54,539 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,540 INFO sqlalchemy.engine.base.Engine ('IBUTAB', 1, 0)
2018-11-14 11:29:54,542 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,544 INFO sqlalchemy.engine.base.Engine ('CVS IBUPROFEN SODIUM', 1, 0)
2018-11-14 11:29:54,548 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,550 INFO sqlalchemy.engine.base.Engine ('PROFEN IB INFANTS', 1, 0)
2018-11-14 11:29:54,553 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,555 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN PAIN RELEIVER/ FEVER REDUCER', 1, 0)
2018-11-14 11:29:54,559 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,561 INFO sqlalchemy.engine.base.Engine ('PROPRINAL', 1, 0)
2018-11-14 11:29:54,566 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,568 INFO sqlalchemy.engine.base.Engine ('WELBY HEALTH IBUPROFEN', 1, 0)
2018-11-14 11:29:54,571 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,573 INFO sqlalchemy.engine.base.Engine ('CARE ONE IBUPROFEN INFANTS', 1, 0)
2018-11-14 11:29:54,576 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,578 INFO sqlalchemy.engine.base.Engine ('HENRY SCHEIN IBUPROFEN', 1, 0)
2018-11-14 11:29:54,581 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,583 INFO sqlalchemy.engine.base.Engine ('CARE ONE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,587 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,589 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER IBUPROFEN', 1, 0)
2018-11-14 11:29:54,591 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,593 INFO sqlalchemy.engine.base.Engine ('TOPCARE IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,595 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,598 INFO sqlalchemy.engine.base.Engine ('DG HEALTH IBUPROFEN', 1, 0)
2018-11-14 11:29:54,601 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:54,603 INFO sqlalchemy.engine.base.Engine ('KIRKLAND SIGNATURE IBUPROFEN IB', 1, 0)
2018-11-14 11:29:54,606 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,607 INFO sqlalchemy.engine.base.Engine ('RX ACT IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,611 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,613 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN PAIN RELIEVER/FEVER REDUCER', 1, 0)
2018-11-14 11:29:54,617 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,619 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN', 1, 0)
2018-11-14 11:29:54,622 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,623 INFO sqlalchemy.engine.base.Engine ('APROFEN REGULAR STRENGTH', 1, 0)
2018-11-14 11:29:54,626 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,630 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,634 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,637 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE CHILDRENS IBUPROFEN ORAL SUSPENSION', 1, 0)
2018-11-14 11:29:54,640 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,642 INFO sqlalchemy.engine.base.Engine ('CEDAPRIN', 1, 0)
2018-11-14 11:29:54,644 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,646 INFO sqlalchemy.engine.base.Engine ('TOPCARE INFANTS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,650 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,651 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,654 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,655 INFO sqlalchemy.engine.base.Engine ('CHILDRENS IBUPROFEN ORAL SUSPENSION', 1, 0)
2018-11-14 11:29:54,660 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,661 INFO sqlalchemy.engine.base.Engine ('HEALTH MART CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,666 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,667 INFO sqlalchemy.engine.base.Engine ('EQUALINE IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,669 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,670 INFO sqlalchemy.engine.base.Engine ('SHOPRITE INFANTS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,673 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,674 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES IBUPROFEN', 1, 0)
2018-11-14 11:29:54,676 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,677 INFO sqlalchemy.engine.base.Engine ('EQUALINE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,679 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,680 INFO sqlalchemy.engine.base.Engine ('INFANTS MOTRIN', 1, 0)
2018-11-14 11:29:54,684 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,685 INFO sqlalchemy.engine.base.Engine ('DYE FREE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,687 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,689 INFO sqlalchemy.engine.base.Engine ('BASIC CARE CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,690 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,691 INFO sqlalchemy.engine.base.Engine ('HEALTH MART IBUPROFEN', 1, 0)
2018-11-14 11:29:54,692 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,693 INFO sqlalchemy.engine.base.Engine ('MOTRIN IB', 1, 0)
2018-11-14 11:29:54,697 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,700 INFO sqlalchemy.engine.base.Engine ('SHOPRITE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,703 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,704 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY IBUPROFEN', 1, 0)
2018-11-14 11:29:54,707 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,709 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,711 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,712 INFO sqlalchemy.engine.base.Engine ('HELP I HAVE AN ACHING BODY', 1, 0)
2018-11-14 11:29:54,716 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,716 INFO sqlalchemy.engine.base.Engine ('GREEN GUARD IBUPROFEN RELIEF', 1, 0)
2018-11-14 11:29:54,721 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,723 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN 200', 1, 0)
2018-11-14 11:29:54,725 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,727 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER IBUPROFEN INFANTS', 1, 0)
2018-11-14 11:29:54,729 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,731 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN IBUPROFEN', 1, 0)
2018-11-14 11:29:54,734 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,736 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,739 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,740 INFO sqlalchemy.engine.base.Engine ('SMART SENSE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,744 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:54,745 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN IMMEDIATE RELEASE', 1, 0)
2018-11-14 11:29:54,750 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,752 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,759 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,761 INFO sqlalchemy.engine.base.Engine ('CAREONE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,766 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,768 INFO sqlalchemy.engine.base.Engine ('CONCENTRATED IBUPROFEN INFANTS', 1, 0)
2018-11-14 11:29:54,772 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,773 INFO sqlalchemy.engine.base.Engine ('UP AND UP CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,775 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,776 INFO sqlalchemy.engine.base.Engine ('FAST PAIN RELIEF', 1, 0)
2018-11-14 11:29:54,778 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,779 INFO sqlalchemy.engine.base.Engine ('SOUND BODY CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,781 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,782 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,784 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,784 INFO sqlalchemy.engine.base.Engine ('PROFEN IB', 1, 0)
2018-11-14 11:29:54,786 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,787 INFO sqlalchemy.engine.base.Engine ('WELBY INFANTS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,789 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,790 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN IB', 1, 0)
2018-11-14 11:29:54,793 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,794 INFO sqlalchemy.engine.base.Engine ('UP AND UP IBUPROFEN SODIUM', 1, 0)
2018-11-14 11:29:54,798 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,800 INFO sqlalchemy.engine.base.Engine ('UP AND UP IBUPROFEN JUNIOR', 1, 0)
2018-11-14 11:29:54,803 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,804 INFO sqlalchemy.engine.base.Engine ('ADVIL LIQUI-GELS', 1, 0)
2018-11-14 11:29:54,808 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,809 INFO sqlalchemy.engine.base.Engine ('LEADER IBUPROFEN 200', 1, 0)
2018-11-14 11:29:54,812 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,813 INFO sqlalchemy.engine.base.Engine ('GREEN GUARD IBUPRO RELIEF', 1, 0)
2018-11-14 11:29:54,816 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,816 INFO sqlalchemy.engine.base.Engine ('UP AND UP JUNIOR STRENGTH IBUPROFEN', 1, 0)
2018-11-14 11:29:54,820 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,821 INFO sqlalchemy.engine.base.Engine ('FAMILY WELLNESS CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,825 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,826 INFO sqlalchemy.engine.base.Engine ('CARE ONE IBUPROFEN JUNIOR STRENGTH', 1, 0)
2018-11-14 11:29:54,828 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,830 INFO sqlalchemy.engine.base.Engine ('LEADER CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,833 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,834 INFO sqlalchemy.engine.base.Engine ('REXALL IBUPROFEN', 1, 0)
2018-11-14 11:29:54,837 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,838 INFO sqlalchemy.engine.base.Engine ('CALDOLOR', 1, 0)
2018-11-14 11:29:54,840 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,841 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN LIQUI-GELS', 1, 0)
2018-11-14 11:29:54,844 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,846 INFO sqlalchemy.engine.base.Engine ('CORE VALUES CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,849 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,850 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY CHILDRENS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,853 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,855 INFO sqlalchemy.engine.base.Engine ('UP AND UP IBUPROFEN', 1, 0)
2018-11-14 11:29:54,859 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,860 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE INFANTS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,864 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,866 INFO sqlalchemy.engine.base.Engine ('SOUND BODY IBUPROFEN', 1, 0)
2018-11-14 11:29:54,869 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,870 INFO sqlalchemy.engine.base.Engine ('CHILDRENS MOTRIN', 1, 0)
2018-11-14 11:29:54,871 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,873 INFO sqlalchemy.engine.base.Engine ('DIRECT SAFETY IBUPROFEN', 1, 0)
2018-11-14 11:29:54,875 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,876 INFO sqlalchemy.engine.base.Engine ('VALUMEDS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,878 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:54,880 INFO sqlalchemy.engine.base.Engine ('7 SELECT IBUPROFEN', 1, 0)
2018-11-14 11:29:54,883 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,884 INFO sqlalchemy.engine.base.Engine ('LEADER IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,886 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,887 INFO sqlalchemy.engine.base.Engine ('IBU', 1, 0)
2018-11-14 11:29:54,890 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,891 INFO sqlalchemy.engine.base.Engine ('NUPRIN IMMEDIATE RELEASE', 1, 0)
2018-11-14 11:29:54,896 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,897 INFO sqlalchemy.engine.base.Engine ('TOPCARE IBUPROFEN JUNIOR STRENGTH', 1, 0)
2018-11-14 11:29:54,901 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,903 INFO sqlalchemy.engine.base.Engine ('COUNTERACT IB', 1, 0)
2018-11-14 11:29:54,906 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,907 INFO sqlalchemy.engine.base.Engine ('EQUATE IBUPROFEN CHILDRENS', 1, 0)
2018-11-14 11:29:54,910 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,911 INFO sqlalchemy.engine.base.Engine ('INFANTS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,916 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,918 INFO sqlalchemy.engine.base.Engine ('SUNMARK IBUPROFEN', 1, 0)
2018-11-14 11:29:54,922 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,923 INFO sqlalchemy.engine.base.Engine ('CHILDRENS IBUPROFEN 100', 1, 0)
2018-11-14 11:29:54,925 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,926 INFO sqlalchemy.engine.base.Engine ('SUNMARK IBUPROFEN INFANTS', 1, 0)
2018-11-14 11:29:54,929 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,929 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE PROVIL', 1, 0)
2018-11-14 11:29:54,934 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,935 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN FAST RELIEF MEDICINE FOR PAIN', 1, 0)
2018-11-14 11:29:54,937 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,938 INFO sqlalchemy.engine.base.Engine ('LEADER INFANTS IBUPROFEN', 1, 0)
2018-11-14 11:29:54,940 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,941 INFO sqlalchemy.engine.base.Engine ('MOTRIN INFANTS', 1, 0)
2018-11-14 11:29:54,948 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,950 INFO sqlalchemy.engine.base.Engine ('EQUATE IBUPROFEN', 1, 0)
2018-11-14 11:29:54,953 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,954 INFO sqlalchemy.engine.base.Engine ('HUMANA PHARMACY IBUPROFEN', 1, 0)
2018-11-14 11:29:54,957 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,959 INFO sqlalchemy.engine.base.Engine ('BEING WELL IBUPROFEN', 1, 0)
2018-11-14 11:29:54,962 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,963 INFO sqlalchemy.engine.base.Engine ('CVS PHARMACY IBUPROFEN', 1, 0)
2018-11-14 11:29:54,969 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,970 INFO sqlalchemy.engine.base.Engine ('FLEX-PRIN', 1, 0)
2018-11-14 11:29:54,973 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,973 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN SOFTGELS', 1, 0)
2018-11-14 11:29:54,975 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,976 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN JUNIOR STRENGTH', 1, 0)
2018-11-14 11:29:54,978 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,979 INFO sqlalchemy.engine.base.Engine ('PEDIACARE INFANTS', 1, 0)
2018-11-14 11:29:54,982 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,984 INFO sqlalchemy.engine.base.Engine ('PROBUFEN', 1, 0)
2018-11-14 11:29:54,986 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,987 INFO sqlalchemy.engine.base.Engine ('CAREALL IBUPROFEN', 1, 0)
2018-11-14 11:29:54,990 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,993 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF', 1, 0)
2018-11-14 11:29:54,996 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:54,999 INFO sqlalchemy.engine.base.Engine ('SHOPRITE IBUPROFEN IB', 1, 0)
2018-11-14 11:29:55,003 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,004 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN (NSAID) PAIN RELEIVER/ FEVER REDUCER', 1, 0)
2018-11-14 11:29:55,006 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,007 INFO sqlalchemy.engine.base.Engine ('WELBY IBUPROFEN', 1, 0)
2018-11-14 11:29:55,010 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,011 INFO sqlalchemy.engine.base.Engine ('PROFEN IB CHILDRENS', 1, 0)
2018-11-14 11:29:55,014 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,015 INFO sqlalchemy.engine.base.Engine ('PREFERRED PLUS IBUPROFEN', 1, 0)
2018-11-14 11:29:55,017 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,020 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF IBUPROFEN', 1, 0)

2018-11-14 11:29:55,025 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,026 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE INFANTS IBUPROFEN', 1, 0)
2018-11-14 11:29:55,028 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,028 INFO sqlalchemy.engine.base.Engine ('CHILDRENS ADVIL', 1, 0)
2018-11-14 11:29:55,031 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:55,033 INFO sqlalchemy.engine.base.Engine (346,)
2018-11-14 11:29:55,055 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,056 INFO sqlalchemy.engine.base.Engine ('BASIC CARE IBUPROFEN',)
2018-11-14 11:29:55,058 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,060 INFO sqlalchemy.engine.base.Engine ('365 EVERYDAY VALUE IBUPROFEN',)
2018-11-14 11:29:55,061 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,062 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF ANTI INFLAMMATORY',)
2018-11-14 11:29:55,064 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,067 INFO sqlalchemy.engine.base.Engine ('ADVIL',)
2018-11-14 11:29:55,068 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,069 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE INFANTS IBUPROFEN ORAL SUSPENSION',)
2018-11-14 11:29:55,070 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,071 INFO sqlalchemy.engine.base.Engine ('LIL DRUG STORE IBUPROFEN',)
2018-11-14 11:29:55,072 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,073 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,074 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,075 INFO sqlalchemy.engine.base.Engine ('PHARMAPURERX IBU 600-EZS',)
2018-11-14 11:29:55,076 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,078 INFO sqlalchemy.engine.base.Engine ('CLEAR CHOICE IBUPROFEN',)
2018-11-14 11:29:55,079 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,080 INFO sqlalchemy.engine.base.Engine ('JUNIOR STRENGTH ADVIL',)
2018-11-14 11:29:55,089 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,090 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,092 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,092 INFO sqlalchemy.engine.base.Engine ('DG HEALTH CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,093 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,094 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN PM',)
2018-11-14 11:29:55,096 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,098 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN DYE-FREE',)
2018-11-14 11:29:55,099 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,101 INFO sqlalchemy.engine.base.Engine ('UP AND UP DYE FREE INFANTS CONCENTRATED IBUPROFEN',)
2018-11-14 11:29:55,104 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,105 INFO sqlalchemy.engine.base.Engine ('ADVIL MIGRAINE',)
2018-11-14 11:29:55,107 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,108 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN SODIUM',)
2018-11-14 11:29:55,110 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,111 INFO sqlalchemy.engine.base.Engine ('HUMANA PHARMACY CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,112 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,113 INFO sqlalchemy.engine.base.Engine ('SUNMARK IBUPROFEN IB',)
2018-11-14 11:29:55,115 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,116 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS IBUPROFEN',)
2018-11-14 11:29:55,117 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,120 INFO sqlalchemy.engine.base.Engine ('CAREONE IBUPROFEN JUNIOR STRENGTH',)
2018-11-14 11:29:55,123 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,124 INFO sqlalchemy.engine.base.Engine ('7 SELECT CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,126 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,128 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE IBUPROFEN INFANTS',)
2018-11-14 11:29:55,129 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,130 INFO sqlalchemy.engine.base.Engine ('TOPCARE IBUPROFEN',)
2018-11-14 11:29:55,134 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,135 INFO sqlalchemy.engine.base.Engine ('ZEE IBUTAB',)
2018-11-14 11:29:55,136 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,137 INFO sqlalchemy.engine.base.Engine ('INFANTS DYE FREE IBUPROFEN',)
2018-11-14 11:29:55,139 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,140 INFO sqlalchemy.engine.base.Engine ('KIRKLAND SIGNATURE IBUPROFEN',)
2018-11-14 11:29:55,142 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,145 INFO sqlalchemy.engine.base.Engine ('PARENTS CHOICE INFANTS IBUPROFEN',)
2018-11-14 11:29:55,146 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,147 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN DYE FREE',)
2018-11-14 11:29:55,149 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,150 INFO sqlalchemy.engine.base.Engine ('INFANTS ADVIL',)
2018-11-14 11:29:55,152 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,153 INFO sqlalchemy.engine.base.Engine ('CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,154 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,157 INFO sqlalchemy.engine.base.Engine ('TOPCARE CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,161 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,162 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN IBUPROFEN CHILDRENS DYE FREE',)
2018-11-14 11:29:55,163 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,166 INFO sqlalchemy.engine.base.Engine ('MEMBERS MARK IBUPROFEN',)
2018-11-14 11:29:55,168 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,169 INFO sqlalchemy.engine.base.Engine ('JUNIOR STRENGTH IBUPROFEN',)
2018-11-14 11:29:55,170 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,172 INFO sqlalchemy.engine.base.Engine ('ASSURED IBUPROFEN',)
2018-11-14 11:29:55,173 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,174 INFO sqlalchemy.engine.base.Engine ('QUALITY CHOICE IBUPROFEN 200',)
2018-11-14 11:29:55,178 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,180 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE IBUPROFEN',)
2018-11-14 11:29:55,182 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,183 INFO sqlalchemy.engine.base.Engine ('SHOPRITE CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,184 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,185 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE CHILDRENS IBUPROFEN',)

2018-11-14 11:29:55,186 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,187 INFO sqlalchemy.engine.base.Engine ('SMART SENSE IBUPROFEN GLUTEN FREE',)
2018-11-14 11:29:55,188 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,189 INFO sqlalchemy.engine.base.Engine ('LEADER IBUPROFEN',)
2018-11-14 11:29:55,191 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,191 INFO sqlalchemy.engine.base.Engine ('CIRCLE K IBUPROFEN',)
2018-11-14 11:29:55,200 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,202 INFO sqlalchemy.engine.base.Engine ('SUNMARK IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,204 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,206 INFO sqlalchemy.engine.base.Engine ('HEALTH MART IBUPROFEN IB',)
2018-11-14 11:29:55,208 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,209 INFO sqlalchemy.engine.base.Engine ('CARE ONE IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,210 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,211 INFO sqlalchemy.engine.base.Engine ('CHILDRENS IBUPROFEN 100 DYE FREE',)
2018-11-14 11:29:55,213 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,217 INFO sqlalchemy.engine.base.Engine ('PREFERRED PLUS IBUPROFEN 200',)
2018-11-14 11:29:55,219 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,221 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN INFANTS',)
2018-11-14 11:29:55,222 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,223 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN PAIN RELIEVER/ FEVER REDUCER',)
2018-11-14 11:29:55,224 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,225 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS IBUPROFEN INFANTS',)
2018-11-14 11:29:55,227 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,227 INFO sqlalchemy.engine.base.Engine ('DOLEX',)
2018-11-14 11:29:55,228 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,229 INFO sqlalchemy.engine.base.Engine ('IBUTAB',)
2018-11-14 11:29:55,230 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,231 INFO sqlalchemy.engine.base.Engine ('CVS IBUPROFEN SODIUM',)
2018-11-14 11:29:55,236 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,236 INFO sqlalchemy.engine.base.Engine ('PROFEN IB INFANTS',)
2018-11-14 11:29:55,237 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,243 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN PAIN RELEIVER/ FEVER REDUCER',)
2018-11-14 11:29:55,245 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,246 INFO sqlalchemy.engine.base.Engine ('PROPRINAL',)
2018-11-14 11:29:55,247 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,248 INFO sqlalchemy.engine.base.Engine ('WELBY HEALTH IBUPROFEN',)
2018-11-14 11:29:55,252 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,253 INFO sqlalchemy.engine.base.Engine ('CARE ONE IBUPROFEN INFANTS',)
2018-11-14 11:29:55,253 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,254 INFO sqlalchemy.engine.base.Engine ('HENRY SCHEIN IBUPROFEN',)
2018-11-14 11:29:55,255 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,256 INFO sqlalchemy.engine.base.Engine ('CARE ONE IBUPROFEN',)
2018-11-14 11:29:55,257 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,258 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER IBUPROFEN',)
2018-11-14 11:29:55,259 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,260 INFO sqlalchemy.engine.base.Engine ('TOPCARE IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,260 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,261 INFO sqlalchemy.engine.base.Engine ('DG HEALTH IBUPROFEN',)
2018-11-14 11:29:55,262 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,263 INFO sqlalchemy.engine.base.Engine ('KIRKLAND SIGNATURE IBUPROFEN IB',)
2018-11-14 11:29:55,272 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,272 INFO sqlalchemy.engine.base.Engine ('RX ACT IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,273 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,274 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN PAIN RELIEVER/FEVER REDUCER',)
2018-11-14 11:29:55,276 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,277 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN',)
2018-11-14 11:29:55,277 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,278 INFO sqlalchemy.engine.base.Engine ('APROFEN REGULAR STRENGTH',)
2018-11-14 11:29:55,279 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,279 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,281 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,284 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE CHILDRENS IBUPROFEN ORAL SUSPENSION',)
2018-11-14 11:29:55,285 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,287 INFO sqlalchemy.engine.base.Engine ('CEDAPRIN',)
2018-11-14 11:29:55,288 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,289 INFO sqlalchemy.engine.base.Engine ('TOPCARE INFANTS IBUPROFEN',)
2018-11-14 11:29:55,290 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,291 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,292 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,300 INFO sqlalchemy.engine.base.Engine ('CHILDRENS IBUPROFEN ORAL SUSPENSION',)
2018-11-14 11:29:55,302 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,302 INFO sqlalchemy.engine.base.Engine ('HEALTH MART CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,303 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,304 INFO sqlalchemy.engine.base.Engine ('EQUALINE IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,305 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,306 INFO sqlalchemy.engine.base.Engine ('SHOPRITE INFANTS IBUPROFEN',)
2018-11-14 11:29:55,308 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,309 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES IBUPROFEN',)
2018-11-14 11:29:55,310 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,311 INFO sqlalchemy.engine.base.Engine ('EQUALINE IBUPROFEN',)
2018-11-14 11:29:55,313 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,314 INFO sqlalchemy.engine.base.Engine ('INFANTS MOTRIN',)
2018-11-14 11:29:55,318 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,319 INFO sqlalchemy.engine.base.Engine ('DYE FREE IBUPROFEN',)
2018-11-14 11:29:55,320 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,321 INFO sqlalchemy.engine.base.Engine ('BASIC CARE CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,322 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,323 INFO sqlalchemy.engine.base.Engine ('HEALTH MART IBUPROFEN',)
2018-11-14 11:29:55,324 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)

2018-11-14 11:29:55,325 INFO sqlalchemy.engine.base.Engine ('MOTRIN IB',)
2018-11-14 11:29:55,326 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,327 INFO sqlalchemy.engine.base.Engine ('SHOPRITE IBUPROFEN',)
2018-11-14 11:29:55,328 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,330 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY IBUPROFEN',)
2018-11-14 11:29:55,332 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,333 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,335 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,336 INFO sqlalchemy.engine.base.Engine ('HELP I HAVE AN ACHING BODY',)
2018-11-14 11:29:55,337 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,338 INFO sqlalchemy.engine.base.Engine ('GREEN GUARD IBUPROFEN RELIEF',)
2018-11-14 11:29:55,339 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,340 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN 200',)
2018-11-14 11:29:55,341 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,342 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER IBUPROFEN INFANTS',)
2018-11-14 11:29:55,343 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,344 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN IBUPROFEN',)
2018-11-14 11:29:55,345 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,345 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,346 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,347 INFO sqlalchemy.engine.base.Engine ('SMART SENSE IBUPROFEN',)
2018-11-14 11:29:55,348 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,349 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN IMMEDIATE RELEASE',)
2018-11-14 11:29:55,350 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,351 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE IBUPROFEN',)
2018-11-14 11:29:55,353 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,354 INFO sqlalchemy.engine.base.Engine ('CAREONE IBUPROFEN',)
2018-11-14 11:29:55,355 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,356 INFO sqlalchemy.engine.base.Engine ('CONCENTRATED IBUPROFEN INFANTS',)
2018-11-14 11:29:55,357 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,358 INFO sqlalchemy.engine.base.Engine ('UP AND UP CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,358 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,359 INFO sqlalchemy.engine.base.Engine ('FAST PAIN RELIEF',)
2018-11-14 11:29:55,361 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,361 INFO sqlalchemy.engine.base.Engine ('SOUND BODY CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,363 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,363 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,365 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,366 INFO sqlalchemy.engine.base.Engine ('PROFEN IB',)
2018-11-14 11:29:55,367 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,368 INFO sqlalchemy.engine.base.Engine ('WELBY INFANTS IBUPROFEN',)
2018-11-14 11:29:55,370 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,371 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN IB',)
2018-11-14 11:29:55,372 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,373 INFO sqlalchemy.engine.base.Engine ('UP AND UP IBUPROFEN SODIUM',)
2018-11-14 11:29:55,375 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,376 INFO sqlalchemy.engine.base.Engine ('UP AND UP IBUPROFEN JUNIOR',)
2018-11-14 11:29:55,378 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,378 INFO sqlalchemy.engine.base.Engine ('ADVIL LIQUI-GELS',)
2018-11-14 11:29:55,379 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,380 INFO sqlalchemy.engine.base.Engine ('LEADER IBUPROFEN 200',)
2018-11-14 11:29:55,381 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,382 INFO sqlalchemy.engine.base.Engine ('GREEN GUARD IBUPRO RELIEF',)
2018-11-14 11:29:55,384 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,386 INFO sqlalchemy.engine.base.Engine ('UP AND UP JUNIOR STRENGTH IBUPROFEN',)
2018-11-14 11:29:55,387 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,388 INFO sqlalchemy.engine.base.Engine ('FAMILY WELLNESS CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,389 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,390 INFO sqlalchemy.engine.base.Engine ('CARE ONE IBUPROFEN JUNIOR STRENGTH',)
2018-11-14 11:29:55,391 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,392 INFO sqlalchemy.engine.base.Engine ('LEADER CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,393 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,394 INFO sqlalchemy.engine.base.Engine ('REXALL IBUPROFEN',)
2018-11-14 11:29:55,395 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,396 INFO sqlalchemy.engine.base.Engine ('CALDOLOR',)
2018-11-14 11:29:55,397 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,398 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN LIQUI-GELS',)
2018-11-14 11:29:55,399 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,400 INFO sqlalchemy.engine.base.Engine ('CORE VALUES CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,401 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,402 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY CHILDRENS IBUPROFEN',)
2018-11-14 11:29:55,402 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,403 INFO sqlalchemy.engine.base.Engine ('UP AND UP IBUPROFEN',)
2018-11-14 11:29:55,405 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,406 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE INFANTS IBUPROFEN',)
2018-11-14 11:29:55,407 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,408 INFO sqlalchemy.engine.base.Engine ('SOUND BODY IBUPROFEN',)
2018-11-14 11:29:55,409 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,410 INFO sqlalchemy.engine.base.Engine ('CHILDRENS MOTRIN',)
2018-11-14 11:29:55,411 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,412 INFO sqlalchemy.engine.base.Engine ('DIRECT SAFETY IBUPROFEN',)
2018-11-14 11:29:55,413 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,415 INFO sqlalchemy.engine.base.Engine ('VALUMEDS IBUPROFEN',)
2018-11-14 11:29:55,416 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,417 INFO sqlalchemy.engine.base.Engine ('7 SELECT IBUPROFEN',)
2018-11-14 11:29:55,419 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,420 INFO sqlalchemy.engine.base.Engine ('LEADER IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,421 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,422 INFO sqlalchemy.engine.base.Engine ('IBU',)

2018-11-14 11:29:55,423 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,423 INFO sqlalchemy.engine.base.Engine ('NUPRIN IMMEDIATE RELEASE',)
2018-11-14 11:29:55,424 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,425 INFO sqlalchemy.engine.base.Engine ('TOPCARE IBUPROFEN JUNIOR STRENGTH',)
2018-11-14 11:29:55,425 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,426 INFO sqlalchemy.engine.base.Engine ('COUNTERACT IB',)
2018-11-14 11:29:55,427 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,427 INFO sqlalchemy.engine.base.Engine ('EQUATE IBUPROFEN CHILDRENS',)
2018-11-14 11:29:55,429 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,429 INFO sqlalchemy.engine.base.Engine ('INFANTS IBUPROFEN',)
2018-11-14 11:29:55,431 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,432 INFO sqlalchemy.engine.base.Engine ('SUNMARK IBUPROFEN',)
2018-11-14 11:29:55,433 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,434 INFO sqlalchemy.engine.base.Engine ('CHILDRENS IBUPROFEN 100',)
2018-11-14 11:29:55,437 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,438 INFO sqlalchemy.engine.base.Engine ('SUNMARK IBUPROFEN INFANTS',)
2018-11-14 11:29:55,439 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,440 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE PROVIL',)
2018-11-14 11:29:55,442 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,443 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN FAST RELIEF MEDICINE FOR PAIN',)
2018-11-14 11:29:55,446 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,447 INFO sqlalchemy.engine.base.Engine ('LEADER INFANTS IBUPROFEN',)
2018-11-14 11:29:55,453 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,457 INFO sqlalchemy.engine.base.Engine ('MOTRIN INFANTS',)
2018-11-14 11:29:55,458 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,463 INFO sqlalchemy.engine.base.Engine ('EQUATE IBUPROFEN',)
2018-11-14 11:29:55,465 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,468 INFO sqlalchemy.engine.base.Engine ('HUMANA PHARMACY IBUPROFEN',)
2018-11-14 11:29:55,469 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,471 INFO sqlalchemy.engine.base.Engine ('BEING WELL IBUPROFEN',)
2018-11-14 11:29:55,472 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,473 INFO sqlalchemy.engine.base.Engine ('CVS PHARMACY IBUPROFEN',)
2018-11-14 11:29:55,474 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,475 INFO sqlalchemy.engine.base.Engine ('FLEX-PRIN',)
2018-11-14 11:29:55,476 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,477 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN SOFTGELS',)
2018-11-14 11:29:55,478 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,480 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN JUNIOR STRENGTH',)
2018-11-14 11:29:55,482 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,484 INFO sqlalchemy.engine.base.Engine ('PEDIACARE INFANTS',)
2018-11-14 11:29:55,486 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,489 INFO sqlalchemy.engine.base.Engine ('PROBUFEN',)
2018-11-14 11:29:55,492 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,493 INFO sqlalchemy.engine.base.Engine ('CAREALL IBUPROFEN',)
2018-11-14 11:29:55,494 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,496 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF',)
2018-11-14 11:29:55,498 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,502 INFO sqlalchemy.engine.base.Engine ('SHOPRITE IBUPROFEN IB',)
2018-11-14 11:29:55,503 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,504 INFO sqlalchemy.engine.base.Engine ('IBUPROFEN (NSAID) PAIN RELEIVER/ FEVER REDUCER',)
2018-11-14 11:29:55,505 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,506 INFO sqlalchemy.engine.base.Engine ('WELBY IBUPROFEN',)
2018-11-14 11:29:55,508 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,508 INFO sqlalchemy.engine.base.Engine ('PROFEN IB CHILDRENS',)
2018-11-14 11:29:55,510 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,511 INFO sqlalchemy.engine.base.Engine ('PREFERRED PLUS IBUPROFEN',)
2018-11-14 11:29:55,514 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,515 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF IBUPROFEN',)
2018-11-14 11:29:55,516 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,518 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE INFANTS IBUPROFEN',)
2018-11-14 11:29:55,521 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:55,523 INFO sqlalchemy.engine.base.Engine ('CHILDRENS ADVIL',)
2018-11-14 11:29:55,528 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:55,530 INFO sqlalchemy.engine.base.Engine ((1768, 346), (1769, 346), (1770, 346), (1771, 346), (1772, 346), (1773, 346), (1774, 346), (1775, 346)  ... displaying 10 of 160 total bound parameter sets ...  (1926, 346), (1927, 346))
2018-11-14 11:29:55,540 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,543 INFO sqlalchemy.engine.base.Engine ('Drug abuse', 1, 0)
2018-11-14 11:29:55,548 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,551 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:29:55,555 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,558 INFO sqlalchemy.engine.base.Engine ('Intentional self-injury', 1, 0)
2018-11-14 11:29:55,561 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:55,561 INFO sqlalchemy.engine.base.Engine ('Abdominal pain upper', 1, 0)
2018-11-14 11:29:55,564 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:55,564 INFO sqlalchemy.engine.base.Engine (346,)
2018-11-14 11:29:55,569 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:55,570 INFO sqlalchemy.engine.base.Engine ('Intentional self-injury',)
2018-11-14 11:29:55,573 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:55,574 INFO sqlalchemy.engine.base.Engine (592, 346)
2018-11-14 11:29:55,576 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:55,577 INFO sqlalchemy.engine.base.Engine ((462, 346), (74, 346), (60, 346))
2018-11-14 11:29:55,582 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:55,601 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,265 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:59,267 INFO sqlalchemy.engine.base.Engine ('PROLIA', 1, 0)
2018-11-14 11:29:59,269 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,271 INFO sqlalchemy.engine.base.Engine (397,)
2018-11-14 11:29:59,277 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,278 INFO sqlalchemy.engine.base.Engine (319, 397)
2018-11-14 11:29:59,280 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,282 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:29:59,284 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:59,287 INFO sqlalchemy.engine.base.Engine (397,)
2018-11-14 11:29:59,291 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,295 INFO sqlalchemy.engine.base.Engine (111, 397)
2018-11-14 11:29:59,298 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,303 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,306 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,307 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,313 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,315 INFO sqlalchemy.engine.base.Engine (2, 34, 1)
2018-11-14 11:29:59,318 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,320 INFO sqlalchemy.engine.base.Engine ('METFORMIN HYDROCHLORIDE', 1, 0)
2018-11-14 11:29:59,323 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,325 INFO sqlalchemy.engine.base.Engine ('METFORMIN', 1, 0)
2018-11-14 11:29:59,327 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,328 INFO sqlalchemy.engine.base.Engine (398,)
2018-11-14 11:29:59,333 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:59,335 INFO sqlalchemy.engine.base.Engine ('METFORMIN',)
2018-11-14 11:29:59,338 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,339 INFO sqlalchemy.engine.base.Engine ((226, 398), (1944, 398))
2018-11-14 11:29:59,343 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,344 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:29:59,346 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:59,348 INFO sqlalchemy.engine.base.Engine (398,)
2018-11-14 11:29:59,351 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,352 INFO sqlalchemy.engine.base.Engine (36, 398)
2018-11-14 11:29:59,354 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,360 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,362 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,363 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,365 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,367 INFO sqlalchemy.engine.base.Engine (2, 50, 1)
2018-11-14 11:29:59,370 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,372 INFO sqlalchemy.engine.base.Engine ('ARANESP', 1, 0)
2018-11-14 11:29:59,375 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,376 INFO sqlalchemy.engine.base.Engine (399,)
2018-11-14 11:29:59,380 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,383 INFO sqlalchemy.engine.base.Engine (322, 399)
2018-11-14 11:29:59,385 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,386 INFO sqlalchemy.engine.base.Engine ('Fall', 1, 0)
2018-11-14 11:29:59,397 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,398 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:29:59,400 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,401 INFO sqlalchemy.engine.base.Engine ('Spinal column injury', 1, 0)
2018-11-14 11:29:59,403 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,404 INFO sqlalchemy.engine.base.Engine ('Pelvic fracture', 1, 0)
2018-11-14 11:29:59,406 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,407 INFO sqlalchemy.engine.base.Engine ('Bronchitis', 1, 0)
2018-11-14 11:29:59,408 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:59,409 INFO sqlalchemy.engine.base.Engine (399,)
2018-11-14 11:29:59,413 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:59,414 INFO sqlalchemy.engine.base.Engine ('Spinal column injury',)
2018-11-14 11:29:59,416 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:59,417 INFO sqlalchemy.engine.base.Engine ('Pelvic fracture',)
2018-11-14 11:29:59,419 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,420 INFO sqlalchemy.engine.base.Engine ((643, 399), (111, 399), (137, 399), (644, 399), (227, 399))
2018-11-14 11:29:59,422 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,429 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,434 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,435 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,441 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,449 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:29:59,453 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:29:59,454 INFO sqlalchemy.engine.base.Engine ('PROLIA', 1, 0)
2018-11-14 11:29:59,457 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,458 INFO sqlalchemy.engine.base.Engine (400,)
2018-11-14 11:29:59,463 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,465 INFO sqlalchemy.engine.base.Engine (319, 400)
2018-11-14 11:29:59,468 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,470 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:29:59,473 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:59,475 INFO sqlalchemy.engine.base.Engine (400,)
2018-11-14 11:29:59,482 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,484 INFO sqlalchemy.engine.base.Engine (111, 400)
2018-11-14 11:29:59,487 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,515 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,517 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,518 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,521 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,522 INFO sqlalchemy.engine.base.Engine (1, 71, 1)
2018-11-14 11:29:59,528 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,530 INFO sqlalchemy.engine.base.Engine ('AVAPRO', 1, 0)
2018-11-14 11:29:59,533 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,534 INFO sqlalchemy.engine.base.Engine ('IRBESARTAN', 1, 0)
2018-11-14 11:29:59,540 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,542 INFO sqlalchemy.engine.base.Engine (401,)
2018-11-14 11:29:59,549 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:59,551 INFO sqlalchemy.engine.base.Engine ('AVAPRO',)
2018-11-14 11:29:59,554 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:59,555 INFO sqlalchemy.engine.base.Engine ('IRBESARTAN',)
2018-11-14 11:29:59,557 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,559 INFO sqlalchemy.engine.base.Engine ((1945, 401), (1946, 401))
2018-11-14 11:29:59,562 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,564 INFO sqlalchemy.engine.base.Engine ('Hypotension', 1, 0)
2018-11-14 11:29:59,565 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:59,566 INFO sqlalchemy.engine.base.Engine (401,)
2018-11-14 11:29:59,569 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,571 INFO sqlalchemy.engine.base.Engine (299, 401)
2018-11-14 11:29:59,578 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,586 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,591 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,592 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,596 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,598 INFO sqlalchemy.engine.base.Engine (2, 78, 1)
2018-11-14 11:29:59,601 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,603 INFO sqlalchemy.engine.base.Engine ('REPATHA', 1, 0)
2018-11-14 11:29:59,606 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,607 INFO sqlalchemy.engine.base.Engine (402,)
2018-11-14 11:29:59,613 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,614 INFO sqlalchemy.engine.base.Engine (1758, 402)
2018-11-14 11:29:59,618 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,620 INFO sqlalchemy.engine.base.Engine ('Apparent death', 1, 0)
2018-11-14 11:29:59,623 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,625 INFO sqlalchemy.engine.base.Engine ('Pneumonia', 1, 0)
2018-11-14 11:29:59,628 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:59,629 INFO sqlalchemy.engine.base.Engine (402,)
2018-11-14 11:29:59,632 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:59,633 INFO sqlalchemy.engine.base.Engine ('Apparent death',)
2018-11-14 11:29:59,635 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,636 INFO sqlalchemy.engine.base.Engine ((645, 402), (215, 402))
2018-11-14 11:29:59,638 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,647 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,651 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,654 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,657 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,660 INFO sqlalchemy.engine.base.Engine (2, 86, 1)
2018-11-14 11:29:59,664 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,666 INFO sqlalchemy.engine.base.Engine ('ARANESP', 1, 0)
2018-11-14 11:29:59,668 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,669 INFO sqlalchemy.engine.base.Engine (403,)
2018-11-14 11:29:59,675 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,678 INFO sqlalchemy.engine.base.Engine (322, 403)
2018-11-14 11:29:59,682 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,684 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:29:59,686 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id

2018-11-14 11:29:59,688 INFO sqlalchemy.engine.base.Engine (403,)
2018-11-14 11:29:59,691 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,695 INFO sqlalchemy.engine.base.Engine (111, 403)
2018-11-14 11:29:59,698 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,704 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,706 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,707 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,710 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,711 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:59,716 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,718 INFO sqlalchemy.engine.base.Engine ('ARANESP', 1, 0)
2018-11-14 11:29:59,720 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,721 INFO sqlalchemy.engine.base.Engine (404,)
2018-11-14 11:29:59,726 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,728 INFO sqlalchemy.engine.base.Engine (322, 404)
2018-11-14 11:29:59,731 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,732 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:29:59,735 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:59,736 INFO sqlalchemy.engine.base.Engine (404,)
2018-11-14 11:29:59,740 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,741 INFO sqlalchemy.engine.base.Engine (111, 404)
2018-11-14 11:29:59,744 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,749 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,752 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,754 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,756 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,758 INFO sqlalchemy.engine.base.Engine (1, 75, 1)
2018-11-14 11:29:59,764 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,766 INFO sqlalchemy.engine.base.Engine ('REPATHA', 1, 0)
2018-11-14 11:29:59,768 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,770 INFO sqlalchemy.engine.base.Engine (405,)
2018-11-14 11:29:59,774 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,776 INFO sqlalchemy.engine.base.Engine (1758, 405)
2018-11-14 11:29:59,782 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,783 INFO sqlalchemy.engine.base.Engine ('Bronchitis', 1, 0)
2018-11-14 11:29:59,786 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,790 INFO sqlalchemy.engine.base.Engine ('Influenza', 1, 0)
2018-11-14 11:29:59,793 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,795 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:29:59,797 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,799 INFO sqlalchemy.engine.base.Engine ('Coronary arterial stent insertion', 1, 0)
2018-11-14 11:29:59,801 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:59,802 INFO sqlalchemy.engine.base.Engine (405,)
2018-11-14 11:29:59,807 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:59,809 INFO sqlalchemy.engine.base.Engine ('Influenza',)
2018-11-14 11:29:59,811 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:59,812 INFO sqlalchemy.engine.base.Engine ('Coronary arterial stent insertion',)
2018-11-14 11:29:59,814 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,816 INFO sqlalchemy.engine.base.Engine ((227, 405), (646, 405), (647, 405), (15, 405))
2018-11-14 11:29:59,820 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,826 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,831 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,832 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,835 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,837 INFO sqlalchemy.engine.base.Engine (2, 84, 1)
2018-11-14 11:29:59,840 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,842 INFO sqlalchemy.engine.base.Engine ('MOMETASONE FUROATE', 1, 0)
2018-11-14 11:29:59,846 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,848 INFO sqlalchemy.engine.base.Engine (406,)
2018-11-14 11:29:59,853 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:59,854 INFO sqlalchemy.engine.base.Engine ('MOMETASONE FUROATE',)
2018-11-14 11:29:59,856 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,857 INFO sqlalchemy.engine.base.Engine (1947, 406)
2018-11-14 11:29:59,859 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,861 INFO sqlalchemy.engine.base.Engine ('Agranulocytosis', 1, 0)
2018-11-14 11:29:59,863 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,865 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:29:59,866 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:59,867 INFO sqlalchemy.engine.base.Engine (406,)
2018-11-14 11:29:59,870 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:29:59,872 INFO sqlalchemy.engine.base.Engine ('Agranulocytosis',)

2018-11-14 11:29:59,876 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,878 INFO sqlalchemy.engine.base.Engine (648, 406)
2018-11-14 11:29:59,882 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,884 INFO sqlalchemy.engine.base.Engine (103, 406)
2018-11-14 11:29:59,886 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,911 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,913 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,915 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,918 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,919 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:29:59,922 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,923 INFO sqlalchemy.engine.base.Engine ('ARANESP', 1, 0)
2018-11-14 11:29:59,926 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,928 INFO sqlalchemy.engine.base.Engine (407,)
2018-11-14 11:29:59,932 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,934 INFO sqlalchemy.engine.base.Engine (322, 407)
2018-11-14 11:29:59,939 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,940 INFO sqlalchemy.engine.base.Engine ('Pneumonia', 1, 0)
2018-11-14 11:29:59,942 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:29:59,944 INFO sqlalchemy.engine.base.Engine (407,)
2018-11-14 11:29:59,948 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,950 INFO sqlalchemy.engine.base.Engine (215, 407)
2018-11-14 11:29:59,952 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:29:59,962 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:29:59,964 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:29:59,966 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:29:59,968 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:29:59,971 INFO sqlalchemy.engine.base.Engine (2, 65, 1)
2018-11-14 11:29:59,973 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:29:59,975 INFO sqlalchemy.engine.base.Engine ('FARXIGA', 1, 0)
2018-11-14 11:29:59,978 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:29:59,983 INFO sqlalchemy.engine.base.Engine (408,)
2018-11-14 11:29:59,988 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:29:59,991 INFO sqlalchemy.engine.base.Engine ('FARXIGA',)
2018-11-14 11:29:59,993 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:29:59,997 INFO sqlalchemy.engine.base.Engine (1948, 408)
2018-11-14 11:30:00,002 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,003 INFO sqlalchemy.engine.base.Engine ('Ketoacidosis', 1, 0)
2018-11-14 11:30:00,006 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:00,007 INFO sqlalchemy.engine.base.Engine (408,)
2018-11-14 11:30:00,020 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:00,023 INFO sqlalchemy.engine.base.Engine ('Ketoacidosis',)
2018-11-14 11:30:00,026 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,028 INFO sqlalchemy.engine.base.Engine (649, 408)
2018-11-14 11:30:00,031 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:00,036 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:00,040 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:00,042 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:00,045 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:00,046 INFO sqlalchemy.engine.base.Engine (2, 93, 1)
2018-11-14 11:30:00,051 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,052 INFO sqlalchemy.engine.base.Engine ('Inappropriate antidiuretic hormone secretion', 1, 0)
2018-11-14 11:30:00,056 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,059 INFO sqlalchemy.engine.base.Engine ('Hyponatraemia', 1, 0)
2018-11-14 11:30:00,063 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,066 INFO sqlalchemy.engine.base.Engine ('Fall', 1, 0)
2018-11-14 11:30:00,068 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:00,069 INFO sqlalchemy.engine.base.Engine (409,)
2018-11-14 11:30:00,074 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,075 INFO sqlalchemy.engine.base.Engine ((109, 409), (390, 409), (137, 409))
2018-11-14 11:30:00,079 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:00,088 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:00,090 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:00,094 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:00,097 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:00,099 INFO sqlalchemy.engine.base.Engine (2, 53, 1)
2018-11-14 11:30:00,101 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,103 INFO sqlalchemy.engine.base.Engine ('JANUMET', 1, 0)
2018-11-14 11:30:00,109 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,113 INFO sqlalchemy.engine.base.Engine ('JANUMET XR', 1, 0)
2018-11-14 11:30:00,117 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:30:00,120 INFO sqlalchemy.engine.base.Engine (410,)
2018-11-14 11:30:00,124 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,131 INFO sqlalchemy.engine.base.Engine ('JANUMET',)
2018-11-14 11:30:00,134 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,135 INFO sqlalchemy.engine.base.Engine ('JANUMET XR',)
2018-11-14 11:30:00,137 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,137 INFO sqlalchemy.engine.base.Engine ((1949, 410), (1950, 410))
2018-11-14 11:30:00,139 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,140 INFO sqlalchemy.engine.base.Engine ('Ketoacidosis', 1, 0)
2018-11-14 11:30:00,142 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:00,143 INFO sqlalchemy.engine.base.Engine (410,)
2018-11-14 11:30:00,147 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,148 INFO sqlalchemy.engine.base.Engine (649, 410)
2018-11-14 11:30:00,151 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:00,156 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:00,159 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:00,161 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:00,167 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:00,168 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:00,171 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,172 INFO sqlalchemy.engine.base.Engine ('ARANESP', 1, 0)
2018-11-14 11:30:00,175 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:00,175 INFO sqlalchemy.engine.base.Engine (411,)
2018-11-14 11:30:00,183 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,183 INFO sqlalchemy.engine.base.Engine (322, 411)
2018-11-14 11:30:00,186 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,188 INFO sqlalchemy.engine.base.Engine ('Adverse event', 1, 0)
2018-11-14 11:30:00,192 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:00,193 INFO sqlalchemy.engine.base.Engine (411,)
2018-11-14 11:30:00,198 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,199 INFO sqlalchemy.engine.base.Engine (275, 411)
2018-11-14 11:30:00,207 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:00,213 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:00,215 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:00,217 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:00,219 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:00,220 INFO sqlalchemy.engine.base.Engine (1, 75, 1)
2018-11-14 11:30:00,231 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,232 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:30:00,234 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,235 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:30:00,237 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,239 INFO sqlalchemy.engine.base.Engine ('Condition aggravated', 1, 0)
2018-11-14 11:30:00,243 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:00,246 INFO sqlalchemy.engine.base.Engine (412,)
2018-11-14 11:30:00,251 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,253 INFO sqlalchemy.engine.base.Engine ((36, 412), (57, 412), (112, 412))
2018-11-14 11:30:00,255 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:00,260 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:00,263 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:00,265 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:00,267 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:00,269 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:00,272 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,273 INFO sqlalchemy.engine.base.Engine ('ARANESP', 1, 0)
2018-11-14 11:30:00,276 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:00,279 INFO sqlalchemy.engine.base.Engine (413,)
2018-11-14 11:30:00,283 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,285 INFO sqlalchemy.engine.base.Engine (322, 413)
2018-11-14 11:30:00,289 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,291 INFO sqlalchemy.engine.base.Engine ('Hospitalisation', 1, 0)
2018-11-14 11:30:00,294 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:00,297 INFO sqlalchemy.engine.base.Engine (413,)
2018-11-14 11:30:00,300 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:00,302 INFO sqlalchemy.engine.base.Engine ('Hospitalisation',)
2018-11-14 11:30:00,307 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,309 INFO sqlalchemy.engine.base.Engine (650, 413)
2018-11-14 11:30:00,312 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:00,318 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:00,320 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:00,322 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:00,325 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)

2018-11-14 11:30:00,326 INFO sqlalchemy.engine.base.Engine (1, 71, 1)
2018-11-14 11:30:00,333 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,334 INFO sqlalchemy.engine.base.Engine ('HEALTH MART LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,336 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,339 INFO sqlalchemy.engine.base.Engine ('DG HEALTH LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,341 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,341 INFO sqlalchemy.engine.base.Engine ('EQUATE LANSOPRAZOLE DELAYED RELEASE', 1, 0)
2018-11-14 11:30:00,343 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,345 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER ACID REDUCER', 1, 0)
2018-11-14 11:30:00,349 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,351 INFO sqlalchemy.engine.base.Engine ('KIRKLAND SIGNATURE LANSOPRAZOLE DELAYED RELEASE', 1, 0)
2018-11-14 11:30:00,353 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,355 INFO sqlalchemy.engine.base.Engine ('SOUND BODY ACID REDUCER', 1, 0)
2018-11-14 11:30:00,359 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,361 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE ACID REDUCER', 1, 0)
2018-11-14 11:30:00,366 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,367 INFO sqlalchemy.engine.base.Engine ('LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,370 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,371 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,374 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,378 INFO sqlalchemy.engine.base.Engine ('SHOPRITE LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,383 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,385 INFO sqlalchemy.engine.base.Engine ('UP AND UP LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,388 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,389 INFO sqlalchemy.engine.base.Engine ('BASIC CARE LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,393 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,397 INFO sqlalchemy.engine.base.Engine ('PREVACID SOLUTAB', 1, 0)
2018-11-14 11:30:00,401 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,402 INFO sqlalchemy.engine.base.Engine ('TOPCARE LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,405 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,406 INFO sqlalchemy.engine.base.Engine ('EXCHANGE SELECT LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,413 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,416 INFO sqlalchemy.engine.base.Engine ('PREVACID', 1, 0)
2018-11-14 11:30:00,419 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,420 INFO sqlalchemy.engine.base.Engine ('SMART SENSE LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,423 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,424 INFO sqlalchemy.engine.base.Engine ('RUGBY HEARTBURN TREATMENT', 1, 0)
2018-11-14 11:30:00,427 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,431 INFO sqlalchemy.engine.base.Engine ('MEMBERS MARK LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,435 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,437 INFO sqlalchemy.engine.base.Engine ('LEADER LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,440 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,440 INFO sqlalchemy.engine.base.Engine ('CAREONE ACID REDUCER', 1, 0)
2018-11-14 11:30:00,443 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,444 INFO sqlalchemy.engine.base.Engine ('LANSOPRAZOLE HEARTBURN RELIEF 24 HOUR', 1, 0)
2018-11-14 11:30:00,451 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,454 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,457 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,459 INFO sqlalchemy.engine.base.Engine ('LANSOPRAZOLE 24 HR', 1, 0)
2018-11-14 11:30:00,462 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,464 INFO sqlalchemy.engine.base.Engine ('PREVACID 24 HR', 1, 0)
2018-11-14 11:30:00,467 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,469 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,473 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,474 INFO sqlalchemy.engine.base.Engine ('SUNMARK LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,477 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,481 INFO sqlalchemy.engine.base.Engine ('WELL AT WALGREENS LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,484 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,486 INFO sqlalchemy.engine.base.Engine ('EQUALINE LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,489 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,491 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE LANSOPRAZOLE', 1, 0)
2018-11-14 11:30:00,493 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:30:00,494 INFO sqlalchemy.engine.base.Engine (414,)
2018-11-14 11:30:00,505 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,506 INFO sqlalchemy.engine.base.Engine ('HEALTH MART LANSOPRAZOLE',)
2018-11-14 11:30:00,508 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,510 INFO sqlalchemy.engine.base.Engine ('DG HEALTH LANSOPRAZOLE',)
2018-11-14 11:30:00,512 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,515 INFO sqlalchemy.engine.base.Engine ('EQUATE LANSOPRAZOLE DELAYED RELEASE',)
2018-11-14 11:30:00,516 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,518 INFO sqlalchemy.engine.base.Engine ('KIRKLAND SIGNATURE LANSOPRAZOLE DELAYED RELEASE',)
2018-11-14 11:30:00,519 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,519 INFO sqlalchemy.engine.base.Engine ('SOUND BODY ACID REDUCER',)
2018-11-14 11:30:00,521 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,522 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE ACID REDUCER',)
2018-11-14 11:30:00,523 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,524 INFO sqlalchemy.engine.base.Engine ('LANSOPRAZOLE',)
2018-11-14 11:30:00,527 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,528 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY LANSOPRAZOLE',)
2018-11-14 11:30:00,530 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,532 INFO sqlalchemy.engine.base.Engine ('SHOPRITE LANSOPRAZOLE',)
2018-11-14 11:30:00,535 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,537 INFO sqlalchemy.engine.base.Engine ('UP AND UP LANSOPRAZOLE',)
2018-11-14 11:30:00,538 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,539 INFO sqlalchemy.engine.base.Engine ('BASIC CARE LANSOPRAZOLE',)
2018-11-14 11:30:00,541 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,542 INFO sqlalchemy.engine.base.Engine ('PREVACID SOLUTAB',)
2018-11-14 11:30:00,543 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,544 INFO sqlalchemy.engine.base.Engine ('TOPCARE LANSOPRAZOLE',)
2018-11-14 11:30:00,549 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,550 INFO sqlalchemy.engine.base.Engine ('EXCHANGE SELECT LANSOPRAZOLE',)
2018-11-14 11:30:00,552 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,554 INFO sqlalchemy.engine.base.Engine ('PREVACID',)
2018-11-14 11:30:00,555 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,557 INFO sqlalchemy.engine.base.Engine ('SMART SENSE LANSOPRAZOLE',)
2018-11-14 11:30:00,558 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,559 INFO sqlalchemy.engine.base.Engine ('RUGBY HEARTBURN TREATMENT',)
2018-11-14 11:30:00,562 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,566 INFO sqlalchemy.engine.base.Engine ('MEMBERS MARK LANSOPRAZOLE',)
2018-11-14 11:30:00,567 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,569 INFO sqlalchemy.engine.base.Engine ('LEADER LANSOPRAZOLE',)
2018-11-14 11:30:00,571 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,572 INFO sqlalchemy.engine.base.Engine ('LANSOPRAZOLE HEARTBURN RELIEF 24 HOUR',)
2018-11-14 11:30:00,576 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,577 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN LANSOPRAZOLE',)
2018-11-14 11:30:00,578 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,580 INFO sqlalchemy.engine.base.Engine ('LANSOPRAZOLE 24 HR',)
2018-11-14 11:30:00,583 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,585 INFO sqlalchemy.engine.base.Engine ('PREVACID 24 HR',)
2018-11-14 11:30:00,587 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,589 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS LANSOPRAZOLE',)
2018-11-14 11:30:00,590 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,592 INFO sqlalchemy.engine.base.Engine ('SUNMARK LANSOPRAZOLE',)
2018-11-14 11:30:00,593 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,594 INFO sqlalchemy.engine.base.Engine ('WELL AT WALGREENS LANSOPRAZOLE',)
2018-11-14 11:30:00,597 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,598 INFO sqlalchemy.engine.base.Engine ('EQUALINE LANSOPRAZOLE',)
2018-11-14 11:30:00,600 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:00,601 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE LANSOPRAZOLE',)
2018-11-14 11:30:00,604 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,605 INFO sqlalchemy.engine.base.Engine ((1951, 414), (1952, 414), (1953, 414), (235, 414), (1954, 414), (1955, 414), (1956, 414), (1957, 414)  ... displaying 10 of 30 total bound parameter sets ...  (1977, 414), (1978, 414))
2018-11-14 11:30:00,610 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:00,611 INFO sqlalchemy.engine.base.Engine ('Troponin I increased', 1, 0)
2018-11-14 11:30:00,614 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:00,615 INFO sqlalchemy.engine.base.Engine (414,)
2018-11-14 11:30:00,619 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:00,621 INFO sqlalchemy.engine.base.Engine ('Troponin I increased',)
2018-11-14 11:30:00,622 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:00,623 INFO sqlalchemy.engine.base.Engine (651, 414)
2018-11-14 11:30:00,625 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:00,633 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:00,636 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:00,638 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:00,641 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:02,494 INFO sqlalchemy.engine.base.Engine (430, 437)
2018-11-14 11:30:02,496 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:02,511 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:02,514 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:02,515 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:02,518 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:02,521 INFO sqlalchemy.engine.base.Engine (2, 18, 1)
2018-11-14 11:30:02,525 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,528 INFO sqlalchemy.engine.base.Engine ('ZONEGRAN', 1, 0)
2018-11-14 11:30:02,532 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:30:02,533 INFO sqlalchemy.engine.base.Engine (438,)
2018-11-14 11:30:02,541 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,543 INFO sqlalchemy.engine.base.Engine (1748, 438)
2018-11-14 11:30:02,545 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,548 INFO sqlalchemy.engine.base.Engine ('Headache', 1, 0)
2018-11-14 11:30:02,553 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,554 INFO sqlalchemy.engine.base.Engine ('Migraine', 1, 0)
2018-11-14 11:30:02,558 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,559 INFO sqlalchemy.engine.base.Engine ('Myalgia', 1, 0)
2018-11-14 11:30:02,563 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,564 INFO sqlalchemy.engine.base.Engine ('Epileptic aura', 1, 0)
2018-11-14 11:30:02,566 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,568 INFO sqlalchemy.engine.base.Engine ('Product quality issue', 1, 0)
2018-11-14 11:30:02,570 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,571 INFO sqlalchemy.engine.base.Engine ('Muscle fatigue', 1, 0)
2018-11-14 11:30:02,573 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,574 INFO sqlalchemy.engine.base.Engine ('Confusional state', 1, 0)
2018-11-14 11:30:02,576 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,578 INFO sqlalchemy.engine.base.Engine ('Seizure', 1, 0)
2018-11-14 11:30:02,581 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,584 INFO sqlalchemy.engine.base.Engine ('Feeling abnormal', 1, 0)
2018-11-14 11:30:02,589 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,592 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:30:02,594 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:02,595 INFO sqlalchemy.engine.base.Engine (438,)
2018-11-14 11:30:02,602 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:02,603 INFO sqlalchemy.engine.base.Engine ('Migraine',)
2018-11-14 11:30:02,605 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:02,606 INFO sqlalchemy.engine.base.Engine ('Epileptic aura',)
2018-11-14 11:30:02,608 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,612 INFO sqlalchemy.engine.base.Engine ((24, 438), (401, 438), (681, 438), (118, 438), (35, 438), (682, 438), (99, 438), (11, 438), (531, 438), (555, 438))
2018-11-14 11:30:02,615 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:02,622 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:02,624 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:02,626 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:02,629 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:02,632 INFO sqlalchemy.engine.base.Engine (1, 84, 1)
2018-11-14 11:30:02,635 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,636 INFO sqlalchemy.engine.base.Engine ('Pneumonia', 1, 0)
2018-11-14 11:30:02,639 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:02,640 INFO sqlalchemy.engine.base.Engine (439,)
2018-11-14 11:30:02,646 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,648 INFO sqlalchemy.engine.base.Engine (215, 439)
2018-11-14 11:30:02,651 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:02,658 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:02,660 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:02,662 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:02,665 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:02,666 INFO sqlalchemy.engine.base.Engine (1, 62, 1)
2018-11-14 11:30:02,671 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,675 INFO sqlalchemy.engine.base.Engine ('TERBINAFINE', 1, 0)
2018-11-14 11:30:02,677 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,678 INFO sqlalchemy.engine.base.Engine ('TERBINAFINE HYDROCHLORIDE', 1, 0)
2018-11-14 11:30:02,679 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:02,680 INFO sqlalchemy.engine.base.Engine (440,)
2018-11-14 11:30:02,683 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:02,683 INFO sqlalchemy.engine.base.Engine ('TERBINAFINE',)
2018-11-14 11:30:02,685 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:02,686 INFO sqlalchemy.engine.base.Engine ('TERBINAFINE HYDROCHLORIDE',)
2018-11-14 11:30:02,688 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,690 INFO sqlalchemy.engine.base.Engine ((1997, 440), (1998, 440))
2018-11-14 11:30:02,694 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,696 INFO sqlalchemy.engine.base.Engine ('Musculoskeletal pain', 1, 0)
2018-11-14 11:30:02,699 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:02,701 INFO sqlalchemy.engine.base.Engine (440,)
2018-11-14 11:30:02,705 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,707 INFO sqlalchemy.engine.base.Engine (171, 440)
2018-11-14 11:30:02,709 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:02,723 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:02,725 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:30:02,727 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:02,732 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:02,733 INFO sqlalchemy.engine.base.Engine (2, 91, 1)
2018-11-14 11:30:02,737 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,738 INFO sqlalchemy.engine.base.Engine ('CITALOPRAM', 1, 0)
2018-11-14 11:30:02,743 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,747 INFO sqlalchemy.engine.base.Engine ('CELEXA', 1, 0)
2018-11-14 11:30:02,751 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,753 INFO sqlalchemy.engine.base.Engine ('CITALOPRAM HYDROBROMIDE', 1, 0)
2018-11-14 11:30:02,756 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:02,758 INFO sqlalchemy.engine.base.Engine (441,)
2018-11-14 11:30:02,763 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,765 INFO sqlalchemy.engine.base.Engine ((1698, 441), (1699, 441), (1700, 441))
2018-11-14 11:30:02,768 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,770 INFO sqlalchemy.engine.base.Engine ('Disorientation', 1, 0)
2018-11-14 11:30:02,772 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,773 INFO sqlalchemy.engine.base.Engine ('Hallucination, visual', 1, 0)
2018-11-14 11:30:02,775 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:02,776 INFO sqlalchemy.engine.base.Engine (441,)
2018-11-14 11:30:02,780 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,782 INFO sqlalchemy.engine.base.Engine ((303, 441), (304, 441))
2018-11-14 11:30:02,786 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:02,792 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:02,795 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:02,797 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:02,799 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:02,807 INFO sqlalchemy.engine.base.Engine (1, 77, 1)
2018-11-14 11:30:02,816 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,822 INFO sqlalchemy.engine.base.Engine ('AMOXICILLIN', 1, 0)
2018-11-14 11:30:02,825 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,827 INFO sqlalchemy.engine.base.Engine ('MOXATAG', 1, 0)
2018-11-14 11:30:02,830 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:02,831 INFO sqlalchemy.engine.base.Engine (442,)
2018-11-14 11:30:02,837 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,839 INFO sqlalchemy.engine.base.Engine ((206, 442), (207, 442))
2018-11-14 11:30:02,842 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,844 INFO sqlalchemy.engine.base.Engine ('Eosinophilia', 1, 0)
2018-11-14 11:30:02,846 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,848 INFO sqlalchemy.engine.base.Engine ('Nephropathy', 1, 0)
2018-11-14 11:30:02,850 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,852 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:30:02,855 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,857 INFO sqlalchemy.engine.base.Engine ('Acute kidney injury', 1, 0)
2018-11-14 11:30:02,860 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:02,862 INFO sqlalchemy.engine.base.Engine (442,)
2018-11-14 11:30:02,865 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:02,867 INFO sqlalchemy.engine.base.Engine ('Nephropathy',)
2018-11-14 11:30:02,868 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:02,870 INFO sqlalchemy.engine.base.Engine ('Eosinophilia',)
2018-11-14 11:30:02,873 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,875 INFO sqlalchemy.engine.base.Engine ((683, 442), (684, 442))
2018-11-14 11:30:02,877 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,878 INFO sqlalchemy.engine.base.Engine ((14, 442), (15, 442))
2018-11-14 11:30:02,880 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:02,883 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:02,885 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:02,886 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:02,889 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:02,891 INFO sqlalchemy.engine.base.Engine (2, 73, 1)
2018-11-14 11:30:02,895 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,896 INFO sqlalchemy.engine.base.Engine ('HYDRALAZINE', 1, 0)
2018-11-14 11:30:02,899 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:02,900 INFO sqlalchemy.engine.base.Engine (443,)
2018-11-14 11:30:02,906 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:02,907 INFO sqlalchemy.engine.base.Engine ('HYDRALAZINE',)
2018-11-14 11:30:02,910 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,913 INFO sqlalchemy.engine.base.Engine (1999, 443)
2018-11-14 11:30:02,915 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,917 INFO sqlalchemy.engine.base.Engine ('Chillblains', 1, 0)
2018-11-14 11:30:02,920 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:02,922 INFO sqlalchemy.engine.base.Engine ('Toe amputation', 1, 0)
2018-11-14 11:30:02,927 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:02,928 INFO sqlalchemy.engine.base.Engine (443,)
2018-11-14 11:30:02,931 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:02,933 INFO sqlalchemy.engine.base.Engine ('Chillblains',)
2018-11-14 11:30:02,934 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:02,936 INFO sqlalchemy.engine.base.Engine ('Toe amputation',)
2018-11-14 11:30:02,938 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,940 INFO sqlalchemy.engine.base.Engine ((685, 443), (686, 443))
2018-11-14 11:30:02,943 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:02,948 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:02,951 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:02,953 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:02,957 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:02,959 INFO sqlalchemy.engine.base.Engine (2, 82, 1)
2018-11-14 11:30:02,962 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,963 INFO sqlalchemy.engine.base.Engine ('Pain in extremity', 1, 0)
2018-11-14 11:30:02,966 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,968 INFO sqlalchemy.engine.base.Engine ('Vasodilatation', 1, 0)
2018-11-14 11:30:02,973 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,974 INFO sqlalchemy.engine.base.Engine ('Feeling hot', 1, 0)
2018-11-14 11:30:02,977 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:02,978 INFO sqlalchemy.engine.base.Engine ('Erythema', 1, 0)
2018-11-14 11:30:02,980 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:02,981 INFO sqlalchemy.engine.base.Engine (444,)
2018-11-14 11:30:02,985 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:02,988 INFO sqlalchemy.engine.base.Engine ('Vasodilatation',)
2018-11-14 11:30:02,990 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,993 INFO sqlalchemy.engine.base.Engine (687, 444)
2018-11-14 11:30:02,998 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:02,999 INFO sqlalchemy.engine.base.Engine ((18, 444), (184, 444), (269, 444))
2018-11-14 11:30:03,005 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,010 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,013 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:03,014 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,016 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,018 INFO sqlalchemy.engine.base.Engine (2, 48, 1)
2018-11-14 11:30:03,021 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,023 INFO sqlalchemy.engine.base.Engine ('CARBATROL', 1, 0)
2018-11-14 11:30:03,027 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,029 INFO sqlalchemy.engine.base.Engine ('EQUETRO', 1, 0)
2018-11-14 11:30:03,032 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,034 INFO sqlalchemy.engine.base.Engine ('CARBAMAZEPINE ER', 1, 0)
2018-11-14 11:30:03,037 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,038 INFO sqlalchemy.engine.base.Engine ('EPITOL', 1, 0)
2018-11-14 11:30:03,043 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,045 INFO sqlalchemy.engine.base.Engine ('CARBAMAZEPINE', 1, 0)
2018-11-14 11:30:03,048 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,049 INFO sqlalchemy.engine.base.Engine ('CARNEXIV', 1, 0)
2018-11-14 11:30:03,052 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:03,054 INFO sqlalchemy.engine.base.Engine (445,)
2018-11-14 11:30:03,058 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,059 INFO sqlalchemy.engine.base.Engine ('CARBATROL',)
2018-11-14 11:30:03,061 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,064 INFO sqlalchemy.engine.base.Engine ('EQUETRO',)
2018-11-14 11:30:03,066 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,068 INFO sqlalchemy.engine.base.Engine ('CARBAMAZEPINE ER',)
2018-11-14 11:30:03,072 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,073 INFO sqlalchemy.engine.base.Engine ('EPITOL',)
2018-11-14 11:30:03,074 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,075 INFO sqlalchemy.engine.base.Engine ('CARBAMAZEPINE',)
2018-11-14 11:30:03,077 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,077 INFO sqlalchemy.engine.base.Engine ('CARNEXIV',)
2018-11-14 11:30:03,081 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,081 INFO sqlalchemy.engine.base.Engine ((2000, 445), (2001, 445), (2002, 445), (2003, 445), (2004, 445), (2005, 445))
2018-11-14 11:30:03,083 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,085 INFO sqlalchemy.engine.base.Engine ('Therapeutic response decreased', 1, 0)
2018-11-14 11:30:03,088 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,089 INFO sqlalchemy.engine.base.Engine ('Drug reaction with eosinophilia and systemic symptoms', 1, 0)
2018-11-14 11:30:03,091 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:03,092 INFO sqlalchemy.engine.base.Engine (445,)
2018-11-14 11:30:03,098 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)

2018-11-14 11:30:03,102 INFO sqlalchemy.engine.base.Engine ((414, 445), (541, 445))
2018-11-14 11:30:03,104 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,116 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,118 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:03,120 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,122 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,125 INFO sqlalchemy.engine.base.Engine (2, 24, 1)
2018-11-14 11:30:03,129 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,130 INFO sqlalchemy.engine.base.Engine ('Vertigo', 1, 0)
2018-11-14 11:30:03,133 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,134 INFO sqlalchemy.engine.base.Engine ('Tachypnoea', 1, 0)
2018-11-14 11:30:03,139 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,140 INFO sqlalchemy.engine.base.Engine ('Presyncope', 1, 0)
2018-11-14 11:30:03,143 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,145 INFO sqlalchemy.engine.base.Engine ('Postural tremor', 1, 0)
2018-11-14 11:30:03,148 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,151 INFO sqlalchemy.engine.base.Engine ('Abdominal pain upper', 1, 0)
2018-11-14 11:30:03,154 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,156 INFO sqlalchemy.engine.base.Engine ('Cold sweat', 1, 0)
2018-11-14 11:30:03,159 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,160 INFO sqlalchemy.engine.base.Engine ('Retching', 1, 0)
2018-11-14 11:30:03,165 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,167 INFO sqlalchemy.engine.base.Engine ('Hyperventilation', 1, 0)
2018-11-14 11:30:03,168 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,171 INFO sqlalchemy.engine.base.Engine ('Drug intolerance', 1, 0)
2018-11-14 11:30:03,173 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:03,174 INFO sqlalchemy.engine.base.Engine (446,)
2018-11-14 11:30:03,178 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,179 INFO sqlalchemy.engine.base.Engine ('Retching',)
2018-11-14 11:30:03,180 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,182 INFO sqlalchemy.engine.base.Engine ('Hyperventilation',)
2018-11-14 11:30:03,184 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,184 INFO sqlalchemy.engine.base.Engine ('Cold sweat',)
2018-11-14 11:30:03,186 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,187 INFO sqlalchemy.engine.base.Engine ('Presyncope',)
2018-11-14 11:30:03,189 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,190 INFO sqlalchemy.engine.base.Engine ('Postural tremor',)
2018-11-14 11:30:03,194 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,195 INFO sqlalchemy.engine.base.Engine ((689, 446), (688, 446), (690, 446), (691, 446), (692, 446))
2018-11-14 11:30:03,206 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,208 INFO sqlalchemy.engine.base.Engine ((7, 446), (627, 446), (60, 446), (659, 446))
2018-11-14 11:30:03,210 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,218 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,227 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:03,228 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,231 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,232 INFO sqlalchemy.engine.base.Engine (1, 71, 1)
2018-11-14 11:30:03,234 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,236 INFO sqlalchemy.engine.base.Engine ('Cardiac failure acute', 1, 0)
2018-11-14 11:30:03,245 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:03,248 INFO sqlalchemy.engine.base.Engine (447,)
2018-11-14 11:30:03,251 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,255 INFO sqlalchemy.engine.base.Engine ('Cardiac failure acute',)
2018-11-14 11:30:03,258 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,260 INFO sqlalchemy.engine.base.Engine (693, 447)
2018-11-14 11:30:03,261 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,266 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,269 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:03,271 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,275 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,276 INFO sqlalchemy.engine.base.Engine (1, 73, 1)
2018-11-14 11:30:03,279 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,280 INFO sqlalchemy.engine.base.Engine ('METOPROLOL SUCCINATE', 1, 0)
2018-11-14 11:30:03,284 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,288 INFO sqlalchemy.engine.base.Engine ('METOPROLOL SUCCINATE EXTENDED-RELEASE', 1, 0)
2018-11-14 11:30:03,292 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,295 INFO sqlalchemy.engine.base.Engine ('TOPROL XL', 1, 0)
2018-11-14 11:30:03,298 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,300 INFO sqlalchemy.engine.base.Engine ('KAPSPARGO', 1, 0)
2018-11-14 11:30:03,305 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:30:03,307 INFO sqlalchemy.engine.base.Engine (448,)
2018-11-14 11:30:03,311 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,313 INFO sqlalchemy.engine.base.Engine ('METOPROLOL SUCCINATE',)
2018-11-14 11:30:03,315 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,316 INFO sqlalchemy.engine.base.Engine ('METOPROLOL SUCCINATE EXTENDED-RELEASE',)
2018-11-14 11:30:03,318 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,334 INFO sqlalchemy.engine.base.Engine ('TOPROL XL',)
2018-11-14 11:30:03,336 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,338 INFO sqlalchemy.engine.base.Engine ('KAPSPARGO',)
2018-11-14 11:30:03,341 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,342 INFO sqlalchemy.engine.base.Engine ((2006, 448), (2007, 448), (2008, 448), (2009, 448))
2018-11-14 11:30:03,345 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,346 INFO sqlalchemy.engine.base.Engine ('Cardiac failure acute', 1, 0)
2018-11-14 11:30:03,350 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,351 INFO sqlalchemy.engine.base.Engine ('Cardiac failure acute', 1, 0)
2018-11-14 11:30:03,356 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,357 INFO sqlalchemy.engine.base.Engine ('Coronary artery disease', 1, 0)
2018-11-14 11:30:03,360 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:03,361 INFO sqlalchemy.engine.base.Engine (448,)
2018-11-14 11:30:03,363 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,364 INFO sqlalchemy.engine.base.Engine ('Coronary artery disease',)
2018-11-14 11:30:03,365 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,366 INFO sqlalchemy.engine.base.Engine ((693, 448), (694, 448))
2018-11-14 11:30:03,368 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,376 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,379 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:03,380 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,384 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,385 INFO sqlalchemy.engine.base.Engine (1, 74, 1)
2018-11-14 11:30:03,389 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,391 INFO sqlalchemy.engine.base.Engine ('ZOMETA', 1, 0)
2018-11-14 11:30:03,395 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,396 INFO sqlalchemy.engine.base.Engine ('ZOLEDRONIC ACID', 1, 0)
2018-11-14 11:30:03,402 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:03,405 INFO sqlalchemy.engine.base.Engine (449,)
2018-11-14 11:30:03,410 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,411 INFO sqlalchemy.engine.base.Engine ('ZOMETA',)
2018-11-14 11:30:03,413 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:03,415 INFO sqlalchemy.engine.base.Engine ('ZOLEDRONIC ACID',)
2018-11-14 11:30:03,417 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,418 INFO sqlalchemy.engine.base.Engine ((2010, 449), (2011, 449))
2018-11-14 11:30:03,423 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,424 INFO sqlalchemy.engine.base.Engine ('Sternal fracture', 1, 0)
2018-11-14 11:30:03,426 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,428 INFO sqlalchemy.engine.base.Engine ('Spinal fracture', 1, 0)
2018-11-14 11:30:03,430 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:03,432 INFO sqlalchemy.engine.base.Engine (449,)
2018-11-14 11:30:03,435 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,437 INFO sqlalchemy.engine.base.Engine ('Sternal fracture',)
2018-11-14 11:30:03,441 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,443 INFO sqlalchemy.engine.base.Engine ('Spinal fracture',)
2018-11-14 11:30:03,449 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,450 INFO sqlalchemy.engine.base.Engine ((695, 449), (696, 449))
2018-11-14 11:30:03,452 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,460 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,462 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:03,464 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,467 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,469 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:03,473 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,476 INFO sqlalchemy.engine.base.Engine ('GILENYA', 1, 0)
2018-11-14 11:30:03,479 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:03,480 INFO sqlalchemy.engine.base.Engine (450,)
2018-11-14 11:30:03,485 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,486 INFO sqlalchemy.engine.base.Engine (208, 450)
2018-11-14 11:30:03,489 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,491 INFO sqlalchemy.engine.base.Engine ('Cerebrovascular accident', 1, 0)
2018-11-14 11:30:03,493 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:03,494 INFO sqlalchemy.engine.base.Engine (450,)
2018-11-14 11:30:03,497 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,498 INFO sqlalchemy.engine.base.Engine (231, 450)
2018-11-14 11:30:03,502 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,512 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,515 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:30:03,516 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,523 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,527 INFO sqlalchemy.engine.base.Engine (2, 58, 1)
2018-11-14 11:30:03,529 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,530 INFO sqlalchemy.engine.base.Engine ('GILENYA', 1, 0)
2018-11-14 11:30:03,532 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:03,534 INFO sqlalchemy.engine.base.Engine (451,)
2018-11-14 11:30:03,539 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,541 INFO sqlalchemy.engine.base.Engine (208, 451)
2018-11-14 11:30:03,546 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,548 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:30:03,551 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,553 INFO sqlalchemy.engine.base.Engine ('Abdominal discomfort', 1, 0)
2018-11-14 11:30:03,557 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,558 INFO sqlalchemy.engine.base.Engine ('Generalised oedema', 1, 0)
2018-11-14 11:30:03,563 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,565 INFO sqlalchemy.engine.base.Engine ('Alanine aminotransferase increased', 1, 0)
2018-11-14 11:30:03,567 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,568 INFO sqlalchemy.engine.base.Engine ('Multiple sclerosis relapse', 1, 0)
2018-11-14 11:30:03,571 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,573 INFO sqlalchemy.engine.base.Engine ('Gamma-glutamyltransferase increased', 1, 0)
2018-11-14 11:30:03,576 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,577 INFO sqlalchemy.engine.base.Engine ('Acne', 1, 0)
2018-11-14 11:30:03,580 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,583 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:30:03,584 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,585 INFO sqlalchemy.engine.base.Engine ('Anaphylactic reaction', 1, 0)
2018-11-14 11:30:03,587 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,588 INFO sqlalchemy.engine.base.Engine ('Monocyte count increased', 1, 0)
2018-11-14 11:30:03,592 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,593 INFO sqlalchemy.engine.base.Engine ('Blood urea increased', 1, 0)
2018-11-14 11:30:03,597 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,598 INFO sqlalchemy.engine.base.Engine ('Pruritus', 1, 0)
2018-11-14 11:30:03,600 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,603 INFO sqlalchemy.engine.base.Engine ('Generalised erythema', 1, 0)
2018-11-14 11:30:03,609 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,610 INFO sqlalchemy.engine.base.Engine ('Urticaria', 1, 0)
2018-11-14 11:30:03,613 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,615 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:30:03,618 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:03,620 INFO sqlalchemy.engine.base.Engine (451,)
2018-11-14 11:30:03,627 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,629 INFO sqlalchemy.engine.base.Engine ('Gamma-glutamyltransferase increased',)
2018-11-14 11:30:03,631 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,633 INFO sqlalchemy.engine.base.Engine ('Monocyte count increased',)
2018-11-14 11:30:03,634 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,636 INFO sqlalchemy.engine.base.Engine ('Generalised erythema',)
2018-11-14 11:30:03,637 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,639 INFO sqlalchemy.engine.base.Engine ('Anaphylactic reaction',)
2018-11-14 11:30:03,641 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,642 INFO sqlalchemy.engine.base.Engine ('Blood urea increased',)
2018-11-14 11:30:03,645 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,646 INFO sqlalchemy.engine.base.Engine ((697, 451), (698, 451), (148, 451), (699, 451), (48, 451), (4, 451), (658, 451), (13, 451)  ... displaying 10 of 15 total bound parameter sets ...  (74, 451), (254, 451))
2018-11-14 11:30:03,650 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,656 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,659 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:03,660 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,663 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,664 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:03,668 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,671 INFO sqlalchemy.engine.base.Engine ('Ventricular fibrillation', 1, 0)
2018-11-14 11:30:03,674 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,675 INFO sqlalchemy.engine.base.Engine ('Ventricular tachycardia', 1, 0)
2018-11-14 11:30:03,680 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:03,683 INFO sqlalchemy.engine.base.Engine (452,)

2018-11-14 11:30:03,685 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,686 INFO sqlalchemy.engine.base.Engine ('Ventricular tachycardia',)
2018-11-14 11:30:03,688 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,689 INFO sqlalchemy.engine.base.Engine ('Ventricular fibrillation',)
2018-11-14 11:30:03,692 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,693 INFO sqlalchemy.engine.base.Engine ((703, 452), (702, 452))
2018-11-14 11:30:03,696 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,701 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,705 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:03,706 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,709 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,711 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:03,720 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,737 INFO sqlalchemy.engine.base.Engine ('ILARIS', 1, 0)
2018-11-14 11:30:03,740 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:03,742 INFO sqlalchemy.engine.base.Engine (453,)
2018-11-14 11:30:03,746 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,747 INFO sqlalchemy.engine.base.Engine (293, 453)
2018-11-14 11:30:03,750 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,751 INFO sqlalchemy.engine.base.Engine ('Interstitial lung disease', 1, 0)
2018-11-14 11:30:03,755 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:03,756 INFO sqlalchemy.engine.base.Engine (453,)
2018-11-14 11:30:03,759 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,761 INFO sqlalchemy.engine.base.Engine ('Interstitial lung disease',)
2018-11-14 11:30:03,763 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,765 INFO sqlalchemy.engine.base.Engine (704, 453)
2018-11-14 11:30:03,767 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,776 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,778 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:03,780 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,782 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,784 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:03,789 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,791 INFO sqlalchemy.engine.base.Engine ('ILARIS', 1, 0)
2018-11-14 11:30:03,793 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:03,798 INFO sqlalchemy.engine.base.Engine (454,)
2018-11-14 11:30:03,803 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,804 INFO sqlalchemy.engine.base.Engine (293, 454)
2018-11-14 11:30:03,808 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:03,810 INFO sqlalchemy.engine.base.Engine ('Alveolitis', 1, 0)
2018-11-14 11:30:03,813 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:03,814 INFO sqlalchemy.engine.base.Engine (454,)
2018-11-14 11:30:03,818 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:03,819 INFO sqlalchemy.engine.base.Engine ('Alveolitis',)
2018-11-14 11:30:03,823 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:03,824 INFO sqlalchemy.engine.base.Engine (705, 454)
2018-11-14 11:30:03,827 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:03,839 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:03,842 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:03,843 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:03,849 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:03,856 INFO sqlalchemy.engine.base.Engine (2, 79, 1)
2018-11-14 11:30:03,860 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,171 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,172 INFO sqlalchemy.engine.base.Engine ((1951, 483), (1952, 483), (1953, 483), (235, 483), (1954, 483), (1955, 483), (1956, 483), (1957, 483)  ... displaying 10 of 30 total bound parameter sets ...  (1977, 483), (1978, 483))
2018-11-14 11:30:06,179 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,181 INFO sqlalchemy.engine.base.Engine ('International normalised ratio decreased', 1, 0)
2018-11-14 11:30:06,183 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,184 INFO sqlalchemy.engine.base.Engine ('Malaise', 1, 0)
2018-11-14 11:30:06,186 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,187 INFO sqlalchemy.engine.base.Engine ('Dizziness', 1, 0)
2018-11-14 11:30:06,189 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:06,190 INFO sqlalchemy.engine.base.Engine (483,)
2018-11-14 11:30:06,192 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,193 INFO sqlalchemy.engine.base.Engine ('International normalised ratio decreased',)
2018-11-14 11:30:06,198 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,199 INFO sqlalchemy.engine.base.Engine (734, 483)
2018-11-14 11:30:06,200 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,202 INFO sqlalchemy.engine.base.Engine ((16, 483), (101, 483))
2018-11-14 11:30:06,204 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:06,212 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2018-11-14 11:30:06,216 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:06,218 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:06,221 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:06,223 INFO sqlalchemy.engine.base.Engine (2, 89, 1)
2018-11-14 11:30:06,226 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,228 INFO sqlalchemy.engine.base.Engine ('DIGOXIN', 1, 0)
2018-11-14 11:30:06,232 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,234 INFO sqlalchemy.engine.base.Engine ('DIGITEK', 1, 0)
2018-11-14 11:30:06,238 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,240 INFO sqlalchemy.engine.base.Engine ('LANOXIN', 1, 0)
2018-11-14 11:30:06,242 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:06,246 INFO sqlalchemy.engine.base.Engine (484,)
2018-11-14 11:30:06,249 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:06,250 INFO sqlalchemy.engine.base.Engine ('DIGOXIN',)
2018-11-14 11:30:06,255 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:06,256 INFO sqlalchemy.engine.base.Engine ('DIGITEK',)
2018-11-14 11:30:06,257 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:06,258 INFO sqlalchemy.engine.base.Engine ('LANOXIN',)
2018-11-14 11:30:06,262 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,263 INFO sqlalchemy.engine.base.Engine ((2037, 484), (2038, 484), (2039, 484))
2018-11-14 11:30:06,265 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,266 INFO sqlalchemy.engine.base.Engine ('Drug interaction', 1, 0)
2018-11-14 11:30:06,272 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,273 INFO sqlalchemy.engine.base.Engine ('Orthopnoea', 1, 0)
2018-11-14 11:30:06,276 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,277 INFO sqlalchemy.engine.base.Engine ('Tachyarrhythmia', 1, 0)
2018-11-14 11:30:06,280 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,281 INFO sqlalchemy.engine.base.Engine ('Overdose', 1, 0)
2018-11-14 11:30:06,284 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,285 INFO sqlalchemy.engine.base.Engine ('Cardiac failure', 1, 0)
2018-11-14 11:30:06,289 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,291 INFO sqlalchemy.engine.base.Engine ('Drug level increased', 1, 0)
2018-11-14 11:30:06,295 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,296 INFO sqlalchemy.engine.base.Engine ('Toxicity to various agents', 1, 0)
2018-11-14 11:30:06,300 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,301 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:30:06,303 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:06,304 INFO sqlalchemy.engine.base.Engine (484,)
2018-11-14 11:30:06,308 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,309 INFO sqlalchemy.engine.base.Engine ('Tachyarrhythmia',)
2018-11-14 11:30:06,311 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,312 INFO sqlalchemy.engine.base.Engine ('Orthopnoea',)
2018-11-14 11:30:06,314 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,316 INFO sqlalchemy.engine.base.Engine ((735, 484), (673, 484), (736, 484), (467, 484), (31, 484), (426, 484), (110, 484), (66, 484))
2018-11-14 11:30:06,321 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:06,327 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:06,332 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:06,334 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:06,336 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:06,339 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:06,362 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,364 INFO sqlalchemy.engine.base.Engine ('CLARITHROMYCIN 500 MG', 1, 0)
2018-11-14 11:30:06,366 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,368 INFO sqlalchemy.engine.base.Engine ('CLARITHROMYCIN 250 MG', 1, 0)
2018-11-14 11:30:06,370 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,372 INFO sqlalchemy.engine.base.Engine ('CLARITHROMYCIN', 1, 0)
2018-11-14 11:30:06,374 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:06,376 INFO sqlalchemy.engine.base.Engine (485,)
2018-11-14 11:30:06,381 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,382 INFO sqlalchemy.engine.base.Engine ((311, 485), (312, 485), (313, 485))
2018-11-14 11:30:06,385 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,387 INFO sqlalchemy.engine.base.Engine ('Drug interaction', 1, 0)
2018-11-14 11:30:06,391 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,394 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:30:06,397 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,399 INFO sqlalchemy.engine.base.Engine ('Bacterial infection', 1, 0)
2018-11-14 11:30:06,402 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:06,404 INFO sqlalchemy.engine.base.Engine ('Nausea', 1, 0)
2018-11-14 11:30:06,407 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:06,409 INFO sqlalchemy.engine.base.Engine (485,)
2018-11-14 11:30:06,414 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,417 INFO sqlalchemy.engine.base.Engine ('Bacterial infection',)
2018-11-14 11:30:06,420 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,421 INFO sqlalchemy.engine.base.Engine (737, 485)
2018-11-14 11:30:06,423 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,424 INFO sqlalchemy.engine.base.Engine ((143, 485), (48, 485), (110, 485))
2018-11-14 11:30:06,427 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:06,434 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:06,437 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:06,438 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:06,441 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:06,448 INFO sqlalchemy.engine.base.Engine (2, 47, 1)
2018-11-14 11:30:06,452 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,454 INFO sqlalchemy.engine.base.Engine ('Angina pectoris', 1, 0)
2018-11-14 11:30:06,457 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,460 INFO sqlalchemy.engine.base.Engine ('Pulmonary mass', 1, 0)
2018-11-14 11:30:06,466 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,468 INFO sqlalchemy.engine.base.Engine ('Pericarditis', 1, 0)
2018-11-14 11:30:06,470 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:06,472 INFO sqlalchemy.engine.base.Engine (486,)
2018-11-14 11:30:06,475 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,477 INFO sqlalchemy.engine.base.Engine ('Pulmonary mass',)
2018-11-14 11:30:06,480 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,481 INFO sqlalchemy.engine.base.Engine ('Pericarditis',)
2018-11-14 11:30:06,484 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,485 INFO sqlalchemy.engine.base.Engine ((738, 486), (739, 486), (585, 486))
2018-11-14 11:30:06,487 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:06,492 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:06,495 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:06,497 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:06,499 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:06,501 INFO sqlalchemy.engine.base.Engine (2, 48, 1)
2018-11-14 11:30:06,504 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,509 INFO sqlalchemy.engine.base.Engine ('XARELTO', 1, 0)
2018-11-14 11:30:06,514 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:06,516 INFO sqlalchemy.engine.base.Engine (487,)
2018-11-14 11:30:06,521 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:06,522 INFO sqlalchemy.engine.base.Engine ('XARELTO',)
2018-11-14 11:30:06,523 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,524 INFO sqlalchemy.engine.base.Engine (2040, 487)
2018-11-14 11:30:06,527 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,528 INFO sqlalchemy.engine.base.Engine ('Product use in unapproved indication', 1, 0)
2018-11-14 11:30:06,531 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,532 INFO sqlalchemy.engine.base.Engine ('Menorrhagia', 1, 0)
2018-11-14 11:30:06,534 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:06,536 INFO sqlalchemy.engine.base.Engine (487,)
2018-11-14 11:30:06,540 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,542 INFO sqlalchemy.engine.base.Engine ('Menorrhagia',)
2018-11-14 11:30:06,549 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,550 INFO sqlalchemy.engine.base.Engine (740, 487)
2018-11-14 11:30:06,552 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,554 INFO sqlalchemy.engine.base.Engine (320, 487)
2018-11-14 11:30:06,556 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:06,561 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:06,566 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:06,571 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:06,575 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:06,576 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:06,581 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,582 INFO sqlalchemy.engine.base.Engine ('METFORMIN HYDROCHLORIDE', 1, 0)
2018-11-14 11:30:06,586 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,588 INFO sqlalchemy.engine.base.Engine ('METFORMIN', 1, 0)
2018-11-14 11:30:06,591 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:06,592 INFO sqlalchemy.engine.base.Engine (488,)
2018-11-14 11:30:06,597 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,599 INFO sqlalchemy.engine.base.Engine ((226, 488), (1944, 488))
2018-11-14 11:30:06,603 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,604 INFO sqlalchemy.engine.base.Engine ('Blood glucose increased', 1, 0)
2018-11-14 11:30:06,607 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:06,608 INFO sqlalchemy.engine.base.Engine ('Renal disorder', 1, 0)
2018-11-14 11:30:06,612 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:06,615 INFO sqlalchemy.engine.base.Engine (488,)
2018-11-14 11:30:06,620 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,621 INFO sqlalchemy.engine.base.Engine ('Blood glucose increased',)
2018-11-14 11:30:06,622 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,624 INFO sqlalchemy.engine.base.Engine ((741, 488), (59, 488))
2018-11-14 11:30:06,626 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:06,633 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:06,636 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:06,637 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:06,641 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:06,643 INFO sqlalchemy.engine.base.Engine (2, 30, 1)
2018-11-14 11:30:06,646 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,648 INFO sqlalchemy.engine.base.Engine ('CYCLOPHOSPHAMIDE', 1, 0)
2018-11-14 11:30:06,651 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:06,652 INFO sqlalchemy.engine.base.Engine (489,)
2018-11-14 11:30:06,665 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:06,667 INFO sqlalchemy.engine.base.Engine ('CYCLOPHOSPHAMIDE',)
2018-11-14 11:30:06,669 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,670 INFO sqlalchemy.engine.base.Engine (2041, 489)
2018-11-14 11:30:06,673 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,674 INFO sqlalchemy.engine.base.Engine ('Vena cava thrombosis', 1, 0)
2018-11-14 11:30:06,676 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,679 INFO sqlalchemy.engine.base.Engine ('Product use in unapproved indication', 1, 0)
2018-11-14 11:30:06,681 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:06,683 INFO sqlalchemy.engine.base.Engine (489,)
2018-11-14 11:30:06,687 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,689 INFO sqlalchemy.engine.base.Engine ('Vena cava thrombosis',)
2018-11-14 11:30:06,691 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,693 INFO sqlalchemy.engine.base.Engine (742, 489)
2018-11-14 11:30:06,696 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,698 INFO sqlalchemy.engine.base.Engine (320, 489)
2018-11-14 11:30:06,700 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:06,706 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:06,710 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:06,710 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:06,714 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:06,717 INFO sqlalchemy.engine.base.Engine (2, 63, 1)
2018-11-14 11:30:06,722 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,723 INFO sqlalchemy.engine.base.Engine ('METHYLPREDNISOLONE SODIUM SUCCINATE', 1, 0)
2018-11-14 11:30:06,726 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,728 INFO sqlalchemy.engine.base.Engine ('MEDROL', 1, 0)
2018-11-14 11:30:06,732 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,734 INFO sqlalchemy.engine.base.Engine ('METHYLPREDNISOLONE', 1, 0)
2018-11-14 11:30:06,737 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:06,739 INFO sqlalchemy.engine.base.Engine (490,)
2018-11-14 11:30:06,747 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,749 INFO sqlalchemy.engine.base.Engine ((23, 490), (24, 490), (25, 490))
2018-11-14 11:30:06,752 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,754 INFO sqlalchemy.engine.base.Engine ('Diabetic ketoacidosis', 1, 0)
2018-11-14 11:30:06,756 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:06,757 INFO sqlalchemy.engine.base.Engine (490,)
2018-11-14 11:30:06,761 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,765 INFO sqlalchemy.engine.base.Engine ('Diabetic ketoacidosis',)
2018-11-14 11:30:06,768 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,775 INFO sqlalchemy.engine.base.Engine (743, 490)
2018-11-14 11:30:06,777 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:06,784 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:06,786 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:06,788 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:06,791 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:06,792 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:06,796 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,798 INFO sqlalchemy.engine.base.Engine ('DECADRON', 1, 0)
2018-11-14 11:30:06,803 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,804 INFO sqlalchemy.engine.base.Engine ('DEXAMETHASONE 1.5 MG', 1, 0)
2018-11-14 11:30:06,809 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,811 INFO sqlalchemy.engine.base.Engine ('DEXYCU', 1, 0)
2018-11-14 11:30:06,817 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,819 INFO sqlalchemy.engine.base.Engine ('MAXIDEX', 1, 0)

2018-11-14 11:30:06,822 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,823 INFO sqlalchemy.engine.base.Engine ('TAPERDEX 6-DAY', 1, 0)
2018-11-14 11:30:06,825 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,828 INFO sqlalchemy.engine.base.Engine ('TAPERDEX 12-DAY', 1, 0)
2018-11-14 11:30:06,831 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,832 INFO sqlalchemy.engine.base.Engine ('OZURDEX', 1, 0)
2018-11-14 11:30:06,835 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,836 INFO sqlalchemy.engine.base.Engine ('BAYCADRON', 1, 0)
2018-11-14 11:30:06,838 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,839 INFO sqlalchemy.engine.base.Engine ('DEXAMETHASONE', 1, 0)
2018-11-14 11:30:06,840 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:06,841 INFO sqlalchemy.engine.base.Engine (491,)
2018-11-14 11:30:06,848 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,850 INFO sqlalchemy.engine.base.Engine ((1701, 491), (2025, 491), (2026, 491), (2027, 491), (2028, 491), (2029, 491), (2030, 491), (2031, 491), (2032, 491))
2018-11-14 11:30:06,854 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,858 INFO sqlalchemy.engine.base.Engine ('Thrombocytopenia', 1, 0)
2018-11-14 11:30:06,860 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:06,861 INFO sqlalchemy.engine.base.Engine (491,)
2018-11-14 11:30:06,865 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,867 INFO sqlalchemy.engine.base.Engine (388, 491)
2018-11-14 11:30:06,869 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:06,881 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:06,888 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:06,890 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:06,894 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:06,897 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:06,901 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,903 INFO sqlalchemy.engine.base.Engine ('SPIRIVA', 1, 0)
2018-11-14 11:30:06,906 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:06,908 INFO sqlalchemy.engine.base.Engine (492,)
2018-11-14 11:30:06,913 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,916 INFO sqlalchemy.engine.base.Engine (13, 492)
2018-11-14 11:30:06,919 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,920 INFO sqlalchemy.engine.base.Engine ('Oxygen saturation decreased', 1, 0)
2018-11-14 11:30:06,924 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:06,926 INFO sqlalchemy.engine.base.Engine (492,)
2018-11-14 11:30:06,930 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:06,932 INFO sqlalchemy.engine.base.Engine ('Oxygen saturation decreased',)
2018-11-14 11:30:06,934 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:06,936 INFO sqlalchemy.engine.base.Engine (744, 492)
2018-11-14 11:30:06,938 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:06,944 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:06,947 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:06,949 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:06,952 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:06,955 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:06,958 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,960 INFO sqlalchemy.engine.base.Engine ('AUVI-Q', 1, 0)
2018-11-14 11:30:06,967 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,968 INFO sqlalchemy.engine.base.Engine ('EPIPEN JR', 1, 0)
2018-11-14 11:30:06,978 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,981 INFO sqlalchemy.engine.base.Engine ('SYMJEPI', 1, 0)
2018-11-14 11:30:06,988 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,989 INFO sqlalchemy.engine.base.Engine ('EPIPEN', 1, 0)
2018-11-14 11:30:06,992 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:06,994 INFO sqlalchemy.engine.base.Engine ('EPINEPHRINE', 1, 0)
2018-11-14 11:30:06,998 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,000 INFO sqlalchemy.engine.base.Engine ('ADRENALIN', 1, 0)
2018-11-14 11:30:07,005 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,008 INFO sqlalchemy.engine.base.Engine ('PRIME ASTHMA RELIEF', 1, 0)
2018-11-14 11:30:07,011 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,015 INFO sqlalchemy.engine.base.Engine ('ADRENALINUM', 1, 0)
2018-11-14 11:30:07,019 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:07,022 INFO sqlalchemy.engine.base.Engine (493,)
2018-11-14 11:30:07,025 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:07,026 INFO sqlalchemy.engine.base.Engine ('AUVI-Q',)
2018-11-14 11:30:07,028 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:07,029 INFO sqlalchemy.engine.base.Engine ('EPIPEN JR',)

2018-11-14 11:30:07,033 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:07,034 INFO sqlalchemy.engine.base.Engine ('SYMJEPI',)
2018-11-14 11:30:07,036 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:07,037 INFO sqlalchemy.engine.base.Engine ('EPIPEN',)
2018-11-14 11:30:07,039 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:07,041 INFO sqlalchemy.engine.base.Engine ('EPINEPHRINE',)
2018-11-14 11:30:07,044 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:07,046 INFO sqlalchemy.engine.base.Engine ('ADRENALIN',)
2018-11-14 11:30:07,050 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:07,052 INFO sqlalchemy.engine.base.Engine ('PRIME ASTHMA RELIEF',)
2018-11-14 11:30:07,054 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:07,055 INFO sqlalchemy.engine.base.Engine ('ADRENALINUM',)
2018-11-14 11:30:07,058 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,059 INFO sqlalchemy.engine.base.Engine ((2046, 493), (2042, 493), (2043, 493), (2044, 493), (2047, 493), (2045, 493), (2048, 493), (2049, 493))
2018-11-14 11:30:07,063 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,064 INFO sqlalchemy.engine.base.Engine ('Drug hypersensitivity', 1, 0)
2018-11-14 11:30:07,066 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:07,068 INFO sqlalchemy.engine.base.Engine (493,)
2018-11-14 11:30:07,071 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,072 INFO sqlalchemy.engine.base.Engine (492, 493)
2018-11-14 11:30:07,076 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:07,084 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:07,094 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:07,095 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:07,103 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:07,105 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:07,108 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,110 INFO sqlalchemy.engine.base.Engine ('SYNTHAMIN', 1, 0)
2018-11-14 11:30:07,112 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:07,115 INFO sqlalchemy.engine.base.Engine (494,)
2018-11-14 11:30:07,119 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:07,120 INFO sqlalchemy.engine.base.Engine ('SYNTHAMIN',)
2018-11-14 11:30:07,122 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,123 INFO sqlalchemy.engine.base.Engine (2050, 494)
2018-11-14 11:30:07,126 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,127 INFO sqlalchemy.engine.base.Engine ('Sepsis', 1, 0)
2018-11-14 11:30:07,129 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:07,130 INFO sqlalchemy.engine.base.Engine (494,)
2018-11-14 11:30:07,134 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,135 INFO sqlalchemy.engine.base.Engine (660, 494)
2018-11-14 11:30:07,138 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:07,143 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:07,145 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:07,148 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:07,152 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:07,153 INFO sqlalchemy.engine.base.Engine (1, 60, 1)
2018-11-14 11:30:07,158 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,160 INFO sqlalchemy.engine.base.Engine ('ARANESP', 1, 0)
2018-11-14 11:30:07,165 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:07,167 INFO sqlalchemy.engine.base.Engine (495,)
2018-11-14 11:30:07,173 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,175 INFO sqlalchemy.engine.base.Engine (322, 495)
2018-11-14 11:30:07,177 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,178 INFO sqlalchemy.engine.base.Engine ('Cough', 1, 0)
2018-11-14 11:30:07,181 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:07,183 INFO sqlalchemy.engine.base.Engine (495,)
2018-11-14 11:30:07,186 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,187 INFO sqlalchemy.engine.base.Engine (134, 495)
2018-11-14 11:30:07,189 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:07,199 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:07,202 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:07,203 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:07,206 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:07,209 INFO sqlalchemy.engine.base.Engine (1, 67, 1)
2018-11-14 11:30:07,212 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,218 INFO sqlalchemy.engine.base.Engine ('Haematuria', 1, 0)
2018-11-14 11:30:07,222 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,223 INFO sqlalchemy.engine.base.Engine ('Tumour invasion', 1, 0)
2018-11-14 11:30:07,226 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,227 INFO sqlalchemy.engine.base.Engine ('Pulmonary mass', 1, 0)
2018-11-14 11:30:07,229 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,232 INFO sqlalchemy.engine.base.Engine ('Renal cell carcinoma', 1, 0)
2018-11-14 11:30:07,234 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events

WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:07,235 INFO sqlalchemy.engine.base.Engine (496,)
2018-11-14 11:30:07,239 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:07,240 INFO sqlalchemy.engine.base.Engine ('Renal cell carcinoma',)
2018-11-14 11:30:07,241 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:07,243 INFO sqlalchemy.engine.base.Engine ('Haematuria',)
2018-11-14 11:30:07,244 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:07,245 INFO sqlalchemy.engine.base.Engine ('Tumour invasion',)
2018-11-14 11:30:07,248 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,249 INFO sqlalchemy.engine.base.Engine ((747, 496), (745, 496), (746, 496))
2018-11-14 11:30:07,251 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,252 INFO sqlalchemy.engine.base.Engine (738, 496)
2018-11-14 11:30:07,255 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:07,262 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:07,266 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:07,269 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:07,272 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:07,277 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:07,283 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,287 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:30:07,291 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:07,293 INFO sqlalchemy.engine.base.Engine (497,)
2018-11-14 11:30:07,297 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,299 INFO sqlalchemy.engine.base.Engine (8, 497)
2018-11-14 11:30:07,301 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,303 INFO sqlalchemy.engine.base.Engine ('Cough', 1, 0)
2018-11-14 11:30:07,307 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:07,309 INFO sqlalchemy.engine.base.Engine (497,)
2018-11-14 11:30:07,313 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,316 INFO sqlalchemy.engine.base.Engine (134, 497)
2018-11-14 11:30:07,319 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:07,324 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:07,327 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:07,329 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:07,332 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:07,334 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:07,337 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,340 INFO sqlalchemy.engine.base.Engine ('LIDOCAINE PATCH', 1, 0)
2018-11-14 11:30:07,342 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:07,344 INFO sqlalchemy.engine.base.Engine (498,)
2018-11-14 11:30:07,349 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:07,350 INFO sqlalchemy.engine.base.Engine ('LIDOCAINE PATCH',)
2018-11-14 11:30:07,353 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,355 INFO sqlalchemy.engine.base.Engine (2051, 498)
2018-11-14 11:30:07,357 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,359 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:30:07,361 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,362 INFO sqlalchemy.engine.base.Engine ('Product quality issue', 1, 0)
2018-11-14 11:30:07,365 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,366 INFO sqlalchemy.engine.base.Engine ('Product adhesion issue', 1, 0)
2018-11-14 11:30:07,369 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:07,372 INFO sqlalchemy.engine.base.Engine (498,)
2018-11-14 11:30:07,378 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:07,379 INFO sqlalchemy.engine.base.Engine ('Product adhesion issue',)
2018-11-14 11:30:07,383 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,387 INFO sqlalchemy.engine.base.Engine ((531, 498), (748, 498), (57, 498))
2018-11-14 11:30:07,390 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:07,396 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:07,403 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:07,408 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:07,411 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:07,413 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:07,416 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,418 INFO sqlalchemy.engine.base.Engine ('LIDOCAINE PATCH', 1, 0)
2018-11-14 11:30:07,420 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:07,422 INFO sqlalchemy.engine.base.Engine (499,)
2018-11-14 11:30:07,426 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,428 INFO sqlalchemy.engine.base.Engine (2051, 499)
2018-11-14 11:30:07,432 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,435 INFO sqlalchemy.engine.base.Engine ('No adverse event', 1, 0)
2018-11-14 11:30:07,439 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,441 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:30:07,444 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:07,445 INFO sqlalchemy.engine.base.Engine ('Product adhesion issue', 1, 0)
2018-11-14 11:30:07,448 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,450 INFO sqlalchemy.engine.base.Engine ('Product quality issue', 1, 0)
2018-11-14 11:30:07,453 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:07,455 INFO sqlalchemy.engine.base.Engine (499,)
2018-11-14 11:30:07,461 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,462 INFO sqlalchemy.engine.base.Engine ((531, 499), (748, 499), (539, 499), (57, 499))
2018-11-14 11:30:07,468 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:07,474 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:07,476 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:07,478 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:07,483 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:07,485 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:07,488 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,490 INFO sqlalchemy.engine.base.Engine ('LIDOCAINE PATCH', 1, 0)
2018-11-14 11:30:07,492 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:07,494 INFO sqlalchemy.engine.base.Engine (500,)
2018-11-14 11:30:07,499 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,501 INFO sqlalchemy.engine.base.Engine (2051, 500)
2018-11-14 11:30:07,503 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,506 INFO sqlalchemy.engine.base.Engine ('Product adhesion issue', 1, 0)
2018-11-14 11:30:07,509 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,511 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:30:07,515 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,517 INFO sqlalchemy.engine.base.Engine ('No adverse event', 1, 0)
2018-11-14 11:30:07,520 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,522 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:30:07,524 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,526 INFO sqlalchemy.engine.base.Engine ('Product quality issue', 1, 0)
2018-11-14 11:30:07,532 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:07,533 INFO sqlalchemy.engine.base.Engine (500,)
2018-11-14 11:30:07,538 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:07,539 INFO sqlalchemy.engine.base.Engine ((531, 500), (57, 500), (748, 500), (36, 500), (539, 500))
2018-11-14 11:30:07,542 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:07,549 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:07,553 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:07,554 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:07,557 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:07,559 INFO sqlalchemy.engine.base.Engine (1, 26, 1)
2018-11-14 11:30:07,563 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,565 INFO sqlalchemy.engine.base.Engine ('GABLOFEN', 1, 0)
2018-11-14 11:30:07,568 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,570 INFO sqlalchemy.engine.base.Engine ('LIORESAL', 1, 0)
2018-11-14 11:30:07,575 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,576 INFO sqlalchemy.engine.base.Engine ('BACLOFEN', 1, 0)
2018-11-14 11:30:07,579 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:07,583 INFO sqlalchemy.engine.base.Engine ('LIORESAL (BACLOFEN)', 1, 0)
2018-11-14 11:30:07,585 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,074 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,075 INFO sqlalchemy.engine.base.Engine ((1768, 510), (1769, 510), (1770, 510), (1771, 510), (1772, 510), (1773, 510), (1774, 510), (1775, 510)  ... displaying 10 of 160 total bound parameter sets ...  (1926, 510), (1927, 510))
2018-11-14 11:30:09,087 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,088 INFO sqlalchemy.engine.base.Engine ('Gait disturbance', 1, 0)
2018-11-14 11:30:09,093 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,094 INFO sqlalchemy.engine.base.Engine ('Feeling abnormal', 1, 0)
2018-11-14 11:30:09,104 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,106 INFO sqlalchemy.engine.base.Engine ('Vertigo', 1, 0)
2018-11-14 11:30:09,108 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,109 INFO sqlalchemy.engine.base.Engine (510,)
2018-11-14 11:30:09,115 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,116 INFO sqlalchemy.engine.base.Engine ((452, 510), (35, 510), (627, 510))
2018-11-14 11:30:09,119 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,133 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,135 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,138 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,141 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)

2018-11-14 11:30:09,142 INFO sqlalchemy.engine.base.Engine (2, 75, 1)
2018-11-14 11:30:09,148 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,150 INFO sqlalchemy.engine.base.Engine ('Staphylococcal infection', 1, 0)
2018-11-14 11:30:09,153 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,157 INFO sqlalchemy.engine.base.Engine ('Lung infection', 1, 0)
2018-11-14 11:30:09,159 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,161 INFO sqlalchemy.engine.base.Engine (511,)
2018-11-14 11:30:09,164 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:09,165 INFO sqlalchemy.engine.base.Engine ('Staphylococcal infection',)
2018-11-14 11:30:09,167 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:09,168 INFO sqlalchemy.engine.base.Engine ('Lung infection',)
2018-11-14 11:30:09,172 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,173 INFO sqlalchemy.engine.base.Engine ((763, 511), (762, 511))
2018-11-14 11:30:09,176 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,188 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,192 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,196 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,204 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,206 INFO sqlalchemy.engine.base.Engine (1, 90, 1)
2018-11-14 11:30:09,209 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,211 INFO sqlalchemy.engine.base.Engine ('METHYLPREDNISOLONE SODIUM SUCCINATE', 1, 0)
2018-11-14 11:30:09,213 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,215 INFO sqlalchemy.engine.base.Engine ('MEDROL', 1, 0)
2018-11-14 11:30:09,221 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,222 INFO sqlalchemy.engine.base.Engine ('METHYLPREDNISOLONE', 1, 0)
2018-11-14 11:30:09,229 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,232 INFO sqlalchemy.engine.base.Engine (512,)
2018-11-14 11:30:09,236 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,237 INFO sqlalchemy.engine.base.Engine ((23, 512), (24, 512), (25, 512))
2018-11-14 11:30:09,240 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,241 INFO sqlalchemy.engine.base.Engine ('Sudden death', 1, 0)
2018-11-14 11:30:09,244 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,248 INFO sqlalchemy.engine.base.Engine (512,)
2018-11-14 11:30:09,253 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,254 INFO sqlalchemy.engine.base.Engine (526, 512)
2018-11-14 11:30:09,256 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,263 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,265 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,266 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,267 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,268 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:09,272 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,274 INFO sqlalchemy.engine.base.Engine ('CLARAVIS', 1, 0)
2018-11-14 11:30:09,279 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,284 INFO sqlalchemy.engine.base.Engine (513,)
2018-11-14 11:30:09,291 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,297 INFO sqlalchemy.engine.base.Engine (1711, 513)
2018-11-14 11:30:09,304 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,306 INFO sqlalchemy.engine.base.Engine ('Suicidal behaviour', 1, 0)
2018-11-14 11:30:09,308 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,310 INFO sqlalchemy.engine.base.Engine (513,)
2018-11-14 11:30:09,314 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:09,325 INFO sqlalchemy.engine.base.Engine ('Suicidal behaviour',)
2018-11-14 11:30:09,328 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,329 INFO sqlalchemy.engine.base.Engine (764, 513)
2018-11-14 11:30:09,331 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,344 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,348 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,349 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,353 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,355 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:09,361 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,362 INFO sqlalchemy.engine.base.Engine ('TAFINLAR', 1, 0)
2018-11-14 11:30:09,366 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,367 INFO sqlalchemy.engine.base.Engine (514,)
2018-11-14 11:30:09,371 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:09,373 INFO sqlalchemy.engine.base.Engine ('TAFINLAR',)
2018-11-14 11:30:09,375 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,376 INFO sqlalchemy.engine.base.Engine (2061, 514)
2018-11-14 11:30:09,379 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,381 INFO sqlalchemy.engine.base.Engine ('Joint swelling', 1, 0)

2018-11-14 11:30:09,384 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,388 INFO sqlalchemy.engine.base.Engine (514,)
2018-11-14 11:30:09,393 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,394 INFO sqlalchemy.engine.base.Engine (488, 514)
2018-11-14 11:30:09,397 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,405 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,407 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,409 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,411 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,414 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:09,418 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,420 INFO sqlalchemy.engine.base.Engine ('ENTRESTO', 1, 0)
2018-11-14 11:30:09,423 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,424 INFO sqlalchemy.engine.base.Engine (515,)
2018-11-14 11:30:09,431 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,432 INFO sqlalchemy.engine.base.Engine (6, 515)
2018-11-14 11:30:09,437 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,439 INFO sqlalchemy.engine.base.Engine ('Cough', 1, 0)
2018-11-14 11:30:09,441 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,442 INFO sqlalchemy.engine.base.Engine (515,)
2018-11-14 11:30:09,446 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,448 INFO sqlalchemy.engine.base.Engine (134, 515)
2018-11-14 11:30:09,452 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,459 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,462 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,464 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,467 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,470 INFO sqlalchemy.engine.base.Engine (1, 60, 1)
2018-11-14 11:30:09,473 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,475 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:09,477 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,480 INFO sqlalchemy.engine.base.Engine (516,)
2018-11-14 11:30:09,490 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,492 INFO sqlalchemy.engine.base.Engine (17, 516)
2018-11-14 11:30:09,495 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,498 INFO sqlalchemy.engine.base.Engine ('Contusion', 1, 0)
2018-11-14 11:30:09,500 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,502 INFO sqlalchemy.engine.base.Engine ('Fall', 1, 0)
2018-11-14 11:30:09,506 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,507 INFO sqlalchemy.engine.base.Engine (516,)
2018-11-14 11:30:09,510 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,512 INFO sqlalchemy.engine.base.Engine ((137, 516), (377, 516))
2018-11-14 11:30:09,513 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,524 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,535 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,538 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,540 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,543 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:09,546 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,549 INFO sqlalchemy.engine.base.Engine ('COSENTYX', 1, 0)
2018-11-14 11:30:09,552 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,554 INFO sqlalchemy.engine.base.Engine (517,)
2018-11-14 11:30:09,559 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,561 INFO sqlalchemy.engine.base.Engine (219, 517)
2018-11-14 11:30:09,563 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,564 INFO sqlalchemy.engine.base.Engine ('No adverse event', 1, 0)
2018-11-14 11:30:09,566 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,567 INFO sqlalchemy.engine.base.Engine (517,)
2018-11-14 11:30:09,571 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,572 INFO sqlalchemy.engine.base.Engine (539, 517)
2018-11-14 11:30:09,574 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,583 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,590 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,592 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,595 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,597 INFO sqlalchemy.engine.base.Engine (2, 57, 1)
2018-11-14 11:30:09,602 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,607 INFO sqlalchemy.engine.base.Engine ('Food craving', 1, 0)
2018-11-14 11:30:09,610 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,611 INFO sqlalchemy.engine.base.Engine ('Musculoskeletal pain', 1, 0)

2018-11-14 11:30:09,613 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,615 INFO sqlalchemy.engine.base.Engine ('Balance disorder', 1, 0)
2018-11-14 11:30:09,618 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,621 INFO sqlalchemy.engine.base.Engine ('Cognitive disorder', 1, 0)
2018-11-14 11:30:09,624 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,626 INFO sqlalchemy.engine.base.Engine ('Neck pain', 1, 0)
2018-11-14 11:30:09,630 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,631 INFO sqlalchemy.engine.base.Engine (518,)
2018-11-14 11:30:09,635 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:09,640 INFO sqlalchemy.engine.base.Engine ('Cognitive disorder',)
2018-11-14 11:30:09,642 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:09,644 INFO sqlalchemy.engine.base.Engine ('Food craving',)
2018-11-14 11:30:09,647 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,648 INFO sqlalchemy.engine.base.Engine ((500, 518), (136, 518), (765, 518), (766, 518), (171, 518))
2018-11-14 11:30:09,652 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,658 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,660 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,663 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,667 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,669 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:09,674 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,676 INFO sqlalchemy.engine.base.Engine ('ENTYVIO', 1, 0)
2018-11-14 11:30:09,679 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,682 INFO sqlalchemy.engine.base.Engine (519,)
2018-11-14 11:30:09,687 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,689 INFO sqlalchemy.engine.base.Engine (1499, 519)
2018-11-14 11:30:09,693 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,695 INFO sqlalchemy.engine.base.Engine ('Cellulitis', 1, 0)
2018-11-14 11:30:09,698 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,700 INFO sqlalchemy.engine.base.Engine (519,)
2018-11-14 11:30:09,706 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,707 INFO sqlalchemy.engine.base.Engine (476, 519)
2018-11-14 11:30:09,709 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,714 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,717 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,719 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,725 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,727 INFO sqlalchemy.engine.base.Engine (2, 55, 1)
2018-11-14 11:30:09,734 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,736 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:09,743 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,744 INFO sqlalchemy.engine.base.Engine (520,)
2018-11-14 11:30:09,749 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,751 INFO sqlalchemy.engine.base.Engine (17, 520)
2018-11-14 11:30:09,754 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,758 INFO sqlalchemy.engine.base.Engine ('Underdose', 1, 0)
2018-11-14 11:30:09,760 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,761 INFO sqlalchemy.engine.base.Engine (520,)
2018-11-14 11:30:09,766 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:09,767 INFO sqlalchemy.engine.base.Engine ('Underdose',)
2018-11-14 11:30:09,769 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,771 INFO sqlalchemy.engine.base.Engine (767, 520)
2018-11-14 11:30:09,773 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,778 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,780 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,781 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,783 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,784 INFO sqlalchemy.engine.base.Engine (2, 55, 1)
2018-11-14 11:30:09,787 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,789 INFO sqlalchemy.engine.base.Engine ('Vulvovaginal pruritus', 1, 0)
2018-11-14 11:30:09,792 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,794 INFO sqlalchemy.engine.base.Engine (521,)
2018-11-14 11:30:09,799 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,801 INFO sqlalchemy.engine.base.Engine (496, 521)
2018-11-14 11:30:09,804 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,815 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,817 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,819 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,822 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,823 INFO sqlalchemy.engine.base.Engine (1, 76, 1)
2018-11-14 11:30:09,826 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:09,827 INFO sqlalchemy.engine.base.Engine ('XTANDI', 1, 0)
2018-11-14 11:30:09,830 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,845 INFO sqlalchemy.engine.base.Engine (522,)
2018-11-14 11:30:09,851 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:09,852 INFO sqlalchemy.engine.base.Engine ('XTANDI',)
2018-11-14 11:30:09,855 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,857 INFO sqlalchemy.engine.base.Engine (2062, 522)
2018-11-14 11:30:09,859 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,860 INFO sqlalchemy.engine.base.Engine ('Eczema', 1, 0)
2018-11-14 11:30:09,862 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,863 INFO sqlalchemy.engine.base.Engine ('Gastric cancer', 1, 0)
2018-11-14 11:30:09,865 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,867 INFO sqlalchemy.engine.base.Engine ('Dizziness', 1, 0)
2018-11-14 11:30:09,869 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,870 INFO sqlalchemy.engine.base.Engine ('Somnolence', 1, 0)
2018-11-14 11:30:09,873 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,874 INFO sqlalchemy.engine.base.Engine ('Small cell lung cancer extensive stage', 1, 0)
2018-11-14 11:30:09,875 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,877 INFO sqlalchemy.engine.base.Engine (522,)
2018-11-14 11:30:09,880 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:09,882 INFO sqlalchemy.engine.base.Engine ('Gastric cancer',)
2018-11-14 11:30:09,885 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:09,886 INFO sqlalchemy.engine.base.Engine ('Small cell lung cancer extensive stage',)
2018-11-14 11:30:09,891 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,892 INFO sqlalchemy.engine.base.Engine ((179, 522), (768, 522), (769, 522), (16, 522), (21, 522))
2018-11-14 11:30:09,895 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,902 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,905 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,908 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,912 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,914 INFO sqlalchemy.engine.base.Engine (1, 90, 1)
2018-11-14 11:30:09,919 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,921 INFO sqlalchemy.engine.base.Engine ('XTANDI', 1, 0)
2018-11-14 11:30:09,924 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:09,925 INFO sqlalchemy.engine.base.Engine (523,)
2018-11-14 11:30:09,932 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,934 INFO sqlalchemy.engine.base.Engine (2062, 523)
2018-11-14 11:30:09,936 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,940 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:09,943 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,945 INFO sqlalchemy.engine.base.Engine (523,)
2018-11-14 11:30:09,949 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,950 INFO sqlalchemy.engine.base.Engine (111, 523)
2018-11-14 11:30:09,953 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,961 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,964 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,966 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:09,967 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:09,970 INFO sqlalchemy.engine.base.Engine (1, 83, 1)
2018-11-14 11:30:09,974 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:09,976 INFO sqlalchemy.engine.base.Engine ('Cardiac failure', 1, 0)
2018-11-14 11:30:09,978 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:09,979 INFO sqlalchemy.engine.base.Engine (524,)
2018-11-14 11:30:09,982 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:09,983 INFO sqlalchemy.engine.base.Engine (31, 524)
2018-11-14 11:30:09,985 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:09,992 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:09,995 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:09,997 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:10,001 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:10,002 INFO sqlalchemy.engine.base.Engine (1, 67, 1)
2018-11-14 11:30:10,008 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,011 INFO sqlalchemy.engine.base.Engine ('PROGRAF', 1, 0)
2018-11-14 11:30:10,014 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:10,017 INFO sqlalchemy.engine.base.Engine (525,)
2018-11-14 11:30:10,024 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,025 INFO sqlalchemy.engine.base.Engine (1931, 525)
2018-11-14 11:30:10,028 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,029 INFO sqlalchemy.engine.base.Engine ('Treatment noncompliance', 1, 0)
2018-11-14 11:30:10,033 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:10,035 INFO sqlalchemy.engine.base.Engine ('Transplant failure', 1, 0)
2018-11-14 11:30:10,037 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:10,039 INFO sqlalchemy.engine.base.Engine (525,)
2018-11-14 11:30:10,046 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:10,048 INFO sqlalchemy.engine.base.Engine ('Transplant failure',)
2018-11-14 11:30:10,052 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,053 INFO sqlalchemy.engine.base.Engine (770, 525)
2018-11-14 11:30:10,059 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,061 INFO sqlalchemy.engine.base.Engine (253, 525)
2018-11-14 11:30:10,063 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:10,069 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:10,072 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:10,075 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:10,077 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:10,079 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:10,083 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,086 INFO sqlalchemy.engine.base.Engine ('PROGRAF', 1, 0)
2018-11-14 11:30:10,093 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:10,095 INFO sqlalchemy.engine.base.Engine (526,)
2018-11-14 11:30:10,099 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,100 INFO sqlalchemy.engine.base.Engine (1931, 526)
2018-11-14 11:30:10,104 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,109 INFO sqlalchemy.engine.base.Engine ('Ankle fracture', 1, 0)
2018-11-14 11:30:10,112 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,113 INFO sqlalchemy.engine.base.Engine ('Joint dislocation', 1, 0)
2018-11-14 11:30:10,115 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:10,117 INFO sqlalchemy.engine.base.Engine (526,)
2018-11-14 11:30:10,123 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:10,125 INFO sqlalchemy.engine.base.Engine ('Ankle fracture',)
2018-11-14 11:30:10,127 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,129 INFO sqlalchemy.engine.base.Engine ((567, 526), (771, 526))
2018-11-14 11:30:10,132 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:10,137 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:10,140 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:10,141 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:10,143 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:10,144 INFO sqlalchemy.engine.base.Engine (1, 62, 1)
2018-11-14 11:30:10,147 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,149 INFO sqlalchemy.engine.base.Engine ('TARCEVA', 1, 0)
2018-11-14 11:30:10,151 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:10,153 INFO sqlalchemy.engine.base.Engine (527,)
2018-11-14 11:30:10,158 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:10,158 INFO sqlalchemy.engine.base.Engine ('TARCEVA',)
2018-11-14 11:30:10,161 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,163 INFO sqlalchemy.engine.base.Engine (2063, 527)
2018-11-14 11:30:10,166 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,168 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:10,174 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,177 INFO sqlalchemy.engine.base.Engine ('Intentional product use issue', 1, 0)
2018-11-14 11:30:10,179 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,180 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:30:10,182 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:10,184 INFO sqlalchemy.engine.base.Engine (527,)
2018-11-14 11:30:10,188 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,189 INFO sqlalchemy.engine.base.Engine ((111, 527), (309, 527), (57, 527))
2018-11-14 11:30:10,192 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:10,198 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:10,201 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:10,203 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:10,206 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:10,208 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:10,211 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,213 INFO sqlalchemy.engine.base.Engine ('XTANDI', 1, 0)
2018-11-14 11:30:10,215 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:10,217 INFO sqlalchemy.engine.base.Engine (528,)
2018-11-14 11:30:10,221 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,223 INFO sqlalchemy.engine.base.Engine (2062, 528)
2018-11-14 11:30:10,229 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,231 INFO sqlalchemy.engine.base.Engine ('Eyelid ptosis', 1, 0)
2018-11-14 11:30:10,238 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,240 INFO sqlalchemy.engine.base.Engine ('Vision blurred', 1, 0)

2018-11-14 11:30:10,243 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,247 INFO sqlalchemy.engine.base.Engine ('Back pain', 1, 0)
2018-11-14 11:30:10,250 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,251 INFO sqlalchemy.engine.base.Engine ('Visual impairment', 1, 0)
2018-11-14 11:30:10,254 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,258 INFO sqlalchemy.engine.base.Engine ('Confusional state', 1, 0)
2018-11-14 11:30:10,262 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,263 INFO sqlalchemy.engine.base.Engine ('Dry eye', 1, 0)
2018-11-14 11:30:10,265 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:10,266 INFO sqlalchemy.engine.base.Engine (528,)
2018-11-14 11:30:10,270 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:10,273 INFO sqlalchemy.engine.base.Engine ('Eyelid ptosis',)
2018-11-14 11:30:10,275 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,277 INFO sqlalchemy.engine.base.Engine (772, 528)
2018-11-14 11:30:10,280 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,281 INFO sqlalchemy.engine.base.Engine ((449, 528), (118, 528), (208, 528), (282, 528), (44, 528))
2018-11-14 11:30:10,283 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:10,290 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:10,293 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:10,298 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:10,302 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:10,305 INFO sqlalchemy.engine.base.Engine (1, 6, 1)
2018-11-14 11:30:10,310 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,312 INFO sqlalchemy.engine.base.Engine ('LEXISCAN', 1, 0)
2018-11-14 11:30:10,315 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:10,316 INFO sqlalchemy.engine.base.Engine (529,)
2018-11-14 11:30:10,323 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:10,325 INFO sqlalchemy.engine.base.Engine ('LEXISCAN',)
2018-11-14 11:30:10,330 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,332 INFO sqlalchemy.engine.base.Engine (2064, 529)
2018-11-14 11:30:10,335 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,336 INFO sqlalchemy.engine.base.Engine ('Back pain', 1, 0)
2018-11-14 11:30:10,338 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,340 INFO sqlalchemy.engine.base.Engine ('Hyperhidrosis', 1, 0)
2018-11-14 11:30:10,343 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,346 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:30:10,349 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,351 INFO sqlalchemy.engine.base.Engine ('Abdominal pain upper', 1, 0)
2018-11-14 11:30:10,355 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,357 INFO sqlalchemy.engine.base.Engine ('Ventricular fibrillation', 1, 0)
2018-11-14 11:30:10,360 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,362 INFO sqlalchemy.engine.base.Engine ('Chest pain', 1, 0)
2018-11-14 11:30:10,364 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:10,367 INFO sqlalchemy.engine.base.Engine (529,)
2018-11-14 11:30:10,372 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,373 INFO sqlalchemy.engine.base.Engine ((301, 529), (44, 529), (703, 529), (237, 529), (60, 529), (48, 529))
2018-11-14 11:30:10,376 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:10,383 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:10,385 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:10,386 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:10,390 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:10,391 INFO sqlalchemy.engine.base.Engine (2, 8, 1)
2018-11-14 11:30:10,396 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,399 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:10,401 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:10,403 INFO sqlalchemy.engine.base.Engine (530,)
2018-11-14 11:30:10,410 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,412 INFO sqlalchemy.engine.base.Engine (111, 530)
2018-11-14 11:30:10,414 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:10,422 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:10,431 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:10,434 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:10,437 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:10,439 INFO sqlalchemy.engine.base.Engine (1, 88, 1)
2018-11-14 11:30:10,445 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,446 INFO sqlalchemy.engine.base.Engine ('XTANDI', 1, 0)
2018-11-14 11:30:10,449 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:10,451 INFO sqlalchemy.engine.base.Engine (531,)

2018-11-14 11:30:10,457 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,458 INFO sqlalchemy.engine.base.Engine (2062, 531)
2018-11-14 11:30:10,461 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,464 INFO sqlalchemy.engine.base.Engine ('Fluid retention', 1, 0)
2018-11-14 11:30:10,467 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,468 INFO sqlalchemy.engine.base.Engine ('Peripheral swelling', 1, 0)
2018-11-14 11:30:10,471 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,474 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:30:10,479 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,480 INFO sqlalchemy.engine.base.Engine ('Decreased interest', 1, 0)
2018-11-14 11:30:10,484 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,486 INFO sqlalchemy.engine.base.Engine ('Inappropriate schedule of drug administration', 1, 0)
2018-11-14 11:30:10,489 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,493 INFO sqlalchemy.engine.base.Engine ('Pulmonary oedema', 1, 0)
2018-11-14 11:30:10,497 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,498 INFO sqlalchemy.engine.base.Engine ('Carbon dioxide abnormal', 1, 0)
2018-11-14 11:30:10,502 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,504 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:30:10,508 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,510 INFO sqlalchemy.engine.base.Engine ('Treatment noncompliance', 1, 0)
2018-11-14 11:30:10,515 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,517 INFO sqlalchemy.engine.base.Engine ('Cardiac failure congestive', 1, 0)
2018-11-14 11:30:10,520 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:10,521 INFO sqlalchemy.engine.base.Engine (531,)
2018-11-14 11:30:10,528 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:10,530 INFO sqlalchemy.engine.base.Engine ('Carbon dioxide abnormal',)
2018-11-14 11:30:10,531 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:10,533 INFO sqlalchemy.engine.base.Engine ('Pulmonary oedema',)
2018-11-14 11:30:10,534 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:10,536 INFO sqlalchemy.engine.base.Engine ('Decreased interest',)
2018-11-14 11:30:10,538 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:10,540 INFO sqlalchemy.engine.base.Engine ((66, 531), (773, 531), (774, 531), (132, 531), (277, 531), (593, 531), (187, 531), (253, 531), (775, 531))
2018-11-14 11:30:10,542 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:10,554 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:10,557 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:10,560 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:10,562 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:10,564 INFO sqlalchemy.engine.base.Engine (2, 92, 1)
2018-11-14 11:30:10,569 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,571 INFO sqlalchemy.engine.base.Engine ('HENRY SCHEIN ASPIRIN', 1, 0)
2018-11-14 11:30:10,576 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,578 INFO sqlalchemy.engine.base.Engine ('HEALTH MART ASPIRIN', 1, 0)
2018-11-14 11:30:10,581 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,583 INFO sqlalchemy.engine.base.Engine ('PHARBEST ASPIRIN 325MG', 1, 0)
2018-11-14 11:30:10,585 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,586 INFO sqlalchemy.engine.base.Engine ('ASPIRIN THIN COATED', 1, 0)
2018-11-14 11:30:10,587 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,589 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH TRI-BUFFERED ASPIRIN', 1, 0)
2018-11-14 11:30:10,592 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,593 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ASPIRIN ORANGE FLAVOR CHEWABLE', 1, 0)
2018-11-14 11:30:10,596 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,597 INFO sqlalchemy.engine.base.Engine ('BAYER ASPIRIN REGIMEN CHEWABLE LOW DOSE ASPIRIN ORANGE', 1, 0)
2018-11-14 11:30:10,600 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,602 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS LOW DOSE CHEWABLE ASPIRIN CHERRY FLAVOR', 1, 0)
2018-11-14 11:30:10,604 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,606 INFO sqlalchemy.engine.base.Engine ('ASSURED ASPIRIN', 1, 0)
2018-11-14 11:30:10,609 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,614 INFO sqlalchemy.engine.base.Engine ('PHARBEST REGULAR STRENGTH ASPIRIN', 1, 0)
2018-11-14 11:30:10,618 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,620 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW STRENGTH', 1, 0)
2018-11-14 11:30:10,623 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,625 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF ASPIRIN LOW DOSE', 1, 0)
2018-11-14 11:30:10,629 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,631 INFO sqlalchemy.engine.base.Engine ('CARE ONE ASPIRIN', 1, 0)

2018-11-14 11:30:10,635 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,636 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE ECPIRIN', 1, 0)
2018-11-14 11:30:10,639 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,640 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81 MG LOW DOSE', 1, 0)
2018-11-14 11:30:10,643 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,645 INFO sqlalchemy.engine.base.Engine ('BAYER PLUS EXTRA STRENGTH', 1, 0)
2018-11-14 11:30:10,649 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,654 INFO sqlalchemy.engine.base.Engine ('EQUATE ASPIRIN', 1, 0)
2018-11-14 11:30:10,659 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,661 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE CHEWABLE ORANGE', 1, 0)
2018-11-14 11:30:10,663 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,665 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ASPIRIN', 1, 0)
2018-11-14 11:30:10,668 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,669 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325 MG EC', 1, 0)
2018-11-14 11:30:10,672 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,675 INFO sqlalchemy.engine.base.Engine ('EQUALINE ASPIRIN', 1, 0)
2018-11-14 11:30:10,678 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,680 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC COATED LOW DOSE', 1, 0)
2018-11-14 11:30:10,684 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,686 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE SAFETY COATED', 1, 0)
2018-11-14 11:30:10,690 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,691 INFO sqlalchemy.engine.base.Engine ('ASPIRIN SAFETY COATED ADULT LOW DOSE', 1, 0)
2018-11-14 11:30:10,693 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,695 INFO sqlalchemy.engine.base.Engine ('ENTERIC COATED ASPIRIN', 1, 0)
2018-11-14 11:30:10,699 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,701 INFO sqlalchemy.engine.base.Engine ('365 EVERYDAY VALUE ASPIRIN', 1, 0)
2018-11-14 11:30:10,704 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,705 INFO sqlalchemy.engine.base.Engine ('GERITREX ASPIRIN', 1, 0)
2018-11-14 11:30:10,709 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,711 INFO sqlalchemy.engine.base.Engine ('VALUE PHARMA ASPIRIN PAIN RELIEVER', 1, 0)
2018-11-14 11:30:10,714 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,716 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN ENTERIC SAFETY COATED', 1, 0)
2018-11-14 11:30:10,719 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,722 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE ASPIRIN', 1, 0)
2018-11-14 11:30:10,726 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,727 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW STRENGTH ADULT', 1, 0)
2018-11-14 11:30:10,730 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,731 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH PAIN RELIEF', 1, 0)
2018-11-14 11:30:10,733 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,734 INFO sqlalchemy.engine.base.Engine ('BUFFERIN LOW DOSE BUFFERED ASPIRIN', 1, 0)
2018-11-14 11:30:10,736 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,739 INFO sqlalchemy.engine.base.Engine ('ASPIRIN SAFETY COATED', 1, 0)
2018-11-14 11:30:10,742 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,746 INFO sqlalchemy.engine.base.Engine ('ADULTS LOW STRENGTH ASPIRIN', 1, 0)
2018-11-14 11:30:10,748 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,750 INFO sqlalchemy.engine.base.Engine ('ST. JOSEPH LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:30:10,754 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,755 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81 MG ENTERIC COATED', 1, 0)
2018-11-14 11:30:10,759 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,760 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325 MG', 1, 0)
2018-11-14 11:30:10,763 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,765 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC COATED, REGULAR STRENGTH', 1, 0)
2018-11-14 11:30:10,768 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,769 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN ASPIRIN', 1, 0)
2018-11-14 11:30:10,775 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,777 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE CHEWABLE', 1, 0)
2018-11-14 11:30:10,780 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,780 INFO sqlalchemy.engine.base.Engine ('DIRECT SAFETY ASPIRIN', 1, 0)
2018-11-14 11:30:10,783 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,784 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ADULT LOW STRENGTH', 1, 0)
2018-11-14 11:30:10,787 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,788 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ASPIRIN ADULT LOW DOSE', 1, 0)

2018-11-14 11:30:10,792 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,796 INFO sqlalchemy.engine.base.Engine ('CAREALL ASPIRIN', 1, 0)
2018-11-14 11:30:10,799 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,800 INFO sqlalchemy.engine.base.Engine ('ENTERIC COATED ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:30:10,808 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,811 INFO sqlalchemy.engine.base.Engine ('BAYER GENUINE ASPIRIN', 1, 0)
2018-11-14 11:30:10,813 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,816 INFO sqlalchemy.engine.base.Engine ('BUFFERIN ARTHRITIS', 1, 0)
2018-11-14 11:30:10,819 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,821 INFO sqlalchemy.engine.base.Engine ('TOPCARE ASPIRIN', 1, 0)
2018-11-14 11:30:10,824 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,826 INFO sqlalchemy.engine.base.Engine ('ASPIRIN DELAYED RELEASE', 1, 0)
2018-11-14 11:30:10,830 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,831 INFO sqlalchemy.engine.base.Engine ('ASPIRIN SAFETY COATED ENTERIC, REGULAR STRENGTH', 1, 0)
2018-11-14 11:30:10,833 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,835 INFO sqlalchemy.engine.base.Engine ('ADULT LOW DOSE ASPIRIN ENTERIC SAFETY COATED', 1, 0)
2018-11-14 11:30:10,839 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,840 INFO sqlalchemy.engine.base.Engine ('BAYER CHEWABLE - ASPIRIN REGIMEN LOW DOSE ASPIRIN CHERRY FLAVORED', 1, 0)
2018-11-14 11:30:10,843 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,844 INFO sqlalchemy.engine.base.Engine ('CAREONE ASPIRIN', 1, 0)
2018-11-14 11:30:10,847 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,850 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE ASPIRIN', 1, 0)
2018-11-14 11:30:10,852 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,854 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ASPIRIN', 1, 0)
2018-11-14 11:30:10,856 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,860 INFO sqlalchemy.engine.base.Engine ('ASPIRIN EXTRA STRENGTH', 1, 0)
2018-11-14 11:30:10,864 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,866 INFO sqlalchemy.engine.base.Engine ('EQUATE ASPIRIN CHEWABLE', 1, 0)
2018-11-14 11:30:10,868 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,869 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN 81 MG SAFETY COATED', 1, 0)
2018-11-14 11:30:10,872 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,874 INFO sqlalchemy.engine.base.Engine ('UNCOATED ASPIRIN', 1, 0)
2018-11-14 11:30:10,878 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,879 INFO sqlalchemy.engine.base.Engine ('DG HEALTH ASPIRIN', 1, 0)
2018-11-14 11:30:10,880 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,882 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE SUGAR FREE', 1, 0)
2018-11-14 11:30:10,883 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,884 INFO sqlalchemy.engine.base.Engine ('SUNMARK ASPIRIN ADULT LOW STRENGTH', 1, 0)
2018-11-14 11:30:10,887 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,889 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81MG ADULT LOW DOSE', 1, 0)
2018-11-14 11:30:10,893 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,895 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC COATED', 1, 0)
2018-11-14 11:30:10,897 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,898 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:30:10,900 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,902 INFO sqlalchemy.engine.base.Engine ('REXALL ASPIRIN', 1, 0)
2018-11-14 11:30:10,904 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,907 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:30:10,911 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,913 INFO sqlalchemy.engine.base.Engine ('ST. JOSEPH CHEWABLE LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:30:10,918 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,919 INFO sqlalchemy.engine.base.Engine ('COATED ASPIRIN', 1, 0)
2018-11-14 11:30:10,921 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,922 INFO sqlalchemy.engine.base.Engine ('SAFETY COATED LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:30:10,925 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,927 INFO sqlalchemy.engine.base.Engine ('ENTERIC ASPIRIN', 1, 0)
2018-11-14 11:30:10,931 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,933 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325MG', 1, 0)
2018-11-14 11:30:10,935 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,936 INFO sqlalchemy.engine.base.Engine ('CRITICAL CARE ASPIRIN TO GO', 1, 0)
2018-11-14 11:30:10,938 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,941 INFO sqlalchemy.engine.base.Engine ('HANDY SOLUTIONS GENUINE ASPIRIN BAYER', 1, 0)

2018-11-14 11:30:10,944 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,946 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE ENTERIC COATED', 1, 0)
2018-11-14 11:30:10,949 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,951 INFO sqlalchemy.engine.base.Engine ('UP AND UP ASPIRIN', 1, 0)
2018-11-14 11:30:10,954 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,955 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ADULT LOW DOSE', 1, 0)
2018-11-14 11:30:10,958 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,959 INFO sqlalchemy.engine.base.Engine ('BUFFERED ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:30:10,962 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,963 INFO sqlalchemy.engine.base.Engine ('LOW DOSE MINIPRIN ENTERIC SAFETY COATED', 1, 0)
2018-11-14 11:30:10,966 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,967 INFO sqlalchemy.engine.base.Engine ('BAYER LOW DOSE', 1, 0)
2018-11-14 11:30:10,972 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,973 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ASPIRIN', 1, 0)
2018-11-14 11:30:10,975 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,976 INFO sqlalchemy.engine.base.Engine ('LOW STRENGTH CHEWABLE ASPIRIN', 1, 0)
2018-11-14 11:30:10,981 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,982 INFO sqlalchemy.engine.base.Engine ('VALUMEDS ASPIRIN', 1, 0)
2018-11-14 11:30:10,984 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,985 INFO sqlalchemy.engine.base.Engine ('MINIPRIN', 1, 0)
2018-11-14 11:30:10,987 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,989 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 5 GRAIN', 1, 0)
2018-11-14 11:30:10,995 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:10,997 INFO sqlalchemy.engine.base.Engine ('GENUINE ASPIRIN', 1, 0)
2018-11-14 11:30:10,999 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,000 INFO sqlalchemy.engine.base.Engine ('ASPIRIN CHEWABLE', 1, 0)
2018-11-14 11:30:11,002 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,003 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ASPIRIN EC', 1, 0)
2018-11-14 11:30:11,005 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,006 INFO sqlalchemy.engine.base.Engine ('ASPIRIN NSAID', 1, 0)
2018-11-14 11:30:11,009 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,009 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS ASPIRIN', 1, 0)
2018-11-14 11:30:11,012 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,014 INFO sqlalchemy.engine.base.Engine ('SHOPRITE ASPIRIN', 1, 0)
2018-11-14 11:30:11,017 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,019 INFO sqlalchemy.engine.base.Engine ('ASPIRIN', 1, 0)
2018-11-14 11:30:11,022 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,024 INFO sqlalchemy.engine.base.Engine ('UP AND UP CHEWABLE ASPIRIN', 1, 0)
2018-11-14 11:30:11,027 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,029 INFO sqlalchemy.engine.base.Engine ('ADULT LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:30:11,031 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,032 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ADULT, REGIMEN', 1, 0)
2018-11-14 11:30:11,035 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,038 INFO sqlalchemy.engine.base.Engine ('LEADER ASPIRIN', 1, 0)
2018-11-14 11:30:11,045 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,047 INFO sqlalchemy.engine.base.Engine ('SMART SENSE CHEWABLE ASPIRIN', 1, 0)
2018-11-14 11:30:11,051 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,054 INFO sqlalchemy.engine.base.Engine ('ECOTRIN', 1, 0)
2018-11-14 11:30:11,058 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,059 INFO sqlalchemy.engine.base.Engine ('TRI-BUFFERED ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:30:11,064 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,065 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE ASPIRIN 81', 1, 0)
2018-11-14 11:30:11,068 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,070 INFO sqlalchemy.engine.base.Engine ('ENTERIC ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:30:11,072 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,074 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN CHEWABLE', 1, 0)
2018-11-14 11:30:11,077 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,078 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC SAFETY-COATED', 1, 0)
2018-11-14 11:30:11,081 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,082 INFO sqlalchemy.engine.base.Engine ('BUFFERIN', 1, 0)
2018-11-14 11:30:11,084 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,084 INFO sqlalchemy.engine.base.Engine ('BASIC CARE ASPIRIN', 1, 0)
2018-11-14 11:30:11,088 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:11,089 INFO sqlalchemy.engine.base.Engine ('RUGBY ASPIRIN', 1, 0)
2018-11-14 11:30:11,096 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,097 INFO sqlalchemy.engine.base.Engine ('COATED ASPIRIN LOW-DOSE', 1, 0)
2018-11-14 11:30:11,100 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,101 INFO sqlalchemy.engine.base.Engine ('RAPID COMFORT ASPIRIN', 1, 0)
2018-11-14 11:30:11,103 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,104 INFO sqlalchemy.engine.base.Engine ('TRI-BUFFERED ASPIRIN', 1, 0)
2018-11-14 11:30:11,106 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,107 INFO sqlalchemy.engine.base.Engine ('ASPIRIN CHEWABLE, LOW DOSE', 1, 0)
2018-11-14 11:30:11,112 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,114 INFO sqlalchemy.engine.base.Engine ('ZEE ASPIRIN', 1, 0)
2018-11-14 11:30:11,117 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,120 INFO sqlalchemy.engine.base.Engine ('PAIN RELIEF ASPIRIN', 1, 0)
2018-11-14 11:30:11,123 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,125 INFO sqlalchemy.engine.base.Engine ('ASPI-COR', 1, 0)
2018-11-14 11:30:11,127 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,128 INFO sqlalchemy.engine.base.Engine ('ASPIRIN ENTERIC SAFETY COATED', 1, 0)
2018-11-14 11:30:11,132 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,134 INFO sqlalchemy.engine.base.Engine ('7 SELECT ASPIRIN', 1, 0)
2018-11-14 11:30:11,137 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,137 INFO sqlalchemy.engine.base.Engine ('PLUS PHARMA NSAID ASPIRIN', 1, 0)
2018-11-14 11:30:11,140 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,144 INFO sqlalchemy.engine.base.Engine ('SUNMARK ASPIRIN', 1, 0)
2018-11-14 11:30:11,148 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,149 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS ASPIRIN', 1, 0)
2018-11-14 11:30:11,152 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,153 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ASPIRIN LOW DOSE', 1, 0)
2018-11-14 11:30:11,156 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,158 INFO sqlalchemy.engine.base.Engine ('CHEWABLE LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:30:11,160 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,161 INFO sqlalchemy.engine.base.Engine ('VALUE PHARMAPAIN RELIEVER EXTRA STRENGTH', 1, 0)
2018-11-14 11:30:11,163 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,164 INFO sqlalchemy.engine.base.Engine ('BAYER ASPIRIN REGIMEN ENTERIC COATED', 1, 0)
2018-11-14 11:30:11,167 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,171 INFO sqlalchemy.engine.base.Engine ('HEALTH SENSE ADULT CHEWABLE LOW STRENGTH ASPIRIN', 1, 0)
2018-11-14 11:30:11,175 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,176 INFO sqlalchemy.engine.base.Engine ('MICRO-COATED ASPIRIN', 1, 0)
2018-11-14 11:30:11,179 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,180 INFO sqlalchemy.engine.base.Engine ('SMART SENSE ASPIRIN', 1, 0)
2018-11-14 11:30:11,183 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,184 INFO sqlalchemy.engine.base.Engine ('BAYER', 1, 0)
2018-11-14 11:30:11,187 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,189 INFO sqlalchemy.engine.base.Engine ('LOW DOSE ASPIRIN LOW DOSE', 1, 0)
2018-11-14 11:30:11,193 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,194 INFO sqlalchemy.engine.base.Engine ('HEALTH MART REGULAR STRENGTH ENTERIC COATED ASPIRIN', 1, 0)
2018-11-14 11:30:11,197 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,199 INFO sqlalchemy.engine.base.Engine ('BUFFERED ASPIRIN', 1, 0)
2018-11-14 11:30:11,204 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,205 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW STRENGTH, ENTERIC', 1, 0)
2018-11-14 11:30:11,208 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,209 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 325', 1, 0)
2018-11-14 11:30:11,212 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,214 INFO sqlalchemy.engine.base.Engine ('DR PAUSINS LOW DOSE CHEWABLE ASPIRIN ORANGE FLAVOR', 1, 0)
2018-11-14 11:30:11,216 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,216 INFO sqlalchemy.engine.base.Engine ('SOLVES - ASPIRIN CHERRY', 1, 0)
2018-11-14 11:30:11,219 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,221 INFO sqlalchemy.engine.base.Engine ('SUNMARK ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:30:11,224 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,225 INFO sqlalchemy.engine.base.Engine ('CHEWABLE ADULT LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:30:11,227 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,229 INFO sqlalchemy.engine.base.Engine ('ADVANCED ASPIRIN', 1, 0)
2018-11-14 11:30:11,233 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:11,234 INFO sqlalchemy.engine.base.Engine ('LEADER LOW DOSE ASPIRIN', 1, 0)
2018-11-14 11:30:11,238 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,239 INFO sqlalchemy.engine.base.Engine ('BAYER WOMENS', 1, 0)
2018-11-14 11:30:11,241 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,243 INFO sqlalchemy.engine.base.Engine ('ECOTRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:30:11,246 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,248 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ENTERIC COATED ASPIRIN', 1, 0)
2018-11-14 11:30:11,250 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,251 INFO sqlalchemy.engine.base.Engine ('ASPIRIN REGULAR STRENGTH', 1, 0)
2018-11-14 11:30:11,253 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,255 INFO sqlalchemy.engine.base.Engine ('ASPIRIN LOW DOSE', 1, 0)
2018-11-14 11:30:11,258 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,259 INFO sqlalchemy.engine.base.Engine ('SAFETY COATED ASPIRIN', 1, 0)
2018-11-14 11:30:11,261 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,262 INFO sqlalchemy.engine.base.Engine ('ASPIRIN 81 MG', 1, 0)
2018-11-14 11:30:11,265 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,268 INFO sqlalchemy.engine.base.Engine ('ASPIRIN CHEWABLE LOW DOSE', 1, 0)
2018-11-14 11:30:11,271 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:11,272 INFO sqlalchemy.engine.base.Engine (532,)
2018-11-14 11:30:11,292 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,293 INFO sqlalchemy.engine.base.Engine ((52, 532), (53, 532), (54, 532), (55, 532), (56, 532), (57, 532), (58, 532), (59, 532)  ... displaying 10 of 146 total bound parameter sets ...  (196, 532), (197, 532))
2018-11-14 11:30:11,299 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,300 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:11,302 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:11,303 INFO sqlalchemy.engine.base.Engine (532,)
2018-11-14 11:30:11,310 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,312 INFO sqlalchemy.engine.base.Engine (111, 532)
2018-11-14 11:30:11,314 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:11,321 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:11,324 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:11,328 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:11,332 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:11,334 INFO sqlalchemy.engine.base.Engine (2, 51, 1)
2018-11-14 11:30:11,345 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,347 INFO sqlalchemy.engine.base.Engine ('N', 1, 0)
2018-11-14 11:30:11,353 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,354 INFO sqlalchemy.engine.base.Engine ('o', 1, 0)
2018-11-14 11:30:11,357 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,359 INFO sqlalchemy.engine.base.Engine ('n', 1, 0)
2018-11-14 11:30:11,361 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,363 INFO sqlalchemy.engine.base.Engine ('e', 1, 0)
2018-11-14 11:30:11,365 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:11,366 INFO sqlalchemy.engine.base.Engine (533,)
2018-11-14 11:30:11,370 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,371 INFO sqlalchemy.engine.base.Engine ((9, 533), (10, 533), (11, 533), (12, 533))
2018-11-14 11:30:11,374 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,376 INFO sqlalchemy.engine.base.Engine ('Alopecia', 1, 0)
2018-11-14 11:30:11,379 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,381 INFO sqlalchemy.engine.base.Engine ('Hernia obstructive', 1, 0)
2018-11-14 11:30:11,384 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,385 INFO sqlalchemy.engine.base.Engine ('Intestinal obstruction', 1, 0)
2018-11-14 11:30:11,389 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,391 INFO sqlalchemy.engine.base.Engine ('Abdominal pain upper', 1, 0)
2018-11-14 11:30:11,395 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:11,397 INFO sqlalchemy.engine.base.Engine (533,)
2018-11-14 11:30:11,400 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:11,401 INFO sqlalchemy.engine.base.Engine ('Hernia obstructive',)
2018-11-14 11:30:11,404 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,406 INFO sqlalchemy.engine.base.Engine ((400, 533), (116, 533), (60, 533), (776, 533))
2018-11-14 11:30:11,411 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:11,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:11,420 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:11,421 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:11,425 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:11,427 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:11,431 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:11,433 INFO sqlalchemy.engine.base.Engine ('AFINITOR', 1, 0)
2018-11-14 11:30:11,436 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,437 INFO sqlalchemy.engine.base.Engine ('AFINITOR DISPERZ', 1, 0)
2018-11-14 11:30:11,443 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:11,446 INFO sqlalchemy.engine.base.Engine (534,)
2018-11-14 11:30:11,452 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,454 INFO sqlalchemy.engine.base.Engine ((320, 534), (321, 534))
2018-11-14 11:30:11,456 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,458 INFO sqlalchemy.engine.base.Engine ('Tearfulness', 1, 0)
2018-11-14 11:30:11,462 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,463 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:30:11,465 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:11,467 INFO sqlalchemy.engine.base.Engine (534,)
2018-11-14 11:30:11,470 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:11,472 INFO sqlalchemy.engine.base.Engine ('Tearfulness',)
2018-11-14 11:30:11,477 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,484 INFO sqlalchemy.engine.base.Engine ((777, 534), (24, 534))
2018-11-14 11:30:11,487 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:11,495 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:11,498 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:11,500 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:11,503 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:11,505 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:11,509 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,510 INFO sqlalchemy.engine.base.Engine ('COSENTYX', 1, 0)
2018-11-14 11:30:11,513 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:11,515 INFO sqlalchemy.engine.base.Engine (535,)
2018-11-14 11:30:11,520 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,521 INFO sqlalchemy.engine.base.Engine (219, 535)
2018-11-14 11:30:11,523 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,525 INFO sqlalchemy.engine.base.Engine ('Dry skin', 1, 0)
2018-11-14 11:30:11,528 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:11,529 INFO sqlalchemy.engine.base.Engine (535,)
2018-11-14 11:30:11,534 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,536 INFO sqlalchemy.engine.base.Engine (150, 535)
2018-11-14 11:30:11,538 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:11,546 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:11,549 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:11,550 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:11,552 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:11,557 INFO sqlalchemy.engine.base.Engine (1, 86, 1)
2018-11-14 11:30:11,561 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,562 INFO sqlalchemy.engine.base.Engine ('XTANDI', 1, 0)
2018-11-14 11:30:11,565 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:11,566 INFO sqlalchemy.engine.base.Engine (536,)
2018-11-14 11:30:11,573 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,574 INFO sqlalchemy.engine.base.Engine (2062, 536)
2018-11-14 11:30:11,577 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,579 INFO sqlalchemy.engine.base.Engine ('Haemorrhage intracranial', 1, 0)
2018-11-14 11:30:11,581 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:11,582 INFO sqlalchemy.engine.base.Engine (536,)
2018-11-14 11:30:11,585 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:11,586 INFO sqlalchemy.engine.base.Engine ('Haemorrhage intracranial',)
2018-11-14 11:30:11,588 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,589 INFO sqlalchemy.engine.base.Engine (778, 536)
2018-11-14 11:30:11,591 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:11,598 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:11,600 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:11,602 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:11,606 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:11,607 INFO sqlalchemy.engine.base.Engine (1, 72, 1)
2018-11-14 11:30:11,611 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,613 INFO sqlalchemy.engine.base.Engine ('XTANDI', 1, 0)
2018-11-14 11:30:11,616 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:11,617 INFO sqlalchemy.engine.base.Engine (537,)
2018-11-14 11:30:11,623 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,624 INFO sqlalchemy.engine.base.Engine (2062, 537)
2018-11-14 11:30:11,627 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,628 INFO sqlalchemy.engine.base.Engine ('Cardiac arrest', 1, 0)
2018-11-14 11:30:11,630 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:11,632 INFO sqlalchemy.engine.base.Engine ('Myocardial infarction', 1, 0)
2018-11-14 11:30:11,635 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:11,636 INFO sqlalchemy.engine.base.Engine (537,)
2018-11-14 11:30:11,640 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,643 INFO sqlalchemy.engine.base.Engine ((447, 537), (291, 537))
2018-11-14 11:30:11,648 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:11,655 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:11,658 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:11,665 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:11,668 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:11,670 INFO sqlalchemy.engine.base.Engine (1, 81, 1)
2018-11-14 11:30:11,673 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,675 INFO sqlalchemy.engine.base.Engine ('XTANDI', 1, 0)
2018-11-14 11:30:11,678 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:11,680 INFO sqlalchemy.engine.base.Engine (538,)
2018-11-14 11:30:11,688 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,690 INFO sqlalchemy.engine.base.Engine (2062, 538)
2018-11-14 11:30:11,693 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,694 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:11,696 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:11,698 INFO sqlalchemy.engine.base.Engine (538,)
2018-11-14 11:30:11,701 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,702 INFO sqlalchemy.engine.base.Engine (111, 538)
2018-11-14 11:30:11,705 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:11,711 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:11,714 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:11,715 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:11,718 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:11,722 INFO sqlalchemy.engine.base.Engine (1, 78, 1)
2018-11-14 11:30:11,728 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,731 INFO sqlalchemy.engine.base.Engine ('XTANDI', 1, 0)
2018-11-14 11:30:11,734 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:11,736 INFO sqlalchemy.engine.base.Engine (539,)
2018-11-14 11:30:11,740 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,741 INFO sqlalchemy.engine.base.Engine (2062, 539)
2018-11-14 11:30:11,744 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,746 INFO sqlalchemy.engine.base.Engine ('Constipation', 1, 0)
2018-11-14 11:30:11,750 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,751 INFO sqlalchemy.engine.base.Engine ('Malignant neoplasm progression', 1, 0)
2018-11-14 11:30:11,756 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,757 INFO sqlalchemy.engine.base.Engine ('Osteonecrosis of jaw', 1, 0)
2018-11-14 11:30:11,761 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:11,763 INFO sqlalchemy.engine.base.Engine (539,)
2018-11-14 11:30:11,767 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,770 INFO sqlalchemy.engine.base.Engine ((50, 539), (123, 539), (459, 539))
2018-11-14 11:30:11,772 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:11,781 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:11,783 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:11,787 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:11,790 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:11,793 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:11,797 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,800 INFO sqlalchemy.engine.base.Engine ('ENTYVIO', 1, 0)
2018-11-14 11:30:11,803 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:11,804 INFO sqlalchemy.engine.base.Engine (540,)
2018-11-14 11:30:11,810 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,813 INFO sqlalchemy.engine.base.Engine (1499, 540)
2018-11-14 11:30:11,816 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:11,817 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:30:11,821 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:11,822 INFO sqlalchemy.engine.base.Engine (540,)
2018-11-14 11:30:11,827 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:11,831 INFO sqlalchemy.engine.base.Engine (15, 540)
2018-11-14 11:30:11,833 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:11,838 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:11,840 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:11,842 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:15,347 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,348 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:15,350 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:30:15,352 INFO sqlalchemy.engine.base.Engine (582,)
2018-11-14 11:30:15,356 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,357 INFO sqlalchemy.engine.base.Engine (17, 582)
2018-11-14 11:30:15,363 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,364 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:30:15,367 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,370 INFO sqlalchemy.engine.base.Engine ('Confusional state', 1, 0)
2018-11-14 11:30:15,373 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:15,374 INFO sqlalchemy.engine.base.Engine (582,)
2018-11-14 11:30:15,378 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,379 INFO sqlalchemy.engine.base.Engine ((118, 582), (36, 582))
2018-11-14 11:30:15,380 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:15,388 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:15,391 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:15,392 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:15,396 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:15,398 INFO sqlalchemy.engine.base.Engine (2, 72, 1)
2018-11-14 11:30:15,401 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,404 INFO sqlalchemy.engine.base.Engine ('REMERONSOLTAB', 1, 0)
2018-11-14 11:30:15,407 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,409 INFO sqlalchemy.engine.base.Engine ('REMERON', 1, 0)
2018-11-14 11:30:15,413 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,414 INFO sqlalchemy.engine.base.Engine ('MIRTAZAPINE', 1, 0)
2018-11-14 11:30:15,417 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:15,419 INFO sqlalchemy.engine.base.Engine (583,)
2018-11-14 11:30:15,423 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,424 INFO sqlalchemy.engine.base.Engine ('REMERONSOLTAB',)
2018-11-14 11:30:15,427 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,428 INFO sqlalchemy.engine.base.Engine ('REMERON',)
2018-11-14 11:30:15,430 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,431 INFO sqlalchemy.engine.base.Engine ('MIRTAZAPINE',)
2018-11-14 11:30:15,434 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,446 INFO sqlalchemy.engine.base.Engine ((2115, 583), (2116, 583), (2117, 583))
2018-11-14 11:30:15,449 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,451 INFO sqlalchemy.engine.base.Engine ('Electrocardiogram QT prolonged', 1, 0)
2018-11-14 11:30:15,454 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,460 INFO sqlalchemy.engine.base.Engine ('Anxiety', 1, 0)
2018-11-14 11:30:15,463 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,464 INFO sqlalchemy.engine.base.Engine ('Bundle branch block right', 1, 0)
2018-11-14 11:30:15,466 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,468 INFO sqlalchemy.engine.base.Engine ('Tachycardia', 1, 0)
2018-11-14 11:30:15,473 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,475 INFO sqlalchemy.engine.base.Engine ('Electrocardiogram ST segment abnormal', 1, 0)
2018-11-14 11:30:15,477 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,478 INFO sqlalchemy.engine.base.Engine ('Treatment noncompliance', 1, 0)
2018-11-14 11:30:15,481 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,484 INFO sqlalchemy.engine.base.Engine ('Blood prolactin increased', 1, 0)
2018-11-14 11:30:15,487 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,490 INFO sqlalchemy.engine.base.Engine ('Mental impairment', 1, 0)
2018-11-14 11:30:15,495 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,496 INFO sqlalchemy.engine.base.Engine ('Weight increased', 1, 0)
2018-11-14 11:30:15,500 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,504 INFO sqlalchemy.engine.base.Engine ('Palpitations', 1, 0)
2018-11-14 11:30:15,507 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,509 INFO sqlalchemy.engine.base.Engine ('Bifascicular block', 1, 0)
2018-11-14 11:30:15,511 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:15,512 INFO sqlalchemy.engine.base.Engine (583,)
2018-11-14 11:30:15,522 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:15,523 INFO sqlalchemy.engine.base.Engine ('Electrocardiogram ST segment abnormal',)
2018-11-14 11:30:15,525 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:15,526 INFO sqlalchemy.engine.base.Engine ('Bifascicular block',)
2018-11-14 11:30:15,527 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:15,528 INFO sqlalchemy.engine.base.Engine ('Bundle branch block right',)
2018-11-14 11:30:15,529 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:15,530 INFO sqlalchemy.engine.base.Engine ('Blood prolactin increased',)
2018-11-14 11:30:15,533 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:15,535 INFO sqlalchemy.engine.base.Engine ('Mental impairment',)
2018-11-14 11:30:15,539 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,541 INFO sqlalchemy.engine.base.Engine ((817, 583), (815, 583), (813, 583), (814, 583), (816, 583))

2018-11-14 11:30:15,544 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,545 INFO sqlalchemy.engine.base.Engine ((175, 583), (253, 583), (326, 583), (81, 583), (8, 583), (463, 583))
2018-11-14 11:30:15,548 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:15,556 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:15,561 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:15,563 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:15,567 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:15,568 INFO sqlalchemy.engine.base.Engine (2, 36, 1)
2018-11-14 11:30:15,571 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,575 INFO sqlalchemy.engine.base.Engine ('LITHIUM CARBONATE', 1, 0)
2018-11-14 11:30:15,579 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,581 INFO sqlalchemy.engine.base.Engine ('LITHIUM CARBONATE LITHIUM CARBONATE', 1, 0)
2018-11-14 11:30:15,585 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,588 INFO sqlalchemy.engine.base.Engine ('LITHOBID', 1, 0)
2018-11-14 11:30:15,593 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,594 INFO sqlalchemy.engine.base.Engine ('RHEUMATSM', 1, 0)
2018-11-14 11:30:15,597 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,599 INFO sqlalchemy.engine.base.Engine ('LITHIUM CARBONATE ER', 1, 0)
2018-11-14 11:30:15,610 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,611 INFO sqlalchemy.engine.base.Engine ('LITHIUM CARBONICUM', 1, 0)
2018-11-14 11:30:15,614 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:15,615 INFO sqlalchemy.engine.base.Engine (584,)
2018-11-14 11:30:15,619 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,626 INFO sqlalchemy.engine.base.Engine ('LITHIUM CARBONATE',)
2018-11-14 11:30:15,628 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,629 INFO sqlalchemy.engine.base.Engine ('LITHIUM CARBONATE LITHIUM CARBONATE',)
2018-11-14 11:30:15,632 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,633 INFO sqlalchemy.engine.base.Engine ('LITHOBID',)
2018-11-14 11:30:15,635 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,637 INFO sqlalchemy.engine.base.Engine ('RHEUMATSM',)
2018-11-14 11:30:15,638 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,639 INFO sqlalchemy.engine.base.Engine ('LITHIUM CARBONATE ER',)
2018-11-14 11:30:15,641 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,642 INFO sqlalchemy.engine.base.Engine ('LITHIUM CARBONICUM',)
2018-11-14 11:30:15,643 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,644 INFO sqlalchemy.engine.base.Engine ((2121, 584), (2118, 584), (2119, 584), (2120, 584), (2123, 584), (2122, 584))
2018-11-14 11:30:15,647 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,648 INFO sqlalchemy.engine.base.Engine ('Tremor', 1, 0)
2018-11-14 11:30:15,653 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,655 INFO sqlalchemy.engine.base.Engine ('Syncope', 1, 0)
2018-11-14 11:30:15,660 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,661 INFO sqlalchemy.engine.base.Engine ('Blood pressure decreased', 1, 0)
2018-11-14 11:30:15,663 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,664 INFO sqlalchemy.engine.base.Engine ('Head injury', 1, 0)
2018-11-14 11:30:15,666 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:15,668 INFO sqlalchemy.engine.base.Engine (584,)
2018-11-14 11:30:15,677 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:15,681 INFO sqlalchemy.engine.base.Engine ('Blood pressure decreased',)
2018-11-14 11:30:15,684 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,686 INFO sqlalchemy.engine.base.Engine ((153, 584), (122, 584), (818, 584), (457, 584))
2018-11-14 11:30:15,690 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:15,696 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:15,699 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:15,700 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:15,706 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:15,707 INFO sqlalchemy.engine.base.Engine (2, 39, 1)
2018-11-14 11:30:15,710 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,711 INFO sqlalchemy.engine.base.Engine ('QUDEXY XR', 1, 0)
2018-11-14 11:30:15,714 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,715 INFO sqlalchemy.engine.base.Engine ('TROKENDI XR', 1, 0)
2018-11-14 11:30:15,718 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,721 INFO sqlalchemy.engine.base.Engine ('TOPIRAMATE', 1, 0)
2018-11-14 11:30:15,724 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,726 INFO sqlalchemy.engine.base.Engine ('TOPAMAX', 1, 0)
2018-11-14 11:30:15,730 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:15,732 INFO sqlalchemy.engine.base.Engine (585,)
2018-11-14 11:30:15,735 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,736 INFO sqlalchemy.engine.base.Engine ('QUDEXY XR',)
2018-11-14 11:30:15,737 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,739 INFO sqlalchemy.engine.base.Engine ('TROKENDI XR',)
2018-11-14 11:30:15,740 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,741 INFO sqlalchemy.engine.base.Engine ('TOPIRAMATE',)

2018-11-14 11:30:15,743 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,744 INFO sqlalchemy.engine.base.Engine ('TOPAMAX',)
2018-11-14 11:30:15,748 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,749 INFO sqlalchemy.engine.base.Engine ((2124, 585), (2125, 585), (2126, 585), (2127, 585))
2018-11-14 11:30:15,754 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,756 INFO sqlalchemy.engine.base.Engine ('Sialoadenitis', 1, 0)
2018-11-14 11:30:15,759 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,760 INFO sqlalchemy.engine.base.Engine ('Salivary gland calculus', 1, 0)
2018-11-14 11:30:15,762 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:15,764 INFO sqlalchemy.engine.base.Engine (585,)
2018-11-14 11:30:15,767 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:15,769 INFO sqlalchemy.engine.base.Engine ('Sialoadenitis',)
2018-11-14 11:30:15,771 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:15,772 INFO sqlalchemy.engine.base.Engine ('Salivary gland calculus',)
2018-11-14 11:30:15,773 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,775 INFO sqlalchemy.engine.base.Engine ((819, 585), (820, 585))
2018-11-14 11:30:15,779 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:15,792 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:15,795 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:15,798 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:15,800 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:15,802 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:15,805 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,807 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM 100 MG', 1, 0)
2018-11-14 11:30:15,810 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,812 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM TABLETS, 100 MG', 1, 0)
2018-11-14 11:30:15,815 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,820 INFO sqlalchemy.engine.base.Engine ('COZAAR', 1, 0)
2018-11-14 11:30:15,825 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,826 INFO sqlalchemy.engine.base.Engine ('LOSORTAN POTASSIUM', 1, 0)
2018-11-14 11:30:15,829 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,831 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM 25 MG', 1, 0)
2018-11-14 11:30:15,834 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,835 INFO sqlalchemy.engine.base.Engine ('LOSARTAN', 1, 0)
2018-11-14 11:30:15,839 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,840 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM 50 MG', 1, 0)
2018-11-14 11:30:15,842 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,843 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM TABLETS, 25 MG', 1, 0)
2018-11-14 11:30:15,845 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,846 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM', 1, 0)
2018-11-14 11:30:15,850 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,854 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM TABLETS, 50 MG', 1, 0)
2018-11-14 11:30:15,858 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:15,859 INFO sqlalchemy.engine.base.Engine (586,)
2018-11-14 11:30:15,864 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,865 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM 100 MG',)
2018-11-14 11:30:15,866 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,867 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM TABLETS, 100 MG',)
2018-11-14 11:30:15,868 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,869 INFO sqlalchemy.engine.base.Engine ('COZAAR',)
2018-11-14 11:30:15,873 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,874 INFO sqlalchemy.engine.base.Engine ('LOSORTAN POTASSIUM',)
2018-11-14 11:30:15,875 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,876 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM 25 MG',)
2018-11-14 11:30:15,881 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,882 INFO sqlalchemy.engine.base.Engine ('LOSARTAN',)
2018-11-14 11:30:15,884 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,886 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM 50 MG',)
2018-11-14 11:30:15,890 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,892 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM TABLETS, 25 MG',)
2018-11-14 11:30:15,894 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,896 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM',)
2018-11-14 11:30:15,906 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:15,907 INFO sqlalchemy.engine.base.Engine ('LOSARTAN POTASSIUM TABLETS, 50 MG',)
2018-11-14 11:30:15,910 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,912 INFO sqlalchemy.engine.base.Engine ((2137, 586), (2134, 586), (2135, 586), (2128, 586), (2130, 586), (2136, 586), (2129, 586), (2133, 586), (2132, 586), (2131, 586))
2018-11-14 11:30:15,914 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,915 INFO sqlalchemy.engine.base.Engine ('Abdominal discomfort', 1, 0)
2018-11-14 11:30:15,918 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:15,919 INFO sqlalchemy.engine.base.Engine (586,)
2018-11-14 11:30:15,925 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)

2018-11-14 11:30:15,927 INFO sqlalchemy.engine.base.Engine (125, 586)
2018-11-14 11:30:15,930 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:15,935 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:15,938 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:15,939 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:15,942 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:15,943 INFO sqlalchemy.engine.base.Engine (1, 23, 1)
2018-11-14 11:30:15,945 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,947 INFO sqlalchemy.engine.base.Engine ('CARBATROL', 1, 0)
2018-11-14 11:30:15,956 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,958 INFO sqlalchemy.engine.base.Engine ('EQUETRO', 1, 0)
2018-11-14 11:30:15,962 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,964 INFO sqlalchemy.engine.base.Engine ('CARBAMAZEPINE ER', 1, 0)
2018-11-14 11:30:15,966 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,967 INFO sqlalchemy.engine.base.Engine ('EPITOL', 1, 0)
2018-11-14 11:30:15,969 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,972 INFO sqlalchemy.engine.base.Engine ('CARBAMAZEPINE', 1, 0)
2018-11-14 11:30:15,974 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,977 INFO sqlalchemy.engine.base.Engine ('CARNEXIV', 1, 0)
2018-11-14 11:30:15,982 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:15,985 INFO sqlalchemy.engine.base.Engine (587,)
2018-11-14 11:30:15,992 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:15,994 INFO sqlalchemy.engine.base.Engine ((2000, 587), (2001, 587), (2002, 587), (2003, 587), (2004, 587), (2005, 587))
2018-11-14 11:30:15,996 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:15,998 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:30:16,000 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,002 INFO sqlalchemy.engine.base.Engine ('Overdose', 1, 0)
2018-11-14 11:30:16,005 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,007 INFO sqlalchemy.engine.base.Engine ('Brain injury', 1, 0)
2018-11-14 11:30:16,009 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,011 INFO sqlalchemy.engine.base.Engine ('Depressed level of consciousness', 1, 0)
2018-11-14 11:30:16,018 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,019 INFO sqlalchemy.engine.base.Engine ('Hypotension', 1, 0)
2018-11-14 11:30:16,025 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,026 INFO sqlalchemy.engine.base.Engine ('Agitation', 1, 0)
2018-11-14 11:30:16,029 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,030 INFO sqlalchemy.engine.base.Engine ('Bezoar', 1, 0)
2018-11-14 11:30:16,032 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,033 INFO sqlalchemy.engine.base.Engine (587,)
2018-11-14 11:30:16,038 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:16,039 INFO sqlalchemy.engine.base.Engine ('Bezoar',)
2018-11-14 11:30:16,041 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:16,042 INFO sqlalchemy.engine.base.Engine ('Brain injury',)
2018-11-14 11:30:16,044 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,045 INFO sqlalchemy.engine.base.Engine ((821, 587), (822, 587))
2018-11-14 11:30:16,047 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,049 INFO sqlalchemy.engine.base.Engine ((48, 587), (442, 587), (299, 587), (129, 587), (467, 587))
2018-11-14 11:30:16,053 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,060 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,063 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,065 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:16,071 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,074 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:16,076 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,078 INFO sqlalchemy.engine.base.Engine ('REPATHA', 1, 0)
2018-11-14 11:30:16,081 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:16,083 INFO sqlalchemy.engine.base.Engine (588,)
2018-11-14 11:30:16,089 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,092 INFO sqlalchemy.engine.base.Engine (1758, 588)
2018-11-14 11:30:16,095 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,097 INFO sqlalchemy.engine.base.Engine ('Nephrolithiasis', 1, 0)
2018-11-14 11:30:16,099 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,101 INFO sqlalchemy.engine.base.Engine (588,)
2018-11-14 11:30:16,106 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,107 INFO sqlalchemy.engine.base.Engine (572, 588)
2018-11-14 11:30:16,110 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,121 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,126 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,127 INFO sqlalchemy.engine.base.Engine (1,)

2018-11-14 11:30:16,130 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,133 INFO sqlalchemy.engine.base.Engine (2, 87, 1)
2018-11-14 11:30:16,136 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,138 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:16,141 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:16,143 INFO sqlalchemy.engine.base.Engine (589,)
2018-11-14 11:30:16,146 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,148 INFO sqlalchemy.engine.base.Engine (17, 589)
2018-11-14 11:30:16,151 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,153 INFO sqlalchemy.engine.base.Engine ('Inappropriate schedule of drug administration', 1, 0)
2018-11-14 11:30:16,156 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,157 INFO sqlalchemy.engine.base.Engine (589,)
2018-11-14 11:30:16,160 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,162 INFO sqlalchemy.engine.base.Engine (187, 589)
2018-11-14 11:30:16,164 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,170 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,175 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,177 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:16,180 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,182 INFO sqlalchemy.engine.base.Engine (1, 50, 1)
2018-11-14 11:30:16,186 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,188 INFO sqlalchemy.engine.base.Engine ('GILOTRIF', 1, 0)
2018-11-14 11:30:16,195 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:16,198 INFO sqlalchemy.engine.base.Engine (590,)
2018-11-14 11:30:16,204 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:16,205 INFO sqlalchemy.engine.base.Engine ('GILOTRIF',)
2018-11-14 11:30:16,208 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,209 INFO sqlalchemy.engine.base.Engine (2138, 590)
2018-11-14 11:30:16,212 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,214 INFO sqlalchemy.engine.base.Engine ('Malignant neoplasm progression', 1, 0)
2018-11-14 11:30:16,216 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,218 INFO sqlalchemy.engine.base.Engine ('Drug effect incomplete', 1, 0)
2018-11-14 11:30:16,220 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,222 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:30:16,224 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,226 INFO sqlalchemy.engine.base.Engine ('Blood lactate dehydrogenase increased', 1, 0)
2018-11-14 11:30:16,232 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,234 INFO sqlalchemy.engine.base.Engine ('Arthralgia', 1, 0)
2018-11-14 11:30:16,236 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,237 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:30:16,241 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,242 INFO sqlalchemy.engine.base.Engine (590,)
2018-11-14 11:30:16,248 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,249 INFO sqlalchemy.engine.base.Engine ((123, 590), (209, 590), (164, 590), (120, 590), (549, 590), (66, 590))
2018-11-14 11:30:16,256 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,263 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,266 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,267 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:16,270 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,273 INFO sqlalchemy.engine.base.Engine (2, 45, 1)
2018-11-14 11:30:16,276 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,278 INFO sqlalchemy.engine.base.Engine ('COSENTYX', 1, 0)
2018-11-14 11:30:16,280 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:16,282 INFO sqlalchemy.engine.base.Engine (591,)
2018-11-14 11:30:16,287 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,290 INFO sqlalchemy.engine.base.Engine (219, 591)
2018-11-14 11:30:16,293 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,295 INFO sqlalchemy.engine.base.Engine ('Malaise', 1, 0)
2018-11-14 11:30:16,297 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,299 INFO sqlalchemy.engine.base.Engine (591,)
2018-11-14 11:30:16,304 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,308 INFO sqlalchemy.engine.base.Engine (101, 591)
2018-11-14 11:30:16,310 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,318 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,320 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,331 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:16,334 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,336 INFO sqlalchemy.engine.base.Engine (2, 59, 1)
2018-11-14 11:30:16,340 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:16,341 INFO sqlalchemy.engine.base.Engine ('COSENTYX', 1, 0)
2018-11-14 11:30:16,344 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:16,346 INFO sqlalchemy.engine.base.Engine (592,)
2018-11-14 11:30:16,350 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,351 INFO sqlalchemy.engine.base.Engine (219, 592)
2018-11-14 11:30:16,355 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,356 INFO sqlalchemy.engine.base.Engine ('Malaise', 1, 0)
2018-11-14 11:30:16,358 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,360 INFO sqlalchemy.engine.base.Engine (592,)
2018-11-14 11:30:16,363 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,365 INFO sqlalchemy.engine.base.Engine (101, 592)
2018-11-14 11:30:16,370 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,378 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,381 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,383 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:16,386 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,388 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:16,392 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,393 INFO sqlalchemy.engine.base.Engine ('Diabetes mellitus', 1, 0)
2018-11-14 11:30:16,396 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,397 INFO sqlalchemy.engine.base.Engine ('Hyperkalaemia', 1, 0)
2018-11-14 11:30:16,404 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,406 INFO sqlalchemy.engine.base.Engine ('Astigmatism', 1, 0)
2018-11-14 11:30:16,409 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,410 INFO sqlalchemy.engine.base.Engine ('Visual impairment', 1, 0)
2018-11-14 11:30:16,412 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,414 INFO sqlalchemy.engine.base.Engine (593,)
2018-11-14 11:30:16,417 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:16,418 INFO sqlalchemy.engine.base.Engine ('Astigmatism',)
2018-11-14 11:30:16,422 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,424 INFO sqlalchemy.engine.base.Engine ((32, 593), (823, 593), (65, 593), (208, 593))
2018-11-14 11:30:16,426 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,434 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,437 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,439 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:16,443 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,445 INFO sqlalchemy.engine.base.Engine (1, 42, 1)
2018-11-14 11:30:16,448 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,451 INFO sqlalchemy.engine.base.Engine ('COSENTYX', 1, 0)
2018-11-14 11:30:16,454 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:16,458 INFO sqlalchemy.engine.base.Engine (594,)
2018-11-14 11:30:16,464 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,466 INFO sqlalchemy.engine.base.Engine (219, 594)
2018-11-14 11:30:16,467 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,469 INFO sqlalchemy.engine.base.Engine ('Burning sensation', 1, 0)
2018-11-14 11:30:16,474 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,475 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:30:16,478 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,479 INFO sqlalchemy.engine.base.Engine ('Malaise', 1, 0)
2018-11-14 11:30:16,482 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,483 INFO sqlalchemy.engine.base.Engine ('Acne cystic', 1, 0)
2018-11-14 11:30:16,487 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,489 INFO sqlalchemy.engine.base.Engine ('Hypersensitivity vasculitis', 1, 0)
2018-11-14 11:30:16,496 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,500 INFO sqlalchemy.engine.base.Engine ('Inappropriate schedule of drug administration', 1, 0)
2018-11-14 11:30:16,507 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,509 INFO sqlalchemy.engine.base.Engine ('Rheumatic disorder', 1, 0)
2018-11-14 11:30:16,511 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,513 INFO sqlalchemy.engine.base.Engine ('Pruritus', 1, 0)
2018-11-14 11:30:16,515 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,516 INFO sqlalchemy.engine.base.Engine ('Psoriasis', 1, 0)
2018-11-14 11:30:16,520 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,522 INFO sqlalchemy.engine.base.Engine (594,)
2018-11-14 11:30:16,530 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:16,532 INFO sqlalchemy.engine.base.Engine ('Acne cystic',)
2018-11-14 11:30:16,533 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:16,535 INFO sqlalchemy.engine.base.Engine ('Rheumatic disorder',)

2018-11-14 11:30:16,537 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,539 INFO sqlalchemy.engine.base.Engine ((825, 594), (824, 594))
2018-11-14 11:30:16,543 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,547 INFO sqlalchemy.engine.base.Engine ((13, 594), (15, 594), (187, 594), (101, 594), (193, 594), (781, 594), (406, 594))
2018-11-14 11:30:16,550 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,558 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,560 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,563 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:16,565 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,566 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:16,571 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,574 INFO sqlalchemy.engine.base.Engine ('FEMARA', 1, 0)
2018-11-14 11:30:16,578 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:16,579 INFO sqlalchemy.engine.base.Engine (595,)
2018-11-14 11:30:16,584 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:16,586 INFO sqlalchemy.engine.base.Engine ('FEMARA',)
2018-11-14 11:30:16,589 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,594 INFO sqlalchemy.engine.base.Engine (2139, 595)
2018-11-14 11:30:16,599 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,601 INFO sqlalchemy.engine.base.Engine ('Pulmonary embolism', 1, 0)
2018-11-14 11:30:16,603 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,606 INFO sqlalchemy.engine.base.Engine (595,)
2018-11-14 11:30:16,610 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,611 INFO sqlalchemy.engine.base.Engine (512, 595)
2018-11-14 11:30:16,614 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,620 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,622 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,624 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:16,626 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,628 INFO sqlalchemy.engine.base.Engine (2, 67, 1)
2018-11-14 11:30:16,635 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,636 INFO sqlalchemy.engine.base.Engine ('PRADAXA', 1, 0)
2018-11-14 11:30:16,640 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:16,642 INFO sqlalchemy.engine.base.Engine (596,)
2018-11-14 11:30:16,647 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,649 INFO sqlalchemy.engine.base.Engine (36, 596)
2018-11-14 11:30:16,652 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,654 INFO sqlalchemy.engine.base.Engine ('Appendix disorder', 1, 0)
2018-11-14 11:30:16,657 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,659 INFO sqlalchemy.engine.base.Engine (596,)
2018-11-14 11:30:16,664 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:16,665 INFO sqlalchemy.engine.base.Engine ('Appendix disorder',)
2018-11-14 11:30:16,668 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,669 INFO sqlalchemy.engine.base.Engine (826, 596)
2018-11-14 11:30:16,671 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,679 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,682 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,684 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:16,689 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,691 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:16,698 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,700 INFO sqlalchemy.engine.base.Engine ('ENTRESTO', 1, 0)
2018-11-14 11:30:16,703 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:16,704 INFO sqlalchemy.engine.base.Engine (597,)
2018-11-14 11:30:16,714 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,715 INFO sqlalchemy.engine.base.Engine (6, 597)
2018-11-14 11:30:16,718 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,719 INFO sqlalchemy.engine.base.Engine ('Pain in extremity', 1, 0)
2018-11-14 11:30:16,723 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:16,725 INFO sqlalchemy.engine.base.Engine (597,)
2018-11-14 11:30:16,728 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:16,730 INFO sqlalchemy.engine.base.Engine (18, 597)
2018-11-14 11:30:16,732 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:16,738 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:16,740 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:16,742 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:16,749 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:16,752 INFO sqlalchemy.engine.base.Engine (1, 71, 1)
2018-11-14 11:30:16,759 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:16,761 INFO sqlalchemy.engine.base.Engine ('GLEEVEC', 1, 0)
2018-11-14 11:30:16,763 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:16,765 INFO sqlalchemy.engine.base.Engine (598,)

2018-11-14 11:30:19,011 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,014 INFO sqlalchemy.engine.base.Engine ('Urethral abscess',)
2018-11-14 11:30:19,016 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,018 INFO sqlalchemy.engine.base.Engine ('Disseminated Bacillus Calmette-Guerin infection',)
2018-11-14 11:30:19,019 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,020 INFO sqlalchemy.engine.base.Engine ('Ureteric stenosis',)
2018-11-14 11:30:19,021 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,022 INFO sqlalchemy.engine.base.Engine ('Renal tuberculosis',)
2018-11-14 11:30:19,025 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,027 INFO sqlalchemy.engine.base.Engine ('Escherichia urinary tract infection',)
2018-11-14 11:30:19,028 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,029 INFO sqlalchemy.engine.base.Engine ('Pyelonephritis acute',)
2018-11-14 11:30:19,031 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,032 INFO sqlalchemy.engine.base.Engine ('Hydronephrosis',)
2018-11-14 11:30:19,033 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,034 INFO sqlalchemy.engine.base.Engine ('Lipiduria',)
2018-11-14 11:30:19,036 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,038 INFO sqlalchemy.engine.base.Engine ('Bladder perforation',)
2018-11-14 11:30:19,043 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,047 INFO sqlalchemy.engine.base.Engine ((849, 629), (852, 629), (851, 629), (850, 629), (844, 629), (845, 629), (848, 629), (847, 629), (846, 629))
2018-11-14 11:30:19,050 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,053 INFO sqlalchemy.engine.base.Engine ((786, 629), (103, 629), (445, 629))
2018-11-14 11:30:19,055 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,060 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,064 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:19,066 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,068 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,073 INFO sqlalchemy.engine.base.Engine (1, 66, 1)
2018-11-14 11:30:19,076 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,077 INFO sqlalchemy.engine.base.Engine ('SPIRIVA', 1, 0)
2018-11-14 11:30:19,080 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:19,081 INFO sqlalchemy.engine.base.Engine (630,)
2018-11-14 11:30:19,088 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,090 INFO sqlalchemy.engine.base.Engine (13, 630)
2018-11-14 11:30:19,093 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,095 INFO sqlalchemy.engine.base.Engine ('Product quality issue', 1, 0)
2018-11-14 11:30:19,099 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,101 INFO sqlalchemy.engine.base.Engine ('Intentional product use issue', 1, 0)
2018-11-14 11:30:19,104 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,105 INFO sqlalchemy.engine.base.Engine ('Extra dose administered', 1, 0)
2018-11-14 11:30:19,108 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,109 INFO sqlalchemy.engine.base.Engine ('Dry mouth', 1, 0)
2018-11-14 11:30:19,111 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:19,112 INFO sqlalchemy.engine.base.Engine (630,)
2018-11-14 11:30:19,117 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,118 INFO sqlalchemy.engine.base.Engine ((352, 630), (843, 630), (531, 630), (309, 630))
2018-11-14 11:30:19,121 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,125 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,129 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:19,131 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,137 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,139 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:19,143 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,144 INFO sqlalchemy.engine.base.Engine ('ENTRESTO', 1, 0)
2018-11-14 11:30:19,149 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:19,151 INFO sqlalchemy.engine.base.Engine (631,)
2018-11-14 11:30:19,158 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,160 INFO sqlalchemy.engine.base.Engine (6, 631)
2018-11-14 11:30:19,163 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,165 INFO sqlalchemy.engine.base.Engine ('Tinnitus', 1, 0)
2018-11-14 11:30:19,167 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,172 INFO sqlalchemy.engine.base.Engine ('Sneezing', 1, 0)
2018-11-14 11:30:19,176 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:19,177 INFO sqlalchemy.engine.base.Engine (631,)
2018-11-14 11:30:19,184 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,186 INFO sqlalchemy.engine.base.Engine ('Sneezing',)
2018-11-14 11:30:19,188 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,190 INFO sqlalchemy.engine.base.Engine ('Tinnitus',)
2018-11-14 11:30:19,193 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,194 INFO sqlalchemy.engine.base.Engine ((853, 631), (854, 631))
2018-11-14 11:30:19,197 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,206 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,209 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:30:19,211 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,218 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,220 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:19,223 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,224 INFO sqlalchemy.engine.base.Engine ('PRINIVIL', 1, 0)
2018-11-14 11:30:19,226 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,228 INFO sqlalchemy.engine.base.Engine ('ZESTRIL', 1, 0)
2018-11-14 11:30:19,232 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,234 INFO sqlalchemy.engine.base.Engine ('QBRELIS', 1, 0)
2018-11-14 11:30:19,237 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,239 INFO sqlalchemy.engine.base.Engine ('LISINOPRIL', 1, 0)
2018-11-14 11:30:19,241 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:19,243 INFO sqlalchemy.engine.base.Engine (632,)
2018-11-14 11:30:19,249 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:19,251 INFO sqlalchemy.engine.base.Engine ('PRINIVIL',)
2018-11-14 11:30:19,253 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:19,254 INFO sqlalchemy.engine.base.Engine ('ZESTRIL',)
2018-11-14 11:30:19,256 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:19,258 INFO sqlalchemy.engine.base.Engine ('QBRELIS',)
2018-11-14 11:30:19,259 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:19,261 INFO sqlalchemy.engine.base.Engine ('LISINOPRIL',)
2018-11-14 11:30:19,264 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,265 INFO sqlalchemy.engine.base.Engine ((2145, 632), (2146, 632), (2147, 632), (2148, 632))
2018-11-14 11:30:19,268 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,269 INFO sqlalchemy.engine.base.Engine ('Intentional dose omission', 1, 0)
2018-11-14 11:30:19,271 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,272 INFO sqlalchemy.engine.base.Engine ('Dry throat', 1, 0)
2018-11-14 11:30:19,275 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,276 INFO sqlalchemy.engine.base.Engine ('Oropharyngeal pain', 1, 0)
2018-11-14 11:30:19,279 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,281 INFO sqlalchemy.engine.base.Engine ('Throat irritation', 1, 0)
2018-11-14 11:30:19,284 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:19,286 INFO sqlalchemy.engine.base.Engine (632,)
2018-11-14 11:30:19,291 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,293 INFO sqlalchemy.engine.base.Engine ('Intentional dose omission',)
2018-11-14 11:30:19,294 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,295 INFO sqlalchemy.engine.base.Engine ('Throat irritation',)
2018-11-14 11:30:19,296 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,298 INFO sqlalchemy.engine.base.Engine ('Dry throat',)
2018-11-14 11:30:19,301 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,302 INFO sqlalchemy.engine.base.Engine ((855, 632), (856, 632), (857, 632), (317, 632))
2018-11-14 11:30:19,304 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,309 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,312 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:19,314 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,316 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,319 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:19,325 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,326 INFO sqlalchemy.engine.base.Engine ('TANZEUM', 1, 0)
2018-11-14 11:30:19,329 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:19,331 INFO sqlalchemy.engine.base.Engine (633,)
2018-11-14 11:30:19,335 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:19,338 INFO sqlalchemy.engine.base.Engine ('TANZEUM',)
2018-11-14 11:30:19,340 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,341 INFO sqlalchemy.engine.base.Engine (2149, 633)
2018-11-14 11:30:19,343 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,347 INFO sqlalchemy.engine.base.Engine ('Blood glucose increased', 1, 0)
2018-11-14 11:30:19,350 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,352 INFO sqlalchemy.engine.base.Engine ('Condition aggravated', 1, 0)
2018-11-14 11:30:19,355 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,357 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:30:19,360 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,361 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal pain', 1, 0)
2018-11-14 11:30:19,365 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,367 INFO sqlalchemy.engine.base.Engine ('Dermatitis allergic', 1, 0)
2018-11-14 11:30:19,369 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,370 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:30:19,374 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,377 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal disorder', 1, 0)
2018-11-14 11:30:19,382 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:19,384 INFO sqlalchemy.engine.base.Engine ('Overdose', 1, 0)
2018-11-14 11:30:19,386 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,388 INFO sqlalchemy.engine.base.Engine ('Allergic reaction to excipient', 1, 0)
2018-11-14 11:30:19,392 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,394 INFO sqlalchemy.engine.base.Engine ('Decreased appetite', 1, 0)
2018-11-14 11:30:19,395 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:19,398 INFO sqlalchemy.engine.base.Engine (633,)
2018-11-14 11:30:19,402 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,403 INFO sqlalchemy.engine.base.Engine ('Allergic reaction to excipient',)
2018-11-14 11:30:19,404 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,405 INFO sqlalchemy.engine.base.Engine ('Dermatitis allergic',)
2018-11-14 11:30:19,408 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,410 INFO sqlalchemy.engine.base.Engine ((859, 633), (858, 633))
2018-11-14 11:30:19,414 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,415 INFO sqlalchemy.engine.base.Engine ((41, 633), (36, 633), (112, 633), (467, 633), (741, 633), (26, 633), (838, 633), (12, 633))
2018-11-14 11:30:19,417 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,422 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,425 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:19,426 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,430 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,432 INFO sqlalchemy.engine.base.Engine (2, 72, 1)
2018-11-14 11:30:19,435 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,437 INFO sqlalchemy.engine.base.Engine ('DYAZIDE', 1, 0)
2018-11-14 11:30:19,440 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:19,442 INFO sqlalchemy.engine.base.Engine (634,)
2018-11-14 11:30:19,449 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:19,453 INFO sqlalchemy.engine.base.Engine ('DYAZIDE',)
2018-11-14 11:30:19,455 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,458 INFO sqlalchemy.engine.base.Engine (2150, 634)
2018-11-14 11:30:19,465 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,467 INFO sqlalchemy.engine.base.Engine ('Muscle spasms', 1, 0)
2018-11-14 11:30:19,470 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,471 INFO sqlalchemy.engine.base.Engine ('Product substitution issue', 1, 0)
2018-11-14 11:30:19,474 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,475 INFO sqlalchemy.engine.base.Engine ('Adverse drug reaction', 1, 0)
2018-11-14 11:30:19,478 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,480 INFO sqlalchemy.engine.base.Engine ('Palpitations', 1, 0)
2018-11-14 11:30:19,483 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,485 INFO sqlalchemy.engine.base.Engine ('Joint swelling', 1, 0)
2018-11-14 11:30:19,487 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:19,488 INFO sqlalchemy.engine.base.Engine (634,)
2018-11-14 11:30:19,492 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,494 INFO sqlalchemy.engine.base.Engine ('Product substitution issue',)
2018-11-14 11:30:19,497 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,500 INFO sqlalchemy.engine.base.Engine (860, 634)
2018-11-14 11:30:19,502 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,504 INFO sqlalchemy.engine.base.Engine ((488, 634), (124, 634), (326, 634), (183, 634))
2018-11-14 11:30:19,509 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,514 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,518 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:19,519 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,522 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,524 INFO sqlalchemy.engine.base.Engine (1, 71, 1)
2018-11-14 11:30:19,527 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,529 INFO sqlalchemy.engine.base.Engine ('Thrombosis', 1, 0)
2018-11-14 11:30:19,532 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:19,534 INFO sqlalchemy.engine.base.Engine (635,)
2018-11-14 11:30:19,538 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,540 INFO sqlalchemy.engine.base.Engine ('Thrombosis',)
2018-11-14 11:30:19,542 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,544 INFO sqlalchemy.engine.base.Engine (861, 635)
2018-11-14 11:30:19,546 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,569 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,572 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:19,573 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,575 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,576 INFO sqlalchemy.engine.base.Engine (2, 68, 1)
2018-11-14 11:30:19,583 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,584 INFO sqlalchemy.engine.base.Engine ('NUCALA', 1, 0)
2018-11-14 11:30:19,587 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:30:19,591 INFO sqlalchemy.engine.base.Engine (636,)
2018-11-14 11:30:19,595 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:19,598 INFO sqlalchemy.engine.base.Engine ('NUCALA',)
2018-11-14 11:30:19,600 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,603 INFO sqlalchemy.engine.base.Engine (2151, 636)
2018-11-14 11:30:19,606 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,608 INFO sqlalchemy.engine.base.Engine ('Mononeuropathy multiplex', 1, 0)
2018-11-14 11:30:19,611 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,613 INFO sqlalchemy.engine.base.Engine ('Hypoaesthesia', 1, 0)
2018-11-14 11:30:19,617 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,620 INFO sqlalchemy.engine.base.Engine ('Arthralgia', 1, 0)
2018-11-14 11:30:19,623 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,624 INFO sqlalchemy.engine.base.Engine ('Neuralgia', 1, 0)
2018-11-14 11:30:19,626 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:19,627 INFO sqlalchemy.engine.base.Engine (636,)
2018-11-14 11:30:19,632 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,634 INFO sqlalchemy.engine.base.Engine ('Mononeuropathy multiplex',)
2018-11-14 11:30:19,637 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,638 INFO sqlalchemy.engine.base.Engine ('Neuralgia',)
2018-11-14 11:30:19,640 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,641 INFO sqlalchemy.engine.base.Engine ((862, 636), (1, 636), (164, 636), (863, 636))
2018-11-14 11:30:19,643 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,650 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,653 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:19,656 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,661 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,665 INFO sqlalchemy.engine.base.Engine (1, 8, 1)
2018-11-14 11:30:19,669 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,671 INFO sqlalchemy.engine.base.Engine ('Urinary retention', 1, 0)
2018-11-14 11:30:19,673 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,675 INFO sqlalchemy.engine.base.Engine ('Product use in unapproved indication', 1, 0)
2018-11-14 11:30:19,677 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:19,682 INFO sqlalchemy.engine.base.Engine (637,)
2018-11-14 11:30:19,685 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,687 INFO sqlalchemy.engine.base.Engine ((597, 637), (320, 637))
2018-11-14 11:30:19,689 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,695 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,698 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:19,699 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,702 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,704 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:19,709 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,711 INFO sqlalchemy.engine.base.Engine ('INCRUSE ELLIPTA', 1, 0)
2018-11-14 11:30:19,716 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:19,718 INFO sqlalchemy.engine.base.Engine (638,)
2018-11-14 11:30:19,722 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:19,724 INFO sqlalchemy.engine.base.Engine ('INCRUSE ELLIPTA',)
2018-11-14 11:30:19,726 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,728 INFO sqlalchemy.engine.base.Engine (2152, 638)
2018-11-14 11:30:19,734 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,736 INFO sqlalchemy.engine.base.Engine ('Bronchospasm paradoxical', 1, 0)
2018-11-14 11:30:19,738 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:19,741 INFO sqlalchemy.engine.base.Engine (638,)
2018-11-14 11:30:19,746 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:19,748 INFO sqlalchemy.engine.base.Engine ('Bronchospasm paradoxical',)
2018-11-14 11:30:19,752 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,753 INFO sqlalchemy.engine.base.Engine (864, 638)
2018-11-14 11:30:19,756 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,762 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,766 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:19,767 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,769 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,771 INFO sqlalchemy.engine.base.Engine (2, 38, 1)
2018-11-14 11:30:19,777 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,778 INFO sqlalchemy.engine.base.Engine ('Dyspnoea', 1, 0)
2018-11-14 11:30:19,782 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,784 INFO sqlalchemy.engine.base.Engine ('Pruritus', 1, 0)
2018-11-14 11:30:19,786 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,788 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:30:19,791 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,794 INFO sqlalchemy.engine.base.Engine ('Rash pruritic', 1, 0)

2018-11-14 11:30:19,798 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,799 INFO sqlalchemy.engine.base.Engine ('Epistaxis', 1, 0)
2018-11-14 11:30:19,803 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,807 INFO sqlalchemy.engine.base.Engine ('Wheezing', 1, 0)
2018-11-14 11:30:19,811 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,812 INFO sqlalchemy.engine.base.Engine ('Headache', 1, 0)
2018-11-14 11:30:19,816 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,818 INFO sqlalchemy.engine.base.Engine ('Chest discomfort', 1, 0)
2018-11-14 11:30:19,821 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:19,822 INFO sqlalchemy.engine.base.Engine (639,)
2018-11-14 11:30:19,826 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:19,828 INFO sqlalchemy.engine.base.Engine ((15, 639), (66, 639), (33, 639), (13, 639), (152, 639), (11, 639), (235, 639), (82, 639))
2018-11-14 11:30:19,829 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:19,835 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:19,837 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:19,838 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:19,841 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:19,843 INFO sqlalchemy.engine.base.Engine (2, 54, 1)
2018-11-14 11:30:19,849 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,851 INFO sqlalchemy.engine.base.Engine ('BEING WELL HEARTBURN RELIEF', 1, 0)
2018-11-14 11:30:19,855 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,857 INFO sqlalchemy.engine.base.Engine ('ZANTAC 75', 1, 0)
2018-11-14 11:30:19,861 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,862 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER ACID REDUCER', 1, 0)
2018-11-14 11:30:19,866 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,869 INFO sqlalchemy.engine.base.Engine ('LEADER ACID CONTROL', 1, 0)
2018-11-14 11:30:19,872 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,882 INFO sqlalchemy.engine.base.Engine ('WAL-ZAN', 1, 0)
2018-11-14 11:30:19,884 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,885 INFO sqlalchemy.engine.base.Engine ('EQUALINE ACID REDUCER', 1, 0)
2018-11-14 11:30:19,888 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,889 INFO sqlalchemy.engine.base.Engine ('ZANTAC 150 ACID REDUCER', 1, 0)
2018-11-14 11:30:19,892 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,893 INFO sqlalchemy.engine.base.Engine ('ZANTAC 150', 1, 0)
2018-11-14 11:30:19,899 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,901 INFO sqlalchemy.engine.base.Engine ('MEDIQUE MEDI-ACID REDUCER 150', 1, 0)
2018-11-14 11:30:19,904 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,905 INFO sqlalchemy.engine.base.Engine ('ZANTAC MAXIMUM STRENGTH 150 COOL MINT', 1, 0)
2018-11-14 11:30:19,908 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,910 INFO sqlalchemy.engine.base.Engine ('SHOPRITE ACID REDUCER MAXIMUM STRENGTH', 1, 0)
2018-11-14 11:30:19,915 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,917 INFO sqlalchemy.engine.base.Engine ('7 SELECT ACID REDUCER', 1, 0)
2018-11-14 11:30:19,920 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,922 INFO sqlalchemy.engine.base.Engine ('COOL MINT ACID REDUCER', 1, 0)
2018-11-14 11:30:19,924 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,925 INFO sqlalchemy.engine.base.Engine ('EQUATE RANITIDINE ACID REDUCER', 1, 0)
2018-11-14 11:30:19,927 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,928 INFO sqlalchemy.engine.base.Engine ('RANITIDINE IMMEDIATE RELEASE', 1, 0)
2018-11-14 11:30:19,931 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,932 INFO sqlalchemy.engine.base.Engine ('RANITIDINE', 1, 0)
2018-11-14 11:30:19,935 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,936 INFO sqlalchemy.engine.base.Engine ('BASIC CARE ACID REDUCER', 1, 0)
2018-11-14 11:30:19,937 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,938 INFO sqlalchemy.engine.base.Engine ('RANITIDINE 75', 1, 0)
2018-11-14 11:30:19,940 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,941 INFO sqlalchemy.engine.base.Engine ('ACID REDUCER MAXIMUM STRENGTH', 1, 0)
2018-11-14 11:30:19,942 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,943 INFO sqlalchemy.engine.base.Engine ('UP AND UP RANITIDINE', 1, 0)
2018-11-14 11:30:19,947 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,949 INFO sqlalchemy.engine.base.Engine ('TOPCARE HEARTBURN RELIEF 150', 1, 0)
2018-11-14 11:30:19,953 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,955 INFO sqlalchemy.engine.base.Engine ('RANITIDINE ACID REDUCER', 1, 0)
2018-11-14 11:30:19,957 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:19,959 INFO sqlalchemy.engine.base.Engine ('UP AND UP RANITIDINE 150', 1, 0)
2018-11-14 11:30:19,961 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,962 INFO sqlalchemy.engine.base.Engine ('EQUALINE HEARTBURN RELIEF', 1, 0)
2018-11-14 11:30:19,965 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,967 INFO sqlalchemy.engine.base.Engine ('HEALTH MART ACID REDUCER', 1, 0)
2018-11-14 11:30:19,970 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,971 INFO sqlalchemy.engine.base.Engine ('RANITIDINE 75 MG', 1, 0)
2018-11-14 11:30:19,973 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,974 INFO sqlalchemy.engine.base.Engine ('EXCHANGE SELECT ACID REDUCER', 1, 0)
2018-11-14 11:30:19,976 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,977 INFO sqlalchemy.engine.base.Engine ('WAL ZAN 150', 1, 0)
2018-11-14 11:30:19,979 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,980 INFO sqlalchemy.engine.base.Engine ('LEADER RANITIDINE', 1, 0)
2018-11-14 11:30:19,983 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:19,985 INFO sqlalchemy.engine.base.Engine ('CAREONE ACID RELIEF', 1, 0)
2018-11-14 11:30:19,987 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,000 INFO sqlalchemy.engine.base.Engine ('RANITIDINE COOL MINT', 1, 0)
2018-11-14 11:30:20,004 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,008 INFO sqlalchemy.engine.base.Engine ('EQUATE ACID REDUCER', 1, 0)
2018-11-14 11:30:20,013 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,014 INFO sqlalchemy.engine.base.Engine ('FAMILY WELLNESS ACID REDUCER', 1, 0)
2018-11-14 11:30:20,017 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,020 INFO sqlalchemy.engine.base.Engine ('ACID RELIEF', 1, 0)
2018-11-14 11:30:20,025 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,026 INFO sqlalchemy.engine.base.Engine ('SUNMARK ACID REDUCER', 1, 0)
2018-11-14 11:30:20,028 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,029 INFO sqlalchemy.engine.base.Engine ('MAJOR RANITIDINE MAXIMUM STRENGTH', 1, 0)
2018-11-14 11:30:20,031 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,032 INFO sqlalchemy.engine.base.Engine ('HEALTHY ACCENTS RANITIDINE', 1, 0)
2018-11-14 11:30:20,035 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,036 INFO sqlalchemy.engine.base.Engine ('BERKLEY AND JENSEN RANITIDINE', 1, 0)
2018-11-14 11:30:20,038 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,039 INFO sqlalchemy.engine.base.Engine ('RANITIDINE 150 MG', 1, 0)
2018-11-14 11:30:20,040 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,041 INFO sqlalchemy.engine.base.Engine ('FAMILY WELLNESS ACID REDUCER 150', 1, 0)
2018-11-14 11:30:20,043 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,044 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ACID CONTROL 150', 1, 0)
2018-11-14 11:30:20,046 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,048 INFO sqlalchemy.engine.base.Engine ('DG HEALTH ACID REDUCER', 1, 0)
2018-11-14 11:30:20,051 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,053 INFO sqlalchemy.engine.base.Engine ('HEARTBURN RELIEF', 1, 0)
2018-11-14 11:30:20,055 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,056 INFO sqlalchemy.engine.base.Engine ('DG HEALTH HEARTBURN RELIEF', 1, 0)
2018-11-14 11:30:20,059 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,060 INFO sqlalchemy.engine.base.Engine ('MAXIMUM STRENGTH RANITIDINE', 1, 0)
2018-11-14 11:30:20,063 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,065 INFO sqlalchemy.engine.base.Engine ('CAREONE ACID REDUCER', 1, 0)
2018-11-14 11:30:20,069 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,070 INFO sqlalchemy.engine.base.Engine ('MAXIMUM STRENGTH ZANTAC', 1, 0)
2018-11-14 11:30:20,072 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,073 INFO sqlalchemy.engine.base.Engine ('ACID REDUCER', 1, 0)
2018-11-14 11:30:20,075 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,077 INFO sqlalchemy.engine.base.Engine ('BASIC CARE ACID REDUCER 150', 1, 0)
2018-11-14 11:30:20,080 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,082 INFO sqlalchemy.engine.base.Engine ('GOOD SENSE ACID REDUCER', 1, 0)
2018-11-14 11:30:20,087 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,088 INFO sqlalchemy.engine.base.Engine ('SIGNATURE CARE ACID CONTROL', 1, 0)
2018-11-14 11:30:20,091 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,092 INFO sqlalchemy.engine.base.Engine ('REGULAR STRENGTH ACID REDUCER', 1, 0)
2018-11-14 11:30:20,094 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,097 INFO sqlalchemy.engine.base.Engine ('KIRKLAND SIGNATURE ACID REDUCER', 1, 0)
2018-11-14 11:30:20,102 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,103 INFO sqlalchemy.engine.base.Engine ('SMART SENSE RANITIDINE', 1, 0)

2018-11-14 11:30:20,106 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,108 INFO sqlalchemy.engine.base.Engine ('SHOPRITE ACID REDUCER', 1, 0)
2018-11-14 11:30:20,110 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,111 INFO sqlalchemy.engine.base.Engine ('EQUATE RANITIDINE', 1, 0)
2018-11-14 11:30:20,114 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,115 INFO sqlalchemy.engine.base.Engine ('HEARTBURN RELIEF 150', 1, 0)
2018-11-14 11:30:20,118 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,120 INFO sqlalchemy.engine.base.Engine ('GOOD NEIGHBOR PHARMACY ACID CONTROL', 1, 0)
2018-11-14 11:30:20,122 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,123 INFO sqlalchemy.engine.base.Engine ('EQUALINE', 1, 0)
2018-11-14 11:30:20,126 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,127 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER ACID REDUCER 150', 1, 0)
2018-11-14 11:30:20,129 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:20,130 INFO sqlalchemy.engine.base.Engine (640,)
2018-11-14 11:30:20,141 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:20,143 INFO sqlalchemy.engine.base.Engine ((233, 640), (234, 640), (235, 640), (236, 640), (237, 640), (238, 640), (239, 640), (240, 640)  ... displaying 10 of 60 total bound parameter sets ...  (291, 640), (292, 640))
2018-11-14 11:30:20,152 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,154 INFO sqlalchemy.engine.base.Engine ('Anaphylactic shock', 1, 0)
2018-11-14 11:30:20,157 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:20,157 INFO sqlalchemy.engine.base.Engine (640,)
2018-11-14 11:30:20,162 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:20,163 INFO sqlalchemy.engine.base.Engine (146, 640)
2018-11-14 11:30:20,165 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:20,172 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:20,174 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:20,177 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:20,181 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:20,184 INFO sqlalchemy.engine.base.Engine (2, 80, 1)
2018-11-14 11:30:20,188 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,190 INFO sqlalchemy.engine.base.Engine ('CANDESARTAN', 1, 0)
2018-11-14 11:30:20,192 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:20,194 INFO sqlalchemy.engine.base.Engine (641,)
2018-11-14 11:30:20,201 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:20,203 INFO sqlalchemy.engine.base.Engine ('CANDESARTAN',)
2018-11-14 11:30:20,205 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:20,207 INFO sqlalchemy.engine.base.Engine (2153, 641)
2018-11-14 11:30:20,209 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,210 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:30:20,213 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,214 INFO sqlalchemy.engine.base.Engine ('Overdose', 1, 0)
2018-11-14 11:30:20,218 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,219 INFO sqlalchemy.engine.base.Engine ('Drug prescribing error', 1, 0)
2018-11-14 11:30:20,222 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,224 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal haemorrhage', 1, 0)
2018-11-14 11:30:20,229 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,230 INFO sqlalchemy.engine.base.Engine ('Labelled drug-drug interaction medication error', 1, 0)
2018-11-14 11:30:20,236 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,238 INFO sqlalchemy.engine.base.Engine ('Drug administration error', 1, 0)
2018-11-14 11:30:20,241 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:20,242 INFO sqlalchemy.engine.base.Engine (641,)
2018-11-14 11:30:20,246 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:20,247 INFO sqlalchemy.engine.base.Engine ('Labelled drug-drug interaction medication error',)
2018-11-14 11:30:20,250 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:20,251 INFO sqlalchemy.engine.base.Engine ('Drug administration error',)
2018-11-14 11:30:20,253 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:20,254 INFO sqlalchemy.engine.base.Engine ((791, 641), (865, 641), (866, 641), (105, 641), (467, 641), (57, 641))
2018-11-14 11:30:20,256 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:20,265 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:20,268 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:20,269 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:20,274 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:20,276 INFO sqlalchemy.engine.base.Engine (2, 37, 1)
2018-11-14 11:30:20,279 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,281 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:30:20,285 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:20,288 INFO sqlalchemy.engine.base.Engine ('Liver disorder', 1, 0)
2018-11-14 11:30:20,293 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,295 INFO sqlalchemy.engine.base.Engine ('Drug eruption', 1, 0)
2018-11-14 11:30:20,298 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,300 INFO sqlalchemy.engine.base.Engine ('Swelling face', 1, 0)
2018-11-14 11:30:20,303 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:20,306 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:30:20,307 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:20,309 INFO sqlalchemy.engine.base.Engine (642,)
2018-11-14 11:30:20,314 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:20,315 INFO sqlalchemy.engine.base.Engine ((103, 642), (575, 642), (677, 642), (15, 642), (72, 642))
2018-11-14 11:30:20,319 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:20,329 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:22,752 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:22,754 INFO sqlalchemy.engine.base.Engine (676,)
2018-11-14 11:30:22,764 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:22,766 INFO sqlalchemy.engine.base.Engine ('SOLIRIS',)
2018-11-14 11:30:22,768 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:22,770 INFO sqlalchemy.engine.base.Engine (2160, 676)
2018-11-14 11:30:22,773 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,775 INFO sqlalchemy.engine.base.Engine ('Nausea', 1, 0)
2018-11-14 11:30:22,778 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:22,780 INFO sqlalchemy.engine.base.Engine (676,)
2018-11-14 11:30:22,784 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:22,787 INFO sqlalchemy.engine.base.Engine (143, 676)
2018-11-14 11:30:22,793 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:22,800 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:22,803 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:22,804 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:22,817 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:22,818 INFO sqlalchemy.engine.base.Engine (1, 62, 1)
2018-11-14 11:30:22,821 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,823 INFO sqlalchemy.engine.base.Engine ('XTANDI', 1, 0)
2018-11-14 11:30:22,826 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:22,827 INFO sqlalchemy.engine.base.Engine (677,)
2018-11-14 11:30:22,832 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:22,837 INFO sqlalchemy.engine.base.Engine (2062, 677)
2018-11-14 11:30:22,842 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,844 INFO sqlalchemy.engine.base.Engine ('Vision blurred', 1, 0)
2018-11-14 11:30:22,848 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,850 INFO sqlalchemy.engine.base.Engine ('Pigmentation disorder', 1, 0)
2018-11-14 11:30:22,854 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,856 INFO sqlalchemy.engine.base.Engine ('Skin exfoliation', 1, 0)
2018-11-14 11:30:22,859 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,860 INFO sqlalchemy.engine.base.Engine ('Dry skin', 1, 0)
2018-11-14 11:30:22,862 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:22,863 INFO sqlalchemy.engine.base.Engine (677,)
2018-11-14 11:30:22,866 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:22,867 INFO sqlalchemy.engine.base.Engine ('Pigmentation disorder',)
2018-11-14 11:30:22,869 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:22,875 INFO sqlalchemy.engine.base.Engine (891, 677)
2018-11-14 11:30:22,879 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:22,881 INFO sqlalchemy.engine.base.Engine ((282, 677), (150, 677), (258, 677))
2018-11-14 11:30:22,884 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:22,890 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:22,893 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:22,894 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:22,897 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:22,898 INFO sqlalchemy.engine.base.Engine (1, 66, 1)
2018-11-14 11:30:22,901 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,904 INFO sqlalchemy.engine.base.Engine ('Oculogyric crisis', 1, 0)
2018-11-14 11:30:22,913 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:22,915 INFO sqlalchemy.engine.base.Engine (678,)
2018-11-14 11:30:22,922 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:22,924 INFO sqlalchemy.engine.base.Engine ('Oculogyric crisis',)
2018-11-14 11:30:22,927 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:22,928 INFO sqlalchemy.engine.base.Engine (892, 678)
2018-11-14 11:30:22,930 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:22,937 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:22,940 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:30:22,943 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:22,946 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:22,947 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:22,950 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,953 INFO sqlalchemy.engine.base.Engine ('DICLOFENAC SODIUM', 1, 0)
2018-11-14 11:30:22,956 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,958 INFO sqlalchemy.engine.base.Engine ('ZORVOLEX', 1, 0)
2018-11-14 11:30:22,962 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,964 INFO sqlalchemy.engine.base.Engine ('DICLOFENAC', 1, 0)
2018-11-14 11:30:22,966 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:22,968 INFO sqlalchemy.engine.base.Engine (679,)
2018-11-14 11:30:22,973 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:22,975 INFO sqlalchemy.engine.base.Engine ('ZORVOLEX',)
2018-11-14 11:30:22,979 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:22,981 INFO sqlalchemy.engine.base.Engine ((1581, 679), (2161, 679), (1585, 679))
2018-11-14 11:30:22,984 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,986 INFO sqlalchemy.engine.base.Engine ('Nervous system disorder', 1, 0)
2018-11-14 11:30:22,989 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,991 INFO sqlalchemy.engine.base.Engine ('Dyspepsia', 1, 0)
2018-11-14 11:30:22,994 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:22,998 INFO sqlalchemy.engine.base.Engine ('Nausea', 1, 0)
2018-11-14 11:30:23,002 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,003 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:30:23,011 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,012 INFO sqlalchemy.engine.base.Engine ('Depression', 1, 0)
2018-11-14 11:30:23,014 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,016 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:30:23,022 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,026 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:30:23,030 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,031 INFO sqlalchemy.engine.base.Engine ('Psychiatric symptom', 1, 0)
2018-11-14 11:30:23,033 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,035 INFO sqlalchemy.engine.base.Engine ('Feeling abnormal', 1, 0)
2018-11-14 11:30:23,036 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,037 INFO sqlalchemy.engine.base.Engine ('Back pain', 1, 0)
2018-11-14 11:30:23,039 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,040 INFO sqlalchemy.engine.base.Engine ('Pain in extremity', 1, 0)
2018-11-14 11:30:23,043 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:23,044 INFO sqlalchemy.engine.base.Engine (679,)
2018-11-14 11:30:23,048 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:23,050 INFO sqlalchemy.engine.base.Engine ('Nervous system disorder',)
2018-11-14 11:30:23,052 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:23,053 INFO sqlalchemy.engine.base.Engine ('Psychiatric symptom',)
2018-11-14 11:30:23,056 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,057 INFO sqlalchemy.engine.base.Engine ((894, 679), (893, 679))
2018-11-14 11:30:23,062 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,063 INFO sqlalchemy.engine.base.Engine ((143, 679), (18, 679), (26, 679), (392, 679), (35, 679), (24, 679), (44, 679), (120, 679), (10, 679))
2018-11-14 11:30:23,066 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:23,071 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:23,074 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:23,076 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:23,078 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:23,080 INFO sqlalchemy.engine.base.Engine (1, 43, 1)
2018-11-14 11:30:23,083 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,085 INFO sqlalchemy.engine.base.Engine ('ZYPREXA INTRAMUSCULAR', 1, 0)
2018-11-14 11:30:23,090 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,092 INFO sqlalchemy.engine.base.Engine ('OLANZAPINE', 1, 0)
2018-11-14 11:30:23,095 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,097 INFO sqlalchemy.engine.base.Engine ('ZYPREXA', 1, 0)
2018-11-14 11:30:23,102 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,104 INFO sqlalchemy.engine.base.Engine ('ZYPREXA ZYDIS', 1, 0)
2018-11-14 11:30:23,107 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:23,110 INFO sqlalchemy.engine.base.Engine (680,)
2018-11-14 11:30:23,115 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:23,117 INFO sqlalchemy.engine.base.Engine ('OLANZAPINE',)
2018-11-14 11:30:23,119 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,120 INFO sqlalchemy.engine.base.Engine ((2114, 680), (2162, 680), (2113, 680), (2112, 680))
2018-11-14 11:30:23,123 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:23,126 INFO sqlalchemy.engine.base.Engine ('Overdose', 1, 0)
2018-11-14 11:30:23,128 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,129 INFO sqlalchemy.engine.base.Engine ('Bezoar', 1, 0)
2018-11-14 11:30:23,133 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,135 INFO sqlalchemy.engine.base.Engine ('Gastritis erosive', 1, 0)
2018-11-14 11:30:23,138 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,140 INFO sqlalchemy.engine.base.Engine ('Platelet count abnormal', 1, 0)
2018-11-14 11:30:23,143 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,145 INFO sqlalchemy.engine.base.Engine ('Respiratory failure', 1, 0)
2018-11-14 11:30:23,147 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,148 INFO sqlalchemy.engine.base.Engine ('Aspiration', 1, 0)
2018-11-14 11:30:23,151 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,159 INFO sqlalchemy.engine.base.Engine ('Toxicity to various agents', 1, 0)
2018-11-14 11:30:23,162 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,163 INFO sqlalchemy.engine.base.Engine ('Impaired gastric emptying', 1, 0)
2018-11-14 11:30:23,169 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,170 INFO sqlalchemy.engine.base.Engine ('Obstruction', 1, 0)
2018-11-14 11:30:23,173 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,176 INFO sqlalchemy.engine.base.Engine ('Drug interaction', 1, 0)
2018-11-14 11:30:23,181 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,182 INFO sqlalchemy.engine.base.Engine ('Coma', 1, 0)
2018-11-14 11:30:23,184 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,185 INFO sqlalchemy.engine.base.Engine ('Suicide attempt', 1, 0)
2018-11-14 11:30:23,188 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,190 INFO sqlalchemy.engine.base.Engine ('Gamma-glutamyltransferase increased', 1, 0)
2018-11-14 11:30:23,192 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:23,195 INFO sqlalchemy.engine.base.Engine (680,)
2018-11-14 11:30:23,200 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:23,201 INFO sqlalchemy.engine.base.Engine ('Aspiration',)
2018-11-14 11:30:23,202 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:23,203 INFO sqlalchemy.engine.base.Engine ('Impaired gastric emptying',)
2018-11-14 11:30:23,205 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:23,206 INFO sqlalchemy.engine.base.Engine ('Platelet count abnormal',)
2018-11-14 11:30:23,208 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:23,211 INFO sqlalchemy.engine.base.Engine ('Obstruction',)
2018-11-14 11:30:23,213 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:23,215 INFO sqlalchemy.engine.base.Engine ('Gastritis erosive',)
2018-11-14 11:30:23,218 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,219 INFO sqlalchemy.engine.base.Engine ((896, 680), (898, 680), (895, 680), (899, 680), (897, 680))
2018-11-14 11:30:23,222 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,225 INFO sqlalchemy.engine.base.Engine ((821, 680), (426, 680), (697, 680), (467, 680), (110, 680), (511, 680), (529, 680), (300, 680))
2018-11-14 11:30:23,229 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:23,234 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:23,237 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:23,239 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:23,242 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:23,244 INFO sqlalchemy.engine.base.Engine (1, 22, 1)
2018-11-14 11:30:23,246 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,249 INFO sqlalchemy.engine.base.Engine ('PROGRAF', 1, 0)
2018-11-14 11:30:23,253 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,255 INFO sqlalchemy.engine.base.Engine ('PROTOPIC', 1, 0)
2018-11-14 11:30:23,259 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,261 INFO sqlalchemy.engine.base.Engine ('ENVARSUS XR', 1, 0)
2018-11-14 11:30:23,265 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,268 INFO sqlalchemy.engine.base.Engine ('TACROLIMUS', 1, 0)
2018-11-14 11:30:23,270 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:23,271 INFO sqlalchemy.engine.base.Engine (681,)
2018-11-14 11:30:23,277 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,278 INFO sqlalchemy.engine.base.Engine ((1931, 681), (2020, 681), (2021, 681), (2022, 681))
2018-11-14 11:30:23,280 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,283 INFO sqlalchemy.engine.base.Engine ('Eosinophilic oesophagitis', 1, 0)
2018-11-14 11:30:23,285 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:23,288 INFO sqlalchemy.engine.base.Engine (681,)
2018-11-14 11:30:23,292 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:23,294 INFO sqlalchemy.engine.base.Engine ('Eosinophilic oesophagitis',)
2018-11-14 11:30:23,296 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,297 INFO sqlalchemy.engine.base.Engine (900, 681)

2018-11-14 11:30:23,299 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:23,311 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:23,320 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:23,322 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:23,324 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:23,329 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:23,334 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,336 INFO sqlalchemy.engine.base.Engine ('MYRBETRIQ', 1, 0)
2018-11-14 11:30:23,341 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:23,349 INFO sqlalchemy.engine.base.Engine (682,)
2018-11-14 11:30:23,353 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:23,355 INFO sqlalchemy.engine.base.Engine ('MYRBETRIQ',)
2018-11-14 11:30:23,358 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,360 INFO sqlalchemy.engine.base.Engine (2163, 682)
2018-11-14 11:30:23,362 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,363 INFO sqlalchemy.engine.base.Engine ('Oropharyngeal pain', 1, 0)
2018-11-14 11:30:23,365 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,367 INFO sqlalchemy.engine.base.Engine ('Aphonia', 1, 0)
2018-11-14 11:30:23,369 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,370 INFO sqlalchemy.engine.base.Engine ('Intentional product misuse', 1, 0)
2018-11-14 11:30:23,374 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:23,376 INFO sqlalchemy.engine.base.Engine (682,)
2018-11-14 11:30:23,379 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:23,381 INFO sqlalchemy.engine.base.Engine ('Aphonia',)
2018-11-14 11:30:23,384 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,385 INFO sqlalchemy.engine.base.Engine ((480, 682), (901, 682), (317, 682))
2018-11-14 11:30:23,393 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:23,412 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:23,419 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:23,421 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:23,425 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:23,427 INFO sqlalchemy.engine.base.Engine (1, 40, 1)
2018-11-14 11:30:23,433 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,435 INFO sqlalchemy.engine.base.Engine ('MERREM IV', 1, 0)
2018-11-14 11:30:23,442 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,446 INFO sqlalchemy.engine.base.Engine ('MEROPENEM', 1, 0)
2018-11-14 11:30:23,449 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:23,451 INFO sqlalchemy.engine.base.Engine (683,)
2018-11-14 11:30:23,454 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,455 INFO sqlalchemy.engine.base.Engine ((2023, 683), (2024, 683))
2018-11-14 11:30:23,458 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,459 INFO sqlalchemy.engine.base.Engine ('Drug resistance', 1, 0)
2018-11-14 11:30:23,464 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,465 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:30:23,468 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,470 INFO sqlalchemy.engine.base.Engine ('Cardiac arrest', 1, 0)
2018-11-14 11:30:23,471 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:23,474 INFO sqlalchemy.engine.base.Engine (683,)
2018-11-14 11:30:23,480 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,481 INFO sqlalchemy.engine.base.Engine ((652, 683), (36, 683), (291, 683))
2018-11-14 11:30:23,484 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:23,492 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:23,496 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:23,526 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:23,528 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:23,530 INFO sqlalchemy.engine.base.Engine (1, 69, 1)
2018-11-14 11:30:23,533 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,535 INFO sqlalchemy.engine.base.Engine ('ALOPRIM', 1, 0)
2018-11-14 11:30:23,538 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,540 INFO sqlalchemy.engine.base.Engine ('ALLOPURINOL', 1, 0)
2018-11-14 11:30:23,544 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,545 INFO sqlalchemy.engine.base.Engine ('ZYLOPRIM', 1, 0)
2018-11-14 11:30:23,549 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:23,550 INFO sqlalchemy.engine.base.Engine (684,)
2018-11-14 11:30:23,556 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,559 INFO sqlalchemy.engine.base.Engine ((1543, 684), (1544, 684), (1545, 684))
2018-11-14 11:30:23,561 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,562 INFO sqlalchemy.engine.base.Engine ('Hyperaesthesia', 1, 0)
2018-11-14 11:30:23,566 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:23,568 INFO sqlalchemy.engine.base.Engine ('Rash erythematous', 1, 0)
2018-11-14 11:30:23,570 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:23,572 INFO sqlalchemy.engine.base.Engine (684,)
2018-11-14 11:30:23,576 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,577 INFO sqlalchemy.engine.base.Engine ((527, 684), (528, 684))
2018-11-14 11:30:23,580 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:23,586 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:23,589 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:23,592 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:23,597 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:23,598 INFO sqlalchemy.engine.base.Engine (1, 66, 1)
2018-11-14 11:30:23,600 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,602 INFO sqlalchemy.engine.base.Engine ('FLUOROURACIL', 1, 0)
2018-11-14 11:30:23,610 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,612 INFO sqlalchemy.engine.base.Engine ('ADRUCIL', 1, 0)
2018-11-14 11:30:23,614 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,616 INFO sqlalchemy.engine.base.Engine ('FLUOROPLEX', 1, 0)
2018-11-14 11:30:23,621 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,622 INFO sqlalchemy.engine.base.Engine ('EFUDEX', 1, 0)
2018-11-14 11:30:23,633 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,634 INFO sqlalchemy.engine.base.Engine ('TOLAK', 1, 0)
2018-11-14 11:30:23,643 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,645 INFO sqlalchemy.engine.base.Engine ('CARAC', 1, 0)
2018-11-14 11:30:23,649 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:23,650 INFO sqlalchemy.engine.base.Engine (685,)
2018-11-14 11:30:23,654 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:23,656 INFO sqlalchemy.engine.base.Engine ('FLUOROURACIL',)
2018-11-14 11:30:23,659 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:23,660 INFO sqlalchemy.engine.base.Engine ('ADRUCIL',)
2018-11-14 11:30:23,662 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:23,664 INFO sqlalchemy.engine.base.Engine ('FLUOROPLEX',)
2018-11-14 11:30:23,665 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:23,666 INFO sqlalchemy.engine.base.Engine ('EFUDEX',)
2018-11-14 11:30:23,668 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:23,669 INFO sqlalchemy.engine.base.Engine ('TOLAK',)
2018-11-14 11:30:23,670 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:23,671 INFO sqlalchemy.engine.base.Engine ('CARAC',)
2018-11-14 11:30:23,673 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,674 INFO sqlalchemy.engine.base.Engine ((2164, 685), (2165, 685), (2166, 685), (2167, 685), (2168, 685), (2169, 685))
2018-11-14 11:30:23,679 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,680 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:30:23,682 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,683 INFO sqlalchemy.engine.base.Engine ('Skin exfoliation', 1, 0)
2018-11-14 11:30:23,685 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,686 INFO sqlalchemy.engine.base.Engine ('Erythema', 1, 0)
2018-11-14 11:30:23,688 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,689 INFO sqlalchemy.engine.base.Engine ('Pain of skin', 1, 0)
2018-11-14 11:30:23,691 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:23,692 INFO sqlalchemy.engine.base.Engine (685,)
2018-11-14 11:30:23,696 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:23,697 INFO sqlalchemy.engine.base.Engine ('Pain of skin',)
2018-11-14 11:30:23,699 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,702 INFO sqlalchemy.engine.base.Engine ((184, 685), (258, 685), (15, 685), (902, 685))
2018-11-14 11:30:23,707 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:23,731 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:23,733 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:23,737 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:23,740 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:23,742 INFO sqlalchemy.engine.base.Engine (1, 73, 1)
2018-11-14 11:30:23,746 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,748 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:23,753 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:23,754 INFO sqlalchemy.engine.base.Engine (686,)
2018-11-14 11:30:23,760 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,763 INFO sqlalchemy.engine.base.Engine (17, 686)
2018-11-14 11:30:23,766 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,768 INFO sqlalchemy.engine.base.Engine ('Hospitalisation', 1, 0)
2018-11-14 11:30:23,771 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:23,773 INFO sqlalchemy.engine.base.Engine (686,)
2018-11-14 11:30:23,779 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,780 INFO sqlalchemy.engine.base.Engine (650, 686)
2018-11-14 11:30:23,784 INFO sqlalchemy.engine.base.Engine COMMIT

2018-11-14 11:30:23,797 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:23,801 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:23,803 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:23,810 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:23,812 INFO sqlalchemy.engine.base.Engine (2, 65, 1)
2018-11-14 11:30:23,817 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,819 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:23,821 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:23,822 INFO sqlalchemy.engine.base.Engine (687,)
2018-11-14 11:30:23,828 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,833 INFO sqlalchemy.engine.base.Engine (111, 687)
2018-11-14 11:30:23,835 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:23,845 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:23,849 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:23,850 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:23,853 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:23,854 INFO sqlalchemy.engine.base.Engine (2, 70, 1)
2018-11-14 11:30:23,858 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,860 INFO sqlalchemy.engine.base.Engine ('CRESTOR', 1, 0)
2018-11-14 11:30:23,863 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:23,865 INFO sqlalchemy.engine.base.Engine (688,)
2018-11-14 11:30:23,870 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,872 INFO sqlalchemy.engine.base.Engine (1502, 688)
2018-11-14 11:30:23,874 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,876 INFO sqlalchemy.engine.base.Engine ('Fall', 1, 0)
2018-11-14 11:30:23,879 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,880 INFO sqlalchemy.engine.base.Engine ('Off label use', 1, 0)
2018-11-14 11:30:23,890 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,897 INFO sqlalchemy.engine.base.Engine ('Femur fracture', 1, 0)
2018-11-14 11:30:23,900 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,902 INFO sqlalchemy.engine.base.Engine ('Blood creatine phosphokinase increased', 1, 0)
2018-11-14 11:30:23,906 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:23,909 INFO sqlalchemy.engine.base.Engine (688,)
2018-11-14 11:30:23,956 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:23,957 INFO sqlalchemy.engine.base.Engine ((551, 688), (137, 688), (57, 688), (479, 688))
2018-11-14 11:30:23,963 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:23,971 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:23,981 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:23,983 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:23,987 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:23,988 INFO sqlalchemy.engine.base.Engine (1, 88, 1)
2018-11-14 11:30:23,998 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:23,999 INFO sqlalchemy.engine.base.Engine ('XTANDI', 1, 0)
2018-11-14 11:30:24,003 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:24,004 INFO sqlalchemy.engine.base.Engine (689,)
2018-11-14 11:30:24,012 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:24,014 INFO sqlalchemy.engine.base.Engine (2062, 689)
2018-11-14 11:30:24,033 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,035 INFO sqlalchemy.engine.base.Engine ('Testicular swelling', 1, 0)
2018-11-14 11:30:24,038 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,039 INFO sqlalchemy.engine.base.Engine ('Oedema peripheral', 1, 0)
2018-11-14 11:30:24,044 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,045 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:30:24,051 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,053 INFO sqlalchemy.engine.base.Engine ('Nausea', 1, 0)
2018-11-14 11:30:24,059 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,061 INFO sqlalchemy.engine.base.Engine ('Lacrimation increased', 1, 0)
2018-11-14 11:30:24,064 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:24,067 INFO sqlalchemy.engine.base.Engine (689,)
2018-11-14 11:30:24,072 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:24,074 INFO sqlalchemy.engine.base.Engine ('Lacrimation increased',)
2018-11-14 11:30:24,076 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:24,077 INFO sqlalchemy.engine.base.Engine ('Testicular swelling',)
2018-11-14 11:30:24,079 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:24,080 INFO sqlalchemy.engine.base.Engine ((903, 689), (143, 689), (904, 689), (534, 689), (74, 689))
2018-11-14 11:30:24,083 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:24,089 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:24,091 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:30:24,094 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:24,097 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:24,098 INFO sqlalchemy.engine.base.Engine (2, 5, 1)
2018-11-14 11:30:24,107 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,109 INFO sqlalchemy.engine.base.Engine ('LAMICTAL XR', 1, 0)
2018-11-14 11:30:24,115 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,117 INFO sqlalchemy.engine.base.Engine ('SUBVENITE', 1, 0)
2018-11-14 11:30:24,123 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,128 INFO sqlalchemy.engine.base.Engine ('LAMOTRIGINE KIT', 1, 0)
2018-11-14 11:30:24,131 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,132 INFO sqlalchemy.engine.base.Engine ('LAMICTAL', 1, 0)
2018-11-14 11:30:24,134 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,137 INFO sqlalchemy.engine.base.Engine ('LAMICTAL ODT', 1, 0)
2018-11-14 11:30:24,139 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,140 INFO sqlalchemy.engine.base.Engine ('LAMOTRIGINE', 1, 0)
2018-11-14 11:30:24,147 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:24,150 INFO sqlalchemy.engine.base.Engine (690,)
2018-11-14 11:30:24,156 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:24,158 INFO sqlalchemy.engine.base.Engine ((30, 690), (31, 690), (32, 690), (33, 690), (34, 690), (35, 690))
2018-11-14 11:30:24,162 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,164 INFO sqlalchemy.engine.base.Engine ('Stevens-Johnson syndrome', 1, 0)
2018-11-14 11:30:24,167 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,169 INFO sqlalchemy.engine.base.Engine ('Dysphagia', 1, 0)
2018-11-14 11:30:24,171 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,171 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:30:24,173 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,174 INFO sqlalchemy.engine.base.Engine ('Rotavirus infection', 1, 0)
2018-11-14 11:30:24,177 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,177 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:30:24,180 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,180 INFO sqlalchemy.engine.base.Engine ('Gastroenteritis norovirus', 1, 0)
2018-11-14 11:30:24,181 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,182 INFO sqlalchemy.engine.base.Engine ('Salivary hypersecretion', 1, 0)
2018-11-14 11:30:24,185 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,186 INFO sqlalchemy.engine.base.Engine ('Abdominal pain', 1, 0)
2018-11-14 11:30:24,187 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,187 INFO sqlalchemy.engine.base.Engine ('Pruritus', 1, 0)
2018-11-14 11:30:24,189 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,189 INFO sqlalchemy.engine.base.Engine ('Conjunctival hyperaemia', 1, 0)
2018-11-14 11:30:24,191 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,192 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:30:24,194 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,194 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:30:24,202 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,203 INFO sqlalchemy.engine.base.Engine ('Facial pain', 1, 0)
2018-11-14 11:30:24,210 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:24,212 INFO sqlalchemy.engine.base.Engine (690,)
2018-11-14 11:30:24,221 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:24,223 INFO sqlalchemy.engine.base.Engine ('Facial pain',)
2018-11-14 11:30:24,226 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:24,227 INFO sqlalchemy.engine.base.Engine ('Rotavirus infection',)
2018-11-14 11:30:24,228 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:24,230 INFO sqlalchemy.engine.base.Engine ('Gastroenteritis norovirus',)
2018-11-14 11:30:24,232 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:24,233 INFO sqlalchemy.engine.base.Engine ('Conjunctival hyperaemia',)
2018-11-14 11:30:24,235 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:24,237 INFO sqlalchemy.engine.base.Engine ('Stevens-Johnson syndrome',)
2018-11-14 11:30:24,240 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:24,242 INFO sqlalchemy.engine.base.Engine ((20, 690), (905, 690), (243, 690), (13, 690), (654, 690), (26, 690), (48, 690), (906, 690)  ... displaying 10 of 13 total bound parameter sets ...  (103, 690), (909, 690))
2018-11-14 11:30:24,245 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:24,256 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:24,263 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:24,266 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:24,271 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:24,272 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:24,277 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:24,279 INFO sqlalchemy.engine.base.Engine ('CARBOPLATIN', 1, 0)
2018-11-14 11:30:24,282 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:24,283 INFO sqlalchemy.engine.base.Engine (691,)
2018-11-14 11:30:24,288 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:24,289 INFO sqlalchemy.engine.base.Engine ('CARBOPLATIN',)
2018-11-14 11:30:24,291 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:24,293 INFO sqlalchemy.engine.base.Engine (2170, 691)
2018-11-14 11:30:24,296 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,297 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:30:24,303 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,304 INFO sqlalchemy.engine.base.Engine ('Diabetic neuropathy', 1, 0)
2018-11-14 11:30:24,312 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,315 INFO sqlalchemy.engine.base.Engine ('Diabetic retinopathy', 1, 0)
2018-11-14 11:30:24,323 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:24,325 INFO sqlalchemy.engine.base.Engine ('Visual impairment', 1, 0)
2018-11-14 11:30:24,328 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:24,330 INFO sqlalchemy.engine.base.Engine (691,)
2018-11-14 11:30:24,335 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:24,338 INFO sqlalchemy.engine.base.Engine ('Diabetic retinopathy',)
2018-11-14 11:30:26,634 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:26,640 INFO sqlalchemy.engine.base.Engine (929, 719)
2018-11-14 11:30:26,642 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:26,648 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:26,657 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:26,659 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:26,664 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:26,665 INFO sqlalchemy.engine.base.Engine (1, 58, 1)
2018-11-14 11:30:26,670 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,671 INFO sqlalchemy.engine.base.Engine ('TAFINLAR', 1, 0)
2018-11-14 11:30:26,676 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:26,678 INFO sqlalchemy.engine.base.Engine (720,)
2018-11-14 11:30:26,682 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:26,685 INFO sqlalchemy.engine.base.Engine (2061, 720)
2018-11-14 11:30:26,690 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,692 INFO sqlalchemy.engine.base.Engine ('Malignant melanoma', 1, 0)
2018-11-14 11:30:26,694 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,695 INFO sqlalchemy.engine.base.Engine ('Polyneuropathy', 1, 0)
2018-11-14 11:30:26,702 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,704 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:30:26,708 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,709 INFO sqlalchemy.engine.base.Engine ('Malignant neoplasm progression', 1, 0)
2018-11-14 11:30:26,712 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,715 INFO sqlalchemy.engine.base.Engine ('Pneumonia', 1, 0)
2018-11-14 11:30:26,722 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,725 INFO sqlalchemy.engine.base.Engine ('Peripheral swelling', 1, 0)
2018-11-14 11:30:26,728 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,729 INFO sqlalchemy.engine.base.Engine ('General physical health deterioration', 1, 0)
2018-11-14 11:30:26,730 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:26,731 INFO sqlalchemy.engine.base.Engine (720,)
2018-11-14 11:30:26,738 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:26,743 INFO sqlalchemy.engine.base.Engine ((918, 720), (215, 720), (382, 720), (277, 720), (103, 720), (653, 720), (123, 720))
2018-11-14 11:30:26,746 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:26,763 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:26,766 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:26,768 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:26,771 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:26,772 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:26,775 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,778 INFO sqlalchemy.engine.base.Engine ('AFINITOR', 1, 0)
2018-11-14 11:30:26,782 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,784 INFO sqlalchemy.engine.base.Engine ('AFINITOR DISPERZ', 1, 0)
2018-11-14 11:30:26,786 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:26,788 INFO sqlalchemy.engine.base.Engine (721,)
2018-11-14 11:30:26,797 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:26,798 INFO sqlalchemy.engine.base.Engine ((320, 721), (321, 721))
2018-11-14 11:30:26,801 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,802 INFO sqlalchemy.engine.base.Engine ('Disease progression', 1, 0)

2018-11-14 11:30:26,808 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:26,810 INFO sqlalchemy.engine.base.Engine (721,)
2018-11-14 11:30:26,812 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:26,813 INFO sqlalchemy.engine.base.Engine ('Disease progression',)
2018-11-14 11:30:26,817 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:26,818 INFO sqlalchemy.engine.base.Engine (930, 721)
2018-11-14 11:30:26,822 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:26,828 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:26,834 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:26,836 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:26,841 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:26,845 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:26,848 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,849 INFO sqlalchemy.engine.base.Engine ('AFINITOR', 1, 0)
2018-11-14 11:30:26,854 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,856 INFO sqlalchemy.engine.base.Engine ('AFINITOR DISPERZ', 1, 0)
2018-11-14 11:30:26,861 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:26,863 INFO sqlalchemy.engine.base.Engine (722,)
2018-11-14 11:30:26,868 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:26,870 INFO sqlalchemy.engine.base.Engine ((320, 722), (321, 722))
2018-11-14 11:30:26,873 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,874 INFO sqlalchemy.engine.base.Engine ('Disease progression', 1, 0)
2018-11-14 11:30:26,877 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:26,878 INFO sqlalchemy.engine.base.Engine (722,)
2018-11-14 11:30:26,882 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:26,884 INFO sqlalchemy.engine.base.Engine (930, 722)
2018-11-14 11:30:26,887 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:26,892 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:26,895 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:26,897 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:26,902 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:26,904 INFO sqlalchemy.engine.base.Engine (2, 22, 1)
2018-11-14 11:30:26,907 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,909 INFO sqlalchemy.engine.base.Engine ('AFINITOR', 1, 0)
2018-11-14 11:30:26,912 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,914 INFO sqlalchemy.engine.base.Engine ('AFINITOR DISPERZ', 1, 0)
2018-11-14 11:30:26,918 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:26,920 INFO sqlalchemy.engine.base.Engine (723,)
2018-11-14 11:30:26,924 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:26,927 INFO sqlalchemy.engine.base.Engine ((320, 723), (321, 723))
2018-11-14 11:30:26,930 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,931 INFO sqlalchemy.engine.base.Engine ('Psychotic disorder', 1, 0)
2018-11-14 11:30:26,934 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:26,939 INFO sqlalchemy.engine.base.Engine (723,)
2018-11-14 11:30:26,944 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:26,946 INFO sqlalchemy.engine.base.Engine (439, 723)
2018-11-14 11:30:26,947 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:26,956 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:26,958 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:26,960 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:26,965 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:26,968 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:26,972 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,977 INFO sqlalchemy.engine.base.Engine ('TASIGNA', 1, 0)
2018-11-14 11:30:26,980 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:26,982 INFO sqlalchemy.engine.base.Engine (724,)
2018-11-14 11:30:26,991 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:26,992 INFO sqlalchemy.engine.base.Engine (2105, 724)
2018-11-14 11:30:26,995 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:26,996 INFO sqlalchemy.engine.base.Engine ('Mouth haemorrhage', 1, 0)
2018-11-14 11:30:27,000 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,003 INFO sqlalchemy.engine.base.Engine ('Thrombocytopenia', 1, 0)
2018-11-14 11:30:27,007 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,009 INFO sqlalchemy.engine.base.Engine (724,)
2018-11-14 11:30:27,013 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,015 INFO sqlalchemy.engine.base.Engine ((228, 724), (388, 724))
2018-11-14 11:30:27,018 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,024 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,028 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,029 INFO sqlalchemy.engine.base.Engine (1,)

2018-11-14 11:30:27,035 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,037 INFO sqlalchemy.engine.base.Engine (2, 60, 1)
2018-11-14 11:30:27,040 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,041 INFO sqlalchemy.engine.base.Engine ('TASIGNA', 1, 0)
2018-11-14 11:30:27,044 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,046 INFO sqlalchemy.engine.base.Engine (725,)
2018-11-14 11:30:27,053 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,054 INFO sqlalchemy.engine.base.Engine (2105, 725)
2018-11-14 11:30:27,056 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,058 INFO sqlalchemy.engine.base.Engine ('Infection', 1, 0)
2018-11-14 11:30:27,060 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,062 INFO sqlalchemy.engine.base.Engine ('Oedema', 1, 0)
2018-11-14 11:30:27,069 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,071 INFO sqlalchemy.engine.base.Engine ('Pleural effusion', 1, 0)
2018-11-14 11:30:27,073 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,075 INFO sqlalchemy.engine.base.Engine (725,)
2018-11-14 11:30:27,079 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:27,080 INFO sqlalchemy.engine.base.Engine ('Oedema',)
2018-11-14 11:30:27,085 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,087 INFO sqlalchemy.engine.base.Engine ((831, 725), (238, 725), (931, 725))
2018-11-14 11:30:27,089 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,098 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,101 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,104 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,107 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,110 INFO sqlalchemy.engine.base.Engine (1, 93, 1)
2018-11-14 11:30:27,113 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,115 INFO sqlalchemy.engine.base.Engine ('ENTRESTO', 1, 0)
2018-11-14 11:30:27,116 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,118 INFO sqlalchemy.engine.base.Engine (726,)
2018-11-14 11:30:27,123 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,124 INFO sqlalchemy.engine.base.Engine (6, 726)
2018-11-14 11:30:27,129 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,130 INFO sqlalchemy.engine.base.Engine ('Hepatic infection bacterial', 1, 0)
2018-11-14 11:30:27,134 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,136 INFO sqlalchemy.engine.base.Engine ('Respiratory tract infection', 1, 0)
2018-11-14 11:30:27,142 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,143 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:27,146 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,147 INFO sqlalchemy.engine.base.Engine ('Sepsis', 1, 0)
2018-11-14 11:30:27,150 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,152 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:30:27,154 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,158 INFO sqlalchemy.engine.base.Engine (726,)
2018-11-14 11:30:27,163 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:27,165 INFO sqlalchemy.engine.base.Engine ('Hepatic infection bacterial',)
2018-11-14 11:30:27,169 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,171 INFO sqlalchemy.engine.base.Engine (932, 726)
2018-11-14 11:30:27,174 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,176 INFO sqlalchemy.engine.base.Engine ((383, 726), (120, 726), (111, 726), (660, 726))
2018-11-14 11:30:27,179 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,186 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,188 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,190 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,192 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,195 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:27,198 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,200 INFO sqlalchemy.engine.base.Engine ('PROMACTA', 1, 0)
2018-11-14 11:30:27,203 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,205 INFO sqlalchemy.engine.base.Engine (727,)
2018-11-14 11:30:27,209 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,210 INFO sqlalchemy.engine.base.Engine (323, 727)
2018-11-14 11:30:27,213 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,215 INFO sqlalchemy.engine.base.Engine ('Myocardial infarction', 1, 0)
2018-11-14 11:30:27,220 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,221 INFO sqlalchemy.engine.base.Engine (727,)
2018-11-14 11:30:27,226 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,228 INFO sqlalchemy.engine.base.Engine (447, 727)
2018-11-14 11:30:27,231 INFO sqlalchemy.engine.base.Engine COMMIT

2018-11-14 11:30:27,241 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,243 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,245 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,251 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,252 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:27,255 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,257 INFO sqlalchemy.engine.base.Engine ('TYKERB', 1, 0)
2018-11-14 11:30:27,261 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,262 INFO sqlalchemy.engine.base.Engine (728,)
2018-11-14 11:30:27,266 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:27,269 INFO sqlalchemy.engine.base.Engine ('TYKERB',)
2018-11-14 11:30:27,274 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,275 INFO sqlalchemy.engine.base.Engine (2179, 728)
2018-11-14 11:30:27,280 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,282 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:27,286 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,287 INFO sqlalchemy.engine.base.Engine (728,)
2018-11-14 11:30:27,291 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,292 INFO sqlalchemy.engine.base.Engine (111, 728)
2018-11-14 11:30:27,294 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,303 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,305 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,307 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,310 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,311 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:27,315 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,317 INFO sqlalchemy.engine.base.Engine ('Disease progression', 1, 0)
2018-11-14 11:30:27,323 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,325 INFO sqlalchemy.engine.base.Engine ('Breast neoplasm', 1, 0)
2018-11-14 11:30:27,328 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,330 INFO sqlalchemy.engine.base.Engine ('General physical health deterioration', 1, 0)
2018-11-14 11:30:27,333 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,337 INFO sqlalchemy.engine.base.Engine ('Neoplasm recurrence', 1, 0)
2018-11-14 11:30:27,340 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,341 INFO sqlalchemy.engine.base.Engine ('Spinal cord infarction', 1, 0)
2018-11-14 11:30:27,345 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,347 INFO sqlalchemy.engine.base.Engine ('Paraplegia', 1, 0)
2018-11-14 11:30:27,349 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,352 INFO sqlalchemy.engine.base.Engine (729,)
2018-11-14 11:30:27,359 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:27,361 INFO sqlalchemy.engine.base.Engine ('Breast neoplasm',)
2018-11-14 11:30:27,362 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:27,364 INFO sqlalchemy.engine.base.Engine ('Paraplegia',)
2018-11-14 11:30:27,366 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:27,367 INFO sqlalchemy.engine.base.Engine ('Neoplasm recurrence',)
2018-11-14 11:30:27,371 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:27,374 INFO sqlalchemy.engine.base.Engine ('Spinal cord infarction',)
2018-11-14 11:30:27,376 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,377 INFO sqlalchemy.engine.base.Engine ((933, 729), (934, 729), (935, 729), (936, 729), (382, 729), (930, 729))
2018-11-14 11:30:27,380 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,386 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,388 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,389 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,390 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,392 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:27,395 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,397 INFO sqlalchemy.engine.base.Engine ('MEKINIST', 1, 0)
2018-11-14 11:30:27,401 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,403 INFO sqlalchemy.engine.base.Engine (730,)
2018-11-14 11:30:27,409 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,411 INFO sqlalchemy.engine.base.Engine (2144, 730)
2018-11-14 11:30:27,414 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,416 INFO sqlalchemy.engine.base.Engine ('Memory impairment', 1, 0)
2018-11-14 11:30:27,418 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,421 INFO sqlalchemy.engine.base.Engine (730,)
2018-11-14 11:30:27,425 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:27,426 INFO sqlalchemy.engine.base.Engine ('Memory impairment',)
2018-11-14 11:30:27,428 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,430 INFO sqlalchemy.engine.base.Engine (937, 730)
2018-11-14 11:30:27,436 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,447 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,450 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:30:27,454 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,457 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,459 INFO sqlalchemy.engine.base.Engine (2, 84, 1)
2018-11-14 11:30:27,463 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,464 INFO sqlalchemy.engine.base.Engine ('TAFINLAR', 1, 0)
2018-11-14 11:30:27,470 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,479 INFO sqlalchemy.engine.base.Engine (731,)
2018-11-14 11:30:27,484 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,486 INFO sqlalchemy.engine.base.Engine (2061, 731)
2018-11-14 11:30:27,491 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,492 INFO sqlalchemy.engine.base.Engine ('Disseminated intravascular coagulation', 1, 0)
2018-11-14 11:30:27,495 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,496 INFO sqlalchemy.engine.base.Engine (731,)
2018-11-14 11:30:27,502 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,504 INFO sqlalchemy.engine.base.Engine (424, 731)
2018-11-14 11:30:27,507 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,516 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,518 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,520 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,525 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,526 INFO sqlalchemy.engine.base.Engine (2, 80, 1)
2018-11-14 11:30:27,530 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,533 INFO sqlalchemy.engine.base.Engine ('VOTRIENT', 1, 0)
2018-11-14 11:30:27,540 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,541 INFO sqlalchemy.engine.base.Engine (732,)
2018-11-14 11:30:27,546 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,548 INFO sqlalchemy.engine.base.Engine (1764, 732)
2018-11-14 11:30:27,554 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,555 INFO sqlalchemy.engine.base.Engine ('Disseminated intravascular coagulation', 1, 0)
2018-11-14 11:30:27,559 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,561 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:30:27,563 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,565 INFO sqlalchemy.engine.base.Engine (732,)
2018-11-14 11:30:27,569 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,571 INFO sqlalchemy.engine.base.Engine ((424, 732), (103, 732))
2018-11-14 11:30:27,573 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,582 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,590 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,592 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,595 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,596 INFO sqlalchemy.engine.base.Engine (2, 56, 1)
2018-11-14 11:30:27,600 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,602 INFO sqlalchemy.engine.base.Engine ('SANDOSTATIN LAR DEPOT', 1, 0)
2018-11-14 11:30:27,605 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,606 INFO sqlalchemy.engine.base.Engine (733,)
2018-11-14 11:30:27,611 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,613 INFO sqlalchemy.engine.base.Engine (48, 733)
2018-11-14 11:30:27,616 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,617 INFO sqlalchemy.engine.base.Engine ('Tricuspid valve incompetence', 1, 0)
2018-11-14 11:30:27,620 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,621 INFO sqlalchemy.engine.base.Engine ('Post procedural complication', 1, 0)
2018-11-14 11:30:27,625 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,626 INFO sqlalchemy.engine.base.Engine ('Malnutrition', 1, 0)
2018-11-14 11:30:27,628 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,628 INFO sqlalchemy.engine.base.Engine ('Cardiac failure acute', 1, 0)
2018-11-14 11:30:27,633 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,636 INFO sqlalchemy.engine.base.Engine ('Tumour marker increased', 1, 0)
2018-11-14 11:30:27,645 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,647 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:30:27,649 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,650 INFO sqlalchemy.engine.base.Engine (733,)
2018-11-14 11:30:27,656 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:27,658 INFO sqlalchemy.engine.base.Engine ('Tricuspid valve incompetence',)
2018-11-14 11:30:27,660 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,662 INFO sqlalchemy.engine.base.Engine (938, 733)
2018-11-14 11:30:27,664 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,665 INFO sqlalchemy.engine.base.Engine ((929, 733), (313, 733), (693, 733), (26, 733), (273, 733))
2018-11-14 11:30:27,667 INFO sqlalchemy.engine.base.Engine COMMIT

2018-11-14 11:30:27,673 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,676 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,680 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,683 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,685 INFO sqlalchemy.engine.base.Engine (1, 50, 1)
2018-11-14 11:30:27,691 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,693 INFO sqlalchemy.engine.base.Engine ('COSENTYX', 1, 0)
2018-11-14 11:30:27,696 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,697 INFO sqlalchemy.engine.base.Engine (734,)
2018-11-14 11:30:27,704 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,705 INFO sqlalchemy.engine.base.Engine (219, 734)
2018-11-14 11:30:27,707 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,709 INFO sqlalchemy.engine.base.Engine ('Gastric cancer', 1, 0)
2018-11-14 11:30:27,713 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,714 INFO sqlalchemy.engine.base.Engine (734,)
2018-11-14 11:30:27,721 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,722 INFO sqlalchemy.engine.base.Engine (768, 734)
2018-11-14 11:30:27,724 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,730 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,733 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,736 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,740 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,742 INFO sqlalchemy.engine.base.Engine (1, 8, 1)
2018-11-14 11:30:27,746 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,748 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:27,751 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,753 INFO sqlalchemy.engine.base.Engine (735,)
2018-11-14 11:30:27,757 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,758 INFO sqlalchemy.engine.base.Engine (17, 735)
2018-11-14 11:30:27,761 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,762 INFO sqlalchemy.engine.base.Engine ('Abdominal pain', 1, 0)
2018-11-14 11:30:27,768 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,780 INFO sqlalchemy.engine.base.Engine ('Injection site pain', 1, 0)
2018-11-14 11:30:27,783 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,785 INFO sqlalchemy.engine.base.Engine ('White blood cell count decreased', 1, 0)
2018-11-14 11:30:27,789 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,792 INFO sqlalchemy.engine.base.Engine (735,)
2018-11-14 11:30:27,798 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,800 INFO sqlalchemy.engine.base.Engine ((270, 735), (20, 735), (641, 735))
2018-11-14 11:30:27,803 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,810 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,813 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,815 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,819 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,821 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:27,825 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,826 INFO sqlalchemy.engine.base.Engine ('ENTRESTO', 1, 0)
2018-11-14 11:30:27,829 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,832 INFO sqlalchemy.engine.base.Engine (736,)
2018-11-14 11:30:27,837 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,838 INFO sqlalchemy.engine.base.Engine (6, 736)
2018-11-14 11:30:27,841 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,842 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:27,848 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,850 INFO sqlalchemy.engine.base.Engine (736,)
2018-11-14 11:30:27,854 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,856 INFO sqlalchemy.engine.base.Engine (111, 736)
2018-11-14 11:30:27,858 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,863 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,881 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,882 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,885 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,889 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:27,893 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,895 INFO sqlalchemy.engine.base.Engine ('ZOMIG', 1, 0)
2018-11-14 11:30:27,899 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:27,901 INFO sqlalchemy.engine.base.Engine (737,)
2018-11-14 11:30:27,907 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:27,909 INFO sqlalchemy.engine.base.Engine ('ZOMIG',)
2018-11-14 11:30:27,912 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)

2018-11-14 11:30:27,914 INFO sqlalchemy.engine.base.Engine (2180, 737)
2018-11-14 11:30:27,917 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,919 INFO sqlalchemy.engine.base.Engine ('Foetal growth restriction', 1, 0)
2018-11-14 11:30:27,922 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,924 INFO sqlalchemy.engine.base.Engine (737,)
2018-11-14 11:30:27,928 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:27,929 INFO sqlalchemy.engine.base.Engine ('Foetal growth restriction',)
2018-11-14 11:30:27,931 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:27,932 INFO sqlalchemy.engine.base.Engine (939, 737)
2018-11-14 11:30:27,934 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:27,944 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:27,947 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:27,949 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:27,953 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:27,955 INFO sqlalchemy.engine.base.Engine (1, 70, 1)
2018-11-14 11:30:27,959 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,961 INFO sqlalchemy.engine.base.Engine ('Myalgia', 1, 0)
2018-11-14 11:30:27,964 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,966 INFO sqlalchemy.engine.base.Engine ('Condition aggravated', 1, 0)
2018-11-14 11:30:27,968 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,970 INFO sqlalchemy.engine.base.Engine ('Testicular pain', 1, 0)
2018-11-14 11:30:27,976 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,977 INFO sqlalchemy.engine.base.Engine ('Formication', 1, 0)
2018-11-14 11:30:27,980 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,981 INFO sqlalchemy.engine.base.Engine ('Hyperkalaemia', 1, 0)
2018-11-14 11:30:27,985 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:27,987 INFO sqlalchemy.engine.base.Engine ('Arthralgia', 1, 0)
2018-11-14 11:30:27,989 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:27,991 INFO sqlalchemy.engine.base.Engine (738,)
2018-11-14 11:30:27,995 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:27,997 INFO sqlalchemy.engine.base.Engine ('Formication',)
2018-11-14 11:30:28,001 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:28,004 INFO sqlalchemy.engine.base.Engine ('Testicular pain',)
2018-11-14 11:30:28,007 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,008 INFO sqlalchemy.engine.base.Engine ((941, 738), (940, 738))
2018-11-14 11:30:28,011 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,014 INFO sqlalchemy.engine.base.Engine ((164, 738), (401, 738), (32, 738), (112, 738))
2018-11-14 11:30:28,018 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,025 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,028 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,030 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,036 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,038 INFO sqlalchemy.engine.base.Engine (2, 27, 1)
2018-11-14 11:30:28,042 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,044 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:30:28,047 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,048 INFO sqlalchemy.engine.base.Engine ('Paraesthesia', 1, 0)
2018-11-14 11:30:28,052 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,058 INFO sqlalchemy.engine.base.Engine ('Hypoaesthesia oral', 1, 0)
2018-11-14 11:30:28,061 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,063 INFO sqlalchemy.engine.base.Engine ('Dry mouth', 1, 0)
2018-11-14 11:30:28,065 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,067 INFO sqlalchemy.engine.base.Engine ('Anaphylactic reaction', 1, 0)
2018-11-14 11:30:28,073 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,075 INFO sqlalchemy.engine.base.Engine (739,)
2018-11-14 11:30:28,079 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:28,081 INFO sqlalchemy.engine.base.Engine ('Hypoaesthesia oral',)
2018-11-14 11:30:28,083 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,084 INFO sqlalchemy.engine.base.Engine ((700, 739), (36, 739), (3, 739), (942, 739), (352, 739))
2018-11-14 11:30:28,090 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,096 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,098 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,101 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,105 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,107 INFO sqlalchemy.engine.base.Engine (2, 72, 1)
2018-11-14 11:30:28,110 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,112 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:28,114 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,115 INFO sqlalchemy.engine.base.Engine (740,)

2018-11-14 11:30:28,119 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,123 INFO sqlalchemy.engine.base.Engine (17, 740)
2018-11-14 11:30:28,127 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,128 INFO sqlalchemy.engine.base.Engine ('Pneumonia', 1, 0)
2018-11-14 11:30:28,134 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,135 INFO sqlalchemy.engine.base.Engine (740,)
2018-11-14 11:30:28,139 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,141 INFO sqlalchemy.engine.base.Engine (215, 740)
2018-11-14 11:30:28,144 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,158 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,164 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,166 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,168 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,170 INFO sqlalchemy.engine.base.Engine (2, 41, 1)
2018-11-14 11:30:28,172 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,174 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:28,177 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,179 INFO sqlalchemy.engine.base.Engine (741,)
2018-11-14 11:30:28,183 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,185 INFO sqlalchemy.engine.base.Engine (17, 741)
2018-11-14 11:30:28,188 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,190 INFO sqlalchemy.engine.base.Engine ('Neck surgery', 1, 0)
2018-11-14 11:30:28,193 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,194 INFO sqlalchemy.engine.base.Engine (741,)
2018-11-14 11:30:28,199 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,200 INFO sqlalchemy.engine.base.Engine (271, 741)
2018-11-14 11:30:28,203 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,208 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,211 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,213 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,215 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,217 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:28,220 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,223 INFO sqlalchemy.engine.base.Engine ('VECTIBIX', 1, 0)
2018-11-14 11:30:28,225 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,227 INFO sqlalchemy.engine.base.Engine (742,)
2018-11-14 11:30:28,232 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:28,236 INFO sqlalchemy.engine.base.Engine ('VECTIBIX',)
2018-11-14 11:30:28,241 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,243 INFO sqlalchemy.engine.base.Engine (2181, 742)
2018-11-14 11:30:28,246 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,248 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:28,249 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,252 INFO sqlalchemy.engine.base.Engine (742,)
2018-11-14 11:30:28,259 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,260 INFO sqlalchemy.engine.base.Engine (111, 742)
2018-11-14 11:30:28,262 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,268 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,271 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,273 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,276 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,279 INFO sqlalchemy.engine.base.Engine (1, 46, 1)
2018-11-14 11:30:28,282 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,283 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:28,286 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,289 INFO sqlalchemy.engine.base.Engine (743,)
2018-11-14 11:30:28,294 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,295 INFO sqlalchemy.engine.base.Engine (17, 743)
2018-11-14 11:30:28,298 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,300 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:30:28,305 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,307 INFO sqlalchemy.engine.base.Engine (743,)
2018-11-14 11:30:28,311 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,313 INFO sqlalchemy.engine.base.Engine (120, 743)
2018-11-14 11:30:28,314 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,319 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,324 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,327 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,330 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,331 INFO sqlalchemy.engine.base.Engine (2, 66, 1)
2018-11-14 11:30:28,335 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,336 INFO sqlalchemy.engine.base.Engine ('Brain neoplasm', 1, 0)

2018-11-14 11:30:28,340 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,342 INFO sqlalchemy.engine.base.Engine (744,)
2018-11-14 11:30:28,347 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,348 INFO sqlalchemy.engine.base.Engine (568, 744)
2018-11-14 11:30:28,351 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,361 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,364 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,365 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,368 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,369 INFO sqlalchemy.engine.base.Engine (2, 52, 1)
2018-11-14 11:30:28,375 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,377 INFO sqlalchemy.engine.base.Engine ('OTEZLA', 1, 0)
2018-11-14 11:30:28,380 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,384 INFO sqlalchemy.engine.base.Engine (745,)
2018-11-14 11:30:28,387 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,389 INFO sqlalchemy.engine.base.Engine (2177, 745)
2018-11-14 11:30:28,392 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,393 INFO sqlalchemy.engine.base.Engine ('Abdominal discomfort', 1, 0)
2018-11-14 11:30:28,396 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,398 INFO sqlalchemy.engine.base.Engine ('Headache', 1, 0)
2018-11-14 11:30:28,401 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,402 INFO sqlalchemy.engine.base.Engine (745,)
2018-11-14 11:30:28,407 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,409 INFO sqlalchemy.engine.base.Engine ((11, 745), (125, 745))
2018-11-14 11:30:28,411 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,422 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,424 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,428 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,429 INFO sqlalchemy.engine.base.Engine (2, 60, 1)
2018-11-14 11:30:28,432 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,434 INFO sqlalchemy.engine.base.Engine ('METFORMIN HYDROCHLORIDE', 1, 0)
2018-11-14 11:30:28,436 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,438 INFO sqlalchemy.engine.base.Engine ('METFORMIN', 1, 0)
2018-11-14 11:30:28,443 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,444 INFO sqlalchemy.engine.base.Engine (746,)
2018-11-14 11:30:28,449 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,450 INFO sqlalchemy.engine.base.Engine ((226, 746), (1944, 746))
2018-11-14 11:30:28,454 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,456 INFO sqlalchemy.engine.base.Engine ('Gastroenteritis viral', 1, 0)
2018-11-14 11:30:28,459 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,462 INFO sqlalchemy.engine.base.Engine ('Drug dose omission', 1, 0)
2018-11-14 11:30:28,464 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,465 INFO sqlalchemy.engine.base.Engine (746,)
2018-11-14 11:30:28,469 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,470 INFO sqlalchemy.engine.base.Engine ((104, 746), (288, 746))
2018-11-14 11:30:28,473 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,480 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,497 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,498 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,502 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,506 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:28,510 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,512 INFO sqlalchemy.engine.base.Engine ('BYDUREON', 1, 0)
2018-11-14 11:30:28,514 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,516 INFO sqlalchemy.engine.base.Engine (747,)
2018-11-14 11:30:28,521 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:28,524 INFO sqlalchemy.engine.base.Engine ('BYDUREON',)
2018-11-14 11:30:28,527 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,527 INFO sqlalchemy.engine.base.Engine (2182, 747)
2018-11-14 11:30:28,530 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,531 INFO sqlalchemy.engine.base.Engine ('Urinary tract infection', 1, 0)
2018-11-14 11:30:28,533 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,534 INFO sqlalchemy.engine.base.Engine (747,)
2018-11-14 11:30:28,537 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,539 INFO sqlalchemy.engine.base.Engine (19, 747)
2018-11-14 11:30:28,542 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,547 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,550 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,552 INFO sqlalchemy.engine.base.Engine (1,)

2018-11-14 11:30:28,556 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,561 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:28,565 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,568 INFO sqlalchemy.engine.base.Engine ('LANTUS', 1, 0)
2018-11-14 11:30:28,571 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,573 INFO sqlalchemy.engine.base.Engine (748,)
2018-11-14 11:30:28,582 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:28,585 INFO sqlalchemy.engine.base.Engine ('LANTUS',)
2018-11-14 11:30:28,587 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,589 INFO sqlalchemy.engine.base.Engine (2183, 748)
2018-11-14 11:30:28,593 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,594 INFO sqlalchemy.engine.base.Engine ('Neoplasm malignant', 1, 0)
2018-11-14 11:30:28,598 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,599 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:30:28,602 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,604 INFO sqlalchemy.engine.base.Engine (748,)
2018-11-14 11:30:28,610 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,612 INFO sqlalchemy.engine.base.Engine ((640, 748), (36, 748))
2018-11-14 11:30:28,615 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,623 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,626 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,628 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,631 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,632 INFO sqlalchemy.engine.base.Engine (1, 76, 1)
2018-11-14 11:30:28,635 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,639 INFO sqlalchemy.engine.base.Engine ('LANTUS SOLOSTAR', 1, 0)
2018-11-14 11:30:28,642 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,644 INFO sqlalchemy.engine.base.Engine (749,)
2018-11-14 11:30:28,650 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:28,652 INFO sqlalchemy.engine.base.Engine ('LANTUS SOLOSTAR',)
2018-11-14 11:30:28,655 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,658 INFO sqlalchemy.engine.base.Engine (2184, 749)
2018-11-14 11:30:28,663 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,664 INFO sqlalchemy.engine.base.Engine ('Product use issue', 1, 0)
2018-11-14 11:30:28,667 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,669 INFO sqlalchemy.engine.base.Engine ('Device issue', 1, 0)
2018-11-14 11:30:28,671 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,673 INFO sqlalchemy.engine.base.Engine ('Wrong technique in device usage process', 1, 0)
2018-11-14 11:30:28,676 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,677 INFO sqlalchemy.engine.base.Engine ('Cerebrovascular accident', 1, 0)
2018-11-14 11:30:28,681 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,683 INFO sqlalchemy.engine.base.Engine (749,)
2018-11-14 11:30:28,691 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:28,693 INFO sqlalchemy.engine.base.Engine ('Device issue',)
2018-11-14 11:30:28,694 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:28,696 INFO sqlalchemy.engine.base.Engine ('Wrong technique in device usage process',)
2018-11-14 11:30:28,700 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,701 INFO sqlalchemy.engine.base.Engine ((943, 749), (944, 749))
2018-11-14 11:30:28,704 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,706 INFO sqlalchemy.engine.base.Engine ((47, 749), (231, 749))
2018-11-14 11:30:28,709 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,715 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,718 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,723 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,726 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,727 INFO sqlalchemy.engine.base.Engine (2, 65, 1)
2018-11-14 11:30:28,730 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,732 INFO sqlalchemy.engine.base.Engine ('Injection site rash', 1, 0)
2018-11-14 11:30:28,735 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,737 INFO sqlalchemy.engine.base.Engine (750,)
2018-11-14 11:30:28,741 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,743 INFO sqlalchemy.engine.base.Engine (794, 750)
2018-11-14 11:30:28,745 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,751 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,753 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,756 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,759 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,762 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:28,765 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,768 INFO sqlalchemy.engine.base.Engine ('PROCRIT', 1, 0)
2018-11-14 11:30:28,779 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id

2018-11-14 11:30:28,782 INFO sqlalchemy.engine.base.Engine (751,)
2018-11-14 11:30:28,785 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:28,787 INFO sqlalchemy.engine.base.Engine ('PROCRIT',)
2018-11-14 11:30:28,790 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,792 INFO sqlalchemy.engine.base.Engine (2185, 751)
2018-11-14 11:30:28,795 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,796 INFO sqlalchemy.engine.base.Engine ('Renal impairment', 1, 0)
2018-11-14 11:30:28,799 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,801 INFO sqlalchemy.engine.base.Engine ('Erythropoiesis abnormal', 1, 0)
2018-11-14 11:30:28,803 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,804 INFO sqlalchemy.engine.base.Engine (751,)
2018-11-14 11:30:28,808 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:28,811 INFO sqlalchemy.engine.base.Engine ('Erythropoiesis abnormal',)
2018-11-14 11:30:28,814 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,816 INFO sqlalchemy.engine.base.Engine ((405, 751), (945, 751))
2018-11-14 11:30:28,819 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,827 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,830 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,832 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,836 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,838 INFO sqlalchemy.engine.base.Engine (2, 65, 1)
2018-11-14 11:30:28,841 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,843 INFO sqlalchemy.engine.base.Engine ('LANTUS SOLOSTAR', 1, 0)
2018-11-14 11:30:28,846 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,847 INFO sqlalchemy.engine.base.Engine (752,)
2018-11-14 11:30:28,853 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,854 INFO sqlalchemy.engine.base.Engine (2184, 752)
2018-11-14 11:30:28,857 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,858 INFO sqlalchemy.engine.base.Engine ('Cardiac disorder', 1, 0)
2018-11-14 11:30:28,860 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,861 INFO sqlalchemy.engine.base.Engine (752,)
2018-11-14 11:30:28,867 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,869 INFO sqlalchemy.engine.base.Engine (325, 752)
2018-11-14 11:30:28,871 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,880 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,882 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,890 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,892 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,894 INFO sqlalchemy.engine.base.Engine (2, 68, 1)
2018-11-14 11:30:28,902 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,910 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:28,912 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,914 INFO sqlalchemy.engine.base.Engine (753,)
2018-11-14 11:30:28,920 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,924 INFO sqlalchemy.engine.base.Engine (17, 753)
2018-11-14 11:30:28,928 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,930 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:30:28,933 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:28,934 INFO sqlalchemy.engine.base.Engine (753,)
2018-11-14 11:30:28,938 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,941 INFO sqlalchemy.engine.base.Engine (120, 753)
2018-11-14 11:30:28,943 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:28,951 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:28,954 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:28,957 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:28,960 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:28,961 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:28,965 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,971 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:28,976 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:28,979 INFO sqlalchemy.engine.base.Engine (754,)
2018-11-14 11:30:28,987 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:28,993 INFO sqlalchemy.engine.base.Engine (17, 754)
2018-11-14 11:30:28,996 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:28,997 INFO sqlalchemy.engine.base.Engine ('Rheumatoid arthritis', 1, 0)
2018-11-14 11:30:28,999 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,000 INFO sqlalchemy.engine.base.Engine (754,)
2018-11-14 11:30:29,004 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,006 INFO sqlalchemy.engine.base.Engine (140, 754)
2018-11-14 11:30:29,008 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,019 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,028 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?

2018-11-14 11:30:29,030 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,033 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,034 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:29,039 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,041 INFO sqlalchemy.engine.base.Engine ('PRADAXA', 1, 0)
2018-11-14 11:30:29,043 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,045 INFO sqlalchemy.engine.base.Engine (755,)
2018-11-14 11:30:29,051 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,052 INFO sqlalchemy.engine.base.Engine (36, 755)
2018-11-14 11:30:29,056 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,057 INFO sqlalchemy.engine.base.Engine ('Cerebrovascular accident', 1, 0)
2018-11-14 11:30:29,061 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,062 INFO sqlalchemy.engine.base.Engine (755,)
2018-11-14 11:30:29,066 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,068 INFO sqlalchemy.engine.base.Engine (231, 755)
2018-11-14 11:30:29,074 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,081 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,085 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,087 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,089 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,093 INFO sqlalchemy.engine.base.Engine (2, 60, 1)
2018-11-14 11:30:29,100 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,102 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:29,105 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,109 INFO sqlalchemy.engine.base.Engine (756,)
2018-11-14 11:30:29,114 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,116 INFO sqlalchemy.engine.base.Engine (17, 756)
2018-11-14 11:30:29,119 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,121 INFO sqlalchemy.engine.base.Engine ('Aphonia', 1, 0)
2018-11-14 11:30:29,126 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,127 INFO sqlalchemy.engine.base.Engine ('Cough', 1, 0)
2018-11-14 11:30:29,129 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,130 INFO sqlalchemy.engine.base.Engine (756,)
2018-11-14 11:30:29,133 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,135 INFO sqlalchemy.engine.base.Engine ((901, 756), (134, 756))
2018-11-14 11:30:29,138 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,143 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,144 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,147 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,152 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,155 INFO sqlalchemy.engine.base.Engine (1, 65, 1)
2018-11-14 11:30:29,160 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,161 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:29,164 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,166 INFO sqlalchemy.engine.base.Engine (757,)
2018-11-14 11:30:29,177 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,179 INFO sqlalchemy.engine.base.Engine (17, 757)
2018-11-14 11:30:29,181 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,183 INFO sqlalchemy.engine.base.Engine ('Acne', 1, 0)
2018-11-14 11:30:29,185 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,187 INFO sqlalchemy.engine.base.Engine (757,)
2018-11-14 11:30:29,199 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,202 INFO sqlalchemy.engine.base.Engine (410, 757)
2018-11-14 11:30:29,204 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,212 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,215 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,217 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,223 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,224 INFO sqlalchemy.engine.base.Engine (2, 44, 1)
2018-11-14 11:30:29,228 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,229 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:29,233 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,235 INFO sqlalchemy.engine.base.Engine (758,)
2018-11-14 11:30:29,240 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,243 INFO sqlalchemy.engine.base.Engine (17, 758)
2018-11-14 11:30:29,245 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,248 INFO sqlalchemy.engine.base.Engine ('Onychomadesis', 1, 0)
2018-11-14 11:30:29,252 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,254 INFO sqlalchemy.engine.base.Engine ('Therapy non-responder', 1, 0)
2018-11-14 11:30:29,260 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?

 LIMIT ? OFFSET ?
2018-11-14 11:30:29,263 INFO sqlalchemy.engine.base.Engine ('Alopecia', 1, 0)
2018-11-14 11:30:29,265 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,266 INFO sqlalchemy.engine.base.Engine (758,)
2018-11-14 11:30:29,271 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,277 INFO sqlalchemy.engine.base.Engine ((635, 758), (400, 758), (173, 758))
2018-11-14 11:30:29,280 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,292 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,295 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,297 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,299 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,300 INFO sqlalchemy.engine.base.Engine (2, 91, 1)
2018-11-14 11:30:29,310 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,312 INFO sqlalchemy.engine.base.Engine ('LANTUS', 1, 0)
2018-11-14 11:30:29,317 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,319 INFO sqlalchemy.engine.base.Engine (759,)
2018-11-14 11:30:29,324 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,326 INFO sqlalchemy.engine.base.Engine (2183, 759)
2018-11-14 11:30:29,328 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,331 INFO sqlalchemy.engine.base.Engine ('Pulmonary oedema', 1, 0)
2018-11-14 11:30:29,337 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,338 INFO sqlalchemy.engine.base.Engine ('Neoplasm', 1, 0)
2018-11-14 11:30:29,342 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,344 INFO sqlalchemy.engine.base.Engine (759,)
2018-11-14 11:30:29,347 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:29,349 INFO sqlalchemy.engine.base.Engine ('Neoplasm',)
2018-11-14 11:30:29,351 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,353 INFO sqlalchemy.engine.base.Engine ((774, 759), (946, 759))
2018-11-14 11:30:29,356 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,364 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,367 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,369 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,374 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,377 INFO sqlalchemy.engine.base.Engine (1, 76, 1)
2018-11-14 11:30:29,382 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,384 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:29,386 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,392 INFO sqlalchemy.engine.base.Engine (760,)
2018-11-14 11:30:29,396 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,397 INFO sqlalchemy.engine.base.Engine (17, 760)
2018-11-14 11:30:29,401 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,403 INFO sqlalchemy.engine.base.Engine ('Rheumatoid arthritis', 1, 0)
2018-11-14 11:30:29,405 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,407 INFO sqlalchemy.engine.base.Engine ('Surgery', 1, 0)
2018-11-14 11:30:29,411 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,412 INFO sqlalchemy.engine.base.Engine (760,)
2018-11-14 11:30:29,419 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,420 INFO sqlalchemy.engine.base.Engine ((140, 760), (799, 760))
2018-11-14 11:30:29,424 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,430 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,433 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,434 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,437 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,440 INFO sqlalchemy.engine.base.Engine (2, 61, 1)
2018-11-14 11:30:29,442 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,444 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:29,448 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,449 INFO sqlalchemy.engine.base.Engine (761,)
2018-11-14 11:30:29,454 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,455 INFO sqlalchemy.engine.base.Engine (17, 761)
2018-11-14 11:30:29,459 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,461 INFO sqlalchemy.engine.base.Engine ('Ovarian cancer', 1, 0)
2018-11-14 11:30:29,463 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,465 INFO sqlalchemy.engine.base.Engine (761,)
2018-11-14 11:30:29,468 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:29,471 INFO sqlalchemy.engine.base.Engine ('Ovarian cancer',)
2018-11-14 11:30:29,477 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,479 INFO sqlalchemy.engine.base.Engine (947, 761)
2018-11-14 11:30:29,483 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,496 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,499 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,531 INFO sqlalchemy.engine.base.Engine (1,)

2018-11-14 11:30:29,535 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,537 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:29,540 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,543 INFO sqlalchemy.engine.base.Engine ('Investigation', 1, 0)
2018-11-14 11:30:29,548 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,552 INFO sqlalchemy.engine.base.Engine (762,)
2018-11-14 11:30:29,555 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:29,558 INFO sqlalchemy.engine.base.Engine ('Investigation',)
2018-11-14 11:30:29,562 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,564 INFO sqlalchemy.engine.base.Engine (948, 762)
2018-11-14 11:30:29,566 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,572 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,576 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,578 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,581 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,582 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:29,588 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,590 INFO sqlalchemy.engine.base.Engine ('SOLIRIS', 1, 0)
2018-11-14 11:30:29,594 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,609 INFO sqlalchemy.engine.base.Engine (763,)
2018-11-14 11:30:29,614 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,615 INFO sqlalchemy.engine.base.Engine (2160, 763)
2018-11-14 11:30:29,618 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,620 INFO sqlalchemy.engine.base.Engine ('Nausea', 1, 0)
2018-11-14 11:30:29,628 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,630 INFO sqlalchemy.engine.base.Engine ('Gastroenteritis viral', 1, 0)
2018-11-14 11:30:29,632 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,634 INFO sqlalchemy.engine.base.Engine ('Diarrhoea', 1, 0)
2018-11-14 11:30:29,636 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,637 INFO sqlalchemy.engine.base.Engine (763,)
2018-11-14 11:30:29,642 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,643 INFO sqlalchemy.engine.base.Engine ((26, 763), (288, 763), (143, 763))
2018-11-14 11:30:29,646 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,652 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,655 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,659 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,663 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,664 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:29,667 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,669 INFO sqlalchemy.engine.base.Engine ('LANTUS', 1, 0)
2018-11-14 11:30:29,672 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,673 INFO sqlalchemy.engine.base.Engine (764,)
2018-11-14 11:30:29,678 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,680 INFO sqlalchemy.engine.base.Engine (2183, 764)
2018-11-14 11:30:29,685 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,687 INFO sqlalchemy.engine.base.Engine ('Blood glucose abnormal', 1, 0)
2018-11-14 11:30:29,690 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,692 INFO sqlalchemy.engine.base.Engine ('Hospitalisation', 1, 0)
2018-11-14 11:30:29,694 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,696 INFO sqlalchemy.engine.base.Engine (764,)
2018-11-14 11:30:29,700 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:29,701 INFO sqlalchemy.engine.base.Engine ('Blood glucose abnormal',)
2018-11-14 11:30:29,703 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,704 INFO sqlalchemy.engine.base.Engine ((949, 764), (650, 764))
2018-11-14 11:30:29,710 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,722 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,728 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,731 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,734 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,736 INFO sqlalchemy.engine.base.Engine (1, 64, 1)
2018-11-14 11:30:29,740 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,742 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:29,744 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,747 INFO sqlalchemy.engine.base.Engine (765,)
2018-11-14 11:30:29,752 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,754 INFO sqlalchemy.engine.base.Engine (17, 765)
2018-11-14 11:30:29,757 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,759 INFO sqlalchemy.engine.base.Engine ('Accidental exposure to product', 1, 0)
2018-11-14 11:30:29,762 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id

2018-11-14 11:30:29,764 INFO sqlalchemy.engine.base.Engine (765,)
2018-11-14 11:30:29,768 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,768 INFO sqlalchemy.engine.base.Engine (471, 765)
2018-11-14 11:30:29,771 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,780 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,783 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,785 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,788 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,789 INFO sqlalchemy.engine.base.Engine (2, 47, 1)
2018-11-14 11:30:29,797 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,799 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:29,801 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:29,802 INFO sqlalchemy.engine.base.Engine (766,)
2018-11-14 11:30:29,806 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,808 INFO sqlalchemy.engine.base.Engine (17, 766)
2018-11-14 11:30:29,811 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,812 INFO sqlalchemy.engine.base.Engine ('Injection site rash', 1, 0)
2018-11-14 11:30:29,815 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,817 INFO sqlalchemy.engine.base.Engine (766,)
2018-11-14 11:30:29,820 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:29,822 INFO sqlalchemy.engine.base.Engine (794, 766)
2018-11-14 11:30:29,825 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:29,831 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:29,834 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:29,837 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:29,840 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:29,842 INFO sqlalchemy.engine.base.Engine (2, 93, 1)
2018-11-14 11:30:29,846 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:29,848 INFO sqlalchemy.engine.base.Engine ('Hypoglycaemia', 1, 0)
2018-11-14 11:30:29,851 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:29,853 INFO sqlalchemy.engine.base.Engine (767,)
2018-11-14 11:30:29,857 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:34,665 INFO sqlalchemy.engine.base.Engine ('Emotional distress', 1, 0)
2018-11-14 11:30:34,671 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,675 INFO sqlalchemy.engine.base.Engine ('Hernia', 1, 0)
2018-11-14 11:30:34,677 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:34,678 INFO sqlalchemy.engine.base.Engine (836,)
2018-11-14 11:30:34,683 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:34,685 INFO sqlalchemy.engine.base.Engine ('Hernia',)
2018-11-14 11:30:34,686 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:34,688 INFO sqlalchemy.engine.base.Engine ('Emotional distress',)
2018-11-14 11:30:34,690 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:34,692 INFO sqlalchemy.engine.base.Engine ((978, 836), (979, 836))
2018-11-14 11:30:34,694 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:34,702 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:34,711 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:34,713 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:34,718 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:34,719 INFO sqlalchemy.engine.base.Engine (2, 70, 1)
2018-11-14 11:30:34,724 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,725 INFO sqlalchemy.engine.base.Engine ('Cardiac failure', 1, 0)
2018-11-14 11:30:34,727 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,727 INFO sqlalchemy.engine.base.Engine ('Hypertension', 1, 0)
2018-11-14 11:30:34,729 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:34,730 INFO sqlalchemy.engine.base.Engine (837,)
2018-11-14 11:30:34,733 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:34,733 INFO sqlalchemy.engine.base.Engine ((126, 837), (31, 837))
2018-11-14 11:30:34,736 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:34,741 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:34,743 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:34,743 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:34,745 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:34,749 INFO sqlalchemy.engine.base.Engine (2, 73, 1)
2018-11-14 11:30:34,753 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,756 INFO sqlalchemy.engine.base.Engine ('LEXAPRO', 1, 0)
2018-11-14 11:30:34,759 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:34,760 INFO sqlalchemy.engine.base.Engine (838,)
2018-11-14 11:30:34,765 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:34,766 INFO sqlalchemy.engine.base.Engine ('LEXAPRO',)
2018-11-14 11:30:34,769 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:34,771 INFO sqlalchemy.engine.base.Engine (2202, 838)
2018-11-14 11:30:34,775 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:34,777 INFO sqlalchemy.engine.base.Engine ('Head injury', 1, 0)
2018-11-14 11:30:34,780 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,781 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:30:34,784 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,786 INFO sqlalchemy.engine.base.Engine ('Fall', 1, 0)
2018-11-14 11:30:34,789 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,791 INFO sqlalchemy.engine.base.Engine ('Paranoia', 1, 0)
2018-11-14 11:30:34,793 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:34,794 INFO sqlalchemy.engine.base.Engine (838,)
2018-11-14 11:30:34,798 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:34,800 INFO sqlalchemy.engine.base.Engine ((545, 838), (457, 838), (137, 838), (120, 838))
2018-11-14 11:30:34,802 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:34,813 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:34,818 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:34,822 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:34,825 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:34,826 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:34,829 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,832 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:30:34,835 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:34,836 INFO sqlalchemy.engine.base.Engine (839,)
2018-11-14 11:30:34,841 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:34,843 INFO sqlalchemy.engine.base.Engine (8, 839)
2018-11-14 11:30:34,847 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,849 INFO sqlalchemy.engine.base.Engine ('Fatigue', 1, 0)
2018-11-14 11:30:34,852 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,853 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal obstruction', 1, 0)
2018-11-14 11:30:34,857 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,858 INFO sqlalchemy.engine.base.Engine ('Procedural headache', 1, 0)
2018-11-14 11:30:34,861 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,862 INFO sqlalchemy.engine.base.Engine ('Crohn^s disease', 1, 0)
2018-11-14 11:30:34,865 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,867 INFO sqlalchemy.engine.base.Engine ('Intestinal obstruction', 1, 0)
2018-11-14 11:30:34,869 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,872 INFO sqlalchemy.engine.base.Engine ('Intestinal stenosis', 1, 0)
2018-11-14 11:30:34,876 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,878 INFO sqlalchemy.engine.base.Engine ('Vomiting', 1, 0)
2018-11-14 11:30:34,922 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,924 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal obstruction', 1, 0)
2018-11-14 11:30:34,927 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:34,929 INFO sqlalchemy.engine.base.Engine (839,)
2018-11-14 11:30:34,934 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:34,935 INFO sqlalchemy.engine.base.Engine ('Procedural headache',)
2018-11-14 11:30:34,936 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:34,937 INFO sqlalchemy.engine.base.Engine ('Intestinal stenosis',)
2018-11-14 11:30:34,938 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:34,941 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal obstruction',)
2018-11-14 11:30:34,943 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:34,944 INFO sqlalchemy.engine.base.Engine ('Gastrointestinal obstruction',)
2018-11-14 11:30:34,949 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:34,951 INFO sqlalchemy.engine.base.Engine ((980, 839), (981, 839), (68, 839), (982, 839), (48, 839), (983, 839), (116, 839), (24, 839))
2018-11-14 11:30:34,953 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:34,962 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:34,966 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:34,968 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:34,974 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:34,976 INFO sqlalchemy.engine.base.Engine (2, 47, 1)
2018-11-14 11:30:34,980 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,982 INFO sqlalchemy.engine.base.Engine ('Arthralgia', 1, 0)
2018-11-14 11:30:34,985 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,986 INFO sqlalchemy.engine.base.Engine ('Myalgia', 1, 0)
2018-11-14 11:30:34,989 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,991 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:30:34,994 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:34,998 INFO sqlalchemy.engine.base.Engine ('Blood thyroid stimulating hormone decreased', 1, 0)
2018-11-14 11:30:35,001 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id

2018-11-14 11:30:35,002 INFO sqlalchemy.engine.base.Engine (840,)
2018-11-14 11:30:35,007 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:35,009 INFO sqlalchemy.engine.base.Engine ('Blood thyroid stimulating hormone decreased',)
2018-11-14 11:30:35,012 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,013 INFO sqlalchemy.engine.base.Engine (984, 840)
2018-11-14 11:30:35,014 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,015 INFO sqlalchemy.engine.base.Engine ((164, 840), (74, 840), (401, 840))
2018-11-14 11:30:35,017 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,024 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,026 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,028 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,032 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,034 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:35,039 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,040 INFO sqlalchemy.engine.base.Engine ('SOLIRIS', 1, 0)
2018-11-14 11:30:35,047 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,052 INFO sqlalchemy.engine.base.Engine (841,)
2018-11-14 11:30:35,059 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,061 INFO sqlalchemy.engine.base.Engine (2160, 841)
2018-11-14 11:30:35,063 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,065 INFO sqlalchemy.engine.base.Engine ('Exposure during pregnancy', 1, 0)
2018-11-14 11:30:35,067 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,068 INFO sqlalchemy.engine.base.Engine (841,)
2018-11-14 11:30:35,073 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,074 INFO sqlalchemy.engine.base.Engine (91, 841)
2018-11-14 11:30:35,076 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,082 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,086 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,087 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,090 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,091 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:35,095 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,098 INFO sqlalchemy.engine.base.Engine ('PROLIA', 1, 0)
2018-11-14 11:30:35,100 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,101 INFO sqlalchemy.engine.base.Engine (842,)
2018-11-14 11:30:35,106 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,108 INFO sqlalchemy.engine.base.Engine (319, 842)
2018-11-14 11:30:35,112 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,113 INFO sqlalchemy.engine.base.Engine ('Bladder cancer', 1, 0)
2018-11-14 11:30:35,115 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,117 INFO sqlalchemy.engine.base.Engine (842,)
2018-11-14 11:30:35,121 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:35,127 INFO sqlalchemy.engine.base.Engine ('Bladder cancer',)
2018-11-14 11:30:35,130 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,131 INFO sqlalchemy.engine.base.Engine (985, 842)
2018-11-14 11:30:35,135 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,145 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,170 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,184 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,186 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,187 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:35,193 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,196 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:35,200 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,201 INFO sqlalchemy.engine.base.Engine (843,)
2018-11-14 11:30:35,207 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,209 INFO sqlalchemy.engine.base.Engine (17, 843)
2018-11-14 11:30:35,213 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,217 INFO sqlalchemy.engine.base.Engine ('Pain', 1, 0)
2018-11-14 11:30:35,222 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,224 INFO sqlalchemy.engine.base.Engine (843,)
2018-11-14 11:30:35,232 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,234 INFO sqlalchemy.engine.base.Engine (120, 843)
2018-11-14 11:30:35,238 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,251 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,267 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,269 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,273 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,275 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:35,280 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,282 INFO sqlalchemy.engine.base.Engine ('METHOTREXATE', 1, 0)
2018-11-14 11:30:35,286 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,287 INFO sqlalchemy.engine.base.Engine ('XATMEP', 1, 0)

2018-11-14 11:30:35,291 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,293 INFO sqlalchemy.engine.base.Engine ('RASUVO', 1, 0)
2018-11-14 11:30:35,296 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,298 INFO sqlalchemy.engine.base.Engine ('OTREXUP', 1, 0)
2018-11-14 11:30:35,300 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,302 INFO sqlalchemy.engine.base.Engine ('TREXALL', 1, 0)
2018-11-14 11:30:35,305 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,307 INFO sqlalchemy.engine.base.Engine (844,)
2018-11-14 11:30:35,316 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,317 INFO sqlalchemy.engine.base.Engine ((1504, 844), (1505, 844), (1506, 844), (1507, 844), (1508, 844))
2018-11-14 11:30:35,320 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,321 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:30:35,322 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,324 INFO sqlalchemy.engine.base.Engine (844,)
2018-11-14 11:30:35,328 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,330 INFO sqlalchemy.engine.base.Engine (36, 844)
2018-11-14 11:30:35,333 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,340 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,343 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,344 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,346 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,349 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:35,351 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,353 INFO sqlalchemy.engine.base.Engine ('ACTEMRA', 1, 0)
2018-11-14 11:30:35,359 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,360 INFO sqlalchemy.engine.base.Engine (845,)
2018-11-14 11:30:35,364 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,366 INFO sqlalchemy.engine.base.Engine (40, 845)
2018-11-14 11:30:35,368 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,370 INFO sqlalchemy.engine.base.Engine ('Death', 1, 0)
2018-11-14 11:30:35,373 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,375 INFO sqlalchemy.engine.base.Engine (845,)
2018-11-14 11:30:35,379 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,381 INFO sqlalchemy.engine.base.Engine (111, 845)
2018-11-14 11:30:35,383 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,388 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,390 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,392 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,395 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,397 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:35,401 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,402 INFO sqlalchemy.engine.base.Engine ('SPIRIVA', 1, 0)
2018-11-14 11:30:35,405 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,407 INFO sqlalchemy.engine.base.Engine (846,)
2018-11-14 11:30:35,411 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,413 INFO sqlalchemy.engine.base.Engine (13, 846)
2018-11-14 11:30:35,416 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,418 INFO sqlalchemy.engine.base.Engine ('Incorrect route of drug administration', 1, 0)
2018-11-14 11:30:35,422 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,424 INFO sqlalchemy.engine.base.Engine (846,)
2018-11-14 11:30:35,429 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,430 INFO sqlalchemy.engine.base.Engine (969, 846)
2018-11-14 11:30:35,433 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,440 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,443 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,444 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,447 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,447 INFO sqlalchemy.engine.base.Engine (1, 25, 1)
2018-11-14 11:30:35,454 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,455 INFO sqlalchemy.engine.base.Engine ('Drug ineffective', 1, 0)
2018-11-14 11:30:35,459 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,460 INFO sqlalchemy.engine.base.Engine (847,)
2018-11-14 11:30:35,464 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,466 INFO sqlalchemy.engine.base.Engine (36, 847)
2018-11-14 11:30:35,468 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,476 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,479 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,481 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,485 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,488 INFO sqlalchemy.engine.base.Engine (2, 35, 1)

2018-11-14 11:30:35,491 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,494 INFO sqlalchemy.engine.base.Engine ('Procedural pain', 1, 0)
2018-11-14 11:30:35,497 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,499 INFO sqlalchemy.engine.base.Engine (848,)
2018-11-14 11:30:35,503 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,505 INFO sqlalchemy.engine.base.Engine (225, 848)
2018-11-14 11:30:35,508 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,514 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,517 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,519 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,524 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,527 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:35,530 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,532 INFO sqlalchemy.engine.base.Engine ('XELJANZ XR', 1, 0)
2018-11-14 11:30:35,535 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,537 INFO sqlalchemy.engine.base.Engine (849,)
2018-11-14 11:30:35,548 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,549 INFO sqlalchemy.engine.base.Engine (315, 849)
2018-11-14 11:30:35,553 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,554 INFO sqlalchemy.engine.base.Engine ('Adverse drug reaction', 1, 0)
2018-11-14 11:30:35,559 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,562 INFO sqlalchemy.engine.base.Engine ('Asthma', 1, 0)
2018-11-14 11:30:35,565 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,566 INFO sqlalchemy.engine.base.Engine ('Drug hypersensitivity', 1, 0)
2018-11-14 11:30:35,572 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,574 INFO sqlalchemy.engine.base.Engine (849,)
2018-11-14 11:30:35,582 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,584 INFO sqlalchemy.engine.base.Engine ((124, 849), (492, 849), (170, 849))
2018-11-14 11:30:35,586 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,596 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,600 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,602 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,604 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,606 INFO sqlalchemy.engine.base.Engine (2, 29, 1)
2018-11-14 11:30:35,611 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,615 INFO sqlalchemy.engine.base.Engine ('HUMIRA', 1, 0)
2018-11-14 11:30:35,620 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,621 INFO sqlalchemy.engine.base.Engine (850,)
2018-11-14 11:30:35,625 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,625 INFO sqlalchemy.engine.base.Engine (8, 850)
2018-11-14 11:30:35,628 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,630 INFO sqlalchemy.engine.base.Engine ('Amenorrhoea', 1, 0)
2018-11-14 11:30:35,633 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,635 INFO sqlalchemy.engine.base.Engine ('Nausea', 1, 0)
2018-11-14 11:30:35,638 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,640 INFO sqlalchemy.engine.base.Engine ('Xerosis', 1, 0)
2018-11-14 11:30:35,646 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,648 INFO sqlalchemy.engine.base.Engine ('Vision blurred', 1, 0)
2018-11-14 11:30:35,652 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,653 INFO sqlalchemy.engine.base.Engine ('Asthenia', 1, 0)
2018-11-14 11:30:35,657 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,659 INFO sqlalchemy.engine.base.Engine ('Vertigo', 1, 0)
2018-11-14 11:30:35,662 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,663 INFO sqlalchemy.engine.base.Engine ('Tonsillitis', 1, 0)
2018-11-14 11:30:35,666 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,667 INFO sqlalchemy.engine.base.Engine ('Erythrosis', 1, 0)
2018-11-14 11:30:35,676 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,680 INFO sqlalchemy.engine.base.Engine ('Tinnitus', 1, 0)
2018-11-14 11:30:35,684 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,685 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:30:35,688 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,689 INFO sqlalchemy.engine.base.Engine (850,)
2018-11-14 11:30:35,693 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:35,694 INFO sqlalchemy.engine.base.Engine ('Tonsillitis',)
2018-11-14 11:30:35,695 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:35,699 INFO sqlalchemy.engine.base.Engine ('Xerosis',)
2018-11-14 11:30:35,701 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)

2018-11-14 11:30:35,702 INFO sqlalchemy.engine.base.Engine ('Amenorrhoea',)
2018-11-14 11:30:35,704 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:35,705 INFO sqlalchemy.engine.base.Engine ('Erythrosis',)
2018-11-14 11:30:35,708 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,711 INFO sqlalchemy.engine.base.Engine ((988, 850), (986, 850), (987, 850), (989, 850))
2018-11-14 11:30:35,714 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,716 INFO sqlalchemy.engine.base.Engine ((627, 850), (103, 850), (282, 850), (143, 850), (854, 850), (74, 850))
2018-11-14 11:30:35,718 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,724 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,728 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,729 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,732 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,734 INFO sqlalchemy.engine.base.Engine (2, 47, 1)
2018-11-14 11:30:35,736 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,738 INFO sqlalchemy.engine.base.Engine ('ACTEMRA', 1, 0)
2018-11-14 11:30:35,740 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,742 INFO sqlalchemy.engine.base.Engine (851,)
2018-11-14 11:30:35,749 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,751 INFO sqlalchemy.engine.base.Engine (40, 851)
2018-11-14 11:30:35,754 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,756 INFO sqlalchemy.engine.base.Engine ('Vaginal haemorrhage', 1, 0)
2018-11-14 11:30:35,759 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,761 INFO sqlalchemy.engine.base.Engine (851,)
2018-11-14 11:30:35,765 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:35,766 INFO sqlalchemy.engine.base.Engine ('Vaginal haemorrhage',)
2018-11-14 11:30:35,768 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,769 INFO sqlalchemy.engine.base.Engine (990, 851)
2018-11-14 11:30:35,771 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,778 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,781 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,782 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,785 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,788 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:35,792 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,794 INFO sqlalchemy.engine.base.Engine ('EXTRANEAL', 1, 0)
2018-11-14 11:30:35,798 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,799 INFO sqlalchemy.engine.base.Engine (852,)
2018-11-14 11:30:35,806 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:35,809 INFO sqlalchemy.engine.base.Engine ('EXTRANEAL',)
2018-11-14 11:30:35,811 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,812 INFO sqlalchemy.engine.base.Engine (2203, 852)
2018-11-14 11:30:35,818 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,820 INFO sqlalchemy.engine.base.Engine ('Peritonitis bacterial', 1, 0)
2018-11-14 11:30:35,822 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,826 INFO sqlalchemy.engine.base.Engine ('Bacterial translocation', 1, 0)
2018-11-14 11:30:35,828 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,830 INFO sqlalchemy.engine.base.Engine (852,)
2018-11-14 11:30:35,834 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:35,836 INFO sqlalchemy.engine.base.Engine ('Bacterial translocation',)
2018-11-14 11:30:35,837 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:35,838 INFO sqlalchemy.engine.base.Engine ('Peritonitis bacterial',)
2018-11-14 11:30:35,840 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,840 INFO sqlalchemy.engine.base.Engine ((991, 852), (992, 852))
2018-11-14 11:30:35,843 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,848 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,851 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,853 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,856 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,857 INFO sqlalchemy.engine.base.Engine (1, 64, 1)
2018-11-14 11:30:35,861 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,862 INFO sqlalchemy.engine.base.Engine ('Peripheral swelling', 1, 0)
2018-11-14 11:30:35,869 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,873 INFO sqlalchemy.engine.base.Engine ('Swelling face', 1, 0)
2018-11-14 11:30:35,876 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,877 INFO sqlalchemy.engine.base.Engine (853,)
2018-11-14 11:30:35,881 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,882 INFO sqlalchemy.engine.base.Engine ((575, 853), (277, 853))
2018-11-14 11:30:35,887 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,895 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,898 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,900 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,903 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,906 INFO sqlalchemy.engine.base.Engine (2, 1, 1)

2018-11-14 11:30:35,909 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,911 INFO sqlalchemy.engine.base.Engine ('ERWINAZE', 1, 0)
2018-11-14 11:30:35,913 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,923 INFO sqlalchemy.engine.base.Engine (854,)
2018-11-14 11:30:35,927 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:35,929 INFO sqlalchemy.engine.base.Engine ('ERWINAZE',)
2018-11-14 11:30:35,932 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,934 INFO sqlalchemy.engine.base.Engine (2204, 854)
2018-11-14 11:30:35,937 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,942 INFO sqlalchemy.engine.base.Engine ('Encephalopathy', 1, 0)
2018-11-14 11:30:35,945 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:35,946 INFO sqlalchemy.engine.base.Engine (854,)
2018-11-14 11:30:35,950 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,952 INFO sqlalchemy.engine.base.Engine (267, 854)
2018-11-14 11:30:35,954 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:35,963 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:35,965 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:35,967 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:35,970 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:35,972 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:35,976 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:35,978 INFO sqlalchemy.engine.base.Engine ('HEPARIN SODIUM AND SODIUM CHLORIDE', 1, 0)
2018-11-14 11:30:35,982 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:35,984 INFO sqlalchemy.engine.base.Engine (855,)
2018-11-14 11:30:35,989 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:35,992 INFO sqlalchemy.engine.base.Engine ('HEPARIN SODIUM AND SODIUM CHLORIDE',)
2018-11-14 11:30:35,994 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:35,996 INFO sqlalchemy.engine.base.Engine (2205, 855)
2018-11-14 11:30:36,005 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,009 INFO sqlalchemy.engine.base.Engine ('Drug effect decreased', 1, 0)
2018-11-14 11:30:36,013 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:36,016 INFO sqlalchemy.engine.base.Engine (855,)
2018-11-14 11:30:36,021 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:36,026 INFO sqlalchemy.engine.base.Engine (204, 855)
2018-11-14 11:30:36,031 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:36,037 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:36,039 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:36,044 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:36,048 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:36,050 INFO sqlalchemy.engine.base.Engine (2, 33, 1)
2018-11-14 11:30:36,053 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,054 INFO sqlalchemy.engine.base.Engine ('MORPHINUM', 1, 0)
2018-11-14 11:30:36,059 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,060 INFO sqlalchemy.engine.base.Engine ('OPIUM TINCTURE DEODORIZED', 1, 0)
2018-11-14 11:30:36,064 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:36,066 INFO sqlalchemy.engine.base.Engine (856,)
2018-11-14 11:30:36,070 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:36,071 INFO sqlalchemy.engine.base.Engine ('MORPHINUM',)
2018-11-14 11:30:36,073 INFO sqlalchemy.engine.base.Engine INSERT INTO brands (name) VALUES (?)
2018-11-14 11:30:36,075 INFO sqlalchemy.engine.base.Engine ('OPIUM TINCTURE DEODORIZED',)
2018-11-14 11:30:36,076 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:36,077 INFO sqlalchemy.engine.base.Engine ((2206, 856), (2207, 856))
2018-11-14 11:30:36,080 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,080 INFO sqlalchemy.engine.base.Engine ('Tremor', 1, 0)
2018-11-14 11:30:36,082 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,082 INFO sqlalchemy.engine.base.Engine ('Body temperature increased', 1, 0)
2018-11-14 11:30:36,084 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,084 INFO sqlalchemy.engine.base.Engine ('Tachycardia', 1, 0)
2018-11-14 11:30:36,087 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,088 INFO sqlalchemy.engine.base.Engine ('Hypotension', 1, 0)
2018-11-14 11:30:36,090 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:36,094 INFO sqlalchemy.engine.base.Engine (856,)
2018-11-14 11:30:36,099 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:36,103 INFO sqlalchemy.engine.base.Engine ('Body temperature increased',)
2018-11-14 11:30:36,106 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:36,107 INFO sqlalchemy.engine.base.Engine ((993, 856), (463, 856), (299, 856), (122, 856))
2018-11-14 11:30:36,110 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:36,124 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:36,128 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:36,130 INFO sqlalchemy.engine.base.Engine (1,)

2018-11-14 11:30:36,132 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:36,135 INFO sqlalchemy.engine.base.Engine (1, 26, 1)
2018-11-14 11:30:36,138 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,140 INFO sqlalchemy.engine.base.Engine ('Thrombocytopenia', 1, 0)
2018-11-14 11:30:36,146 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,148 INFO sqlalchemy.engine.base.Engine ('Malignant hypertension', 1, 0)
2018-11-14 11:30:36,152 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:36,154 INFO sqlalchemy.engine.base.Engine (857,)
2018-11-14 11:30:36,164 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:36,166 INFO sqlalchemy.engine.base.Engine ('Malignant hypertension',)
2018-11-14 11:30:36,168 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:36,169 INFO sqlalchemy.engine.base.Engine (994, 857)
2018-11-14 11:30:36,170 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:36,171 INFO sqlalchemy.engine.base.Engine (388, 857)
2018-11-14 11:30:36,173 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:36,180 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:36,182 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:36,182 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:36,184 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:36,188 INFO sqlalchemy.engine.base.Engine (1, 55, 1)
2018-11-14 11:30:36,195 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,197 INFO sqlalchemy.engine.base.Engine ('Venous thrombosis', 1, 0)
2018-11-14 11:30:36,200 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,203 INFO sqlalchemy.engine.base.Engine ('Peritonitis', 1, 0)
2018-11-14 11:30:36,210 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:36,211 INFO sqlalchemy.engine.base.Engine ('Pulmonary oedema', 1, 0)
2018-11-14 11:30:36,213 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:36,215 INFO sqlalchemy.engine.base.Engine (858,)
2018-11-14 11:30:36,218 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:36,221 INFO sqlalchemy.engine.base.Engine ('Peritonitis',)
2018-11-14 11:30:36,223 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:36,226 INFO sqlalchemy.engine.base.Engine ('Venous thrombosis',)
2018-11-14 11:30:36,227 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:36,228 INFO sqlalchemy.engine.base.Engine ((774, 858), (995, 858), (996, 858))
2018-11-14 11:30:36,230 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:36,236 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:38,320 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,324 INFO sqlalchemy.engine.base.Engine ('SANIKLEAN E3 HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,326 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,327 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER BE VIBRANT', 1, 0)
2018-11-14 11:30:38,330 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,334 INFO sqlalchemy.engine.base.Engine ('ALLURING ENCOUNTER HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,337 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,338 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED E3 RATED INSTANT HAND SANITIZER FOAM', 1, 0)
2018-11-14 11:30:38,340 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,341 INFO sqlalchemy.engine.base.Engine ('ASSURED ALOE SCENTED INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,344 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,346 INFO sqlalchemy.engine.base.Engine ('SANI-HANDS INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:30:38,350 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,352 INFO sqlalchemy.engine.base.Engine ('FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,355 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,356 INFO sqlalchemy.engine.base.Engine ('SMILEPLUS ALCOHOL PAD', 1, 0)
2018-11-14 11:30:38,360 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,361 INFO sqlalchemy.engine.base.Engine ('THIEVES WATERLESS HAND SANITIZER WITH PEPPERMINT OIL', 1, 0)
2018-11-14 11:30:38,363 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,365 INFO sqlalchemy.engine.base.Engine ('AZURO', 1, 0)
2018-11-14 11:30:38,367 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,368 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SANITIZER JAPANESE CHERRY BLOSSOM', 1, 0)
2018-11-14 11:30:38,370 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,371 INFO sqlalchemy.engine.base.Engine ('ANTISEPTIC HAND GEL WITH ALOE', 1, 0)
2018-11-14 11:30:38,374 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,375 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER G BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,377 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,379 INFO sqlalchemy.engine.base.Engine ('JUSTICE BRIGHT CITRUS SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,388 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,389 INFO sqlalchemy.engine.base.Engine ('PANROSA INSTANT ANTISEPTIC HAND SANITIZER WITH MOISTURIZERS', 1, 0)

2018-11-14 11:30:38,391 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,392 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER W/CARABINER', 1, 0)
2018-11-14 11:30:38,394 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,396 INFO sqlalchemy.engine.base.Engine ('CLEAN ALL', 1, 0)
2018-11-14 11:30:38,401 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,403 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES LOTUS FLOWER SCENTED WATERLESS ANTI BACTERIAL HAND GEL', 1, 0)
2018-11-14 11:30:38,405 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,407 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER B BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,412 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,413 INFO sqlalchemy.engine.base.Engine ('KLEENEX MOISTURIZING INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,418 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,420 INFO sqlalchemy.engine.base.Engine ('70% ALCOHOL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,422 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,423 INFO sqlalchemy.engine.base.Engine ('JUSTICE STRAWBERRY STARDUST SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,426 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,428 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER D BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,432 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,433 INFO sqlalchemy.engine.base.Engine ('JUSTICE MEOW MINT SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,436 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,438 INFO sqlalchemy.engine.base.Engine ('PHARMACY PRESCRIPTION 1.8OZ HAND SANITIZER - CUCUMBER MELON', 1, 0)
2018-11-14 11:30:38,441 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,443 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND DANCING WATERS', 1, 0)
2018-11-14 11:30:38,447 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,452 INFO sqlalchemy.engine.base.Engine ('RASPBERRY VANILLA SCENTED WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,454 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,456 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WINTER JUBILEE', 1, 0)
2018-11-14 11:30:38,458 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,461 INFO sqlalchemy.engine.base.Engine ('RUE 21 YOUNG STRAWBERRY ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,463 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,464 INFO sqlalchemy.engine.base.Engine ('SANI WIPES', 1, 0)
2018-11-14 11:30:38,469 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,473 INFO sqlalchemy.engine.base.Engine ('PDI SANI-HANDSINSTANT HAND SANI INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:30:38,476 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,478 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS VANILLA ORCHID ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,480 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,482 INFO sqlalchemy.engine.base.Engine ('HANDI SANI', 1, 0)
2018-11-14 11:30:38,486 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,487 INFO sqlalchemy.engine.base.Engine ('WHISKCARE 373', 1, 0)
2018-11-14 11:30:38,489 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,490 INFO sqlalchemy.engine.base.Engine ('SANI SOFT', 1, 0)
2018-11-14 11:30:38,493 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,493 INFO sqlalchemy.engine.base.Engine ('WHISKCARE 375', 1, 0)
2018-11-14 11:30:38,497 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,502 INFO sqlalchemy.engine.base.Engine ('KINDRED GOODS HAND SANITIZER SEA SALT FIG', 1, 0)
2018-11-14 11:30:38,505 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,506 INFO sqlalchemy.engine.base.Engine ('NICKELODEON JOJO SIWA HAND SANITIZER BERRY SWEET SCENT', 1, 0)
2018-11-14 11:30:38,507 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,508 INFO sqlalchemy.engine.base.Engine ('THE FRESH MARKET HAND SANITIZER WITH MOISTURIZERS ALOE AND VITAMIN E', 1, 0)
2018-11-14 11:30:38,512 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,513 INFO sqlalchemy.engine.base.Engine ('ILI HAND SANITIZER INSTANT', 1, 0)
2018-11-14 11:30:38,517 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,519 INFO sqlalchemy.engine.base.Engine ('PURELL', 1, 0)
2018-11-14 11:30:38,521 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,522 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND VANILLA SUGAR', 1, 0)
2018-11-14 11:30:38,526 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,527 INFO sqlalchemy.engine.base.Engine ('SEPHORA BY OPI MOISTURIZING HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,532 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,534 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER PEPPERMINT', 1, 0)
2018-11-14 11:30:38,536 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:38,538 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WARM FALL SPICE', 1, 0)
2018-11-14 11:30:38,540 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,541 INFO sqlalchemy.engine.base.Engine ('HYDRATING INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,543 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,544 INFO sqlalchemy.engine.base.Engine ('SKIN PROTECTANT LAVENDER', 1, 0)
2018-11-14 11:30:38,547 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,548 INFO sqlalchemy.engine.base.Engine ('SUNDROPS 73', 1, 0)
2018-11-14 11:30:38,552 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,554 INFO sqlalchemy.engine.base.Engine ('SERVO-STAT', 1, 0)
2018-11-14 11:30:38,556 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,557 INFO sqlalchemy.engine.base.Engine ('PREVENT HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,564 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,566 INFO sqlalchemy.engine.base.Engine ('MELLOW HAND SANITIZER (ALOE AND VITAMIN E)', 1, 0)
2018-11-14 11:30:38,568 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,571 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND ICY MINT', 1, 0)
2018-11-14 11:30:38,573 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,574 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED INSTANT HAND SANITIZER FRAGRANCE FREE', 1, 0)
2018-11-14 11:30:38,576 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,578 INFO sqlalchemy.engine.base.Engine ('ICING ICED FROSTING ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,581 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,582 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES MOROCCAN ROSE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,585 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,586 INFO sqlalchemy.engine.base.Engine ('JUSTICE RAINBOW RASPBERRY SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,588 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,592 INFO sqlalchemy.engine.base.Engine ('FOAMAHOL', 1, 0)
2018-11-14 11:30:38,595 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,596 INFO sqlalchemy.engine.base.Engine ('PREVENT', 1, 0)
2018-11-14 11:30:38,599 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,601 INFO sqlalchemy.engine.base.Engine ('JUSTICE FRUIT PUNCH SCENTED ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,604 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,605 INFO sqlalchemy.engine.base.Engine ('SPATHERAPHY', 1, 0)
2018-11-14 11:30:38,607 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,609 INFO sqlalchemy.engine.base.Engine ('KLEENEX HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,611 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,612 INFO sqlalchemy.engine.base.Engine ('AMORAY PREMIUM INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E FRESH CITRUS', 1, 0)
2018-11-14 11:30:38,615 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,616 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER GREEN APPLE SCENTED', 1, 0)
2018-11-14 11:30:38,619 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,621 INFO sqlalchemy.engine.base.Engine ('ADRIANA 12OZ HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,623 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,624 INFO sqlalchemy.engine.base.Engine ('ISAGEL B-I-B', 1, 0)
2018-11-14 11:30:38,628 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,630 INFO sqlalchemy.engine.base.Engine ('TINCTURE GREEN SOAP', 1, 0)
2018-11-14 11:30:38,633 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,635 INFO sqlalchemy.engine.base.Engine ('ULTA SPARKLING LEMON ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,637 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,639 INFO sqlalchemy.engine.base.Engine ('RUE21 PEPPERMINT TWIST ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,641 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,644 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER BUBBLE', 1, 0)
2018-11-14 11:30:38,647 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,648 INFO sqlalchemy.engine.base.Engine ('BACTI-FREE TM HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,653 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,654 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SWEET PEA', 1, 0)
2018-11-14 11:30:38,656 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,657 INFO sqlalchemy.engine.base.Engine ('7 SELECT INSTANT HAND SANITIZER WITH VITAMIN E AND MOISTURIZERS', 1, 0)
2018-11-14 11:30:38,659 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,660 INFO sqlalchemy.engine.base.Engine ('ULTA POMEGRANATE LIME ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,665 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,668 INFO sqlalchemy.engine.base.Engine ('HARRIS TEETER HAND SANITIZER WITH VITAMIN E', 1, 0)
2018-11-14 11:30:38,670 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:38,671 INFO sqlalchemy.engine.base.Engine ('PASSION FRUIT HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,675 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,677 INFO sqlalchemy.engine.base.Engine ('VANILLA SUGAR ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,679 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,680 INFO sqlalchemy.engine.base.Engine ('HEALTH SMART INSTANT HAND SANITIZER WITH ALOE VERA AND VITAMIN E LAVENDER', 1, 0)
2018-11-14 11:30:38,683 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,686 INFO sqlalchemy.engine.base.Engine ('WINNING HANDS HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,688 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,689 INFO sqlalchemy.engine.base.Engine ('MANDARIN ORANGE ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,690 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,691 INFO sqlalchemy.engine.base.Engine ('KINDEST KARE AIR-INFUSED FOAM ANTISEPTIC HANDRUB', 1, 0)
2018-11-14 11:30:38,694 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,695 INFO sqlalchemy.engine.base.Engine ('INSTANT FOAM HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,698 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,701 INFO sqlalchemy.engine.base.Engine ('HOOTIN POMEGRANATE', 1, 0)
2018-11-14 11:30:38,704 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,705 INFO sqlalchemy.engine.base.Engine ('PURE HANDS', 1, 0)
2018-11-14 11:30:38,708 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,709 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS (ALOE VERA AND MOISTURIZERS)', 1, 0)
2018-11-14 11:30:38,711 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,712 INFO sqlalchemy.engine.base.Engine ('HEISCLEAN FOR WOMAN', 1, 0)
2018-11-14 11:30:38,714 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,717 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER JASMINE', 1, 0)
2018-11-14 11:30:38,720 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,721 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER K BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,724 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,725 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES CHERRY BLOSSOM WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,727 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,728 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED SKIN BALANCING HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,730 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,732 INFO sqlalchemy.engine.base.Engine ('DAWNMIST ALCOHOL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,735 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,737 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY LEMON POMEGRANATE', 1, 0)
2018-11-14 11:30:38,739 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,740 INFO sqlalchemy.engine.base.Engine ('PERSONAL CARE HAND SANITIZER ALOE', 1, 0)
2018-11-14 11:30:38,747 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,749 INFO sqlalchemy.engine.base.Engine ('PURELL PROFESSIONAL ADVANCED HAND SANITIZER GEL', 1, 0)
2018-11-14 11:30:38,751 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,752 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS PEACH NECTARINE HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,755 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,755 INFO sqlalchemy.engine.base.Engine ('LOVE AND BEAUTY MELON AND MINT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,758 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,759 INFO sqlalchemy.engine.base.Engine ('VANILLA HAND SANITIZER WITH VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:30:38,761 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,762 INFO sqlalchemy.engine.base.Engine ('KINDRED GOODS HAND SANITIZER FRESIA PETALS RAIN', 1, 0)
2018-11-14 11:30:38,764 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,769 INFO sqlalchemy.engine.base.Engine ('ALPHA E-3', 1, 0)
2018-11-14 11:30:38,775 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,776 INFO sqlalchemy.engine.base.Engine ('HEISCLEAN FOR MAN', 1, 0)
2018-11-14 11:30:38,778 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,781 INFO sqlalchemy.engine.base.Engine ('ON GUARD HAND SANITIZING WIPE', 1, 0)
2018-11-14 11:30:38,785 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,787 INFO sqlalchemy.engine.base.Engine ('SUSAN WINGET BERRIES AND CREAM HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,789 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,790 INFO sqlalchemy.engine.base.Engine ('GLOBAL CARE INSTANT 8OZ HAND SANITIZER - ORIGINAL', 1, 0)
2018-11-14 11:30:38,793 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,794 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY GRAPEFRUIT NECTAR', 1, 0)
2018-11-14 11:30:38,797 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:38,799 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND POLAR MINT', 1, 0)
2018-11-14 11:30:38,805 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,806 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER WIPES LAVENDER', 1, 0)
2018-11-14 11:30:38,808 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,809 INFO sqlalchemy.engine.base.Engine ('INDUSTRIAL ANTISEPTIC SANITIZER', 1, 0)
2018-11-14 11:30:38,812 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,813 INFO sqlalchemy.engine.base.Engine ('PENGUIN ICICLES', 1, 0)
2018-11-14 11:30:38,814 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,815 INFO sqlalchemy.engine.base.Engine ('PURELL ALCOHOL FORMULATION', 1, 0)
2018-11-14 11:30:38,820 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,821 INFO sqlalchemy.engine.base.Engine ('UNSCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,824 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,825 INFO sqlalchemy.engine.base.Engine ('RECENS FOAM', 1, 0)
2018-11-14 11:30:38,827 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,829 INFO sqlalchemy.engine.base.Engine ('PRETTY PUMP HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,831 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,832 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER COOKIES N CREAM', 1, 0)
2018-11-14 11:30:38,834 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,837 INFO sqlalchemy.engine.base.Engine ('SKIN PROTECTANT ALOE VERA', 1, 0)
2018-11-14 11:30:38,840 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,841 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SWEET SUGAR COOKIE', 1, 0)
2018-11-14 11:30:38,844 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,845 INFO sqlalchemy.engine.base.Engine ('SANI-SOFT', 1, 0)
2018-11-14 11:30:38,847 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,849 INFO sqlalchemy.engine.base.Engine ('STAPLES HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,852 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,855 INFO sqlalchemy.engine.base.Engine ('HEALTHY HANDS INSTANT ANTISEPTIC HAND CLEANSER WITH MOISTURIZERS', 1, 0)
2018-11-14 11:30:38,859 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,860 INFO sqlalchemy.engine.base.Engine ('NATURALS POMEGRANATE AND MANGO ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:30:38,862 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,863 INFO sqlalchemy.engine.base.Engine ('HUMPHREYS ALCOHOLADO MARAVILLA', 1, 0)
2018-11-14 11:30:38,864 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,866 INFO sqlalchemy.engine.base.Engine ('SYMMETRY HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,869 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,870 INFO sqlalchemy.engine.base.Engine ('JUSTICE BUBBLE GUM SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,872 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,873 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER - ORIGINAL', 1, 0)
2018-11-14 11:30:38,875 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,877 INFO sqlalchemy.engine.base.Engine ('RUE 21 FREE SPIRIT FRESH FLOWERS ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,880 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,882 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER UNSCENTED WITH MOISTURIZER AND VITAMIN E', 1, 0)
2018-11-14 11:30:38,884 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,886 INFO sqlalchemy.engine.base.Engine ('DEHYDRATED ALCOHOL', 1, 0)
2018-11-14 11:30:38,887 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,889 INFO sqlalchemy.engine.base.Engine ('CLOBAL CARE INSTANT HAND SANITIZER 1.8OZ', 1, 0)
2018-11-14 11:30:38,890 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,891 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS (VITAMIN E AND ALOE)', 1, 0)
2018-11-14 11:30:38,893 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,895 INFO sqlalchemy.engine.base.Engine ('FRESH LAVENDER WATERLESS ANTI-ANTIBATERIA HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,897 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,897 INFO sqlalchemy.engine.base.Engine ('SANI CLAW WIPES', 1, 0)
2018-11-14 11:30:38,902 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,903 INFO sqlalchemy.engine.base.Engine ('JUSTICE WATERMELON SCENT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,906 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,906 INFO sqlalchemy.engine.base.Engine ('RITE AID INSTANT HAND SANITIZER WITH MOISTURIZERS', 1, 0)
2018-11-14 11:30:38,908 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,909 INFO sqlalchemy.engine.base.Engine ('PRETTY IN PARIS HAND SANITIZER BODYCOLOGY', 1, 0)
2018-11-14 11:30:38,912 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,913 INFO sqlalchemy.engine.base.Engine ('XTRACARE INSTANT HAND SANITIZER ALOE VERA', 1, 0)
2018-11-14 11:30:38,916 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:38,917 INFO sqlalchemy.engine.base.Engine ('COTTON CANDY ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,919 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,920 INFO sqlalchemy.engine.base.Engine ('CELOX ULTRA', 1, 0)
2018-11-14 11:30:38,923 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,925 INFO sqlalchemy.engine.base.Engine ('GREEN APPLE HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,928 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,929 INFO sqlalchemy.engine.base.Engine ('HOOTIN POMEGRANATE HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,932 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,936 INFO sqlalchemy.engine.base.Engine ('PURELL HEALTHCARE ADVANCED HAND SANITIZER GENTLE AND FREE FOAM', 1, 0)
2018-11-14 11:30:38,938 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,939 INFO sqlalchemy.engine.base.Engine ('CREAMSICLE HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,944 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,946 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER L BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,948 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,949 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PINK LEMONADE', 1, 0)
2018-11-14 11:30:38,952 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,954 INFO sqlalchemy.engine.base.Engine ('FOAMING SANITIZING HAND', 1, 0)
2018-11-14 11:30:38,958 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,959 INFO sqlalchemy.engine.base.Engine ('COTTON CANDY HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,961 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,962 INFO sqlalchemy.engine.base.Engine ('MODESA ANTIBACTERIAL HAND SANITIZER LEMON', 1, 0)
2018-11-14 11:30:38,964 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,965 INFO sqlalchemy.engine.base.Engine ('POMEGRANATE SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,970 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,972 INFO sqlalchemy.engine.base.Engine ('RAW SUGAR HAND SANITIZER- PEPPERMINT AND SEA SALT.', 1, 0)
2018-11-14 11:30:38,974 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,976 INFO sqlalchemy.engine.base.Engine ('JUSTICE SHIMMER STRAWBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,981 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,983 INFO sqlalchemy.engine.base.Engine ('RUE21 CHERRY BLOSSOM ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:38,987 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,989 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND REFEEL KUB CARTRIDGE', 1, 0)
2018-11-14 11:30:38,990 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,992 INFO sqlalchemy.engine.base.Engine ('HEALTH CARE PERSONNEL HANDWASH', 1, 0)
2018-11-14 11:30:38,994 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:38,996 INFO sqlalchemy.engine.base.Engine ('HEALTH SMART INSTANT HAND SANITIZER WITH ALOE VERA AND VITAMIN E PEACH', 1, 0)
2018-11-14 11:30:38,999 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,001 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER HONEY', 1, 0)
2018-11-14 11:30:39,005 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,007 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER E BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,011 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,012 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES COCONUT VANILLA WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,014 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,016 INFO sqlalchemy.engine.base.Engine ('RUE21 STRAWBERRY ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,021 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,022 INFO sqlalchemy.engine.base.Engine ('ICING PEPPERMINT CANDY ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,024 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,027 INFO sqlalchemy.engine.base.Engine ('BODYCOLOGY MOISTURIZING HAND SANITIZER BROWN SUGAR VANILLA', 1, 0)
2018-11-14 11:30:39,031 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,034 INFO sqlalchemy.engine.base.Engine ('STRAWBERRY SHORTCAKE BERRY BEST FRIENDS MIXED BERRY ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:30:39,037 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,038 INFO sqlalchemy.engine.base.Engine ('DERMACEN INSTANT HAND SANITIZER WITH ALOE', 1, 0)
2018-11-14 11:30:39,040 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,042 INFO sqlalchemy.engine.base.Engine ('FIRST AID KIT', 1, 0)
2018-11-14 11:30:39,044 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,045 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER LIME', 1, 0)
2018-11-14 11:30:39,047 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,048 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING GREEN APPLE', 1, 0)
2018-11-14 11:30:39,051 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?

 LIMIT ? OFFSET ?
2018-11-14 11:30:39,054 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER GRANDMA S APPLE DELIGHT', 1, 0)
2018-11-14 11:30:39,058 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,059 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WITH VE', 1, 0)
2018-11-14 11:30:39,061 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,065 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES FRENCH LAVENDER ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,069 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,070 INFO sqlalchemy.engine.base.Engine ('SUPER SUDS ANTI-BACTERIAL', 1, 0)
2018-11-14 11:30:39,072 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,073 INFO sqlalchemy.engine.base.Engine ('SUNDROPS 75', 1, 0)
2018-11-14 11:30:39,075 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,076 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E FRESH CITRUS', 1, 0)
2018-11-14 11:30:39,078 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,080 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS CUCUMBER MELON SCENTED WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,081 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,083 INFO sqlalchemy.engine.base.Engine ('3 PACK FAMILY DOLLAR INSTANT HAND SANITIZERS', 1, 0)
2018-11-14 11:30:39,086 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,088 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WITH ALOE', 1, 0)
2018-11-14 11:30:39,090 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,091 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS LAVENDER ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,094 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,094 INFO sqlalchemy.engine.base.Engine ('BODYCOLOGY MOISTURIZING HAND SANITIZER MIDNIGHT GARDEN', 1, 0)
2018-11-14 11:30:39,098 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,099 INFO sqlalchemy.engine.base.Engine ('CIRCLE K HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,102 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,106 INFO sqlalchemy.engine.base.Engine ('MED PLUS', 1, 0)
2018-11-14 11:30:39,111 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,112 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER GREEN TEA', 1, 0)
2018-11-14 11:30:39,114 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,115 INFO sqlalchemy.engine.base.Engine ('PAW PATROL CHASE HAND SANITIZER (BERRY SCENT)', 1, 0)
2018-11-14 11:30:39,121 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,122 INFO sqlalchemy.engine.base.Engine ('VIRX INSTANT HAND SANITIZER WITH MOISTURIZERS AND VITAMIN E', 1, 0)
2018-11-14 11:30:39,125 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,126 INFO sqlalchemy.engine.base.Engine ('FOXY CITRUS', 1, 0)
2018-11-14 11:30:39,128 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,131 INFO sqlalchemy.engine.base.Engine ('SEDANOS INSTANT HAND SANITIZER WITH MOISTRUIZING FORMULA', 1, 0)
2018-11-14 11:30:39,134 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,135 INFO sqlalchemy.engine.base.Engine ('PURELL GREEN CERTIFIED INSTANT HAND SANITIZER FOAM (ETHYL ALCOHOL)', 1, 0)
2018-11-14 11:30:39,137 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,138 INFO sqlalchemy.engine.base.Engine ('RUE 21 LOVE CHERRY BLOSSOM ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,141 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,142 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER A BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,144 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,145 INFO sqlalchemy.engine.base.Engine ('ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,148 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,150 INFO sqlalchemy.engine.base.Engine ('DREUMEX OMNICARE HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,155 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,156 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS OCEAN SCENTED', 1, 0)
2018-11-14 11:30:39,158 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,159 INFO sqlalchemy.engine.base.Engine ('CLARIO INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,162 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,163 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND A THOUSAND WISHES', 1, 0)
2018-11-14 11:30:39,166 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,169 INFO sqlalchemy.engine.base.Engine ('PRETTY IN PARIS KIT BODYCOLOGY', 1, 0)
2018-11-14 11:30:39,171 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,174 INFO sqlalchemy.engine.base.Engine ('PINK GRAPEFRUIT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,178 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,180 INFO sqlalchemy.engine.base.Engine ('HES CLEAN EVE', 1, 0)
2018-11-14 11:30:39,182 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,183 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER INSPIRING ISLAND GETAWAY', 1, 0)

2018-11-14 11:30:39,186 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,188 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER APPLE MANGO', 1, 0)
2018-11-14 11:30:39,190 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,191 INFO sqlalchemy.engine.base.Engine ('ALCOGEL', 1, 0)
2018-11-14 11:30:39,195 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,196 INFO sqlalchemy.engine.base.Engine ('AMERICAN INFECTION CONTROL ANTISEPTIC HAND WIPES', 1, 0)
2018-11-14 11:30:39,201 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,202 INFO sqlalchemy.engine.base.Engine ('JUSTICE VERY BERRY GRAPE SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,205 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,206 INFO sqlalchemy.engine.base.Engine ('PURRFECT RASBERRY HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,208 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,210 INFO sqlalchemy.engine.base.Engine ('HOLIDAY WONDERS WINTER BERRIES ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,212 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,213 INFO sqlalchemy.engine.base.Engine ('AMOVEO 80%', 1, 0)
2018-11-14 11:30:39,215 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,216 INFO sqlalchemy.engine.base.Engine ('LEMON SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,222 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,225 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SPRAY SWEET PEA', 1, 0)
2018-11-14 11:30:39,227 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,228 INFO sqlalchemy.engine.base.Engine ('ONE STEP HAND SANITIZER ALOE', 1, 0)
2018-11-14 11:30:39,232 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,233 INFO sqlalchemy.engine.base.Engine ('2 PACK ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS (VITAMIN E AND ALOE) LEMON SCENTED', 1, 0)
2018-11-14 11:30:39,238 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,238 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS MELON AND MINT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,242 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,244 INFO sqlalchemy.engine.base.Engine ('HOLIDAY WONDERS FROSTED MARSHMALLOW ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,248 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,251 INFO sqlalchemy.engine.base.Engine ('WITCHS BREW ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:30:39,255 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,256 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER R BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,259 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,260 INFO sqlalchemy.engine.base.Engine ('HANSAN SPRAY', 1, 0)
2018-11-14 11:30:39,263 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,264 INFO sqlalchemy.engine.base.Engine ('BODYCOLOGY MOISTURIZING HAND SANITIZER CUCUMBER MELON', 1, 0)
2018-11-14 11:30:39,266 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,267 INFO sqlalchemy.engine.base.Engine ('JUSTICE WILD MELON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,270 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,272 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER OVEN-BAKED APPLES', 1, 0)
2018-11-14 11:30:39,274 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,275 INFO sqlalchemy.engine.base.Engine ('VANILLA HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,279 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,281 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SANITIZER FRESH STRAWBERRIES', 1, 0)
2018-11-14 11:30:39,284 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,285 INFO sqlalchemy.engine.base.Engine ('PURELL PROFESSIONAL ADVANCED HAND SANITIZER FOAM', 1, 0)
2018-11-14 11:30:39,287 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,289 INFO sqlalchemy.engine.base.Engine ('KIDZSTUFF HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,292 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,293 INFO sqlalchemy.engine.base.Engine ('ONE STEP HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,295 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,298 INFO sqlalchemy.engine.base.Engine ('ONE STEP WIPES', 1, 0)
2018-11-14 11:30:39,302 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,304 INFO sqlalchemy.engine.base.Engine ('PINK GRAPE FRUIT WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,306 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,307 INFO sqlalchemy.engine.base.Engine ('TOKYO HAND SANITIZER VANILLA SCENT', 1, 0)
2018-11-14 11:30:39,309 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,312 INFO sqlalchemy.engine.base.Engine ('PURELL INSTANT HAND SANITIZER FOAM (ETHYL ALCOHOL)', 1, 0)
2018-11-14 11:30:39,316 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,320 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND TCHRS SURVIVAL KIT CRISP APPLE', 1, 0)
2018-11-14 11:30:39,323 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:39,324 INFO sqlalchemy.engine.base.Engine ('ORANGE BLOSSOM ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:30:39,327 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,328 INFO sqlalchemy.engine.base.Engine ('VISIBLY CLEAN HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,330 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,332 INFO sqlalchemy.engine.base.Engine ('PHARMACYS PRESCRIPTION 1.8OZ HAND SANITIZER ORIGINAL SCENT', 1, 0)
2018-11-14 11:30:39,334 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,335 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER CITRUS COCONUT', 1, 0)
2018-11-14 11:30:39,338 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,339 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER PAMEGRANATE APPLE', 1, 0)
2018-11-14 11:30:39,341 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,342 INFO sqlalchemy.engine.base.Engine ('JUSTICE BERRY BLAST SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:39,348 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,353 INFO sqlalchemy.engine.base.Engine ('WYANDOTTE SANIFECT E3', 1, 0)
2018-11-14 11:30:39,355 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,358 INFO sqlalchemy.engine.base.Engine ('HANSAN FOAM', 1, 0)
2018-11-14 11:30:39,361 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:39,362 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E VANILLA SCENT', 1, 0)
2018-11-14 11:30:39,364 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,132 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,133 INFO sqlalchemy.engine.base.Engine ('UNITED LABORATORIES 464 PUMP AND PROTECT ALCOHOL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,135 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,138 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY LAVENDER JASMINE', 1, 0)
2018-11-14 11:30:40,141 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,142 INFO sqlalchemy.engine.base.Engine ('RUE21 COCO BREEZE ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,145 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,146 INFO sqlalchemy.engine.base.Engine ('BLOCKOUT FOOT WIPES', 1, 0)
2018-11-14 11:30:40,148 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,149 INFO sqlalchemy.engine.base.Engine ('ULTA LAVENDER WOODS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,151 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,152 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS', 1, 0)
2018-11-14 11:30:40,157 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,158 INFO sqlalchemy.engine.base.Engine ('PHARMACY PRESCRIPTION 1.8OZ HAND SANITIZER - SWEET PEA', 1, 0)
2018-11-14 11:30:40,160 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,161 INFO sqlalchemy.engine.base.Engine ('RUE21 SUGAR COOKIE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,162 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,165 INFO sqlalchemy.engine.base.Engine ('RECENS ULTRA', 1, 0)
2018-11-14 11:30:40,167 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,169 INFO sqlalchemy.engine.base.Engine ('JUSTICE MERMAID MIX BERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,171 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,172 INFO sqlalchemy.engine.base.Engine ('PREFERENCE HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,175 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,177 INFO sqlalchemy.engine.base.Engine ('ALCO-SAN INSTANT SKIN SANITIZER', 1, 0)
2018-11-14 11:30:40,180 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,182 INFO sqlalchemy.engine.base.Engine ('JUSTICE SUGAR SWIRL SCENT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,185 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,189 INFO sqlalchemy.engine.base.Engine ('GBG', 1, 0)
2018-11-14 11:30:40,190 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,195 INFO sqlalchemy.engine.base.Engine ('BODYCOLOGY MOISTURIZING HAND SANITIZER SWEET PETALS', 1, 0)
2018-11-14 11:30:40,198 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,200 INFO sqlalchemy.engine.base.Engine ('3 HAND SANITIZERS KIT', 1, 0)
2018-11-14 11:30:40,206 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,207 INFO sqlalchemy.engine.base.Engine ('PRIME SOURCE HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,209 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,211 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER VANILLA', 1, 0)
2018-11-14 11:30:40,213 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,214 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER ORANGE TANGERINE', 1, 0)
2018-11-14 11:30:40,217 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,218 INFO sqlalchemy.engine.base.Engine ('ALCOHOL FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,226 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:40,228 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER LEMON', 1, 0)
2018-11-14 11:30:40,231 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,232 INFO sqlalchemy.engine.base.Engine ('MOJITO SUN', 1, 0)
2018-11-14 11:30:40,235 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,237 INFO sqlalchemy.engine.base.Engine ('SYMMETRY FOAMING HAND SANITIZER-FRAGRANCE FREE WITH ALOE AND VITAMIN E', 1, 0)
2018-11-14 11:30:40,240 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,241 INFO sqlalchemy.engine.base.Engine ('BATMAN BERRY SCENTED ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:30:40,243 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,245 INFO sqlalchemy.engine.base.Engine ('RUE 21 FALLEN VIXEN ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,248 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,250 INFO sqlalchemy.engine.base.Engine ('MUELLER INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,254 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,256 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER STRAWBERRY', 1, 0)
2018-11-14 11:30:40,259 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,260 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER PEACH', 1, 0)
2018-11-14 11:30:40,263 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,264 INFO sqlalchemy.engine.base.Engine ('REGULAR ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,266 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,268 INFO sqlalchemy.engine.base.Engine ('PRIME-CIDE', 1, 0)
2018-11-14 11:30:40,270 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,271 INFO sqlalchemy.engine.base.Engine ('SANITEX MVP INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,274 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,275 INFO sqlalchemy.engine.base.Engine ('PRETTY PUNCH', 1, 0)
2018-11-14 11:30:40,277 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,278 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND WARM VANILLA SUGAR', 1, 0)
2018-11-14 11:30:40,283 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,286 INFO sqlalchemy.engine.base.Engine ('ISOPROPYL ALCOHOL', 1, 0)
2018-11-14 11:30:40,288 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,290 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER NIGHTIME WINTERBERRY', 1, 0)
2018-11-14 11:30:40,292 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,293 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER ANTICEPTIC', 1, 0)
2018-11-14 11:30:40,295 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,299 INFO sqlalchemy.engine.base.Engine ('TRISEPTIN HAND AND BODY ANTISEPTIC', 1, 0)
2018-11-14 11:30:40,301 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,302 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER ALOE VERA (62%)', 1, 0)
2018-11-14 11:30:40,304 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,306 INFO sqlalchemy.engine.base.Engine ('HOLIDAY WONDERS SUGARED PLUMS ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,310 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,311 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E', 1, 0)
2018-11-14 11:30:40,313 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,314 INFO sqlalchemy.engine.base.Engine ('ONE STEP SANITIZER', 1, 0)
2018-11-14 11:30:40,317 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,319 INFO sqlalchemy.engine.base.Engine ('HANDI-SANI', 1, 0)
2018-11-14 11:30:40,323 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,324 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER VANILLA CINNAMON SCENTED', 1, 0)
2018-11-14 11:30:40,327 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,328 INFO sqlalchemy.engine.base.Engine ('DYNAREX GREEN', 1, 0)
2018-11-14 11:30:40,331 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,331 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E LAVENDER', 1, 0)
2018-11-14 11:30:40,334 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,336 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER FRESH PEPPERMINT CHEER', 1, 0)
2018-11-14 11:30:40,340 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,341 INFO sqlalchemy.engine.base.Engine ('WINTER VANILLA HAND SANITIZER BODYCOLOGY', 1, 0)
2018-11-14 11:30:40,343 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,345 INFO sqlalchemy.engine.base.Engine ('SANI-SILK', 1, 0)
2018-11-14 11:30:40,347 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,348 INFO sqlalchemy.engine.base.Engine ('JUSTICE TRIBAL TANGERINE SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,351 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,353 INFO sqlalchemy.engine.base.Engine ('FAMILY DOLLAR INSTANT HAND SANITIZER WITH MOISTURIZERS AND VITAMIN E', 1, 0)
2018-11-14 11:30:40,356 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?

 LIMIT ? OFFSET ?
2018-11-14 11:30:40,360 INFO sqlalchemy.engine.base.Engine ('COCONUT LIME', 1, 0)
2018-11-14 11:30:40,364 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,365 INFO sqlalchemy.engine.base.Engine ('HAND GUARD FOAMING INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,368 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,369 INFO sqlalchemy.engine.base.Engine ('CITRUS SUNSHINE', 1, 0)
2018-11-14 11:30:40,374 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,375 INFO sqlalchemy.engine.base.Engine ('FAITH FAMILY DUCKS ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:30:40,377 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,379 INFO sqlalchemy.engine.base.Engine ('CREDIT CARD SHAPE HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,382 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,384 INFO sqlalchemy.engine.base.Engine ('LA BODIES PURITA ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,386 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,387 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER M BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,389 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,390 INFO sqlalchemy.engine.base.Engine ('MY LITTLE PONY ANTIBACTERIAL HAND SANITIZER WITH MOISTURIZERS', 1, 0)
2018-11-14 11:30:40,393 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,393 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS UNSCENTED', 1, 0)
2018-11-14 11:30:40,396 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,397 INFO sqlalchemy.engine.base.Engine ('INFECTIGUARD FAST ACTING ANTISEPTIC HAND SANITIZER WITH MOISTURIZER', 1, 0)
2018-11-14 11:30:40,399 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,400 INFO sqlalchemy.engine.base.Engine ('JUST 4 GIRL WATERLESS ANTI BACTERIAL HAND SANITIZER BERRY BLAST', 1, 0)
2018-11-14 11:30:40,404 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,405 INFO sqlalchemy.engine.base.Engine ('PURRFECT CHERRY', 1, 0)
2018-11-14 11:30:40,408 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,410 INFO sqlalchemy.engine.base.Engine ('CARE', 1, 0)
2018-11-14 11:30:40,412 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,413 INFO sqlalchemy.engine.base.Engine ('JUSTICE CACTUS VANILLA SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,415 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,417 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WARM FIREPLACE GATHERING', 1, 0)
2018-11-14 11:30:40,420 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,422 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND AROMATHERAPY STRESS RELIEF EUCALYPTUS SPEARMINT', 1, 0)
2018-11-14 11:30:40,426 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,427 INFO sqlalchemy.engine.base.Engine ('KINDRED GOODS HAND SANITIZER ISLAND ORCHARD COCONUT', 1, 0)
2018-11-14 11:30:40,429 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,432 INFO sqlalchemy.engine.base.Engine ('MICROBAN UNSCENTED', 1, 0)
2018-11-14 11:30:40,436 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,437 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER ULTRA NOURISHING FOAM', 1, 0)
2018-11-14 11:30:40,440 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,441 INFO sqlalchemy.engine.base.Engine ('APRIL BATH AND SHOWER CUCUMBER MELON SCENTED ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,443 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,444 INFO sqlalchemy.engine.base.Engine ('FRESH HAND SANITIZER WITH VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:30:40,447 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,448 INFO sqlalchemy.engine.base.Engine ('COCONUT LIME ANTIBACTERIAL SANITIZER', 1, 0)
2018-11-14 11:30:40,450 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,451 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER RAZZ', 1, 0)
2018-11-14 11:30:40,457 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,459 INFO sqlalchemy.engine.base.Engine ('HAND-E XL', 1, 0)
2018-11-14 11:30:40,463 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,464 INFO sqlalchemy.engine.base.Engine ('ALCARE EXTRA HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,465 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,469 INFO sqlalchemy.engine.base.Engine ('PROCURE HAND SANITIZING', 1, 0)
2018-11-14 11:30:40,474 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,475 INFO sqlalchemy.engine.base.Engine ('TRITON HS-777', 1, 0)
2018-11-14 11:30:40,478 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,483 INFO sqlalchemy.engine.base.Engine ('JUSTICE BEAUTIFUL BERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,486 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,488 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND FIZZY FRUIT POP', 1, 0)
2018-11-14 11:30:40,494 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,495 INFO sqlalchemy.engine.base.Engine ('GBG ALOEGEL', 1, 0)

2018-11-14 11:30:40,497 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,498 INFO sqlalchemy.engine.base.Engine ('FOREVER HAND SANITIZER HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,501 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,502 INFO sqlalchemy.engine.base.Engine ('HER LH2473 VANILLA SCENTED HAND SANITIZER KIT', 1, 0)
2018-11-14 11:30:40,506 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,507 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER WATERMELON SCENTED', 1, 0)
2018-11-14 11:30:40,510 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,510 INFO sqlalchemy.engine.base.Engine ('KUB CARTRIDGE REFEEL ANTISEPTIC HAND SANITIZER UNSCENTED', 1, 0)
2018-11-14 11:30:40,514 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,516 INFO sqlalchemy.engine.base.Engine ('BELLA MAISON TROPICAL VANILLA ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,519 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,521 INFO sqlalchemy.engine.base.Engine ('IRRESISTIBLE APPLE SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,524 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,525 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER BIOBASED CONTENT', 1, 0)
2018-11-14 11:30:40,528 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,528 INFO sqlalchemy.engine.base.Engine ('ISO-QUIN', 1, 0)
2018-11-14 11:30:40,531 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,532 INFO sqlalchemy.engine.base.Engine ('XOXO KIT BODYCOLOGY', 1, 0)
2018-11-14 11:30:40,537 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,538 INFO sqlalchemy.engine.base.Engine ('ANTIMICROBIAL ALCOHOL HAND', 1, 0)
2018-11-14 11:30:40,541 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,542 INFO sqlalchemy.engine.base.Engine ('JUSTICE DANCE ORANGE SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,547 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,550 INFO sqlalchemy.engine.base.Engine ('ANGEL FOODCAKE HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,552 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,556 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SUGARED BERRY', 1, 0)
2018-11-14 11:30:40,559 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,560 INFO sqlalchemy.engine.base.Engine ('JUSTICE MAGICAL MELON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,562 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,563 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER ORIGINAL WITH ALOE VERA AND VITAMIN E', 1, 0)
2018-11-14 11:30:40,565 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,568 INFO sqlalchemy.engine.base.Engine ('HER LT289 VANILLA LIMITED TOO HAND SANITIZER KIT', 1, 0)
2018-11-14 11:30:40,571 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,572 INFO sqlalchemy.engine.base.Engine ('FOAMFRESH ALCO-FOAM HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,576 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,577 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E BEAD LEMON FRESH SCENT', 1, 0)
2018-11-14 11:30:40,582 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,583 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER LEMON LIME', 1, 0)
2018-11-14 11:30:40,586 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,590 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER - STRAWBERRY SCENTED', 1, 0)
2018-11-14 11:30:40,593 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,594 INFO sqlalchemy.engine.base.Engine ('RUE BEAUTE CHERRY HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,597 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,598 INFO sqlalchemy.engine.base.Engine ('MOUSSE VITE', 1, 0)
2018-11-14 11:30:40,600 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,601 INFO sqlalchemy.engine.base.Engine ('GINGERBREAD JUBILEE', 1, 0)
2018-11-14 11:30:40,605 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,606 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SOUR APPLE', 1, 0)
2018-11-14 11:30:40,608 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,610 INFO sqlalchemy.engine.base.Engine ('DEHYDRATED', 1, 0)
2018-11-14 11:30:40,613 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,614 INFO sqlalchemy.engine.base.Engine ('AVANT ECO-PREMIUM INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,618 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,621 INFO sqlalchemy.engine.base.Engine ('TOUGH GUY INSTANT HAND SANITIZER WITH MOISTURIZERS AND VITAMIN E', 1, 0)
2018-11-14 11:30:40,625 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,628 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND GINGERBREAD', 1, 0)
2018-11-14 11:30:40,632 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,635 INFO sqlalchemy.engine.base.Engine ('MICROBAN 80', 1, 0)
2018-11-14 11:30:40,638 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:40,641 INFO sqlalchemy.engine.base.Engine ('SWEET DAISY ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,644 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,645 INFO sqlalchemy.engine.base.Engine ('TORK PREMIUM HAND SANITIZER FOAM', 1, 0)
2018-11-14 11:30:40,647 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,650 INFO sqlalchemy.engine.base.Engine ('JUSTICE LAVENDER DREAM SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,652 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,652 INFO sqlalchemy.engine.base.Engine ('GLOBAL CLEAN INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,655 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,658 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER LEMON', 1, 0)
2018-11-14 11:30:40,660 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,661 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER BE PEACEFUL', 1, 0)
2018-11-14 11:30:40,663 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,664 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER PUMPKIN DELIGHT', 1, 0)
2018-11-14 11:30:40,667 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,669 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES POMEGRANATE SCENT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,674 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,675 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES WARM VANILLA SUGAR SCENT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,678 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,679 INFO sqlalchemy.engine.base.Engine ('SATSUMA ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,681 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,683 INFO sqlalchemy.engine.base.Engine ('RAYMOND WAITES GERBER DAISY WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,685 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,686 INFO sqlalchemy.engine.base.Engine ('ALGONQUIN FOAMSAN', 1, 0)
2018-11-14 11:30:40,690 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,691 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER FRESH PEACH BLOSSOMS', 1, 0)
2018-11-14 11:30:40,694 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,695 INFO sqlalchemy.engine.base.Engine ('ACQUA AROMA HAND SANITIZER GEL', 1, 0)
2018-11-14 11:30:40,697 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,700 INFO sqlalchemy.engine.base.Engine ('SANI-SMOOTH', 1, 0)
2018-11-14 11:30:40,705 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,708 INFO sqlalchemy.engine.base.Engine ('QC 2OZ INSTANT HAND SANITIZER (ORIGINAL)', 1, 0)
2018-11-14 11:30:40,711 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,712 INFO sqlalchemy.engine.base.Engine ('SOFT CARE FOAM INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,715 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,716 INFO sqlalchemy.engine.base.Engine ('COMMON SENSE', 1, 0)
2018-11-14 11:30:40,719 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,720 INFO sqlalchemy.engine.base.Engine ('MANGO PAPAYA ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,726 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,727 INFO sqlalchemy.engine.base.Engine ('SCAREDY CAT ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:30:40,729 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,730 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING BLUEBERRY', 1, 0)
2018-11-14 11:30:40,733 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,734 INFO sqlalchemy.engine.base.Engine ('ASSURED HAND SANITIZER WITH MOISTURIZERS', 1, 0)
2018-11-14 11:30:40,736 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,737 INFO sqlalchemy.engine.base.Engine ('ANTIMICROBIAL', 1, 0)
2018-11-14 11:30:40,742 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,743 INFO sqlalchemy.engine.base.Engine ('ANTISEPTIC', 1, 0)
2018-11-14 11:30:40,748 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,751 INFO sqlalchemy.engine.base.Engine ('PUMPKIN PIE ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,753 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,757 INFO sqlalchemy.engine.base.Engine ('VINDICATOR INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,760 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,761 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER CHERRY BLOSSOM', 1, 0)
2018-11-14 11:30:40,763 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,766 INFO sqlalchemy.engine.base.Engine ('ENCHANTED MOMENTS BERRIES AND CREAM HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,768 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,770 INFO sqlalchemy.engine.base.Engine ('PINEAPPLE PARADISE', 1, 0)
2018-11-14 11:30:40,775 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,777 INFO sqlalchemy.engine.base.Engine ('VIAMED ALCOHOL PREP PAD', 1, 0)
2018-11-14 11:30:40,780 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:40,781 INFO sqlalchemy.engine.base.Engine ('JUSTICE RABBIT STRAWBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,783 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,784 INFO sqlalchemy.engine.base.Engine ('PURELL FOODSERVICE ADVANCED HAND SANITIZER VF481 GEL', 1, 0)
2018-11-14 11:30:40,792 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,793 INFO sqlalchemy.engine.base.Engine ('JUSTICE PINEAPPLE SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,796 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,797 INFO sqlalchemy.engine.base.Engine ('AOGEL HAND SANITIZER KIDS', 1, 0)
2018-11-14 11:30:40,799 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,803 INFO sqlalchemy.engine.base.Engine ('VANILLA BEAN ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:30:40,806 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,807 INFO sqlalchemy.engine.base.Engine ('GBG ALOEGEL INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,811 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,811 INFO sqlalchemy.engine.base.Engine ('RUE BEAUTE GRAPEFRUIT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,815 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,816 INFO sqlalchemy.engine.base.Engine ('EQUATE ANTI BACTERIAL HAND SANITIZER BEACH', 1, 0)
2018-11-14 11:30:40,819 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,820 INFO sqlalchemy.engine.base.Engine ('WINNING HANDS ALCOHOL FOAMING', 1, 0)
2018-11-14 11:30:40,824 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,826 INFO sqlalchemy.engine.base.Engine ('RUE21 OCEAN BREEZE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,827 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,828 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER SUNBLOSSOM', 1, 0)
2018-11-14 11:30:40,831 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,831 INFO sqlalchemy.engine.base.Engine ('GLITTER RITZ GOLDEN VANILLA EMBERS', 1, 0)
2018-11-14 11:30:40,836 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,839 INFO sqlalchemy.engine.base.Engine ('DIGISAN', 1, 0)
2018-11-14 11:30:40,842 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,843 INFO sqlalchemy.engine.base.Engine ('HER LH2484 STRAWBERRY SCENTED HAND SANITIZER KIT', 1, 0)
2018-11-14 11:30:40,845 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,846 INFO sqlalchemy.engine.base.Engine ('PARIS HAND SANITIZER VANILLA SCENT', 1, 0)
2018-11-14 11:30:40,849 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,851 INFO sqlalchemy.engine.base.Engine ('JUSTICE LOVE HUGS ME AND YOU COTTON CANDY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,853 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,855 INFO sqlalchemy.engine.base.Engine ('ALCO HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,859 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,860 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND POLAR MINT AND ARCTIC BLAST', 1, 0)
2018-11-14 11:30:40,862 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,864 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER (62%)', 1, 0)
2018-11-14 11:30:40,868 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,869 INFO sqlalchemy.engine.base.Engine ('ENERGY INFUSION HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,872 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,876 INFO sqlalchemy.engine.base.Engine ('AIRE-MASTER SANITIZER GEL VIT E/A', 1, 0)
2018-11-14 11:30:40,879 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,881 INFO sqlalchemy.engine.base.Engine ('PREVAIL HAND SANITIZER WHITE TEA', 1, 0)
2018-11-14 11:30:40,883 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,885 INFO sqlalchemy.engine.base.Engine ('PDI ALCOHOL PREP PAD LARGE AND MEDIUM', 1, 0)
2018-11-14 11:30:40,887 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,889 INFO sqlalchemy.engine.base.Engine ('FRIUTS AND FLOWERS GRAPEFRUIT WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,893 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,894 INFO sqlalchemy.engine.base.Engine ('ORANGE SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,896 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,897 INFO sqlalchemy.engine.base.Engine ('JELLY BEAN HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,900 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,903 INFO sqlalchemy.engine.base.Engine ('PAW PATROL JKYE HAND SANITIZER (BERRY SCENT)', 1, 0)
2018-11-14 11:30:40,905 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,906 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER O CHRISTMAS TREE', 1, 0)
2018-11-14 11:30:40,909 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,912 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS GINGER PEACH ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,914 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,915 INFO sqlalchemy.engine.base.Engine ('JUSTICE POP CORN VANILLA SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)

2018-11-14 11:30:40,918 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,921 INFO sqlalchemy.engine.base.Engine ('DECON HAND INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,923 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,926 INFO sqlalchemy.engine.base.Engine ('HES CLEAN ADAM', 1, 0)
2018-11-14 11:30:40,929 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,931 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES ENGLISH PEAR SCENTED WATERLESS ANTI BACTERIAL HAND GEL', 1, 0)
2018-11-14 11:30:40,935 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,936 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS ALL IN ONE', 1, 0)
2018-11-14 11:30:40,940 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,941 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING LAVENDER', 1, 0)
2018-11-14 11:30:40,944 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,945 INFO sqlalchemy.engine.base.Engine ('FIVE PHOTO BRAND FIRST AID ANTISEPTIC', 1, 0)
2018-11-14 11:30:40,947 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,948 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SPICY PEPPERMINT', 1, 0)
2018-11-14 11:30:40,953 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,954 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,959 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,962 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER LEMON', 1, 0)
2018-11-14 11:30:40,965 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,966 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WATERMELON', 1, 0)
2018-11-14 11:30:40,968 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,969 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER PEPPERMINT', 1, 0)
2018-11-14 11:30:40,972 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,973 INFO sqlalchemy.engine.base.Engine ('HEALTHCARE INSTANT HAND SANITIZER VANILLA SCENT', 1, 0)
2018-11-14 11:30:40,977 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,978 INFO sqlalchemy.engine.base.Engine ('COTTON BLOSSOM WATERLESS ANTI-ANTIBATERIA HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,980 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,981 INFO sqlalchemy.engine.base.Engine ('FRESH FRIES HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,985 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,987 INFO sqlalchemy.engine.base.Engine ('GAME DAY MSC MAINSTREET COLLECTION HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,991 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,993 INFO sqlalchemy.engine.base.Engine ('JUSTICE BFF BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:40,997 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:40,998 INFO sqlalchemy.engine.base.Engine ('REFRESHER', 1, 0)
2018-11-14 11:30:41,001 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,002 INFO sqlalchemy.engine.base.Engine ('HER LT297 STRAWBERRY LIMITED TOO SANITIZER KIT', 1, 0)
2018-11-14 11:30:41,005 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,006 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ROSE', 1, 0)
2018-11-14 11:30:41,011 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,015 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER GEL', 1, 0)
2018-11-14 11:30:41,018 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,019 INFO sqlalchemy.engine.base.Engine ('CARE BEARS COTTON CANDY ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:30:41,023 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,025 INFO sqlalchemy.engine.base.Engine ('HEALTH CARE INSTANT HAND SANITIZER ICE CLEAR', 1, 0)
2018-11-14 11:30:41,027 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,028 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS SWEET PEA LILY HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,031 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,032 INFO sqlalchemy.engine.base.Engine ('BERRY HAND SANITIZER WITH VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:30:41,035 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,036 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER I BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,041 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,042 INFO sqlalchemy.engine.base.Engine ('SANI PROFESSIONAL BRAND SANI-HANDSINSTANT HAND SANI INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:30:41,045 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,046 INFO sqlalchemy.engine.base.Engine ('IRIS ANTIMICROBIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,050 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,050 INFO sqlalchemy.engine.base.Engine ('BURGER TIME HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,053 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,054 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER HOLIDAY SPICE', 1, 0)
2018-11-14 11:30:41,060 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?

 LIMIT ? OFFSET ?
2018-11-14 11:30:41,062 INFO sqlalchemy.engine.base.Engine ('HEALTH SMART INSTANT HAND SANITIZER WITH ALOE VERA AND VITAMIN E SWEET PEA', 1, 0)
2018-11-14 11:30:41,064 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,065 INFO sqlalchemy.engine.base.Engine ('JUSTICE VANILLA LATTE SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,071 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,073 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES BLUEBERRY SCENTED WATERLESS ANTI BACTERIAL HAND GEL', 1, 0)
2018-11-14 11:30:41,076 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,077 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER WINTERBERRY DELIGHT', 1, 0)
2018-11-14 11:30:41,079 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,080 INFO sqlalchemy.engine.base.Engine ('SOFT CARE IMPACT MINI INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,083 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,083 INFO sqlalchemy.engine.base.Engine ('ICEE WHITE CHERRY SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,086 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,087 INFO sqlalchemy.engine.base.Engine ('CLINICAL WORKS PINK GRAPEFRUIT WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,090 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,092 INFO sqlalchemy.engine.base.Engine ('ENCHANTED MOMENTS MISTLETOE KISSES HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,094 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,097 INFO sqlalchemy.engine.base.Engine ('BLUE RASBERRY HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,100 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,103 INFO sqlalchemy.engine.base.Engine ('SERVO-STAT BALM', 1, 0)
2018-11-14 11:30:41,108 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,109 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER CALENDULA', 1, 0)
2018-11-14 11:30:41,111 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,112 INFO sqlalchemy.engine.base.Engine ('NOVACLENZ INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,115 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,117 INFO sqlalchemy.engine.base.Engine ('SANITIZER', 1, 0)
2018-11-14 11:30:41,119 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,120 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER WINTER JELLY BEAN', 1, 0)
2018-11-14 11:30:41,123 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,125 INFO sqlalchemy.engine.base.Engine ('JUSTICE TUCAN STRAWBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,129 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,130 INFO sqlalchemy.engine.base.Engine ('RECENS HAND SANITIZER WIPES', 1, 0)
2018-11-14 11:30:41,132 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,135 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND STUDENT SNOT', 1, 0)
2018-11-14 11:30:41,138 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,139 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER MOONLIT MOMENTS', 1, 0)
2018-11-14 11:30:41,143 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,145 INFO sqlalchemy.engine.base.Engine ('T-CHEM ANTIMICROBIAL HAND', 1, 0)
2018-11-14 11:30:41,150 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,151 INFO sqlalchemy.engine.base.Engine ('SUSAN WINGET MANGO ORANGE HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,154 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,155 INFO sqlalchemy.engine.base.Engine ('JURLIQUE MOISTURIZING HAND SANITIZER NATURAL ANTIBACTERIAL', 1, 0)
2018-11-14 11:30:41,160 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,162 INFO sqlalchemy.engine.base.Engine ('SANI-SPRITZ', 1, 0)
2018-11-14 11:30:41,165 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,167 INFO sqlalchemy.engine.base.Engine ('JUSTICE SWEET CINNAMON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,169 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,170 INFO sqlalchemy.engine.base.Engine ('MANDARIN ORANGE AND LEMON ANTIBACTERIAL SANITIZER', 1, 0)
2018-11-14 11:30:41,172 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,175 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER SUGAR COATED PLUM', 1, 0)
2018-11-14 11:30:41,178 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,948 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,949 INFO sqlalchemy.engine.base.Engine ('CLINICAL WORKS CUCUMBER MELON WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,951 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,952 INFO sqlalchemy.engine.base.Engine ('PROTECTEAV', 1, 0)
2018-11-14 11:30:41,954 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,955 INFO sqlalchemy.engine.base.Engine ('JUSTICE BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,959 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,962 INFO sqlalchemy.engine.base.Engine ('RUE BEAUTE STRAWBERRY HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,967 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:41,968 INFO sqlalchemy.engine.base.Engine ('SUPERMAN BERRY SCENTED ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:30:41,970 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,970 INFO sqlalchemy.engine.base.Engine ('THUMBS-UP LIME HAND SANITIZER', 1, 0)
2018-11-14 11:30:41,972 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,974 INFO sqlalchemy.engine.base.Engine ('STERILLIUM RUB FRAGRANCE FREE', 1, 0)
2018-11-14 11:30:41,978 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,979 INFO sqlalchemy.engine.base.Engine ('BORTONS ETHYL RUBBING ALCOHOL', 1, 0)
2018-11-14 11:30:41,981 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,985 INFO sqlalchemy.engine.base.Engine ('ADRIANA 8OZ HAND SANITIZER -ORIGINAL', 1, 0)
2018-11-14 11:30:41,990 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,993 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND FRESH WATERMELON', 1, 0)
2018-11-14 11:30:41,996 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:41,997 INFO sqlalchemy.engine.base.Engine ('CLEAN N FRESH INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,000 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,001 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER ALOE VERA', 1, 0)
2018-11-14 11:30:42,004 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,008 INFO sqlalchemy.engine.base.Engine ('BODY BLENDS COCONUT LIME ESCAPE ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,011 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,013 INFO sqlalchemy.engine.base.Engine ('SOFT CARE HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,016 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,017 INFO sqlalchemy.engine.base.Engine ('JUSTICE BE STRONG BRIGHT CITRUS SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,020 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,022 INFO sqlalchemy.engine.base.Engine ('ALCOSCRUB HAND CLEANER', 1, 0)
2018-11-14 11:30:42,025 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,027 INFO sqlalchemy.engine.base.Engine ('JUSTICE RHINESTONE RASPBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,030 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,032 INFO sqlalchemy.engine.base.Engine ('OSCEOLA SKIN CARE SANI-GEL INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,037 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,040 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND SANITIZER SPRAY', 1, 0)
2018-11-14 11:30:42,044 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,045 INFO sqlalchemy.engine.base.Engine ('STAPLES INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,048 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,049 INFO sqlalchemy.engine.base.Engine ('WILDE ORCHID', 1, 0)
2018-11-14 11:30:42,051 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,052 INFO sqlalchemy.engine.base.Engine ('MANGO ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,056 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,059 INFO sqlalchemy.engine.base.Engine ('MRS. MEYERS CLEAN DAY HAND SANITIZER BASIL SCENT', 1, 0)
2018-11-14 11:30:42,063 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,065 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS WHITE TEA PEAR HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,069 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,070 INFO sqlalchemy.engine.base.Engine ('PERSONAL CARE', 1, 0)
2018-11-14 11:30:42,072 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,074 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY EUCALYPTUS MINT', 1, 0)
2018-11-14 11:30:42,077 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,079 INFO sqlalchemy.engine.base.Engine ('EVERGREEN SNOWMAN', 1, 0)
2018-11-14 11:30:42,081 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,082 INFO sqlalchemy.engine.base.Engine ('GREEN TEA ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,084 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,085 INFO sqlalchemy.engine.base.Engine ('KLEENEX ULTRA MOISTURIZING HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,088 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,090 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER BANANA SPLIT', 1, 0)
2018-11-14 11:30:42,093 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,094 INFO sqlalchemy.engine.base.Engine ('AMORAY PREMIUM INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E STRAWBERRY', 1, 0)
2018-11-14 11:30:42,097 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,098 INFO sqlalchemy.engine.base.Engine ('JUSTICE SPARKLING VANILLA SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,101 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,102 INFO sqlalchemy.engine.base.Engine ('BD E-Z CARE', 1, 0)
2018-11-14 11:30:42,104 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,105 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER ORIGINAL WITH MOISTURIZER AND VITAMIN E', 1, 0)

2018-11-14 11:30:42,108 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,110 INFO sqlalchemy.engine.base.Engine ('SUKANG ALCOHOL PREP PADS MEDIUM', 1, 0)
2018-11-14 11:30:42,115 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,116 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ALMOND', 1, 0)
2018-11-14 11:30:42,118 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,118 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY', 1, 0)
2018-11-14 11:30:42,121 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,123 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED SKIN NOURISHING INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,128 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,132 INFO sqlalchemy.engine.base.Engine ('KEYSTONE LIQUID HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,134 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,135 INFO sqlalchemy.engine.base.Engine ('GENUINE HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,137 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,138 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND HELLO IM A MERMAID OCEAN BREEZE', 1, 0)
2018-11-14 11:30:42,143 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,144 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES FRESH WATERS SCENT HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,147 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,148 INFO sqlalchemy.engine.base.Engine ('JUSTICE DANCE BERRY BLAST SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,151 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,152 INFO sqlalchemy.engine.base.Engine ('HYGIENE', 1, 0)
2018-11-14 11:30:42,157 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,158 INFO sqlalchemy.engine.base.Engine ('GERM SAFE', 1, 0)
2018-11-14 11:30:42,161 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,164 INFO sqlalchemy.engine.base.Engine ('PACIFIC GARDEN FOAM HAND SANITIZER, FRAGRANCE FREE, DYE FREE', 1, 0)
2018-11-14 11:30:42,171 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,172 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER NEUTRAL SCENTED', 1, 0)
2018-11-14 11:30:42,175 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,177 INFO sqlalchemy.engine.base.Engine ('DOTS ASIAN SPICE ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,179 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,181 INFO sqlalchemy.engine.base.Engine ('MEDISOFT', 1, 0)
2018-11-14 11:30:42,183 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,184 INFO sqlalchemy.engine.base.Engine ('HANDFUL SANITIZER', 1, 0)
2018-11-14 11:30:42,186 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,187 INFO sqlalchemy.engine.base.Engine ('PDI SANI-HANDS INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:30:42,190 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,191 INFO sqlalchemy.engine.base.Engine ('ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS ALOE VERA AND MOISTURIZERS', 1, 0)
2018-11-14 11:30:42,193 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,194 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS ICED COOKIE ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,198 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,199 INFO sqlalchemy.engine.base.Engine ('JUSTICE ELEPHANT MANGO SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,201 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,202 INFO sqlalchemy.engine.base.Engine ('PURELL INSTANT ULTRA', 1, 0)
2018-11-14 11:30:42,204 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,206 INFO sqlalchemy.engine.base.Engine ('ULTA VANILLA SUGAR ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,212 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,215 INFO sqlalchemy.engine.base.Engine ('RUE21 CHERRY ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,218 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,219 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER SPRINKLED WITH LOVE', 1, 0)
2018-11-14 11:30:42,222 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,222 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING MANDARIN', 1, 0)
2018-11-14 11:30:42,224 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,227 INFO sqlalchemy.engine.base.Engine ('PURELL FOOD PROCESSING ADVANCED HAND SANITIZER E3 FOAM', 1, 0)
2018-11-14 11:30:42,230 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,231 INFO sqlalchemy.engine.base.Engine ('RUE21 OCEAN ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,234 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,237 INFO sqlalchemy.engine.base.Engine ('JUSTICE TORTOISE GREEN APPLE SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,241 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,242 INFO sqlalchemy.engine.base.Engine ('SAFE HANDS HAND SANITIZER WITH ALCOHOL', 1, 0)
2018-11-14 11:30:42,244 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:42,245 INFO sqlalchemy.engine.base.Engine ('RUE BEAUTE VANILLA CUPCAKE HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,248 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,249 INFO sqlalchemy.engine.base.Engine ('PURELL HEALTHCARE ADVANCED HAND SANITIZER ULTRA NOURISHING FOAM', 1, 0)
2018-11-14 11:30:42,251 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,256 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND HELLO IM A UNICORN BERRY LEMONADE', 1, 0)
2018-11-14 11:30:42,258 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,262 INFO sqlalchemy.engine.base.Engine ('NATURALS CUCUMBER MELON ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:30:42,265 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,267 INFO sqlalchemy.engine.base.Engine ('BELLA MAISON COCONUT PINEAPPLE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,270 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,271 INFO sqlalchemy.engine.base.Engine ('PHARMACY PRESCRIPTION 1.8OZ HAND SANITIZER - SWEET PEACH', 1, 0)
2018-11-14 11:30:42,274 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,278 INFO sqlalchemy.engine.base.Engine ('SCOTT MOISTURIZING FOAM HAND SANITIZER (ULTRA)', 1, 0)
2018-11-14 11:30:42,280 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,281 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING TEACHERS RULE MANDARIN', 1, 0)
2018-11-14 11:30:42,283 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,284 INFO sqlalchemy.engine.base.Engine ('COCONUT TUBEROSE', 1, 0)
2018-11-14 11:30:42,286 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,290 INFO sqlalchemy.engine.base.Engine ('TRISEPTIN WATER AIDED', 1, 0)
2018-11-14 11:30:42,292 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,294 INFO sqlalchemy.engine.base.Engine ('AMOVEO UNSCENTED', 1, 0)
2018-11-14 11:30:42,296 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,297 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND OCEAN FOR MEN', 1, 0)
2018-11-14 11:30:42,300 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,300 INFO sqlalchemy.engine.base.Engine ('CHEEKY FRESH', 1, 0)
2018-11-14 11:30:42,303 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,304 INFO sqlalchemy.engine.base.Engine ('VANILLA CUPCAKE ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,306 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,307 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,310 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,311 INFO sqlalchemy.engine.base.Engine ('3M AVAGARD INSTANT HAND ANTISEPTIC WITH MOISTURIZERS', 1, 0)
2018-11-14 11:30:42,313 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,314 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER WITH MOISTURIZERS ALOE SCENTED', 1, 0)
2018-11-14 11:30:42,316 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,318 INFO sqlalchemy.engine.base.Engine ('SWEET PEA WATERLESS ANTI-ANTIBATERIA HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,322 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,323 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES ENGLISH PEAR ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,325 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,326 INFO sqlalchemy.engine.base.Engine ('FOAM AID', 1, 0)
2018-11-14 11:30:42,329 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,330 INFO sqlalchemy.engine.base.Engine ('HEALTHY HANDS INSTANT ANTISEPTIC HAND CLEANSER', 1, 0)
2018-11-14 11:30:42,332 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,333 INFO sqlalchemy.engine.base.Engine ('SCOTT MOISTURIZING FOAM HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,338 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,339 INFO sqlalchemy.engine.base.Engine ('NORTHSIDE HOSPITAL AMENITY KIT--GI DEPT', 1, 0)
2018-11-14 11:30:42,342 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,344 INFO sqlalchemy.engine.base.Engine ('SELECT ANTISEPTIC HAND GEL WITH ALOE', 1, 0)
2018-11-14 11:30:42,351 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,352 INFO sqlalchemy.engine.base.Engine ('CUCUMBER MELON ANTIBACTERIAL SANITIZER', 1, 0)
2018-11-14 11:30:42,354 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,356 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER EXTRA ENRICHED WITH VITAMIN E LEMON FRESH SCENT', 1, 0)
2018-11-14 11:30:42,358 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,360 INFO sqlalchemy.engine.base.Engine ('FROSTED CRANBERRY ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,362 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,363 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND HELLO BEAUTIFUL', 1, 0)
2018-11-14 11:30:42,365 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,367 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER REVITALIZING RAIN', 1, 0)
2018-11-14 11:30:42,369 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,370 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER MANDARIN MEDLEY', 1, 0)

2018-11-14 11:30:42,372 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,373 INFO sqlalchemy.engine.base.Engine ('INFECTIGUARD FAST ACTING ANTISEPTIC HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,376 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,378 INFO sqlalchemy.engine.base.Engine ('PURELL HEALTHCARE ADVANCED HAND SANITIZER GEL', 1, 0)
2018-11-14 11:30:42,380 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,381 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER CITRUS SCENTED', 1, 0)
2018-11-14 11:30:42,383 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,385 INFO sqlalchemy.engine.base.Engine ('RUE21 VANILLA SPICE ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,387 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,389 INFO sqlalchemy.engine.base.Engine ('HAND SAN', 1, 0)
2018-11-14 11:30:42,391 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,392 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER GRAPE', 1, 0)
2018-11-14 11:30:42,397 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,398 INFO sqlalchemy.engine.base.Engine ('AMORAY PREMIUM INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E ORIGINAL', 1, 0)
2018-11-14 11:30:42,401 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,403 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ORANCE', 1, 0)
2018-11-14 11:30:42,405 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,406 INFO sqlalchemy.engine.base.Engine ('ALCARE FOAMED ANTISEPTIC HANDRUB', 1, 0)
2018-11-14 11:30:42,410 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,412 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER GRAPEFRUIT', 1, 0)
2018-11-14 11:30:42,414 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,417 INFO sqlalchemy.engine.base.Engine ('APPLE ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,419 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,421 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER MINT', 1, 0)
2018-11-14 11:30:42,423 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,425 INFO sqlalchemy.engine.base.Engine ('QSR HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,428 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,429 INFO sqlalchemy.engine.base.Engine ('JUSTICE SPARKLING BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,431 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,432 INFO sqlalchemy.engine.base.Engine ('BLACKBERRY VANILLA HAND SANITIZER BODYCOLOGY', 1, 0)
2018-11-14 11:30:42,434 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,436 INFO sqlalchemy.engine.base.Engine ('KAY ALPHASAN HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,438 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,439 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS ALOE CUCUMBER HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,440 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,442 INFO sqlalchemy.engine.base.Engine ('FACILITY MAINTENANCE INSTANT HAND SANITIZER HS-67', 1, 0)
2018-11-14 11:30:42,444 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,446 INFO sqlalchemy.engine.base.Engine ('SWEET CANDY KISS SANITIZER PEN', 1, 0)
2018-11-14 11:30:42,449 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,450 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND ARCTIC BLAST', 1, 0)
2018-11-14 11:30:42,454 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,455 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER STRAWBERRY', 1, 0)
2018-11-14 11:30:42,458 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,459 INFO sqlalchemy.engine.base.Engine ('ANTIMICROBIAL ALCOHOL HAND WIPES', 1, 0)
2018-11-14 11:30:42,463 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,464 INFO sqlalchemy.engine.base.Engine ('STAT-FOAM', 1, 0)
2018-11-14 11:30:42,467 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,468 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS SWEET PEA SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,470 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,472 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER OCEAN KISS', 1, 0)
2018-11-14 11:30:42,479 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,480 INFO sqlalchemy.engine.base.Engine ('PDI ALCOHOL SWABSTICK THREES AND ONES', 1, 0)
2018-11-14 11:30:42,482 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,483 INFO sqlalchemy.engine.base.Engine ('CLEAR DEFENSE HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:30:42,486 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,489 INFO sqlalchemy.engine.base.Engine ('SANI', 1, 0)
2018-11-14 11:30:42,491 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,493 INFO sqlalchemy.engine.base.Engine ('PIZZA PARTY HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,499 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:42,501 INFO sqlalchemy.engine.base.Engine ('FROSTED BERRIES AND CREAM SANITIZER PEN', 1, 0)
2018-11-14 11:30:42,503 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,504 INFO sqlalchemy.engine.base.Engine ('MIX BERRIES ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,506 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,507 INFO sqlalchemy.engine.base.Engine ('PHARMACY PRESCRIPTION 1.8OZ HAND SANITIZER - ORIGINAL SCENT', 1, 0)
2018-11-14 11:30:42,513 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,514 INFO sqlalchemy.engine.base.Engine ('JUSTICE FROSTED CUPCAKE SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,516 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,517 INFO sqlalchemy.engine.base.Engine ('PHARMACYS PRESCRIPTION 1.8OZ HAND SANITIZER SWEET PEACH', 1, 0)
2018-11-14 11:30:42,520 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,521 INFO sqlalchemy.engine.base.Engine ('QC 8OZ INSTANT HAND SANITIZER (ORIGINAL)', 1, 0)
2018-11-14 11:30:42,529 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,530 INFO sqlalchemy.engine.base.Engine ('VANILLA SUGAR ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:30:42,532 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,533 INFO sqlalchemy.engine.base.Engine ('TAMPA GENERAL HOSPITAL INSTANT HAND DEGERMER', 1, 0)
2018-11-14 11:30:42,536 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,536 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER TOMATO', 1, 0)
2018-11-14 11:30:42,539 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,540 INFO sqlalchemy.engine.base.Engine ('ANTISEPTIC HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,543 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,545 INFO sqlalchemy.engine.base.Engine ('RECENS', 1, 0)
2018-11-14 11:30:42,547 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,548 INFO sqlalchemy.engine.base.Engine ('CHARLIE GIRL STRAWBERRY ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,551 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,553 INFO sqlalchemy.engine.base.Engine ('SOFT CARE FRAGRANCE FREE INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,556 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,557 INFO sqlalchemy.engine.base.Engine ('ALTITUDEMEDICAL HAND ANTIBACTERIAL', 1, 0)
2018-11-14 11:30:42,565 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,567 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER PEACH 250ML', 1, 0)
2018-11-14 11:30:42,571 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,573 INFO sqlalchemy.engine.base.Engine ('GERM-X', 1, 0)
2018-11-14 11:30:42,575 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,577 INFO sqlalchemy.engine.base.Engine ('MARSHMALLOW ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:30:42,580 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,581 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER ALOE VERA (70% V/V)', 1, 0)
2018-11-14 11:30:42,586 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,588 INFO sqlalchemy.engine.base.Engine ('ASSURED INSTANT HAND SANITIZER WITH MOISTURIZERS VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:30:42,591 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,592 INFO sqlalchemy.engine.base.Engine ('SOFT N SURE ANTISEPTIC HAND', 1, 0)
2018-11-14 11:30:42,597 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,598 INFO sqlalchemy.engine.base.Engine ('AMERICAN INFECTION CONTROL ANTISEPTIC BODY WIPES', 1, 0)
2018-11-14 11:30:42,600 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,601 INFO sqlalchemy.engine.base.Engine ('SPATHERAPY RASPBERRY BRULEE', 1, 0)
2018-11-14 11:30:42,603 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,606 INFO sqlalchemy.engine.base.Engine ('COOL CLEMENTINE ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,608 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,610 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER HAND SANITIZER BEACH', 1, 0)
2018-11-14 11:30:42,612 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,613 INFO sqlalchemy.engine.base.Engine ('3 PACK INSTANT HAND SANITIZER WITH MOISTURIZERS', 1, 0)
2018-11-14 11:30:42,615 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,616 INFO sqlalchemy.engine.base.Engine ('ICING WINTERBERRY ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,619 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,620 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER C BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,622 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,623 INFO sqlalchemy.engine.base.Engine ('FREE HAND', 1, 0)
2018-11-14 11:30:42,627 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,629 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND GIFT SET ICY MINT AND CANDY CANE', 1, 0)
2018-11-14 11:30:42,632 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,635 INFO sqlalchemy.engine.base.Engine ('PRO-LINK HAND SANITIZER', 1, 0)

2018-11-14 11:30:42,637 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,638 INFO sqlalchemy.engine.base.Engine ('CVS PHARMACY INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E', 1, 0)
2018-11-14 11:30:42,641 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,642 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E BERRIES', 1, 0)
2018-11-14 11:30:42,650 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,651 INFO sqlalchemy.engine.base.Engine ('EVERYONE HAND SANITIZER COCONUT LEMON', 1, 0)
2018-11-14 11:30:42,653 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,654 INFO sqlalchemy.engine.base.Engine ('KROGER WATERLESS HAND SANITIZER WITH ALOE WITH MOISTURIZERS AND VITAMIN E', 1, 0)
2018-11-14 11:30:42,656 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,657 INFO sqlalchemy.engine.base.Engine ('ECOLAB', 1, 0)
2018-11-14 11:30:42,661 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,662 INFO sqlalchemy.engine.base.Engine ('HANITIZER', 1, 0)
2018-11-14 11:30:42,665 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,666 INFO sqlalchemy.engine.base.Engine ('CLINICAL WORKS OCEAN BREEZE WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,668 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,670 INFO sqlalchemy.engine.base.Engine ('ANTIBACTERIAL HAND MISTLETOE AND MINT', 1, 0)
2018-11-14 11:30:42,673 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,675 INFO sqlalchemy.engine.base.Engine ('INSTANT FOAM', 1, 0)
2018-11-14 11:30:42,680 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,681 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS CRISP BAMBOO ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,683 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,684 INFO sqlalchemy.engine.base.Engine ('JUSTICE DAZZLING BERRY SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,686 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,687 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER CHERRY', 1, 0)
2018-11-14 11:30:42,690 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,691 INFO sqlalchemy.engine.base.Engine ('SPOOKY VANILLA ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:30:42,695 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,697 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER GIFT SET 3-PACK', 1, 0)
2018-11-14 11:30:42,700 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,701 INFO sqlalchemy.engine.base.Engine ('WATERLESS LAVENDER SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,703 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,704 INFO sqlalchemy.engine.base.Engine ('JUSTICE SUGARED DONUT SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,707 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,708 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND OH SNAP COTTON CANDY', 1, 0)
2018-11-14 11:30:42,713 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,714 INFO sqlalchemy.engine.base.Engine ('COMPACT HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,719 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,720 INFO sqlalchemy.engine.base.Engine ('CLEARLY BETTER', 1, 0)
2018-11-14 11:30:42,725 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,726 INFO sqlalchemy.engine.base.Engine ('MADA 70% ALCOHOL', 1, 0)
2018-11-14 11:30:42,730 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,734 INFO sqlalchemy.engine.base.Engine ('KLEENEX ANTISEPTIC HAND RUB WITH MOISTURIZERS', 1, 0)
2018-11-14 11:30:42,737 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,739 INFO sqlalchemy.engine.base.Engine ('JUSTICE FROSTED VANILLA SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,742 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,744 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER NOURISHING', 1, 0)
2018-11-14 11:30:42,747 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,748 INFO sqlalchemy.engine.base.Engine ('RAW SUGAR HAND SANITIZER- COCONUT AND LEMON VERBENA', 1, 0)
2018-11-14 11:30:42,750 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,751 INFO sqlalchemy.engine.base.Engine ('CVS PHARMACY INSTANT HAND SANITIZER WITH MOISTURIZERS AND VITAMIN E', 1, 0)
2018-11-14 11:30:42,754 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,754 INFO sqlalchemy.engine.base.Engine ('FOAM HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,757 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,761 INFO sqlalchemy.engine.base.Engine ('MIST', 1, 0)
2018-11-14 11:30:42,764 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,766 INFO sqlalchemy.engine.base.Engine ('GLITTER RITZ ICED BERRY', 1, 0)
2018-11-14 11:30:42,771 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,772 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER COCONUT BEACH SIESTA', 1, 0)
2018-11-14 11:30:42,775 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:42,777 INFO sqlalchemy.engine.base.Engine ('ON GUARD SANITIZING MIST', 1, 0)
2018-11-14 11:30:42,780 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,781 INFO sqlalchemy.engine.base.Engine ('AVANT ORIGINAL - FRAGRANCE FREE', 1, 0)
2018-11-14 11:30:42,785 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,786 INFO sqlalchemy.engine.base.Engine ('SWEET BERRY HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,789 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,790 INFO sqlalchemy.engine.base.Engine ('RUE 21 APPLE ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,795 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,798 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER REFRESHING FLORALS', 1, 0)
2018-11-14 11:30:42,801 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,802 INFO sqlalchemy.engine.base.Engine ('JELLY BEAN ANTIBACTERIAL HAND', 1, 0)
2018-11-14 11:30:42,804 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,806 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER MINT SCENTED', 1, 0)
2018-11-14 11:30:42,808 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,810 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER LAVENDER', 1, 0)
2018-11-14 11:30:42,814 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,815 INFO sqlalchemy.engine.base.Engine ('LALALOOPSY WATERMELON ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:30:42,817 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,819 INFO sqlalchemy.engine.base.Engine ('OCEAN BREEZE SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,822 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,825 INFO sqlalchemy.engine.base.Engine ('CELOX ANTISEPTIC', 1, 0)
2018-11-14 11:30:42,829 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,830 INFO sqlalchemy.engine.base.Engine ('WATERLESS FRAGRANCE FREE HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,832 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,833 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND SPRAY WARM VANILLA SUGAR', 1, 0)
2018-11-14 11:30:42,835 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,837 INFO sqlalchemy.engine.base.Engine ('GINGERHEAD GIRL ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,839 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,840 INFO sqlalchemy.engine.base.Engine ('PURE GEL', 1, 0)
2018-11-14 11:30:42,842 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,846 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER COTTON CANDY', 1, 0)
2018-11-14 11:30:42,849 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,850 INFO sqlalchemy.engine.base.Engine ('PURE FOAM', 1, 0)
2018-11-14 11:30:42,854 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,855 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED REFRESHING ALOE', 1, 0)
2018-11-14 11:30:42,857 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,858 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER WHITE MUSK', 1, 0)
2018-11-14 11:30:42,863 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,865 INFO sqlalchemy.engine.base.Engine ('CHERRY BLOSSOM WATERLESS ANTI-ANTIBATERIA HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,868 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,869 INFO sqlalchemy.engine.base.Engine ('RUE 21 LEGEND BLUEBERRY ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,872 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,875 INFO sqlalchemy.engine.base.Engine ('INSTANT FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,877 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,879 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER N BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,882 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,883 INFO sqlalchemy.engine.base.Engine ('SANISUDS FOAM INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,886 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,887 INFO sqlalchemy.engine.base.Engine ('RUE21 COTTON CANDY ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,889 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,890 INFO sqlalchemy.engine.base.Engine ('RUE 21 PARIS CREAMSICLE ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,893 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,894 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER UNSCENTED', 1, 0)
2018-11-14 11:30:42,898 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,900 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS CUCUMBER MELON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,903 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,904 INFO sqlalchemy.engine.base.Engine ('PINK LEMONADE HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,906 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,907 INFO sqlalchemy.engine.base.Engine ('HER LH2476 CITRUS SCENTED HAND SANITIZER KIT', 1, 0)

2018-11-14 11:30:42,910 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,913 INFO sqlalchemy.engine.base.Engine ('HES CLEAN FOR WOMAN', 1, 0)
2018-11-14 11:30:42,915 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,916 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER ORIGINAL', 1, 0)
2018-11-14 11:30:42,919 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,926 INFO sqlalchemy.engine.base.Engine ('JUSTICE LETTER T BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,929 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,930 INFO sqlalchemy.engine.base.Engine ('JUSTICE TWIST PEPPERMINT SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,933 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,933 INFO sqlalchemy.engine.base.Engine ('TOASTED VANILLA SUGAR KIT BODYCOLOGY', 1, 0)
2018-11-14 11:30:42,936 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,936 INFO sqlalchemy.engine.base.Engine ('PERFECT PURITY ADVANCED HAND SANITIZER REFRESHING', 1, 0)
2018-11-14 11:30:42,939 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,940 INFO sqlalchemy.engine.base.Engine ('3M AVAGARD FOAM', 1, 0)
2018-11-14 11:30:42,945 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,946 INFO sqlalchemy.engine.base.Engine ('PINK MACAROON HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,949 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,950 INFO sqlalchemy.engine.base.Engine ('HAN-I-FOAM', 1, 0)
2018-11-14 11:30:42,953 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,954 INFO sqlalchemy.engine.base.Engine ('CVS DECOLORIZED IODINE', 1, 0)
2018-11-14 11:30:42,957 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,958 INFO sqlalchemy.engine.base.Engine ('PURELL INSTANT HAND SANITIZER MOISTURE THERAPY', 1, 0)
2018-11-14 11:30:42,961 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,963 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PINK STRAWBERRY LOLLIPOP', 1, 0)
2018-11-14 11:30:42,967 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,969 INFO sqlalchemy.engine.base.Engine ('EO HAND SANITIZER SWEET ORANGE', 1, 0)
2018-11-14 11:30:42,974 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,976 INFO sqlalchemy.engine.base.Engine ('PASSION FRUIT KISS', 1, 0)
2018-11-14 11:30:42,981 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,983 INFO sqlalchemy.engine.base.Engine ('FAST', 1, 0)
2018-11-14 11:30:42,986 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,986 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND JAPANESE CHERRY BLOSSOM', 1, 0)
2018-11-14 11:30:42,989 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,991 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER PEACH', 1, 0)
2018-11-14 11:30:42,994 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:42,996 INFO sqlalchemy.engine.base.Engine ('RUE 21 QUEEN CHERRY ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:42,998 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,000 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER SPRING BLOOM GEL', 1, 0)
2018-11-14 11:30:43,003 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,005 INFO sqlalchemy.engine.base.Engine ('STERILLIUM MED', 1, 0)
2018-11-14 11:30:43,007 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,008 INFO sqlalchemy.engine.base.Engine ('TAKE CARE CLINIC INSTANT HAND SANITIZER SPRAY', 1, 0)
2018-11-14 11:30:43,014 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,015 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS COTTON BLOSSOM HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,021 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,022 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED HAND SANITIZER TRANQUIL SUNSET', 1, 0)
2018-11-14 11:30:43,024 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,025 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES VANILLA FROSTING ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,030 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,032 INFO sqlalchemy.engine.base.Engine ('FENGLIAOXING FENGSHI DIEDA YAOJIU', 1, 0)
2018-11-14 11:30:43,034 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,035 INFO sqlalchemy.engine.base.Engine ('FROSTED SUGAR PLUM HAND SANITIZER BODYCOLOGY', 1, 0)
2018-11-14 11:30:43,037 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,038 INFO sqlalchemy.engine.base.Engine ('SANNYTIZE HAND SANITIZER WIPE', 1, 0)
2018-11-14 11:30:43,040 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,041 INFO sqlalchemy.engine.base.Engine ('HAWAIIAN PASSION HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,043 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,045 INFO sqlalchemy.engine.base.Engine ('HEALTH MART IODIDES', 1, 0)
2018-11-14 11:30:43,048 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:43,052 INFO sqlalchemy.engine.base.Engine ('ALCARE PLUS FOAMED ANTISEPTIC HANDRUB', 1, 0)
2018-11-14 11:30:43,055 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,056 INFO sqlalchemy.engine.base.Engine ('HEALING WATERS LEMON VERBENA HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,059 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,061 INFO sqlalchemy.engine.base.Engine ('HIBISCUS COCONUT HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,067 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,070 INFO sqlalchemy.engine.base.Engine ('JUSTICE STRAWBERRY MACAROON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,073 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,074 INFO sqlalchemy.engine.base.Engine ('WATERLESS HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,077 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,079 INFO sqlalchemy.engine.base.Engine ('TOASTED VANILLA KIT BODYCOLOGY', 1, 0)
2018-11-14 11:30:43,081 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,083 INFO sqlalchemy.engine.base.Engine ('INSTACLEAN HAND SANITIZING', 1, 0)
2018-11-14 11:30:43,085 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,086 INFO sqlalchemy.engine.base.Engine ('AP HANSAN', 1, 0)
2018-11-14 11:30:43,090 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,094 INFO sqlalchemy.engine.base.Engine ('PURELL HEALTHCARE ADVANCED HAND SANITIZER FOAM', 1, 0)
2018-11-14 11:30:43,097 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,099 INFO sqlalchemy.engine.base.Engine ('DOTS APPLE CINNAMON ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,102 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,103 INFO sqlalchemy.engine.base.Engine ('RUE21 POSH ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,106 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,107 INFO sqlalchemy.engine.base.Engine ('3 PACK INSTANT HAND SANITIZER WITH MOISTURIZERS LAVENDER SCENTED', 1, 0)
2018-11-14 11:30:43,111 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,113 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES FRESH COTTON HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,116 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,117 INFO sqlalchemy.engine.base.Engine ('JANITECH JAN-HS-40 INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,120 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,122 INFO sqlalchemy.engine.base.Engine ('SANI-GEL', 1, 0)
2018-11-14 11:30:43,125 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,128 INFO sqlalchemy.engine.base.Engine ('HANDEX INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,130 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,131 INFO sqlalchemy.engine.base.Engine ('CANDY COATED APPLE ANTI-BACTERIAL SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,138 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,140 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER KURETEK', 1, 0)
2018-11-14 11:30:43,143 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,146 INFO sqlalchemy.engine.base.Engine ('ADRIANA CLIP ON HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,152 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,154 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS BLUEBERRY PARFAIT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,156 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,158 INFO sqlalchemy.engine.base.Engine ('SANIGUARD-SF', 1, 0)
2018-11-14 11:30:43,163 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,165 INFO sqlalchemy.engine.base.Engine ('MEGAFRESH HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,168 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,169 INFO sqlalchemy.engine.base.Engine ('REDEEM', 1, 0)
2018-11-14 11:30:43,171 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,173 INFO sqlalchemy.engine.base.Engine ('MAYFAIR ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,179 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,180 INFO sqlalchemy.engine.base.Engine ('PDI SANI-HANDS ALC ANTIMICROBIAL ALCOHOL GEL HAND WIPES', 1, 0)
2018-11-14 11:30:43,183 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,184 INFO sqlalchemy.engine.base.Engine ('ICI ALCOHOL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,186 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,190 INFO sqlalchemy.engine.base.Engine ('FRISKY CINNAMON', 1, 0)
2018-11-14 11:30:43,192 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,193 INFO sqlalchemy.engine.base.Engine ('EXTENDED CARE FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,196 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,197 INFO sqlalchemy.engine.base.Engine ('HEALTH SMART INSTANT HAND SANITIZER WITH ALOE VERA AND VITAMIN E', 1, 0)
2018-11-14 11:30:43,201 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,203 INFO sqlalchemy.engine.base.Engine ('EXOTIC CHERRY BLOSSOM KIT BODYCOLOGY', 1, 0)
2018-11-14 11:30:43,205 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?

 LIMIT ? OFFSET ?
2018-11-14 11:30:43,206 INFO sqlalchemy.engine.base.Engine ('SKIN PROTECTANT', 1, 0)
2018-11-14 11:30:43,208 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,209 INFO sqlalchemy.engine.base.Engine ('SOFT CARE IMPACT FOAM ALCOHOL FOAM INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,211 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,212 INFO sqlalchemy.engine.base.Engine ('JUSTICE BOHO BERRY SCENT ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,215 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,216 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND BEAUTIFUL DAY', 1, 0)
2018-11-14 11:30:43,218 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,219 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER LAVENDER', 1, 0)
2018-11-14 11:30:43,221 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,222 INFO sqlalchemy.engine.base.Engine ('ETHYL RUBBING ALCOHOL', 1, 0)
2018-11-14 11:30:43,224 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,228 INFO sqlalchemy.engine.base.Engine ('HAND GEL PROLIM INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,232 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,234 INFO sqlalchemy.engine.base.Engine ('AURAFRESH INSTANT HAND SANITIZER WITH MOISTURIZEERS VITAMIN E AND ALOE', 1, 0)
2018-11-14 11:30:43,239 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,242 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER VANILLA', 1, 0)
2018-11-14 11:30:43,248 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,251 INFO sqlalchemy.engine.base.Engine ('EQUATE ANTI BACTERIAL HAND SANITIZER STRAWBERRY', 1, 0)
2018-11-14 11:30:43,254 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,256 INFO sqlalchemy.engine.base.Engine ('BACTEX ANTISEPTIC HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,260 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,261 INFO sqlalchemy.engine.base.Engine ('HIGH FIVE', 1, 0)
2018-11-14 11:30:43,265 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,266 INFO sqlalchemy.engine.base.Engine ('FUNKY MONKEY HAWAIIAN HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,268 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,269 INFO sqlalchemy.engine.base.Engine ('APRIL BATH AND SHOWER WARM VANILLA SUGAR SCENTED ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,271 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,271 INFO sqlalchemy.engine.base.Engine ('ICEE STRAWBERRY SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,273 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,274 INFO sqlalchemy.engine.base.Engine ('SANI PROFESSIONAL BRAND SANI-HANDS WITH TENCEL INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:30:43,276 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,277 INFO sqlalchemy.engine.base.Engine ('JUSTICE WATERMELON SCENTED ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,279 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,280 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER GRAPE', 1, 0)
2018-11-14 11:30:43,282 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,298 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND LEMON', 1, 0)
2018-11-14 11:30:43,305 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,305 INFO sqlalchemy.engine.base.Engine ('SOFT N SURE FOAMED ANTISEPTIC HANDRUB', 1, 0)
2018-11-14 11:30:43,307 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,309 INFO sqlalchemy.engine.base.Engine ('VIDA MIA HAND SANITIZER (70% V/V)', 1, 0)
2018-11-14 11:30:43,312 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,312 INFO sqlalchemy.engine.base.Engine ('PREVAIL HAND SANITIZER LEMONGRASS', 1, 0)
2018-11-14 11:30:43,314 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,315 INFO sqlalchemy.engine.base.Engine ('HEALTHCARE INSTANT HAND SANITIZER STRAWBERRY SCENT', 1, 0)
2018-11-14 11:30:43,318 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,319 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES SWEET LAVENDER HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,322 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,323 INFO sqlalchemy.engine.base.Engine ('SANI-HANDS II INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:30:43,325 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,326 INFO sqlalchemy.engine.base.Engine ('DEFENDER FOAMING HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,328 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,330 INFO sqlalchemy.engine.base.Engine ('WATERLESS ALOE SCENTED HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,333 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,335 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZING STRAWBERRY', 1, 0)
2018-11-14 11:30:43,338 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,339 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED REFRESHING', 1, 0)
2018-11-14 11:30:43,342 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,344 INFO sqlalchemy.engine.base.Engine ('EQUATE ANTI BACTERIAL HAND SANITIZER COCONUT', 1, 0)

2018-11-14 11:30:43,347 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,349 INFO sqlalchemy.engine.base.Engine ('HAND RECOVERY', 1, 0)
2018-11-14 11:30:43,351 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,353 INFO sqlalchemy.engine.base.Engine ('ANTISEPTIC HAND GEL', 1, 0)
2018-11-14 11:30:43,356 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,357 INFO sqlalchemy.engine.base.Engine ('DAISY BLOSSOM ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,360 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,362 INFO sqlalchemy.engine.base.Engine ('AMORAY PREMIUM INSTANT HAND SANITIZER WITH ALOE AND VITAMIN E LAVENDER', 1, 0)
2018-11-14 11:30:43,364 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,366 INFO sqlalchemy.engine.base.Engine ('GEL INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,368 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,369 INFO sqlalchemy.engine.base.Engine ('1.8OZ ARMSTRONG HAND SANITIZER WITH ALOE VERA AND VITAMIN E', 1, 0)
2018-11-14 11:30:43,372 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,373 INFO sqlalchemy.engine.base.Engine ('PURELL VF481 HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,376 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,377 INFO sqlalchemy.engine.base.Engine ('HAND AND NATURE SANITIZER ACACIA', 1, 0)
2018-11-14 11:30:43,379 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,380 INFO sqlalchemy.engine.base.Engine ('BODY LUXURIES PINEAPPLE MANGO WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,381 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,382 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND POWER MIST MOISTURIZING HAND SANITIZER ALOE VERA SCENTED', 1, 0)
2018-11-14 11:30:43,385 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,386 INFO sqlalchemy.engine.base.Engine ('RAYMOND WAITES HONEYSUCKLE ROSE WATERLESS ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,388 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,389 INFO sqlalchemy.engine.base.Engine ('JUSTICE HAMBURGER GREEN APPLE SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,391 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,393 INFO sqlalchemy.engine.base.Engine ('GREEN EARTH ALCOHOL GEL SANITIZER', 1, 0)
2018-11-14 11:30:43,395 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,396 INFO sqlalchemy.engine.base.Engine ('WILD STRAWBERRY ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,398 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,398 INFO sqlalchemy.engine.base.Engine ('PURELL ADVANCED E3 RATED INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,400 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,401 INFO sqlalchemy.engine.base.Engine ('SANI-CARE', 1, 0)
2018-11-14 11:30:43,403 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,404 INFO sqlalchemy.engine.base.Engine ('ALCOHOL EXTRA-THICK', 1, 0)
2018-11-14 11:30:43,405 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,406 INFO sqlalchemy.engine.base.Engine ('GEORGIA-PACIFIC ALCOHOL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,408 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,409 INFO sqlalchemy.engine.base.Engine ('CARDINAL HEALTH SANITIZER', 1, 0)
2018-11-14 11:30:43,410 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,411 INFO sqlalchemy.engine.base.Engine ('SANI PROFESSIONAL BRAND SANI-HANDS FOR KIDS INSTANT HAND SANITIZING WIPES', 1, 0)
2018-11-14 11:30:43,412 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,413 INFO sqlalchemy.engine.base.Engine ('VIONEXUS', 1, 0)
2018-11-14 11:30:43,414 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,415 INFO sqlalchemy.engine.base.Engine ('MY LITTLE PONY GRAPE ANTISEPTIC HAND CLEANSING', 1, 0)
2018-11-14 11:30:43,416 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,417 INFO sqlalchemy.engine.base.Engine ('KLEENEX INSTANT HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,419 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,419 INFO sqlalchemy.engine.base.Engine ('PDI SANI-HANDS FOR KIDS ANTIMICROBIAL ALCOHOL GEL HAND WIPES', 1, 0)
2018-11-14 11:30:43,421 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,421 INFO sqlalchemy.engine.base.Engine ('ZOONO ULTRA HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,423 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,423 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND COOL COCONUT', 1, 0)
2018-11-14 11:30:43,425 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,425 INFO sqlalchemy.engine.base.Engine ('PURELL EDUCATION ADVANCED HAND SANITIZER GENTLE AND FREE FOAM', 1, 0)
2018-11-14 11:30:43,427 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,428 INFO sqlalchemy.engine.base.Engine ('HEALTH SMART INSTANT HAND SANITIZER WITH ALOE VERA AND VITAMIN E CUCUMBER MELON', 1, 0)
2018-11-14 11:30:43,429 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,430 INFO sqlalchemy.engine.base.Engine ('3 PACK INSTANT HAND SANITIZER WITH MOISTURIZERS ALOE SCENTED', 1, 0)

2018-11-14 11:30:43,432 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,433 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND AMERICAN PEACE SIGN', 1, 0)
2018-11-14 11:30:43,435 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,435 INFO sqlalchemy.engine.base.Engine ('INSTANT HAND SANITIZER CITRUS SCENT', 1, 0)
2018-11-14 11:30:43,437 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,437 INFO sqlalchemy.engine.base.Engine ('RUE 21 DREAM DANCE LOVE VANILLA SPICE ANTI BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,439 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,439 INFO sqlalchemy.engine.base.Engine ('PIER 1 IMPORTS CHERRY ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,441 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,441 INFO sqlalchemy.engine.base.Engine ('PERFECT PURITY ADVANCED HAND REFRESHING ALOE', 1, 0)
2018-11-14 11:30:43,443 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,444 INFO sqlalchemy.engine.base.Engine ('EVERYONE HAND SANITIZER PEPPERMINT CITRUS', 1, 0)
2018-11-14 11:30:43,446 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,447 INFO sqlalchemy.engine.base.Engine ('FRAIS HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,448 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,451 INFO sqlalchemy.engine.base.Engine ('HARMON FACE VALUES CHERRY BLOSSOM SCENT HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,453 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,454 INFO sqlalchemy.engine.base.Engine ('CHARLIE GIRL BLUEBERRY ANTIBACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,457 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,457 INFO sqlalchemy.engine.base.Engine ('HAND SANITIZER ORANGE', 1, 0)
2018-11-14 11:30:43,460 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,461 INFO sqlalchemy.engine.base.Engine ('ANTI-BACTERIAL HAND GOOD AT NAPS DEWY LAVENDER', 1, 0)
2018-11-14 11:30:43,464 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,465 INFO sqlalchemy.engine.base.Engine ('HER LT288 CITRUS LIMITED TOO HAND SANITIZER KIT', 1, 0)
2018-11-14 11:30:43,467 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,468 INFO sqlalchemy.engine.base.Engine ('LAUGHING LINEN', 1, 0)
2018-11-14 11:30:43,469 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,469 INFO sqlalchemy.engine.base.Engine ('BOARDWALK HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,471 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,471 INFO sqlalchemy.engine.base.Engine ('TOUCHLAND KUB2GO HAND SANITIZER ALOE VERA', 1, 0)
2018-11-14 11:30:43,473 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,473 INFO sqlalchemy.engine.base.Engine ('JUSTICE CREATE INSPIRE EXPLORE BLUEBERRY SCENT ANTI-BACTERIAL HAND SANITIZER', 1, 0)
2018-11-14 11:30:43,474 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:43,475 INFO sqlalchemy.engine.base.Engine (885,)
2018-11-14 11:30:43,700 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:43,703 INFO sqlalchemy.engine.base.Engine ((333, 885), (334, 885), (335, 885), (336, 885), (337, 885), (338, 885), (339, 885), (340, 885)  ... displaying 10 of 1162 total bound parameter sets ...  (1493, 885), (1494, 885))
2018-11-14 11:30:43,737 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,738 INFO sqlalchemy.engine.base.Engine ('Completed suicide', 1, 0)
2018-11-14 11:30:43,740 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:43,741 INFO sqlalchemy.engine.base.Engine (885,)
2018-11-14 11:30:43,753 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:43,756 INFO sqlalchemy.engine.base.Engine (246, 885)
2018-11-14 11:30:43,758 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:43,784 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:43,787 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:43,788 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:43,790 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:43,793 INFO sqlalchemy.engine.base.Engine ('None', 69, 1)
2018-11-14 11:30:43,798 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,801 INFO sqlalchemy.engine.base.Engine ('GAZYVA', 1, 0)
2018-11-14 11:30:43,804 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:43,809 INFO sqlalchemy.engine.base.Engine (886,)
2018-11-14 11:30:43,816 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:43,818 INFO sqlalchemy.engine.base.Engine (1509, 886)
2018-11-14 11:30:43,824 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,827 INFO sqlalchemy.engine.base.Engine ('Cytopenia', 1, 0)
2018-11-14 11:30:43,831 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:43,833 INFO sqlalchemy.engine.base.Engine (886,)
2018-11-14 11:30:43,837 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:43,839 INFO sqlalchemy.engine.base.Engine (284, 886)
2018-11-14 11:30:43,842 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:43,851 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2018-11-14 11:30:43,854 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:43,856 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:43,858 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:43,860 INFO sqlalchemy.engine.base.Engine (2, 42, 1)
2018-11-14 11:30:43,865 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,867 INFO sqlalchemy.engine.base.Engine ('Status epilepticus', 1, 0)
2018-11-14 11:30:43,869 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,871 INFO sqlalchemy.engine.base.Engine ('Measles', 1, 0)
2018-11-14 11:30:43,872 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,873 INFO sqlalchemy.engine.base.Engine ('Epilepsy', 1, 0)
2018-11-14 11:30:43,875 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:43,876 INFO sqlalchemy.engine.base.Engine (887,)
2018-11-14 11:30:43,881 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:43,883 INFO sqlalchemy.engine.base.Engine ('Status epilepticus',)
2018-11-14 11:30:43,885 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:43,887 INFO sqlalchemy.engine.base.Engine ('Measles',)
2018-11-14 11:30:43,889 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:43,892 INFO sqlalchemy.engine.base.Engine ((1014, 887), (1015, 887))
2018-11-14 11:30:43,893 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:43,894 INFO sqlalchemy.engine.base.Engine (102, 887)
2018-11-14 11:30:43,896 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:43,904 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:43,907 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:43,908 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:43,917 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:43,924 INFO sqlalchemy.engine.base.Engine (2, 'None', 1)
2018-11-14 11:30:43,926 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,928 INFO sqlalchemy.engine.base.Engine ('HALDOL', 1, 0)
2018-11-14 11:30:43,933 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:43,937 INFO sqlalchemy.engine.base.Engine (888,)
2018-11-14 11:30:43,942 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:43,943 INFO sqlalchemy.engine.base.Engine (27, 888)
2018-11-14 11:30:43,947 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,949 INFO sqlalchemy.engine.base.Engine ('Urticaria', 1, 0)
2018-11-14 11:30:43,952 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,954 INFO sqlalchemy.engine.base.Engine ('Focal dyscognitive seizures', 1, 0)
2018-11-14 11:30:43,958 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,959 INFO sqlalchemy.engine.base.Engine ('Kidney enlargement', 1, 0)
2018-11-14 11:30:43,963 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,965 INFO sqlalchemy.engine.base.Engine ('Drug hypersensitivity', 1, 0)
2018-11-14 11:30:43,969 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,970 INFO sqlalchemy.engine.base.Engine ('Vision blurred', 1, 0)
2018-11-14 11:30:43,973 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,974 INFO sqlalchemy.engine.base.Engine ('Palpitations', 1, 0)
2018-11-14 11:30:43,976 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,978 INFO sqlalchemy.engine.base.Engine ('Rash', 1, 0)
2018-11-14 11:30:43,980 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,981 INFO sqlalchemy.engine.base.Engine ('Sinus disorder', 1, 0)
2018-11-14 11:30:43,983 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,984 INFO sqlalchemy.engine.base.Engine ('Liver injury', 1, 0)
2018-11-14 11:30:43,986 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:43,989 INFO sqlalchemy.engine.base.Engine ('Heart rate irregular', 1, 0)
2018-11-14 11:30:43,991 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:43,992 INFO sqlalchemy.engine.base.Engine (888,)
2018-11-14 11:30:43,996 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:43,999 INFO sqlalchemy.engine.base.Engine ('Heart rate irregular',)
2018-11-14 11:30:44,001 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:44,004 INFO sqlalchemy.engine.base.Engine ('Sinus disorder',)
2018-11-14 11:30:44,005 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:44,007 INFO sqlalchemy.engine.base.Engine ('Kidney enlargement',)
2018-11-14 11:30:44,009 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,011 INFO sqlalchemy.engine.base.Engine ((29, 888), (1016, 888), (282, 888), (15, 888), (326, 888), (492, 888), (1017, 888), (4, 888), (1018, 888), (97, 888))
2018-11-14 11:30:44,014 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:44,023 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:44,026 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:44,027 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:44,033 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:44,035 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:44,039 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:44,048 INFO sqlalchemy.engine.base.Engine ('COPAXONE', 1, 0)
2018-11-14 11:30:44,052 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:44,054 INFO sqlalchemy.engine.base.Engine (889,)
2018-11-14 11:30:44,060 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,061 INFO sqlalchemy.engine.base.Engine (1743, 889)
2018-11-14 11:30:44,066 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,070 INFO sqlalchemy.engine.base.Engine ('Hypersensitivity', 1, 0)
2018-11-14 11:30:44,074 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:44,076 INFO sqlalchemy.engine.base.Engine (889,)
2018-11-14 11:30:44,080 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,082 INFO sqlalchemy.engine.base.Engine (138, 889)
2018-11-14 11:30:44,084 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:44,090 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:44,092 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:44,097 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:44,100 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:44,103 INFO sqlalchemy.engine.base.Engine (1, 'None', 1)
2018-11-14 11:30:44,107 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,109 INFO sqlalchemy.engine.base.Engine ('Atrial flutter', 1, 0)
2018-11-14 11:30:44,112 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:44,118 INFO sqlalchemy.engine.base.Engine (890,)
2018-11-14 11:30:44,124 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:44,126 INFO sqlalchemy.engine.base.Engine ('Atrial flutter',)
2018-11-14 11:30:44,128 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,130 INFO sqlalchemy.engine.base.Engine (1019, 890)
2018-11-14 11:30:44,132 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:44,143 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:44,145 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:44,150 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:44,152 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:44,154 INFO sqlalchemy.engine.base.Engine (2, 75, 1)
2018-11-14 11:30:44,158 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,159 INFO sqlalchemy.engine.base.Engine ('PROLIA', 1, 0)
2018-11-14 11:30:44,162 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:44,164 INFO sqlalchemy.engine.base.Engine (891,)
2018-11-14 11:30:44,169 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,171 INFO sqlalchemy.engine.base.Engine (319, 891)
2018-11-14 11:30:44,173 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,175 INFO sqlalchemy.engine.base.Engine ('Pancreatic operation', 1, 0)
2018-11-14 11:30:44,180 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,181 INFO sqlalchemy.engine.base.Engine ('Pancreatic carcinoma', 1, 0)
2018-11-14 11:30:44,183 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,184 INFO sqlalchemy.engine.base.Engine ('Splenectomy', 1, 0)
2018-11-14 11:30:44,186 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,187 INFO sqlalchemy.engine.base.Engine ('Gallbladder operation', 1, 0)
2018-11-14 11:30:44,189 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:44,192 INFO sqlalchemy.engine.base.Engine (891,)
2018-11-14 11:30:44,198 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:44,199 INFO sqlalchemy.engine.base.Engine ('Splenectomy',)
2018-11-14 11:30:44,203 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:44,205 INFO sqlalchemy.engine.base.Engine ('Gallbladder operation',)
2018-11-14 11:30:44,208 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:44,209 INFO sqlalchemy.engine.base.Engine ('Pancreatic operation',)
2018-11-14 11:30:44,213 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,215 INFO sqlalchemy.engine.base.Engine ((1020, 891), (1022, 891), (1021, 891))
2018-11-14 11:30:44,217 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,219 INFO sqlalchemy.engine.base.Engine (666, 891)
2018-11-14 11:30:44,221 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:44,235 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:44,240 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:44,242 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:44,244 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:44,245 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:44,251 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,253 INFO sqlalchemy.engine.base.Engine ('PROLIA', 1, 0)
2018-11-14 11:30:44,257 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:44,258 INFO sqlalchemy.engine.base.Engine (892,)
2018-11-14 11:30:44,263 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,266 INFO sqlalchemy.engine.base.Engine (319, 892)
2018-11-14 11:30:44,270 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,272 INFO sqlalchemy.engine.base.Engine ('Pneumonia', 1, 0)
2018-11-14 11:30:44,274 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id

2018-11-14 11:30:44,276 INFO sqlalchemy.engine.base.Engine (892,)
2018-11-14 11:30:44,280 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,282 INFO sqlalchemy.engine.base.Engine (215, 892)
2018-11-14 11:30:44,286 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:44,292 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:44,295 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:44,298 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:44,303 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:44,305 INFO sqlalchemy.engine.base.Engine (1, 58, 1)
2018-11-14 11:30:44,308 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,309 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:44,312 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:44,314 INFO sqlalchemy.engine.base.Engine (893,)
2018-11-14 11:30:44,322 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,325 INFO sqlalchemy.engine.base.Engine (17, 893)
2018-11-14 11:30:44,327 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,329 INFO sqlalchemy.engine.base.Engine ('Respiratory tract congestion', 1, 0)
2018-11-14 11:30:44,332 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,333 INFO sqlalchemy.engine.base.Engine ('Injection site rash', 1, 0)
2018-11-14 11:30:44,336 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,340 INFO sqlalchemy.engine.base.Engine ('Rhinorrhoea', 1, 0)
2018-11-14 11:30:44,345 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,347 INFO sqlalchemy.engine.base.Engine ('Injection site erythema', 1, 0)
2018-11-14 11:30:44,351 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,352 INFO sqlalchemy.engine.base.Engine ('Injection site papule', 1, 0)
2018-11-14 11:30:44,355 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:44,357 INFO sqlalchemy.engine.base.Engine (893,)
2018-11-14 11:30:44,362 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:44,364 INFO sqlalchemy.engine.base.Engine ('Respiratory tract congestion',)
2018-11-14 11:30:44,365 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:44,367 INFO sqlalchemy.engine.base.Engine ('Injection site papule',)
2018-11-14 11:30:44,369 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,371 INFO sqlalchemy.engine.base.Engine ((1023, 893), (794, 893), (709, 893), (1024, 893), (787, 893))
2018-11-14 11:30:44,372 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:44,378 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:44,382 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:44,384 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:44,387 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:44,388 INFO sqlalchemy.engine.base.Engine (2, 53, 1)
2018-11-14 11:30:44,392 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,393 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:44,395 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:44,395 INFO sqlalchemy.engine.base.Engine (894,)
2018-11-14 11:30:44,403 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,405 INFO sqlalchemy.engine.base.Engine (17, 894)
2018-11-14 11:30:44,408 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,411 INFO sqlalchemy.engine.base.Engine ('Breast abscess', 1, 0)
2018-11-14 11:30:44,413 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:44,416 INFO sqlalchemy.engine.base.Engine (894,)
2018-11-14 11:30:44,420 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions (name) VALUES (?)
2018-11-14 11:30:44,421 INFO sqlalchemy.engine.base.Engine ('Breast abscess',)
2018-11-14 11:30:44,423 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,425 INFO sqlalchemy.engine.base.Engine (1025, 894)
2018-11-14 11:30:44,429 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:44,441 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:44,443 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:44,445 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:44,447 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:44,449 INFO sqlalchemy.engine.base.Engine (1, 49, 1)
2018-11-14 11:30:44,452 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,454 INFO sqlalchemy.engine.base.Engine ('ENBREL', 1, 0)
2018-11-14 11:30:44,457 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id
2018-11-14 11:30:44,460 INFO sqlalchemy.engine.base.Engine (895,)
2018-11-14 11:30:44,464 INFO sqlalchemy.engine.base.Engine INSERT INTO brands_events (brand_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,467 INFO sqlalchemy.engine.base.Engine (17, 895)
2018-11-14 11:30:44,470 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,472 INFO sqlalchemy.engine.base.Engine ('Pyrexia', 1, 0)
2018-11-14 11:30:44,475 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,477 INFO sqlalchemy.engine.base.Engine ('Cough', 1, 0)
2018-11-14 11:30:44,481 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions
WHERE reactions.name = ?
 LIMIT ? OFFSET ?

2018-11-14 11:30:44,484 INFO sqlalchemy.engine.base.Engine ('Headache', 1, 0)
2018-11-14 11:30:44,488 INFO sqlalchemy.engine.base.Engine SELECT reactions.id AS reactions_id, reactions.name AS reactions_name
FROM reactions, reactions_events
WHERE ? = reactions_events.event_id AND reactions.id = reactions_events.reactions_id
2018-11-14 11:30:44,490 INFO sqlalchemy.engine.base.Engine (895,)
2018-11-14 11:30:44,496 INFO sqlalchemy.engine.base.Engine INSERT INTO reactions_events (reactions_id, event_id) VALUES (?, ?)
2018-11-14 11:30:44,500 INFO sqlalchemy.engine.base.Engine ((134, 895), (103, 895), (11, 895))
2018-11-14 11:30:44,504 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-14 11:30:44,523 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 11:30:44,525 INFO sqlalchemy.engine.base.Engine SELECT holidays.id AS holidays_id, holidays.name AS holidays_name, holidays.date AS holidays_date
FROM holidays
WHERE holidays.id = ?
2018-11-14 11:30:44,527 INFO sqlalchemy.engine.base.Engine (1,)
2018-11-14 11:30:44,529 INFO sqlalchemy.engine.base.Engine INSERT INTO events (sex, age, holiday_id) VALUES (?, ?, ?)
2018-11-14 11:30:44,532 INFO sqlalchemy.engine.base.Engine ('None', 'None', 1)
2018-11-14 11:30:44,536 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,541 INFO sqlalchemy.engine.base.Engine ('CAPECITABINE', 1, 0)
2018-11-14 11:30:44,543 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands
WHERE brands.name = ?
 LIMIT ? OFFSET ?
2018-11-14 11:30:44,545 INFO sqlalchemy.engine.base.Engine ('XELODA', 1, 0)
2018-11-14 11:30:44,552 INFO sqlalchemy.engine.base.Engine SELECT brands.id AS brands_id, brands.name AS brands_name
FROM brands, brands_events
WHERE ? = brands_events.event_id AND brands.id = brands_events.brand_id